.act-sat-v2{
}

.student-content-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.generate-student-list li {
  display: block;
  width: calc(25% - 1.25rem);
  margin-left: 0.625rem !important;
  margin-right: 0.625rem;
}

.generate-student-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}

.act-sat-v2 ul.tagit {
  border-width: 2px;
  border-radius: 0;
}

.act-sat-v2 .bubbleSheetSelector .tagit {
  width: calc(50% - 8px);
  min-width: auto;
  max-width: inherit;
  min-height: 44px;
  border: 2px solid var(--selectBorder);
  border-radius: 0;
  position: relative;
  padding: 4px 6px;
}

.act-sat-v2 .tagit-new {
  display: none;
}

ul.tagit li:not(:first-child) ::-webkit-input-placeholder {
  opacity: 0;
}

ul.tagit li:not(:first-child) ::-moz-placeholder {
  opacity: 0;
}

ul.tagit li:not(:first-child) ::-ms-input-placeholder {
  opacity: 0;
}

ul.tagit li:not(:first-child) ::placeholder {
  opacity: 0;
}

.tagit-autocomplete.ui-widget-content {
  width: 100% !important;
  left: var(--positionLeft) !important;
  top: var(--positionTop) !important;
  margin-top: 0 !important;
}

.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
  margin: 0;
}

.tagit-choice-editable {
  padding: 4px 8px !important;
  background: var(--blue3) !important;
  border-radius: 2px !important;
}

.tagit-label {
  margin-right: 8px;
  color: var(--navyColor) !important;
  font-style: normal;
  font-weight: 400;
}

.tagit-close {
  margin-top: -9px !important;
}

ul.tagitSelect li:first-child {
  font-weight: bold;
}

ul.tagitSelect .tagit-new {
  max-width: 169px;
}

ul.tagit li:not(:first-child) ::-webkit-input-placeholder {
  opacity: 0;
}

ul.tagit li:not(:first-child) ::-moz-placeholder {
  opacity: 0;
}

ul.tagit li:not(:first-child) ::-ms-input-placeholder {
  opacity: 0;
}

ul.tagit li:not(:first-child) ::placeholder {
  opacity: 0;
}

.act-sat-v2 ul.tagit .tagit-dropdown {
  background-color: var(--white);
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 10px;
  right: 6px;
  margin-top: 8px;
  margin-right: 0;
  position: absolute !important;
}

#portal-v2-containter .tagit-label {
  padding-right: 5px;
}


  .ui-dialog[aria-labelledby="ui-dialog-title-CustomAlertDialog"] section {
    float: none;
    display: block;
  }
  .ui-dialog[aria-labelledby="ui-dialog-title-CustomAlertDialog"] .block-border {
    width: auto !important;
  }

.ui-dialog[aria-labelledby="ui-dialog-title-CustomAlertDialog"] .ui-dialog-titlebar,
.ui-dialog[aria-labelledby="ui-dialog-title-divUrlPreviewOnlinePanel"] .ui-dialog-titlebar {
  display: none;
}

  .ui-dialog[aria-labelledby="ui-dialog-title-CustomAlertDialog"] .block-content {
    padding: var(--spacingDefault) !important;
  }

    .ui-dialog[aria-labelledby="ui-dialog-title-CustomAlertDialog"] .block-content > div {
      line-height: normal !important;
    }

