.artifact-container {
  position: relative;
  height: calc(100vh - 80px);
}

.artifact-iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 1599px){
  .artifact-container {
    height: calc(100vh - 60px);
  }
}
