.no-margin {
  margin: 0 !important;
}

.d-inline-block {
  display: inline-block !important;
}

.block-text-name > select {
  border: none !important;
}

.test-info .test-name,
.test-info .test-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.test-info .test-name-item,
.test-info .test-status-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75px;
  flex: 0 0 75px;
  padding: 2px 4px;
  border-bottom: 1px solid var(--selectBorder);
  border-right: 1px solid var(--selectBorder);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.test-info .test-name-item {
  border-bottom: none;
}

.table-container {
  max-height: 100px;
  overflow: auto;
  position: relative;
}

.student-table .table-container {
  max-height: 600px;
  max-width: 835px;
}

thead tr th {
  height: 30px;
}

#studentsDataTable thead th {
  position: sticky;
  top: 0;
  z-index: 2;
}

tbody td:last-child, thead th:last-child {
  border-right: none !important;
}

#studentsDataTable .test-info-cell {
  padding: 0 !important;
  overflow: auto;
  text-align: center;
  vertical-align: middle;
}

.coolfieldset, .coolfieldset.expanded {
  border: 1px solid var(--selectBorder);
}

  .coolfieldset.collapsed {
    border: 0;
    border-top: 1px solid var(--selectBorder);
  }

  .coolfieldset legend {
    padding-left: 13px;
    font-weight: bold;
    cursor: pointer;
  }

  .coolfieldset legend, .coolfieldset.expanded legend {
    background: transparent url(/Content/themes/base/images/expanded.gif) no-repeat center left;
    background-size: 10px 10px;
  }

  .coolfieldset.collapsed legend {
    background: transparent url(/Content/themes/base/images/collapsed.gif) no-repeat center left;
    background-size: 10px 10px;
  }

.ui-widget-header {
  border: 0px solid var(--selectBorder) !important;
  background: transparent !important;
  position: relative;
  top: 34px;
}

.ui-dialog {
  background: transparent;
  border: 0;
}

  .ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 7px;
    top: -8px;
  }

.ui-widget-header .ui-icon {
  background-image: url("/Content/themes/base/images/fancy_close.png");
}

.ui-icon {
  width: 40px;
  height: 40px;
}

.ui-icon-closethick {
  background-position: 2px 2px;
}

.ui-widget-header .ui-state-hover {
  border: 0;
  background: transparent !important;
}

.ui-dialog .ui-dialog-titlebar-close {
  width: 30px;
  height: 42px;
}

.ui-widget-overlay {
  background: var(--dark) !important;
}

.note {
  margin-top: 1rem;
}

  .note ul {
    list-style: inherit;
  }

    .note ul li {
      margin-top: .5rem;
      margin-left: 1.5rem;
    }

#btnTestSettingCancel {
  margin-right: 1rem;
}

.status-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #BEBEBE;
  font-weight: bold;
  margin-bottom: 16px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 4px 8px;
}

  .status-description .column p {
    margin-bottom: 0px;
  }

table.datatable {
  border-left: 1px solid var(--selectBorder) !important;
  border-right: 1px solid var(--selectBorder) !important;
}

.form-header {
  text-transform: capitalize;
}

.custom-checkbox-disabled {
  position: relative;
}


#divContentPrint {
  margin-top: 50px;
}

a.is-disabled,
a.is-disabled:hover,
a.is-disabled:focus {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.6) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
  border-color: rgb(161, 167, 174) rgb(144, 148, 152) rgb(107, 112, 118);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), color-stop(0.05, rgb(197, 203, 206)), to(rgb(159, 167, 176)));
  cursor: default;
  pointer-events: none;
}

.block-controls {
  margin: 0;
}
#portal-v2-containter #lastUpdateInfor label {
    line-height: 34px;
}

#portal-v2-containter #divButtonOption {
  margin-top: 24px;
}

#portal-v2-containter #studentContent table {
  border-collapse: unset;
}


#portal-v2-containter #studentContent table tbody td {
  border-top: 0;
  border-right: 0;
}

#portal-v2-containter #studentContent table thead th:not(:last-child) {
  border-right: 0;
}

#portal-v2-containter #studentContent table thead tr th:first-child,
#portal-v2-containter #studentContent table tbody tr td:first-child {
  border-left: 0;
}

.default-setting-retake #divDefaultSetting .sections__wrapper--inner {
    width: auto
}

.default-setting-retake #divDefaultSetting .sections_content {
  margin-left: 0;
  margin-bottom: 0;
}

#portal-v2-containter #accordion-assignment-setting table tbody td, #portal-v2-containter #generateContent table tbody td {
  line-height: normal;
  padding: 0.7em !important;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-SettingsDialog"] {
    width: 1130px !important;
}
