.w-35 {
  width: 35%;
}

.w-30 {
  width: 30%;
}

.sectionLvl-hide {
  display: none !important;
}

.cb__sectionLevel {
  display: inline-block;
  margin-left: 15px;
}

.sectionsAvailabilityList {
  padding-left: 30px;
}

  .sectionsAvailabilityList table {
    width: 100%;
  }

.testPreferences__panel {
  margin-top: 15px;
  font-weight: 700;
  display: inline-block;
}

.btn__setting {
  background: var(--grey3);
  color: var(--lightBlue);
  cursor: pointer;
  padding: 10px 5px;
  font-size: 10pt;
  border-right: 1px solid var(--blue6);
  width: 135px;
  text-align: center;
  display: block;
  float: left;
}

  .btn__setting span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
  }

  .btn__setting:last-child {
    border-right: 0;
  }

.sections__main {
  display: none;
  min-height: 645px;
}

.sections__wrapper--inner {
  min-height: 645px;
  position: relative;
}

.btn__setting.active__state {
  border-bottom: none;
  color: var(--white);
  background: -webkit-gradient( linear, left top, left bottom, from(white), to(#0c5fa5), color-stop(0.03, #72c6e4) );
}

.scrollHorizontal__wrapper {
  text-align: left;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

/* new */
.with-tip img {
  margin-left: .5rem;
}

.flex_space-bettween {
  justify-content: flex-end !important;
}

input + label {
  color: var(--navyColor) !important;
  line-height: 26px !important;
  text-transform: capitalize !important;
}

.switch {
  position: relative;
  display: inline-block !important;
  width: 44px;
  height: 22px;
}

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey0);
  -webkit-transition: .4s;
  transition: .4s;
}

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
    top: calc(50% - 18px/2);
  }

input:checked + .slider {
  background-color: var(--lightBlue);
}

  /*input:focus + .slider {
        box-shadow: 0 0 1px var(--red);
    }*/

  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }

/* Rounded sliders */
.slider.round {
  border-radius: 16px;
}

  .slider.round:before {
    border-radius: 50%;
  }

.selectDeadline {
  width: 256px !important;
}

.hide-input {
  visibility: hidden;
  width: 0;
  height: 0;
}
.accordion-title h3 {
  color: var(--navyColor);
  font-weight: 700;
  margin: 0;
}
.accordion-title {
  margin: 0;
  padding: 12px 16px;
  background: var(--blue1);
  border: none;
  color: var(--navyColor);
  border: 2px solid var(--blue3);
}

.btnActive {
  background: var(--blue3) !important;
}
#portal-v2-containter .test-schedule-label {
  margin-left: 0;
}
.test-schedule-form label {
  margin-bottom: 0px !important;
}
.day-of-week-input {
  width: 56px;
  height: 40px;
  border: 1px solid var(--blue3);
  border-radius: 2px;
  margin: 0 .5em;
  flex: none;
  padding: 8px 12px 6px;
  background: var(--blue1);
}

.test-schedule-input {
  width: 256px !important;
  height: 48px;
  padding: 11px 16px;
  border: 2px solid var(--selectBorder);
  color: var(--navyColor) !important;
  background: var(--white) !important;
  margin-top: .5em;
}


.accordion-title:focus,
.accordion-title:hover {
  border-color: var(--blue3);
}
.accordion-title.active {
    border-bottom: none;
}
.accordion-scroll .accordion .accordion-title:not(:first-child) {
  margin-top: 16px;
}
.accordion-scroll {
    max-height: initial;
}
.test-schedule-container * {
  line-height: 1.8571 !important;
}

#testScheduleDetail .test-schedule-input {
  width: 212px;
}
.test-schedule-container.testScheduleDetail {
  text-align: left !important;
}
.test-schedule-container-view {
  text-align: left;
}
#portal-v2-containter .test-schedule-container .datepicker {
    width: auto !important;
}
#portal-v2-containter .accordion {
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

#portal-v2-containter .accordion-content table tbody td {
  border: none;
  color: var(--navyColor);
  padding: 0.5rem 1rem;
}
#portal-v2-containter .accordion-content table tbody td:first-child {
  text-align: left;
}
#portal-v2-containter .accordion-content table tbody tr td:last-child {
  text-align: center;
  width: 92px;
  padding-left: 0 !important;
}
#portal-v2-containter .accordion-content table tbody tr td:nth-child(2) {
  text-align: right;
}

#portal-v2-containter .accordion-content table tbody tr td:nth-child(2) label {
    position: relative;
}

#lastUpdateInfor {
    font-weight: 700;
    color: var(--navyColor);
}
#portal-v2-containter  .test-schedule-form {
    padding: 0 16px;
}
#portal-v2-containter #dvTestAssignmentDefaultSetting .accordion-content table,
#portal-v2-containter #dvTestAssignmentDefaultSetting .accordion-content.active table {
    width: 100%
}
#dvTestAssignmentDefaultSetting .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0;
}
 .mt-16 {
    margin-top: 16px;
}
#dvTestAssignmentDefaultSettingPanel .header {
  font-size: 1.375rem;
  font-weight: 700;
}
#dvTestAssignmentDefaultSettingPanel label,
#dvTestAssignmentDefaultSetting label {
  font-weight: 700;
}
#dvTestAssignmentDefaultSetting .wrapper.flex_space-bettween div:first-child {
  width: calc(100% - 25px);
}
#portal-v2-containter #dvTestAssignmentDefaultSetting table td label:not(.switch) {
  width: calc(100% - 35px);
}

#dvTestAssignmentDefaultSetting .cb__sectionLevel {
    margin: 0;
}
#portal-v2-containter #dvTestAssignmentDefaultSetting .sectionsAvailabilityList1 table td label {
  width: calc(100% - 20px);
}

#dvTestAssignmentDefaultSetting .btn__setting.active__state {
  background: var(--red);
  border-right: var(--red);
}

#dvTestAssignmentDefaultSetting .testPreferences__panel.testPreferences__panel--TestAssignment {
  position: relative;
  /*right: -7px;*/
  bottom: -4px;
}
#dvTestAssignmentDefaultSetting .scrollHorizontal__wrapper {
  overflow: visible;
}

.group-input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.lock-input {
  display: flex;
  align-items: center;
}

.lock-input label {
  margin-left: 10px;
  margin-top: 1px;
}

.test-schedule-label {
    font-weight: 400 !important;
}

#accordion-preferences-setting table label {
  font-size: var(--fontSizeLabel2) !important;
}

.action-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.data-locker-preferences-setting .clearBtn {
  position: absolute;
  bottom: 13px;
  right: 15px;
  transition: right 0.2s;
  z-index: 2000
}
