
#portal-v2-containter #templateListDataTable_filter input {
  padding-left: 32px !important;
}

#portal-v2-containter .data-search label {
  margin: 0;
}

.form-switch {
  padding: 0;
  position: absolute;
  margin-top: 14px;
}

#portal-v2-containter .item-disabled {
  opacity: .5;
  cursor: default;
}

#portal-v2-containter .data-locker-v2 .deactivated-title {
  font-size: var(--fontSizeText);
}

#portal-v2-containter .sgo-fieldset {
  padding: 0 !important;
}

#divSubscoreSection .fieldset-datapoint legend {
  box-shadow: none;
  padding: 0.75rem 1rem;
  background: var(--blue1) !important;
  color: var(--navyColor);
  border: 1px solid var(--blue3);
  float: none;
  margin: 0;
  border-radius: 0;
}

#divSubscoreSection .block-content {
  background-color: transparent !important;
  padding: 0;
}

#divSubscoreSection .coolfieldset.collapsed {
  border-top: 0;
}

#divSubscoreSection .coolfieldset.expanded {
  border: 1px solid var(--blue3);
  border-top: 0;
  position: relative;
}

  #divSubscoreSection .coolfieldset.expanded legend {
    border-left: 0;
    border-right: 0;
  }

#divSubscoreSection subscore {
  border: 1px solid var(--blue3);
}

#portal-v2-containter form .title-large {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 145%;
  color: var(--navyColor);
}

#portal-v2-containter form .title-small {
  font-size: 1rem;
  font-weight: 700;
  line-height: 162%;
  color: var(--navyColor);
}

#portal-v2-containter .popup-score-column-btn {
  background-color: var(--navyColor);
  margin-left: -2rem;
  margin-right: -2rem;
  padding: 0.5rem 4.375rem 0.5rem 5.9375rem;
}

  #portal-v2-containter .popup-score-column-btn button {
    height: auto;
  }

    #portal-v2-containter .popup-score-column-btn button.btn-cancel {
      padding: 0;
      min-width: auto;
    }

/* Radio */
#portal-v2-containter input[type="radio"]:checked::after {
  content: "\f192";
}
/* End */

/* Checkbox */
#portal-v2-containter input[type=checkbox]:checked:after {
  background-color: var(--navyColor);
}

#portal-v2-containter input:disabled[type=checkbox]:checked:after {
  background-color: var(--disabledColorBg);
}

#portal-v2-containter input:disabled[type=checkbox]:checked:before,
#portal-v2-containter input[type=checkbox]:checked:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  height: 0.8125rem;
  width: 0.4375rem;
  border-bottom: 2px solid var(--white);
  border-right: 2px solid var(--white);
  z-index: 2;
}
/* End */

#divPredefinedTags.tag-editor-datalocker .tag-editor,
#divsingleFieldTags.tag-editor-datalocker .tag-editor {
  background: none;
  padding: 0.4rem 0.65rem;
  border: 2px solid var(--selectBorder);
  border-radius: 0;
}

#divsingleFieldTags.tag-editor-datalocker .tag-editor {
  min-height: 2.73rem;
}

  #divPredefinedTags.tag-editor-datalocker .tag-editor .tag-editor-tag,
  #divsingleFieldTags.tag-editor-datalocker .tag-editor .tag-editor-tag {
    background-color: var(--blue3);
    font-size: 0.875rem;
    border-radius: 2px 0 0 2px;
    color: var(--navyColor);
  }

  #divPredefinedTags.tag-editor-datalocker .tag-editor div,
  #divsingleFieldTags.tag-editor-datalocker .tag-editor div {
    padding: 0.25rem;
  }

  #divPredefinedTags.tag-editor-datalocker .tag-editor .tag-editor-delete,
  #divsingleFieldTags.tag-editor-datalocker .tag-editor .tag-editor-delete {
    background-color: var(--blue3);
    line-height: 1 !important;
  }

#divPredefinedTags.tag-editor-datalocker .tag-editor-tag input,
#divsingleFieldTags.tag-editor-datalocker .tag-editor-tag input {
  padding: 0 !important;
  border: 0 !important;
}

#divPredefinedTags.tag-editor-datalocker .tag-editor li,
#divsingleFieldTags.tag-editor-datalocker .tag-editor li {
  display: flex;
  margin: 0;
  margin-bottom: 0.125rem
}

#divPredefinedTags.tag-editor-datalocker .tag-editor .tag-editor-delete i:before,
#divsingleFieldTags.tag-editor-datalocker .tag-editor .tag-editor-delete i:before {
  font-size: 0.875rem;
  color: var(--navyColor);
  content: "\f00d";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.custom-desc .cke_reset_all .cke_toolbox {
  display: flex;
  align-items: center;
}

  .custom-desc .cke_reset_all .cke_toolbox a.cke_combo_button {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  .custom-desc .cke_reset_all .cke_toolbox .cke_combo_text {
    font-size: 0.875rem !important;
    line-height: 1 !important;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  }

  .custom-desc .cke_reset_all .cke_toolbox .cke_combo:after {
    top: 50% !important;
    transform: translateY(-50%) !important;
    margin-top: 0 !important;
  }

  .custom-desc .cke_reset_all .cke_toolbox .cke_combo_open {
    height: auto;
  }

  .custom-desc .cke_reset_all .cke_toolbox .cke_combo_arrow {
    margin: 0;
  }

.custom-desc .cke_top {
  background-color: var(--blue1);
}

.custom-desc .cke_bottom {
  background-color: transparent;
  border: 0;
}

.custom-desc #cke_Description {
  border: 1px solid var(--grey0);
}

.custom-labelValueText input[type=number] {
  background: none;
  padding: 0.65rem;
  border: 0;
  border-radius: 0;
  color: var(--selectColor);
  font-size: var(--fontSizeText) !important;
  padding: 0;
}
#PopupCreateOverallScore,
#PopupEditOverallScore,
#PopupCloneOverallScore {
  overflow: hidden !important;
}

[id^="PopupCreateOverallScore_"],
[id^="PopupEditOverallScore_"],
[id^="PopupCloneOverallScore_"] {
  overflow: hidden !important;
}

#PopupCreateOverallScore .form input[type=radio], #PopupCreateOverallScore .form input[type=checkbox] {
  margin-top: 0 !important;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupCreateOverallScore"],
#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupEditOverallScore"],
#portal-v2-containter .ui-dialog[aria-labelledby*="ui-dialog-title-PopupCreateOverallScore_"],
#portal-v2-containter .ui-dialog[aria-labelledby*="ui-dialog-title-PopupEditOverallScore_"],
#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupCloneOverallScore"],
#portal-v2-containter .ui-dialog[aria-labelledby*="ui-dialog-title-PopupCloneOverallScore_"] {
  /*-padding: 0;*/
}

  #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupCreateOverallScore"] .ui-dialog-content,
  #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupEditOverallScore"] .ui-dialog-content,
  #portal-v2-containter .ui-dialog[aria-labelledby*="ui-dialog-title-PopupCreateOverallScore_"] .ui-dialog-content,
  #portal-v2-containter .ui-dialog[aria-labelledby*="ui-dialog-title-PopupEditOverallScore_"] .ui-dialog-content,
  #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupCloneOverallScore"] .ui-dialog-content,
  #portal-v2-containter .ui-dialog[aria-labelledby*="ui-dialog-title-PopupCloneOverallScore"] .ui-dialog-content {
    padding: 0;
  }

  #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupCreateOverallScore"] .ui-dialog-titlebar,
  #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupEditOverallScore"] .ui-dialog-titlebar,
  #portal-v2-containter .ui-dialog[aria-labelledby*="ui-dialog-title-PopupCreateOverallScore_"] .ui-dialog-titlebar,
  #portal-v2-containter .ui-dialog[aria-labelledby*="ui-dialog-title-PopupEditOverallScore_"] .ui-dialog-titlebar,
  #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupCloneOverallScore"] .ui-dialog-titlebar,
  #portal-v2-containter .ui-dialog[aria-labelledby*="ui-dialog-title-PopupCloneOverallScore_"] .ui-dialog-titlebar {
    z-index: 1200;
    padding: 0;
    position: absolute;
    top: 1.5rem;
    right: 1.3rem;
  }

  #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupCreateOverallScore"] .ui-dialog-title,
  #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupEditOverallScore"] .ui-dialog-title,
  #portal-v2-containter .ui-dialog[aria-labelledby*="ui-dialog-title-PopupCreateOverallScore_"] .ui-dialog-title,
  #portal-v2-containter .ui-dialog[aria-labelledby*="ui-dialog-title-PopupEditOverallScore_"] .ui-dialog-title,
  #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupCloneOverallScore"] .ui-dialog-title,
  #portal-v2-containter .ui-dialog[aria-labelledby*="ui-dialog-title-PopupCloneOverallScore_"] .ui-dialog-title {
    display: none;
  }

  #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupCreateOverallScore"] .ui-dialog-titlebar-close span,
  #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupEditOverallScore"] .ui-dialog-titlebar-close span,
  #portal-v2-containter .ui-dialog[aria-labelledby*="ui-dialog-title-PopupCreateOverallScore_"] .ui-dialog-titlebar-close span,
  #portal-v2-containter .ui-dialog[aria-labelledby*="ui-dialog-title-PopupEditOverallScore_"] .ui-dialog-titlebar-close span,
  #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupCloneOverallScore"] .ui-dialog-titlebar-close span
  #portal-v2-containter .ui-dialog[aria-labelledby*="ui-dialog-title-PopupCloneOverallScore_"] .ui-dialog-titlebar-close span {
    width: auto;
    height: auto;
    margin: 0;
  }

  #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupCreateOverallScore"] .ui-dialog-titlebar-close::after,
  #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupEditOverallScore"] .ui-dialog-titlebar-close::after,
  #portal-v2-containter .ui-dialog[aria-labelledby*="ui-dialog-title-PopupCreateOverallScore_"] .ui-dialog-titlebar-close::after,
  #portal-v2-containter .ui-dialog[aria-labelledby*="ui-dialog-title-PopupEditOverallScore_"] .ui-dialog-titlebar-close::after,
  #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupCloneOverallScore"] .ui-dialog-titlebar-close::after,
  #portal-v2-containter .ui-dialog[aria-labelledby*="ui-dialog-title-PopupCloneOverallScore_"] .ui-dialog-titlebar-close::after {
    font-size: 1rem;
    right: 0;
    top: 0;
  }

  #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupCreateOverallScore"] .ui-dialog-titlebar-close,
  #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupEditOverallScore"] .ui-dialog-titlebar-close,
  #portal-v2-containter .ui-dialog[aria-labelledby*="ui-dialog-title-PopupCreateOverallScore_"] .ui-dialog-titlebar-close,
  #portal-v2-containter .ui-dialog[aria-labelledby*="ui-dialog-title-PopupEditOverallScore_"] .ui-dialog-titlebar-close,
  #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupCloneOverallScore"] .ui-dialog-titlebar-close,
  #portal-v2-containter .ui-dialog[aria-labelledby*="ui-dialog-title-PopupCloneOverallScore_"] .ui-dialog-titlebar-close {
    right: 0;
    top: 1.5rem;
  }

#divSubscoreSection .expanded .icon-arrow {
  transform: rotate(180deg);
}

#divSubscoreSection .icon-arrow {
  font-size: 0.875rem;
}

#divSubscoreSection .block-footer {
  border: 0 !important;
  background: unset;
}

.js-arrangeable.custom-js-arrangeable {
  display: flex;
  align-items: center;
}

.dnd-arrangeable.custom-dnd-arrangeable {
  position: unset;
  width: 0.625rem;
  height: 1rem;
  margin-right: 1.375rem;
}

/* New UI for Preview Form & Entry Results */
.sgo-datetime.custom {
  border: 2px solid var(--selectBorder);
}

.sgo-datetime.custom input {
  border: 0;
  padding: 0.6875rem 1rem;
  width: auto;
}

.sgo-datetime.custom .icon-sgo-calendar {
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}

#portal-v2-containter .student-entry-result.custom tr {
  height: 56px !important;
}

#portal-v2-containter .student-entry-result tr td:first-child {
  text-align: center !important;
}

#portal-v2-containter .student-entry-result tr td:first-child input {
  margin: 0;
}
/* End */

/* New UI for popup Preview Form */
#portal-v2-containter .modal-component.custom-preview-form-popup .modal-component-container {
  padding: 0;
}

#portal-v2-containter .modal-component.custom-preview-form-popup .modal-component-close {
  display: none;
}

#portal-v2-containter .modal-component.custom-preview-form-popup .modal-component-header {
  padding: 1.5rem 2rem 0 2rem;
}

#portal-v2-containter .modal-component.custom-preview-form-popup .modal-component-header .title-large {
  margin-bottom: 0;
}

#portal-v2-containter .modal-component.custom-preview-form-popup .modal-component-body {
  margin: 0;
  padding: 1.5rem 2rem;
}

#portal-v2-containter .modal-component.custom-preview-form-popup .custom-note-calendar .ui-datepicker-month {
  border: 0;
  margin-right: 16px;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--navyColor);
  width: auto;
}

#portal-v2-containter .modal-component.custom-preview-form-popup .custom-note-calendar .ui-datepicker-year {
  border: 0;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--navyColor);
  width: auto;
}
/* End */

#portal-v2-containter .studententry-modal-body .studententry-modal-title,
#portal-v2-containter .studententry-modal-body .studententry-modal-sub-title {
  background: none;
  padding: 0;
  color: var(--navyColor);
  font-size: var(--fontSizeLabel);
  font-weight: 700;
  font-style: normal;
  margin-bottom: 7px;
}

#portal-v2-containter .upload-artifact-area .uploadifive-button {
  background-image: unset;
  text-shadow: none;
  background-color: transparent;
  color: var(--navyColor);
  width: auto !important;
  height: auto !important;
  line-height: normal !important;
  padding: 8px 12px;
  border: 2px solid var(--columbia-blue);
  border-radius: 0;
  cursor: pointer;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

#portal-v2-containter .upload-artifact-area .uploadifive-button input[type='file'] {
  cursor: pointer;
}

#portal-v2-containter .upload-artifact-area .uploadifive-button:hover {
  background: var(--blue3);
}

#portal-v2-containter .line-break::before {
  content: '';
  width: 175px;
  height: 1px;
  background-color: var(--grey0);
  margin-top: auto;
  margin-bottom: auto;
}

#portal-v2-containter .line-break::after {
  content: '';
  width: 175px;
  height: 1px;
  background-color: var(--grey0);
  margin-top: auto;
  margin-bottom: auto;
}

#portal-v2-containter .line-break span {
  margin: 0 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  color: var(--navyColor);
}

#portal-v2-containter .insert-link {
  font-size: 14px;
  line-height: 171%;
  color: var(--navyColor);
}

#portal-v2-containter .artifactFolderModal .modal-component-container {
    max-width: 1000px;
}

#portal-v2-containter #tableArtifactFolder .fa-file {
  font-family: 'Font Awesome 6 Free';
  color: var(--yellow3);
  margin-right: 0.5rem;
}

#portal-v2-containter #tableArtifactFolder .file-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--lightBlue);
}

#portal-v2-containter #tableArtifactFolder .tag select {
  border: 2px solid var(--navyColor);
  padding: 11px 16px;
}

#portal-v2-containter #tableArtifactFolder th {
  padding: 16px;
}

#portal-v2-containter #tableArtifactFolder tr td {
  padding: 20px 16px;
}

#portal-v2-containter #tableArtifactFolder .no-upload {
  padding-top: 32px;
  padding-bottom: 32px;
}

#portal-v2-containter .student-entry-result .artifact-folder-btn {
  text-decoration: none;
}

#portal-v2-containter .student-entry-result .artifact-folder-btn > span {
  display: flex;
  justify-content: center;
  align-items: center;
}

#portal-v2-containter .student-entry-result .artifact-folder-btn > span img {
  position: unset;
}

#portal-v2-containter .student-entry-result .note:nth-child(2) {
  display: block;
  line-height: 16px;
}

#portal-v2-containter .ui-widget-overlay {
   background: none !important;
   background-color: var(--textColor) !important;
}

#portal-v2-containter .modal-component {
  background-color: rgba(var(--black-rgb), 0.3);
}

#portal-v2-containter .studententry-modal-body .checkbox-print-datalocker-container {
  display: flex;
  flex-wrap: wrap;
}
#portal-v2-containter .studententry-modal-body .checkbox-print-datalocker-item {
  --width: 25%;
  width: var(--width);
  padding: .5rem;
}

#portal-v2-containter.data-locker-fullscreen .fullPage {
  background: var(--white) !important;
  width: 100%;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 101;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#portal-v2-containter.data-locker-fullscreen #studentEntry .grid_12 {
    position: unset !important;
}

#portal-v2-containter #frame.custom {
  display: none;
}

#portal-v2-containter .modal-component.custom-preview-form-popup .modal-component-footer .btn-custom {
  float: none;
  margin: 0 1rem 0 0 !important;
  padding: 0.6875rem 2rem !important;
  background-color: var(--red);
  color: var(--white);
  line-height: 162%;
}
#portal-v2-containter #templateListDataTable thead th,
#portal-v2-containter #templateListDataTable tbody td {
  border-color: var(--borderColor1) !important;
}

#portal-v2-containter .student-entry-result thead .colHeader > span:not(.subscore-name) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#portal-v2-containter .student-entry-result thead .colHeader > span .icon-info {
  flex-shrink: 0;
  width: 20px !important;
  height: 20px !important;
  background-size: cover;
}

#portal-v2-containter .calculator-text {
  display: inline-block;
  font-weight: bold;
  font-size: var(--fontSizeText);
  padding: 2px 8px;
}

@media (max-width: 1399px) and (min-width: 1200px) {
  #portal-v2-containter .calculator-text {
    font-size: var(--body-size);
  }
}

#portal-v2-containter .text-clickable {
  display: inline-block;
}

#portal-v2-containter .cell-color-text {
  display: inline-block;
  font-size: var(--body-size);
  border: 1px solid var(--borderColor);
  padding: 0.7rem;
  vertical-align: middle;
}

#portal-v2-containter .center-first-column tbody tr td:first-child {
  text-align: center !important;
}

#portal-v2-containter .last-child table.center-first-column tbody td span {
  float: none;
}

#portal-v2-containter #dataTableOverallScore_wrapper.no-margin,
#portal-v2-containter [id*="dataTableOverallScore_"].no-margin {
  margin: 0;
}

#portal-v2-containter #dataTableOverallScore.custom-with-thead tbody tr td:first-child,
#portal-v2-containter [id*="dataTableOverallScore_"].custom-with-thead tbody tr td:first-child {
  text-align: left;
}

#portal-v2-containter #dataTableOverallScore.custom-with-thead thead th:first-child,
#portal-v2-containter #dataTableOverallScore.custom-with-thead thead th:nth-child(2),
#portal-v2-containter [id*="dataTableOverallScore_"].custom-with-thead thead th:first-child,
#portal-v2-containter [id*="dataTableOverallScore_"].custom-with-thead thead th:nth-child(2) {
  width: 15% !important;
}

#portal-v2-containter #dataTableOverallScore.custom-with-thead th.th-desc,
#portal-v2-containter #dataTableOverallScore.custom-with-thead th.th-validation,
#portal-v2-containter [id*="dataTableOverallScore_"].custom-with-thead th.th-desc,
#portal-v2-containter [id*="dataTableOverallScore_"].custom-with-thead th.th-validation {
  width: 35% !important;
}

.custom-calendar-picker .ui-datepicker-prev.ui-datepicker-prev-hover {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==') center center !important;
  background-size: 75% 75% !important;
  cursor: pointer;
}

.custom-calendar-picker .ui-datepicker-next.ui-datepicker-next-hover {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=') center center !important;
  background-size: 75% 75% !important;
  cursor: pointer;
}

.custom-calendar-multi-picker .ui-datepicker-month {
  text-align: center;
  margin-right: 2px !important;
  border: 1px solid var(--grey);
}

.custom-calendar-multi-picker .ui-datepicker-year {
  text-align: center;
  border: 1px solid var(--grey);
}

@media (max-width: 1599px) and (min-width: 1200px) {
  #portal-v2-containter .list-artifacts {
    max-height: 150px;
  }

  #portal-v2-containter .responsive-btn .btn-blue {
    min-width: auto;
    padding: 11px 10px;
  }
}

@media (max-width: 1300px) and (min-width: 1200px) {
  #portal-v2-containter .responsive-multidate-btn .btn-blue {
    padding: 11px 22px;
  }
}

#portal-v2-containter #PopupCreateOverallScore form,
#portal-v2-containter #PopupEditOverallScore form,
#portal-v2-containter [id*="PopupCreateOverallScore"] form,
#portal-v2-containter [id*="PopupEditOverallScore"] form,
#portal-v2-containter [id*="PopupCloneOverallScore"] form {
  max-height: calc(100vh - 3.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#portal-v2-containter #PopupCreateOverallScore .form-body,
#portal-v2-containter #PopupEditOverallScore .form-body,
#portal-v2-containter [id*="PopupCreateOverallScore"] .form-body,
#portal-v2-containter [id*="PopupEditOverallScore"] .form-body,
#portal-v2-containter [id*="PopupCloneOverallScore"] .form-body {
  flex: 1 1 auto;
  overflow-y: auto;
  padding-right: 1rem;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}

#portal-v2-containter #PopupCreateOverallScore section,
#portal-v2-containter #PopupEditOverallScore section,
#portal-v2-containter [id*="PopupCreateOverallScore"] section,
#portal-v2-containter [id*="PopupEditOverallScore"] section,
#portal-v2-containter [id*="PopupCloneOverallScore"] section {
  margin: 0;
}

#portal-v2-containter .modal-artifact-notedate .modal-component-content {
  max-height: calc(100vh - 3.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#portal-v2-containter .modal-artifact-notedate .modal-component-body {
  flex: 1 1 auto;
  overflow-y: auto;
}

#portal-v2-containter .student-entry-result thead th .relative {
  padding: 0;
}
