tr.even.row_selected td {
  background-color: var(--blue7) !important;
}

tr.odd.row_selected td {
  background-color: var(--blue7) !important;
}

#dataTableTestBank td {
  word-wrap: break-word;
  /*word-break: break-all;*/ /* Not apply for whole table, just apply for long word in each td*/
}

/*********** Default css ***********/
/* No data available in table */
.dataTableTestBankStyle .dataTables_empty div {
  width: 100% !important;
}
.dataTableVirtualTestStyle tr td,
.dataTableTestBankStyle tr td {
  padding-left: 0px;
  padding-right: 0px;
}
.dataTableVirtualTestStyle,
.dataTableTestBankStyle {
  width: 100% !important;
}

  .dataTableVirtualTestStyle tbody td,
  .dataTableTestBankStyle tbody td {
    word-break: keep-all;
    word-wrap: break-word;
  }


  .dataTableVirtualTestStyle tbody tr td:nth-child(1),
  .dataTableVirtualTestStyle thead th:nth-of-type(1) {
    width: 100% !important;
  }
  .dataTableTestBankStyle tbody tr td:nth-child(1),
  .dataTableTestBankStyle thead th:nth-of-type(1) {
    width: 50% !important;
  }

  .dataTableTestBankStyle tbody tr td:nth-child(2),
  .dataTableTestBankStyle thead th:nth-of-type(2) {
    width: 31% !important;
  }

  .dataTableTestBankStyle tbody tr td:nth-child(3),
  .dataTableTestBankStyle thead th:nth-of-type(3) {
    width: 20% !important;
  }


#divdataTableTestBank {
  height: 367px !important;
  margin-top: -20px !important;
}


#divShowArchived p {
  display: inline;
  color: var(--grey);
  font-weight: bold;
  margin-bottom: 0.5em;
}
.datalocker-entry-forms {
  overflow: hidden;
  height: calc((100vh) - (112px));
}

  .datalocker-entry-forms > * {
    max-height: calc((100%) - (var(--bs-gutter-y)));
  }

  .datalocker-entry-forms .no-margin {
    margin: 0 !important;
  }


  .datalocker-entry-forms .block-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 100%;
  }

#portal-v2-containter .btn-popup {
  border: 2px solid var(--blue3);
  padding: 10px 15px;
}

.datalocker-entry-forms .form-properties-v2 {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.datalocker-entry-forms table {
  border: 1px solid var(--borderColor) !important;
}
.datalocker-entry-forms .table-box {
  position: relative;
}
#portal-v2-containter .datalocker-entry-forms .block-content h1 {
  margin: 0px;
  padding-left: 0px;
}

#listDistrictDiv .block-content .no-margin.last-child {
  margin: 0;
}

.datalocker-entry-forms .form-properties table td {
  padding: 1rem !important
}
#portal-v2-containter .form .deactivated-title {
  font-size: var(--fontSizeText)
}
#portal-v2-containter .icon-remove {
  background-color: var(--red);
  height: 18px;
  width: 18px;
  display: flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  color: transparent;
}
  #portal-v2-containter .icon-remove i {
    color: var(--white);
    font-size: 12px;
    text-decoration: none;
    height: 14px;
    width: 14px;
  }
#portal-v2-containter .table-box .last-child .block-pagination {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
#portal-v2-containter .datalocker-entry-forms .last-child .paging_two_button {
  display: flex;
  flex-direction: row;
  margin: 0 !important;
}

#portal-v2-containter .datalocker-entry-forms table tbody td:first-child:not(:empty) {
  text-align: left;
}


.datalocker-entry-forms .table-box {
  position: relative;
  flex: 1 1 auto;
  overflow: hidden;
}

  .datalocker-entry-forms .table-box > * {
    height: 100%;
  }

.table-wrapper-scroll {
  max-height: calc((100%) - (160px));
}

.datalocker-entry-forms .block-footer {
  display: none;
}

.dataTables_empty {
  height: 290px;
  text-align: center !important;
}

.datalocker-entry-forms .datatable {
  min-height: 100px;
}

#divTestBankProperties,
#divVirtualTestProperties {
  position: relative;
}

#portal-v2-containter .table-wrapper-scroll table {
  border: 0 none !important;
}

#portal-v2-containter table tbody tr:first-child td {
  border-top: 0 none;
}

#divVirtualTestProperties table.datatable tr td {
  width: 50%;
}

.form-properties .comboTreeWrapper{
    min-width: inherit;
}

@media (max-width: 1599px) and (min-width: 1200px) {
  .datalocker-entry-forms {
    height: calc((100vh) - (92px));
  }
}

@media (max-width: 1399px) and (min-width: 1200px) {

  .table-wrapper-scroll {
    max-height: calc((100%) - (145px));
  }

  .dataTables_empty {
    height: 150px;
  }

  #portal-v2-containter .datalocker-entry-forms .last-child .block-pagination select,
  #portal-v2-containter .datalocker-entry-forms .last-child .block-pagination .select2-container {
    max-width: 65px;
  }
}

#portal-v2-containter .ui-widget-overlay {
  background: var(--bg-black);
}
