.hiddenHeader {
  display: none;
}

.field-datepicker {
  font-size: 1.083em;
  padding: 0.385em;
  width: 140px;
}

.note {
  cursor: pointer;
  min-width: 70px;
}

.checker {
  margin-left: -1px;
}

p {
  margin-bottom: 7px;
}

.list-artifacts {
  height: auto;
  max-height: 380px;
  overflow-y: auto;
  margin-bottom: 15px;
}

.handsontable th:nth-child(2) {
  border-left: none;
}

.note-calendar {
  width: 17.25rem;
}

.handsontable table .image-folder {
  position: relative;
  top: 3px;
}

.event a {
  background-color: var(--green) !important;
  background-image: none !important;
  color: var(--white) !important;
}

.handsontable table .count-artifacts {
  color: var(--grey);
  font-size: 14px;
  margin-left: 2px;
}

.handsontable tr:first-child td {
  border-top: none;
}

.ht_master:not(.innerBorderTop) thead tr:last-child th,
.ht_master:not(.innerBorderTop) ~ .handsontable thead tr:last-child th,
.ht_master:not(.innerBorderTop) thead tr.lastChild th,
.ht_master:not(.innerBorderTop) ~ .handsontable thead tr.lastChild th {
  border-bottom-width: 1px;
}

.qtip-custom {
  max-width: 400px;
  padding-bottom: 10px;
}

.custom-top {
  z-index: 111111111 !important;
}

  .custom-top .qtip-content {
    max-height: 180px;
    overflow: auto;
  }

.qtip-content ul,
.qtip-content ol {
  list-style: initial;
  padding-left: 30px;
}

.data-locker-fullscreen .qtip-content {
  max-height: 100px;
  overflow-y: auto;
}

.handsontable tr {
  height: 31px;
}

#noteDate .ui-state-highlight {
  background: var(--grey);
}

.mass-upload {
  display: block;
  margin: 5px auto;
}

.handsontable tr th {
  vertical-align: middle;
}

.ui-widget-header {
  border: 0px solid var(--selectBorder) !important;
  background: transparent !important;
  position: relative;
  top: 34px;
}

.ui-dialog {
  background: transparent;
  border: 0;
  height: auto !important;
}

  .ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 7px;
    top: -8px;
  }

.ui-widget-header .ui-icon {
  background-image: url("/Content/themes/base/images/fancy_close.png");
}

.ui-icon {
  width: 40px;
  height: 40px;
}

.ui-icon-closethick {
  background-position: 2px 2px;
}

.ui-widget-header .ui-state-hover {
  border: 0;
  background: transparent !important;
}

.ui-dialog .ui-dialog-titlebar-close {
  width: 30px;
  height: 42px;
}

.ui-widget-overlay {
  background: var(--gray9) !important;
}

div[aria-labelledby=ui-dialog-title-dvPublishFormSettingPanel] .ui-dialog-titlebar-close {
  top: 0.75rem !important;
  right: 0.25rem !important;
}

#portal-v2-containter .student-entry-result tr td {
  height: auto !important;
}

#portal-v2-containter .student-entry-result .handsontable td {
  white-space: nowrap;
}

#portal-v2-containter .btn-entry-result-score {
  min-width: unset !important;
}

  #portal-v2-containter .btn-entry-result-score.is-selected {
    background: var(--lightBlue) !important;
    border-color: var(--lightBlue) !important;
    color: var(--white) !important;
  }

#portal-v2-containter .student-entry-result .autocompleteEditor {
  z-index: 9999;
  background-color: transparent;
  padding-right: 0 !important;
}

#portal-v2-containter .student-entry-result .handsontableInput {
  line-height: 56px;
}

#portal-v2-containter .pika-single {
  background-color: var(--white);
  border: 1px solid var(--selectBorder);
}

#portal-v2-containter .pika-lendar button {
  border: 0 !important;
  min-width: auto;
}

  #portal-v2-containter .pika-lendar button.pika-prev,
  #portal-v2-containter .pika-lendar button.pika-next {
    background-color: transparent !important;
    border-radius: 0 !important;
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
  }

  #portal-v2-containter .pika-lendar button.pika-prev {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==");
  }

  #portal-v2-containter .pika-lendar button.pika-next {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=);
  }

#portal-v2-containter .pika-lendar {
  padding: 1.2rem;
  margin: 0;
  width: auto !important;
}

  #portal-v2-containter .pika-lendar table th {
    background-color: unset;
    border: 0;
  }

  #portal-v2-containter .pika-lendar .pika-label,
  #portal-v2-containter .pika-lendar .pika-button,
  #portal-v2-containter .pika-lendar abbr {
    font-size: 0.875rem;
    color: var(--navyColor);
  }

  #portal-v2-containter .pika-lendar abbr {
    text-decoration: none;
  }

  #portal-v2-containter .pika-lendar .pika-button {
    text-align: center;
  }

  #portal-v2-containter .pika-lendar .is-selected .pika-button {
    background-color: var(--blue2);
    color: var(--white);
    padding: 0;
  }

  #portal-v2-containter .pika-lendar td:hover .pika-button {
    background-color: var(--blue2);
    color: var(--white);
  }

#portal-v2-containter .pika-table td {
  padding: 0.3rem;
  border: 0;
}

#portal-v2-containter .pika-table tbody tr:last-child td {
  padding-bottom: 0;
}

#portal-v2-containter .handsontable .htAutocompleteArrow {
  float: none;
  display: inline-block;
  margin-left: 0.5rem;
}

.select2-container--open {
  z-index: 99999 !important;
}

#portal-v2-containter .ui-datepicker {
  margin-left: -1.5px;
  margin-top: 6px;
}

  #portal-v2-containter .ui-datepicker.customCssDataPickerPreference {
    margin: 0;
  }

#portal-v2-containter .student-entry-result .autocompleteEditor table tr {
  height: auto !important;
}

  #portal-v2-containter .student-entry-result .autocompleteEditor table tr td {
    border: 0;
    padding: 0.5rem;
    text-align: left !important;
  }

#portal-v2-containter .student-entry-result .autocompleteEditor table {
  border-collapse: collapse;
}

#portal-v2-containter .icon-test-report {
  display: flex;
  align-items: center;
}

  #portal-v2-containter .icon-test-report .student-results {
    border: 1px solid var(--green2) !important;
    background: var(--green) !important;
  }

#portal-v2-containter .icon-test-report .icon {
  width: 32px;
  min-width: unset;
  height: 32px;
  display: flex;
  justify-content: center;
  color: var(--white);
  border-radius: 50%;
  margin-right: 16px;
  outline: none;
  text-indent: unset;
}

  #portal-v2-containter .icon-test-report .icon .fa-child {
    font-size: 20px;
    display: block;
  }

#portal-v2-containter #datalockerNavSRDialog {
  display: flex;
  justify-content: center;
}

.page-enter-results-singleday .group-footer {
  gap: 16px;
}

@media (max-width: 1780px) {
  .page-enter-results-singleday .group-footer {
    gap: 10px;
  }
}

@media (max-width: 1780px) and (min-width: 1600px) {
  #portal-v2-containter .group-footer .btn-blue {
    padding: 11px 20px;
  }
}

@media (max-width: 1440px){
  .page-enter-results-singleday .group-footer .btn-blue {
    font-size: var(--fontSizeLabel) !important;
  }
}

@media (max-width: 1315px) {
  .page-enter-results-singleday .group-footer {
      gap: 6px;
  }

  #portal-v2-containter .group-footer .btn-blue {
    padding: 11px 7px;
  }

  #portal-v2-containter .group-footer .btn-red {
    padding: 11px 7px !important;
  }
}
