.popup {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 95px;
    background-color: var(--vanilla);
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 2000;
    left: 107%;
    border: 1px solid var(--vanilla);
    color: var(--lightBlue);
    text-decoration: underline;
    margin-top: -21px;
  }

.bottom-arrow {
  border-bottom: 5px solid;
}

  .bottom-arrow:after, .bottom-arrow:before {
    content: '';
    position: absolute;
    top: 15px;
    right: 100%;
    height: 0;
    width: 0;
    pointer-events: none;
    border: solid transparent;
  }

  .bottom-arrow:after {
    border-color: rgba(158, 213, 64, 0);
    border-right-color: var(--vanilla);
    border-width: 6px;
    margin-top: -6px;
  }

  .bottom-arrow:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: var(--yellow-green);
    border-width: 7px;
    margin-top: -7px;
  }


/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
}

.hiddenHeader {
  display: none;
}

.field-datepicker {
  font-size: 1.083em;
  padding: 0.385em;
  width: 140px;
}

.note {
  cursor: pointer;
  min-width: 70px;
}

.checker {
  margin-left: -1px;
}

p {
  margin-bottom: 7px;
}

.list-artifacts {
  height: auto;
  max-height: 380px;
  overflow-y: auto;
  margin-bottom: 15px;
}

.handsontable th:nth-child(2) {
  border-left: none;
}

.note-calendar {
  width: 17.25rem;
}

.handsontable table .image-folder {
  position: relative;
  top: 3px;
}

.event a {
  background-color: var(--green) !important;
  background-image: none !important;
  color: var(--white) !important;
}

.handsontable table .count-artifacts {
  color: var(--grey);
  font-size: 14px;
  margin-left: 2px;
}

.handsontable tr:first-child td {
  border-top: none;
}

.ht_master:not(.innerBorderTop) thead tr:last-child th,
.ht_master:not(.innerBorderTop) ~ .handsontable thead tr:last-child th,
.ht_master:not(.innerBorderTop) thead tr.lastChild th,
.ht_master:not(.innerBorderTop) ~ .handsontable thead tr.lastChild th {
  border-bottom-width: 1px;
}

.qtip-custom {
  max-width: 400px;
  padding-bottom: 10px;
}

.custom-top {
  z-index: 111111111 !important;
}

  .custom-top .qtip-content {
    max-height: 280px;
    overflow: auto;
  }

.handsontable tr {
  height: 31px;
}

#noteDate .ui-state-highlight {
  background: var(--grey);
}

#top-panel-filter {
}

.handsontable .htDimmed {
  color: var(--grey7);
  overflow: unset;
}

#portal-v2-containter .student-entry-result tr td {
  height: auto !important;
}

#portal-v2-containter .ui-datepicker {
  margin-left: -1.5px;
  margin-top: 5px;
  border-radius: 0;
}

  #portal-v2-containter .ui-datepicker.customCssDataPickerPreference {
    margin: 0;
  }

#portal-v2-containter .btn-entry-result-score {
  min-width: unset !important;
}

  #portal-v2-containter .btn-entry-result-score.is-selected {
    background: var(--lightBlue) !important;
    border-color: var(--lightBlue) !important;
    color: var(--white) !important;
  }

#portal-v2-containter .student-entry-result .autocompleteEditor {
  z-index: 9999;
  background-color: transparent;
  padding-right: 0 !important;
}

  #portal-v2-containter .student-entry-result .autocompleteEditor table tr {
    height: auto !important;
  }

    #portal-v2-containter .student-entry-result .autocompleteEditor table tr td {
      border: 0;
      text-align: left !important;
      padding: 0.5rem;
    }

  #portal-v2-containter .student-entry-result .autocompleteEditor table {
    border-collapse: collapse;
  }

  #portal-v2-containter .student-entry-result .autocompleteEditor table {
    border-collapse: collapse;
  }

#portal-v2-containter .icon-test-report {
  display: flex;
  align-items: center;
}

  #portal-v2-containter .icon-test-report .student-results {
    border: 1px solid var(--green2) !important;
    background: var(--green) !important;
  }

#portal-v2-containter .icon-test-report .icon {
  width: 32px;
  min-width: unset;
  height: 32px;
  display: flex;
  justify-content: center;
  color: var(--white);
  border-radius: 50%;
  margin-right: 16px;
  outline: none;
  text-indent: unset;
}

  #portal-v2-containter .icon-test-report .icon .fa-child {
    font-size: 20px;
    display: block;
  }

#portal-v2-containter #datalockerNavSRDialog {
    display: flex;
    justify-content: center;
}

.group-footer {
  gap: 16px;
}

@media (max-width: 1780px) {
  .group-footer {
    gap: 10px;
  }
}

@media (max-width: 1780px) and (min-width: 1600px) {
  #portal-v2-containter .group-footer .btn-blue {
    padding: 11px 20px;
  }
}

@media (max-width: 1479px) {
  .group-footer .btn-blue {
    font-size: var(--fontSizeLabel) !important;
  }
}

@media (max-width: 1380px) {
  .group-footer {
    gap: 6px;
  }

  #portal-v2-containter .group-footer .btn-blue {
    padding: 11px 7px;
  }

  #portal-v2-containter .group-footer .btn-red {
    padding: 11px 7px !important;
  }
}
