/* #Alizarin Flat Button (red button)
==================================================*/

.dialog-custom-new-skin {
  font-weight: 700;
}
  .dialog-custom-new-skin .main-content {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0.25rem;
    min-width: 100%;
    max-width: 800px;
  }
  .dialog-custom-new-skin .foot-content {
    background: var(--navyColor);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dialog-custom-new-skin .button-custom-new-skin {
    display: flex;
    align-items: center;
    padding: 8px 32px;
    font-weight: 900;
    cursor: pointer;
    width: fit-content;
    height: 48px;
    box-sizing: border-box;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
    color: var(--white) !important;
  }

  .dialog-custom-new-skin .red-btn {
    background: var(--red);
  }

  .dialog-custom-new-skin .grey-btn {
    background: var(--navyColor);
  }

#confirmReplaceArtifactFile {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

  #confirmReplaceArtifactFile .grid_5 {
    width: fit-content !important;
    margin: 0 !important
  }
  #confirmReplaceArtifactFile .main-content {
    padding: 0 1rem !important;
  }

