#portal-v2-containter .container_12 {
    padding: 0 24px 24px 24px !important;
}

#portal-v2-containter .lastVisibleSection {
  margin: 0 !important;
}

#portal-v2-containter h1 {
  padding: 0;
  margin-bottom: 24px;
  border-radius: 0;
  background: none;
  font-size: var(--fontSizeHeader);
  color: var(--navyColor);
  box-shadow: none;
  text-shadow: none;
  border: none;
  font-weight: bold;
  position: unset;
}

#portal-v2-containter fieldset {
  padding: 0;
}

#portal-v2-containter .title-container {
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-bottom: 24px;
  position: relative;
}

#portal-v2-containter .title-container p {
  margin-bottom: 0 !important;
}

#portal-v2-containter .ui-dialog .ui-dialog-titlebar-close {
    top: 0;
    right: 0;
}


#portal-v2-containter .btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 18px;
}
#portal-v2-containter #divTeacherSchool .no-margin,
#portal-v2-containter #addUser .no-margin {
  margin: 0 !important;
}

#portal-v2-containter .icon-red {
  color: var(--red);
  width: 16px;
  height: 16px;
}

#portal-v2-containter .icon-green {
  color: var(--green2);
  width: 16px;
  height: 16px;
}

#portal-v2-containter #dataTableUserSchool tbody td:first-child,
#portal-v2-containter #addUser #dataTableUserNotMatch tbody td:first-child {
  text-align: center
}

#portal-v2-containter .last-child #dataTableUserSchool tbody td span,
#portal-v2-containter #addUser .last-child #dataTableUserNotMatch tbody td span {
  float: unset !important;
}

#portal-v2-containter .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#portal-v2-containter .block-footer {
    display: none;
}

#portal-v2-containter #divListuserNotMatchSchoolContainer {
    margin-left: 40px;
}
/*style model add user*/
#portal-v2-containter #divListuserNotMatchSchoolContainer {
  width: 40% !important;
}

#portal-v2-containter #divListuserNotMatchSchoolContainer .no-margin {
  margin: 0 !important;
}

#portal-v2-containter #divListuserNotMatchSchoolContainer .last-child .block-controls {
  padding: 4px 0 10px 4px;
}

#portal-v2-containter #divListuserNotMatchSchoolContainer .block-footer {
  display: none;
}

/*style pop-up*/

#portal-v2-containter .ui-dialog {
  border-radius: 0 !important;
  padding: 0 !important;
  height: unset !important;
}

#portal-v2-containter .ui-dialog-titlebar {
    display: none;
}

#portal-v2-containter .ui-dialog .ui-dialog-content {
  padding: 0 !important;
}

#portal-v2-containter #confirmCloseDialog section {
  margin: 0 !important;
}

#portal-v2-containter .ui-widget-overlay {
  background: none !important;
  background-color: var(--textColor) !important;
}

#portal-v2-containter #confirmCloseDialog .foot-content .red-btn:hover {
  background-color: var(--redHover);
}

#portal-v2-containter #addUser section {
  margin-bottom: 0;
}

#portal-v2-containter #addUser .block-content {
    padding: 24px;
}

#portal-v2-containter .ui-dialog .ui-dialog-title {
  display: none;
}

#portal-v2-containter .ui-dialog .ui-dialog-titlebar {
    padding: 0 !important;
}

#portal-v2-containter .ui-dialog-titlebar-close:hover {
    border: none;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-addUser"] {
    top: 80px !important;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-confirmCloseDialog"] {
  width: unset !important;
}

#portal-v2-containter #addUser .last-child {
  height: 500px;
  overflow: auto;
}
