#portal-v2-containter .block-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

#portal-v2-containter .block-heading h1 {
  border-radius: 0;
  background: none;
  font-size: var(--fontSizeHeader);
  color: var(--navyColor);
  box-shadow: none;
  text-shadow: none;
  border: none;
  font-weight: bold;
  position: unset;
}

#portal-v2-containter #editUserForm fieldset {
  padding: 0;
  margin-bottom: 30px;
}

#portal-v2-containter #editUserForm h3 {
  margin-bottom: 20px;
  color: var(--navyColor);
}

#portal-v2-containter #editUserForm .style-wrapper {
  display: flex;
  width: 100%;
  gap: 40px;
}

#portal-v2-containter #editUserForm .colx2-left {
  width: 50%;
}

#portal-v2-containter #editUserForm .colx2-right {
  width: 50%;
}

#portal-v2-containter #editUserForm .btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
}

#portal-v2-containter #editUserForm .school-container {
    display: flex;
    align-items:  center;
    justify-content: space-between;
}

#portal-v2-containter #editUserForm #userSchoolsContainer {
  margin-top: 24px;
}

#portal-v2-containter #editUserForm #userSchoolsContainer table tbody td:first-child {
    text-align: center;
}

#portal-v2-containter #editUserForm #userSchoolsContainer #schoolsTable {
  border: none !important;
  border-collapse: collapse;
}

#portal-v2-containter label i {
  font-size: var(--fontSizeLabel);
}

/*Style modal confirm*/
#portal-v2-containter .ui-dialog {
  border-radius: 0 !important;
  height: auto !important;
  width: auto !important;
  padding: 0 !important;
}

#portal-v2-containter .ui-dialog-titlebar {
  display: none;
}

#portal-v2-containter .ui-dialog .ui-dialog-content {
  padding: 0 !important;
}

#portal-v2-containter #confirmCloseDialog section {
  margin: 0 !important;
}

#portal-v2-containter .ui-widget-overlay {
  background: none !important;
  background-color: var(--textColor) !important;
}

#portal-v2-containter #confirmCloseDialog .foot-content .red-btn:hover {
  background-color: var(--redHover);
}
