#portal-v2-containter .columns {
    display: flex;
    width: 100%;
}

#portal-v2-containter h1 {
  border-radius: 0;
  background: none;
  font-size: var(--fontSizeHeader);
  color: var(--navyColor);
  box-shadow: none;
  text-shadow: none;
  border: none;
  font-weight: bold;
  position: unset;
}

#portal-v2-containter .block-border {
  background: var(--blue1) !important;
}

#portal-v2-containter fieldset {
  padding: 0 !important;
  background-color: var(--white) !important;
  padding: var(--spacingDefault) !important;
  border-radius: unset !important;
}

#portal-v2-containter .colx2-left {
    width: 50%;
}

#portal-v2-containter .colx2-right {
  width: 50%;
}

#portal-v2-containter .block-text-name {
    width: 100% !important;
}

#portal-v2-containter .block-content-dropdown-marquee {
    width: 100%;
}

#portal-v2-containter #divMultibleClasses {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#portal-v2-containter #divMultiClass .row {
    margin-top: 16px !important;
}

#portal-v2-containter #divMultiClass #dataTable_wrapper {
    margin: 0 !important;
}

#portal-v2-containter #dataTable_wrapper #dataTable_filter input {
  border: 2px solid var(--selectBorder) !important;
}

#portal-v2-containter #dataTable_wrapper .dataTables_empty {
    text-align: center;
    font-weight: bold;
}

#portal-v2-containter #dataTable_wrapper .block-footer {
    display: none;
}

#portal-v2-containter .btn-container {
    display: flex;
    gap: 18px;
    justify-content: flex-end;
}

#portal-v2-containter .extra-pages-container {
  display: flex;
  gap: 16px;
  width: 30%;
}

#portal-v2-containter #fdMemberClasses {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#portal-v2-containter #ConfirmItemUpdateDialog .btn-container-popup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-ConfirmItemUpdateDialog"] .ui-dialog-titlebar,
#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-printingGroupDialog"] .ui-dialog-titlebar,
#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-confirmSubmitDialog"] .ui-dialog-titlebar {
  display: none;
}


#portal-v2-containter #divAddEditGroup .title-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  #portal-v2-containter #divAddEditGroup .title-header a:after {
    content: '\f00d';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: var(--navyColor);
    font-size: 0.875rem;
    position: absolute;
  }
#portal-v2-containter #divAddEditGroup .ui-icon-closethick {
    background: none;
}

#portal-v2-containter #divAddEditGroup #closeBtn {
  display: none;
}

#portal-v2-containter #studentContent #studentsList #students {
    padding-left: 0 !important;
}

#portal-v2-containter #studentContent .student-content-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

#portal-v2-containter .ui-dialog #confirmSubmitDialog {
  padding: 0 !important;
}

#portal-v2-containter .ui-dialog #confirmSubmitDialog section {
  margin-bottom: 0 !important;
}

  #portal-v2-containter .ui-dialog #confirmSubmitDialog .foot-content {
    background: var(--navyColor);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #portal-v2-containter .ui-dialog #confirmSubmitDialog .button-custom-new-skin {
    display: flex;
    align-items: center;
    padding: 8px 32px;
    font-weight: 900;
    cursor: pointer;
    width: fit-content;
    height: 48px;
    box-sizing: border-box;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
    color: var(--white) !important;
  }

#portal-v2-containter #studentContent #studentsList #students li {
  display: block;
  width: calc(25% - 1.25rem);
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

#portal-v2-containter #studentContent #studentsList #students {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-CustomAlertDialog"] {
    width: auto !important;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-generateContentPopup"] .ui-dialog-titlebar a {
  position: absolute;
  top: 30px;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-generateContentPopup"] {
  top: 1020px !important;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-printingGroupDialog"] {
  top: 130px !important;
}

#portal-v2-containter .extra-pages-container select:disabled {
  background-color: var(--disabledColorBg) !important;
  box-shadow: none !important;
  cursor: auto !important;
}
