#portal-v2-containter .container_12 {
  width: 100%;
}

#portal-v2-containter .block-content {
  padding: 24px !important;
}

#portal-v2-containter .block-content h1 {
  padding: 0;
}

  #portal-v2-containter .block-content .no-margin {
    margin-left: 0;
    margin-right: 0;
  }

#portal-v2-containter .no-margin .last-child {
  margin-bottom: 24px;
}

#portal-v2-containter .filter-list {
    display: flex;
    justify-content: space-between;
}

#portal-v2-containter fieldset {
  padding: 0;
}

#portal-v2-containter button {
  width: unset !important;

}

#portal-v2-containter #helpResourceDataTable_wrapper.last-child .block-controls {
  padding: 0;
}

#portal-v2-containter #helpResourceDataTable tbody tr td:first-child {
  text-align: center !important;
}

#portal-v2-containter #helpResourceDataTable tbody tr td:first-child {
  text-align: center !important;
}

#portal-v2-containter #helpResourceDataTable thead th.actions {
  width: 9% !important;
}

#portal-v2-containter #helpResourceDataTable thead th.file-type {
  width: 11% !important;
}

#portal-v2-containter #helpResourceDataTable thead th.category {
  width: 8% !important;
}

#portal-v2-containter #helpResourceDataTable thead th.topic {
  width: 15% !important;
}

@media (max-width: 1599px) and (min-width: 1200px) {
  #portal-v2-containter #helpResourceDataTable thead th.actions {
    width: 12% !important;
  }

  #portal-v2-containter #helpResourceDataTable thead th.category {
    width: 11% !important;
  }
}
