:root {
  --spacing-b-slideshow: 35px;
  --contentPost-height: 315px;
  --postHeader-height: 55px;
}

#portal-v2-containter .home-post-header {
  padding: 1em;
  color: var(--white);
  background-color: var(--navyColor);
  border-bottom: 1px solid var(--penn-blue);
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: start;
}

#portal-v2-containter .home-post-section {
  padding: 1.5em;
  margin: 0;
}

#portal-v2-containter .home-post-item {
  padding: 0.5em 0;
  border-top: 1px solid var(--borderColor);
}

#portal-v2-containter .home-post-section .home-post-item:first-child {
  border-top: 0;
  padding-top: 0;
}

#portal-v2-containter .home-post-section .home-post-item:last-child {
  padding-bottom: 0;
}

#portal-v2-containter .home-post-item .title {
  color: var(--lightBlue);
  font-weight: normal;
  cursor: pointer;
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  word-break: break-word;
}

  #portal-v2-containter .home-post-item .title .text-overflow {
    max-width: calc(100% - 24px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
  }

#portal-v2-containter .home-post-item .announcementMonth {
  color: currentColor;
  font-size: .95em;
}

#portal-v2-containter .home-post-item .announcementDay {
  font-size: 1.4em
}

#portal-v2-containter .home-post-item .title i {
  color: var(--blue8)
}

#portal-v2-containter .home-post-item .box-image {
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1em;
  position:relative;
  top:-2px;
}

#portal-v2-containter .home-post-item .description {
  color: currentColor;
  font-size: 0.9em;
  line-height: 1.5em;
  margin-top: .3em;
  word-break: break-word;
}

#portal-v2-containter .layout-post {
  background-color: var(--white);
}
#portal-v2-containter .theme-default .nivo-controlNav a {
  background: none;
  position: relative;
}

  #portal-v2-containter .theme-default .nivo-controlNav a::before {
    content: "\f111";
    position: absolute;
    transform: translate(50%, 50%);
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: var(--navyColor);
    font-size: 0.55em;
  }

  #portal-v2-containter .theme-default .nivo-controlNav a.active::before {
    font-weight: 400;
  }

  @media (max-width: 1399px) {
    #homePageV2Layout {
    zoom: 1 !important;
  }
}

.nivo-slice {
	background-color: var(--white) !important;
}

.home-post-section {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(var(--contentPost-height) - var(--postHeader-height)) ;
}

.slider-wrapper {
  position: relative;
}


.slider-wrapper:not(.slider-wrapper-one) {
  padding-bottom: var(--spacing-b-slideshow);
}

  .slider-wrapper:before {
    content: '';
    display: block;
    padding-top: 365px;
  }

.layout-post {
  height: 100%;
}

.nivo-slice, .nivoSlider-loaded.nivoSlider {
  width: 100% !important;
  height: auto !important;
  background-size: cover !important;
  background-position: center !important;
  background-color: var(--white) !important;
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


.theme-default .nivoSlider {
    margin-bottom: 0;
}

.slider-wrapper:not(.slider-wrapper-one) .nivoSlider-loaded.nivoSlider {
  margin-bottom: var(--spacing-b-slideshow);
}

#notifications {
  margin-bottom: 0;
}

.widget-size-2 #novoSliderHome:not(.slider-home-one) + .blog-item .layout-post {
  height: calc((100%) - var(--spacing-b-slideshow));
}

.widget-size-2 #novoSliderHome:not(.slider-home-one) ~ .blog-item .home-post-section {
  height: calc(var(--contentPost-height) - var(--postHeader-height) - var(--spacing-b-slideshow))
}

@media (min-width: 1400px) {
  .slider-wrapper:before {
    padding-top: 500px;
  }


  .non-slide .home-post-section {
    height: 54vh;
  }

}

@media (max-width: 1399px) {

  .non-slide .home-post-section {
    height: 310px;
  }
}

