.itemLibraryTab-list{
    border-bottom: 0 none;
}

.itemLibraryTab-content {
  border: 0 none;
  padding: 0;
  margin-bottom: 0;
}

.form-check-inline label {
  position: relative;
  top: 2px;
}

.accordion-container {
  margin-bottom: 1.5rem;
  border: 1px solid var(--blue3);
}

.accordion-header, .group-bs .group-header {
  background-color: var(--blue1);
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  color: var(--navyColor);
  font-size: var(--fontSizeLabel);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

  .accordion-header:hover, .group-bs .group-header:hover {
    color: var(--navyColor);
  }

  .accordion-header.arrow-expand .icon-arrow {
    transform: rotate(-180deg)
  }

  .accordion-header .icon-arrow {
    transition: .3s;
  }

  .accordion-content {
    border-top: 1px solid var(--blue3);
  }

.tree-wrapper {
  border: 1px solid var(--selectBorder);
}

.tree-wrapper .treeview-list-item-icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display,inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  font-family: "Font Awesome 6 Free" !important;
  font-weight: 900;
  left: -22px;
}

  .tree-wrapper .treeview-list-item.is-child .treeview-list-item-icon:before {
    content: "\f078";
  }

  .tree-wrapper .treeview-list-item .treeview-list {
    margin-top: 12px;
  }

.treeview-list-item {
  margin-bottom: 12px;
}

  .treeview-list-item input[type="checkbox"] {
    float: left;
    margin-right: 8px !important;
  }

.ItemsFromLibraryV2 ul.tagit {
  max-width: inherit;
  min-width: inherit;
  border-radius: 0;
  border-width: 2px;
  position: relative;
  padding: 4px 6px;
  min-height: 124px;
  border: 2px solid var(--selectBorder);
}

#portal-v2-containter .ItemsFromLibraryV2 .tagit input[type=text] {
  font-size: 14px !important;
  padding: 0 4px !important;
  border-width: 0 !important;
  width: auto !important;
}

.tagit-choice-editable {
  padding: 4px 8px !important;
  background: var(--blue3) !important;
  border-radius: 0px !important;
}

.tagit-label {
  margin-right: 8px;
  color: var(--navyColor) !important;
  font-style: normal;
  font-weight: 400;
}

.tagit-close {
  margin-top: -9px !important;
}

ul.tagitSelect li:first-child {
  font-weight: bold;
}

ul.tagitSelect .tagit-new {
  max-width: 169px;
}

ul.tagit li:not(:first-child) ::-webkit-input-placeholder {
  opacity: 0;
}

ul.tagit li:not(:first-child) ::-moz-placeholder {
  opacity: 0;
}

ul.tagit li:not(:first-child) ::-ms-input-placeholder {
  opacity: 0;
}

ul.tagit li:not(:first-child) ::placeholder {
  opacity: 0;
}

.ItemsFromLibraryV2 ul.tagit .tagit-dropdown {
  background-color: var(--white);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 10px;
  right: 3px;
}

#portal-v2-containter .tagit-label {
  padding-right: 5px;
}

.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
  margin: 0;
}
