#portal-v2-containter .no-margin {
  margin: 0;
}

#portal-v2-containter .ui-dialog section {
 margin: 0;
}

#portal-v2-containter .ui-dialog:not([aria-labelledby="ui-dialog-title-divMoveCopyItemSetDialog"]) {
  max-width: 500px;
  width: auto !important;
  height: auto !important;
  padding: 0;
}

#portal-v2-containter .ui-dialog .dialog {
  padding: 0;
}

#portal-v2-containter .ui-dialog .ui-dialog-titlebar-close {
  margin: 0 !important;
  padding: 0 !important;
  top: 32px;
  right: 24px;
  width: 10px;
  height: 14px;
  border: 0 !important;
}

#portal-v2-containter .ui-dialog .ui-dialog-content {
  padding: 0;
  min-height: 0 !important;
}

#portal-v2-containter .ui-dialog .ui-dialog-titlebar {
  width: 100%;
  padding: 0;
  top: 0 !important;
  right: 0 !important;
  min-height: 0 !important;
}

#portal-v2-containter .ui-dialog .ui-dialog-title,
#portal-v2-containter .ui-icon-closethick {
  display: none;
}

#portal-v2-containter .ui-dialog .ui-dialog-titlebar-close:after {
  bottom: unset;
  right: unset
}

#portal-v2-containter .ui-dialog .ui-dialog-content .block-border {
  width: auto !important;
}

#portal-v2-containter .ui-dialog .ui-dialog-content .block-content > div {
  text-align: left !important;
}

#portal-v2-containter .custom-modal .title-label {
  color: var(--navyColor);
  line-height: 162%;
}

#portal-v2-containter .custom-modal .custom-modal-body {
  margin-bottom: 24px;
}

#portal-v2-containter .custom-modal .modal-component-footer {
  margin: 0 -24px -24px;
}

#portal-v2-containter .custom-modal .custom-modal-footer {
  background: var(--navyColor);
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-AddAuthorGroupDialog"] {
    max-height: 85vh;
}

#portal-v2-containter #AddAuthorGroupDialog .wrapper-block {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}

#portal-v2-containter #AddAuthorGroupDialog #reviewList {
  flex-grow: 1;
  overflow: auto;
  padding-right: 10px;
  margin-bottom: 24px;
}

#portal-v2-containter #AddAuthorGroupDialog .line-break {
  width: 100%;
  height: 1px;
  background: var(--borderColor);
  margin: 32px 0;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupConfirmDeleteItemBank"] .ui-dialog-titlebar-close,
#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupConfirmDeleteItemSet"] .ui-dialog-titlebar-close {
  top: 6px;
  right: 8px;
}

#portal-v2-containter .tableWrap {
  max-height: 400px;
  overflow: auto;
  /*border-top: 1px solid var(--borderColor);*/
}

/* Set header to stick to the top of the container. */
#portal-v2-containter .tableWrap thead tr th {
  position: sticky;
  top: 0;
  border-bottom: 0;
}

/* If we use border, we must use table-collapse to avoid a slight movement of the header row */
#portal-v2-containter .tableWrap table {
  border-collapse: separate;
  width: 100% !important;
}

  #portal-v2-containter .tableWrap table th {
    border-top: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);
  }

  #portal-v2-containter .tableWrap table td {
    border-right: 1px solid var(--borderColor);
  }

  #portal-v2-containter .tableWrap table tr:not(:last-child) td {
    border-bottom: 0;
  }


    #portal-v2-containter .tableWrap table th:first-child,
    #portal-v2-containter .tableWrap table td:first-child {
      border-left: 1px solid var(--borderColor);
      border-right: 0;
    }

    #portal-v2-containter .tableWrap table th:nth-child(2),
    #portal-v2-containter .tableWrap table td:nth-child(2) {
      border-right: 0;
    }

  #portal-v2-containter .tableWrap table {
    border-collapse: separate;
    width: 100% !important;
  }

/* No data available in table */
#portal-v2-containter #dataTableItemBank .dataTables_empty,
#portal-v2-containter #dataTableSet .dataTables_empty {
  height: 300px;
  text-align: center;
}

#portal-v2-containter #dataTableItemBank .dataTables_empty div,
#portal-v2-containter #dataTableSet .dataTables_empty div {
  width: 100% !important;
}
/*End*/

#portal-v2-containter #divItemSets {
    position: unset !important;
}

#portal-v2-containter #divItemSets-sticky-wrapper {
    padding-left: 0 !important;
}

#portal-v2-containter tbody td .divContainerStyle {
  width: 100%;
}

#portal-v2-containter #dataTableItemBank thead th:nth-child(1) {
  width: 12% !important;
}

#portal-v2-containter #dataTableSet thead th:nth-child(1) {
  width: 20% !important;
}

#portal-v2-containter thead th.col-action {
  text-align: left !important;
}

@media (max-width: 1300px) and (min-width: 1200px) {
  #portal-v2-containter #dataTableItemBank thead th:nth-child(1) {
    width: 15% !important;
  }

  #portal-v2-containter #dataTableSet thead th:nth-child(1) {
    width: 30% !important;
  }
}

@media (max-width: 1600px) and (min-width: 1301px) {
  #portal-v2-containter #dataTableItemBank thead th:nth-child(1) {
    width: 14% !important;
  }

  #portal-v2-containter #dataTableSet thead th:nth-child(1) {
    width: 25% !important;
  }
}


