#portal-v2-containter table.custom-width-column th {
  width: auto !important;
}

#portal-v2-containter table.custom-width-column th.check-all-class {
  width: 4% !important;
}

#portal-v2-containter table.custom-width-column th.manage-class {
  width: 8% !important;
}

#portal-v2-containter table.custom-width-column th.manage-students {
  width: 9% !important;
}

#portal-v2-containter table.custom-width-column th.actions {
  width: 8% !important;
}

#portal-v2-containter .center-first-column thead tr th:first-child {
  text-align: center;
}

#portal-v2-containter .center-first-column tbody tr td:first-child {
  text-align: center;
}

#portal-v2-containter .center-first-column input[type="checkbox"] {
  margin: 0;
}

#portal-v2-containter table.custom-width-column tbody tr td:nth-child(2),
#portal-v2-containter table.custom-width-column:not(.manage-current-students) tbody tr td:nth-child(6) {
  text-align: center !important;
}

#portal-v2-containter table.custom-width-column .editClass,
#portal-v2-containter table.custom-width-column .deleteClass {
  padding: 0;
  margin-right: 1rem;
}

#portal-v2-containter .last-child table.custom-width-column tbody td span {
  float: none;
}

#portal-v2-containter table.custom-width-column .fa-user-group,
#portal-v2-containter table.custom-width-column .fa-chalkboard-user {
  color: var(--selectColor);
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-assignTeacherDialog"] {
  width: 31.25rem !important;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-assignTeacherDialog"] .ui-dialog-title {
  display: none;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-assignTeacherDialog"] .ui-dialog-titlebar-close {
  right: 1.5rem;
  width: 0.625rem;
  margin: 0;
  padding: 0;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-assignTeacherDialog"] .ui-dialog-titlebar-close span {
  display: none;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-assignTeacherDialog"] .ui-dialog-titlebar-close::after {
  right: 0;
}

#portal-v2-containter .ui-dialog {
  padding: 0 !important;
  position: fixed !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  height: auto !important;
}

#portal-v2-containter .ui-dialog .ui-dialog-content {
  padding: 0 !important;
}

#portal-v2-containter .ui-dialog section {
  margin: 0;
}

#portal-v2-containter .ui-dialog .ui-dialog-titlebar {
  padding: 0;
}

#portal-v2-containter .ui-dialog .ui-dialog-title {
  display: none;
}

#portal-v2-containter .footer-btn-wrapper {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  background: var(--navyColor);
}

#portal-v2-containter .footer-btn-wrapper .footer-btn {
  height: 4.375rem;
}

#portal-v2-containter .footer-btn-wrapper button {
  color: var(--white);
}

#portal-v2-containter #classes-by-teacher-and-school .modal-component:not(.static) > .modal-component-wrapper > .modal-component-container {
  width: 62.5rem !important;
  padding: 0 !important;
}

#portal-v2-containter #classes-by-teacher-and-school .modal-component:not(.static) .modal-component-content .modal-component-header {
 margin-bottom: 1rem;
}

#portal-v2-containter #classes-by-teacher-and-school .modal-component:not(.static) .modal-component-content .modal-component-body {
  padding: 0 1.5rem 1.5rem;
}

#portal-v2-containter #classes-by-teacher-and-school .modal-component:not(.static) > .modal-component-wrapper > .modal-component-container > .modal-component-close {
  display: none;
}

#portal-v2-containter #classes-by-teacher-and-school .modal-component:not(.static) > .modal-component-wrapper > .modal-component-content .modal-component-close {
  width: 1.25rem;
  height: auto;
  right: 1.5rem;
}

#portal-v2-containter #classes-by-teacher-and-school .modal-component.static .modal-component-content .modal-component-header {
  margin-bottom: 0;
}

#portal-v2-containter #classes-by-teacher-and-school .modal-component.static div[slot="body"] p {
  font-weight: 700;
  margin: 0 !important;
}

#portal-v2-containter #classes-by-teacher-and-school .manage-class-toggle .manage-class-legend {
  padding: 0.75rem 1rem;
  background-color: var(--blue1);
  color: var(--navyColor);
  border: 1px solid var(--blue3);
}

#portal-v2-containter #classes-by-teacher-and-school .manage-class-toggle input[type="checkbox"] {
  margin-right: 0.5rem;
}

#portal-v2-containter #classes-by-teacher-and-school .manage-class-toggle.is-toggle #filterContent {
  display: flex;
  padding: 0.75rem 1rem;
  background-color: var(--white);
  color: var(--navyColor);
  border: 1px solid var(--blue3);
  border-top: 0
}

#portal-v2-containter #classes-by-teacher-and-school .manage-class-toggle.is-toggle .icon-arrow {
  transform: rotate(180deg);
}

#portal-v2-containter #classes-by-teacher-and-school .custom-switch {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
  background-position: left center;
  border-radius: 2em;
  transition: background-position .15s ease-in-out;
  width: 2.6rem;
  height: 1.5rem;
  display: inline-block;
  margin: 0;
}

#portal-v2-containter #classes-by-teacher-and-school .custom-switch.active {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  background-position: right center;
  background-color: var(--lightBlue);
  border-color: var(--lightBlue);
}

#portal-v2-containter #classes-by-teacher-and-school .text-switch {
  font-size: 1rem;
  color: var(--navyColor);
}

#portal-v2-containter #classes-by-teacher-and-school .block-footer,
#portal-v2-containter #dataTableClassTeacher_wrapper .block-footer,
#portal-v2-containter #dataTableStudentProgram_wrapper .block-footer,
#portal-v2-containter #dataTablesStudentClasses_wrapper .block-footer,
#portal-v2-containter #dataTableProgram_wrapper .block-footer,
#portal-v2-containter #dataTableAvaiableClasses_wrapper .block-footer {
  display: none;
}

#portal-v2-containter #classes-by-teacher-and-school input[type=checkbox]:disabled + .label-show-selected {
  color: var(--disabledColor);
}

#portal-v2-containter #classes-by-teacher-and-school #datatableSelectedStudentOnly_wrapper {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}

#portal-v2-containter #classes-by-teacher-and-school #datatableSelectedStudentOnly_wrapper > .block-controls {
  order: 1;
  padding: 0;
  margin-top: 0.75rem;
}

#portal-v2-containter #classes-by-teacher-and-school #datatableSelectedStudentOnly_wrapper > .block-controls #datatableSelectedStudentOnly_length {
  float: none;
}

#portal-v2-containter #classes-by-teacher-and-school #datatableSelectedStudentOnly_wrapper > .block-controls #datatableSelectedStudentOnly_length label {
  display: flex;
  align-items: center;
}

#portal-v2-containter #classes-by-teacher-and-school #datatableSelectedStudentOnly_wrapper > .block-controls #datatableSelectedStudentOnly_length select {
  width: 5rem;
  min-width: auto;
}

#portal-v2-containter #classes-by-teacher-and-school .modal-component-manage-class {
  padding-right: 0.375rem;
}

#portal-v2-containter .tabs-content.custom-tabs-content {
  padding: 0;
  border: 0;
  box-shadow: unset;
}

#portal-v2-containter .block-content .no-margin.last-child,
#portal-v2-containter .block-content .no-margin {
  margin: 0;
}

#portal-v2-containter .icon-green {
  color: var(--green2);
}

#portal-v2-containter .ui-widget-overlay {
  background-color: #000000 !important;
  opacity: 0.3 !important;
}

#portal-v2-containter .modal-component {
  background-color: rgba(0, 0, 0, 0.3);
}

#portal-v2-containter #dataTableProgram_wrapper,
#portal-v2-containter #dataTableAvaiableClasses_scroll {
  max-height: 600px;
  padding-right: 8px;
  overflow: auto;
}
#portal-v2-containter .data-search label {
  margin: 0;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-assignTeacherDialog"] + .ui-dialog {
  width: 25rem !important;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-assignTeacherDialog"] + .ui-dialog section {
  width: 100%;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-assignTeacherDialog"] + .ui-dialog .block-border {
  width: 100% !important;
}

#portal-v2-containter .form input:disabled {
    opacity: 0.5;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-deleteClassConfirm"] {
  width: 24rem !important;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-deleteClassConfirm"] .grid_5 {
  float: none;
}

#portal-v2-containter #classes-by-teacher-and-school .modal-component.static.mass-action-modal div[slot="body"] p {
  font-weight: initial;
  margin-bottom: 10px !important;
}

#portal-v2-containter #classes-by-teacher-and-school .mass-action-modal .option-section {
  margin-bottom: 10px;
  position: relative;
}

#portal-v2-containter #classes-by-teacher-and-school .mass-action-modal .add-new-subject-btn {
  width: 100%;
  text-align: right;
  position: absolute;
  transform: translateY(calc(-100% - 8px));
}

#portal-v2-containter #classes-by-teacher-and-school .mass-action-modal .list-subject {
  max-height: 550px;
  overflow: hidden auto;
}

#portal-v2-containter #classes-by-teacher-and-school .mass-action-modal .text-message {
  margin-bottom: 8px;
}

#portal-v2-containter #classes-by-teacher-and-school .mass-action-modal .text-message b > span {
  font-weight: 400;
}

@media (min-width: 1200px) and (max-width: 1699px) {
  #portal-v2-containter table.custom-width-column th.manage-class, #portal-v2-containter table.manage-current-students th.actions {
    width: 11% !important;
  }

  #portal-v2-containter table.custom-width-column th.manage-students {
    width: 13% !important;
  }

  #portal-v2-containter #classes-by-teacher-and-school .modal-component:not(.static) > .modal-component-wrapper > .modal-component-container .modal-component-manage-class {
    max-height: 570px;
  }

  #portal-v2-containter #dataTableProgram_wrapper,
  #portal-v2-containter #dataTableAvaiableClasses_scroll {
    max-height: 400px;
    overflow: auto;
  }
}

@media (min-width: 1700px) and (max-width: 1920px) {
  #portal-v2-containter table.custom-width-column th.manage-class, #portal-v2-containter table.manage-current-students th.actions {
    width: 9% !important;
  }

  #portal-v2-containter table.custom-width-column th.manage-students {
    width: 10% !important;
  }
}


