#portal-v2-containter #manageClass {
  padding: 24px;
}

#portal-v2-containter #detailDiv {
  padding: 0 24px 24px;
}

#portal-v2-containter .block-border .filter-group {
  padding: 24px;
}

#portal-v2-containter h1 {
  padding: 0;
  margin-bottom: 24px;
}

#portal-v2-containter .background-filter {
  padding: 0;
  display: flex;
  margin-bottom: 0;
  width: 100%;
  align-items: flex-end;
}

#portal-v2-containter .background-filter .fileter-item .block-text-name {
  width: 100% !important;
}

#portal-v2-containter .fileter-item  {
  width: 100%;
}

#portal-v2-containter .fileter-item {
  margin-right: 12px;
}

#portal-v2-containter .fileter-item:last-child {
  margin-right: 0;
}

#portal-v2-containter .btn-container {
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 25%;
}

#portal-v2-containter .btn-container button {
 flex-shrink: 0;
}

#portal-v2-containter #detailDiv .block-pagination {
    margin-bottom: 0;
}

#portal-v2-containter #detailDiv .grid-full-with {
    margin-bottom: 24px
}

#portal-v2-containter #dataTable_wrapper,
#portal-v2-containter #dataTableTerms_wrapper {
  margin-bottom: 0 !important;
}

#portal-v2-containter .block-content {
    padding: 24px;
}

@media (max-width: 1440px) and (min-width: 1200px) {
  #portal-v2-containter .btn-container {
    width: 32%;
  }
}
  
