#portal-v2-containter .block-content {
  padding: 24px !important
}

#portal-v2-containter .block-content h1 {
    padding: 0 !important;
    margin-bottom: 24px;
}

#portal-v2-containter .block-content fieldset {
  padding: 0 !important;
}

#portal-v2-containter .btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
}


#portal-v2-containter .block-content .no-margin {
    margin-left: 0;
    margin-right: 0;
}

#portal-v2-containter .last-child thead .column-sort {
    top: 2px;
}

#portal-v2-containter .block-content-dropdown-marquee {
    display: inherit !important;
}

#portal-v2-containter .block-text-name {
    width: 100% !important;
}

#portal-v2-containter .block-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0 !important;
}

#portal-v2-containter .block-heading h1 {
  margin-bottom: 0 !important;
}

#portal-v2-containter .actionIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 1rem;
  padding-left: 0;
}

#portal-v2-containter .icon-green {
  color: var(--green2);
}

#portal-v2-containter .icon-red {
  color: var(--red);
}

#portal-v2-containter #dataTable tbody td:first-child:not(:empty) {
  text-align: center;
}
/*Style modal confirm*/
#portal-v2-containter .ui-dialog {
  border-radius: 0 !important;
  height: auto !important;
  width: auto !important;
  padding: 0 !important;
}

#portal-v2-containter .ui-dialog-titlebar {
    display: none;
}

#portal-v2-containter .ui-dialog .ui-dialog-content {
    padding: 0 !important;
}

#portal-v2-containter #confirmCloseDialog section {
    margin: 0 !important;
}

#portal-v2-containter .ui-widget-overlay {
  background: none !important;
  background-color: var(--textColor) !important;
}

#portal-v2-containter #confirmCloseDialog .foot-content .red-btn:hover {
  background-color: var(--redHover);
}
