#portal-v2-containter table input[type=checkbox]:not(.form-check-input) {
  margin-right: 0;
}

#portal-v2-containter #available-student input[type=checkbox]:disabled + .label-show-selected {
  color: var(--disabledColor);
}

#portal-v2-containter .availableStudentsEnhancements #datatableSelectedStudentOnly tbody tr td:first-child {
  text-align: center;
}

@media (min-width: 1200px) and (max-width: 1699px) {
  #portal-v2-containter #available-student .modal-component-manage-class  {
    max-height: 570px;
  }
}
