.fieldset-label {
  font-weight: 700 !important;
  font-size: 1.375rem !important;
  line-height: 1.455 !important;
}


.field-set-block {
    padding: 0 !important
}


.page-label {
  font-weight: 700 !important;
  font-size: 2rem !important;
  line-height: 1.4 !important;
}

.block-section {
  background: white;
  padding: 24px;
}

#portal-v2-containter .monitor-online-test-v2 .btn-clear-filter,
#portal-v2-containter .monitor-online-test-v2 .btn-apply-filter {
  width: 105px;
  height: 44px;
  border: none;
}

#portal-v2-containter .monitor-online-test-v2 .btn-clear-filter {
  color: var(--red);
  margin: 0;
}

#portal-v2-containter .monitor-online-test-v2 .btn-clear-filter i {
  color: var(--red);
}

#portal-v2-containter .monitor-online-test-v2 .btn-apply-filter {
  color: var(--white);
  background-color: var(--red);
  padding: 5px;
}

.block-footer span {
    font-weight: bold;
}

#divClassMonitorTest .no-margin {
  margin: 0;
}

.form-switch {
  padding: 0;
  position: absolute;
  margin-top: 14px;
}

.bubbleSheetSelector select {
    max-width: 200px;
}

#portal-v2-containter .block-text-modify {
  width: 100% !important;
}

@media (min-width: 1400px) {
  .width-table-column {
    width: 4%;
  }

  .th-nowrap-md-default {
    min-width: 40px;
    display: inline-block;
    white-space: nowrap;
  }
}

@media (max-width: 1399px) and (min-width: 1200px) {
  .width-table-column {
    width: 5%;
  }
}
/*========= monitor-test-popup ============*/
#portal-v2-containter .note-item div {
  padding: 8px;
  margin-right: 8px;
}

.note-yellow, .note-start {
  margin-left: 10px;
}


.message .no-margin {
  border: none;
}

.popupProctorTestView {
    margin-bottom: 0;
}

.popupProctorTestView .questions {
  padding: 0 !important;
}

.popupProctorTestView .questions .question-number {
  margin-right: 2px;
}

#portal-v2-containter .btn-cancel {
  background-color: var(--red);
  border: none !important;
  color: white;
  padding: 12px 15px !important;
}

#portal-v2-containter .btn-popup {
  border: 2px solid var(--blue3);
  padding: 10px 15px;
}

.table-proctor-testview tbody td.testStatusNotStarted,
.table-proctor-testview tbody tr:nth-child(2n) td.testStatusNotStarted {
  background-color: #d9534f !important;
}

.table-proctor-testview tbody td.testStatusNotStarted:hover,
.table-proctor-testview tbody td.testStatusNotStarted:focus,
.table-proctor-testview tbody tr:hover > td.testStatusNotStarted,
.table-proctor-testview tbody tr:focus > td.testStatusNotStarted {
  background-color: #d9534f !important;
}

.table-proctor-testview tbody td.testStatusPaused,
.table-proctor-testview tbody tr:nth-child(2n) td.testStatusPaused {
  background-color: var(--orange4) !important;
}

.table-proctor-testview tbody td.testStatusPaused:hover,
.table-proctor-testview tbody td.testStatusPaused:focus,
.table-proctor-testview tbody tr:hover > td.testStatusPaused,
.table-proctor-testview tbody tr:focus > td.testStatusPaused {
  background-color: var(--orange4) !important;
}

.table-proctor-testview tbody td.testStatusManualReview,
.table-proctor-testview tbody tr:nth-child(2n) td.testStatusManualReview {
  background-color: #f0ad4e !important;
}

.table-proctor-testview tbody td.testStatusManualReview:hover,
.table-proctor-testview tbody td.testStatusManualReview:focus,
.table-proctor-testview tbody tr:hover > td.testStatusManualReview,
.table-proctor-testview tbody tr:focus > td.testStatusManualReview {
  background-color: #f0ad4e !important;
}

.table-proctor-testview tbody td.testStatusCompleted,
.table-proctor-testview tbody tr:nth-child(2n) td.testStatusCompleted {
  background-color: var(--blue8) !important;
}

  .table-proctor-testview tbody td.testStatusCompleted:hover,
  .table-proctor-testview tbody td.testStatusCompleted:focus,
  .table-proctor-testview tbody tr:hover > td.testStatusCompleted,
  .table-proctor-testview tbody tr:focus > td.testStatusCompleted {
    background-color: var(--blue8) !important;
  }

.table-proctor-testview tbody td.testStatusNotActive,
.table-proctor-testview tbody tr:nth-child(2n) td.testStatusNotActive {
  background-color: #d9534f !important;
}

.table-proctor-testview tbody td.testStatusNotActive:hover,
.table-proctor-testview tbody td.testStatusNotActive:focus,
.table-proctor-testview tbody tr:hover > td.testStatusNotActive,
.table-proctor-testview tbody tr:focus > td.testStatusNotActive {
  background-color: #d9534f !important;
}

.table-proctor-testview tbody td.testStatusAutograding,
.table-proctor-testview tbody tr:nth-child(2n) td.testStatusAutograding {
  background-color: var(--bg-white) !important;
  color: var(--black) !important;
}

  .table-proctor-testview tbody td.testStatusAutograding:hover,
  .table-proctor-testview tbody td.testStatusAutograding:focus,
  .table-proctor-testview tbody tr:hover > td.testStatusAutograding,
  .table-proctor-testview tbody tr:focus > td.testStatusAutograding {
    background-color: var(--bg-white) !important;
    color: var(--black) !important;
  }

.table-proctor-testview tbody td.testStatusInProgress,
.table-proctor-testview tbody tr:nth-child(2n) td.testStatusInProgress {
  background-color: var(--yellow3) !important;
}

  .table-proctor-testview tbody td.testStatusInProgress:hover,
  .table-proctor-testview tbody td.testStatusInProgress:focus,
  .table-proctor-testview tbody tr:hover > td.testStatusInProgress,
  .table-proctor-testview tbody tr:focus > td.testStatusInProgress {
    background-color: var(--yellow3) !important;
  }

.popupTitle {
  border-color: unset;
  background: unset;
  border: none;
  margin-top: 20px;
  box-shadow: unset;
  text-shadow: unset;
  padding: 0;
}

#titleHeader {
  font-size: 1.3rem;
  color: black;
  font-weight: bold;
}

#portal-v2-containter  #popupContainer {
  padding: 0 !important;
  width: 100% !important;
}

#portal-v2-containter .popupProctorTestView .questions .question-number {
  height: 29px;
  width: 35px;
  text-align: center;
  padding: 2px 0;
}

#portal-v2-containter .popup-alert .popup-alert-border {
  border: none;
  box-shadow: unset;
  padding: 0;
  border-radius: 0;
}

#portal-v2-containter .popup-alert .popup-alert-border .popup-alert-content {
  border: none;
  box-shadow: unset;
  padding: 0;
  border-radius: 0;
}

#portal-v2-containter .popup-alert .popup-alert-border .popup-alert-content .popup-alert-table td {
  height: 64px;
  padding: 0;
  border: none;
}

#portal-v2-containter .popup-alert .popup-alert-border .popup-alert-content .popup-alert-table p {
  margin-bottom: 0;
  padding: 20px 15px;
  font-size: 1rem;
  font-weight: bold;
}

#portal-v2-containter .popup-alert-controls {
  background: var(--navyColor);
  height: 70px;
  margin: 0 -1px -1px -1px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
}

#portal-v2-containter .popup-alert-controls button {
  color: white;
  height: 48px;
  background-color: transparent;
  padding: 8px 32px;
}

#portal-v2-containter .popup-alert-controls button:first-child {
  background-color: var(--red);
}

#portal-v2-containter .monitor-online-test-v2 .btn-apply-filter:hover {
  background-color: var(--lightRed);
}

.btn-clear-filter:active, .btn-clear-filter:active i {
  color: var(--disabledColorBg) !important;
}

.btn-clear-filter:hover, .btn-clear-filter:hover i {
  color: var(--lightRed) !important;
}

#divClassMonitorTest .block-content {
  padding: 24px !important;
}

#portal-v2-containter .monitor-online-test-v2 {
   background-color: var(--white);
}
#portal-v2-containter #popupProctorTestView .btn-cancel {
  background-color: var(--red) !important;
  border: none !important;
  color: var(--white);
  padding: 12px 15px !important;
  height: auto;
}
#portal-v2-containter .dialog-manual-grading #popupContainer {
  background-color: var(--white);
  box-shadow: 0px 4px 20px 0px rgb(0 0 0 / 30%);
}

.ui-dialog .ui-dialog-titlebar {
  padding: 0px !important;
  top: 12px !important;
  right: -16px !important;
}
#portal-v2-containter .popup-alert-table p {
  font-weight: normal !important;
}

@media (max-width: 1399px) and (min-width: 1200px) {
  .block-section {
    padding: 16px;
  }

  #selectFilters .col-2 {
      width: 20%;
  }

  #selectFilters .action {
    margin-left: 0;
    margin-right: -3px;
    justify-content: flex-end;
    margin-top: calc(var(--spacing) * 2);
  }

  #portal-v2-containter .block-text-modify {
      width: 100% !important;
  }
}
