
#portal-v2-containter .container_12 {
  width: 100%;
}

#portal-v2-containter .block-text-name {
  width: 100% !important;
}

#portal-v2-containter .block-content .no-margin {
  margin-left: 0;
  margin-right: 0;
}

#portal-v2-containter .block-content {
  padding: 24px !important;
  width: 100%;
}

#portal-v2-containter .no-margin .last-child {
  margin-bottom: 24px;
}

#portal-v2-containter .block-content h1 {
  padding: 0 !important;
}

#portal-v2-containter .bubbleSheetSelector fieldset {
  padding: 0 !important;
}
