.ui-widget-header {
  right: 5px;
}

.passage {
  margin-bottom: 0;
  overflow: auto;
  max-height: 60vh;
  width: 100%;
}
.popup-fullpage-content .passage{
  max-height: none;
}


  .passage .passage {
      padding: 0;
      max-height: inherit;
  }

.assessmentItem {
  width: 100%;
}

#divPassageDetail .passage ol li:before {
  content: unset !important;
}

#divPassageDetail .passage ol {
  margin: 8px 0 8px 30px;
}

#divPassageDetail .passage ul {
  margin: 8px 0 8px 25px;
  padding: 0;
}

  #divPassageDetail .passage ul li {
    list-style: disc !important;
    list-style-position: outside;
    list-style-type: circle;
  }

#divPassageDetail .passage p {
  margin-bottom: 0;
}

#divPassageDetail sup {
  font-size: smaller;
}
#divPassageDetail ol, #divPassageDetail ul {
  list-style: auto;
}

#divPassageDetail.is-qti3p-passage table:not([border="1"]) tbody td {
  border:unset;
  padding: initial;
}
#divPassageDetail.is-qti3p-passage *{
  font-size:inherit;
  font-family:inherit;
  font-weight:inherit
}
