#divQtiItemDetail .mainBody ol, #divQtiItemDetailVirtualTest ol {
  padding: 0 26px;
}

#divQtiItemDetail .itemBody, #divQtiItem3pDetail .itemBody {
    overflow: visible;
}

#divEditItem .choiceInteraction li > div, #divQtiItemDetail .choiceInteraction li > div, #divQtiItem3pDetail .choiceInteraction li > div {
  margin-top: 0px !important;
}

#divEditItem .choiceInteraction li,
#divQtiItemDetail .choiceInteraction li,
#divQtiItem3pDetail .choiceInteraction li {
    display: block;
    padding: 8px 0;
}

#divQtiItemDetail .assessmentItem {
  border: none !important;
}
