.noPadding {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

#divQtiItemDetail .assessmentItem:before,
#divQtiItem3pDetail .assessmentItem:before {
  content: '';
}

#divQtiItemDetail .simpleChoice,
#divQtiItem3pDetail .simpleChoice {
  list-style: none outside none;
}

#editQtiItemDialog .block-content {
  padding-top: 10px;
}

.choiceInteraction {
  counter-reset: my-counter;
  display: inline-block;
}

  .choiceInteraction .simpleChoice:before,
  .choiceInteraction .simpleChoiceMainBody:before {
    content: counter(my-counter, upper-latin)'.';
    counter-increment: my-counter;
    padding: 0 10px 10px 0;
    color: var(--black);
    font-weight: normal;
    line-height: 24px;
  }

  .choiceInteraction .simpleChoiceMainBody:before {
    left: 0;
  }

  .choiceInteraction .answerText,
  .choiceInteraction .simpleChoice {
    display: block;
    margin: 5px 0;
  }

.answerText:before {
  content: counter(my-counter, upper-latin)'.';
  counter-increment: my-counter;
  float: left;
  color: var(--black);
  font-weight: normal;
  position: inherit;
  margin-left: -18px;
}

.answerTextIndent {
  text-indent: 10px;
}

.answerText2:before {
  content: counter(my-counter,decimal)'.';
  counter-increment: my-counter;
  float: left;
  text-indent: 10px;
  color: var(--black);
  font-weight: normal;
}

.choiceInteraction .simpleChoice2:before {
  content: counter(my-counter,decimal)'.';
  color: var(--black);
  font-weight: normal;
}

.choiceInteraction .simpleChoice2MainBody:before {
  content: counter(my-counter,decimal)'.';
  float: left;
  color: var(--black);
  font-weight: normal;
}

inlineChoiceInteraction, .inlineChoiceInteraction {
  margin: 0 8px 8px 0;
}

textEntryInteraction, .textEntryInteraction {
  margin: 0 8px 8px 0;
}

.itemBody, .itembody {
  /*overflow: hidden;*/
}

.partialDestinationObject[type=text] {
  border-radius: 0;
  border: solid 1px var(--borderColor);
  padding: 2px;
  display: inline-block;
  font-style: italic;
  min-width: 50px;
  min-height: 20px;
  color: var(--borderColor);
  margin: 2px 5px;
  overflow: hidden;
}




#listReference li {
  background-color: #F9F9F9;
  border: 1px solid #DCDCDC;
  border-radius: 8px;
  float: left;
  margin: 5px 5px 5px 0;
  padding: 2px;
  cursor: pointer;
}

  #listReference li .delReference {
    background: url("images/delete.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 solid #FFFFFF;
    cursor: pointer;
    height: 24px;
    width: 24px;
  }

  #listReference li .viewReference {
    background: url("images/view.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 solid #FFFFFF;
    cursor: pointer;
    height: 24px;
    width: 24px;
  }

.simpleChoiceMainBody,
.simpleChoice2MainBody {
  clear: both;
}

.choiceInteraction img {
  margin-top: 0px;
}

.mainBody p {
  line-height: 1.57143em;
}

#divQtiItemDetail .itemBody,
#divQtiItem3pDetail .itemBody {
  overflow: auto;
  max-height: 60vh;
  width: 100%;
}

#divQtiItemDetail .assessmentItem img,
#divQtiItem3pDetail .assessmentItem img {
  max-width: none; /*Linkit need to see real image, a scrollbar is displayed if it's too big*/
}


partialsequence{
    border: 0 none;
    background-color: transparent;
}

#qtiItemQuestion {
  border: 2px solid var(--borderColor);
  padding: .65rem 1rem .65rem .59rem;
  margin-bottom: var(--spacingDefault);
}


.modal-component-body {
  display: flex;
  flex-direction: column;
}

.itembody .mainBody {
  font-family: "Roboto" !important;
}

.line-matching sourceobject[type="image"] {
  position: relative;
  margin: 1px;
}

.line-matching .text-wrapper {
  display: inline-block;
  position: relative;
}

.line-matching sourceobject:after {
  display: none !important;
}

.line-matching sourceobject {
  padding: 8px !important;
}

.line-matching sourceobject[type="image"] .anchor,
.line-matching div.partialDestinationObject[type="image"] .hotSpot,
.line-matching .text-wrapper .anchor {
  width: 10px !important;
  height: 10px !important;
  content: "";
  border-radius: 50%;
  background-color: #1e1e54;
  color: #1e1e54;
  position: absolute;
  border: none;
  cursor: pointer;
}

.line-matching.object-right sourceobject[type="image"] .anchor {
  top: 50%;
  margin-top: -5px;
  right: 7px;
}

.line-matching.object-right sourceobject[type="image"] {
  padding-right: 25px !important;
}

.line-matching.destination-left div.partialDestinationObject[type="image"] {
  margin-left: 25px !important;
}

.line-matching.destination-left div.partialDestinationObject[type="image"] .hotSpot {
  left: -18px !important;
}

.line-matching.object-left sourceobject[type="image"] .anchor {
  top: 50%;
  margin-top: -5px;
  left: 7px;
}

.line-matching.object-left sourceobject[type="image"] {
  padding-left: 25px !important;
}

.line-matching.destination-right div.partialDestinationObject[type="image"] {
  margin-right: 25px !important;
}

.line-matching.destination-right div.partialDestinationObject[type="image"] .hotSpot {
  left: calc(100% + 8px) !important;
}

.line-matching.object-right .text-wrapper.object .anchor {
  top: 50%;
  margin-top: -5px;
  right: 7px;
}

.line-matching.object-right .text-wrapper.object {
  padding-right: 25px !important;
}

.line-matching.destination-left .text-wrapper.destination {
  padding-left: 25px !important;
}

.line-matching.destination-left .text-wrapper.destination .anchor {
  left: 7px !important;
  top: 50%;
  margin-top: -5px;
}

.line-matching.object-left .text-wrapper.object .anchor {
  top: 50%;
  margin-top: -5px;
  left: 7px;
}

.line-matching.object-left .text-wrapper.object {
  padding-left: 25px !important;
}

.line-matching.destination-right .text-wrapper.destination {
  padding-right: 25px !important;
}

.line-matching.destination-right .text-wrapper.destination .anchor {
  right: 7px !important;
  top: 50%;
  margin-top: -5px;
}

.line-matching.object-bottom sourceobject[type="image"],
.line-matching.object-bottom .text-wrapper.object {
  padding-bottom: 20px !important;
}
.line-matching.object-bottom sourceobject[type="image"] .anchor,
.line-matching.object-bottom .text-wrapper.object .anchor {
  left: 50%;
  top: 100%;
  margin-left: -5px;
  margin-top: -15px;
}
.line-matching.destination-top div.partialDestinationObject[type="image"],
.line-matching.destination-top .text-wrapper.destination {
  padding-top: 20px !important;
}
.line-matching.destination-top div.partialDestinationObject[type="image"] .hotSpot,
.line-matching.destination-top .text-wrapper.destination .anchor {
  top: 0 !important;
  margin-top: 5px;
}
.line-matching.destination-top .text-wrapper.destination .anchor,
.line-matching.destination-bottom .text-wrapper.destination .anchor,
.line-matching.object-top sourceobject[type="image"] .anchor,
.line-matching.object-top .text-wrapper.object .anchor {
  left: 50%;
  margin-left: -5px;
}

.line-matching.object-top sourceobject[type="image"],
.line-matching.object-top .text-wrapper.object {
  padding-top: 20px !important;
}
.line-matching.object-top sourceobject[type="image"] .anchor,
.line-matching.object-top .text-wrapper.object .anchor {
  top: 0;
  margin-top: 5px;
}
.line-matching.destination-bottom div.partialDestinationObject[type="image"],
.line-matching.destination-bottom .text-wrapper.destination {
  padding-bottom: 20px !important;
}
.line-matching.destination-bottom div.partialDestinationObject[type="image"] .hotSpot,
.line-matching.destination-bottom .text-wrapper.destination .anchor {
  top: 100% !important;
  margin-top: -15px;
}
