

.file_upload_datafile, .file_upload_blackboard {
  width: auto !important;
  height: auto !important;
  overflow: inherit !important;
  text-align: left !important;
  line-height: inherit !important;
  background: none !important;
  float: none;
  margin: 0;
  display: inline-block;
  text-transform: none;
  font-weight: bold;
  font-family: 'Roboto', Verdana, Arial, Helvetica, sans-serif;
  border: 0 none;
  cursor: pointer;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
  cursor: pointer;
}

  .file_upload_datafile input[type="file"],
  .file_upload_blackboard input[type="file"] {
    left: 0;
  }

  .file_upload_datafile:before {
  content: 'QTI';
  display: inline-block;
  color: var(--navyColor);
}

  .file_upload_datafile:hover:before {
    color: var(--blueHover);
  }

  .file_upload_blackboard:before {
    content: 'Exam View';
    display: inline-block;
    color: var(--navyColor);
  }

  .file_upload_blackboard:hover:before {
    color: var(--blueHover);
  }

#file_upload_blackboard {
  display: none !important;
}

button {
  margin-left: 20px;
}

#portal-v2-containter #qtiItemDataTable thead .col-action {
  text-align: center !important;
}




#divQtiiTemListView .itemtypeonimage {
  max-width: 100%;
  height: auto !important;
  width: auto !important;
}

  #divQtiiTemListView .itemtypeonimage img,
  #divQtiiTemListView .mainBody img{
    max-width: 100%;
    height: auto;
  }

.modal-component-body {
    display: flex;
    flex-direction: column;
}

  @media (max-width: 1399px) {
    .QTIItem-v2 .btn-secondary-link {
      padding-right: 0.25rem;
    }

    button {
      margin-left: 8px;
    }
  }









/*Linkit Style Sheet*/
.mainBody,
.mainbody {
  font-size: 14px;
}

/*TEST ITEM STYLES*/
.referenceObject {
  display: none;
}

.testTitle {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif, "dejavu_sansbook";
}

.inlineChoice {
  display: none;
}

.answer {
  text-align: left;
  font-size: 14px;
  padding: 0 8px;
  vertical-align: top;
}

.ItemContentSpan {
  line-height: 130%;
}

.ItemContentIGE {
  line-height: 100%;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.variable {
  font-style: italic;
}

.word-callout {
  text-decoration: underline;
}

.content-emphasis {
  font-weight: bold;
  color: var(--red);
}

.short-quote {
  font-weight: bold;
}

.book-title-k5 {
  text-decoration: underline;
}

.book-title {
  font-style: italic;
}

.proper-name {
  font-style: italic;
}

.text-block {
  text-indent: 60px;
  font-family: Georgia;
}

.block-quote {
  text-indent: 60px;
  font-family: Georgia;
}

.equation-block {
  text-align: center;
}

.blockQuote {
  text-indent: 60px;
  font-family: Georgia;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.sup,
sup {
  vertical-align: super;
  font-size: smaller;
  padding-left: 2px;
}

.sub,
sub {
  vertical-align: -15%;
  font-size: 70%;
  padding-left: 2px;
}

.nobreak {
  page-break-inside: avoid;
}

.class3 {
  text-align: center;
  line-height: 100%;
}

.imageBlock {
  text-align: center;
  line-height: 100%;
}

.answer .imageBlock {
  text-align: left;
  line-height: 100%;
}

.filterLabel {
  font-weight: bold;
}

img[isMathAlt="true"] {
  display: none;
}

.no-border-linkit-table {
  border: 1px solid transparent;
}

  .no-border-linkit-table tr td {
    border: solid 0 var(--black);
  }

.boxedText {
  padding: 0 5px;
  border: 1px solid var(--black);
  display: inline-block;
  margin-bottom: 5px;
}

  partialsequence sourceitem,
  partialsequence .sourceItem {
    box-sizing: border-box;
    display: block;
  }

.hotspot-checkbox,
.hotspot-circle {
  width: 19px;
  height: 19px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 1;
  top: 3px;
}

.hotspot-checkbox {
  background: url("/Content/themes/TestMaker/plugins/tablehotspotselection/icons/unchecked.png") no-repeat;
}

  .hotspot-checkbox.selected {
    background: url("/Content/themes/TestMaker/plugins/tablehotspotselection/icons/checked.png") no-repeat;
  }

.hotspot-circle {
  background: url("/Content/themes/TestMaker/plugins/tablehotspotselection/icons/unchecked-circle.png") no-repeat;
}

  .hotspot-circle.selected {
    background: url("/Content/themes/TestMaker/plugins/tablehotspotselection/icons/checked-circle.png") no-repeat;
  }

.extendedTextInteraction {
  overflow: hidden;
}

#glossaryContainer {
  page: test-section;
}

.img_type_pin {
  border-radius: 100%;
  background-color: black;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

.img_type_pin_item {
  border-radius: 100%;
  background-color: black;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-top: 15px;
}

.itemtypeonimage .inlineChoiceInteraction,
.itemtypeonimage .textEntryInteraction {
  width: 100%;
}



/*Page Stylesheet*/
.img-action {
  margin-right: 4px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding-top: 10px
}

.qtiItemSelector select {
  min-width: 300px;
  max-width: 300px;
}

#qtiItemDataTable_wrapper .answer {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif, dejavu_sansbook;
  font-size: 14px;
  color: var(--dark);
}

.drawTool {
  display: none;
}

#qtiItemDataTable_wrapper .normalText {
  font-size: 14px;
}

.numberline-preview {
  position: relative;
  display: inline-block;
}

.numberline-hotspot {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #c7f1d5;
  display: inline-block;
  border: 2px solid #88b088;
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 100%;
}

  .numberline-hotspot[data-correct="true"],
  .numberline-hotspot[data-correct="false"]:not([data-point="0"]) {
    border: 2px solid darkgreen;
    background: #6bc287 !important;
  }

.uploadify-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.uploadify:hover .uploadify-button {
  background-color: transparent;
}


.uploadify-progress {
  display: none;
}

.fileName {
  display: none;
}

.cancel {
  display: none;
}

.uploadify-queue-item {
  display: none;
}

.uploadifive-button {
  text-shadow: unset !important;
}
