#portal-v2-containter #dataTable_wrapper {
  margin: 0;
}

#portal-v2-containter .data-search label {
  margin: 0;
}

#portal-v2-containter .ui-dialog section,
#portal-v2-containter section {
  margin: 0;
}

#portal-v2-containter .ui-dialog {
  height: auto !important;
  width: auto !important;
  max-width: 500px;
  padding: 0;
}

#portal-v2-containter .ui-dialog .ui-dialog-content {
  padding: 0;
  min-height: 0 !important;
}

#portal-v2-containter .ui-dialog .ui-dialog-titlebar {
  padding: 0;
}

#portal-v2-containter .ui-dialog .ui-dialog-title {
  display: none;
}

#portal-v2-containter .ui-dialog .ui-dialog-content .block-border {
  width: auto !important;
}

#portal-v2-containter .table-review-bubble-sheets tbody td:nth-child(3),
#portal-v2-containter .table-review-bubble-sheets tbody td:nth-child(4),
#portal-v2-containter .table-review-bubble-sheets tbody td:nth-child(5),
#portal-v2-containter .table-review-bubble-sheets tbody td:nth-child(6),
#portal-v2-containter .table-review-bubble-sheets tbody td:nth-child(7) {
  word-break: keep-all;
}

#portal-v2-containter #reviewDetailsContent .line-break {
  height: 1px;
  width: 100%;
  background: #F0F0F0;
  margin: 2rem 0;
}

#portal-v2-containter table .keywords li {
  text-transform: unset;
  border-radius: 0;
}

#portal-v2-containter #reviewDetailsContent #manEntryGuide {
  border: 1px solid var(--blue3);
  border-top: 0;
  background-color: white;
  padding: 1rem;
}

#portal-v2-containter #reviewDetailsContent .egLeft {
  width: 100px;
  padding-left: 1rem;
  margin-right: 65px;
  color: var(--navyColor);
  font-weight: 700;
  line-height: 162% !important;
}

#portal-v2-containter #reviewDetailsContent .egRight {
  color: var(--navyColor);
  line-height: 162% !important;
}

#portal-v2-containter #reviewDetailsContent ul {
  padding: 0;
  margin: 0;
}

#portal-v2-containter #reviewDetailsContent .keywords li.blue {
  background: none;
  color: var(--blue2);
  font-weight: 400;
}

#portal-v2-containter #reviewDetailsContent #gradingShortcutDiv table tr td {
  border: 0;
}

#portal-v2-containter #reviewDetailsContent #gradingShortcutDiv .caution {
  background-color: var(--blue1);
  padding: 0.75rem 0.875rem;
}

#portal-v2-containter #reviewDetailsContent .wrapper-img,
#portal-v2-containter #blockAssignStudent .wrapper-img {
  border: 1px solid var(--blue3);
  padding: 0.5rem;
}

#portal-v2-containter #reviewDetailsContent .custom-collapse {
  padding: 0.75rem 0.875rem;
  background: var(--blue1) !important;
  color: var(--navyColor);
  border: 1px solid var(--blue3);
  cursor: pointer;
}

#portal-v2-containter #reviewDetailsContent .custom-collapse .icon-arrow {
  font-size: 0.875rem;
}

#portal-v2-containter #reviewDetailsContent .submissions .th-action {
  width: 10%;
}

#portal-v2-containter #reviewDetailsContent .btn-upload-file .upload-artifact-wrapper {
  position: relative;
}

#portal-v2-containter #reviewDetailsContent .btn-upload-file {
  border: 2px solid var(--red);
  padding: 11px 32px;
}

#portal-v2-containter .custom-zindex {
  z-index: auto !important;
}

#portal-v2-containter .table-bubblesheet-page-detail .th-status {
  width: 18%;
}

#portal-v2-containter .table-bubblesheet-page-detail .th-items-processed {
  width: 20%;
}

#portal-v2-containter .table-bubblesheet-page-detail .th-points-earned {
  width: 12%;
}

#portal-v2-containter table.table-bubblesheet-page-detail tbody td .keywords {
  margin: 0;
  padding: 0;
}

#portal-v2-containter table.table-bubblesheet-page-detail tbody td .keywords li:nth-child(2) {
  margin-top: 0.5rem;
}

#portal-v2-containter .bubbleSheetClassReviewStatusColor {
  width: 1rem;
  height: 1rem;
}

#portal-v2-containter .bubbleSheetClassReviewTable td.is-finished::before,
#portal-v2-containter .bubbleSheetClassReviewTable td.is-review::before,
#portal-v2-containter .bubbleSheetClassReviewTable td.is-not-grading::before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-top: 1.5rem solid transparent;
  border-left: 1.5rem solid transparent;
  position: absolute;
  top: 0;
  left: unset !important;
  right: 0 !important;
  opacity: 1!important;
  background-color: transparent !important;
}

#portal-v2-containter .bubbleSheetClassReviewTable td.is-missing,
#portal-v2-containter .bubbleSheetClassReviewTable td.is-missing.currentRow {
  background-color: #FF9999;
}

#portal-v2-containter .bubbleSheetClassReviewTable td.is-multi-mark,
#portal-v2-containter .bubbleSheetClassReviewTable td.is-multi-mark.currentRow {
  background-color: var(--yellow3);
}

#portal-v2-containter .bubbleSheetClassReviewTable td.is-incomplete,
#portal-v2-containter .bubbleSheetClassReviewTable td.is-incomplete.currentRow {
  background-color: #FEEEB5;
}

#portal-v2-containter .bubbleSheetClassReviewTable td.is-open-ended,
#portal-v2-containter .bubbleSheetClassReviewTable td.is-open-ended.currentRow {
  background-color: #B9A4E6;
}

#portal-v2-containter .bubbleSheetClassReviewTable td.is-finished,
#portal-v2-containter .bubbleSheetClassReviewTable td.is-review,
#portal-v2-containter .bubbleSheetClassReviewTable td.is-not-grading {
  position: relative;
}

#portal-v2-containter .bubbleSheetClassReviewTable td.is-finished::before {
  border-top-color: var(--green2);
}

#portal-v2-containter .bubbleSheetClassReviewTable td.is-review::before {
  border-top-color: var(--yellow2);
}

#portal-v2-containter .bubbleSheetClassReviewTable td.is-not-grading::before {
  border-top-color: var(--red);
}

#portal-v2-containter #BubbleSheetClassReview .handsontable td {
  white-space: nowrap;
}

#portal-v2-containter #BubbleSheetClassReview .handsontable th {
  white-space: nowrap;
}

#portal-v2-containter #BubbleSheetClassReview .handsontable input {
  margin: 0;
}

#portal-v2-containter #BubbleSheetClassReview .handsontable tr {
  height: 56px !important;
}

#portal-v2-containter #BubbleSheetClassReview .handsontable tr td {
  height: auto !important;
}

#portal-v2-containter #BubbleSheetClassReview .fa-file::before {
  font-family: 'Font Awesome 6 Free';
}

#portal-v2-containter .question-status {
  background: var(--blue1);
  padding: 13px 16px;
}

#portal-v2-containter .modal-component-container {
    padding: 0 !important;
}

#portal-v2-containter .modal-component-body {
  padding: 0 1.5rem 1.5rem;
}

#portal-v2-containter.bubbleSheetClassReviewFullscreen [vue="bubbleSheetClassReview"] {
  background: var(--grey2);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 101;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#portal-v2-containter .bubbleSheetClassReviewTable .handsontable th {
  overflow: unset;
}

#portal-v2-containter .bubbleSheetClassReviewTable thead span[data-title] {
  position: relative;
  display: inline-block;
}

#portal-v2-containter .bubbleSheetClassReviewTable thead span[data-title]::before,
#portal-v2-containter .bubbleSheetClassReviewTable thead span[data-title]::after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 1000000;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

#portal-v2-containter .bubbleSheetClassReviewTable thead span[data-title]::before {
  content: "";
  border: 5px solid transparent;
  bottom: 0;
  z-index: 1000001;
  border-top-color: var(--tooltipBg);
  top: -35%;
}

  #portal-v2-containter .bubbleSheetClassReviewTable thead span[data-title]::after {
    content: attr(data-title);
    background-color: var(--tooltipBg);
    color: var(--white);
    padding: 2px 8px;
    white-space: nowrap;
    font-weight: 400;
    bottom: 135%;
  }

#portal-v2-containter .bubbleSheetClassReviewTable thead span[data-title]:hover::before,
#portal-v2-containter .bubbleSheetClassReviewTable thead span[data-title]:hover::after,
#portal-v2-containter .bubbleSheetClassReviewTable thead span[data-title]:focus::before,
#portal-v2-containter .bubbleSheetClassReviewTable thead span[data-title]:focus::after {
  visibility: visible;
  opacity: 1;
  transition: 0.2s 0.3s;
  -webkit-transition: 0.2s 0.3s;
  -ms-transition: 0.2s 0.3s;
}

#portal-v2-containter .bubbleSheetClassReviewTable thead span[data-title]:hover::before,
#portal-v2-containter .bubbleSheetClassReviewTable thead span[data-title]:focus::before {
  top: -15%;
}

#portal-v2-containter .bubbleSheetClassReviewTable thead span[data-title]:hover::after,
#portal-v2-containter .bubbleSheetClassReviewTable thead span[data-title]:focus::after {
  bottom: 115%;
}

#portal-v2-containter .bubbleSheetClassReviewImage {
  max-height: 85vh;
}

#portal-v2-containter .bubbleSheetClassReviewImage img {
  max-width: 100%;
  height: auto;
}

#portal-v2-containter .custom-resize-img .modal-component-draggable-resizable .modal-component-body {
  padding-top: 24px;
}

#portal-v2-containter .custom-resize-img .modal-component-resize-handle {
  background: url(../../images/icons/icon-resizev2.svg) no-repeat;
  background-color: transparent;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  background-size: contain;
  right: -3px;
  bottom: -4px;
  transform: rotate(-45deg);
  border: 0;
  border-radius: 0;
}

#portal-v2-containter .custom-resize-img .modal-component-draggable-resizable .modal-component-close::after {
  left: 16px;
  top: 4px;
}

#portal-v2-containter .custom-resize-img .modal-component-draggable-resizable {
  border: 1px solid var(--blue3);
}

#portal-v2-containter #reviewDetailsContent p.input-height {
  padding: 0;
}

#portal-v2-containter #reviewDetailsContent p.input-height input[type=text] {
  padding: 0.25rem !important;
}

#portal-v2-containter #reviewDetailsContent .questions tr {
    height: 58px;
}

#portal-v2-containter .customBubbleSheetClassReviewImage .dialog {
  padding: 24px !important;
  border: 1px solid var(--blue3);
  background-color: var(--bg-white);
}

#portal-v2-containter .customBubbleSheetClassReviewImage .dialog .bubbleSheetClassReviewImage {
  max-height: 640px;
  overflow: auto;
}

#portal-v2-containter .ui-dialog.customBubbleSheetClassReviewImage .ui-dialog-titlebar-close:after {
  bottom: 24px;
  right: -8px;
}

#portal-v2-containter .modal-component-container .custom-close .modal-component-close::after {
  top: 10px;
}

#portal-v2-containter .uploadifive-button {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

#portal-v2-containter .uploadifive-button + .uploadifive-queue {
  display: none;
}

#portal-v2-containter .artifact-folder-btn {
  text-decoration: none;
}

#portal-v2-containter .artifact-folder-btn .count-artifacts {
  color: var(--grey);
  font-size: 14px;
  margin-left: 2px;
}

#portal-v2-containter .remove-artifact-btn {
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

#portal-v2-containter .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    display: none;
}

#portal-v2-containter .loading.show {
    display: flex;
}

#portal-v2-containter .upload-artifact-wrapper {
    position: relative;
}

#portal-v2-containter .upload-artifact-wrapper * {
    cursor: pointer;
}

#portal-v2-containter .group-button-artifact {
    display: flex;
    gap: 10px;
}

@media (max-width: 1399px) and (min-width: 1200px) {
  #portal-v2-containter .table-review-bubble-sheets .th-grade {
      width: 80px !important;
  }

  #portal-v2-containter .table-review-bubble-sheets .th-created,
  #portal-v2-containter .table-review-bubble-sheets .th-updated {
    width: 100px !important;
  }

  #portal-v2-containter .table-review-bubble-sheets .th-updated2 {
    width: 115px !important;
  }

  #portal-v2-containter .table-review-bubble-sheets .th-review {
    width: 95px !important;
  }

  #portal-v2-containter .table-review-bubble-sheets .th-ungraded {
    width: 100px !important;
  }

  #portal-v2-containter .table-review-bubble-sheets .th-class {
    width: 85px !important;
  }
}

@media (max-width: 1439px) and (min-width: 1400px) {
  #portal-v2-containter .table-review-bubble-sheets .th-grade {
    width: 85px !important;
  }

  #portal-v2-containter .table-review-bubble-sheets .th-ungraded {
    width: 110px !important;
  }
}
