.mw-680 {
  width: 100%;
  max-width: 682px;
}

.ui-dialog .popup-alert-border {
  border: 0 none;
  background: none;
  box-shadow: none;
  padding: 0;
  border-radius: 0;
}

.ui-dialog .popup-alert-content {
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}

.ui-dialog .popup-alert-table td {
  border: 0 none !important;
  padding: 10px !important;
}

.ui-dialog .popup-alert-table tr:last-child td {
  background-color: var(--navyColor) !important;
  color: white;
}

.ui-dialog .popup-alert-controls {
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#portal-v2-containter .ui-dialog .popup-alert-controls button {
  height: 48px;
  width: fit-content;
  text-align: center;
  border: none;
  margin: 0;
  color: var(--white);
}

#portal-v2-containter .ui-dialog .popup-alert-controls button:first-child {
  background-color: var(--btnAcceptBackground);
  order: 1;
}

#portal-v2-containter .ui-dialog .popup-alert-controls button:hover:first-child {
  background-color: var(--red2);
}

  #portal-v2-containter .ui-dialog .popup-alert-controls button:hover:first-child:disabled, #portal-v2-containter .ui-dialog .popup-alert-controls button:first-child:disabled {
    background-color: var(--redDisabled) !important;
    color: #f3dbe1 !important;
    border-color: var(--redDisabled) !important;
    border: 2px solid var(--redDisabled) !important;
    touch-action: none;
    cursor: auto;
  }
