

.sgo-nav-link-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

#portal-v2-containter .coolfieldset textarea,
#portal-v2-containter #fieldsetTargetScore textarea {
  border: 2px solid var(--selectBorder);
}

.accordion-title {
  margin: 0;
  padding: 12px 16px;
  background: var(--blue1);
  border: none;
  color: var(--navyColor);
  border: 2px solid var(--blue3);
}

.accordion-title h3 {
  color: var(--navyColor);
  font-weight: 700;
  margin: 0;
}

.accordion-title i {
  float: right;
}

.accordion-title:focus,
.accordion-title:hover {
  border-color: var(--blue3);
}

  .accordion-title.active {
    border-bottom: none;
  }

#portal-v2-containter .accordion {
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

#portal-v2-containter .accordion-content,
#portal-v2-containter .accordion-content.active {
  border: 2px solid var(--blue3);
  border-top: none;
  overflow-x: auto !important;
  height: 426px;
  overflow-y: hidden;
}

.accordion-title.active .fa-chevron-down {
  transition: .3s transform ease-in-out;
  transform: rotate(180deg);
}

.accordion-title:not(.active) .fa-chevron-down:not(p) {
  transition: .3s transform ease-in-out;
  transform: rotate(0);
}

.table-sgo thead tr[choose="1"] th,
.table-sgo thead tr[choose="1"] td,
.table-sgo tbody tr[choose="1"] th,
.table-sgo tbody tr[choose="1"] td {
  background-color: var(--blue7) !important;
  color: var(--gray9);
}

.programTable thead tr th {
  background: none !important;
  color: var(--navyColor) !important;
  padding: 16px;
  border: none !important;
}

.programTable tbody tr td {
  border: none !important;
  padding: 0 17px !important
}

.programTable tbody tr td ul {
  padding-left: 0px;
}

.programTable tbody tr td ul li {
  margin-bottom: 12px;
}

.programTable tbody tr td ul li label {
  font-weight: 700 !important;
}

.programTable .colx3-left {
  width: 288px;
}

a {
  text-decoration: none !important;
}

.sgo-instruction b {
  padding-top: 2px;
}

.sgo-instruction ol {
  list-style: decimal;
  padding-left: 58px;
  margin-top: 1.667em;
  margin-bottom: 0;
}

.sgo-instruction ol li {
  line-height: 26px !important;
}

.sgo-instruction div {
  margin-top: 1.667em;
}

.sgo-instruction div a {
  padding-left: 38px;
}

.sgo-instruction .with-tip {
  margin-right: 10px;
}

.table-sgo-student {
  border: 0 !important;
}

.btn-exclude {
  min-width: unset !important;
  width: 81px;
  padding: 0 !important;
}

.btn-sgo-small {
  height: 42px !important;
}

.btn-sgo-item {
  margin-right: 9px;
  margin-bottom: 16px;
  display: inline-block;
}

.btn-sgo-small.btn-sgo-number {
  min-width: unset !important;
  width: 34px;
  padding: 0 !important;
}

select.sgo-select-score {
  width: 170px !important;
}

.btn-sgo-add-group {
  padding: 0 1.625em 0 0 !important;
}

.btn-sgo-add-group:disabled:after,
.btn-sgo-add-band:disabled:after {
  right: 0 !important;
}

#tbCreateGroups tbody tr td:last-child,
#tbAddEditBand tbody tr td:last-child {
  background: white !important;
  text-align: center;
}

#tbCreateGroups thead tr th.header-number {
  width: 130px;
}

#tbCreateGroups thead tr th.header-delete {
  width: 80px;
}

#tbCreateGroups tbody tr td i,
#tbAddEditBand tbody tr td i {
  font-size: 25px;
  cursor: pointer;
}

#tbCreateGroups tbody tr td input,
#tbAddEditBand tbody tr td input,
#tbChangeWeights tbody tr td input {
  color: var(--navyColor) !important;
  border: 2px solid var(--navyColor) !important;
  width: 100% !important;
  background-color: #FFF !important;
}

#PopupSGOCreateGroup .block-content {
  padding: 24px !important;
}

#PopupSGOCreateGroup #idSaveGroups {
  width: 155px;
}

#filter-students-v2 .title {
  font-size: 1.75rem;
  color: var(--navyColor) !important;
  font-weight: 700 !important;
}

#portal-v2-containter #filter-students-v2 .btn-clear-filter,
#portal-v2-containter #filter-students-v2 .btn-apply-filter {
  width: 112px;
  height: 44px;
  border: none;
}

#portal-v2-containter #filter-students-v2 .btn-clear-filter {
  color: var(--red);
  margin: 0;
}

  #portal-v2-containter #filter-students-v2 .btn-clear-filter i {
    color: var(--red);
  }

#portal-v2-containter #filter-students-v2 .btn-apply-filter {
  color: var(--white);
  background-color: var(--red);
}

#portal-v2-containter #filter-students-v2 .btn-apply-filter:hover {
  background-color: var(--lightRed);
}

.btn-clear-filter:active, .btn-clear-filter:active i {
  color: var(--disabledColorBg) !important;
}

.btn-clear-filter:hover, .btn-clear-filter:hover i {
  color: var(--lightRed) !important;
}

#portal-v2-containter #filter-students-v2 .block-text-name {
  width: 100% !important;
}

#portal-v2-containter #filter-students-v2 .state-district {
  max-width: calc(100% / 4);
  min-width: calc(100% / 4);
  display: block;
}

.row-selected {
  background-color: var(--blue3);
  color: var(--navyColor);
}

#divStudentGroupTable label {
  text-shadow: none;
  font-size: 1rem !important;
  font-weight: 700 !important;
  line-height: 24px;
}

  #portal-v2-containter table thead td span {
    font-weight: 400;
  }

#portal-v2-containter #studentContent #studentsList #students li {
  display: block;
  width: calc((25%) - 1.25rem);
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

#portal-v2-containter #studentContent #studentsList #students {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}

#divStudentGroupTable label span {
  font-weight: 400;
}

.content-vertical-align-center {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.add-student-group {
  display: flex;
  flex-direction: row-reverse;
}
