.u-w-256 {
    width: 256px
}
.u-ml-10 {
    margin-left: 10px;
}
.teacherReviewerFullPage.teacherReviewerV2 {
    padding-top: 0;
}

#portal-v2-containter.teacherReviewerFullscreen .teacherReviewerFullPage {
    background: var(--white) !important;
}

#portal-v2-containter .teacherReviewerV2 .form select {
  min-width: 256px;
  width: auto;
}
.teacherReviewerFullPage {
  padding-top: 16px;
}
#portal-v2-containter .teacherReviewerV2 .big-button {
    border: none;
}
#portal-v2-containter .teacherReviewerV2 button:hover,
#portal-v2-containter .teacherReviewerV2 .big-button:hover {
  border: none;
  background: none;
}
.btn-assignment {
  padding: 0.286em 0.775em 0.357em;
  background: none;
  border: none;
  text-decoration: none;
  text-shadow: none;
  box-shadow: none;
}

.teacherReviewerV2 .block-reviewer-cancel {
  position: absolute;
  top: 30px;
  right: 16px;
}
#portal-v2-containter .teacherReviewerV2 .block-reviewer-cancel .btn-assignment:hover,
#portal-v2-containter .teacherReviewerV2 .block-reviewer-cancel .btn-assignment:focus,
#portal-v2-containter .teacherReviewerV2 .block-reviewer-cancel .btn-assignment:active,
#portal-v2-containter .teacherReviewerV2 .block-reviewer-cancel .btn-assignment {
  color: var(--red);
  position: relative;
  background: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
}
.teacherReviewerV2 .btn-assignment.btn-arrow:after {
  content: '\f060';
  position: absolute;
  left: -14px;
  top: 6px;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: var(--red)
}

.teacherReviewerV2 .block-content > h1 {
    margin: 0;
    padding-left: 0;
}
.teacherReviewerV2 .assignment-first .assignment-content {
  border: none;
  padding: 0;
  margin-top: 0;
}
#portal-v2-containter .teacherReviewerV2 .block-content > h1,
#portal-v2-containter .teacherReviewerV2 .assignment {
  background-color: var(--white);
}
#portal-v2-containter .teacherReviewerV2 .block-content > h1 {
    padding-bottom: 0;
}
.teacherReviewerV2 .block-content {
  background-color: var(--white);
}
.teacherReviewerV2 .assignment-title {
    color: inherit;
}
.teacherReviewerV2 .block-reviewer-first,
.teacherReviewerV2 .block-reviewer {
  padding: 0
}

#portal-v2-containter .teacherReviewerV2 .assignment-fieldset .header {
  font-weight: 700;
  font-size: 1.375rem;
}
.teacherReviewerV2 .assignment-first {
    margin-top: 0;
}
.teacherReviewerV2 .assignment-grading-type-bulk {
    margin-left: 72px;
}
.teacherReviewerV2  .assignment-note-cell-filter {
    width: auto
}
.teacherReviewerV2 .assignment-note-cell-filter:last-child,
.teacherReviewerV2 .assignment-note-cell-filter:nth-child(2) {
  margin-left: 20px;
}
.teacherReviewerV2 .assignment-note-cell-filter .icon-credit-filter {
  width: 0;
  height: 0;
  overflow-y: hidden;
  box-shadow: none;
  margin: 0 2px;
  background: none;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid var(--navyColor);
  transform: rotate(-45deg);
  margin-left: 9px;
  position: relative;
  top: -3px;
  border-radius: 0;
}
.teacherReviewerV2 .assignment-note-cell-filter .icon-credit-filter-full {
  border-left-color: var(--blue5)
}

.teacherReviewerV2 .assignment-note-cell-filter .icon-credit-filter-partial {
  border-left-color: var(--yellow2)
}
  .teacherReviewerV2 .assignment-note-cell-filter .icon-credit-filter-no-credit {
    border-left-color: var(--red);
  }
.teacherReviewerV2 .assignment-group {
  padding: 0
}
#portal-v2-containter .teacherReviewerV2 button {
  border: none;
  min-width: auto;
}
.teacherReviewerV2 button .icon {
  background: none;
}

.teacherReviewerV2 .icon:after {
  position: relative;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: var(--navyColor);
  font-size: 1.125rem;
}
.teacherReviewerV2 .icon-exit-fullscreen:after,
.teacherReviewerV2 .icon-fullscreen:after {
  content: '\f065';
  position: absolute;
  left: -2px;
  top: -2px;
}
.teacherReviewerV2 .icon-grading-shortcuts:after {
  content: '\f030';
  position: absolute;
  left: -2px;
  top: -2px;
}
.teacherReviewerV2 .icon-print-student:after {
  content: '\f02f';
  position: absolute;
  left: -2px;
  top: -2px;
}
.teacherReviewerV2 .icon-view-batch:after {
  content: '\f06e';
  position: absolute;
  left: -2px;
  top: -2px;
}
.teacherReviewerV2 .icon-coding-guide:after {
  content: '\f1c1';
  position: absolute;
  left: -2px;
  top: -2px;
}
.teacherReviewerV2 .assignment-form .assignment-fieldset {
  padding: 0;
}

.teacherReviewerV2 .overall-test-feedback,
.teacherReviewerV2 .assignment-question-student {
  width: 100%;
  border: 2px solid var(--blue3)
}
.teacherReviewerV2 .question-list-title
.teacherReviewerV2 .overall-feedback-title,
.teacherReviewerV2 .coding-and-feedback-title,
.teacherReviewerV2 .assignment-question-student .assignment-student-list-title,
.teacherReviewerV2 .assignment-question-student .coding-and-feedback-for-item {
  padding: 20px 10px;
}
.overall-feedback-title {
  padding: 20px 10px;
}

.teacherReviewerV2 .coding-and-feedback-for-item,
.teacherReviewerV2 .assignment-detail-and-answers {
  width: 100%;
  border: 2px solid var(--blue3)
}

.teacherReviewerV2 .assignment-detail-and-answers {
  overflow-y: auto;
}

.teacherReviewerV2 .assignment-coding-and-feedback {
  border: 2px solid var(--blue3);
}

#portal-v2-containter.teacherReviewerFullscreen .overall-test-feedback,
#portal-v2-containter.teacherReviewerFullscreen .coding-and-feedback-for-item {
  border: none;
}

.teacherReviewerV2 .assignment-list .assignment-list-student,
.teacherReviewerV2 .assignment-content {
  border: none;
}
.teacherReviewerV2 .assignment-student-list .assignment-list {
    padding: 0
}

.teacherReviewerV2 .assignment-list .assignment-list-student:not(:last-child) {
  padding: 24px 15px;
  border: none;
  border-top: 2px solid var(--blue3)
}
.teacherReviewerV2 .assignment-question-list .assignment-list-item {
  padding: 12px 10px;
  height: 90px;
  border: none;
  border-top: 2px solid var(--blue3);
  display: flex;
  flex-direction: row;
  align-items: center;
}

#portal-v2-containter .teacherReviewerV2 .assignment-list-question {
  color: var(--navyColor);
  /*padding: 10px 0;*/
}
#portal-v2-containter .teacherReviewerV2 .assignment-student-list ul,
#portal-v2-containter .teacherReviewerV2 .assignment-question-list ul {
  padding: 0;
}

#portal-v2-containter .teacherReviewerV2 .assignment-list-number.is-answered {
  background-color: var(--navyColor);
  border-color: var(--navyColor)
}
#portal-v2-containter .icon-credit-no-credit {
    background-color: var(--red);
}
#portal-v2-containter .icon-credit-partial {
  background-color: var(--yellow2);
}
#portal-v2-containter .icon-credit-full {
  background-color: var(--blue5);
}
#portal-v2-containter .icon-credit {
  width: 31px;
  height: 25px;
  border-radius: 0;
  top: -10px;
  right: -14px;
}
.teacherReviewerV2 .assignment-form textarea,
.teacherReviewerV2 input[type='text'].assignment-textfield,
#portal-v2-containter .teacherReviewerV2 .assignment-list-number {
  border: 2px solid var(--selectBorder)
}
#portal-v2-containter .teacherReviewerV2 .assignment-question-list .assignment-list-number > span:not(.assignment-list-icon) {
  position: relative;
  top: 17%;
  font-size: 1.375rem;
  font-weight: 700;
}
.teacherReviewerV2 .icon-answered {
  background-color: var(--navyColor);
  border-color: var(--navyColor);
}
.teacherReviewerV2 .assignment-list-student-name {
  color: var(--navyColor)
}

#portal-v2-containter .teacherReviewerV2 .assignment-question-list .assignment-list-item
.teacherReviewerV2 .assignment-question-list .assignment-list-item:hover,
.teacherReviewerV2 .assignment-question-list .assignment-list-item:focus,
.teacherReviewerV2 .assignment-question-list .assignment-list-item.is-selected,
.teacherReviewerV2 .assignment-list .assignment-list-student:hover,
.teacherReviewerV2 .assignment-list .assignment-list-student:focus,
.teacherReviewerV2 .assignment-list .assignment-list-student.is-selected {
  background-color: var(--blue3)
}
.teacherReviewerV2 .assignment-note-cell {
  background-color: var(--blue1);
  padding: 24px 16px;
}
.assignment-filter-question .teacherReviewerV2 .assignment-note-cell {
    padding: 0
}
.icon-answered,
.icon-unanswered,
.icon-in-progress,
.icon-reviewable,
.icon-reviewable-disabled,
.icon-ready-submit,
.icon-print-student,
.icon-view-batch,
.icon-grading-shortcuts,
.icon-coding-guide,
.icon-fullscreen,
.icon-exit-fullscreen {
  width: 20px;
  height: 20px;
}

#portal-v2-containter .teacherReviewerV2 .form fieldset,
#portal-v2-containter .teacherReviewerV2 .fieldset {
    margin: 0;
}

#portal-v2-containter .teacherReviewerV2 .assignment-desc-question {
  height: 720px;
  width: 100%;
  max-height: 720px;
  overflow-y: auto;
  overflow-x: auto;
}
#portal-v2-containter .teacherReviewerV2 .showExtendTimelog .assignment-desc-question {
  height: 642px;
}
#portal-v2-containter .teacherReviewerV2 .assignment-student-list .assignment-desc-students {
  height: 844px;
}
#portal-v2-containter .teacherReviewerV2 .assignment-question-list .assignment-desc {
  height: 705px;
}

.assignment-grading-feedback-question button,
.coding-and-feedback-box button,
.overall-feedback-box button,
#portal-v2-containter .teacherReviewerV2 .coding-and-feedback-for-item button,
#portal-v2-containter .teacherReviewerV2 .overall-test-feedback button {
  border: 2px solid var(--blue3);
  padding: 10px 16px;
}
#portal-v2-containter.teacherReviewerFullscreen .teacherReviewerFullPage {
    padding: 0;
    margin-top: 0 !important;
}
#portal-v2-containter.teacherReviewerFullscreen article.container_12 {
  margin-top: 0;
  min-width: 100%;
  max-width: 100%;
}
#portal-v2-containter.teacherReviewerFullscreen .container_12 .grid_12 {
    max-width: 100%
}
#portal-v2-containter.teacherReviewerFullscreen .assignment-detail-and-answers,
#portal-v2-containter.teacherReviewerFullscreen .assignment-question-student {
  width: unset;
}

#portal-v2-containter.teacherReviewerFullscreen .assignment-question-left {
    width: 25%;
}
#portal-v2-containter.teacherReviewerFullscreen .assignment-detail-right {
    width: 50%;
}
#portal-v2-containter .assignment-detail-right {
  width: calc(100% - 452px);
}
#portal-v2-containter.teacherReviewerFullscreen .assignment-coding-and-feedback {
  width: calc((100%) - (75%) - 32px);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-left: 8px;
  padding: 0;
}

#portal-v2-containter .teacherReviewerV2 .block-reviewer-last {
  background-color: var(--navyColor);
  margin-top: 16px;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 16px;
}

#portal-v2-containter .teacherReviewerV2 .block-reviewer-last * {
  color: var(--white)
}
.teacherReviewerV2 .assignment-grading-feedback-question button,
#portal-v2-containter .teacherReviewerV2 .block-reviewer-last button {
  padding: 10px 16px;
  background-color: var(--red);
  color: var(--white);
}
#portal-v2-containter .teacherReviewerV2 button:disabled {
  background: var(--disabledColorBg) !important;
  border: none !important;
  color: var(--disabledColor);
}

#portal-v2-containter .teacherReviewerV2 .assignment-grading-feedback-question .btn-assignment {
  background-color: var(--red);
  border-color: var(--red);
  color: var(--white);
}

#portal-v2-containter .teacherReviewerV2 .assignment-grading-feedback-question .assignment-point-text {
  color: var(--boxBorder);
  font-weight: normal;
}

#portal-v2-containter .teacherReviewerV2 .assignment-detail-and-answers .detail-answers-title {
  padding: 14px 10px;
}
#portal-v2-containter.teacherReviewerFullscreen .teacherReviewerV2 .overall-test-feedback,
#portal-v2-containter.teacherReviewerFullscreen .coding-and-feedback-for-item {
  width: 100%
}

.teacherReviewerV2 .time-log-history,
.teacherReviewerV2 .extendTimelog {
    background-color: var(--blue1);
    padding: 16px 10px;
}
.teacherReviewerV2  .time-log-history .assignment-update-history {
    float: none;
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 0;
}
.teacherReviewerV2 .time-log-history .assignment-update-history title {
    font-weight: 700;
}
.teacherReviewerV2 .time-log-history .assignment-update-history span {
    color: var(--navyColor);
}
.teacherReviewerV2 .time-log-history .assignment-update-history span:first-child {
    margin-right: 8px;
}
.teacherReviewerV2 .time-log-history .assignment-update-history span:not(:first-child) {
  font-weight: 400;
}

#portal-v2-containter .teacherReviewerV2 .timelogAction button {
  padding: 10px 16px;
}
#portal-v2-containter .teacherReviewerV2 .timelogAction #btnRecoverTimelog {
  color: var(--navyColor);
  border: 2px solid var(--blue3);
}
#portal-v2-containter .teacherReviewerV2 .timelogAction #btnRecoverTimelog::after {
  white-space:initial;
  min-width: 700px;
}
#portal-v2-containter .teacherReviewerV2 .timelogAction #btnResetTimelog {
  color: var(--red);
}
.teacherReviewerV2 .assignment-list-item:hover::after,
.teacherReviewerV2 .assignment-list-item:focus::after,
.teacherReviewerV2 .assignment-list-item.is-selected::after {
  background-color: var(--blue3)
}

#portal-v2-containter .teacherReviewerV2 .assignment-desc-section .big-button,
#portal-v2-containter .teacherReviewerV2 .assignment-desc-answers .big-button {
  border: 2px solid var(--blue3);
  padding: 10px 6px;
}
.teacherReviewerV2 .assignment-question-list .assignment-list-item.is-selected .assignment-list-number {
    border:none
}
#portal-v2-containter .teacherReviewerV2 .assignment-list-question .mainBody .largeText {
    line-height: 25px;
}
#portal-v2-containter .ui-popup-coding-guide,
#portal-v2-containter .ui-popup-algorithmic-correct-answer {
  border-radius: 0;
  border-color: white;
  background: none;
  box-shadow: none;
  background-color: white;
  padding: 12px;
}
.popup-fullpage-content.is-algorithmic {
  border: none !important;
}
#portal-v2-containter .ui-popup-coding-guide {
  background-color: var(--blue3);
}
#portal-v2-containter .ui-popup-algorithmic-correct-answer .ui-dialog-titlebar-close:after {
  top: -17px;
  right: -20px;
}
#portal-v2-containter .ui-popup-algorithmic-correct-answer .box-title,
#portal-v2-containter .ui-popup-algorithmic-correct-answer .box-title.is-active.is-alone {
  background: none;
  color: var(--black);
  border-right-color: var(--white);
}
#portal-v2-containter .ui-popup-algorithmic-correct-answer .box-title.is-active {
  color: var(--red);
  border-bottom: 1px solid var(--red);
}
#portal-v2-containter .ui-popup-algorithmic-correct-answer .answer-label {
  color: var(--red);
  margin-right: 8px !important;
}
#portal-v2-containter .ui-popup-algorithmic-correct-answer .answer.green {
  background-color: var(--green1);
  border-radius: 0 !important;
  border: none !important;
}
#portal-v2-containter .ui-popup-algorithmic-correct-answer partialsequence .sourceItem div {
  display: inline-block;
  background-color: var(--blue1);
  border: 1px solid var(--blue3);
  padding: 8px;
  margin-bottom: 8px;
}
#portal-v2-containter .ui-popup-algorithmic-correct-answer partialsequence .box-answer-correct-dnd {
  border-top: none;
}

#portal-v2-containter .ui-popup-algorithmic-correct-answer .ui-dialog div.ui-dialog-content {
  padding: 8px;
}
#portal-v2-containter .ui-popup-algorithmic-correct-answer .popup-fullpage-controls {
  margin: 0 -30px -22px -30px;
  height: 64px;
  background-color: var(--navyColor);
  padding: 7px 0;
}
#portal-v2-containter .ui-popup-algorithmic-correct-answer .popup-fullpage-controls button {
  background-color: var(--red);
  color: var(--white);
  padding: 16px;
  border: none;
}

#portal-v2-containter .popup-fullpage-print .popup-fullpage-content {
  margin: 0;
  max-height: unset;
  max-width: unset;
  overflow: visible;
  max-height: unset;
}
#portal-v2-containter .popup-fullpage-print .popup-fullpage-content legend {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-weight: 700;
  font-size: 1.375rem;
  color: var(--navyColor);
  position: relative;
  bottom: 15px;
  padding-left: 0;
}

.confirm-auto-bulk {
  text-align: center;
  padding: 10px 16px;
  margin: 10px -30px -26px -29px;
  background: var(--navyColor);
  height: 64px;
}

#portal-v2-containter .popup-fullpage-print .popup-fullpage-content .print-option-item {
  width: 100%;
  margin-bottom: 14px;
  font-weight: 700;
}

#portal-v2-containter .popup-fullpage-print .popup-fullpage-content .action-area {
  background-color: var(--navyColor);
  background-color: var(--navyColor);
  margin: 0 -34px -35px -34px;
  padding: 10px 0;
}
#portal-v2-containter .popup-fullpage-print .popup-fullpage-content .action-area button{
  background: none;
  color: var(--white);
  border-color: var(--navyColor);
}
#portal-v2-containter .popup-fullpage-print .popup-fullpage-content .action-area button:last-child {
  border-color: var(--red);
  background-color: var(--red);
}

#portal-v2-containter .popup-fullpage-print .print-option {
  padding: 0;
}
#portal-v2-containter .popup-fullpage-print .assignment-enter-number input{
    margin: 0;
}
#portal-v2-containter .popup-fullpage-print .assignment-enter-number {
  text-indent: 0;
  margin: 0;
  margin-left: 10px;
}

#portal-v2-containter .ui-dialog.ui-popup-coding-guide .ui-dialog-titlebar-close:after {
  top: -20px;
  right: -20px;
}
#portal-v2-containter .ui-dialog.ui-popup-coding-guide .ui-dialog-content {
    padding: .5rem;
}
#portal-v2-containter .ui-dialog.ui-popup-coding-guide .ui-dialog-titlebar {
    height: 19px;
    top: 0;
}
#portal-v2-containter .grading_shortcuts .popup-fullpage-title {
  top: 6px;
  left: 14px;
  color: var(--navyColor);
  background: none;
  border: none;
  box-shadow: none;
  font-size: 1.375rem;
  text-shadow: none;
  padding-left: 0;
}
#portal-v2-containter .grading_shortcuts .popup-fullpage-content {
    margin: 0;
    padding-bottom: 0;
}
#portal-v2-containter .grading_shortcuts .popup-fullpage-content legend {
  padding-left: 0;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-weight: 700;
  color: var(--navyColor);
}

#portal-v2-containter .grading_shortcuts .popup-fullpage-content .columns-special button {
    padding: 10px 16px;
    border: none;
    color: var(--white);
    background: none;
}
#portal-v2-containter .grading_shortcuts .popup-fullpage-content .columns-special button:last-child {
    background-color: var(--red);
}

#portal-v2-containter .popup-fullpage-grading-shortcuts .popup-fullpage-content {
  min-height: 390px;
}
#portal-v2-containter .popup-fullpage-grading-shortcuts .popup-fullpage-content label {
  font-weight: 700;
}

#portal-v2-containter .grading_shortcuts .popup-fullpage-content .columns-special.columns-action {
  background-color: var(--navyColor);
  padding: 10px 0;
  position: absolute;
  right: -1px;
  left: -1px;
  bottom: -1px;
}
#portal-v2-containter .lock-unlock-test-banks table tbody td:first-child:not(:empty) {
    text-align: left;
}
.assignment-detail-and-answers .btn-show-correct-answer {
    max-width: 200px !important;
    width: auto
}
#divQuestionDetails .jsIsAnswerCorrect.correct {
  background: none;
  position: relative;
  background-color: var(--green);
  margin: 0;
  border-radius: 4px;
  padding: 6px 8px;
  /*box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);*/
  width: 95px;
  top: 0;
  height: 30px;
  font-style: initial;
}
#divQuestionDetails .answer .jsIsAnswerCorrect.correct {
  background-color: var(--green4);
}

#divQuestionDetails .jsIsAnswerCorrect.correct::before {
  content: '\f00c';
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  z-index: 2;
  color: var(--white);
  position: relative;
}
#divQuestionDetails .jsIsAnswerCorrect.correct:after {
  content: 'Correct';
  z-index: 3;
  color: var(--white);
  margin-left: 6px;
}
#divQuestionDetails .jsIsAnswerCorrect.incorrect {
  background: none;
  background-color: var(--orange);
  position: relative;
  margin: 0;
  border-radius: 4px;
  padding: 6px 8px;
  /*box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);*/
  width: 95px;
  top: 0;
  height: 30px;
  font-style: initial;
  white-space: nowrap;
}
#divQuestionDetails .answer .jsIsAnswerCorrect.incorrect {
  background-color: var(--orange2);
}

#divQuestionDetails .jsIsAnswerCorrect.incorrect::before {
  content: '\f00d';
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  z-index: 2;
  color: var(--white);
  position: relative;
}

#divQuestionDetails .jsIsAnswerCorrect.incorrect:after {
  content: 'Incorrect';
  z-index: 3;
  color: var(--white);
  margin-left: 6px;
}

#divQuestionDetails .mainBody {
  font-family: 'Roboto', Verdana, Arial, Helvetica, sans-serif !important;
  font-size: 1rem !important;
}


#divQuestionDetails .mainBody .answer.green div {
  color: var(--white)
}

#teacherReviewerFullPage .block-content {
    padding: 24px;
}
#divQuestionDetails .mainbody ol, #divQuestionDetails .mainBody ol {
  margin: 0;
  padding-left: 25px;
}
#teacherReviewerFullPage .block-content {
    padding: 24px;
}

#portal-v2-containter #divQuestionDetails .answerbg {
  min-height: 42px;
  border-radius: 0 !important;
  background-color: var(--orange1);
  border-color: var(--orange1) !important;
}

#portal-v2-containter #divQuestionDetails .answer .incorrect,
#portal-v2-containter #divQuestionDetails .answer .correct {
  float: right;
  margin-left: 15px;
}
#portal-v2-containter #divQuestionDetails .answer.green {
  background-color: var(--green1);
  border-color: var(--green1) !important;
}
#portal-v2-containter #divQuestionDetails .answer.green.studentChoose {
  background-color: var(--green2);
  border-color: var(--green2) !important;
}
#portal-v2-containter #divQuestionDetails .answer.studentChoose {
  background-color: var(--red1);
  border-color: var(--red1) !important;
}
#portal-v2-containter #divQuestionDetails .answer.studentChoose.correctStudentChoose {
  background-color: var(--blue5);
  border-color: var(--blue5) !important;
}
#portal-v2-containter #divQuestionDetails .answer.studentChoose.wrongStudentChoose {
  background-color: var(--red);
  border-color: var(--red) !important;
}

#portal-v2-containter #divQuestionDetails .answer.correctAnswer {
  background-color: var(--green1);
  border-color: var(--green1) !important;
}

  #portal-v2-containter #divQuestionDetails .answer.studentChoose.correctStudentChoose.partialStudentChoose {
    background-color: var(--yellow2);
    border-color: var(--yellow2) !important;
  }

#portal-v2-containter #divQuestionDetails .answer.studentChoose div,
#portal-v2-containter #divQuestionDetails .answer.studentChoose span {
  color: var(--white)
}
#portal-v2-containter #divQuestionDetails .answer div {
  line-height: 32px;
}
#portal-v2-containter #divQuestionDetails .answer .jsIsUserAnswer {
  float: right;
  line-height: 32px;
}
#portal-v2-containter #divQuestionDetails .answer.studentChoose .jsIsAnswerCorrect.incorrect {
  background-color: var(--orange3);
}
#portal-v2-containter #divQuestionDetails .answer.studentChoose .jsIsAnswerCorrect.correct {
  background-color: var(--green5);
}
#divQuestionDetails partialsequence .sourceItem > div {
  display: inline-block;
  background-color: var(--blue1);
  border: 1px solid var(--blue3);
  padding: 8px;
  margin-bottom: 8px;
}
#divQuestionDetails partialsequence .sourceItem:last-child div {
    margin-bottom: 0;
}

input.PointsEarned:not([disabled]) {
  color: black !important;
}

#btnRecordFeedback.record__button {
  background-image: linear-gradient(#e74c3c 0%, #9c190b 100%) !important;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  border: none !important;
  padding: 4px !important;
  margin-top: 8px !important;
  margin-right: 4px !important;
}

.img-start-record {
  margin-bottom: 5px;
}

.img-stop-record {
  margin-bottom: 5px;
}

.audio-player-container #play-icon {
  display: inline-block;
  box-sizing: border-box;
  width: 0;
  height: 12px;
  border-color: transparent transparent transparent #202020 !important;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid !important;
  border-width: 6px 0 6px 12px !important;
}

.audio-player-container button {
  padding: 0 !important;
  border: 0 !important;
  background: transparent !important;
  cursor: pointer !important;
  outline: none;
  box-shadow: none !important;
  border-radius: 0 !important;
}

#btnRecordFeedback.record__button--recording {
  background-color: #5f6368 !important;
  background-image: none !important;
}

#btnRecordFeedback.record__button:disabled {
  background-image: linear-gradient(#f0f2f2,#c8c8c8);
  cursor: not-allowed;
}

.assignment-student-list-title span, .question-list-title span {
  font-size: 1.375rem !important;
}

div[responseidentifier], div.mainBody {
  margin-bottom: 15px;
}

.audio-player-container #play-icon.pause {
  border-style: double !important;
  border-width: 0px 0 0px 12px !important;
}

#portal-v2-containter .textHotSpot, sourceObject[type='text'] {
  padding: 8px !important;
  background-color: var(--blue1) !important;
  border: 1px solid var(--blue3) !important;
  color: var(--navyBlue) !important;
  line-height: 20px;
  font-weight: bold !important;
}

.drag-drop-single {
    width: auto;
    display: inline-block;
}

.assignment-filter-question .assignment-note-cell {
  background: transparent !important;
}

.partialDestinationObject[type='text'] .partialDestinationObject div {
  text-align: center;
}

.header.question-list-title {
    padding: 20px 10px;
}

.audio-player-container #btn-delete-audio {
  font-size: 1.25rem !important;
}

#portal-v2-containter .ui-dialog .ui-dialog-titlebar-close {
  top: 1.5rem !important;
}

#portal-v2-containter .ui-dialog .ui-dialog-titlebar-close:after {
  font-size: 0.9375rem !important;
}

span.hotspot-item-type {
  background-color: var(--selectBorder);
  border: 1px solid var(--white);
  border-radius: 0;
  color: var(--navyColor);
  font-weight: bold;
}

  span.hotspot-item-type:before {
    border-color: convert(var(--navyColor) string);
  }

.checked.incorrect, .selected.incorrect, .active.incorrect-question {
  background-color: var(--orange4) !important;
  color: var(--white) !important;
}

.checked.incorrect, .selected.incorrect, .active.incorrect-question .highlighted {
  background-color: var(--orange4) !important;
}

.answerQuestion:not(.checked) {
  background-color: var(--green1);
  display: block !important;
  color: var(--white) !important;
}

.answerQuestion[typehotspot="border-style"]:not(.checked) {
  box-shadow: inset 2px 2px 5px rgb(0 0 0 / 30%);
}

.active.correct-question,
.checked.correct,
.selected.correct,
.hotspot-item-type[typehotspot="border-style"].checked:not(.incorrect),
.hotspot-item-type[typehotspot="border-style"][data-correct="true"],
.hotspot-item-type[typehotspot="border-style"][data-correct="false"]:not([data-point="0"]) {
  background-color: var(--green2) !important;
  color: var(--white) !important;
}

.active.correct-question .highlighted {
  background-color: var(--green2) !important;
}

.ui-popup-fullpage .ui-dialog-titlebar {
  top: 10px;
  right: 15px;
}

#portal-v2-containter .ui-popup-fullpage .ui-dialog-titlebar-close:after {
    top: -12px !important;
    line-height: 1;
}

.hotspot-item-type[typehotspot="number"].checked:before, .hotspot-item-type[typehotspot="letter"].checked:before {
  display: none;
}

span.hotspot-item-type[typehotspot="circle"].checked:before,
span.hotspot-item-type[typehotspot="checkbox"].checked:before {
  border-color: convert(var(--white) string);
  background-color: transparent;
}

span.hotspot-item-type[typehotspot="border-style"][showborderhotspot="false"].checked{
    border: 1px solid var(--white);
}

#portal-v2-containter .ui-dialog .hotspot-item-type.checked {
  background-color: var(--green2);
  border: 1px solid var(--white);
  color: var(--white);
  border-radius: 0;
}

#portal-v2-containter .ui-dialog .hotspot-item-type.checked:before {
  background-color: transparent;
}

#portal-v2-containter .teacherReviewerV2 .assignment-fieldset legend {
  border: unset;
  background: none;
  border-radius: unset;
  box-shadow: unset;
  font-weight: 700;
  font-size: 1.375rem;
  color: black;
  padding: 20px 0 0 0;
}

#portal-v2-containter .itemtypeonimage > div > .input + i {
  position: absolute !important;
  margin-left: 5px !important;
  left: 100%;
  top: -4px;
}

.columns-special * {
  color: var(--navyColor);
  font-size: var(--fontSizeLabel) !important;
}


.teacherReviewerV2 .assignment-question-left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 452px;
}

.teacherReviewerV2 .assignment-question-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.inlineChoiceAnswer {
  color: var(--navyColor) !important;
  font-weight: 400;
}

.correct-answer-teacher-review, #popup_content #divQuestionDetails .correct-answer-teacher-review {
  color: var(--navyColor) !important;
  font-size: 1rem !important;
  font-weight: 700;
  margin: 10px 0 !important;
}

.correct-answer-teacher-review, #popup_content #divQuestionDetails .correct-answer-teacher-review span {
  font-size: 1rem;
  font-weight: 400;
}

.correct-answer-teacher-review, #popup_content #divQuestionDetails .incorrect-answer-teacher-review {
  color: var(--navyColor) !important;
  font-size: 1rem;
  font-weight: 700;
  margin: 10px 0 !important;
  display: block;
  line-height: 20px;
}

.correct-answer-teacher-review, #popup_content #divQuestionDetails .incorrect-answer-teacher-review span {
  font-size: 1rem;
  font-weight: 400;
}

#portal-v2-containter .btn-assignment-tipsy[data-tipsy*="Batch Printing"]:after {
  -webkit-transform: translateX(-75%);
  -ms-transform: translateX(-75%);
  transform: translateX(-75%);
}

/* Responsive */
@media (min-width: 1200px) and (max-width: 1399px) {
  .teacherReviewerFullPage.teacherReviewerV2 .assignment-note-cell {
    padding: 16px 4px;
  }

  .teacherReviewerFullPage.teacherReviewerV2 .assignment-note-cell-filter {
    margin-left: var(--spacing);
    margin-right: var(--spacing);
    margin-bottom: calc(var(--spacing) / 2)
  }

  #portal-v2-containter.teacherReviewerFullscreen .assignment-note-cell-filter span {
    font-size: var(--body-size);
  }

  #portal-v2-containter.teacherReviewerFullscreen .teacherReviewerV2 .assignment-desc-question {
    height: 720px;
    max-height: inherit;
  }

  #portal-v2-containter.teacherReviewerFullscreen .teacherReviewerV2 .assignment-question-list .assignment-desc {
    height: 668px;
  }

  #portal-v2-containter .teacherReviewerV2 .assignment-student-list .assignment-desc-students{
      height: 822px;
  }
}

.assignment-content {
  padding: 10px !important;
}

.partialDestinationObject[type="image"] .drag-drop-single sourceobject {
  position: absolute;
  top: 0;
  left: 0;
}

sourceobject[type="image"] {
  vertical-align: top;
  margin-top: 5px;
}
.partialDestinationObject[type="image"] {
  margin-top: 5px;
}
  .partialDestinationObject[type="image"] sourceobject[type="image"] {
    margin-top: 0px;
  }
.partialDestinationObject[type="image"] .drag-drop-single {
  border: 1px solid var(--black);
}
.destinationText {
  position: absolute;
}
