#portal-v2-containter .test-assignment-review-v2 {
  background-color: var(--white);
}
#portal-v2-containter .test-assignment-review-v2 .form fieldset,
#portal-v2-containter .test-assignment-review-v2 fieldset {
  padding: 0;
  margin: 0
}

#portal-v2-containter .test-assignment-review-v2 .title,
#portal-v2-containter .test-assignment-review-v2 .header {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.455;
    color: var(--navyColor);
}

#portal-v2-containter .test-assignment-review-v2 .title {
  font-size: 2rem;
  color: var(--navyColor);
  line-height: 1;
}
#portal-v2-containter .test-assignment-review-v2 .btn-clear-filter,
#portal-v2-containter .test-assignment-review-v2 .btn-apply-filter {
  width: 112px;
  height: 44px;
  border: none;
}
#portal-v2-containter .test-assignment-review-v2 .btn-clear-filter {
  color: var(--red);
  margin: 0;
}
#portal-v2-containter .test-assignment-review-v2 .btn-clear-filter i {
  color: var(--red);
}
#portal-v2-containter .test-assignment-review-v2 .btn-apply-filter {
  color: var(--white);
  background-color: var(--red);
}

#portal-v2-containter .test-assignment-review-v2 .col {
  width: 100%;
}

#portal-v2-containter .test-assignment-review-v2 .block-text-name {
    width: 207px !important;
}
#portal-v2-containter .test-assignment-review-v2 .select2-container,
#portal-v2-containter .test-assignment-review-v2 .block-text-name .select2-container {
  width: 214px !important;
  min-width: 214px;
}
#portal-v2-containter .test-assignment-review-v2 .col .select2-container,
#portal-v2-containter .test-assignment-review-v2 .col .block-text-name .select2-container {
  width: 100% !important;
}

#portal-v2-containter .test-assignment-review-v2 .action {
    margin-bottom: 15px;
}

#portal-v2-containter .test-assignment-review-v2 #selectSchool {
    width: 100% !important;
    min-width: 100% !important;
}


/*========= class-test-assignment ============*/
#classDataTable tr {
  height: 56px;
}

#dvTestAssignmentDefaultSetting table {
  width: 100%;
}

.popup-exportInfo a.big-button {
  color: var(--white);
}
#popup-exportInfo {
  font-weight: 700;
}

#divClassTestAssignments a.is-disabled,
#divClassTestAssignments a.is-disabled:hover,
#divClassTestAssignments a.is-disabled:focus {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.6) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
  border-color: rgb(161, 167, 174) rgb(144, 148, 152) rgb(107, 112, 118);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), color-stop(0.05, rgb(197, 203, 206)), to(rgb(159, 167, 176)));
  cursor: default;
  pointer-events: none;
}

.tooltip {
  position: relative;
}

.ui-dialog-titlebar-close {
  z-index: 100;
}

#portal-v2-containter input[type=checkbox].form-check-input:before,
#portal-v2-containter input[type=checkbox].form-check-input:after {
  display: none;
}
#portal-v2-containter input[type=checkbox].form-check-input.input-checked-v2:after,
#portal-v2-containter input[type=checkbox].form-check-input.input-checked-v2:before {
  display: none
}
#portal-v2-containter .form-switch .form-check-input {
  width: 2.6rem;
  height: 1.5rem;
  position: relative;
  cursor: pointer;
}

#portal-v2-containter .test-assignment-review-v2 .form-switch .form-check-input {
  width: 2.6rem;
  height: 1.5rem;
}
#portal-v2-containter .test-assignment-review-v2 .form-check-input:checked {
  background-color: var(--lightBlue);
  border-color: var(--lightBlue);
}

#portal-v2-containter .deactivated-title {
    font-size: 1rem;
    display:inline-block;
}
#portal-v2-containter .deactivated-title input {
    cursor: pointer;
}
#portal-v2-containter .btn-action {
  width: 5.6rem;
  height: 2.5rem;
  border: 2px solid var(--selectBorder);
  cursor: pointer;
}

#portal-v2-containter .test-assignment-review-v2 .state-district {
  max-width: calc(100% / 5);
  min-width: calc(100% / 5);
  display: block;
}

#portal-v2-containter .modal-component-container .modal-component-close {
  right: 6px !important;
  top: 0 !important;
  min-height: 25px !important;
}
#portal-v2-containter #divHideShowAssignment .modal-component-header {
  padding: 20px 0 0 20px !important;
}
#portal-v2-containter #divHideShowAssignment .modal-component-body {
  padding: 0 15px 20px 15px !important;
}

#divClassTestAssignments table td {
  vertical-align: middle;
}

#divClassTestAssignments table .icon-students {
  margin-left: 1em;
}

#divClassTestAssignments table .regenerate-authenticator-code {
  cursor: pointer;
  color: var(--red);
  margin-left: 5px;
}

#portal-v2-containter .test-assignment-review-v2 .btn-apply-filter:hover {
  background-color: var(--lightRed);
}

.btn-clear-filter:active, .btn-clear-filter:active i {
  color: var(--disabledColorBg) !important;
}

.btn-clear-filter:hover, .btn-clear-filter:hover i {
  color: var(--lightRed) !important;
}

.block-section {
  background: white !important;
  padding: 24px !important;
}

.class-test-assignment {
    padding-top: 20px !important;
}

#selectFilters {
  padding-bottom: 8px !important;
}

#lastUpdateInfor * {
  font-size: var(--fontSizeLabel2) !important;
}


#portal-v2-containter .test-assignment-review-v2 .block-text-name {
  width: 100% !important;
}

/* Responsive */

@media (max-width: 1399px) and (min-width: 1200px) {
  #portal-v2-containter .test-assignment-review-v2 .action {
    justify-content: flex-end;
    flex: auto;
    padding: 0 1rem;
    margin-bottom: 0;
    max-width: 100% !important;
  }
}

