.ui-widget-header {
  border: 0px solid #aaa !important;
  background: transparent !important;
  position: relative;
  top: 34px;
}

.ui-dialog {
  background: transparent;
  border: 0;
}

  .ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 7px;
    top: -8px;
  }

.ui-widget-header .ui-icon {
  background-image: url("/Content/themes/base/images/fancy_close.png");
}

.ui-icon {
  width: 40px;
  height: 40px;
}

.ui-icon-closethick {
  background-position: 2px 2px;
}

.ui-widget-header .ui-state-hover {
  border: 0;
  background: transparent !important;
}

.ui-dialog .ui-dialog-titlebar-close {
  width: 30px;
  height: 42px;
}

.ui-widget-overlay {
  background: var(--dark) !important;
}

.block-content .no-margin {
  margin-left: -0.667em !important;
}

.table thead td {
  color: #000 !important;
  text-shadow: 0 0px;
}

.ui-widget-header {
  position: relative;
  z-index: 9999;
}

.ui-widget-content {
  z-index: 1002;
}

#divListLockbankdl2 .block-footer {
  margin-top: 0px !important;
}

.checkboxCenter {
  text-align: center !important;
}


.test-preference-setting {
  background-color: var(--white);
  /*padding: 0.5em;*/
}

#portal-v2-containter .test-preference-setting .header {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.455;
  margin-bottom: 16px;
  color: var(--navyColor);
}
#portal-v2-containter .test-preference-setting .page-label {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.4;
}
  .test-preference-setting #TestPreferenceContent {
  /*padding-top: 16px;*/
}
.test-preference-setting #divListLockbankdl1 .bubbleSheetSelector {
  background-color: var(--white);
  margin-top: 16px;
}
.test-preference-setting .selectStateDictrict,
.test-preference-setting .select-district-state {
  background-color: var(--white);
  max-width: 1000px
}

#portal-v2-containter .test-preference-setting .block-content h1,
#portal-v2-containter .test-preference-setting .block-content .h1 {
    margin-bottom: 0;
    background-color: var(--white)
}
#portal-v2-containter .test-preference-setting .apply_filler {
  margin-right: auto;
}
#portal-v2-containter .test-preference-setting .apply_filler button {
  background-color: var(--red);
  color: var(--white);
  padding: 12px 16px;
  border-color: var(--red);
  margin-top: 23px;
  margin-left: 10px;
}
.test-preference-setting .testPreference #datatable_wrapper {
  margin: 0 !important;
}
.test-preference-setting .last-childtestPreference {
    background-color: var(--white);
}
#portal-v2-containter .test-preference-setting .block-text-name {
  width: 250px !important;
  min-width: 250px !important;
}
#portal-v2-containter .test-preference-setting .last-child table tbody .checkboxCenter {
    text-align: center !important;
}

#portal-v2-containter #divSettingAreas #btnTestSettingSubmit {
  padding: 10px 16px;
  margin-top: 24px;
  margin-right: 3px;
  background-color: var(--red);
  color: var(--white);
  border-color: var(--red);
}

.accordion-title.active .fa-chevron-down {
  transition: .3s transform ease-in-out;
  transform: rotate(180deg);
}

.accordion-title:not(.active) .fa-chevron-down:not(p) {
  transition: .3s transform ease-in-out;
  transform: rotate(0);
}

.accordion-title i {
  float: right;
}

.accordion-scroll {
    padding: 0px !important;
}

#TestPreferenceForm {
    padding: 24px !important;
}

#portal-v2-containter #idTestToSpeedOptionON {
  width: 520px;
  display: flex;
  align-items: center;
  justify-content: flex-end
}

#portal-v2-containter #divDeadline {
  display: flex;
  align-items: center;
  justify-content: flex-end
}

#accordion-preferences-setting.accordion-scroll {
    max-height: 650px !important;
}

.row-selected {
    background-color: var(--blue3);
    color: var(--navyColor);
}

#portal-v2-containter #classDataTable_wrapper table tbody .action-col-style {
  text-align: center !important;
}

@media (max-width: 1500px) and (min-width: 1200px) {

    #portal-v2-containter #idTestToSpeedOptionON select {
      margin-left: 8px;
    }

    #portal-v2-containter .test-name-col-style {
      width: unset !important;
    }

    #portal-v2-containter .review-col-style {
      width: 100px !important;
    }
}

@media (min-width: 1900px) {
  #portal-v2-containter .table-assignment .table-col-90 {
    max-width: inherit;
  }

  #portal-v2-containter .table-monitor .col-assigned {
    max-width: inherit;
  }

  #portal-v2-containter .table-assignment .col-action, .table-monitor .col-action {
    max-width: inherit;
  }

  #portal-v2-containter .table-assignment .col-check {
    max-width: inherit;
  }
}

@media (min-width: 1400px) {
  .test-preference-setting .select-district-state {
    max-width: 1150px
  }
}

