:root {
  --groupTextColor: #262626;
}

.block-section {
  background: white;
  padding: 24px;
}

#portal-v2-containter form {
  background: var(--blue1);
}

.mt-16 {
  margin-top: 1em;
}
.pt-16 {
    padding-top: 1rem;
}

.ml-10 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: .5rem;
}

.mr-16 {
  margin-right: 1em;
}

.mr-10 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: .5rem;
}

.ml-0 {
  margin-left: 0;
}

#portal-v2-containter .form .fieldset-label {
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 1.45;
}

.input-label {
  line-height: 1.857 !important;
}

#generateContent fieldset {
  padding: 0 !important;
}

.input-label {
  display: table-cell;
}

.input-label > label {
  padding-left: 8px;
}

.test-assignment-v2 {
  background-color: transparent;
}

#generateContent .row label {
  font-size: 0.875rem;
}

#popUpStudentAssignmentConfirm .col-6,
#ConfirmItemUpdateDialog .col-6 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ConfirmItemUpdateDialog .btn-accept {
  margin-left: -44px;
}

#btnEnableStudentLevelAssignment {
  width: 130px;
  margin-left: -44px;
  color: white !important;
}

#studentContent label {
  margin-bottom: 0;
  line-height: 1.857;
}

#spanStudentsList {
  cursor: pointer;
}

#spanStudentsList[aria-expanded=true] .fa-chevron-up {
  transition: .3s transform ease-in-out;
  transform: rotate(0);
}

#spanStudentsList[aria-expanded=false] .fa-chevron-up {
  transition: .3s transform ease-in-out;
  transform: rotate(180deg);
}

#spanStudentsList > label {
  cursor: pointer;
}

.btn-none-bg {
  padding: 8px 12px;
  background: none !important;
  border: 1px solid var(--selectColor) !important;
  font-size: 0.875rem !important;
  font-weight: 700;
  color: #1E1E54 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}

.btn-none-bg:disabled {
  background: var(--disabledColorBg) !important;
  border: none !important;
  text-shadow: none !important;
  box-shadow: none !important;
  color: var(--disabledColor) !important;
  border-radius: 0 !important;
}

#studentsListCollapse {
  margin-bottom: 10px;
  margin-top: 16px;
}

.fs-content {
  background-color: white !important;
  padding: 24px;
}

.wrapper-width {
  max-width: 12.5rem;
}

#fsSelectOption > legend {
  text-transform: capitalize;
  margin: 21px 36px;
  margin-left: 24px;
  width: 235px;
  line-height: 1.455;
  font-size: 1.375rem;
  background: none;
  font-weight: 700;
  padding: 0;
  border-radius: 0;
  color: var(--navyColor) !important;
  border: none;
  box-shadow: none;
}

#lastUpdateInfor {
  display: inline-block;
  border-right: 1px solid rgb(240, 240, 240);
  margin-right: 20px;
  padding-right: 20px;
}

#aDistrictSetting {
  float: right;
  text-align: center;
  width: 235px;
  padding: 8px 12px;
  text-decoration: none;
  background: white;
  color: var(--navyColor) !important;
  text-shadow: none;
  border: 1px solid var(--selectColor);
  box-shadow: none;
  margin-right: 24px;
  border-radius: 0;
}

#divButtonOption {
  margin-top: 29px;
}

#lgSelectOption > i {
  float: right;
  margin-top: 8px;
}

#fsSelectOption.collapsed .fa-chevron-up
{
  transition: .3s transform ease-in-out;
  transform: rotate(180deg);
}

#fsSelectOption.expanded .fa-chevron-up {
  transition: .3s transform ease-in-out;
  transform: rotate(0);
}

#fsSelectOption.collapsed > #divButtonOption {
  display: none !important;
}

#fsSelectOption.expanded > #divButtonOption {
  display: block !important;
}

.accordion {
  border: none;
  box-shadow: none;
  padding: 0 !important;
  margin: 0 !important;
}

.accordion-title {
  margin: 0;
  padding: 12px 16px;
  background: var(--blue1);
  border: none;
  color: var(--navyColor);
}

.accordion-title i {
  margin-top: 3px;
  margin-left: auto;
  float: right;
}

header.active .fa-chevron-down {
  transition: .3s transform ease-in-out;
  transform: rotate(180deg);
}

header:not(.active) .fa-chevron-down:not(p) {
  transition: .3s transform ease-in-out;
  transform: rotate(0);
}

#accordion-preferences-setting {
  margin: 0 1.5em 1.5em 1.5em !important;
  width: 50%;
}

#accordion-assignment-setting {
    margin-bottom: 0px;
}

#accordion-preferences-setting .table-accordion-title,
#accordion-assignment-setting .table-accordion-title {
  color: var(--navycolor);
  text-align: left !important;
}

#accordion-preferences-setting table,
#accordion-preferences-setting table tbody td,
#accordion-assignment-setting table,
#accordion-assignment-setting table tbody td {
  border: none !important;
  text-align: right;
}

.accordionDiv > article > table > tbody > tr > td {
  text-align: right;
}

.accordionDiv > article > table > tbody > tr > td > div {
  float: right;
}

#accordion-preferences-setting header {
    display: flex;
}

.accordion-title > h3 {
  color: var(--navyColor);
}

.accordionDiv {
  background: var(--blue1);
  border: 1px solid var(--blue3);
}

#btnSubmitUpdatePreference {
  margin-right: 69px;
  margin-top: 8px;
  float: right;
}

#btnTestSettingCancel {
  margin-left: 63px;
  margin-top: 14px;
  color: white !important;
}

.accordion-title.active .fa-chevron-down {
  transition: .3s transform ease-in-out;
  transform: rotate(180deg);
}

.accordion-title:not(.active) .fa-chevron-down:not(p) {
  transition: .3s transform ease-in-out;
  transform: rotate(0);
}

#accordion-assignment-setting table tbody td:first-child {
    text-align: left !important;
}

.width-282 {
  width: 282px !important;
}

#generateContent .block-text-name {
  width: 100% !important;
}

#generateContent .select2-container {
  width: 100% !important;
}

.generate-student-list li {
  width: 323px !important;
  margin-left: 10px !important;
  margin-right: 10px;
}

@media (max-width: 1399px) and (min-width: 1200px) {
  .generate-student-list li {
    width: calc(33.33% - 20px) !important;
  }
}

.generate-student-list-custom li:nth-child(3n) {
  float: left;
}

.generate-student-list {
  padding-left: 0px !important;
  margin-left: -10px;
  margin-right: -10px;
}

.student-item a {
    text-decoration: none;
}

#confirmSubmitDialog .col {
  display: flex;
  justify-content: center;
  padding: 8px;
}

#confirmSubmitDialog .btn-cancel {
  width: 80%;
}

input[name='selectStudentOptions']::after,
input[name='selectStudentOptions']::before {
  background: var(--blue1) !important;
}

#CustomAlertDialog .btn-accept {
  background: var(--btnAcceptBackground) !important;
  color: var(--white) !important;
  border: none !important;
  text-decoration: none;
  height: 44px;
}
/* Group Assignment */
#divAddEditGroup div h1 {
  font-size: 1.375rem !important;
  margin: 0;
}

.group-name-input {
  width: 381px;
  margin: 0px 8px;
  left: 0px;
  top: 0px;
  border: 2px solid var(--navyColor) !important;
  color: var(--navyColor) !important;
}


#btnRemove {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 11px 16px;
  border: 1px solid var(--blue3) !important;
}

#btnAddClass {
  padding: 11px 16px;
  border: 1px solid var(--blue3) !important;
}

#fdMemberClasses {
  padding: 16px 0px 0px 19px !important
}
/* End Group Assignment */

/* Test Schedule */

.hide-input {
  visibility: hidden;
  width: 0 !important;
  height: 0 !important;
  vertical-align: 0px !important;
}

.day-of-week-input {
  width: 56px;
  height: 40px;
  border: 1px solid var(--blue3);
  border-radius: 2px;
  margin: 0 .5em;
  flex: none;
  padding: 8px 12px 6px;
  background: var(--blue1);
}

.test-schedule-input {
  width: 256px !important;
  height: 48px;
  padding: 11px 16px;
  border: 2px solid var(--selectBorder);
  color: var(--navyColor) !important;
  background: var(--white) !important;
  margin-top: .5em;
}

.test-schedule-form label {
  margin-bottom: 0px !important;
}

.btnActive {
  background: var(--blue3) !important;
}

.test-schedule-container * {
    line-height: 26px !important;
}

#testScheduleDetail .test-schedule-input {
    width: 212px;
}

.test-schedule-container-view {
    text-align: left;
}

.accordion-title h3 {
  margin-bottom: 0;
}

#accordion-assignment-setting table tbody td,
#generateContent table tbody td {
  padding: 0 1em !important;
  width: auto !important;
  line-height: 3;
}

#generateContent #divTabClassAssignments table tbody td,
#generateContent #divTabStudentAssigns table tbody td {
  line-height: 1.5;
  padding: 0.5em 1em !important;
}

.btn-close-md {
  font-size: 0.875rem !important;
  cursor: pointer;
}

.ui-dialog-titlebar-close {
    visibility: hidden !important;
}
/*End Test Schedule */
#divMultiClass .no-margin.last-child {
  margin: 0
}

#lastUpdateInformation label, #lastUpdateInfor label {
  font-weight: normal !important;
  line-height: 30px;
}

#divAssignmentSettingl2 .testPreferences__panel {
  position: relative;
  bottom: -5px;
}

.testPreferences__panel {
  margin-top: 15px;
  font-weight: 700;
  display: inline-block;
}

#divDefaultSetting .testPreferences__panel {
  margin-bottom: -4px;
}

.btn__setting.active__state {
  background: var(--red) !important;
  border-right: var(--red);
}

#divAssignmentSettingl2 .scrollHorizontal__wrapper {
  width: 100% !important;
}

#divAssignmentSettingl2 .accordion-scroll {
  padding: 0px !important;
}

#lastUpdateInformation {
  float: right;
  margin-right: 2px
}

.accordionDiv table td:nth-child(2) {
    vertical-align: middle;
}

.accordion-content {
    margin-bottom: 1em;
}

#divMultiClass table td {
  line-height: normal !important;
}

.session__wrapper {
  text-align: right;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-left: 24px;
  margin-right: 48.25%;
}

.label-header {
  text-transform: capitalize;
  line-height: 1.455 !important;
  font-size: 1.375rem !important;
  font-weight: 700 !important;
}

/*Custom input*/
.form input[type=radio],
.form input[type=checkbox] {
  vertical-align: middle;
  margin-top: -1px;
}

@media (max-width: 1399px) and (min-width: 1200px) {
  #portal-v2-containter .select-student-area p,
  #portal-v2-containter .select-student-area .input-label label,
  #portal-v2-containter .select-student-area .input-label {
    font-size: var(--body-size) !important;
  }

}
