#portal-v2-containter .test-assignment-review-v2 .form fieldset,
#portal-v2-containter .test-assignment-review-v2 fieldset {
  padding: 0;
}
#portal-v2-containter .test-assignment-review-v2 .title,
#portal-v2-containter .test-assignment-review-v2 .header {
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
}
#portal-v2-containter .test-assignment-review-v2 .title {
  font-size: 32px;
}
