#portal-v2-containter .no-margin {
  margin: 0;
}

#portal-v2-containter .ui-dialog section {
 margin: 0;
}

#portal-v2-containter .ui-dialog .ui-dialog-content {
  padding: 0;
  min-height: 0 !important;
}

#portal-v2-containter .ui-dialog .ui-dialog-titlebar {
  padding: 0;
}

#portal-v2-containter .ui-dialog .ui-dialog-title {
  display: none;
}

#portal-v2-containter .ui-dialog .ui-dialog-content .block-border {
  width: auto !important;
}

#portal-v2-containter section,
#portal-v2-containter no-margin {
  margin: 0;
}

#portal-v2-containter .customTableTest {
  display: block;
  width: 100% !important;
  height: 500px;
  overflow-y: auto;
  border: 1px solid var(--borderColor);
}

#portal-v2-containter .customTableTest thead,
#portal-v2-containter .customTableTest tbody {
  display: table;
  width: 100%;
}

#portal-v2-containter .customTableTest thead {
  position: sticky;
  top: 0px;
}

#portal-v2-containter #dataTableTestBank thead th:nth-child(1),
#portal-v2-containter #dataTableTestBank thead th:nth-child(2),
#portal-v2-containter #dataTableTestBank thead th:nth-child(3),
#portal-v2-containter #dataTableTestBank tbody td:nth-child(1),
#portal-v2-containter #dataTableTestBank tbody td:nth-child(2),
#portal-v2-containter #dataTableTestBank tbody td:nth-child(3) {
  width: 33% !important;
}

#portal-v2-containter #dataTableTestBank tbody td {
  word-break: break-word;
}

@media (max-width: 1440px) and (min-width: 1200px) {
  #portal-v2-containter .customTableTest {
    height: 350px;
  }
}

@media (max-width: 1399px) and (min-width: 1200px) {
  #portal-v2-containter #divVirtualTestProperties .form-properties-v2 {
    max-height: 685px;
    overflow-y: auto;
  }
}
