#portal-v2-containter #dataTable_wrapper {
  margin: 0;
}

#portal-v2-containter .data-search label {
  margin: 0;
}

#portal-v2-containter .ui-dialog {
  height: auto !important;
  width: auto !important;
  max-width: 500px;
  padding: 0;
}

#portal-v2-containter .ui-dialog .ui-dialog-content {
  padding: 0;
  min-height: 0 !important;
}

#portal-v2-containter .ui-dialog .ui-dialog-titlebar {
    padding: 0;
}

#portal-v2-containter .ui-dialog .ui-dialog-title {
  display: none;
}

#portal-v2-containter .ui-dialog section {
  margin: 0;
}

#portal-v2-containter .datatable-process-error thead tr th:first-child {
  width: 6% !important;
}

#portal-v2-containter .datatable-process-error thead tr th:last-child {
  width: 11% !important;
}

#portal-v2-containter .uploadifive-button {
  background-image: unset;
  text-shadow: none;
  background-color: transparent;
  color: var(--navyColor);
  width: fit-content !important;
  height: auto !important;
  line-height: normal !important;
  padding: 11px 32px;
  border: 2px solid var(--blue3);
  border-radius: 0;
  cursor: pointer;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

#portal-v2-containter .uploadifive-button:hover {
  background-color: var(--blue3) !important;
}

#portal-v2-containter .lastVisibleSection {
    margin: 0;
}

#portal-v2-containter .error-detail-content .group-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

#portal-v2-containter .error-detail-content .group-btn button {
  display: block;
}

#portal-v2-containter .error-detail-content .barcode input {
  border: 2px solid #1E1E54;
}

#portal-v2-containter .error-detail-content p.input-height {
  padding: 0;
}

#portal-v2-containter .error-detail-content p.input-height inputinput[type=text] {
  padding: 0.25rem !important;
}

#portal-v2-containter .error-detail-content table tbody tr {
  height: 58px;
}

#portal-v2-containter .custom-invalid-popup .block-border  {
    width: auto !important;
}

@media (max-width: 1300px) and (min-width: 1200px) {
  #portal-v2-containter .datatable-process-error thead tr th:last-child {
    width: 15% !important;
  }
}

@media (max-width: 1700px) and (min-width: 1301px) {
  #portal-v2-containter .datatable-process-error thead tr th:last-child {
    width: 14% !important;
  }
}
