:root {
  --menuCurrentBackground: rgba(var(--white-rgb), 0.2);
  --menuBackground: var(--navyColor);
  --fontSizeLabel16: 16px;
  --verticalMenuCollapsedWidth: 66px;
  --drawerCollapsedWidth: 66px;
  --heightMainNav: 54px;
  --heightItemNav: 44px;
  --transition: .2s cubic-bezier(.4,0,.2,1);
  --nav-bar-shadow: 0.3px 0.5px 0.7px rgba(100, 127, 170, 0.34), 0.4px 0.8px 1px -1.2px rgba(100, 127, 170, 0.34), 1px 2px 2.5px -2.5px rgba(100, 127, 170, 0.34);
}

body {
  padding-left: var(--verticalMenuCollapsedWidth);;
}

.nav-transition {
  transition: var(--transition);
}

.main-nav-vertical {
  background: var(--menuBackground);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
  width: var(--drawerCollapsedWidth);
  box-shadow: var(--nav-bar-shadow);
  transition: var(--transition);
}

.main-nav-vertical__inner {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.main-nav-vertical .menu_ul {
  padding: 0 0.25rem;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  padding: 0;
}

.main-nav-vertical .menu-item > a {
  overflow: hidden;
}

.main-nav-vertical .menu_ul > li {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
}

  .main-nav-vertical .menu_ul > li.current > a,
  .main-nav-vertical .menu_ul > li:hover > a {
    background-color: var(--menuCurrentBackground);
  }

.main-nav-vertical .menu_ul > li > a {
  padding: 12px 1.25rem;
  min-height: var(--heightItemNav);
}

.main-nav-vertical .menu-icon {
  margin-right: 0;
  background-size: contain;
  width: 24px;
  min-width: 24px;
  height: 24px;
  margin: 0;
  background-position: center;
  background-color: var(--white);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.main-nav-vertical a {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex: 1 1 auto;
  width: 100%;
  font-size: var(--fontSizeText);
  color: var(--white);
  text-decoration: none;
}

.main-nav-vertical a:not([href]):not([class]) {
  color: var(--white);
}

.vertical-navigation-expanded .logo {
  transition: var(--transition);
}

.main-nav-vertical .sub-menu-arrow,
.main-nav-vertical .menu-arrow {
  font-size: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.main-nav-vertical .dropdown-menu {
  --overHeight: 0px;
  background: var(--menuBackground);
  width: 260px;
  margin-top: 0;
  padding: 0px;
  display: block;
  border-radius: 0;
  left: 100%;
  top: 0;
  border: 0 none;
  transform: translateY(var(--overHeight))
}

.vertical-navigation-expanded {
  --drawerCollapsedWidth: 250px;
}

.vertical-navigation-expanded .menu-text {
  margin-left: 0.5rem;
}

.main-nav-vertical .menu-text {
  min-width: 178px;
}

body#portal-v2-containter:not(.vertical-navigation-expanded) .menu-text {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.7);
  font-size: 0;
}

body:not(.vertical-navigation-expanded) .logo {
  background: url(../../images/logo-mini.svg) no-repeat center;
  background-size: contain;
  height: 32px;
  width: 25px;
}


.logo {
  background: url(../../images/new-linkit-logo.svg) no-repeat center;
  background-size: contain;
  height: 32px;
  width: 100px;
  margin: 12px 1.25rem;
  flex: 0 0 auto;
  transition: var(--transition);
  cursor: pointer;
}

.dropdown-menu a:hover {
  background: var(--menuCurrentBackground);
  width: 100%;
}

.dropdown-menu a {
  display: block;
  padding: 12px 1.25rem;
  margin: 0px !important;
  min-height: var(--heightItemNav);
}

#portal-v2-containter .dropdown-menu a {
  line-height: 24px;
}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu .current {
  background: var(--menuCurrentBackground);
}

.vertical-navigation-expanded.teacherReviewerFullscreen, body.teacherReviewerFullscreen {
  margin: 0;
  padding: 0;
}


.testing-icon {
  -webkit-mask-image: url('../../images/icons/testing-icon.svg');
  mask-image: url('../../images/icons/testing-icon.svg');
}

.home-icon {
  -webkit-mask-image: url('../../images/icons/home-icon.svg');
  mask-image: url('../../images/icons/home-icon.svg');
  margin-right: 0.5rem;
}

.sheets-icon {
  -webkit-mask-image: url('../../images/icons/sheets-icon.svg');
  mask-image: url('../../images/icons/sheets-icon.svg');
}

.lock-icon {
  -webkit-mask-image: url('../../images/icons/data-lock-icon.svg');
  mask-image: url('../../images/icons/data-lock-icon.svg');
}

.tech-icon {
  -webkit-mask-image: url('../../images/icons/tech-icon.svg');
  mask-image: url('../../images/icons/tech-icon.svg');
}

.report-icon {
  -webkit-mask-image: url('../../images/icons/reporting-icon.svg');
  mask-image: url('../../images/icons/reporting-icon.svg');
}

.survey-icon {
  -webkit-mask-image: url('../../images/icons/survey-module-icon.svg');
  mask-image: url('../../images/icons/survey-module-icon.svg');
}

.help-icon {
  -webkit-mask-image: url('../../images/icons/help-icon.svg');
  mask-image: url('../../images/icons/help-icon.svg');
}

.data-lock-icon {
  -webkit-mask-image: url('../../images/icons/data-lock-icon.svg');
  mask-image: url('../../images/icons/data-lock-icon.svg');
}

.reporting-icon {
  -webkit-mask-image: url('../../images/icons/reporting-icon.svg');
  mask-image: url('../../images/icons/reporting-icon.svg');
}

.intervention-icon {
  -webkit-mask-image: url('../../images/icons/intervention-icon.svg?v=3');
  mask-image: url('../../images/icons/intervention-icon.svg?v=3');
}

.test-design-icon {
  -webkit-mask-image: url('../../images/icons/test-design-icon.svg');
  mask-image: url('../../images/icons/test-design-icon.svg');
}

.survey-module-icon {
  -webkit-mask-image: url('../../images/icons/survey-module-icon.svg');
  mask-image: url('../../images/icons/survey-module-icon.svg');
}

.test-utilities-icon {
  -webkit-mask-image: url('../../images/icons/test-utilities-icon.svg');
  mask-image: url('../../images/icons/test-utilities-icon.svg');
}

.learning-icon {
  -webkit-mask-image: url('../../images/icons/learning-icon.svg');
  mask-image: url('../../images/icons/learning-icon.svg');
}

.user-management-icon {
  -webkit-mask-image: url('../../images/icons/user-management-icon.svg');
  mask-image: url('../../images/icons/user-management-icon.svg');
}

@media (min-width: 1600px) {
  .main-nav-vertical .dropdown-menu {
    width: 285px;
  }
}


@media (max-width: 1599px) and (min-width: 1200px) {
  :root {
    --heightItemNav: 40px;
  }

  .dropdown-menu a {
    padding-top: 11.5px;
    padding-bottom: 11.5px;
  }

  #main-nav .dropdown-menu a {
    font-size: var(--body-size);
  }

}

@media (max-height: 700px) {
  .main-nav-vertical .menu_ul > li > a {
    height: var(--heightItemNav);
  }
  .dropdown-menu a {
    height: var(--heightItemNav);
  }
}
