.block-list-video {
  height: 100%;
  display: flex;
  flex-direction: column;
}

  .block-list-video h3 {
    flex: 1 1 0;
  }

.effect-zoom {
  overflow: hidden;
  position: relative;
}

  .effect-zoom img {
    transition: .3s;
  }

  .effect-zoom .background-blur {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--blurBackgroundLoading);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: .3s;
  }

  .effect-zoom *[class*="fa-"] {
    font-size: 2rem !important;
  }

  .effect-zoom:hover .background-blur {
    opacity: 1;
  }

  .effect-zoom:hover img {
    transform: scale(1.1);
  }


.pp_social .facebook{
    width: 70px;
}
