<!-- Style of Dialog -->

#audioQuestion {
  border: none;
  box-shadow: 0 0 0;
}

.addAudio {
  height: 30px;
  width: 70px;
  line-height: 30px;
}

.btnSave {
  margin-right: 10px;
}

.bubbleSheetSelector select {
  max-width: 305px;
}

button {
  margin-left: 0;
}

.notSelectedTR td {
  background-color: #fdd252 !important;
}

#divSummary p {
  margin-bottom: 10px;
}

.ui-widget-header {
  border: 0px solid #aaa !important;
  background: transparent !important;
  position: relative;
  top: 34px;
}

.ui-dialog {
  background: transparent;
  border: 0;
}

  .ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 14px;
    top: -8px;
  }

.ui-widget-header .ui-icon {
  background-image: url("/Content/themes/base/images/fancy_close.png");
}

.ui-icon {
  width: 40px;
  height: 40px;
}

.ui-icon-closethick {
  background-position: 2px 2px;
}

.ui-widget-header .ui-state-hover {
  border: 0;
  background: transparent !important;
}

.ui-dialog .ui-dialog-titlebar-close {
  width: 30px;
  height: 42px;
}

.ui-widget-overlay {
  background: var(--dark) !important;
}

.block-content .PropertyTitle {
  padding-bottom: 0;
  padding-top: 0;
}

/*#divRight h1 {line-height: 18px;}*/

.textEntryInteraction {
  border: 1px solid #d8d8d8;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  position: relative;
  vertical-align: middle;
  width: auto;
}

.inlineChoiceInteraction {
  width: auto;
}

.assessmentItem img {
  max-width: 2000px !important;
}

.questionType {
  background: none;
  border-bottom: none;
  border-left: none;
}

body {
  padding-left: var(--drawerCollapsedWidth) !important;
  padding-top: var(--heightMainNav) !important;
}

#portal-v2-containter .btn-text.btn-text-default:hover,
#portal-v2-containter .btn-text-default::after,
#portal-v2-containter .btn-text-default {
  color: var(--navyColor) !important;
  width: auto
}

#portal-v2-containter .btn-text-default {
    padding-left: 12px;
    padding-right: 12px;
}

#portal-v2-containter .checkbox-label {
    font-size: 1em !important;
}

#portal-v2-containter .ui-dialog-content > section {
  width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
}

#portal-v2-containter .ui-dialog-content section .block-border {
    width: auto !important;
}

#portal-v2-containter .ui-dialog-content section .block-content {
    padding: 1.5em !important;
    text-align: left !important;
}

#portal-v2-containter .ui-dialog-content .btn-accept {
  margin-top: .15em;
}

#portal-v2-containter .ui-dialog-content section .block-content > div {
  text-align: left !important;
  line-height: 26px;
}

  #portal-v2-containter #divUrlPreviewOnlinePanel .ui-widget-content {
    padding: 0;
  }

#portal-v2-containter #divUrlPreviewOnlinePanel .btn-wrapper-popup {
  height: 70px;
  background-color: var(--navyColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-divUrlPreviewOnlinePanel"] {
    width: auto !important;
}

#portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-divUrlPreviewOnlinePanel"] .ui-dialog-title {
  display: none !important;
}

  #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-divUrlPreviewOnlinePanel"] .ui-dialog-titlebar-close {
    right: 20px !important;
    top: 0px !important;
  }

  .virtualColor,
  .vertualtest-view-control {
    color: var(--navyColor)
  }

.ui-dialog[aria-labelledby="ui-dialog-title-addPassageDialog"] .ui-dialog-titlebar-close {
    display: none !important;
}

.line-matching sourceobject[type="image"] {
  position: relative;
  margin: 1px;
}
.line-matching .text-wrapper {
  display: inline-block;
  position: relative;
}
.line-matching sourceobject:after {
  display: none !important;
}
.line-matching sourceobject {
  padding: 8px !important;
}
.line-matching sourceobject[type="image"] .anchor,
.line-matching .partialDestinationObject[type="image"] .hotSpot,
.line-matching .text-wrapper .anchor {
  width: 10px !important;
  height: 10px !important;
  content: '';
  border-radius: 50%;
  background-color: var(--penn-blue);
  color: var(--penn-blue);
  position: absolute;
  border: none;
  cursor: pointer;
}
.line-matching.object-right sourceobject[type="image"] .anchor {
  top: 50%;
  margin-top: -5px;
  right: 7px;
}
.line-matching.object-right sourceobject[type="image"] {
  padding-right: 25px !important;
}
.line-matching.destination-left .partialDestinationObject[type="image"] {
  margin-left: 25px;
}
.line-matching.destination-left .partialDestinationObject[type="image"] .hotSpot {
  left: -18px !important;
}
.line-matching.object-left sourceobject[type="image"] .anchor {
  top: 50%;
  margin-top: -5px;
  left: 7px;
}
.line-matching.object-left sourceobject[type="image"] {
  padding-left: 25px !important;
}
.line-matching.destination-right .partialDestinationObject[type="image"] {
  margin-right: 25px !important;
}
.line-matching.destination-right .partialDestinationObject[type="image"] .hotSpot {
  left: calc(100% + 8px) !important;
}
.line-matching.object-right .text-wrapper.object .anchor {
  top: 50%;
  margin-top: -5px;
  right: 7px;
}
.line-matching.object-right .text-wrapper.object {
  padding-right: 25px !important;
}
.line-matching.destination-left .text-wrapper.destination {
  padding-left: 25px !important;
}
.line-matching.destination-left .text-wrapper.destination .anchor {
  left: 7px !important;
  margin-top: -5px;
  top: 50%;
}
.line-matching.object-left .text-wrapper.object .anchor {
  top: 50% ;
  margin-top: -5px;
  left: 7px;
}
.line-matching.object-left .text-wrapper.object {
  padding-left: 25px;
}
.line-matching.destination-right .text-wrapper.destination {
  padding-right: 25px;
}
.line-matching.destination-right .text-wrapper.destination .anchor {
  right: 7px !important;
  top: 50%;
  margin-top: -5px;
}
.line-matching.object-top .text-wrapper.object,
.line-matching.destination-top .text-wrapper.destination {
  padding-top: 18px !important;
}
.line-matching.object-top .text-wrapper.object .anchor,
.line-matching.destination-top .text-wrapper.destination .anchor {
  top: 4px;
  left: 50%;
  margin-left: -5px;
}
.line-matching.object-top sourceobject[type="image"] {
  padding: 18px 8px 8px !important;
}
.line-matching.object-top sourceobject[type="image"] .anchor {
  left: 50%;
  margin-left: -5px;
  top: 4px;
}
.line-matching.destination-top .partialDestinationObject[type="image"] {
  padding: 18px 8px 8px !important;
  height: unset !important;
}
.line-matching.destination-top .partialDestinationObject[type="image"] .hotSpot {
  left: 50% !important;
  margin-left: -5px;
  top: 4px !important;
}
.line-matching.object-bottom sourceobject[type="image"] {
  padding: 8px 8px 18px !important;
}
.line-matching.object-bottom sourceobject[type="image"] .anchor {
  left: 50%;
  margin-left: -5px;
  top: unset;
  bottom: 4px;
}
.line-matching.destination-bottom .partialDestinationObject[type="image"] {
  padding: 8px 8px 18px !important;
  height: unset !important;
}
.line-matching.destination-bottom .partialDestinationObject[type="image"] .hotSpot {
  left: 50% !important;
  margin-left: -5px;
  top: unset !important;
  bottom: 4px !important;
}
.line-matching.object-bottom .text-wrapper.object,
.line-matching.destination-bottom .text-wrapper.destination {
  padding-bottom: 18px !important;
}
.line-matching.object-bottom .text-wrapper.object .anchor,
.line-matching.destination-bottom .text-wrapper.destination .anchor {
  top: unset;
  bottom: 4px;
  left: 50%;
  margin-left: -5px;
}
