tr.even.row_selected td {
  background-color: var(--blue7) !important;
}

tr.odd.row_selected td {
  background-color: var(--blue7) !important;
}

#dataTableTestBank_wrapper {
  margin-top: 34px;
}

.ui-state-highlight {
  min-height: 40px;
}

.customCssDataPickerPreference .ui-state-highlight {
  min-height: 0;
}

.autoTestSection .VirtualSectionLable {
  font-weight: bold;
  color: var(--navyColor);
}

#divVirutalSectionQuestion .VirtualSectionLable:hover {
  cursor: pointer;
}

#divVirutalSectionQuestion ol {
  list-style-type: decimal;
}

#divVirutalSectionQuestion {
  list-style-type: decimal;
  max-height: 700px;
}

.autoTestSection .groupSection:last-child {
    margin-bottom: 0 !important;
}

#divVirutalSectionQuestion .questionClass .ulItem {
  padding: .75em;
  background: none;
  cursor: pointer;
}

.QtiItemDetail {
  margin-bottom: 5px;
  line-height: 20px;
}

.TestNameHeading:hover {
  background-color: #79B5D8;
  cursor: pointer;
}

.autoTestSection {
  width: 100%
}

  .autoTestSection .autoSelectAll {
    width: 100%;
    padding: 10px 0px;
  }

  .autoTestSection #divOnTop {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    z-index: 2;
  }

  .autoTestSection .virtualGroup {
    padding: 0px;
    border-bottom: solid 1px #E0CB55;
    min-height: 100px;
  }

.autoListUL {
  margin: 0;
  padding: 0;
  min-height: 0px;
}

.autoTestSection .QtiItemDetail {
  float: none;
  width: 220px;
}

.autoTestSection .numAutoList {
  float: left;
  padding-right: 5px;
  line-height: 20px;
}


.autoTestSection .autoTestHeader {
  cursor: pointer;
  position: relative;
  background: none;
  background-color: var(--blue1);
  border: none;
  border-bottom: 1px solid var(--blue3);
  padding: 0.25em 0 0.25em 0.75em;
  min-height: 48px;
}

.autoTestSection .divContentItem {
  max-height: 100px;
  overflow: hidden;
}

.autoTestSection .groupSection {
  margin-bottom: 24px;
  min-height: 40px;
  border: 1px solid var(--blue3);
}

.groupSection > ul.groupClass {
  min-height: 65px;
  overflow-y: auto;
  background: var(--bg-white);
}

destinationObject[type="text"] {
  border: 1px solid var(--borderColor);
  border-radius: 6px;
  color: var(--borderColor);
  display: inline-block;
  font-style: italic;
  margin: 2px 0;
  min-height: 20px;
  min-width: 50px;
  padding: 2px;
}

.autoListUL .mainBody, .autoListUL .mainbody {
  font-size: 14px;
  max-width: 214px;
  color: var(--navyColor);
  font-family: "Roboto" !important;
}

.answer {
  font-size: 14px;
}

#divVirutalSectionQuestion ul .ui-sortable-placeholder {
  border: solid 1px #4298E3;
  min-height: 70px;
  background-color: #F5FAFF !important;
  visibility: visible !important;
}

#divVirutalSectionQuestion .questionClass .ui-sortable-placeholder {
  border: solid 1px #4298E3;
  min-height: 70px;
  background-color: #F5FAFF !important;
  visibility: visible !important;
}


#divVirutalSectionQuestion {
  overflow-y: auto;
  overflow-x: hidden;
}

.BaseVirtualQuestion {
  background: none repeat scroll 0 0 #a8b2b9 !important;
}

.mainBody {
  padding-left: 0 !important;
  font-family: "Roboto" !important;
  position: relative;
}

.mainBody *:not(.math-tex):not(.math-tex *):not(.MathJax):not(.MathJax *) {
  font-family: "Roboto" !important;
}

.mainBody .MathJax {
  margin-right: .25rem;
}

.mainBody .MathJax .mtext {
  font-family: "MathJax_Main" !important;
}


.groupHeader.groupHeaderLate {
  background-color: var(--yellow1);
  cursor: pointer;
  position: relative;
  padding: .25em .75em .25em .75em;
  border-bottom: 1px solid var(--blue3);
  min-height: 48px;
}

#portal-v2-containter .form .groupHeader label {
  font-weight: bold;
  color: var(--navyColor);
}
.groupHeader:empty {
  border: 0;
}

.groupHeaderTitle {
  float: left;
  font-weight: normal;
  color: var(--white);
  padding-top: 5px;
  padding-left: 3px;
  cursor: pointer;
  width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sectionHeader {
  position: relative;
}

.nullQuestion {
  min-height: 62px !important;
}

.lastGroup {
  min-height: 5px !important;
}

.groupSection .arrow {
  color: var(--navyColor)
}

.groupSection .right {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.groupSection .expan-section {
  width: 26px;
  height: 38px;
}

  .groupSection .expan-section i {
    color: var(--navyColor);
    margin-top: 0.65em;
  }

.groupSection > ul.groupClass > li {
  min-height: 65px;
}

.groupSection > ul.groupClass > li .autoListUL li {
  min-height: 89px;
}

#divVirutalSectionQuestion .questionClass .ulItem.selected {
  background-color: var(--blue3) !important;
}


  .groupSection > ul.groupClass > li .autoListUL li > div.d-flex {
      min-height: 65px;
  }

  #portal-v2-containter .virtualSectionBtn button {
    margin-right: .75rem !important;
  }

#portal-v2-containter .virtualSectionBtn button:last-child {
  margin-right: 0 !important;
}


#portal-v2-containter .form .chkAllAutoTest label {
    font-weight: bold;
}

#portal-v2-containter .autoTestHeader * {
  text-shadow: none;
}

.groupClass > li {
    border-bottom: 1px solid var(--blue3);
}

.groupClass > li:hover {
  background-color: var(--blue1)
}

#portal-v2-containter .ui-sortable-helper {
  background-color: var(--blue1) !important;
  border: 1px solid var(--blue3) !important;
  overflow: hidden !important;
}

#portal-v2-containter .btn-section-control {
    padding: 11px 12px;
}

#btnViewVirtualTestProperties {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#divAudio .blockUI .block-loading,
#divAudio .blockUI.blockMsg {
  padding: 0 !important;
  min-height: 47px !important;
  left: 2px !important;
}
#divAudio .blockUI .block-loading > span {
    font-size: 18px !important;
}
.groupSection > ul.groupClass > li.no-content {
    border: none;
}

.groupSection .questionClass > li {
  border-bottom: 1px solid var(--blue3) !important;
}

.groupClass li:last-child,
.groupSection li:last-child {
  border: none !important;
}
