<?xml version="1.0" encoding="utf-8"?>
<config>
	
	<!--<urls serverroot="http://www.linkit.com/" apiroot="http://www.linkit.com/api/adminreporting.asmx/" phproot="http://www.linkit.com/ardev/linkit_TestMaker/proc/linkit3.php/">-->
	<urls serverroot="http://www.linkit.com/" apiroot="http://www.linkit.com/apidev/adminreporting.asmx/" phproot="http://www.linkit.com/ardev/linkit_testmakerDev/proc/linkit.php/">

	

		
		<login>{$API_ROOT}GetUserByUserNameAndDarkPassword</login>
		<loginWithToken>{$API_ROOT}GetUserByTransferToken</loginWithToken>
		<logindistrictlevel>{$API_ROOT}GetUserByUserNameAndPasswordAndDistrictID</logindistrictlevel>
		<loginstatelevel>{$API_ROOT}GetUserByUserNameAndPasswordAndStateID</loginstatelevel>
		
		
		<authenticate>{$API_ROOT}Authenticate</authenticate>
		<authenticateAR>{$API_ROOT}AuthenticateAR</authenticateAR>
		<authenticatebytransfertoken>{$API_ROOT}AuthenticateByTransferToken</authenticatebytransfertoken>
		<reauthenticate>{$API_ROOT}ReAuthenticate</reauthenticate>
		<getuserbytoken>{$API_ROOT}GetUserFromToken</getuserbytoken>
	
		
		
		
		<getstatesNT>{$API_ROOT}GetStateNT</getstatesNT>
		
		<getdistrictsbystateidNT>{$API_ROOT}GetDistrictsByStateIDNT</getdistrictsbystateidNT>
		
		<getroles>{$API_ROOT}GetRoles</getroles>
		
		<sendmail>{$API_ROOT}SendEmail</sendmail>
		
		
		<generatetest>{$PHP_ROOT}generateTestItems</generatetest>
		
		<!--
		<stateswithetsitemsservice>{$API_ROOT}GetStatesWithETSItems</stateswithetsitemsservice>
		<etssubjectsbystatecode>{$API_ROOT}GetETSSubjectsByStateCode</etssubjectsbystatecode>
		<etsgradesbystatecodeandsubject>{$API_ROOT}GetETSGradesByStateCodeAndSubject</etsgradesbystatecodeandsubject>
		<etstoplevelstandards>{$API_ROOT}GetETSStandardsGenerationsByStateCodeAndSubjectAndGrade</etstoplevelstandards>
		-->
		<stateswithetsitemsservice>{$API_ROOT}GetStatesWithETSItems</stateswithetsitemsservice>
		<!--<etssubjectsbystatecode>{$API_ROOT}GetStdSubjectsByStateCode</etssubjectsbystatecode>-->
		<etssubjectsbystatecode>{$API_ROOT}GetStdSubjectsByStateCode</etssubjectsbystatecode>
		<etsgradesbystatecodeandsubject>{$API_ROOT}GetETSGradesByStateCodeAndSubject</etsgradesbystatecodeandsubject>
		<etstoplevelstandards>{$API_ROOT}GetETSStandardsGenerationsByStateCodeAndSubjectAndGrade</etstoplevelstandards>
		<etsitemsbystandard>{$PHP_ROOT}GetETSItemListForStandard</etsitemsbystandard>
<!--		<etsitem>{$PHP_ROOT}GetETSItemByEtsItemID</etsitem>-->
		<etsitem>{$PHP_ROOT}getETSAssessmentItemByEtsItemID</etsitem>
		
		<userimagelist>{$PHP_ROOT}getUserImageList</userimagelist>
		<getimage>{$PHP_ROOT}getImage</getimage>
		<getaudio>{$PHP_ROOT}getAudio</getaudio>
		<getuserimage>{$PHP_ROOT}getUserImage</getuserimage>
		<uploaduserimage>{$PHP_ROOT}uploadUserImage</uploaduserimage>
		<deleteuserimage>{$PHP_ROOT}deleteUserImage</deleteuserimage>
		
		
		<generatePDF>http://fop.lacsonline.com/fop_test/foptestpostfile3.php</generatePDF>
		<!-- <generatePDF>http://localhost:8888/fop_test/foptestpostfile3.php</generatePDF> -->
		
		<createtest>{$PHP_ROOT}createTest</createtest>
		<addtestitem>{$PHP_ROOT}addTestItem</addtestitem>
		<updatetestitem>{$PHP_ROOT}updateTestItem</updatetestitem>
		
		<createitemset>{$PHP_ROOT}createItemSet</createitemset>
		<getuseritemsetlist>{$PHP_ROOT}getQTIGroupListForUser</getuseritemsetlist>
		<getqtipublicbanks>{$PHP_ROOT}getQTIPublicBanks</getqtipublicbanks>
		<getqtibanksandtests>{$PHP_ROOT}getQTIBanks</getqtibanksandtests>
		<getqtigroupsforpublicbank>{$PHP_ROOT}getQTIGroupsByPublicBankID</getqtigroupsforpublicbank>
		<getqtigroupitems>{$PHP_ROOT}getQTIGroupItems</getqtigroupitems>
		<addqtiitem>{$PHP_ROOT}addQTIItem</addqtiitem>
		<updateqtiitem>{$PHP_ROOT}updateQTIItem</updateqtiitem>
		<updateqtigroupname>{$PHP_ROOT}updateQTIGroupName</updateqtigroupname>
		<removeqtiitem>{$PHP_ROOT}removeQTIItem</removeqtiitem> 
		
		<uploaditemsetimage>{$PHP_ROOT}uploadQTIGroupImage</uploaditemsetimage>
		<addpassagetoitems>{$PHP_ROOT}addPassageToItems</addpassagetoitems>
		
		<qtigroupimagelist>{$PHP_ROOT}getQTIGroupImageList</qtigroupimagelist>
		<qtigroupaudiolist>{$PHP_ROOT}getQTIGroupAudioList</qtigroupaudiolist>
		<passageimagelist>{$PHP_ROOT}getPassageImageList</passageimagelist>
		<imagelistfrompathref>{$PHP_ROOT}getImageList</imagelistfrompathref>
		<audiolistfrompathref>{$PHP_ROOT}getAudioList</audiolistfrompathref>
		<getqtirefobjectlist>{$PHP_ROOT}getQTIPassageList</getqtirefobjectlist>
		<createrefobjectrecord>{$PHP_ROOT}createRefObjectRecord</createrefobjectrecord>
		<getqtipassagefile>{$PHP_ROOT}getPassageFile</getqtipassagefile>
		<uploadqtipassagefile>{$PHP_ROOT}uploadPassageFile</uploadqtipassagefile>
		<uploadqtiimage>{$PHP_ROOT}uploadQTIImage</uploadqtiimage>
		<deleteimage>{$PHP_ROOT}deleteImage</deleteimage>
		
		<getusertestlist>{$PHP_ROOT}getVirtualTestListForUser</getusertestlist>
		<getqtivirtualtest>{$PHP_ROOT}getQTIVirtualTest</getqtivirtualtest>
		<getqtivirtualtestforediting>{$PHP_ROOT}getQTIVirtualTestForEditing</getqtivirtualtestforediting>
		<getintelassesstest>{$PHP_ROOT}getIntelAssessTest</getintelassesstest>
		
	</urls>
	
	<accesscontrol>
		<xliareaid>5</xliareaid>
	</accesscontrol>
	<modules >

		<module name="Test Item Utility" url="itemAuthorModule.swf" />
		<!--<module name="ETS Items" url="etsItemModule.swf" />-->
	</modules>
	
	<testSets>
		<Intel_Assess>
			<Test>
				<Name>Algebra_I_Benchmark_II</Name>
			</Test>
			<Test>
				<Name>Trimester_1__Grade_4_ELA_Assessment</Name>
			</Test>
		</Intel_Assess>
	</testSets>
	
	
	
	
	<xliroles>
		<role>
			<roleid>3</roleid>
			<name>District Administrator</name>
		</role>
		<role>
			<roleid>8</roleid>
			<name>School Administrator</name>
		</role>
		<role>
			<roleid>2</roleid>
			<name>Teacher</name>
		</role>
	</xliroles>
	
</config>