@model LinkIt.BubbleSheetPortal.Models.AuthorGroup
<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004'>
        <div class='block-content' style='z-index: 1004'>
            <h1>Edit Author Group</h1>
            <ul style="display: none" id="error-messages-author-group" class="message error"></ul>
            <ul style="display: none" id="success-message-author-group" class="message success">
                <li>Author Group is updated successfully.</li>
            </ul>
            <p style='z-index: 1004; text-align: center'>
                <br/>
                Name:   @Html.TextBoxFor(o=>o.Name , new { style = "width: 250px;" })
                <br /><br/><br/>
                <button type="button" id="btnSaveAuthorGroup" onclick="saveAuthorGroup()">Save</button>
                <button type="button" id="btnCancelAuthorGroup" onclick="closeDialog()">Cancel</button>
                @Html.HiddenFor(o=>o.Id)
            </p>
        </div>
    </div>
</section>

<script>
    function closeDialog() {
        $(".dialog").dialog("close");
    }
</script>
