<modal-component
    v-bind:show.sync="isShowModalCancel"
    v-bind:width="500"
    class="modal-component-studententry is-dark"
    style="display: none;">
    <div slot="header"></div>
    <div slot="body">
        <div class="studententry-modal">
            <p style="font-weight:700">There are unsaved changes. They will be deleted. Are you sure you want to cancel changes?</p>
        </div>
    </div>
    <div slot="footer">
        <button v-on:click="closeCancelEntryResult">Cancel</button>
        <button v-on:click="confirmCancelEntryResult">OK</button>
    </div>
</modal-component>
