<modal-component v-bind:show.sync="isShowModalPrint"
                 v-bind:width="widthModalPrint.width"
                 class="modal-component-studententry is-dark"
                 style="display: none;">
    <div slot="header"></div>
    <div slot="body" v-loading-directive="isLoading">
        <div v-if="msgInvalid != ''" class="studententry-modal">
            <p v-html="msgInvalid" class="u-c-light-red u-fw-700"></p>
        </div>
        <div v-else class="studententry-modal">
            <div v-if="isWrappedPages" style="font-weight:700">
                <div v-if="isPrintSucess" style="padding-bottom: 1rem;">
                    <p class="fz16">Generate PDF successfully. You can download and print.</p>
                    <div class="fz16" v-if="printResult.pdfUrl != ''">
                        <a href="{{ printResult.pdfUrl }}" target="_blank" class="studententry-modal-link">
                            Click here to download file.
                        </a>
                    </div>
                </div>
                <div v-else>
                    <p class="fz16">
                        Based on your selection, the columns will be wrapped to multiple pages for each student.<br /><br />
                        Would you like to continue?
                    </p>
                </div>
            </div>
            <div v-else>
                <div class="studententry-modal-body form">
                    <h2 class="title-large mb-3">Print</h2>
                    <h4 class="studententry-modal-title">Select Columns</h4>
                    <div class="studententry-modal-column" style="padding:.5rem">
                        <label for="selectAllColumns">
                            <input type="checkbox" id="selectAllColumns" class="me-1" v-on:click="selectAllColumns" v-model="allColumnsSelected">
                            Select All Columns
                        </label>
                    </div>
                    <div class="studententry-modal-column" v-if="printResult.isExistCustomScore">
                        <div class="studententry-modal-score">
                            <h5 class="studententry-modal-sub-title">@LocalizeHelper.Localized("EnterResult.OverallScore")</h5>
                            <div class="checkbox-print-datalocker-container">
                                <label class="checkbox-print-datalocker-item"
                                       :style="`--width: ${ widthModalPrint.widhPerItem }`"
                                       v-for="scoreInfo in printResult.customScore.ScoreInfos">
                                    <input type="checkbox" class="me-1" v-bind:value="scoreInfo.ScoreName" v-model="printResult.scoreSelected">
                                    {{ scoreInfo.ScoreLable }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="studententry-modal-column">
                        <div v-for="subScore in printResult.customSubScores" class="studententry-modal-score">
                            <h5 class="studententry-modal-sub-title">{{ subScore.Name }}</h5>
                            <div class="checkbox-print-datalocker-container">
                                <label class="checkbox-print-datalocker-item"
                                       :style="`--width: ${ widthModalPrint.widhPerItem }`" v-for="subScoreInfo in subScore.ScoreInfos">
                                    <input type="checkbox" class="me-1" v-bind:value="subScoreInfo.Id" v-model="printResult.subScoresSelected">
                                    {{ subScoreInfo.ScoreLable }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <h4 class="studententry-modal-title">Select Layouts</h4>
                    <div class="studententry-modal-column style=" padding:.5rem"">
                        <label v-for="layout in printResult.layouts" class="d-inline-block me-4 mb-0" title="{{layout.title}}">
                            <input type="radio" name="radion-button-select-layouts" v-bind:disabled="layout.isDisable" v-bind:value="layout.value" v-model="printResult.layoutSelected">
                            {{ layout.text }}
                        </label>
                    </div>
                    <h4 class="studententry-modal-title">Include Score Description</h4>
                    <div class="studententry-modal-column style=" padding:.5rem"">
                        <label v-for="scoreDescription in printResult.scoreDescriptions" class="d-inline-block me-4 mb-0">
                            <input type="radio" name="radion-button-include-score-description" v-bind:value="scoreDescription.value" v-model="printResult.scoreDescriptionSelected">
                            {{ scoreDescription.text }}
                        </label>
                    </div>
                    <h4 class="studententry-modal-title">Rubric Description</h4>
                    <div class="studententry-modal-column style=" padding:.5rem"">
                        <label v-for="rubricDescription in printResult.rubricDescriptions" class="d-inline-block me-4 mb-0">
                            <input type="radio" name="radion-button-rubric-description" v-bind:value="rubricDescription.value" v-model="printResult.rubricDescriptionSelected">
                            {{ rubricDescription.text }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div slot="footer">
        <template v-if="msgInvalid == ''">
            <template v-if="isWrappedPages">
                <template v-if="isPrintSucess">
                    <button v-on:click="backGeneratePdf">Back</button>
                </template>
                <template v-else>
                    <button v-on:click="backGeneratePdf">Cancel</button>
                    <button v-on:click="generatePdf">OK</button>
                </template>
            </template>
            <template v-else>
                <button v-on:click="beforeGeneratePdf" v-bind:disabled="isShowBtnPrint">Generate PDF</button>
            </template>
        </template>
        <template v-else>
            <button v-on:click="isShowModalPrint=false">Close</button>
        </template>
    </div>
</modal-component>
