<modal-component v-bind:show.sync="isShowNote" v-bind:width="454" style="display: none;" class="custom-preview-form-popup">
    <div slot="close">
        <a href="#" v-on:click="closePopupNote" class="modal-component-close">Close</a>
    </div>
    <div slot="header">
        <div class="block-heading">
            <h1 class="title-large is-active">{{ studentName }} - {{ noteColumnName }}</h1>
        </div>
    </div>
    <div slot="body">
        <div class="custom-desc">
            <textarea id="editor1"></textarea>
        </div>
    </div>
    <div slot="footer">
        <button v-on:click="closePopupNote">Cancel</button>
        <button v-on:click="okPopupNote">Save</button>
    </div>
</modal-component>
