<style type="text/css">
    .rubric ol {
        list-style-position: inside;
        list-style-type: decimal;
    }
    .rubric strong {
        color: black;
    }

    .entry-result-popup {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: white;
    }

        .entry-result-popup .modal-component-resize-handle {
            display: none;
        }

        .entry-result-popup .modal-component-close {
            display: none;
        }

        .entry-result-popup .content {
            padding: 8px 0;
        }

    #portal-v2-containter .entry-result-popup .modal-component-body,
    #portal-v2-containter .entry-result-popup .modal-component-body {
        margin: 0;
        padding: 0;
    }

    #portal-v2-containter .modal-component-body-resize {
        max-height: unset;
        overflow: hidden;
    }

    #portal-v2-containter .content {
        height: 640px;
        overflow: auto;
        padding: 0.833em;
    }

    #portal-v2-containter .modal-component-footer {
        margin: 0 !important;
    }

    #portal-v2-containter .entry-result-popup .modal-component-container {
        padding: 0 !important;
    }
</style>
<draggable-resizable-component 
    class="is-center entry-result-popup"
    v-bind:show.sync="isShowModalRubricDescription" 
    v-bind:width="550" 
    style="display: none;">
    <div slot="body" class="rubric">
        <div class="content" v-html="rubricDescriptionContent"></div>
        <div class="modal-component-footer" style="margin: 0 -0.833em -0.833em -0.833em ">
            <div slot="footer">
                <button v-on:click.prevent="toggleRubricDescriptionModal" class="">OK</button>
            </div>
        </div>
    </div>
</draggable-resizable-component>
