<section>
    <div class="block-content p-4 form">
        <p class="title-large mb-4">Instructions</p>
        <div class="list-instruction mb-4">
            <ul>
                <li>
                    1. Select teacher (author) (optional).
                </li>
                <li>
                    2. Select test to be purged.
                </li>
                <li>
                    3. Click &#39;Submit&#39; to complete.
                </li>
            </ul>
        </div>
        <div class="modal-component-footer mx-n4 px-4">
            <div slot="footer">
                <button type="button" class="btn-red" onclick="ClosePopup();">Close</button>
            </div>
        </div>
    </div>
</section>

<style>
    .list-instruction ul {
        padding: 0;
        font-weight: bold;
    }

    .list-instruction li {
        line-height: 162% !important;
    }

</style>

<script>
    function ClosePopup() {
        $(".dialog").dialog("close");
    }
</script>
