<section class="m-0">
    <div class="block-content p-4 form">
        <p class="title-large mb-4">Instructions</p>
        <div class="list-intruction">
            <ol>
                <li>1. Select primary filter (Test, Teacher, Class, or Student).</li>
                <li>2. Optionally, select secondary filters.</li>
                <li>3. Click 'Preview' to view and select test(s) to be regraded.</li>
                <li> 4. Click 'Submit' to regrade test(s).</li>
            </ol>
        </div>
    </div>

    <div class="modal-component-footer">
        <div slot="footer">
            <button class="btnClosePopup" onclick="ClosePopup();">Close</button>
        </div>
    </div>
</section>

<style  type="text/css">
    #portal-v2-containter .list-intruction ol {
        padding: 0;
    }

    #portal-v2-containter .list-intruction li {
        line-height: 162%;
        font-weight: bold;
    }
</style>
<script>
    function ClosePopup() {
        $(".dialog").dialog("close");
    }
</script>
