@model LinkIt.BubbleSheetPortal.Web.ViewModels.ListItemsViewModel

<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004'>
        <div id="divConfirmDeleteBank" class='block-content bubbleSheetSelector' style='z-index: 1004'>
            <h1>Delete Bank Confirmation</h1>
            @if (!ViewBag.CanDeleteBank)
            {
                <p>
                    This bank cannot be deleted. There are tests or forms associated to the bank.
                </p>
            }
            else
            {
                <p>
                    Are you sure you want to delete @Model.Name.<br/> This deletion is permanent and cannot be undone. Are you sure you want to continue?
                </p>
                <p style="text-align: center;">
                    <button id="btnconfirmDeleteBank" onclick="DeleteTestBankByID('@Model.Id');" type="button" name="ok">
                        YES
                    </button>
                    <button id="btnCancelDeleteVirtualTest" onclick="cancelDeleteVirtualBank();" type="button" name="cancel">
                        NO
                    </button>
                </p>
            }
        </div>
    </div>
</section>
<script type="text/javascript">
    function cancelDeleteVirtualBank() {
        //$("#PopupConfirmDeleteVirtualTest").dialog("close");
        $(".dialog").dialog("close");
    }
</script>