<section style="margin-bottom: 6em">
    <div class="block-border">
        <div id="dvCreateVirtualTest" class="block-content form">
            <h1>Quick Create Test</h1>
            <ul style="display: none" id="error-messages" class="message error"></ul>
            <ul style="display: none" id="success-message" class="message success">
                <li>TEST CREATED.</li>
            </ul>
            <fieldset>
                <div class="columns">
                    <p>
                        <label>Category</label>
                        <input type="text" id="inputVirtualTestCategoryId" placeholder="Select Category" autocomplete="off" class="full-width" style="width: 265px" />
                    </p>
                    <p>
                        <label>Test Name</label>
                        <input type="text" id="inputVirtualTestName" class="full-width" style="width: 265px" />
                    </p>
                    <fieldset class="grey-bg no-margin collapse" style="display:none;">
                        <legend class="virtualtest-legend"><a href="#">Quick Create Questions</a></legend>
                        <div class="virtualtest-content" style="display:none;">
                            <p>
                                <label for="simple-select">No. of MC Questions</label>
                                <input type="text" value="0" id="numberOfMCQuestions" onkeydown="numberQuestionTextBox_Keydown(event)" />
                            </p>

                            <p>
                                <label for="simple-select">No. of CR Questions</label>
                                <input type="text" value="0" id="numberOfCRQuestions" onkeydown="numberQuestionTextBox_Keydown(event)" />
                            </p>
                        </div>
                    </fieldset>
                    <div class="u-text-center">
                        <button type="button" id="btnCreateTestBank" onclick="createVirtualTest()">Create</button>
                        <button type="button" id="btnCancelCreateTestBank" onclick="cancelCreateVirtualTest()">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</section>

<script>
    var comboTree1 = null;
    var categoryElementId = '#inputVirtualTestCategoryId';

    function numberQuestionTextBox_Keydown(e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
            // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    }
    function GetDataSetCategories() {
        var districtIdVal = '';
        if ($('#selectDistrict')) {
             districtIdVal = $('#selectDistrict').val();
        }
        $.get('@Url.Action("GetDataSetCategoriesToComboTreeByDistrictId", "CategoriesAPI")?districtId=' + districtIdVal, function (categoryList) {
            //defaul linkit category

            comboTree1 = $(categoryElementId).comboTree({
                source: categoryList,
                isMultiple: false,
                cascadeSelect: true,
                collapse: false,
                selected: [46]
            });
            if (comboTree1 &&  '@ViewBag.AllowChangeDataSetCategory' === 'False')
            {
                $(categoryElementId).parents('.comboTreeInputWrapper').addClass('disabled');
            }
            $(categoryElementId).change(function(e) {
                $(this).val(comboTree1 ? comboTree1.getSelectedNames() : '');
            });
        });
    }
    $(function () {
        $('.virtualtest-legend').on('click', function () {
            var $virtualtestContent = $('.virtualtest-content');

            $virtualtestContent.toggle();
        });
        if ($(categoryElementId).length) {
            GetDataSetCategories();

        }
    });
</script>
