<script>
    testPreferenceModel = @Html.Raw(Json.Encode(Model.TestPreferenceModel));

    $(function () {
        //Call process create OnlineTest
        ShowBlock($('#divMain'), 'Loading');
        var data = JSON.stringify({ objTestPreferenceModel: testPreferenceModel, testId: @ViewBag.VirtualTestId });
        var url = '@Url.Action("OnlineTestPreviewForTestDesign", "TestAssignment")';
        $.ajax({
            url: url,
            traditional: true,
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: data,
            cache: false
        }).done(function (response) {
            $('#divMain').unblock();

            $('body').append('<div id="divUrlPreviewOnlinePanel" class="dialog"></div>');
            var yesButton = '<a class="LinkitStypeButton big-button" href="' + response.testtakerUrl + '" target="_blank" style="width:63px;" onclick="closePopUpOnlineTearcherPreview();" >OK</a>';
            var strHtml = '<section class="grid_5"><div class="block-border" style="width: 300px;">' +
                '<div class="block-content form" style="padding-bottom: 1em; text-align: center;"><div>Test is ready for preview' +
                '</div><div style="text-align:center;padding-top:20px;padding-bottom:10px;">' + yesButton + '</div></div></div></section>';

            $("#divUrlPreviewOnlinePanel").append(strHtml);
            $('#divUrlPreviewOnlinePanel').dialog({
                title: "",
                open: function () {
                    //If width of popup gt window width popup auto show on the left
                    var currentPopup = $(this);
                    if (currentPopup.width() > $(window).width()) {
                        currentPopup.parent().css({ "left": "0" });
                    }
                    //Create overlay for popup
                    $("body").append('<div class="my-overlay" style="z-index: ' + ($.ui.dialog.currentZ() - 1) + ';width:' + $(document).width() + 'px;height:' + $(document).height() + 'px;background-color: black;opacity: 0.3;position: absolute;top:0px;left: 0px;"></div>');
                    $(currentPopup.find('.LinkitStypeButton')).on('click', function() {
                        $('#divUrlPreviewOnlinePanel').remove();
                        $("body .my-overlay").remove();
                    })
                },
                beforeclose: function () {
                    return true;
                },
                close: function () {
                    $('#divUrlPreviewOnlinePanel').remove();
                    $("body .my-overlay").remove();
                },
                modal: false,
                width: 360,
                resizable: false
            });
        });
    });
</script>
