<template id="edit-access-right-template">
    <section style='z-index: 2004' class="dialog" id="popupEditAccess">
        <div class='block-border' style='z-index: 2004'>
            <div id="dvEditAccess" class='block-content bubbleSheetSelector form' style='z-index: 1004'>
                <p class="title-large" style="padding: 24px; margin-bottom: 0">{{DisplayTitle}}</p>
                <div style="padding: 0 24px 0 24px;">
                    <ul style="display: none; margin-bottom: 24px" id="error-messages-create" class="message error"></ul>
                    <ul style="display: none; margin-bottom: 24px" id="success-message-create" class="message success">
                        <li>Restriction has been successfully updated.</li>
                    </ul>
                </div>
                @using (Html.BeginForm("SaveRestrictionCategoriesTests", "RestrictionAccessRights", FormMethod.Post, new { id = "editAccessForm", @class = "form" }))
                {
                    <fieldset>
                        <div class="columns">
                            <p>
                                <input type="checkbox" class="accessbox" data-role="2" data-restrictionModuleID="9" id="chkTeacherAccess" />
                                <label for="chkTeacherAccess">{{TeacherAccessLabel}}</label>
                            </p>
                            <p style="margin-left: 26px">
                                <input type="checkbox" class="accessbox" data-role="2" data-restrictionModuleID="15" id="chkTeacherAccessContent" />
                                <label for="chkTeacherAccessContent">{{TeacherAccessLabelContent}}</label>
                            </p>
                            <p>
                                <input type="checkbox" class="accessbox" data-role="8" data-restrictionModuleID="9" id="chkSchoolAdminAccess" />
                                <label for="chkSchoolAdminAccess">{{SchoolAdminAccessLabel}}</label>
                            </p>
                            <p style="margin-left: 26px">
                                <input type="checkbox" class="accessbox" data-role="8" data-restrictionModuleID="15" id="chkSchoolAdminAccessContent" />
                                <label for="chkSchoolAdminAccessContent">{{SchoolAdminAccessLabelContent}}</label>
                            </p>
                        </div>
                    </fieldset>
                    <div class="foot-content">
                        <a class="button-custom-new-skin grey-btn" id="btnCancel">Cancel</a>
                        <button type="submit" id="btnSave" class="btn-red">Save</button>
                    </div>
                }
            </div>
        </div>
    </section>
</template>

<style>
    .ui-dialog[aria-labelledby="ui-dialog-title-popupEditAccess"] {
        padding: 0 !important;
        border:0 !important
    }

    .ui-dialog-titlebar {
        display: none;
    }

    .ui-dialog .ui-dialog-content {
        padding: 0 !important;
        margin-bottom: 0 !important;
    }

    .block-content {
        padding: 0 !important;
    }

    #editAccessForm fieldset {
        padding: 0 24px 24px 24px;
        margin: 0  !important;
    }

    .foot-content {
        background: var(--navyColor);
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #dvEditAccess h1 {
        padding: 0 !important;
    }

    .button-custom-new-skin {
        display: flex;
        align-items: center;
        padding: 11px 32px;
        font-weight: 900;
        cursor: pointer;
        width: fit-content;
        height: 48px;
        box-sizing: border-box;
        border: 0;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        text-decoration: none;
        color: var(--white) !important;
    }
</style>
