<style>
    #portal-v2-containter * {
        color: var(--navyColor);
    }

    #dataTableTopic1_wrapper, #dataTableSkill1_wrapper, #dataTableOther1_wrapper, #dataTableClusterScore1_wrapper {
        margin: 0;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby=ui-dialog-title-popupMonitorProgress] {
        width: 80vw !important
    }
</style>

<section style='z-index: 2004'>
    <div style='z-index: 2004'>
        <div class='block-content p-4' style='z-index: 1004;'>
            <p class="title-large mb-4">Progress Monitoring Data Point</p>
            <div class="form bubbleSheetSelector" name="dataPoint" dataPoint="1">
                <div>
                    <input type="hidden" name="sgoDataPointId" value="0" dataPoint="1" />
                    <ul style="display: none" name="error-messages" dataPoint="1" class="message error"></ul>
                    <ul style="display: none" name="insert-success-message" dataPoint="1" class="message success">
                        <li>Data Point successfully updated.</li>
                    </ul>
                    <div class="coolfieldset qtiItemSelector fieldset-datapoint" id="fsSelectVirtualTest">
                        <p class="fw-bold mb-3">Select Test Type</p>
                        <div class="columns" id="divItemCriteria">
                            <div class="row g-3">
                                <div class="col-3">
                                    <label>Type</label>
                                    <div class="block-text-name w-100">
                                        <select id="selectTestType" class="w-100" name="selectTestType" datapoint="1">
                                            <option value="select">Select Test Type</option>
                                        </select>
                                        <div class="box-select">
                                            <span class="overlay"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div name="divDataPointContent" dataPoint="1"></div>
                </div>
            </div>
        </div>

        <div class="modal-component-footer">
            <div slot="footer">
                <button id="btnCloseProgressMonitoring" type="button" onclick="closePopup('popupMonitorProgress')">Close</button>
                <button id="btnShowScore" type="button" dataPoint="1">Show Score</button>
            </div>
        </div>
    </div>
</section>

@* ReSharper disable once AssignedValueIsNeverUsed *@
<script>
    $(function() {
        populateTestType('1');
    });    
</script>


