@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Models
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.Reporting, "Specialized Report");
}
<article class="container_12">
    <section class="grid_12">
        <div class="block-border" id="stDistrict">
            <div class="block-content form" style="padding-bottom: 14px;">
                <h1>Specialized Report</h1>
                <div>
                    <div style="float: right;">
                        <p style="margin-top: -30px; float: right; margin-bottom: -10px;">
                            @Html.ActionLink("Instructions", "LoadInstruction", "ChytenReport", null, new { @class = "openDialog PopupHelp", data_dialog_id = "popupInstructionDialog", data_dialog_title = "" })
                        </p>
                    </div>
                    <div style="width: 100%;">
                        <ul style="display: none; margin-bottom: 10px;" id="error-messages" class="message error">
                            <li></li>
                        </ul>
                        <ul style="display: none; margin-bottom: 10px;" id="success-message" class="message success">
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="columns">
                    <div id="divContentFilterForm" class="columns" style="margin-bottom: 0.667em;">
                    </div>
                    <div>
                        <div id="divShowHideButton">
                            <div style="float: left;">
                                <button id="btnClearAll" type="button" name="ClearAll">
                                    Clear Filter
                                </button>
                            </div>
                            <div style="float: right;">
                                <button id="btnPreview" type="button" name="Preview" disabled="disabled">
                                    Preview Results
                                </button>

                                <button id="btnSubmitSelected" type="button" style="padding-right: 10px; padding-left: 10px;"
                                        disabled="disabled">
                                    Print Report
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
<div class="clear">
</div>
<div id="divTestResultDisplay">
</div>

<div id="popupConfirm111" style="display: none;">
    <section style='z-index: 2004'>
        <div class='block-border' style='z-index: 2004'>
            <div class='block-content' style='z-index: 1004'>
                <h1>Create PDF</h1>
                <p style='z-index: 1004; text-align: center'>
                    Successfully created PDF.
                </p>
                <br />
                <p style='z-index: 2004; text-align: center'><a id='aGeneratePDFSuccess' style='z-index: 2004; text-align: center' href='www.google.com' target='_blank' class='LinkitStypeButton big-button'>OK </a></p>
            </div>
        </div>
    </section>
</div>
<style>
    .btnTestResult {
        float: right;
        display: inline-block;
        border: 1px solid;
        border-color: #50a3c8 #297cb4 #083f6f;
        background: #0c5fa5 url(../../Content/themes/Constellation/images/old-browsers-bg/button-element-bg.png) repeat-x left top;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;
        background: -moz-linear-gradient(top, white, #72c6e4 4%, #0c5fa5);
        background: -webkit-gradient(linear, left top, left bottom, from(white), to(#0c5fa5), color-stop(0.03, #72c6e4));
        -moz-border-radius: 0.333em;
        -webkit-border-radius: 0.333em;
        -webkit-background-clip: padding-box;
        border-radius: 0.333em;
        color: white;
        -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
        -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
        font-size: 1.167em;
        padding: 0.286em 1em 0.357em;
        line-height: 1.429em;
        cursor: pointer;
        font-weight: bold;
    }

        .btnTestResult:hover {
            border-color: #1eafdc #1193d5 #035592;
            background: #057fdb url(../../Content/themes/Constellation/images/old-browsers-bg/button-element-hover-bg.png) repeat-x left top;
            background: -moz-linear-gradient(top, white, #2bcef3 4%, #057fdb);
            background: -webkit-gradient(linear, left top, left bottom, from(white), to(#057fdb), color-stop(0.03, #2bcef3));
        }

        .btnTestResult:active {
            border-color: #5b848b #b2def1 #b2def1 #68a6ba;
            background: #3dbfed url(../../Content/themes/Constellation/images/old-browsers-bg/button-element-active-bg.png) repeat-x top;
            background: -moz-linear-gradient(top, #89e7f9, #3dbfed);
            background: -webkit-gradient(linear, left top, left bottom, from(#89e7f9), to(#3dbfed));
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

    a.PopupHelp {
        background: url(../../Content/themes/Constellation/images/icons/help-icon_1.png) no-repeat top left;
        display: block;
        width: 25px;
        height: 25px;
        text-indent: -99999px; /* hides the link text */
    }

    .ui-dialog {
        background: transparent;
        border: 0;
        top: 100px !important;
    }
</style>
<script type="text/javascript">
    $(function () {
        $.ajax({
            url: '/ChytenReport/LoadTestFilter',
            cache: false
        }).done(function (html) {
            $("#divContentFilterForm").html(html);
        });

    });

    $('#btnPreview').click(function () {
        LoadTestResultToView();
    });

    $('#btnClearAll').click(function () {
        ClearAll();
    });

    $('#btnSubmitSelected').click(function (e) {
        ShowBlock($('#stDistrict'), "Generating reports");
        var suffix = displayDateWithFormat((new Date()).getTime(), true);
        suffix = replace(suffix, '/', '-');
        suffix = replace(suffix, ':', '-');
        suffix = replace(suffix, ' ', '-');
        var chytenReportFileName = "Chyten_Report_" + suffix + ".zip";


        var data = {
            StudentBankIdString: GetTestResultSelected(),
            ReportFileName: chytenReportFileName
        };

        var generateReportUrl = '@Url.Action("Generate","ChytenReport")';

        $.ajax({
            url: generateReportUrl,
            traditional: true,
            type: 'POST',
            data: data,
            success: function (response) {
                if (response.Success != false) {
                    $('#error-messages').hide();
                }
                else {
                    addErrorMessages(response);
                    $('#stDistrict').unblock();
                    $('#btnSubmit').enableBt();
                }

                // Do nothing here, file will be downloaded when existed on S3 using getACTS3File function
            },
            failure: function (response) {
                //alert(response);
                $('#stDistrict').unblock();
                $('#btnSubmit').enableBt();
            },
            timeout: 300000
        });

        getChytenS3File(chytenReportFileName);
    });

    function getChytenS3File(checkUrl) {
        var checkFileExistedUrl = '@Url.Action("CheckS3FileExisted","ChytenReport")';

        $.ajax({
            url: checkFileExistedUrl,
            type: 'POST',
            data: { fileName: checkUrl },
            success: function (response) {
                if (response.Result != true) {
                    setTimeout(function () {
                        getChytenS3File(checkUrl);
                    }, 3000);
                }
                else {
                    $("#aGeneratePDFSuccess").live("click", function (e) {
                        $(this).attr("href", response.Url);
                        $("#popupConfirm111").dialog("close");
                    });

                    var dialog = $("#popupConfirm111")
                    .dialog({
                        title: $(this).attr("data-dialog-title"),
                        close: function () {
                            //$(this).remove();
                        },
                        modal: true,
                        width: 330,
                        resizable: false
                    })
                    .load(this.href, function () { });

                    $('#stDistrict').unblock();
                    $('#btnSubmitSelected').enableBt();

                    //window.location.href = response.Url;
                }
            }
        });
    }

    function LoadTestResultToView() {

        GetTestResultByConditional();
    }

    function CurrentPageShowHideReviewButton(flag) {
        if (flag > 0) {
            $('#btnPreview').enableBt();
        } else {
            $('#btnPreview').disableBt();
        }
    }
    function HideResultContent() {
        $("#divTestResultDisplay").html('');
        $('#btnSubmitSelected').attr("disabled", "disabled");
    }


</script>
