
@{
    ViewBag.Title = "TLDS Digital";
}
@{
    Layout = null;
}

@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleTLDSDigitalSection23Bundle()
@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.ScriptTLDSDigitalSection23Bundle()

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TLDS Digital Section 2 & 3</title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @if (ViewBag.IsExpired != null && (bool)ViewBag.IsExpired)
                {
                <div class="alert alert-danger" role="alert">
                    This link has expired. Please contact your child's early childhood centre for more information or to request access to this link
                </div>
                }
                else
                {
                <div class="alert alert-danger" role="alert">
                    This link has been deactivated. Please contact your child's early childhood centre for more information or to request access to this link
                </div>
                }

            </div>
        </div>
    </div>


</body>
</html>

