<?xml version="1.0" encoding="utf-8"?>
<config>
  
	<urls serverroot="http://www.linkit.com/apidev/" phproot="http://www.linkit.com/ardev/linkit_AR3_devDevAPI/proc/" 
			serverrootsecure="https://www.linkit.com/apidev" phprootsecure="https://www.linkit.com/ardev/linkit_AR3_devDevAPI/proc/">
	
		
		<login>{$SERVER_ROOT}adminreporting.asmx/GetUserByUserNameAndDarkPassword</login>
		<loginWithToken>{$SERVER_ROOT}adminreporting.asmx/GetUserByTransferToken</loginWithToken>
		<logindistrictlevel>{$SERVER_ROOT}adminreporting.asmx/GetUserByUserNameAndPasswordAndDistrictID</logindistrictlevel>
		<loginstatelevel>{$SERVER_ROOT}adminreporting.asmx/GetUserByUserNameAndPasswordAndStateID</loginstatelevel>
		<echodata>proc/echodata.php</echodata>
		<exportusagedata>{$PHP_ROOT}exportUsageData.php</exportusagedata>
		<savereport>{$SERVER_ROOT}adminreporting.asmx/CreateReportSet</savereport>
		<!-- <updatereportset>{$PHP_ROOT}saveReportSet.php</updatereportset> -->
		<updatereportset>{$SERVER_ROOT}adminreporting.asmx/UpdateReportSet</updatereportset>
		<updatereportsetname>{$SERVER_ROOT}adminreporting.asmx/UpdateReportSetName</updatereportsetname>
		<createusersettings>{$SERVER_ROOT}adminreporting.asmx/CreateUserSetting</createusersettings>
		<getusersettings>{$SERVER_ROOT}adminreporting.asmx/GetUserSettingByUserID</getusersettings>
		<updateusersettings>{$SERVER_ROOT}adminreporting.asmx/UpdateUserSetting</updateusersettings>
		<reportlist>{$SERVER_ROOT}adminreporting.asmx/GetReportSetsByUserID</reportlist>
		<getreportset>{$SERVER_ROOT}adminreporting.asmx/GetReportSetByReportSetID</getreportset>
		<deletereportset>{$SERVER_ROOT}adminreporting.asmx/DeleteReportSet</deletereportset>
		<publishreportset>{$SERVER_ROOT}adminreporting.asmx/CreatePublishedReport</publishreportset>
		<authenticate>{$SERVER_ROOT}adminreporting.asmx/Authenticate</authenticate>
		<authenticateAR>{$SERVER_ROOT}adminreporting.asmx/AuthenticateAR</authenticateAR>
		<authenticatebytransfertoken>{$SERVER_ROOT}adminreporting.asmx/AuthenticateByTransferToken</authenticatebytransfertoken>
		<reauthenticate>{$SERVER_ROOT}adminreporting.asmx/ReAuthenticate</reauthenticate>
		<getuserbytoken>{$SERVER_ROOT}adminreporting.asmx/GetUserFromToken</getuserbytoken>
		<statebystateid>{$SERVER_ROOT}adminreporting.asmx/GetStateByStateID</statebystateid>
		<districtbydistrictid>{$SERVER_ROOT}adminreporting.asmx/GetDistrictByDistrictID</districtbydistrictid>
		<schoolbyschoolid>{$SERVER_ROOT}adminreporting.asmx/GetSchoolBySchoolID</schoolbyschoolid>
		<teacherbyteacherid>{$SERVER_ROOT}adminreporting.asmx/GetTeacherByTeacherID</teacherbyteacherid>
		<districtsbystateid>{$SERVER_ROOT}adminreporting.asmx/GetDistrictsByStateID</districtsbystateid>
		<districtsbyuserid>{$SERVER_ROOT}adminreporting.asmx/GetDistrictsRegionByUserID</districtsbyuserid>
		<regionsbyuserid>{$SERVER_ROOT}adminreporting.asmx/GetRegionsByUserID</regionsbyuserid>
		<districtsbyregionid>{$SERVER_ROOT}adminreporting.asmx/GetDistrictsByRegionID</districtsbyregionid>
		<schoolsbydistrictid>{$SERVER_ROOT}adminreporting.asmx/GetSchoolsByDistrictID</schoolsbydistrictid>
		<teacherssbyschoolid>{$SERVER_ROOT}adminreporting.asmx/GetUsersByRoleAndSchoolID</teacherssbyschoolid>
		<gradesbydistrictid>{$SERVER_ROOT}adminreporting.asmx/GetGradesByDistrictID</gradesbydistrictid>
		<genders>{$SERVER_ROOT}adminreporting.asmx/GetGenders</genders>
		<studentsbyclassid>{$PHP_ROOT}linkit.php/getStudentsByClass</studentsbyclassid>
		
		
		<racesbydistrictid>{$SERVER_ROOT}adminreporting.asmx/GetRacesByDistrictID</racesbydistrictid>
		<programsbydistrictid>{$SERVER_ROOT}adminreporting.asmx/GetProgramsByDistrictID</programsbydistrictid>
		<!-- <subjectsbyquery>{$SERVER_ROOT}adminreporting.asmx/GetSubjectsByQuery</subjectsbyquery> -->
		<getstates>{$SERVER_ROOT}adminreporting.asmx/GetStates</getstates>
		<getstatesNT>{$SERVER_ROOT}adminreporting.asmx/GetStateNT</getstatesNT>
		<getdistrictsbystateid>{$SERVER_ROOT}adminreporting.asmx/GetDistrictsByStateID</getdistrictsbystateid>
		<getdistrictsbystateidNT>{$SERVER_ROOT}adminreporting.asmx/GetDistrictsByStateIDNT</getdistrictsbystateidNT>
		
		<studentbyid>{$SERVER_ROOT}adminreporting.asmx/GetStudentByStudentID</studentbyid>
		<studentsbyteacher>{$SERVER_ROOT}adminreporting.asmx/GetStudentsByUserID</studentsbyteacher>
		
<!--		<schoolsbyteacher>{$SERVER_ROOT}adminreporting.asmx/GetSchoolsByQuery</schoolsbyteacher>-->
		<updateuser>{$SERVER_ROOT}adminreporting.asmx/UpdateUser</updateuser>
		<getroles>{$SERVER_ROOT}adminreporting.asmx/GetRoles</getroles>
<!--		<query>{$SERVER_ROOT}adminreporting.asmx/Query</query>-->
		<sendmail>{$SERVER_ROOT}adminreporting.asmx/SendEmail</sendmail>
		
		<!-- <viewer>http://localhost/linkit_4/linkit_AR_4.html</viewer> -->
		<viewer>http://www.linkit.com/ardev/linkit_AR3_dev/linkit_AR3.html</viewer>
		
		<getlessonsbygrade>{$PHP_ROOT}linkit.php/getLessonsByGrade</getlessonsbygrade>
		<getskillsbygrade>{$PHP_ROOT}linkit.php/getSkillsByGrade</getskillsbygrade>
		<getslpstrings>{$PHP_ROOT}linkit.php/getSlpStrings</getslpstrings>
		
		<DSTCfortest>{$PHP_ROOT}linkit.php/ianalGetD_S_T_CForTest</DSTCfortest>
		
		
		<statsitemonedata>{$PHP_ROOT}linkit.php/statsItemDataOne</statsitemonedata>
		<statsitemdata>{$PHP_ROOT}linkit.php/statsTestItemData</statsitemdata>
		<statsgettestsforsubject>{$PHP_ROOT}linkit.php/statsGetVirtualTestsBySubject</statsgettestsforsubject>
		
		<dashgetclassesforteacher>{$PHP_ROOT}linkit.php/dashGetClassesForTeacher</dashgetclassesforteacher>
		<dashgettestsforclass>{$PHP_ROOT}linkit.php/dashGetTestsForClass</dashgettestsforclass>
		<dashgettestsforotherclasses>{$PHP_ROOT}linkit.php/dashGetTestsForOtherClasses</dashgettestsforotherclasses>
		<dashgettestresultsforclassstudents>{$PHP_ROOT}linkit.php/dashGetTestResultsForClass</dashgettestresultsforclassstudents>
		<dashgetlinkittestresultsforclassstudents>{$PHP_ROOT}linkit.php/dashGetLinkitTestResultsForClass</dashgetlinkittestresultsforclassstudents>
		<dashgetlegacytestresultsforclassstudents>{$PHP_ROOT}linkit.php/dashGetLegacyTestResultsForClass</dashgetlegacytestresultsforclassstudents>
		<dashgetalltestresultsforstudent>{$PHP_ROOT}linkit.php/dashGetAllTestResultsForStudent</dashgetalltestresultsforstudent>
		<dashgetclassresultsforprofile>{$PHP_ROOT}linkit.php/dashGetClassResultsForProfile</dashgetclassresultsforprofile>
		<dashgetclassaveragesforprofile>{$PHP_ROOT}linkit.php/dashGetClassAveragesForProfile</dashgetclassaveragesforprofile>
		<dashprofiletopicsfortestresult>{$PHP_ROOT}linkit.php/dashProfileGetTopicsForTestResult</dashprofiletopicsfortestresult>
		<dashprofiletopicsfortestforclass>{$PHP_ROOT}linkit.php/dashProfileGetTopicsForTestForClass</dashprofiletopicsfortestforclass>
		<dashprofileskillsfortestresult>{$PHP_ROOT}linkit.php/dashProfileGetSkillsForTestResult</dashprofileskillsfortestresult>
		<dashprofileskillsfortestforclass>{$PHP_ROOT}linkit.php/dashProfileGetSkillsForTestForClass</dashprofileskillsfortestforclass>
		<dashprofilelessontwosfortestresult>{$PHP_ROOT}linkit.php/dashProfileGetLessonTwosForTestResult</dashprofilelessontwosfortestresult>
		<dashprofilelessontwosfortestforclass>{$PHP_ROOT}linkit.php/dashProfileGetLessonTwosForTestForClass</dashprofilelessontwosfortestforclass>
		<dashprofilestandardsfortestresult>{$PHP_ROOT}linkit.php/dashProfileGetStandardsForTestResult</dashprofilestandardsfortestresult>
		<dashprofilestandardsfortestforclass>{$PHP_ROOT}linkit.php/dashProfileGetStandardsForTestForClass</dashprofilestandardsfortestforclass>
		
		<ianalgetclassesbyschool>{$PHP_ROOT}linkit.php/ianalGetClassesBySchool</ianalgetclassesbyschool>
		<ianalgetclassesbyteacher>{$PHP_ROOT}linkit.php/ianalGetClassesByTeacher</ianalgetclassesbyteacher>
		<ianalitemsummary>{$PHP_ROOT}linkit.php/ianalGetTestItemSummary</ianalitemsummary>
		<ianalstudentitemsummary>{$PHP_ROOT}linkit.php/ianalGetStudentResultsByItem</ianalstudentitemsummary>
		<ianalitemanalysisreport>{$PHP_ROOT}linkit.php/ianalGetItemAnalysisReport</ianalitemanalysisreport>
		<ianalclassesfortest>{$PHP_ROOT}linkit.php/ianalGetClassesForTest</ianalclassesfortest>
		<!-- <ianalclassesfortestbyschool>{$PHP_ROOT}linkit.php/ianalGetClassesForTestBySchool</ianalclassesfortestbyschool> -->
		<!-- <ianalclassesfortestbyteacher>{$PHP_ROOT}linkit.php/ianalGetClassesForTestByTeacher</ianalclassesfortestbyteacher> -->
		<ianaldatesfortest>{$PHP_ROOT}linkit.php/ianalGetDatesForTest</ianaldatesfortest>
		<!-- <ianaldatesfortestbyschool>{$PHP_ROOT}linkit.php/ianalGetDatesForTestBySchool</ianaldatesfortestbyschool> -->
		<!-- <ianaldatesfortestbyteacher>{$PHP_ROOT}linkit.php/ianalGetDatesForTestByTeacher</ianaldatesfortestbyteacher> -->
		<ianaldatesfortestbyclasses>{$PHP_ROOT}linkit.php/ianalGetDatesForTestForClasses</ianaldatesfortestbyclasses>
		<ianalstandardsfortest>{$PHP_ROOT}linkit.php/ianalGetStandardsAndQuestionsForTest</ianalstandardsfortest>
		<ianaltopicsfortest>{$PHP_ROOT}linkit.php/ianalGetTopicsAndQuestionsForTest</ianaltopicsfortest>
		<ianalskillsfortest>{$PHP_ROOT}linkit.php/ianalGetSkillsAndQuestionsForTest</ianalskillsfortest>
		<ianallessontwosfortest>{$PHP_ROOT}linkit.php/ianalGetLessonTwosAndQuestionsForTest</ianallessontwosfortest>
		<ianalkeyfortest>{$PHP_ROOT}linkit.php/ianalGetKeyForTest</ianalkeyfortest>
		<ianalsummaryresults>{$PHP_ROOT}linkit.php/ianalGetSummaryResultsForTest</ianalsummaryresults>
		<ianaltestsforclass>{$PHP_ROOT}linkit.php/ianalGetTestsForClass</ianaltestsforclass>
		
		<valsubjectsforschool>{$PHP_ROOT}linkit.php/valGetSubjectsBySchool</valsubjectsforschool>
		<valtestsforsubject>{$PHP_ROOT}linkit.php/valGetTestsBySubject</valtestsforsubject>
		<valcomparabletests>{$PHP_ROOT}linkit.php/valGetComparableTests</valcomparabletests>
		<valcompresults>{$PHP_ROOT}linkit.php/valGetCompTestResults</valcompresults>
		<valcompresultslegacy>{$PHP_ROOT}linkit.php/valGetCompTestResultsLegacy</valcompresultslegacy>
		
		<usgtopleveldata>{$PHP_ROOT}linkit.php/usgGetTopLevelData</usgtopleveldata>
		<usgdeeperdata>{$PHP_ROOT}linkit.php/usgGetDeeperData</usgdeeperdata>
		<usgdistrictdata>{$PHP_ROOT}linkit.php/usgGetDistrictData</usgdistrictdata>
		<usgdistrictbyschooldata>{$PHP_ROOT}linkit.php/usgGetDistrictBySchoolData</usgdistrictbyschooldata>
		<usgdistrictbygradedata>{$PHP_ROOT}linkit.php/usgGetDistrictByGradeData</usgdistrictbygradedata>
		<usgdistrictbysubjectdata>{$PHP_ROOT}linkit.php/usgGetDistrictBySubjectData</usgdistrictbysubjectdata>
		<usgexportdata>{$PHP_ROOT}linkit.php/usgExportUsageData</usgexportdata>
		
		<dgnclassgettestinfo>{$PHP_ROOT}linkit.php/dgnClassGetTestInfo</dgnclassgettestinfo>
		<dgnclassgetdatabyitem>{$PHP_ROOT}linkit.php/dgnClassGetDataByItem</dgnclassgetdatabyitem>
		<dgnclassgetstudentnames>{$PHP_ROOT}linkit.php/dgnClassGetStudentNamesFromIDs</dgnclassgetstudentnames>
		<dgnclassgetlessononedatafortest>{$PHP_ROOT}linkit.php/dgnClassGetLessonOneDataForTest</dgnclassgetlessononedatafortest>
		<dgnclassgetlessontwodatafortest>{$PHP_ROOT}linkit.php/dgnClassGetLessonTwoDataForTest</dgnclassgetlessontwodatafortest>
		<dgnclassgetstandardsdatafortest>{$PHP_ROOT}linkit.php/dgnClassGetStandardsDataForTest</dgnclassgetstandardsdatafortest>
		<dgnclassgettopicsdatafortest>{$PHP_ROOT}linkit.php/dgnClassGetTopicsDataForTest</dgnclassgettopicsdatafortest>
		
		<shtestresultsbystudent>{$PHP_ROOT}linkit.php/shGetTestResultsForStudent</shtestresultsbystudent>
		<shteacherssbyschool>{$PHP_ROOT}linkit.php/getTeachersBySchool</shteacherssbyschool>
		<shstudentsbyteacher>{$PHP_ROOT}linkit.php/getCurrentStudentsByTeacherUser</shstudentsbyteacher>
		<studentbycode>{$SERVER_ROOT}adminreporting.asmx/GetStudentByDistrictIDAndCode</studentbycode>
		
		<datedifference>{$PHP_ROOT}linkit.php/getDateDifference</datedifference>
		<races>{$PHP_ROOT}linkit.php/getRaces</races>
		<statestandarddescriptors>{$PHP_ROOT}linkit.php/getStateStandardDescriptors</statestandarddescriptors>
		<subjectsbydistrict>{$PHP_ROOT}linkit.php/getSubjectsByDistrict</subjectsbydistrict>
		<gradesubjectsbydistrict>{$PHP_ROOT}linkit.php/getGradeSubjectsByDistrict</gradesubjectsbydistrict>
		<subjectsbystatecodeandgrade>{$SERVER_ROOT}adminreporting.asmx/GetSubjectsByStateCodeAndGradeID</subjectsbystatecodeandgrade>
		<teachersbydistrict>{$PHP_ROOT}linkit.php/getTeachersByDistrict</teachersbydistrict>
		<getstandardreport>{$PHP_ROOT}linkit.php/getStandardReport</getstandardreport>
		<getmasteryreport>{$PHP_ROOT}linkit.php/getMasteryReport</getmasteryreport>
		<getmasteryreportTR>{$PHP_ROOT}linkit.php/getMasteryReportTR</getmasteryreportTR>
		<getlegacyreport>{$PHP_ROOT}linkit.php/getLegacyReport</getlegacyreport>
		<getlegacymasteryreport>{$PHP_ROOT}linkit.php/getLegacyMasteryReport</getlegacymasteryreport>
		<getlegacytestaggregatereport>{$PHP_ROOT}linkit.php/getLegacyTestAggregateReport</getlegacytestaggregatereport>
		<getmaterialdata>{$PHP_ROOT}linkit.php/getMaterialData</getmaterialdata>
		<getachievementlevelsettings>{$PHP_ROOT}linkit.php/getAchievementLevelSettings</getachievementlevelsettings>
		<getfilteredclasses>{$PHP_ROOT}linkit.php/getFilteredClassesList</getfilteredclasses>
		<getfilteredstudentlist>{$PHP_ROOT}linkit.php/getFilteredStudentList</getfilteredstudentlist>
		<getgradebytest>{$PHP_ROOT}linkit.php/getGradeByTest</getgradebytest>
		
		<getresultstablebystudent>{$PHP_ROOT}linkit.php/getResultsTableReportByStudentDev</getresultstablebystudent>
		
		<currentclassesforteacher>{$PHP_ROOT}linkit.php/getCurrentClassesForTeacher</currentclassesforteacher>
		
		<getvirtualtestsbysubject>{$PHP_ROOT}linkit.php/getVirtualTestsBySubject</getvirtualtestsbysubject>
		
		<gpgstandardreport>{$PHP_ROOT}linkit.php/gpgGetStandardReport</gpgstandardreport>
		
		<profiledistrict>{$PHP_ROOT}linkit.php/profileDistrict</profiledistrict>
		<profiletestresultsdistrict>{$PHP_ROOT}linkit.php/profileTestResultsDistrict</profiletestresultsdistrict>
		<profilelegacytestsubjectsdistrict>{$PHP_ROOT}linkit.php/profileLegacyTestSubjectsForDistrict</profilelegacytestsubjectsdistrict>
		<profileschool>{$PHP_ROOT}linkit.php/profileSchool</profileschool>
		<profiletestresultsschool>{$PHP_ROOT}linkit.php/profileTestResultsSchool</profiletestresultsschool>
		<profilelegacytestsubjectsschool>{$PHP_ROOT}linkit.php/profileLegacyTestSubjectsForSchool</profilelegacytestsubjectsschool>
		
		<xligetareas>{$PHP_ROOT}linkit.php/XLIGetAreas</xligetareas>
		<xligetmodulesforarea>{$PHP_ROOT}linkit.php/XLIGetModulesForArea</xligetmodulesforarea>
		<xligetareadistricts>{$SERVER_ROOT}adminreporting.asmx/XLIGetAreaDistrictsByAreaID</xligetareadistricts>
		
		<xlicreatearea>{$SERVER_ROOT}adminreporting.asmx/XLICreateArea</xlicreatearea>
		<xliupdatearea>{$SERVER_ROOT}adminreporting.asmx/XLIUpdateArea</xliupdatearea>
		<xlideletearea>{$SERVER_ROOT}adminreporting.asmx/XLIDeleteArea</xlideletearea>
		<xlicreatemodule>{$SERVER_ROOT}adminreporting.asmx/XLICreateModule</xlicreatemodule>
		<xliupdatemodule>{$SERVER_ROOT}adminreporting.asmx/XLIUpdateModule</xliupdatemodule>
		<xlideletemodule>{$SERVER_ROOT}adminreporting.asmx/XLIDeleteModule</xlideletemodule>
		<xlicreateareadistrict>{$SERVER_ROOT}adminreporting.asmx/XLICreateAreaDistrict</xlicreateareadistrict>
		<xlicreateareadistrictnodates>{$SERVER_ROOT}adminreporting.asmx/XLICreateAreaDistrictwithoutDates</xlicreateareadistrictnodates>
		<xliupdateareadistrict>{$SERVER_ROOT}adminreporting.asmx/XLIUpdateAreaDistrict</xliupdateareadistrict>
		<xliupdateareadistrictnodates>{$SERVER_ROOT}adminreporting.asmx/XLIUpdateAreaDistrictwithoutDates</xliupdateareadistrictnodates>
		<xlideleteareadistrict>{$SERVER_ROOT}adminreporting.asmx/XLIDeleteAreaDistrict</xlideleteareadistrict>
		
		<xlicreateareadistrictmodule>{$SERVER_ROOT}adminreporting.asmx/XLICreateAreaDistrictModule</xlicreateareadistrictmodule>
		<xliupdateareadistrictmodule>{$SERVER_ROOT}adminreporting.asmx/XLIUpdateAreaDistrictModule</xliupdateareadistrictmodule>
		<xlideleteareadistrictmodule>{$SERVER_ROOT}adminreporting.asmx/XLIDeleteAreaDistrictModule</xlideleteareadistrictmodule>
		
		<xligetrolesforadm>{$SERVER_ROOT}adminreporting.asmx/XLIGetRolesbyAreadistrictModule</xligetrolesforadm>
		<xlicreateadmrole>{$SERVER_ROOT}adminreporting.asmx/XLICreateAreaDMRole</xlicreateadmrole>
		<xlideleteadmrole>{$SERVER_ROOT}adminreporting.asmx/XLIDeleteAreaDMRole</xlideleteadmrole>
		
		<xligetaccessbydistrict>{$SERVER_ROOT}adminreporting.asmx/XLIGetAreaAccessByAreaIDandUserIDandDistrictID</xligetaccessbydistrict>
		
		<recreateassessment>{$PHP_ROOT}linkit.php/reCreateAssessment</recreateassessment>
		<regetassessmentsfordistrict>{$PHP_ROOT}linkit.php/reGetAssessmentsForDistrict</regetassessmentsfordistrict>
		<recreatelegacytestresult>{$PHP_ROOT}linkit.php/reCreateLegacyTestResult</recreatelegacytestresult>
		<regetstudentsforclassfortest>{$PHP_ROOT}linkit.php/reGetStudentsByClassForTest</regetstudentsforclassfortest>
		
		<viewergetreportsetfromcode>{$PHP_ROOT}linkit.php/viewerGetReportSetFromCode</viewergetreportsetfromcode>
		
		<learningtargetdata>http://www.linkit.com/ardev/linkit_AR3_devB/proc/ltdata/LTResultSet.xml</learningtargetdata>
		
		<createTransferToken>{$SERVER_ROOT}adminreporting.asmx/CreateTransferToken2</createTransferToken>
	</urls>
	
	<accesscontrol>
		<xliareaid>5</xliareaid>
	</accesscontrol>
	<modules >
		<module name="Dashboard" url="dashboardModule.swf" />
		<module name="Standard and Mastery Reports" url="standardModule.swf" />
		<module name="Item Analysis" url="itemAnalysis2Module.swf" />
		<module name="Validation" url="validationModule.swf" />
		<module name="Stats" url="statsModule.swf" />
		<module name="Usage" url="usageModule.swf" />
		<module name="Student History" url="studentHistoryModule.swf" />
		<module name="Groups" url="groupingModule.swf" />
		<module name="CBA" url="cbaModule.swf" accessLevel="0"/>
	</modules>
	
	<supmodules >
		<module name="Access Control" url="accessControlModule.swf" accessLevel="0"/>
		<module name="Item Analysis (old)" url="itemAnalysisModule.swf" accessLevel="4"/>

		<module name="Learning Targets" url="learningTargetsModule.swf" accessLevel="0"/>
		
		<module name="CA Reports" url="CAReportsModule.swf" accessLevel="4" district="1228,1197"/>
		
		<module name="Test Assignment" url="estAssignmentModule.swf" accessLevel="4" district="1193,272,1178,1253,1273,1190,1251,1078,1250,1252,1232,1270,1294,1265,1241,1296"/>
		
		<module name="Results Entry" url="resultsEntryModule.swf"  accessLevel="4" district="272"/>
		
	</supmodules>
	
	<externallinks>
		<link name="GradeCam Marking" url="http://www.linkit.com/ardev/gradeCamDemo/"  accessLevel="4" district="1228"/>
		<link name="Item Editing" url="http://www.linkit.com/ardev/linkit_TestMakerDev/linkit_testmaker.html"  accessLevel="4" district="1193,272,1178,1253,1273,1190,1251,1078,1250,1252,1232,1270,1294,1265,1241,1296"/>
	</externallinks>
	
	<studentprofile>
		<district id="280" easyname="AUSL" />
		<district id="572" easyname="Chicago Turnaround" />
		<district id="272" easyname="Demo District" />
		<district id="619" easyname="Roselle" />
		<district id="754" easyname="Mead" />
		<district id="919" easyname="Innovative Education Management" />
	</studentprofile>
	
	<ALGradedLevels>
		<NJPass>3;2;1</NJPass>
		<NJASK>1;2;3</NJASK>
		<Default>4;3;2;1</Default>
		<STAR>5;4;3;2;1</STAR>
		<INHS1>1;2;3</INHS1>
		<WASP>1;2;3;4</WASP>
		<CAHSEE>9;4;3;2;1</CAHSEE>
		<Dibels>3;2;1</Dibels>
		<TAKS>3;2;1;0</TAKS>
		<CAPHYFIT>6;5;4;3;2;1</CAPHYFIT>
		<CAPHYFIT09>6;5;4;3;2;1</CAPHYFIT09>
		<NYST>4;3;2;1</NYST>
	</ALGradedLevels>
	
	
	<xliroles>
		<role>
			<roleid>3</roleid>
			<name>District Administrator</name>
		</role>
		<role>
			<roleid>8</roleid>
			<name>School Administrator</name>
		</role>
		<role>
			<roleid>2</roleid>
			<name>Teacher</name>
		</role>
	</xliroles>
	
	<wikihelp>
		<module name="dashboardModule.swf">http://184.106.183.17:8090/display/LinkItApp/Part+VI-B.+Data+Dashboard</module>
		<module name="standardModule.swf">http://184.106.183.17:8090/pages/viewpage.action?pageId=524340</module>
		<module name="itemAnalysis2Module.swf">http://184.106.183.17:8090/display/LinkItApp/Part+VI-D.+Item+Analysis+Module</module>
		<module name="validationModule.swf">http://184.106.183.17:8090/display/LinkItApp/Part+VI-E.+Validation+Module</module>
		<module name="groupingModule.swf">http://184.106.183.17:8090/display/LinkItApp/Part+VI-F.+Grouping+Module</module>
		<module name="studentHistoryModule.swf">http://184.106.183.17:8090/display/LinkItApp/Part+VI-G.+Student+History</module>
		<module name="usageModule.swf">http://184.106.183.17:8090/display/LinkItApp/Part+VI-H.+Usage+Module</module>
		
		
	</wikihelp>
	
</config>