@model LinkIt.BubbleSheetPortal.Web.Models.SGO.SubmitForReviewGetModel
<section id="SubmitForReviewSection">
    <div class='block-content form p-4'>
        <p class="title-large">Change Reviewer</p>
        <ul style="display: none" id="error-messages" class="message error"></ul>
        <ul style="display: none" id="success-message" class="message success">
            <li>Reviewer successfully changed.</li>
        </ul>
        <div class="mb-4">
            <label>Select reviewer</label>
            @Html.DropDownList("DistrictAdminID", Model.DistrictAdmins.Select(o => new SelectListItem
             {
                    Text = string.Format("{0}, {1}", o.LastName, o.FirstName),
                    Value = o.UserID.ToString()
             }))
        </div>
        <div class="modal-component-footer mx-n4 px-4">
            <div slot="footer">
                <button id="idCancelChangeReviewerButton" type="button" onclick="CancelChangeReviewer();">Close</button>
                <button id="idChangeReviewerButton" type="button" class="btn-red" onclick="ChangeReviewer(@Model.SGOID);">Submit</button>
                <input id="hdfGenericPDFLoaded" type="hidden" value="0" />
            </div>
        </div>
    </div>
</section>
