
@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.DataPointWeighViewModel
<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004'>
        <div id="iddivChangeWeighs" class='block-content form' style='z-index: 1004'>
            <p class="title-large mb-4">Change Weights</p>
            <div style="margin-bottom:24px">
                <div style="width: 100%; min-height: 170px">
                    <table id="tbChangeWeights" style="text-align: center;" class="table">
                        <thead>
                            <tr>
                                <th>Data Point</th>
                                <th>Weight</th>
                                <th>Percent</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.LstWeights.Count > 0)
                            {
                                foreach (var viewModel in Model.LstWeights)
                                {
                                    <text>
                                        <tr id="idtrDataPoint-@viewModel.Id" DataPointId="@viewModel.Id">
                                            <td>
                                                <input type="text" value="@viewModel.Name" readonly="readonly" />
                                            </td>
                                            <td>
                                                <input id="inputPercent-@viewModel.Id" maxlength="1" type="text" value="@viewModel.ExtracId" onkeypress="IsNumeric(event);" onkeyup="CalculatePercent();" />
                                            </td>
                                            <td>
                                                <label id="lbl-@viewModel.Id">@viewModel.ExtraField % </label>
                                            </td>
                                        </tr>
                                    </text>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                @*<div style="margin-top: 20px; text-align: center;">
                <button id="idbtnAddBank" type="button" onclick="btnSaveChangeWeights()">Save Weights</button>
                <button type="button" onclick="btnClosePopupChangeWeights()">Close</button>
            </div>*@
            </div>
            <div class="modal-component-footer mx-n3 px-4">
                <div slot="footer">
                    <button type="button" onclick="btnClosePopupChangeWeights()">Close</button>
                    <button id="idbtnAddBank" type="button" onclick="btnSaveChangeWeights()">Save Weights</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function IsNumeric(event) {
        var key = event.which;
        if (!(key >= 48 && key < 54))
            event.preventDefault();
    }

    function CalculatePercent() {
        var vTotal = 0;
        $('#tbChangeWeights tr[id^=idtrDataPoint-]').each(function () {
            var vDataPointId = $(this).attr('DataPointId');
            vTotal += parseInt( $('#inputPercent-' + vDataPointId).val() );
        });
        $('#tbChangeWeights tr[id^=idtrDataPoint-]').each(function () {
            var vDataPointId = $(this).attr('DataPointId');
            var vWeight = $('#inputPercent-' + vDataPointId).val();
            var v = parseInt((vWeight / vTotal) * 100);
            $('#lbl-' + vDataPointId).html(v + ' %');
        });
    }
</script>
