@model LinkIt.BubbleSheetPortal.Web.ViewModels.ObjectCommonCustomViewModel
<section>
    <div class="block-content form p-4">
        <div class="mb-4">
            <label class="label-lg">Would you like to save this SGO as a PDF?</label>
            <p>
                <a id="idlinkSGOFilePrint" target="_blank" style="display: none;" href="#">
                    <u>
                        Click here to open PDF file
                    </u>
                </a>
            </p>
        </div>
        <div class="modal-component-footer mx-n4 px-4">
            <div slot="footer">
                <button id="idbtnCloseSGOPrintPopup" type="button" onclick="closeSGOPrintPopup()">Close</button>
                <button id="idbtnSGOSavePDFFile" type="button" class="btn-red" onclick="printreportSGO(@Model.Id,'@Model.Name', @Model.ExtraId);">Save PDF</button>
                <input id="hdfGenericPDFLoaded" type="hidden" value="0" />
            </div>
        </div>
    </div>
</section>
