<section style='z-index: 2004'>
    <div class='block-content' style='z-index: 1004; padding: 24px 32px;'>
        <p class="title-large mb-4">
            Student Population Guidance
        </p>
        <div style='z-index: 1004; text-align: left' class="sgo-instruction">
            @Html.Raw(ViewBag.StudentIntervalStudent)
        </div>
        <br />
        <div class="modal-component-footer mx-n5">
            <div slot="footer">
                <button type="button" id="btnNumberStudentInterval" class="no-background" onclick="closeNumberStudentInterval()">Close</button>
            </div>
        </div>
    </div>
</section>

