@model LinkIt.BubbleSheetPortal.Web.Models.SGO.SubmitForReviewGetModel
<style>
    #portal-v2-containter .form label {
        font-size: var(--fontSizeLabel);
    }
</style>
<section id="SubmitForReviewSection">
    <div>
        <div class='block-content  p-4'>
            <p class="title-large mb-4" ">Submit for Review and Approval</p>
            <ul style="display: none" id="error-messages" class="message error"></ul>
            <ul style="display: none" id="success-message" class="message success">
                <li>Reviewer successfully changed.</li>
            </ul>
            <div class="form">
                <label>Select reviewer</label>
                <div class="sgo-datetime">
                    @Html.DropDownList("DistrictAdminID", Model.DistrictAdmins.Select(o => new SelectListItem
                   {
                       Text = string.Format("{0}, {1}", o.LastName, o.FirstName),
                       Value = o.UserID.ToString()
                   }))
                    @*<span class="icon-sgo-calendar"></span>*@
                </div>
            </div>
        </div>

        <div class="modal-component-footer">
            <div slot="footer">
                <button id="idCancelSubmitForReview" type="button" onclick="CancelSubmitForReview();">Close</button>
                <button id="idSubmitForReviewButton" type="button" onclick="SubmitReviewer(@Model.SGOID);">Submit</button>
            </div>
        </div>
    </div>
</section>
