.treeview-list-item {
    position: relative;
}

.treeview-list-item-icon {
    display: inline-block;
    width: 13px;
    height: 13px;
    color: gray;
    font-size: 13px;
    line-height: 13px;
    position: absolute;
    top: 3px;
    left: -10px;
    cursor: pointer;
}

.treeview-list-item.is-child .treeview-list-item-icon::before {
    content: "\25bc";
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    width: 13px;
    height: 13px;
    position: relative;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.treeview-list-item.is-child.is-expanded .treeview-list-item-icon::before {
    -webkit-transform: rotate(-90deg) translateX(2px);
    -ms-transform: rotate(-90deg) translateX(2px);
    -o-transform: rotate(-90deg) translateX(2px);
    transform: rotate(-90deg) translateX(2px);
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.treeview-list-item label,
.treeview-list-item input[type="checkbox"] {
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
}

.treeview-list-item label {
    position: relative;
}

.treeview-list-item .treeview-list {
    margin: 0 0 0 20px;
}

.treeview-list-item.is-expanded > .treeview-list {
    display: none;
}

.treeview-list-item input[type="checkbox"]:checked ~ label {
    color: #a1a1a1;
}

.tree-view-template {
    list-style: circle;
    padding-left: 30px;
}