.lnkt-instance .hdie {
  display: none;
}

.lnkt-table-container {
  width: 100%;
}

table.lnkt-table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}

table.lnkt-table,
table.lnkt-table th,
table.lnkt-table td {
  border: 1px solid var(--borderColor);
  box-sizing: border-box;
}

table.lnkt-table th > div,
table.lnkt-table td {
  padding: 8px 12px;
  text-align: left;
}

table.lnkt-table thead {
  position: sticky;
  top: -1px;
}

table.lnkt-table th {
  background-color: var(--blue1);
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

table.lnkt-table th .sort.desc{
  transform: rotate(180deg);
}

table.lnkt-table .lnkt-table-no-result td {
  text-align: center;
  padding: 0.7rem;
  line-height: 1.75rem;
}

table.lnkt-table tr {
  cursor: pointer;
}

table.lnkt-table tr.selected {
  background-color: var(--blue7);
}

.lnkt-table-for-loading {
  position: relative;
}

.lnkt-table-loading {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.lnkt-table-loading > div {
  height: 100%;
}

table.lnkt-table th > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

.lnkt-table-icon-headers {
  display: flex;
}

.lnkt-table-icon-header {
  padding: 4px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lnkt-table-total-records {
  padding: 8px 12px;
  border: 1px solid var(--borderColor);
  border-top: none;
  background: var(--yellow1);
}

.lnkt-table-control {
  display: flex;
  justify-content: space-between;
  height: 56px;
}

.lnkt-table-control-left,
.lnkt-table-control-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.lnkt-table-control-right .data-search {
  position: relative;
}

#portal-v2-containter .lnkt-table-control-right .data-search input {
  padding-left: 32px !important;
}

.lnkt-table-control-right .data-search:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 8px;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  width: 20px;
  height: 20px;
  z-index: 2;
  font-size: 1.1875rem;
  color: var(--selectColor);
}

.lnkt-table-control-left .switch-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.lnkt-table-control-left .form-switch {
  padding: 0;
}

.lnkt-table-control-right .btn-accept {
  height: inherit !important;
}

.lnkt-table-paging {
  padding: 12px;
  display: inline-block;
  width: 100%;
}

.lnkt-table-paging > div {
  display: inline-block;
}

.lnkt-table-paging-entry {
  align-items: center;
  width: 190px;
  margin-right: 12px;
}

.lnkt-table-paging-entry > div {
  width: 110px;
  display: inline-block;
}

.lnkt-table-paging-entry > select {
  width: 80px !important;
  display: inline-block;
}

.lnkt-table-paging-action {
  vertical-align: middle;
  float: right;
  color: var(--navyColor);
}

.lnkt-table-paging-action > div {
  width: 35px;
  height: 35px;
  position: relative;
  border: 2px solid currentColor;
  margin-left: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
  display: inline-block;
}

.lnkt-table-paging-action > div.disabled {
  opacity: 0.5;
  cursor: default;
}

.lnkt-table-previous:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 10px;
  width: 20px;
  height: 20px;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  z-index: 2;
  font-size: 1.5625rem;
  color: currentColor;
}

.lnkt-table-next:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 8px;
  width: 20px;
  height: 20px;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  z-index: 2;
  font-size: 1.5625rem;
  color: currentColor;
}

@-moz-document url-prefix() {
  .lnkt-table-previous:after,
  .lnkt-table-next:after {
    top: 0px;
  }
}

.lnkt-table-filter-item {
  display: inline-block;
  padding: 4px;
  font-weight: 500;
  margin: 4px 8px 4px 0;
}

.lnkt-table-filter-group {
  font-weight: 500;
  margin-right: 8px;
}

#portal-v2-containter .lnkt-table-filter-item > span:nth-child(2) {
  padding: 4px;
  padding-left: 8px;
  font-family: 'Font Awesome 5 Free';
  font-size: 12px;
  cursor: pointer;
}

.lnkt-table-main {
  overflow: auto;
}

.lnkt-table-icon-header.filter.is-applied {
  color: #7fcb2d;
}

.filterDropdown {
  position: absolute;
  width: 100%;
  top: 100%;
  background-color: white;
  overflow: auto;
  border: 2px solid var(--borderColor);
  padding: 0 !important;
  min-width: 250px;
}

th .filterDropdown {
  display: none;
}

.filterDropdown > .filterSearch {
  width: 100%;
  position: sticky;
  top: 0;
  padding: 8px 16px;
  background-color: white;
}

.filterDropdown > .filterSearch input {
  width: 100%;
}

.filterItem {
  width: 100%;
  overflow: auto;
  max-height: 280px;
}

.filterRow {
  padding: 10px 16px;
  font-weight: 400;
  cursor: pointer;
}

.filterRow > span {
  vertical-align: top;
}

table.lnkt-table tbody tr:hover,
.filterRow:hover {
  background-color: var(--navyColor);
  color: white;
}

.filterRow:hover input[type=checkbox]:after {
  border-color: white !important;
}

.filterRow input {
  margin-right: 12px !important;
}

.clearAll {
  font-weight: 400;
  color: var(--lightBlue);
  text-decoration: underline;
  cursor: pointer;
}
