/*------------------------------------*\
    #GENERIC
\*------------------------------------*/
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    counter-reset: question passage section;
}

body {
    color: #333;
    font-size: 14px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif, "dejavu_sansbook";
    line-height: 1.57143;
}

h5 {
    margin-bottom: 2px;
    margin-top: 5px;
}

p {
    margin: 0 0 10px;
}

video {
    display: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

/*------------------------------------*\
    #MAIN
\*------------------------------------*/
.mainBody {
    word-break: keep-all;
    word-wrap: break-word;
}

.test {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif, "dejavu_sansbook";
    width: 660px;
}

.testInfo {
    page: test-info;
    border: 1px solid #000;
    padding: 20px;
    page-break-after: always;
    margin: 25% 0 50% 0;
    width: 620px;
}

#teacherName {
    string-set: teacherName content();
    text-align: center;
    font-size: 16pt;
}

#className {
    string-set: className content();
    text-align: center;
    font-size: 18pt;
}

.testTitle {
    string-set: testTitle content();
    text-align: center;
    font-weight: bold;
    font-size: 36pt;
}

.answerKeyLabel {
    text-align: center;
    font-weight: bold;
    font-size: 26pt;
}

.questions {
    margin-top: 5px;
    max-width: 620px;
}

.questions:after {
    content: "";
    display: table;
    clear: both;
}

.section {
    page: test-section;
}

.sectionData {
    border: 1px solid #000;
    padding: 20px;
    width: 620px;
    margin: 20px 0;
    float:left;
}

.sectionTitle:before {
    counter-increment: section;
    content: "Section " counter(section) ": ";
}

.sectionTitle {
    font-size:30px;
    font-weight:bold;
    text-align:center;
}

.assessmentItem:before {
    counter-increment: question;
    content: "Question " counter(question) ". ";
    font-weight: bold;
    color: #00805D;
}

.responseDeclaration, .outcomeDeclaration {
    display: none;
}

.assessmentItem {
    counter-reset: answer;
    background-color: #fff;
    page-break-inside: avoid;
    padding: 20px;
    margin: 0 10px 20px 0;
    display: inline-block;
}

.answerKeyItem {
    counter-reset: answer;
    background-color: #fff;
    page-break-inside: avoid;
    page-break-before: auto;
    page-break-after: auto;
    padding: 0;
    margin: 0 0 10px 0;
    display: block;
}

.answerKeyItem::before {
    counter-increment: question;
    font-weight: 700;
    color: #00805D;
}

.answerKeyItem::after {
    content: "";
    display: table;
    clear: both;
}

.answerKeyItem .assessmentItem {
    counter-reset: auto;
    background-color: #fff;
    page-break-inside: inherit;
    padding: 0;
    margin: 0;
    display: block;
}

.answerKeyItem .assessmentItem:before {
    content: "";
    counter-increment: none;
}

.answerKeyItemOrder {
    font-weight: 700;
    color: #00805D;
}

.responseBox {
    float: left;
    margin-left: 15px;
    width: 100%;
}

.choiceInteraction {
    width: 100%;
}

.extendedTextInteraction {
    width: 100%;
    border: #888 solid 1px;
    display:table;
    clear: both;
}

.simpleChoice::before {
    counter-increment: answer;
    color: #00805D;
    vertical-align: top;
}

.simpleChoice::marker {
    width: 20px;
    text-align: left;
    color: #00805D;
    vertical-align: top;
}

.simpleChoice {
    margin-left: 1em;
    margin-bottom: 5px;
    vertical-align: top;
    display: list-item;
    clear: both;
}

.answer {
    color: #000;
}

.answer p {
    display: inline;
}

.passage:before {
    counter-increment: passage;
    font-size: 24px;
    font-weight: bold;
}

.passage {
    clear: both;
    page-break-before: always;
    padding: 10px;
    width: 640px;
    margin: 0 0 5px 0;
}

math mi, math mo, math mtext {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif, "dejavu_sansbook", "Arial Unicode MS" !important;
}
/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/
.linkit-table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    max-width: 100%;
    width: 100% !important;
}

.linkit-table th,
.linkit-table td {
    border: 1px solid #000;
    line-height: 20px;
    vertical-align: top;
    padding: 5px;
}

/*------------------------------------*\
    #ULTILITIES
\*------------------------------------*/
.fontFamily {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif, "dejavu_sansbook";
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.veryLargeText {
    font-size: 28px;
    line-height: 32px;
}

.largeText {
    font-size: 20px;
    line-height: 24px;
}

.smallText {
    font-size: 10px;
    line-height: 14px;
}

.normalText {
  font-size: 14px;
  line-height: 20px;
}


.center {
    text-align: center;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.alignJustify {
    text-align: justify;
}

.u-linebreak::after {
    content: "\A";
    white-space: pre;
}

/*------------------------------------*\
    #OPTIONS PRINT ANSWER KEY
\*------------------------------------*/
.standards,
.tags {
    font-size: 10px;
    overflow: hidden;
}

.tag {
    width: 24%;
    float: left;
}


/*------------------------------------*\
    #INLINE CHOICE
\*------------------------------------*/
.inlineChoice > span {
    display: inline-block;
}

.inlineChoiceInteraction {
     word-wrap: break-word;
}

/*------------------------------------*\
    #TEXT ENTRY
\*------------------------------------*/
.textEntryInteraction {
    background: transparent;
    width: 82px;
    display: inline-block;
    vertical-align: middle;
    -moz-appearance: textfield;
    background-color: -moz-field;
    border: 1px solid transparent;
    margin-top: 5px;
    min-height: 20px;
    padding: 2px 3px;
    word-break: normal;
}

/*------------------------------------*\
    #DRAG AND DROP
\*------------------------------------*/
.sourceObject {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    margin: 2px;
    max-width: 100%;
    box-sizing: content-box;
}

.sourceObject[type="text"] {
    background: #eee;
    border: 1px solid #08c;
    color: #1c94c4;
    padding: 0 2px;
}

.DestinationObject {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
}

.DestinationObject[type="text"] {
    border-radius: 6px;
    border: solid 1px #bebebe;
    font-style: italic;
    margin: 2px 4px;
    vertical-align: middle;
    padding: 1px;
}

.DestinationObject .sourceObject {
    margin: 0 0 2px;
}

.DestinationObject[type="image"] .DestinationItem {
    border: 1px solid #000;
    text-align: center;
}
.destinationText {
    position: absolute;
}

/*------------------------------------*\
    #TEXT HOT SPOT
\*------------------------------------*/
.TextHotspot-item {
    display: inline-block;
    padding: 1px 0;
    position: relative;
}

.TextHotspot-item.is-checked {
    background: #6bc287;
}

.TextHotspot-counter {
    font-size: 10px;
    position: absolute;
    top: -10px;
    right: -15px;
}

/*------------------------------------*\
    #IMAGE HOT SPOT
\*------------------------------------*/
.ImageHotspot {
    border: 1px solid #ccc;
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.ImageHotspot-item {
    background: #dedede;
    background: rgba(222, 222, 222, .5);
    border: 2px solid #ccc;
    border-radius: 4px;
    color: #3c2f2f;
    position: absolute;
    text-align: center;
}

.ImageHotspot-item::before {
    content: "";
    border: 1px solid #3c2f2f;
    display: inline-block;
    visibility: hidden;
    width: 80%;
    height: 80%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ImageHotspot-item.is-checked::before {
    background: #3c2f2f;
}

.ImageHotspot-item--number.is-checked::before,
.ImageHotspot-item--letter.is-checked::before {
    border-radius: 100%;
    visibility: visible;
}

.ImageHotspot-item--number.is-checked .ImageHotspot-value,
.ImageHotspot-item--letter.is-checked .ImageHotspot-value {
    color: #fff;
    font-weight: 700;
}

.ImageHotspot-item--checkbox::before,
.ImageHotspot-item--circle::before {
    visibility: visible;
}

.ImageHotspot-item--circle::before {
    border-radius: 100%;
}

.ImageHotspot-item--checkbox.is-checked::after {
    content: "";
    border: 5px solid #fcfff4;
    border-top: none;
    border-right: none;
    display: inline-block;
    width: 50%;
    height: 30%;
    margin-top: -2px;
    margin-left: 1px;
    -webkit-transform: rotate(-45deg) translate(-50%, -50%);
    -ms-transform: rotate(-45deg) translate(-50%, -50%);
    transform: rotate(-45deg) translate(-50%, -50%);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: 10;
}

.ImageHotspot-item--circle.is-checked .ImageHotspot-value::before,
.ImageHotspot-item--circle.is-checked .ImageHotspot-value::after {
    content: "";
    background: #fcfff4;
    width: 50%;
    height: 5px;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.ImageHotspot-item--circle.is-checked .ImageHotspot-value::before {
    -webkit-transform: rotate(-45deg) translate(-50%, -50%);
    -ms-transform: rotate(-45deg) translate(-50%, -50%);
    transform: rotate(-45deg) translate(-50%, -50%);
}

.ImageHotspot-item--circle.is-checked .ImageHotspot-value::after {
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
    -ms-transform: rotate(45deg) translate(-50%, -50%);
    transform: rotate(45deg) translate(-50%, -50%);
}

.ImageHotspot-item--border-style {
    border-radius: 0;
}

.ImageHotspot-item--border-style.is-checked {
    background: #7b85d5;
    border: 0;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.ImageHotspot-item--border-style-border.is-checked {
    background: transparent;
    border: 4px solid #000080;
}

.ImageHotspot-item--border-style-fill.is-checked {
    background: #639;
}

.ImageHotspot-value {
    width: 100%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ImageHotspot-item::before,
.ImageHotspot-item--checkbox.is-checked::after,
.ImageHotspot-item--circle.is-checked .ImageHotspot-value::before,
.ImageHotspot-item--circle.is-checked .ImageHotspot-value::after,
.ImageHotspot-value {
    position: absolute;
    top: 50%;
    left: 50%;
}

.ImageHotspot-counter {
    font-size: 10px;
    position: absolute;
    top: -11px;
    right: -20px;
    line-height: 1;
}
.hotspot-hidden {
    display: none;
}
/*------------------------------------*\
    #TABLE HOT SPOT
\*------------------------------------*/
.TableHotspot-item {
    display: inline-block;
    vertical-align: middle;
    width: 19px;
    height: 19px;
    position: relative;
}

.TableHotspot-item--partial {
    margin-right: 7px;
}

.TableHotspot-counter {
    font-size: 10px;
    position: absolute;
    top: -10px;
    left: 20px;
}

.hotspot-circle.bubble {
  margin-top: 26px;
  height: 30px;
  margin-left: -9px;
  margin-right: -9px;
  vertical-align: text-top !important;
}
.hotspot-circle.bubble.top {
  margin-bottom: 22px;
  margin-top: 0;
  vertical-align: text-bottom !important;
}
.hotspot-circle.bubble:after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: -11px;
  left: 4px;
}
.hotspot-circle.bubble.top:after {
  border-top: 10px solid black;
  border-bottom: 0;
  top: 100%;
  margin-top: -10px;
}

/*------------------------------------*\
    #NUMBER LINE HOT SPOT
\*------------------------------------*/
.Numberline {
    position: relative;
    display: block;
}

.Numberline svg {
    width: 100%;
}

.Numberline-item {
    position: absolute;
    background: #c7f1d5;
    border: 2px solid #88b088;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    display: none;
}

.Numberline-item.is-checked {
    background: #6bc287;
    border-color: darkgreen;
    display: block;
}

.Numberline-counter {
    font-size: 10px;
    position: absolute;
    top: -13px;
    left: 10px;
}

/*------------------------------------*\
    #OTHER
\*------------------------------------*/
.Point {
    display: block;
    margin: 10px 0;
    position: relative;
}

.Point:before {
    content: "•";
    display: inline-block;
    padding-right: 3px;
}

.Point-partial {
    margin-left: -3px;
}

/*------------------------------------*\
    #DRAG AND DROP SEQUENCE
\*------------------------------------*/
partialsequence,
.partialSequence {
    width: 95%;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    background-color: #F7F7F7;
    display: block;
    margin: 5px 0px;
}

partialsequence sourceitem,
partialsequence .sourceItem ,
.partialSequence sourceitem,
.partialSequence .sourceItem {
    background-color: #eeeeee;
    border: 1px solid #0088cc;
    box-sizing: border-box;
    color: #1c94c4;
    font-weight: bold;
    margin: 5px;
    overflow: hidden;
    padding: 2px;
    display: block;
    word-break: break-all;
}

partialsequence[orientation="horizontal"] sourceitem,
partialsequence[orientation="horizontal"] .sourceItem,
.partialSequence[orientation="horizontal"] sourceitem,
.partialSequence[orientation="horizontal"] .sourceItem {
    display: inline-block;
}

/*------------------------------------*\
    #DRAG DROP NUMERICAL
\*------------------------------------*/
.numerical-correct-box .numerical-correct-answer{
    display: inline-block;
    margin-right: 10px;
    background-color: #ececec;
    padding: 0 3px;
    margin-bottom: 10px;
}

.numerical-correct-box .numerical-correct-answer:last-child{
    padding-right: 0;
}

/*------------------------------------*\
    #GUIDANCE RATIONALES
\*------------------------------------*/
.AllAnswersCorrect,
.StudentGuidance,
.TeacherRationale {
    font-size: 12px;
}

.AllAnswersCorrect::after,
.StudentGuidance::after,
.TeacherRationale::after {
    content: "";
    display: table;
    clear: both;
}

.guidance {
    overflow: hidden;
    margin-bottom: 5px;
}

.guidance-body {
    padding-left: 10px;
}

.guidance:last-child {
    margin-bottom: 0;
}

.guidance-label {
    color: #888;
}

.guidance-multiplechoice .guidance-label,
.guidance-multiplechoice .guidance-body,
.guidance-inlinechoice .guidance-label,
.guidance-inlinechoice .guidance-body {
    float: left;
}

.guidance-multiplechoice .guidance-label,
.guidance-inlinechoice .guidance-label {
    width: 25px;
}

.guidance-multiplechoice .guidance-body,
.guidance-inlinechoice .guidance-body {
    overflow: hidden;
    padding-left: 0;
    width: 84%;
}

.guidance-prefix {
    clear: both;
    display: block;
}

.border-answer {
    border: 1px solid #999;
    border-left: 5px solid #eee;
    padding: 5px 10px;
}

.identifier-hotspot {
    position: absolute;
    top: -10px;
    right: -30px;
    font-size: 10px;
}
.box-answer-correct-dnd {
    font-size: 14px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif, dejavu_sansbook;
    line-height: 1.57143;
    margin: 15px 10px 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

// DnD line match
.line-matching .sourceobject[type="image"] {
  position: relative;
  margin: 1px;
}

.line-matching .text-wrapper {
  display: inline-block;
  position: relative;
}

.line-matching .sourceobject:after {
  display: none !important;
}

.line-matching .sourceobject {
  padding: 8px !important;
  position: relative;
}

.line-matching .sourceobject[type="image"] .anchor,
.line-matching div.DestinationObject[type="image"] .DestinationItem,
.line-matching .text-wrapper .anchor {
  width: 10px !important;
  height: 10px !important;
  content: "";
  border-radius: 50%;
  background-color: #1e1e54;
  color: #1e1e54;
  position: absolute;
  border: none;
  cursor: pointer;
}

.line-matching.object-right .sourceobject[type="image"] .anchor {
  top: 50%;
  margin-top: -5px;
  right: 7px;
}

.line-matching.object-right .sourceobject[type="image"] {
  padding-right: 25px !important;
}

.line-matching.destination-left div.DestinationObject[type="image"] {
  padding-left: 25px !important;
}

.line-matching.destination-left div.DestinationObject[type="image"] .DestinationItem {
  left: 7.5px !important;
}

.line-matching.object-left .sourceobject[type="image"] .anchor {
  top: 50%;
  margin-top: -5px;
  left: 7px;
}

.line-matching.object-left .sourceobject[type="image"] {
  padding-left: 25px !important;
}

.line-matching.destination-right div.DestinationObject[type="image"] {
  padding-right: 25px !important;
}

.line-matching.destination-right div.DestinationObject[type="image"] .DestinationItem {
  left: 100% !important;
  margin-left: -15px;
}

.line-matching.object-right .text-wrapper.object .anchor {
  top: 50%;
  margin-top: -5px;
  right: 7px;
}

.line-matching.object-right .text-wrapper.object {
  padding-right: 25px !important;
}

.line-matching.destination-left .text-wrapper.destination {
  padding-left: 25px !important;
}

.line-matching.destination-left .text-wrapper.destination .anchor {
  left: 7px !important;
  top: 50%;
  margin-top: -5px;
}

.line-matching.object-left .text-wrapper.object .anchor {
  top: 50%;
  margin-top: -5px;
  left: 7px;
}

.line-matching.object-left .text-wrapper.object {
  padding-left: 25px !important;
}

.line-matching.destination-right .text-wrapper.destination {
  padding-right: 25px !important;
}

.line-matching.destination-right .text-wrapper.destination .anchor {
  right: 7px !important;
  top: 50%;
  margin-top: -5px;
}

.line-matching.object-bottom .sourceobject[type="image"],
.line-matching.object-bottom .text-wrapper.object {
  padding-bottom: 20px !important;
}
.line-matching.object-bottom .sourceobject[type="image"] .anchor,
.line-matching.object-bottom .text-wrapper.object .anchor {
  left: 50%;
  top: 100%;
  margin-left: -5px;
  margin-top: -15px;
}
.line-matching.destination-top div.DestinationObject[type="image"],
.line-matching.destination-top .text-wrapper.destination {
  padding-top: 20px !important;
}
.line-matching.destination-top div.DestinationObject[type="image"] .DestinationItem,
.line-matching.destination-top .text-wrapper.destination .anchor {
  top: 0 !important;
  margin-top: 5px;
}
.line-matching.destination-top .text-wrapper.destination .anchor,
.line-matching.destination-bottom .text-wrapper.destination .anchor,
.line-matching.object-top .sourceobject[type="image"] .anchor,
.line-matching.object-top .text-wrapper.object .anchor {
  left: 50%;
  margin-left: -5px;
}

.line-matching.object-top .sourceobject[type="image"],
.line-matching.object-top .text-wrapper.object {
  padding-top: 20px !important;
}
.line-matching.object-top .sourceobject[type="image"] .anchor,
.line-matching.object-top .text-wrapper.object .anchor {
  top: 0;
  margin-top: 5px;
}
.line-matching.destination-bottom div.DestinationObject[type="image"],
.line-matching.destination-bottom .text-wrapper.destination {
  padding-bottom: 20px !important;
}
.line-matching.destination-bottom div.DestinationObject[type="image"] .DestinationItem,
.line-matching.destination-bottom .text-wrapper.destination .anchor {
  top: 100% !important;
  margin-top: -15px;
}

.line-matching.destination-top div.DestinationObject[type="image"],
.line-matching.destination-bottom div.DestinationObject[type="image"] {
  height: unset !important;
}

sourceobject *,
.sourceobject *,
.sourceObject * {
  font-size: inherit ;
  line-height: inherit;
}
