<modal-component v-bind:show.sync="isShowNoteDate" v-bind:width="800" style="display: none;" class="custom-preview-form-popup modal-artifact-notedate">
    <div slot="close">
        <a href="#" v-on:click="closePopupNoteDate" class="modal-component-close">Close</a>
    </div>
    <div slot="header">
        <div class="block-heading">
            <h1 class="title-large is-active">{{ studentName }} - {{ noteColumnName }}</h1>
        </div>
    </div>
    <div slot="body">
        <div class="note-calendar mb-5 custom-note-calendar">
            <div id="noteDate"></div>
        </div>
        <div class="mb-3">
            <h3 class="title-large">Note - {{noteDate}}: </h3>
        </div>
        <div class="custom-desc">
            <textarea id="editorNoteDate"></textarea>
        </div>

    </div>
    <div slot="footer">
        <button v-on:click="closePopupNoteDate">Cancel</button>
        <div>
            <button class="btn-custom" v-on:click="addNoteDate">OK</button>
            <button v-on:click="okPopupNoteDate">Save</button>
        </div>
    </div>
</modal-component>
