<modal-component :show.sync="isShowModalShowHideSPP" :width="800">
    <template slot="header">
        <div style="text-align: center; font-weight: 700; font-size: 1.3rem">
            {{ titleChangeShowHideSPP }}
        </div>
    </template>
    <template slot="body" style="margin: 0px !important">
        <fieldset style="width: 100%;">
            <div v-if="isHideOption" class="mt-3">
                <span class="input-label">
                    <input id="radioHideAll" type="radio" name="classSelection" value="true" checked="checked" class="clssOptionStudent input-checked-v2" v-on:click="chooseHideForAllStudent();" />
                </span>
                <span class="input-label">
                    <label for="radioHideAll"><b>Hide assignment for ALL students</b></label>
                </span>
            </div>
            <div v-else class="mt-3">
                <span class="input-label">
                    <input id="radioShowAll" type="radio" name="classSelection" value="true" checked="checked" class="clssOptionStudent input-checked-v2" v-on:click="chooseShowForAllStudent();" />
                </span>
                <span class="input-label">
                    <label for="radioShowAll"><b>Show assignment for ALL students</b></label>
                </span>
            </div>
            <div class="mt-3">
                <span class="input-label">
                    <input id="radioHideSelected" type="radio" name="classSelection" class="clssOptionStudent" v-on:click="chooseHideSelectedStudent();" />
                </span>
                <span class="input-label">
                    <label class="input-label" for="radioHideSelected">
                        <b>Hide assignment for select students</b>
                    </label>
                </span>
            </div>
            <div class="mt-3 mb-3">
                <span class="input-label">
                    <input id="radioShowSelected" type="radio" name="classSelection" class="clssOptionStudent" v-on:click="chooseShowSelectedStudent();" />
                </span>
                <span class="input-label">
                    <label class="input-label" for="radioShowSelected">
                        <b>Show assignment for select students</b>
                    </label>
                </span>
            </div>
            <div v-if="isShowListStudents" class="block-section" id="studentContent">
                <div class="row mb-3">
                    <div class="col-3">
                    </div>
                    <div class="col-9">
                        <div class="text-end" id="btnControlSelectStudent">
                            <button class="btn-none-bg mr-16" id="btnSelectAll" type="button" name="select-all" v-on:click="selectAllStudents()">Select all</button>
                            <button class="btn-none-bg mr-16" id="btnSelectNone" type="button" name="select-none" v-on:click="selectNoStudents()">Select none</button>
                            <button class="btn-none-bg" id="btnInvertSelect" type="button" name="invert-select" v-on:click="invertSelectedStudents()">Invert selection</button>
                        </div>
                    </div>
                </div>
                <div class="collapse show group-show-hide">
                    <div v-if="studentListFilterShowHide && studentListFilterShowHide.length > 0" class="columns list-student-style">
                        <ul class="generate-student-list generate-student-list-custom with-icon icon-user student-col" style="padding-left: 0px !important">
                            <li v-for="student in studentListFilterShowHide" studentId="{{student.StudentId}}"
                                class="student-item-show-hide">
                            <a href="javascript:void(0)" style="background-color: rgb(130, 202, 250);">{{student.StudentFullName}}</a></li>
                        </ul>
                    </div>
                    <div v-else>
                        <span><b><i>No results found!</i></b></span>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </fieldset>
    </template>
    <template slot="footer">
        <div slot="footer">
            <button class="grey" @@click="changeCloseShowHideSPP()">Cancel</button>
            <button @@click="changeStatusHideShow()" class="cls-show-hide-student">OK</button>
        </div>
    </template>
</modal-component>

<script>
    
</script>

<style>
    .list-student-style {
        max-height: 320px;
        overflow: auto;
    }

    #studentContent {
        max-height: 400px;
    }
</style>
