<modal-component v-bind:show.sync="isShowModalActiveAndDeActive" v-bind:width="800" style="display: none;">
    <div slot="header"></div>
    <div slot="body" style="margin: 0px !important">
        <div style="text-align: center; font-weight: 700; font-size: 1.3rem">
            {{titleChangeActive}}
        </div>       
        <div>
            <fieldset style="width: 100%;">
                <div v-if="isShowActive" class="mt-3">
                    <span class="input-label">
                        <input id="radioActiveAll" type="radio" name="classSelection" value="true" checked="checked" class="clssOptionStudent input-checked-v2" v-on:click="chooseActiveForAllStudent();" />
                    </span>
                    <span class="input-label">
                        <label for="radioActiveAll"><b>Activate assignment for ALL students</b></label>
                    </span>
                </div>
                <div v-else class="mt-3">
                    <span class="input-label">
                        <input id="radioDeactiveAll" type="radio" name="classSelection" value="true" checked="checked" class="clssOptionStudent input-checked-v2" v-on:click="chooseDeactiveForAllStudent();" />
                    </span>
                    <span class="input-label">
                        <label for="radioDeactiveAll"><b>Deactivate assignment for ALL students</b></label>
                    </span>
                </div>
                <div class="mt-3">
                    <span class="input-label">
                        <input id="radioDeactiveSelected" type="radio" name="classSelection" class="clssOptionStudent" v-on:click="chooseDeactiveSelectedStudent();" />
                    </span>
                    <span class="input-label">
                        <label class="input-label" for="radioDeactiveSelected">
                            <b>Deactivate assignment for select students</b>
                        </label>
                    </span>
                </div>
                <div class="mt-3 mb-3">
                    <span class="input-label">
                        <input id="radioActiveSelected" type="radio" name="classSelection" class="clssOptionStudent" v-on:click="chooseActiveSelectedStudent();" />
                    </span>
                    <span class="input-label">
                        <label class="input-label" for="radioActiveSelected">
                            <b>Activate assignment for select students</b>
                        </label>
                    </span>
                </div>
                <div v-if="isShowListStudents" class="block-section" id="studentContent">
                    <div class="row mb-3">
                        <div class="col-3">
                        </div>
                        <div class="col-9">
                            <div class="text-end" id="btnControlSelectStudent">
                                <button class="btn-none-bg mr-16" id="btnSelectAll" type="button" name="select-all" v-on:click="selectAllStudents()">Select all</button>
                                <button class="btn-none-bg mr-16" id="btnSelectNone" type="button" name="select-none" v-on:click="selectNoStudents()">Select none</button>
                                <button class="btn-none-bg" id="btnInvertSelect" type="button" name="invert-select" v-on:click="invertSelectedStudents()">Invert selection</button>
                            </div>
                        </div>
                    </div>
                    <div class="collapse show group-active-deactive">
                        <div v-if="studentListFilter && studentListFilter.length > 0" class="columns list-student-style">
                            <ul class="generate-student-list generate-student-list-custom with-icon icon-user student-col" style="padding-left: 0px !important">
                                <li v-for="student in studentListFilter" studentId="{{student.StudentId}}" class="student-item"><a href="javascript:void(0)" style="background-color: rgb(130, 202, 250);">{{student.StudentFullName}}</a></li>
                            </ul>
                        </div>
                        <div v-else>
                            <span><b><i>No results found!</i></b></span>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div id="overStudentContent"></div>
                </div>
            </fieldset>
        </div>
    </div>
    <div slot="footer">
        <button v-on:click="closeModalActiveAndDeActive()">Cancel</button>
        <button v-on:click="changeActiveAndDeActiveClassAssignment()" class="cls-assign-student">OK</button>
    </div>
</modal-component>
<style>
    .list-student-style {
        max-height: 320px;
        overflow: auto;
    }

    #studentContent {
        max-height: 400px;
    }
</style>
