@using LinkIt.BubbleSheetPortal.Common;
@{
    var cookie = Request.Cookies[Constanst.LKARCookie];
    var token = string.Empty;
    if (cookie != null) {token = cookie.Value;}
}
<div id="popupConfirm111" style="display: none;" class="block-section">
    <section style='z-index: 2004'>
        <div class='block-border' style='z-index: 2004'>
            <div class='block-content' style='z-index: 1004'>
                <h1>Create PDF</h1>
                <p style='z-index: 1004; text-align: center'>
                    Successfully created PDF.
                </p>
                <br />
                <p style='z-index: 2004; text-align: center'><a id='aGeneratePDFSuccess' style='z-index: 2004; text-align: center' href='www.google.com' target='_blank' class='LinkitStypeButton big-button'>OK </a></p>
            </div>
        </div>
    </section>

</div>
<style type="text/css">
    .positionAdd
    {
        position: relative;
        right: -6px;
        top: 26px;
    }

    button
    {
        margin-left: 30px;
    }

    .ui-widget-header {
        border: 0px solid var(--grey0) !important;
        background: transparent !important;
        position: relative;
        top: 34px;
    }

    .ui-dialog
    {
        background: transparent;
        border: 0;
        /*top: 100px !important;*/
        height: auto !important;
    }

        .ui-dialog .ui-dialog-titlebar-close
        {
            position: absolute;
            right: 7px;
            top: -8px;
        }

    .ui-widget-header .ui-icon
    {
        background-image: url("/Content/themes/base/images/fancy_close.png");
    }

    .ui-icon
    {
        width: 40px;
        height: 40px;
    }

    .ui-icon-closethick
    {
        background-position: 2px 2px;
    }

    .ui-widget-header .ui-state-hover
    {
        border: 0;
        background: transparent !important;
    }

    .ui-dialog .ui-dialog-titlebar-close
    {
        width: 30px;
        height: 42px;
    }

    .ui-widget-overlay {
        background: var(--dark) !important;
    }

    #studentContent
    {
        position: relative;
    }
</style>
<script>

    function RegisterOpenDialog(virtualTestID, districtID) {
        var urlPrintTest = '@Url.Action("PrintTestReview", "TestAssignment")?testId=' + virtualTestID + '&districtID=' + districtID;
        $("<div></div>")
                 .addClass("dialog")
                 .attr("id", "PrintTest")
                 .appendTo("body")
                 .dialog({
                     title: "",
                     close: function () { $(this).remove(); $("body .my-overlay").remove(); },
                     open: function (event, ui) {
                         //Create overlay for Jquery dialog
                         $("body").append('<div class="my-overlay" style="z-index: ' + ($.ui.dialog.currentZ() - 1) + ';width:100%;height:' + $('body').height() + 'px;background-color: black;opacity: 0.3;position: absolute;top:0px;left: 0px;"></div>');
                     },
                     modal: false,
                     width: 1000,
                     resizable: false,
                     position: { my: "center top", at: "center top", of: window }
                 })
                 .load(urlPrintTest, function () {
                 });

        
        $(".close").unbind("click");
        $(".close").live("click", function (e) {
            e.preventDefault();
        });
        
    }

    var dialog;
    $("#btnCreatePDF").live("click", function (e) {
        e.preventDefault();
        ShowBlock($('#divconfigGenerateTest'), "Creating PDF");
        //alert("Call Print Test Function! " );
        var vColumns = 'single';
        if ($('#idTowColumns:checked').val() == 'on') {
            vColumns = 'double';
        }
        var vIncludePageNumbers = 0;
        if ($('#idcbIncludePageNumber:checked').val() == 'on') {
            vIncludePageNumbers = 1;
        }
        var vStartCountingOnCover = 0;
        if ($('#idStartCounting:checked').val() == 'on') {
            vStartCountingOnCover = 1;
        }
        var vIncludeCoverPage = 0;
        if ($('#idIncludeCoverPage:checked').val() == 'on') {
            vIncludeCoverPage = 1;
        }

        var vShowSectionHeadings = 0;
        if ($('#idShowSelectionHeading:checked').val() == 'on') {
            vShowSectionHeadings = 1;
        }
        var vShowQuestionBorders = 0;
        if ($('#idShowBorderAroundQuestion:checked').val() == 'on') {
            vShowQuestionBorders = 1;
        }
        var vDrawReferenceBackground = 0;
        if ($('#idShadeReference:checked').val() == 'on') {
            vDrawReferenceBackground = 1;
        }
        var vExtendedTextAreaAnswerOnSeparateSheet = 0;
        if ($('#idAnswerOn:checked').val() == 'on') {
            vExtendedTextAreaAnswerOnSeparateSheet = 1;
        }
        var vExtendedTextAreaShowLines = 0;
        if ($('#idShowLine:checked').val() == 'on') {
            vExtendedTextAreaShowLines = 1;
        }

        var vAnswerLabelFormat = 'LA';
        if ($('#idNumberic:checked').val() == 'on') {
            vAnswerLabelFormat = 'LN';
        }
        var vIncludeStandards = 0;
        if ($('#idIncludeStandards:checked').val() == 'on') {
            vIncludeStandards = 1;
        }
        var vIncludeTags = 0;
        if ($('#idIncludeTags:checked').val() == 'on') {
            vIncludeTags = 1;
        }
        //"http://portal.linkitdev.com/Content/FlashModules/ModuleLaunch/proc/linkit.php/printVirtualTestAnswerKey";
        //"http://portal.linkitdev.com/Content/FlashModules/ModuleLaunch/proc/linkit.php/printVirtualTest";
        var vURLPrintTest = $('#hdfPrintAnswerKeyURL').val();
        var vPrintType = $('#hdfPDFType').val();
        if (vPrintType == 'test') {
            vURLPrintTest = $('#hdfPrintTestURL').val();
        }

        var testDataPost =
            {
                StartCountingOnCover: vStartCountingOnCover,
                TestTitle: $('#TestTitle').val(),
                TeacherName: $('#idTeacherName').val(),
                IncludePageNumbers: vIncludePageNumbers,
                IncludeCoverPage: vIncludeCoverPage,
                Columns: vColumns,
                AnswerLabelFormat: vAnswerLabelFormat,
                IncludeStandards: vIncludeStandards,
                ShowQuestionBorders: vShowQuestionBorders,
                TestInstructions: $('#idTestInstructions').val(),
                ExtendedTextAreaShowLines: vExtendedTextAreaShowLines,
                IncludeTags: vIncludeTags,
                VirtualTestID: $('#VirtualTestID').val(),
                Instruction: '',
                ClassName: $('#idClassName').val(),
                DrawReferenceBackground: vDrawReferenceBackground,
                ExtendedTextAreaAnswerOnSeparateSheet: vExtendedTextAreaAnswerOnSeparateSheet,
                ShowSectionHeadings: vShowSectionHeadings,
                PrintingType: 1,
                QuestionPrefix: $('#idQuestionPrefix').val(),
                ExtendedTextAreaNumberOfLines: $('#idSelectLines').val(),
                Token: '@token'
            };
        $.support.cors = true;
        $.ajax({
            crossDomain: true,
            url: vURLPrintTest,
            type: 'POST',
            data: testDataPost,
            dataType: 'xml',
            success: function (response) {
                var rp = response.getElementsByTagName('pdfurl')[0].textContent;

                $("#aGeneratePDFSuccess").live("click", function (e) {
                    $(this).attr("href", rp);
                    $("#popupConfirm111").dialog("close");
                });

                dialog = $("#popupConfirm111")
                    .dialog({
                        title: $(this).attr("data-dialog-title"),
                        close: function () {
                            //$(this).remove();
                        },
                        modal: true,
                        width: 330,
                        resizable: false,
                        hideOnClose: true
                    })
                    .load(this.href, function () { });
                $('#divconfigGenerateTest').unblock();
            },
            failure: function (response) {
                $('#divconfigGenerateTest').unblock();
                alert("failure: " + response);
            },
            error: function (response) {
                $('#divconfigGenerateTest').unblock();
                alert("Error: " + response);
            }
        });
    });

    function getCookie(name) {
        var ckList = document.cookie.split("; ");
        for (var i = 0; i < ckList.length; i++) {
            var ck = ckList[i].split("=");
            if (ck[0] == name) {
                return unescape(ck[1]);
            }
        }
        return "";
    }

    //$("#aGeneratePDFSuccess").live("click", function (e) {
    //    setTimeout('dialog.dialog(\"close\")', 1000);
    //});
</script>
