@model LinkIt.BubbleSheetPortal.Web.ViewModels.AddTeacherToClassViewModel
           
<section class="m-0">
    <div class="block-border">
        <div class="block-section-custom form pb-0">
            <h1 class="title-large p-0 mb-4 title-assign-teacher">Assign Teacher</h1>
            <ul style="display: none" id="error-messages-teachers" class="message error"></ul>
            @using (Html.BeginForm("AddTeacherToClass", "ManageClasses", FormMethod.Post, new { id = "addTeacherToClassForm", @data_ajax_form = "true"}))
            {
                @Html.HiddenFor(x => x.ClassId)
                <div class="mb-4 block-content-dropdown-marquee w-100">
                    <label>Teacher</label>
                    <div class="block-text-name w-100">
                        @Html.DropDownListFor(x => x.SelectedTeacher, Model.Teachers, new { @class = "full-width" })
                        <div class="box-select">
                            <span class="overlay"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-4 block-content-dropdown-marquee w-100">
                    <label>Level Of Engagement</label>
                    <div class="block-text-name w-100">
                        @Html.DropDownListFor(x => x.SelectedLOE, Model.LOETypes, new { @class = "full-width" })
                        <div class="box-select">
                            <span class="overlay"></span>
                        </div>
                    </div>
                </div>
                <div class="footer-btn-wrapper">
                    <div class="d-flex justify-content-around align-items-center footer-btn">
                        <button class="border-0" id="btnCloseUserClick" type="button" data-dialog="close">Close</button>
                        <button class="btn-red" type="submit">Submit</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function() {
        $('#btnCloseUserClick').click(function () {
            $('#divSideContent').empty();
        });
        $(document).on('click', 'button[data-dialog="close"]', function (e) {
            var self = $(e.target);
            self.closest('.dialog').dialog('close');
        });

        $('#SelectedTeacher').marquee();
        $('#SelectedLOE').marquee();
    });
</script>
