@model LinkIt.BubbleSheetPortal.Web.ViewModels.AddEditStudentViewModel
@using LinkIt.BubbleSheetPortal.Web.Helpers
<style type="text/css">
    #dataTable_filter,
    #dataTable_length {
        display: none;
    }

    #portal-v2-containter .block-content .no-margin.last-child {
        margin: 0;
    }

    #portal-v2-containter .last-child .block-pagination {
        margin-left: 0;
        margin-right: 0;
    }

    #portal-v2-containter .add-new-student-assign-class table.datatable {
        table-layout: fixed;
        width: 100% !important;
        min-height: 75px;
    }

    #portal-v2-containter  table thead tr th:first-child {
        text-align: center;
    }
    #portal-v2-containter #PopupAddStudentAssignClass section {
        margin: 0
    }
</style>
<link href="@Url.Content("~/Content/css/dialog.css")" rel="stylesheet" type="text/css" />
<div class="form add-new-student-assign-class" id="add-new-student-assign-class">
    <div class="d-flex flex-row">
        <h2 class="header">
            Classes
        </h2>
        <button id="addNewClass" class="btn-plus-icon btn-text ms-auto mb-3" style=" position: relative; top: -0.3em;">
            Assign new class
        </button>
    </div>
    <ul style="display: none" id="error-messages-classList" class="message error"></ul>
    <div id="manageClassNotificationContainer"></div>
    <table id="dataTable" class="datatable table">
        <thead>
            <tr>
                <th style="max-width: 65px; min-width: 65px; width: 65px">Actions</th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    Name
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    @LabelHelper.Term
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    Teacher
                </th>
                <th scope="col">School</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="divOnTop"></div>
<input type="hidden" id="hidClassId" value="" />


<script type="text/javascript">
    var classIdString = '';

    $(function () {
        var options = {
            bServerSide: true,
            bDestroy: true,
            bStateSave: false,
            sAjaxSource: getAjaxSource(),
            fnServerParams: function (aoData) {
                //TuanVo:encode text in filter searchbox
                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''"); // when user type " or "", or """,...in searchbox, system will issue an error, this code fix that error
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }
                        break;
                    }
                }
            },
            bAutoWidth: false,
            iDisplayLength: 100,
            aaSorting: [[1, "asc"]],
            aoColumns: [
                { sType: 'integer', sName: 'ID', bSearchable: false, bSortable: false, sWidth: "65px", sClass: 'col-action' },
                { sType: 'string', sName: 'Name', bSearchable: true, bSortable: true, sWidth: "165px" },
                { sType: 'string', sName: 'Term', bSearchable: false, bSortable: false, sWidth: "100px" },
                { sType: 'string', sName: 'PrimaryTeacher', bSearchable: true, bSortable: false, sWidth: "100px" },
                { sType: 'string', sName: 'SchoolName', bSearchable: true, bSortable: true, sWidth: "245px" }
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibility(aData[0]));
                $('td:eq(0)', nRow).css('text-align', 'center');
                portalV2SkinCheckBox()
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTable'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#dataTable').unblock();
                $('.with-tip').tip();
            }
        };

        $("#dataTable").data("options", options);
        $('#dataTable').dataTable();


    });
    function getAjaxSource() {
        return '@Url.Action("GetClassesByClassIds")?classIdString=' + classIdString;
    }
    var isOpenAssignClass = false;
    $('#addNewClass').click(function () {
        var url = '@Url.Action("LoadAddNewStudentAssignClassPopup")?districtId=@Model.FilterDistrictId&layoutV2=true';
        if (isOpenAssignClass == true) {
            return;
        }
        isOpenAssignClass = true;
        $.ajax(
            {
                url: url,
                cache: false
            })
            .done(function (html) {
                $("#CustomAlertDialog").dialog("close");
                $("#divOnTop").append('<div id="PopupAddStudentAssignClass" class="dialog"></div>');
                $("#PopupAddStudentAssignClass").append(html);
                $('#PopupAddStudentAssignClass').dialog({
                    title: "",
                    open: function () {
                        //Create overlay for popup
                        $("body").append('<div class="my-overlay" style="z-index: ' + ($.ui.dialog.currentZ() - 1) + ';width:' + $(document).width() + 'px;height:' + $(document).height() + 'px;background-color: black;opacity: 0.3;position: absolute;top:0px;left: 0px;"></div>');
                    },
                    beforeclose: function () {
                        //TODO if you want do anything after close popup.
                        return true;
                    },
                    close: function () {
                        $("#dataTable").dataTable().fnReloadAjax(getAjaxSource());
                        $('#PopupAddStudentAssignClass').remove();
                        $("body .my-overlay").remove();
                        isOpenAssignClass = false;
                    },
                    modal: false,
                    width: 900,
                    resizable: false
                });

            });

        $(".close").unbind("click");
        $(".close").live("click", function (e) {
            e.preventDefault();
        });

    });

    function setIconVisibility(classId) {
        var deleteIcon = '<span class="icon fa-solid fa-circle-xmark icon-red"></span>';
        var deleteString = '<a href="javascript:void(0)" title="Remove class" classId="' + classId + '" class="with-tip deleteClass d-inline-block" onclick="deleteClass(' + classId + ')">' + deleteIcon + '</a>';
        return deleteString ;
    }
    function deleteClass(classsId) {
        if (classIdString == null) {
            classIdString = '';
        }
        classIdString = classIdString.split(',').filter(function (item) {
            return parseInt(item) != parseInt(classsId)
        })
        classIdString = classIdString.join(',');

        $("#dataTable").dataTable().fnReloadAjax(getAjaxSource());
    }

</script>
