@model LinkIt.BubbleSheetPortal.Models.School          
<section>
    <div class="block-border">
        <div class="block-content form">
            <div class="title-container">
                <p class="title-large">
                    Users
                </p>
                <a id="closeBtn" href="#" class="ui-dialog-titlebar-close ui-corner-all" role="button"><span class="ui-icon ui-icon-closethick">close</span></a>
            </div>
            <div class="no-margin last-child">
                <table id="dataTableUserNotMatch" class="datatable table no-margin" width="100%">
                    <colgroup>
                        <col style="width: 1%">
                        <col style="width: 20%">
                        <col style="width: 20%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">
                                Actions
                            </th>
                            <th scope="col">
                                <span class="column-sort">
                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up">
                                    </a><a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                </span>
                                Username
                            </th>
                            <th></th>
                            <th scope="col">
                                <span class="column-sort">
                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up">
                                    </a><a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                </span>
                                Role
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-component-footer d-flex justify-content-center align-items-center" ">
            <button id="btnCloseUserClick" type="button" class="grey btn-blue">
                Close
            </button>
        </div>
    </div>
</section>

<script type="text/javascript">
    function setRoleName(roleId) {
        switch (roleId) {
            case '1':
                return 'API';
            case '2':
                return 'Classroom Teacher';
            case '3':
                return '@LabelHelper.DistrictLabel Administrator';
            case '4':
                return 'System';
            case '5':
                return 'Publisher';
            case '7':
                return 'State Administrator';
            case '8':
                return 'School Administrator';
            case '12':
                return 'DistrictProspect';
            case '13':
                return 'LinkIt Admin';
            case '14':
                return 'SchoolProspect';
            case '15':
                return 'TeacherProspect';
            case '16':
                return 'PartnerProspect';
            case '20':
                return 'Director';
            case '23':
                return 'Regional Administrator';
            case '24':
                return 'Instructional Speciliast';
            case '25':
                return 'Advisor / Counselor';
        }
    }

    $(function () {
        var optionsUserNotMatch =
        {
            bServerSide: true,
            sAjaxSource: '@Url.Action("GetUserNotMatchSchool_V2")?schoolId=@Model.Id&districtId=@Model.DistrictId',
            bAutoWidth: true,
            iDisplayLength: 10,
            aaSorting: [[1, "asc"]],
            aoColumns: [
                { sType: 'integer', sName: 'UserId', bSearchable: false, bSortable: false },
                { sType: 'string', sName: 'UserName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'RoleId', bSearchable: true, bSortable: true, bVisible: false },
                { sType: 'string', sName: 'RoleName', bSearchable: true, bSortable: true },
                { sType: 'integer', sName: 'SchoolId', bSearchable: false, bSortable: false, bVisible: false }

            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibilityNotMatch(aData[0], aData[4]));
                $('td:eq(2)', nRow).html(setRoleName(aData[2]));
                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTableUserNotMatch'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#dataTableUserNotMatch').unblock();
                $('.with-tip').tip();
            },
            fnInitComplete: function () {
                var elSearchLabel = $('#dataTableUserNotMatch_filter label');
                var elSearchInput = elSearchLabel.find('input');

                elSearchInput.css({ paddingLeft: '35px', position: 'relative' });
                elSearchInput.get(0).style.setProperty('padding-left', '32px', 'important');

                elSearchLabel.replaceWith(elSearchInput);
                $('#dataTableUserNotMatch_filter').addClass('data-search');
            }
        };
        $("#dataTableUserNotMatch").data("options", optionsUserNotMatch);
        initializeDataTable($("#dataTableUserNotMatch"));
    });

    $(".adduser").die("click");
    $('.adduser').live('click', function () {
        var vuserId = $(this).attr('userId');
        var vschoolId = $(this).attr('schoolId');
        dialogAddUser("Do you want to add this user to this school?", vuserId, vschoolId);
    });

    $('#closeBtn').live('click', function () {
        $('.ui-widget-overlay').remove();
        $('#addUser').remove();
    });

    function setIconVisibilityNotMatch(userId, schoolId) {
        var addIcon = '<span class="fa-solid fa-circle-plus icon-green"></span>';
        var addUserString = '<a href="javascript:void(0)" title="Add To School" userId="' + userId + '" schoolId="' + schoolId + '" class="with-tip adduser">' + addIcon + '</a>';
        return addUserString;
    }

    function LoadUserNotMatchSchool() {
        //ui.dataTableUserNotMatch.fnReloadAjax()
        ui.dataTableUserNotMatch.fnDraw();
    }


    function dialogAddUser(message, vuserId, vschoolId) {
        confirmMessageV2(
            {
                message: message,
                cbYesBtnFuncName: 'HandleClassOKClickAddUserDialog(' + vuserId + ',' + vschoolId + ')',
                cbCancelBtnFuncName: 'HandleClassCancelClickAddUserDialog()'
            },
            {
                dialogAttr: {
                    attr: {
                        id: 'confirmCloseDialog'
                    }
                }
            }
        )
    }

    function HandleClassOKClickAddUserDialog(vuserId, vschoolId) {
        $.post('@Url.Action("AddUserToSchool", "Admin")', { userId: vuserId, schoolId: vschoolId }, function (response) {
            if (response == true) {
                ui.dataTableUserNotMatch.fnDraw();
                //Reload TeacherSchol List
                LoadUserSchool()
                $(this).hide();
                $("#confirmCloseDialog").dialog("close");
            } else {
                closeDialogComfirmation('Error. User does not exist.');
            }
        });
    }

    function HandleClassCancelClickAddUserDialog() {
        $("#confirmCloseDialog").dialog("close");
    }
</script>
