@model LinkIt.BubbleSheetPortal.Web.ViewModels.ReplacePrimaryTeacherViewModel
           
<section class="">
    <div class="block-border">
        <div class="block-content form">
            <h1>Assign Primary Teacher</h1>
            <ul style="display: none" id="error-messages-teachers" class="message error"></ul>
            @using (Html.BeginForm("ReplacePrimaryTeacher", "ManageClasses", FormMethod.Post, new { id = "replacePrimaryTeacherForm", @data_ajax_form = "true" }))
            {
                @Html.HiddenFor(x => x.ClassId)
                <div class="block-content-dropdown-marquee w-100">
                    <label>Teacher</label>
                    <div class="block-text-name w-100">
                        @Html.DropDownListFor(x => x.SelectedTeacher, Model.Teachers, new { @class = "w-100" })
                        <div class="box-select">
                            <span class="overlay"></span>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <button id="btnCloseUserClick" type="button" class="btn-blue d-block me-3" data-dialog="close">Close</button>
                    <button type="submit" class="btn-red d-block">Submit</button>
                </div>
            }
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function() {
        $('#btnCloseUserClick').click(function () {
            $('#divSideContent').empty();
        });

        $('#SelectedTeacher').marquee();
    });
</script>
