@model LinkIt.BubbleSheetPortal.Web.Models.ResetPassword

@{
    Layout = null;
}

<section>
    <div class="block-border">
        <div class="block-content form">
            <h1>Reset Portal Password</h1>
            @using (Html.BeginForm("ResetPassword", "ManageClasses", FormMethod.Post, new { id = "resetPasswordForm", @class = "form" }))
            {
                <div id="resetPassword">
                    @Html.Partial("v2/_ResetPasswordForm")
                </div>
            }
        </div>
    </div>
</section>

<script type="text/javascript">
    $('#resetPasswordForm').submit(function (event) {
        event.preventDefault();

        var password = $('#password').val();
        $.post('@Url.Action("ResetPassword")', $(this).serialize(), function (response) {
            if (response == true) {
                //$('#sideContainer').html('');
                $('#portalPasswordContainer').hide();

                if (!$('#student-lookup').length) {
                    $.get('@Url.Action("ResetPassword", new {userId = Model.UserId})', function (result) {
                        $('#portalPasswordContainer').html(result);
                    });

                    $('#success-message li').text('Password successfully changed.');
                    $('#success-message').expand();

                    setTimeout(function () {
                        $('#success-message').hide();
                    }, 5000);
                }
                
                if (typeof resetStudentPassword === "function") {
                    resetStudentPassword(password);
                }
            }
            else {
                $('#resetPassword').html(response);
            }
        });
    });
</script>
