@{
    ViewBag.Title = "Demo Page";
    Layout = "~/Views/Shared/_LayoutVuejs.cshtml";
}

@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.DemoCss()

<div id="app">
    {{ message }}
</div>

@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.DemoJs()

