<modal-component v-bind:show.sync="isShowModalHideShow" v-bind:width="450" style="display: none;">
    <div slot="header"></div>
    <div slot="body">
        Are you sure you want to <span v-text="visibleText"></span> this test in the Student Portal?
    </div>
    <div slot="footer">
        <div class="u-text-right">
            <button v-on:click="changeStatusHideShow()">OK</button>
            <button v-on:click="closeModalHideShow()" class="u-m-l-5">Cancel</button>
        </div>
    </div>
</modal-component>
