@model LinkIt.BubbleSheetPortal.Web.Models.UserGroup.CreateUserGroupDto

<style>
    #portal-v2-containter .ui-dialog .ui-dialog-titlebar-close {
        display: none;
    }
</style>

<div class="block-border">
    <div class="block-content block-24 form">
        <h2 class="header">Create User Group</h2>
        <ul style="display: none" id="error-messages-create-group" class="mb-4 no-margin message error"></ul>
        @using (Html.BeginForm("CreateXLIGroup", "UserGroupManagement", FormMethod.Post, new { id = "addUserGroupFrom", @class = "form" }))
        {
            <fieldset class="p-0 mb-4">
                <p class="mb-4">
                    <label>Name</label>
                    <span class="relative">
                        @Html.TextBoxFor(m => m.Name, new { @class = "full-width", maxlength = "50" })
                    </span>
                </p>
                <div style="float:left">
                    @Html.CheckBoxFor(x => x.InheritRoleFunctionality, new { @class ="mb-0" })
                    <label style="display: contents"> Keep Default Access</label>
                    <div style="float:right; margin-left:5px">
                        <a href="javascript:void(0)" class="with-tip-add-user" title="When checked, users in this group will maintain their standard module access plus the access they are given in the group.&#10When unchecked, users in this group will only have access to the modules they are given in the group.">
                            <img src="/Content/images/icons/icon-info.svg" width="16" height="16">
                        </a>
                    </div>
                        
                </div>
            </fieldset>

            <div class="modal-component-footer" style="margin: 0 -24px -24px -24px !important">
                <div slot="footer" class="d-flex flex-row justify-content-between" style="padding: 0px 36px">
                    <button id="btnAddUserGroupCancel" type="button" onclick="closePopupSubmit()">Cancel</button>
                    <button id="btnAddUserGroupSubmit" class="btn-red" type="submit" onclick="submitAddUserGroup()" name="Save">Submit</button>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    function submitAddUserGroup() {
        $('#addUserGroupFrom').submit(function (event) {
            event.preventDefault();
            $('#btnAddUserGroupSubmit').disableBt();

            var data = {
                Name: $("#Name").val(),
                InheritRoleFunctionality : $("#InheritRoleFunctionality").is(':checked'),
                DistrictID: selectedDistrictID,
            };

            $.ajax({
                url: '@Url.Action("CreateXLIGroup", "UserGroupManagement")',
                type: 'POST',
                data: data,
                success: function (response) {
                    console.log("response", response)
                    if (response) {
                        if(response.success){
                            $('.ui-widget-overlay').remove();
                            $('#createUserGroup').remove();
                            $('#tblUserGroup').dataTable().fnDraw();
                            closePopupSubmit()
                        }
                        else {
                            $('#error-messages-create-group').empty();
                            $('#btnAddUserGroupSubmit').enableBt();

                            if (response.message) {
                                $('#error-messages-create-group').append('<li>' + response.message + '</li>');
                                $('#error-messages-create-group').show();
                            } else {
                                $('#error-messages-create-group').hide();
                            }
                        }
                    }
                },
                failure: function (response) {
                    addErrorMessages(response);
                }
            });
        });
    }
    function closePopupSubmit() {
        $('.ui-widget-overlay').remove();
        $('#dialogAddUserGroup').dialog("close");
    }
    
    //$(function () {
    //    var formCreate = $('#addUserGroupFrom');

    //    $("#btnAddUserGroupCancel").click(function () {

    //    });
    //});
    $(function () {
        setTimeout(function () {
            $(".with-tip-add-user").tip({ position: "bottom" })
        }, 1000)
    })
</script>
