<section class="grid-12">
    <div class="block-border">
        <div class="block-content form" style="padding-top: 5px;">
            <h1>School Access</h1>
            <div class="clearfix u-m-t-35">
                <div class="last-child">
                    <table id="tblSchoolAccess" class="datatable table no-margin" width="100%">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    School Name
                                </th>

                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Access Role
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            loadViewSchoolAccessDataToTable();
        }, 500);
    });

    function loadViewSchoolAccessDataToTable() {
        var options = {
            bServerSide: false,
            sServerMethod: "GET",
            bDestroy: true,
            sAjaxSource: '@Url.Action("GetViewSchoolAccessData", "UserGroupManagement")',
            fnServerParams: function (aoData) {
                aoData.push(
                    { name: "XLIModuleID", value: '@ViewBag.MouduleID' },
                    { name: "DistrictID", value: '@ViewBag.DistrictID' }
                );
            },
            sScrollY: "500",
            bSort: true,
            bScrollCollapse: true,
            bPaginate: false,
            aoColumns: [
                { mData: 'SchoolName', sName: 'School Name', bSearchable: true, bSortable: true },
                { mData: 'RoleAccess', sName: 'Access Role', bSearchable: true, bSortable: true }
            ],
            aaSorting: [[0, "asc"]],
            fnPreDrawCallback: function () {
                ShowBlock($('#tblSchoolAccess'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#tblSchoolAccess').unblock();
            },
            fnRowCallback: function (nRow, aData) {
                
            }
        };

        $('#tblSchoolAccess').data('options', options);
        initializeDataTable($("#tblSchoolAccess"));
    }
</script>

<style type="text/css">
    #tblSchoolAccess_wrapper .dataTables_scrollHead {
        height: 32px;
        margin-top: -22px;
    }

    #tblSchoolAccess_wrapper .block-footer {
        display: none
    }

    .ui-widget-content .ui-dialog-titlebar-close {
        right: 5px;
        top: 5px;
        z-index: 10;
    }
</style>
