<style>
    .ui-widget-header {
        /*margin-bottom: -35px;*/
    }
    .ui-widget-header {
        top: 62px;
    }
    #selectFilters1 .columns {
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: flex-end;
    }

    #selectFilters1 .columns > div {
        flex: 1
    }
    .btn-assign-student {
        position: absolute;
        right: 15rem;
        margin-top: 0.25rem;
    }
    #selectFilters1.footer-content {
        position: absolute;
        height: 70px;
        width: 100%;
        left: 0;
        background: var(--navyColor);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
</style>
<article  style="width: 100%">
    <section>
        <div class="block-border">
            <div class="block-content form">
                <div>
                    <div>
                        <div class="block-content form student-filter1" id="selectFilters1" style="padding:0">
                            <h1 style="font-size: 1.375rem; padding: 0; margin-bottom: 1.5rem">Filter Students</h1>
                            <div>
                                <div id="AssignStudentNotifications1"></div>
                            </div>
                            <fieldset style="padding:0; margin:0">
                                <div class="columns">

                                    <div>
                                        <label>Last Name</label>
                                        <input type="text" id="LastName1" class="full-width" />

                                    </div>
                                    <div>
                                        <label>First Name</label>
                                        <input type="text" id="FirstName1" class="full-width" />
                                    </div>


                                    <div>
                                        <label>Student local code</label>
                                        <input type="text" id="StudentCode1" class="full-width" />
                                    </div>
                                </div>
                                <div class="group-btn-actions float-right ">
                                    <button id="clearFilter" class="btn-blue" type="button" style="margin-right: 1rem;" onclick="clearFilter1()">Clear Filter</button>
                                    <button id="filterSheets1" class="btn-accept" type="button" onclick="search1()">Apply Filters</button>
                                    <div class="clear"></div>

                                </div>
                            </fieldset>
                        </div>
                        <div class="block-content form" id="divStudentProgram1" style="padding:0; margin:0">
                            <h1 style="font-size: 1.375rem; padding: 0; margin-bottom: 1.5rem">
                                Filtered Students
                            </h1>
                            <div class="btn-assign-student">
                                <button id="btnAssignStudents" class="btn-blue" type="button" disabled="disabled">Assign Students</button>
                            </div>

                            <div class="no-margin last-child" style="margin:0">
                                <table id="studentProgramDataTable1" class="datatable table no-margin" width="100%">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="text-align:center"><input type="checkbox" id="chkAllStudent1" /></th>
                                            <th scope="col">
                                                <span class="column-sort">
                                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                                </span>
                                                Last Name
                                            </th>
                                            <th scope="col">
                                                <span class="column-sort">
                                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                                </span>
                                                First Name
                                            </th>
                                            <th scope="col">
                                                <span class="column-sort">
                                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                                </span>
                                                Code
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="height: 60px;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div style="clear: both"></div>
                        <div class="footer-content">
                            <button id="btnCloseUserClick" type="button" class="btn-accept classProgramButton" data-dialog="close" onclick="closeDialog()">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
</article>
<script type="text/javascript">
    var firstLoad = true;
    $(function () {
        LoadStudentToTable1();
        initializeDataTable($("#studentProgramDataTable1"));
        $.ajaxSetup({ cache: false });
    });

    function LoadStudentToTable1() {
        var options = {
            bServerSide: true,
            bDestroy: true,
            bProcessing: false,
            sAjaxSource: getAjaxSearch1(),
            cache: false,
            sServerMethod: "POST",
            fnServerParams: function (aoData) {
                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        if (item.value == null) {
                            item.value = '';
                        }


                        //encode search box, when user input text like <a>abc </a> will issue error
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''");
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }

                        break; //only searchbox
                    }
                }
            },
            iDisplayLength: 25,
            aaSorting: [[1, "asc"]],
            oLanguage: { "sEmptyTable": "No results found" },
            aoColumns: [
                { sType: 'int', sName: 'StudentID', bSearchable: true, bSortable: false, bVisible: true, sWidth: '75px', sClass: 'col-action' },
                { sType: 'string', sClass: 'break-word-class', sName: 'LastName', bSearchable: true, bSortable: true, bVisible: true, },
                { sType: 'string', sClass: 'break-word-class', sName: 'FirstName', bSearchable: true, bSortable: true, bVisible: true, },
                { sType: 'string', sName: 'Code', bSearchable: true, bSortable: true, bVisible: true, sWidth: '120px' }
                

            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibility1(aData[0]));
                $('td:eq(1)', nRow).html($('<div/>').text(aData[1]).html());//encode html
                $('td:eq(2)', nRow).html($('<div/>').text(aData[2]).html());//encode html
                $('td:eq(3)', nRow).html($('<div/>').text(aData[3]).html());//encode html
                return nRow;
            },
            fnPreDrawCallback: function () {
                $('#filterSheets1').attr("disabled", "disabled");
                ShowBlock($('#studentProgramDataTable1'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#divStudentProgram1').unblock();
                $('#filterSheets1').removeAttr("disabled");
                $('#studentProgramDataTable1').unblock();
                $('#studentProgramDataTable1').dataTable().fnSetFilteringDelay(500);
                firstLoad = false;

                $('#chkAllStudent1').removeAttr('checked');
                var checkedboxes = $('INPUT[name="chkStudent1"][type=checkbox]:checked');
                if (checkedboxes.length > 0) {
                    $('#btnAssignStudents').prop("disabled", false);
                    if ($('INPUT[name="chkStudent1"][type=checkbox]').length == checkedboxes.length) {
                        $('#chkAllStudent1').attr('checked', 'checked');
                    }
                }
                else {
                    $('#btnAssignStudents').prop("disabled", true);
                }
                portalV2SkinCheckBox()
                return true;

            },
            fnInitComplete: function () {
                tranformSearchInputDataTable('studentProgramDataTable1_filter')
            }
        };
        $("#studentProgramDataTable1").data("options", options);

    }
    function getAjaxSearch1() {
        var studentCode = $('#StudentCode1').val();
        studentCode = encodeURIComponent(htmlEncode(studentCode));
        var firstName = $('#FirstName1').val();
        firstName = encodeURIComponent(htmlEncode(firstName));
        var lastName = $('#LastName1').val();
        lastName = encodeURIComponent(htmlEncode(lastName));

        var url = '@Url.Action("GetUnassignedStudentsOfProgram")?programId=@ViewBag.ProgramId' + '&studentCode=' + studentCode + '&firstName=' + firstName+ '&lastName=' + lastName + '&firstLoad=' + firstLoad;
        return url;
    }
    function setIconVisibility1(studentId) {
        var checkboxString = '<input type="checkbox" name="chkStudent1" value="' + studentId + '"  />';
        return checkboxString;
    }
    function search1() {
        ui.studentProgramDataTable1.fnReloadAjax(getAjaxSearch1());
    }

    function clearFilter1() {
        $('.student-filter1 input').val('');
    }
    function closeDialog() {
        $('#AssignStudentDialog').dialog("close");
    }

    $('#btnAssignStudents').die('click');
    $('#btnAssignStudents').live("click", function (e) {
        var selectedStudentIds = getSelectedStudentIds1();
        ShowBlock($('#studentProgramDataTable1'), 'Assigning');
        $.ajax({
            url: '@Url.Action("AssignStudents", "ManageProgram")',
            data: {
                programId:@ViewBag.ProgramId,
                 selectedStudentIds: selectedStudentIds
            },
            type: 'post',
            cache: false
        }).done(function (response) {
            $('#studentProgramDataTable1').unblock();
            if (response.success == 'true') {
                LinkIt.success('#AssignStudentNotifications1', 'Student successfully assigned.');
                $('#studentProgramDataTable').dataTable().fnDraw();
                $('#studentProgramDataTable1').dataTable().fnDraw();
                $('#btnAssignStudents').prop("disabled", true);

            } else {
                LinkIt.error('#AssignStudentNotifications1', response.errorMessage);
            }

        }).error(function (request) {
            $('#studentProgramDataTable1').unblock();
        });


    });

    function getSelectedStudentIds1() {
        var studentIds = '';
        $('INPUT[name="chkStudent1"][type=checkbox]:checked').each(function (i, e) {
            studentIds += $(e).val() + ',';
        });
        return studentIds.substr(0, studentIds.length - 1);
    }

    $('INPUT[name="chkStudent1"][type=checkbox]').live("click", function (e) {
        if (this.checked) {
            $('#btnAssignStudents').prop("disabled", false);
            var checkboxes = $('INPUT[name="chkStudent1"][type=checkbox]');
            var checkall = true;
            for (var i = 0; i < checkboxes.length; i++) {
                if (!(checkboxes[i]).checked) {
                    $('#chkAllStudent1').removeAttr('checked');
                    checkall = false;
                    break;
                }
            }
            if (checkall) {
                $('#chkAllStudent1').attr('checked', 'checked');
            }
        }
        else {
            $('#chkAllStudent1').removeAttr('checked');
            var checkedboxes = $('INPUT[name="chkStudent1"][type=checkbox]:checked');
            if (checkedboxes.length > 0) {
                $('#btnAssignStudents').prop("disabled", false);
            }
            else {
                $('#btnAssignStudents').prop("disabled", true);
            }
        }
        portalV2SkinCheckBox()
    });
    $('#chkAllStudent1').die('click');
    $('#chkAllStudent1').live("click", function (e) {
        if (this.checked) {
            $('INPUT[name="chkStudent1"][type=checkbox]').attr('checked', 'checked');
            $('#btnAssignStudents').prop("disabled", false);
        }
        else {
            $('INPUT[name="chkStudent1"][type=checkbox]').removeAttr('checked');
            $('#btnAssignStudents').prop("disabled", true);
        }
        portalV2SkinCheckBox()
    });
</script>
