<style type="text/css">
    #dvCreateProgram fieldset {
        padding: 0;
        margin: 0
    }
    #dvCreateProgram .tag-editor-manage-program .placeholder {
        background:none
    }
    #dvCreateProgram .tag-editor-manage-program .placeholder > *{
        background: none
    }

    .footer-content {
        height: 70px;
        width: 100%;
        left: 0;
        background: var(--navyColor);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #divPredefinedTags.tag-editor-manage-program .tag-editor {
        background: none;
        padding: 0.4rem 0.65rem;
        border: 2px solid var(--selectBorder);
        border-radius: 0;
    }


        #divPredefinedTags.tag-editor-manage-program .tag-editor .tag-editor-tag{
            background-color: var(--blue3);
            font-size: 0.875rem;
            border-radius: 2px 0 0 2px;
            color: var(--navyColor);
        }

        #divPredefinedTags.tag-editor-manage-program .tag-editor div{
            padding: 0.25rem;
        }

        #divPredefinedTags.tag-editor-manage-program .tag-editor .tag-editor-delete{
            background-color: var(--blue3);
            line-height: 1 !important;
        }

    #divPredefinedTags.tag-editor-manage-program .tag-editor-tag input{
        padding: 0 !important;
        border: 0 !important;
    }

    #divPredefinedTags.tag-editor-manage-program .tag-editor li {
        display: flex;
        margin: 0;
        margin-bottom:0.125rem
    }

    #divPredefinedTags.tag-editor-manage-program .tag-editor .tag-editor-delete i:before {
        font-size: 0.875rem;
        color: var(--navyColor);
        content: "\f00d";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }
</style>
<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004'>
        <div id="dvCreateProgram" class='block-content bubbleSheetSelector form' style='z-index: 1004; padding:1.5rem'>
            <h1 style="font-size: 1.375rem; padding: 0; margin-bottom: 1.5rem">Create Program</h1>
            <ul style="display: none" id="error-messages-create" class="message error"></ul>
            <ul style="display: none" id="success-message-create" class="message success">
                <li>Program successfully created</li>
            </ul>
            <fieldset>
                <div class="columns mb-0">
                    <div style="width:100%">
                        <p>
                            <label>Name</label>
                            <input type="text" id="inputProgramName" class="full-width" />
                        </p>
                        <p>
                            <label>Visible To</label>

                            <select id="selectAccessLevelId" class="full-width">
                                <option value="-1">Select Access Level</option>
                                @if (ViewBag.IsPublisher)
                                {
                                    <option value="0">LinkIt Only</option>
                                    <option value="1">State Users</option>
                                }
                                @if (!ViewBag.IsSchoolAdmin)
                                {
                                    <option value="2">@LabelHelper.DistrictLabel Admins Only</option>
                                }
                                <option value="3">@LabelHelper.DistrictLabel and School Admins</option>

                                <option value="4">All Users</option>
                            </select>
                        </p>
                        <p>
                            <div class="tag-editor-manage-program" id="divPredefinedTags">
                                <label for="inputCode">Code</label>
                                <textarea id="inputCode"></textarea>
                            </div>
                        </p>
                    </div>
                    <input type="hidden" id="hdDistrictId" value="@ViewBag.DistrictId" />
                </div>
            </fieldset>
        </div>
    </div>
    <div class="footer-content">
        <button class="btn-cancel" type="button" id="btnCancelCreateProgram" onclick="cancelCreateProgram()">Cancel</button>
        <button class="btn-accept" type="button" id="btnCreateProgram" onclick="createProgram()">OK</button>
    </div>
</section>
<script type="text/javascript">
    $(function() {        
        @*$.get('@Url.Action("GetAccessLevelId", "ManageProgram")', function (items) {
            addDefaultOption($('#selectAccessLevelId'), "Access Level");
            addSelectListItems($('#selectAccessLevelId'), items);
        });*@            
    });

    $('#inputCode').tagEditor({
        animateDelete: 0,
        maxLength: 50,
        forceLowercase: false,
        placeholder: 'Enter code...'
    });
</script>
