<style>
    .ui-dialog-titlebar-close {
        display: none;
    }
    #AssignStudentDialog {
        width: 450px;
    }
    #AssignStudentDialog .footer-content {
        position: absolute;
        height: 70px;
        width: 100%;
        left: 0;
        background: var(--navyColor);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
</style>
<section class="grid_5">
    
    <div class="block-border" style="width: 390px;">
        
        <div class="block-content form" style="padding: 1.5rem;text-align:center;">
            <div style="margin-bottom:1.5rem; font-weight:700">
                @ViewBag.Message
            </div>
            <div class="footer-content">
                <button class="btn-accept" onclick="CustomAlertYesClickAssignStudent(this);">OK</button>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $("#AssignStudentDialog").parent().find('.ui-dialog-titlebar-close').hide();
    });
    
    function CustomAlertYesClickAssignStudent(item) {
        $("#AssignStudentDialog").dialog("close");
    }
</script>
