<modal-component v-bind:show.sync="isShowModalArchive" v-bind:width="400" class="modal-component-sgo" style="display: none;">
    <div slot="close"><span></span></div>
    <div slot="header"><span></span></div>
    <div slot="body">
        <div class="modal-component-sgo-container">
            <div v-if="sgoError != ''">
                <div class="u-text-center">
                    <p v-text="sgoError"></p>
                </div>
                <div class="u-text-center u-m-t-15">
                    <button v-on:click="closeModalArchive">OK</button>
                </div>
            </div>
            <div v-else>
                <div class="u-text-center">
                    <p>Are you sure you want to archive this SGO and hide it from the default view? (You can always unarchive it later.)</p>
                </div>
                <div class="u-text-center u-m-t-15">
                    <button v-on:click="acceptArchive" v-bind:disabled="sgoButton">Yes</button>
                    <button v-on:click="closeModalArchive" v-bind:disabled="sgoButton">No</button>
                </div>
            </div>
        </div>
    </div>
    <div slot="footer"></div>
</modal-component>
