<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004'>
        <div class='block-content' style='z-index: 1004'>
            <h1>
                Student Population Guidance
            </h1>
            <div style='z-index: 1004; text-align: left' class="sgo-instruction">
                    @Html.Raw(ViewBag.StudentIntervalStudent)
            </div>
            <br />
            <div style="margin-top: 20px; text-align: center;">
                <button type="button" id="btnNumberStudentInterval" onclick="closeNumberStudentInterval()">Close</button>
            </div>
        </div>
    </div>
</section>
