@model LinkIt.BubbleSheetPortal.Web.Models.SGO.SubmitForReviewGetModel
<section id="SubmitForReviewSection">
    <div class='block-border'>
        <div class='block-content'>
            <h1>Submit for Review and Approval</h1>
            <ul style="display: none" id="error-messages" class="message error"></ul>
            <ul style="display: none" id="success-message" class="message success">
                <li>Reviewer Change Success.</li>
            </ul>
            <div>
                <table class="table-sgo-new">
                    <tr>
                        <td>
                            <label>Select reviewer:</label>
                        </td>
                        <td>
                            <div class="sgo-datetime">
                                @Html.DropDownList("DistrictAdminID", Model.DistrictAdmins.Select(o => new SelectListItem
                               {
                                   Text = string.Format("{0}, {1}", o.LastName, o.FirstName),
                                   Value = o.UserID.ToString()
                               }))
                                @*<span class="icon-sgo-calendar"></span>*@
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="margin-top: 20px; text-align: center;">
                                <button id="idSubmitForReviewButton" type="button" onclick="SubmitReviewer(@Model.SGOID);">Submit</button>
                                <button id="idCancelSubmitForReview" type="button" onclick="CancelSubmitForReview();">Close</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
 