<modal-component v-bind:show.sync="isShowModalConfirmSubmit" v-bind:width="460" class="modal-component-teacher-print">
    <div slot="header">
    </div>
    <div slot="body">
        <div class="text-bold mb-3">
            You will not be able to make any changes after completing or submitting the TLDS until you recall or reopen it. Do you want to continue?
        </div>
    </div>
    <div slot="footer">
        <button v-on:click="cancelSubmit()">No</button>
        <button v-on:click="submitProfile()">Yes</button>
    </div>
</modal-component>
