<modal-component v-bind:show.sync="isShowModalConfirmReopen" v-bind:width="500" class="modal-component-teacher-print" style="display: none;">
    <div slot="header">        
    </div>
    <div slot="body" class="mb-4 text-center">
        <b>
            Do you want to reopen the statement for editing?
        </b>
    </div>
    <div slot="footer">
        <button v-on:click="cancelReopen()">No</button>
        <button v-on:click="reopenProfile()">Yes</button>
    </div>
</modal-component>
