<modal-component v-bind:show.sync="isShowModalSummaryReport" v-bind:width="360" class="modal-component-teacher-print" style="display: none;">
    <div slot="close"><span></span></div>
    <div slot="header">
        <div class="block-heading">
            <h1 class="title-large p-0 mb-4 is-active">Summary Report Print</h1>
        </div>
    </div>
    <div slot="body" class="mb-4">
        <b class="d-block">
            Click to generate a Summary Report. You can then download and print.
        </b>
        <b v-if="summaryReport.downloadUrl != ''" class="d-block mt-3">
            <a v-bind:href="summaryReport.downloadUrl" target="_blank" class="u-c-black"><u v-text="summaryReport.downloadText"></u></a>
        </b>
    </div>
    <div slot="footer">
        <button v-on:click="closeSummaryReport()">Close</button>
        <button v-on:click="generatePdfSummaryReport()" v-bind:disabled="summaryReport.btnCreateStatus">Create PDF</button>
    </div>
</modal-component>
<style>
    #portal-v2-containter .modal-component-teacher-print .modal-component-container {
        padding: 0 !important;
    }

    #portal-v2-containter .modal-component-teacher-print .modal-component-header {
        padding: 24px 24px 0 24px;
    }
</style>
