<div class="development-outcome">
    <div class="development-outcome-header">
        <h3 class="h3 mb-3">Outcome 4: Children are confident and involved learners</h3>
        <ul class="message error mb-3" v-if="msgErrorDevelopmentOutcome != ''">
            <li v-text="msgErrorDevelopmentOutcome"></li>
        </ul>
    </div>
    <div class="development-outcome-body p-0">
        <h5 class="h5 mb-2">Learning - Dispositions for learning</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rd-1" id="rd-1-1">
                <label for="rd-1-1">Often displays curiosity and enthusiasm for learning.</label>
            </li>
            <li>
                <input type="radio" name="rd-1" id="rd-1-2">
                <label for="rd-1-2">Usually displays curiosity and enthusiasm for learning.</label>
            </li>
            <li>
                <input type="radio" name="rd-1" id="rd-1-3">
                <label for="rd-1-3">Sometimes displays a curiosity and enthusiasm for learning but requires adult encouragement to engage in learning.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Learning - Dispositions for learning</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rd-2" id="rd-2-1">
                <label for="rd-2-1">Often engages in and leads a variety of rich and meaningful inquiry-based experiences.</label>
            </li>
            <li>
                <input type="radio" name="rd-2" id="rd-2-2">
                <label for="rd-2-2">Usually engages and sometimes leads a variety of rich and meaningful inquiry-based experiences.</label>
            </li>
            <li>
                <input type="radio" name="rd-2" id="rd-2-3">
                <label for="rd-2-3">Sometimes engages in a familiar inquiry-based experiences.</label>
            </li>
            <li>
                <input type="radio" name="rd-2" id="rd-2-4">
                <label for="rd-2-4">Requires some adult support and prompts to engage with inquiry-based experiences.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Learning - Dispositions for learning</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rd-3" id="rd-3-1">
                <label for="rd-3-1">Often follows and extends their own interests with deep engagement and concentration.</label>
            </li>
            <li>
                <input type="radio" name="rd-3" id="rd-3-2">
                <label for="rd-3-2">Usually able to follow and extend their own interests with deep engagement and concentration.</label>
            </li>
            <li>
                <input type="radio" name="rd-3" id="rd-3-3">
                <label for="rd-3-3">Currently requires adult prompts and encouragement to follow and extend their own interests with engagement and concentration.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Learning - Dispositions for learning</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rd-4" id="rd-4-1">
                <label for="rd-4-1">Is able to consider ways to express and describe thinking activity, including the expression of feelings about learning, both to others and self.</label>
            </li>
            <li>
                <input type="radio" name="rd-4" id="rd-4-2">
                <label for="rd-4-2">Is beginning to consider ways to express and describe thinking activity, including the expression of feelings about learning, both to others and self.</label>
            </li>
            <li>
                <input type="radio" name="rd-4" id="rd-4-3">
                <label for="rd-4-3">Currently requires adult prompts to consider ways to express and describe thinking activity, including the expression of feelings about learning, both to others and self.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Learning - Dispositions for learning</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rd-5" id="rd-5-1">
                <label for="rd-5-1">Is able to visualise, generate, and communicate design ideas through experiences such as describing, drawing and/or modelling.</label>
            </li>
            <li>
                <input type="radio" name="rd-5" id="rd-5-2">
                <label for="rd-5-2">Is beginning to develop the ability to visualise, generate, and communicate design ideas through experiences such as describing, drawing and/or modelling.</label>
            </li>
            <li>
                <input type="radio" name="rd-5" id="rd-5-3">
                <label for="rd-5-3">Requires adult prompts and encouragement to visualise, generate, and communicate design ideas through experiences such as describing, drawing and/or modelling.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Learning - Problem solving</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rd-6" id="rd-6-1">
                <label for="rd-6-1">Is able to apply a variety of thinking strategies to engage with situations and solve problems, and to adapt these strategies to new situations.</label>
            </li>
            <li>
                <input type="radio" name="rd-6" id="rd-6-2">
                <label for="rd-6-2">Is beginning to apply a variety of thinking strategies to engage with situations and solve problems, and to adapt these strategies to new situations.</label>
            </li>
            <li>
                <input type="radio" name="rd-6" id="rd-6-3">
                <label for="rd-6-3">Requires adult prompts to apply a variety of thinking strategies to engage with situations and solve problems, and adapt these strategies to new situations.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Learning - Problem solving</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rd-7" id="rd-7-1">
                <label for="rd-7-1">Is able to independently sort and classify familiar objects and explain the basis for these classifications, and copy, continue and create patterns with objects and drawings. </label>
            </li>
            <li>
                <input type="radio" name="rd-7" id="rd-7-2">
                <label for="rd-7-2">Is beginning to sort and classify familiar objects, and copy, continue and create patterns with objects and drawings. </label>
            </li>
            <li>
                <input type="radio" name="rd-7" id="rd-7-3">
                <label for="rd-7-3">Currently requires adult prompts to sort and classify familiar objects and copy, continue and create patterns with objects and drawings.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Learning - Problem solving</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rd-8" id="rd-8-1">
                <label for="rd-8-1">Recognises the importance of repetition of a process in solving problems.</label>
            </li>
            <li>
                <input type="radio" name="rd-8" id="rd-8-2">
                <label for="rd-8-2">Is beginning to recognise the importance of repetition of a process in solving problems.</label>
            </li>
            <li>
                <input type="radio" name="rd-8" id="rd-8-3">
                <label for="rd-8-3">Requires adult prompts to recognise the importance of repetition of a process in solving problems.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Learning - Problem solving</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rd-9" id="rd-9-1">
                <label for="rd-9-1">Is able to draw on memory of a sequence to complete a task.</label>
            </li>
            <li>
                <input type="radio" name="rd-9" id="rd-9-2">
                <label for="rd-9-2">Is beginning to draw on memory of a sequence to complete a task.</label>
            </li>
            <li>
                <input type="radio" name="rd-9" id="rd-9-3">
                <label for="rd-9-3">With adult prompts is beginning to draw on memory of a sequence to complete a task.</label>
            </li>
            <li>
                <input type="radio" name="rd-9" id="rd-9-4">
                <label for="rd-9-4">Relies on adults to use memory of a sequence to complete a task.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Learning - Problem solving</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rd-10" id="rd-10-1">
                <label for="rd-10-1">Is able to connect number names, numerals and quantities, including zero and beyond 10.</label>
            </li>
            <li>
                <input type="radio" name="rd-10" id="rd-10-2">
                <label for="rd-10-2">Is beginning to connect number names, numerals and quantities, including zero, up to 10.</label>
            </li>
            <li>
                <input type="radio" name="rd-10" id="rd-10-3">
                <label for="rd-10-3">Is able to connect number names, numerals and quantities, including zero, up to 5.</label>
            </li>
            <li>
                <input type="radio" name="rd-10" id="rd-10-4">
                <label for="rd-10-4">Requires adult prompts to connect number names, numerals and quantities up to 5.</label>
            </li>
            <li>
                <input type="radio" name="rd-10" id="rd-10-5">
                <label for="rd-10-5">Requires adult prompts and reminders to connect number names, up to 5.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Learning - Problem solving</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rd-11" id="rd-11-1">
                <label for="rd-11-1">Is able to use direct and indirect comparisons to decide which is longer, heavier or holds more, and explain reasoning in everyday language. </label>
            </li>
            <li>
                <input type="radio" name="rd-11" id="rd-11-2">
                <label for="rd-11-2">Is beginning to use direct and indirect comparisons to decide which is longer, heavier or holds more, and explain reasoning in everyday language. </label>
            </li>
            <li>
                <input type="radio" name="rd-11" id="rd-11-3">
                <label for="rd-11-3">Is beginning to be able to use direct and indirect comparisons to decide which is longer, heavier or holds more, and explain reasoning in everyday language.</label>
            </li>
            <li>
                <input type="radio" name="rd-11" id="rd-11-4">
                <label for="rd-11-4">Requires adult guidance to make direct comparisons to decide which is longer, heavier or holds more, and explain reasoning in everyday language.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Learning - Problem solving</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rd-12" id="rd-12-1">
                <label for="rd-12-1">Is able to compare and order several shapes and objects based on length, area, volume and capacity.</label>
            </li>
            <li>
                <input type="radio" name="rd-12" id="rd-12-2">
                <label for="rd-12-2">Is beginning to compare and order several shapes and objects based on length, area, volume and capacity.</label>
            </li>
            <li>
                <input type="radio" name="rd-12" id="rd-12-3">
                <label for="rd-12-3">Is beginning to be able to compare and order several familiar shapes and objects based on length, area, volume and capacity.</label>
            </li>
            <li>
                <input type="radio" name="rd-12" id="rd-12-4">
                <label for="rd-12-4">Requires adult prompts to compare and order several shapes and objects based on length, area, volume and capacity.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Learning - Problem solving</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rd-13" id="rd-13-1">
                <label for="rd-13-1">Often participates in guided investigations and/or play, including making predictions and observations using the senses, to explore, co-construct and answer questions.</label>
            </li>
            <li>
                <input type="radio" name="rd-13" id="rd-13-2">
                <label for="rd-13-2">Sometimes participates in guided investigations and/or play, including making predictions and observations using the senses, to explore, co-construct and answer questions.</label>
            </li>
            <li>
                <input type="radio" name="rd-13" id="rd-13-3">
                <label for="rd-13-3">Relies on adults to prompt participation in guided investigations and/or play, including beginning to make simple predictions and observations using the senses, to explore, co-construct and answer questions.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Learning - Transfer or adapt learning</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rd-14" id="rd-14-1">
                <label for="rd-14-1">Is confidently able to accurately mirror, repeat and practise the actions of others, either immediately or later.</label>
            </li>
            <li>
                <input type="radio" name="rd-14" id="rd-14-2">
                <label for="rd-14-2">Is beginning to be able to mirror, repeat and practise the actions of others, either immediately or later.</label>
            </li>
            <li>
                <input type="radio" name="rd-14" id="rd-14-3">
                <label for="rd-14-3">Is beginning to immediately mirror, repeat and practise the actions of others, and requires some reminder prompts for later recall.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Learning - Transfer or adapt learning</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rd-15" id="rd-15-1">
                <label for="rd-15-1">Often demonstrates the ability to try out strategies that were effective to solve problems in one situation, understanding they might work in a new context.</label>
            </li>
            <li>
                <input type="radio" name="rd-15" id="rd-15-2">
                <label for="rd-15-2">Sometimes demonstrates the ability to try out strategies that were effective to solve problems in one situation, understanding they might work in a new context.</label>
            </li>
            <li>
                <input type="radio" name="rd-15" id="rd-15-3">
                <label for="rd-15-3">With adult prompts is able to consider how some strategies that were effective to solve problems in one situation might be used in a new context.</label>
            </li>
            <li>
                <input type="radio" name="rd-15" id="rd-15-4">
                <label for="rd-15-4">Relies on adults to consider how a strategy that was effective to solve a problem in one situation might be used in a new context.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Learning - Transfer or adapt learning</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rd-16" id="rd-16-1">
                <label for="rd-16-1">Is able to explore the purpose and function of a range of familiar tools, media, sounds and graphics (including communications technologies).</label>
            </li>
            <li>
                <input type="radio" name="rd-16" id="rd-16-2">
                <label for="rd-16-2">Is beginning to explore the purpose and function of a range of familiar tools, media, sounds and graphics (including communications technologies).</label>
            </li>
            <li>
                <input type="radio" name="rd-16" id="rd-16-3">
                <label for="rd-16-3">With support is beginning to explore the purpose and function of a range of tools, media, sounds and graphics (including communications technologies).</label>
            </li>
            <li>
                <input type="radio" name="rd-16" id="rd-16-4">
                <label for="rd-16-4">Has little exposure or understanding of tools, media, sounds and graphics (including communications technologies).</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Learning - Transfer or adapt learning</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rd-17" id="rd-17-1">
                <label for="rd-17-1">Is able to explore ideas and theories using imagination, creativity and play.</label>
            </li>
            <li>
                <input type="radio" name="rd-17" id="rd-17-2">
                <label for="rd-17-2">Is beginning to explore ideas and theories using imagination, creativity and play.</label>
            </li>
            <li>
                <input type="radio" name="rd-17" id="rd-17-3">
                <label for="rd-17-3">Requires adult support to prompt ideas and theories using imagination, creativity and play.</label>
            </li>
        </ul>
    </div>
</div>
