<style>
    #uploadifive-filePdfSchoolAdmin input {
        cursor: pointer !important;
    }

    .ui-radio-group-two .ui-radio-group-item {
        float: none;
    }

    .ckUpDownNumber-custom .ckUDNumber {
        font-size: 12px !important;
        width: 18px;
        height: 50%;
    }

    #uploadifive-filePdfSchoolAdmin {
        float: none
    }

    #portal-v2-containter #modal-upload-file-school-admin .modal-component-container {
        padding: 0 !important;
    }

    #portal-v2-containter #modal-upload-file-school-admin .modal-component-close {
        min-height: auto;
        height: 14px;
        top: 28px;
        right: 24px;
        width: 18px;
        z-index: 2;
    }

    #portal-v2-containter #modal-upload-file-school-admin .modal-component-header {
        padding: 0;
    }

    #portal-v2-containter #modal-upload-file-school-admin .modal-component-body {
        padding: 24px;
    }

    #portal-v2-containter .ui-datepicker-month {
        text-align: center;
        margin-right: 2px !important;
        border: 1px solid var(--grey);
    }

    #portal-v2-containter .ui-datepicker-year {
        text-align: center;
        border: 1px solid var(--grey);
    }

    .ui-radio-group-two .ui-radio-group-item input[type="radio"] + label {
        background: #eee !important;
        color: var(--lightBlue) !important;
        font-weight: 700 !important;
        border-radius: 0 !important;
        border: 0 !important;
    }

    .ui-radio-group-two.group-gender .ui-radio-group-item:not(:last-child) input[type="radio"] + label {
        border-right: 1px solid var(--blue6) !important;
    }

    .ui-radio-group-item input[type="radio"]:checked + label, .ui-radio-group-item input[type="radio"]:checked + label:last-child, .ui-checkbox-item input[type="checkbox"]:checked + label {
        background: var(--red) !important;
        border-right: var(--red);
        color: var(--white) !important;
        font-weight: 700 !important;
        border-radius: 0;
        border: 0 !important;
    }

    .ui-radio-group-two.group-gender .ui-radio-group-item:not(:last-child) input[type="radio"]:checked + label {
        border-right: 0 !important;
    }

    #portal-v2-containter .ui-datepicker .ui-state-hover {
        background-color: unset !important;
    }

    .modal-component#modal-upload-file-school-admin {
        display: block;
    }

    .modal-component#modal-upload-file-school-admin .modal-component-wrapper {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 100px;
    }

    .icon-sgo-delete {
        background: none;
    }

    #portal-v2-containter .alert-error {
        border-radius: 0;
    }
</style>
<script src="@Url.Content("~/Scripts/ckUpDownNumber.js")" type="text/javascript"></script>
<script>
    $(function () {
        $("#selectEnrolmentYear").ckUpDownNumber({ width: 170, height: 'auto' });
        $('.btn-check-close').click(function () {
            $('html').removeClass('overflow-hidden');
            $('.modal-upload-file-school-admin').removeClass('overflow-auto');
        })
    });
</script>
<modal-component v-bind:show.sync="isShowModalUploadStatement" v-bind:width="500" id="modal-upload-file-school-admin" class="modal-upload-file-school-admin" style="display: none;">
    <div slot="close">
        <a v-on:click="closeModalUploadPdf" class="modal-component-close btn-check-close">Close</a>
    </div>
    <div slot="header"></div>
    <div slot="body">
        <div class="form">
            <div>
                <h1 class="title-large mb-4">Upload a PDF</h1>
                <div class="mb-3">
                    <label>First Name</label>
                    <input type="text" class="w-100" v-model="uploadData.firstName">
                </div>
                <div class="mb-3">
                    <label>Last Name</label>
                    <input type="text" class="w-100" v-model="uploadData.lastName">
                </div>
                <div class="mb-3">
                    <label>Date Of Birth</label>
                    <input id="txtDOB" type="text" class="w-100" v-model="uploadData.dob" readonly="readonly">
                </div>
                <div class="d-flex align-items-center mb-3">
                    <label class="m-0 me-3">Gender</label>
                    <div class="d-flex ui-radio-group-two group-gender">
                        <div class="ui-radio-group-item" v-for="gender in genders">
                            <input class="position-absolute" type="radio" name="gender" v-bind:value="gender.Id" v-bind:id="gender.Id" v-model="uploadData.gender">
                            <label v-bind:for="gender.Id">{{ gender.Name }}</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label>Name of ECEC Service</label>
                    <input type="text" class="w-100" v-model="uploadData.service">
                </div>
                <div class="d-flex align-items-center mb-3">
                    <label class="m-0 me-3">Has section 1.2 been completed</label>
                    <div class="d-flex ui-radio-group-two">
                        <div class="ui-radio-group-item" v-for="sc in sectionCompleted">
                            <input class="position-absolute" type="radio" name="sectionCompleted" v-bind:value="sc.value" v-bind:id="sc.id" v-model="uploadData.isCompleted">
                            <label v-bind:for="sc.id">{{ sc.text }}</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="u-inline-block">Enrolment Year</label>
                    <input type="text" style="width:156px" v-model="uploadData.enrolmentYear" v-on:keydown.prevent id="selectEnrolmentYear"/>
                </div>
                <div>
                    <label>Upload a PDF</label>
                    <div class="relative ">
                        <input id="filePdfSchoolAdmin" name="filePdfSchoolAdmin" type="file" title="Upload a PDF" class="u-cursor-pointer">
                    </div>        
                    <div v-if="uploadData.fileName != ''" class="ui-upload-file d-flex justify-content-between mt-3">
                        <a v-bind:href="uploadData.uploadFileUrl" target="_blank" style="width: 90%;">
                            <span v-text="uploadData.fileName" style="word-wrap: break-word"></span>
                        </a>
                        <i class="custom-icon fa-solid fa-circle-xmark icon-red icon-sgo-delete ps-3 flex-shrink-0 text-end" style="cursor: pointer; width: 10%;" v-on:click="removePdfFile()"></i>
                    </div>
                    <div v-if="errorFileUploadMsg != ''" class="alert alert-error mt-3">
                        <span>{{errorFileUploadMsg}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div slot="footer">
        <div>
            <button v-bind:disabled="isDisable" v-on:click="saveProfileByUploadPdf()" class="btn-check-close">Save</button>
        </div>
    </div>
</modal-component>
