<div class="development-outcome">
    <div class="development-outcome-header">
        <h3 class="h3 mb-3">Outcome 1: Children have a strong sense of identity</h3>
        <ul class="message error mb-3" v-if="msgErrorDevelopmentOutcome != ''">
            <li v-text="msgErrorDevelopmentOutcome"></li>
        </ul>
    </div>
    <div class="development-outcome-body p-0">
        <h5 class="h5 mb-2">Identity - Attachment</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="ra-1" id="ra-1-1">
                <label for="ra-1-1">Is able to confidently explore and engage with familiar and new social and physical environments.</label>
            </li>
            <li>
                <input type="radio" name="ra-1" id="ra-1-2">
                <label for="ra-1-2">Is able to confidently explore and engage with familiar environments, however requires some support to explore and engage with new social and physical environments.</label>
            </li>
            <li>
                <input type="radio" name="ra-1" id="ra-1-3">
                <label for="ra-1-3">Requires adult support to explore and engage and develop confidence with familiar and new social and physical environments.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Identity - Attachment</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="ra-2" id="ra-2-1">
                <label for="ra-2-1">Has the skills required to include others and make friends with peers, teachers and other trusted adults.</label>
            </li>
            <li>
                <input type="radio" name="ra-2" id="ra-2-2">
                <label for="ra-2-2">With support is able to include others and make friends with peers, teachers and other adults.</label>
            </li>
            <li>
                <input type="radio" name="ra-2" id="ra-2-3">
                <label for="ra-2-3">With support is able to practice the skills required to include others and make friends with peers, teachers and other adults.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Identity - Attachment</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="ra-3" id="ra-3-1">
                <label for="ra-3-1">Is able to appropriately communicate their needs for comfort and assistance.</label>
            </li>
            <li>
                <input type="radio" name="ra-3" id="ra-3-2">
                <label for="ra-3-2">Sometimes requires adult support to communicate their needs for comfort and assistance.</label>
            </li>
            <li>
                <input type="radio" name="ra-3" id="ra-3-3">
                <label for="ra-3-3">Often requires support to appropriately communicate their needs for comfort and assistance.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Identity - Culture</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="ra-4" id="ra-4-1">
                <label for="ra-4-1">Is able to confidently share aspects of their culture with other children and educators.</label>
            </li>
            <li>
                <input type="radio" name="ra-4" id="ra-4-2">
                <label for="ra-4-2">With adult prompts and encouragement is able to share aspects of their culture with other children and educators.</label>
            </li>
            <li>
                <input type="radio" name="ra-4" id="ra-4-3">
                <label for="ra-4-3">Requires adult support to be able to identify and share aspects of their culture.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Identity - Emotions</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="ra-5" id="ra-5-1">
                <label for="ra-5-1">Is able to express a wide range of emotions, thoughts and views constructively.</label>
            </li>
            <li>
                <input type="radio" name="ra-5" id="ra-5-2">
                <label for="ra-5-2">With support is able to express a range of emotions, thoughts and views constructively.</label>
            </li>
            <li>
                <input type="radio" name="ra-5" id="ra-5-3">
                <label for="ra-5-3">Requires support to express emotions, thoughts and views constructively.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Identity - Emotions</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="ra-6" id="ra-6-1">
                <label for="ra-6-1">Is able to recognise that problems or challenges are a normal part of life and that there are appropriate actions that can be undertaken to manage most problems.</label>
            </li>
            <li>
                <input type="radio" name="ra-6" id="ra-6-2">
                <label for="ra-6-2">With support is able to recognise that problems or challenges are a normal part of life and that there are appropriate actions that can be undertaken to manage most problems.</label>
            </li>
            <li>
                <input type="radio" name="ra-6" id="ra-6-3">
                <label for="ra-6-3">Requires additional support to be able to recognise that problems or challenges are a normal part of life and that there are appropriate actions that can be undertaken to manage most problems.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Identity - Persistence/Resilience</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="ra-7" id="ra-7-1">
                <label for="ra-7-1">Is able to persist when faced with most challenges and when first attempts are not successful.</label>
            </li>
            <li>
                <input type="radio" name="ra-7" id="ra-7-2">
                <label for="ra-7-2">With support is able to persist when faced with most challenges and when first attempts are not successful.</label>
            </li>
            <li>
                <input type="radio" name="ra-7" id="ra-7-3">
                <label for="ra-7-3">Requires additional support to persist when faced with most challenges and when first attempts are not successful.</label>
            </li>
        </ul>
    </div>
</div>

