<modal-component v-bind:show.sync="isShowModalBatchPrint" v-bind:width="360" class="modal-component-teacher-print" style="display: none;">
    <div slot="close"><span></span></div>
    <div slot="header">
        <div class="block-heading">
            <h1 class="title-large p-0 mb-4 is-active is-active">Download PDF</h1>
        </div>
    </div>
    <div  slot="body" class="mb-4">
        <div v-if="batchPrint.isNoSelected">
            <div>
                <b v-text="batchPrint.content"></b>
            </div>
        </div>
        <div v-else>
            <div >
                <b class="mb-3" v-text="batchPrint.content"></b>
                <b v-if="batchPrint.downloadUrl != ''">
                    <a v-bind:href="batchPrint.downloadUrl" target="_blank" class="u-c-black"><u v-text="batchPrint.downloadText"></u></a>
                </b>
            </div>
        </div>
    </div>
    <div slot="footer">
        <div v-if="batchPrint.isNoSelected">
            <button v-on:click="closeBatchPrint()">OK</button>
        </div>
        <template v-else>
            <button v-on:click="closeBatchPrint()">Close</button>
            <button v-on:click="generatePdfBatchPrint()" v-bind:disabled="batchPrint.btnCreateStatus">Create PDF</button>
        </template>
    </div>
</modal-component>
<style>
    #portal-v2-containter .modal-component-teacher-print .modal-component-container {
        padding: 0 !important;
    }

    #portal-v2-containter .modal-component-teacher-print .modal-component-header {
        padding: 24px 24px 0 24px;
    }
</style>
