<modal-component v-bind:show.sync="isShowTrainingMessageModal" v-bind:width="460" class="modal-component-teacher-print">
    <div slot="header">
    </div>
    <div slot="body">
        <div class="text-bold mb-3">
            This TLDS has not been submitted as the TLDS manager is set to training mode.
        </div>
    </div>
    <div slot="footer">
        <button v-on:click="closeMessage()">Close</button>
    </div>
</modal-component>
