<div class="development-outcome">
    <div class="development-outcome-header">
        <h3 class="h3 mb-3">Outcome 3: Children have a strong sense of wellbeing</h3>
        <ul class="message error mb-3" v-if="msgErrorDevelopmentOutcome != ''">
            <li v-text="msgErrorDevelopmentOutcome"></li>
        </ul>
    </div>
    <div class="development-outcome-body p-0">
        <h5 class="h5 mb-2">Wellbeing - Social /emotional and spiritual wellbeing</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rc-1" id="rc-1-1">
                <label for="rc-1-1">Remains accessible to others at times of distress, confusion and frustration.</label>
            </li>
            <li>
                <input type="radio" name="rc-1" id="rc-1-2">
                <label for="rc-1-2">Requires some assistance to remain accessible to others at times of distress, confusion and frustration.</label>
            </li>
            <li>
                <input type="radio" name="rc-1" id="rc-1-3">
                <label for="rc-1-3">Requires considerable assistance to remain accessible to others at times of distress, confusion and frustration.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Wellbeing - Social /emotional and spiritual wellbeing</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rc-2" id="rc-2-1">
                <label for="rc-2-1">Often shares humour, happiness and satisfaction in familiar and new situations.</label>
            </li>
            <li>
                <input type="radio" name="rc-2" id="rc-2-2">
                <label for="rc-2-2">Sometimes shares humour, happiness and satisfaction in familiar situations.</label>
            </li>
            <li>
                <input type="radio" name="rc-2" id="rc-2-3">
                <label for="rc-2-3">Rarely shares humour, happiness and satisfaction.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Wellbeing - Social /emotional and spiritual wellbeing</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rc-3" id="rc-3-1">
                <label for="rc-3-1">Is mostly cooperative and able to work collaboratively with others.</label>
            </li>
            <li>
                <input type="radio" name="rc-3" id="rc-3-2">
                <label for="rc-3-2">Is increasingly cooperative and usually able to work collaboratively with others.</label>
            </li>
            <li>
                <input type="radio" name="rc-3" id="rc-3-3">
                <label for="rc-3-3">Currently requires adult assistance to cooperate and work collaboratively with others.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Wellbeing - Social /emotional and spiritual wellbeing</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rc-4" id="rc-4-1">
                <label for="rc-4-1">Is usually able to show an understanding, and to self-regulate their behaviour and manage their emotions in ways that reflect the feelings and needs of others.</label>
            </li>
            <li>
                <input type="radio" name="rc-4" id="rc-4-2">
                <label for="rc-4-2">Sometimes requires support to understand, self-regulate their behaviour and manage their emotions in ways that reflect the feelings and needs of others.</label>
            </li>
            <li>
                <input type="radio" name="rc-4" id="rc-4-3">
                <label for="rc-4-3">Requires adult prompts and guidance to understand, self-regulate behaviour and manage their emotions in ways that reflect the feelings and needs of others.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Wellbeing - Health and physical wellbeing</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rc-5" id="rc-5-1">
                <label for="rc-5-1">Is usually able to recognise and communicate their bodily needs (for example thirst, hunger, rest, comfort, physical activity) in familiar and new situations.</label>
            </li>
            <li>
                <input type="radio" name="rc-5" id="rc-5-2">
                <label for="rc-5-2">Is able to recognise and communicate their bodily needs (for example thirst, hunger, rest, comfort, physical activity) in familiar situations, however may require adult prompts and support in new situations.</label>
            </li>
            <li>
                <input type="radio" name="rc-5" id="rc-5-3">
                <label for="rc-5-3">Currently relies on adult support to adequately recognise and communicate their bodily needs (for example thirst, hunger, rest, comfort, physical activity).</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Wellbeing - Health and physical wellbeing</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rc-6" id="rc-6-1">
                <label for="rc-6-1">Is able to demonstrate spatial awareness and orient themselves, moving around and through their environments confidently and safely.</label>
            </li>
            <li>
                <input type="radio" name="rc-6" id="rc-6-2">
                <label for="rc-6-2">With support and some adult prompts is able to orient themselves, moving around and through their environments confidently and safely.</label>
            </li>
            <li>
                <input type="radio" name="rc-6" id="rc-6-3">
                <label for="rc-6-3">Requires adult support to be able to orient themselves, and to move around and through their environments safely.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Wellbeing - Health and physical wellbeing</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rc-7" id="rc-7-1">
                <label for="rc-7-1">Is able to manipulate equipment and manage age appropriate tools with competence and skill.</label>
            </li>
            <li>
                <input type="radio" name="rc-7" id="rc-7-2">
                <label for="rc-7-2">With support is able to manipulate familiar equipment and manage age appropriate familiar tools with increasing competence and skill.</label>
            </li>
            <li>
                <input type="radio" name="rc-7" id="rc-7-3">
                <label for="rc-7-3">Currently requires adult encouragement or support to manipulate familiar equipment and manage age appropriate tools.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Wellbeing - Health and physical wellbeing</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rc-8" id="rc-8-1">
                <label for="rc-8-1">Has an increasing awareness of healthy lifestyles and good nutrition.</label>
            </li>
            <li>
                <input type="radio" name="rc-8" id="rc-8-2">
                <label for="rc-8-2">Is developing an increasing awareness of healthy lifestyles and good nutrition.</label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Wellbeing - Health and physical wellbeing</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rc-9" id="rc-9-1">
                <label for="rc-9-1">Is independent with regard to personal hygiene/toileting in familiar and new settings.</label>
            </li>
            <li>
                <input type="radio" name="rc-9" id="rc-9-2">
                <label for="rc-9-2">Is usually independent with regard to personal hygiene/toileting in familiar settings but may require some assistance/ prompts in new settings.</label>
            </li>
            <li>
                <input type="radio" name="rc-9" id="rc-9-3">
                <label for="rc-9-3">Is developing independence and competence in regard to personal hygiene/toileting however requires support and prompts. </label>
            </li>
        </ul>
        <h5 class="h5 mb-2">Wellbeing - Health and physical wellbeing</h5>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rc-10" id="rc-10-1">
                <label for="rc-10-1">Shows enthusiasm for participating in physical play and is able to negotiate play spaces to ensure the safety and wellbeing of themselves and others.</label>
            </li>
            <li>
                <input type="radio" name="rc-10" id="rc-10-2">
                <label for="rc-10-2">Participates in physical play and negotiates play spaces usually with regard for the safety and wellbeing of themselves and others.</label>
            </li>
            <li>
                <input type="radio" name="rc-10" id="rc-10-3">
                <label for="rc-10-3">Requires support to participate in physical play and reminders to negotiate play spaces with regard for the safety and wellbeing of themselves and others.</label>
            </li>
        </ul>
    </div>
</div>
