
<style>
    .ui-widget-header {
        border: 0px solid var(--grey0) !important;
        background: transparent !important;
        position: relative;
        top: 34px;
    }

    .ui-dialog {
        background: transparent;
        border: 0;
    }

     .ui-dialog .ui-dialog-titlebar-close {
            position: absolute;
            right: 7px;
            top: -8px;
        }

    .ui-widget-header .ui-icon {
        background-image: url("/Content/themes/base/images/fancy_close.png");
    }

    .ui-icon {
        width: 40px;
        height: 40px;
    }

    .ui-icon-closethick {
        background-position: 2px 2px;
    }

    .ui-widget-header .ui-state-hover {
        border: 0;
        background: transparent !important;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        width: 30px;
        height: 42px;
    }

    .sticky {
        padding-left: 500px;
    }

    [aria-labelledby=ui-dialog-title-PopupTLDSReject] div {
        z-index: auto !important;
    }

    .custom-reason-popup section {
        width: 100%;
        margin: 0;
    }

    .custom-reason-popup .block-border {
        margin: auto;
    }
</style>
<section class="m-0">
    <div class="block-border" id="divRejectProfile">
        <div class="block-content form bubbleSheetSelector p-4">
            <h1 class="title-large ps-0">Return Statement</h1>
            <ul id="reject-profile-success-message" class="message success u-m-t-20" style="display: none">
                <li></li>
            </ul>
            <ul id="reject-profile-success-error-message" class="message error u-m-t-20" style="display: none">
                <li> </li>
            </ul>
            <div class="mb-3">By clicking return you will send this TLDS back to the Early Chilhdood Service and will no longer be able to access it.</div>
            <div>
                <div class="d-flex mb-3">
                    <div class="flex-shrink-0 me-2" style="width: 35%">Submitted Student:</div>
                    <div>@ViewBag.SubmittedStudent</div>
                </div>
                <div class="d-flex">
                    <div class="flex-shrink-0 me-2" style="width: 35%">Enter reason:</div>
                    <div>
                        <textarea id="Reason" cols="35" rows="5" class="w-100"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-component-footer">
            <div slot="footer">
                <button type="button" id="btnCancelRejectProfile" onclick="CloseRejectProfile()">Cancel</button>
                <button type="button" id="btnRejectProfile" onclick="rejectProfile(@ViewBag.ProfileId)">Return</button>
            </div>
        </div>
    </div>
</section>
<script>

    $(function () {
    });
    function rejectProfile(profileId) {
        var reason = $('#Reason').val();
        if (reason.trim().length == 0) {
            CustomAlert('Please enter reason.');
            $('.ui-dialog').last().addClass('custom-reason-popup')
            return;
        }
        ShowBlock($('#divRejectProfile'), 'Returning');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("RejectProfile", "TLDSManage")',
            data: { 'profileId': profileId, 'reason': encodeURIComponent(reason) },
            dataType: 'json',
            traditional: true,
            success: function (data) {

                if (data.Success) {
                    $('#reject-profile-success-message').show();

                    $('#reject-profile-success-message').html('<li>Profile has been returned.</li>');
                    $('#divRejectProfile').unblock();
                    $('#btnRejectProfile').prop('disabled', true);
                    setTimeout(function () {
                        $('#reject-profile-success-message').hide();
                        CloseRejectProfile();
                    }, 3000);

                } else {
                    $('#reject-profile-error-message').show();
                    $('#reject-profile-error-message').html('<li>' + data.error + '</li>');
                    $('#divRejectProfile').unblock();
                }
            },
            error: function () {
                $('#TLDSSchoolAdminHome').unblock();
            }
        });
    }
    function CloseRejectProfile() {
        $("#PopupTLDSReject").dialog("close");
    };

</script>
