@model LinkIt.BubbleSheetPortal.Web.ViewModels.TDLS.TDLSProfileViewModel
<section class="mb-0">
    <div class='block-border'>
        <div class='block-content py-3 px-4' id="divTLDSPrintConfirm">
            <h3 class="h3 mb-2">TLDS Draft form Print</h3>
            <div class="text-bold mb-2">
                <p class="text-bold mb-0">
                    Click to create Draft PDF form?
                </p>
                <p class="text-bold mt-2">
                    <a id="idlinkSGOFilePrint" target="_blank" style="display: none; text-decoration: underline !important;" href="#">
                        Click here to open PDF file
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="modal-component-footer">
        <div slot="footer">
            <button id="idbtnCloseSGOPrintPopup" type="button" onclick="closeTLDSPrintPopup()">Close</button>
            <input id="hdfGenericPDFLoaded" type="hidden" value="0" />
            <button id="idbtnSGOSavePDFFile" type="button" onclick="printPDFBlankForm(@Model.ProfileId)">Create PDF</button>
        </div>
    </div>
</section>

