<section class="m-0">
    <div>
        <div class='block-content p-4' id="divTLDSPrintConfirm">
            <h1 class="title-large p-0 mb-4">Summary Report Print</h1>
            <div>
                <b class="d-block">
                    Click to generate a Summary Report. You can then download and print.
                </b>
                <b class="d-block mt-3">
                    <a id="idlinkSGOFilePrint" target="_blank" style="display: none;" href="#">
                        <u>
                            Click here to download file.
                        </u>
                    </a>
                </b>
            </div>
        </div>

        <div class="modal-component-footer">
            <div slot="footer">
                <button id="idbtnCloseSGOPrintPopup" type="button" onclick="closeTLDSPrintPopup()">Close</button>
                <button class="btn-red" id="idbtnSGOSavePDFFile" type="button" onclick="printSummaryReportTLDS()">Create PDF</button>
                <input id="hdfGenericPDFLoaded" type="hidden" value="0" />
            </div>
        </div>
    </div>
</section>
<style>
    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-idPopupTLDSPrintConfirm"] {
        padding: 0;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-idPopupTLDSPrintConfirm"] .ui-dialog-content {
        padding: 0;
    }
</style>
