@model LinkIt.BubbleSheetPortal.Web.ViewModels.TDLS.TDLSProfileViewModel
<section class="m-0">
    <div>
        <div class='block-content px-4 py-3' id="divTLDSPrintConfirm">
            <h3 class="h3 mb-2">Download PDF</h3>
            <div >
                <b>
                    Click to generate a PDF of this TLDS. You can then download and print.
                </b>
                <b class="mt-3 d-block">
                    <a id="idlinkSGOFilePrint" target="_blank" style="display: none;" href="#">
                        <u>
                            Click here to download file.
                        </u>
                    </a>
                </b>
            </div>
        </div>

        <div class="modal-component-footer">
            <div slot="footer">
                <button id="idbtnCloseSGOPrintPopup" type="button" onclick="closeTLDSPrintPopup()">Close</button>
                <button class="btn-red" id="idbtnSGOSavePDFFile" type="button" onclick="printreportTLDS(@Model.ProfileId)">Create PDF</button>
                <input id="hdfGenericPDFLoaded" type="hidden" value="0" />
            </div>
        </div>
    </div>
</section>
<style>
    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-idPopupTLDSPrintConfirm"] {
        padding: 0;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-idPopupTLDSPrintConfirm"] .ui-dialog-content {
        padding: 0;
    }
</style>
