<template id="attachment-dialog">
    <div>
        <modal-component ref="dialog" :show.sync="showDialog" @@update:show="handleCancelDialog" :width="width">
            <template slot="header">
                <div class="tabs">
                    <ul class="tab-head">
                        <li v-for="(tab, index) in allowTabs" :class="{ 'tab-view': true, 'is-active': activeTab === index }">
                            <a :disabled="shared.isRecording"
                               @@click.prevent="activeTab = index">
                                {{ tabsLabel[tab] }}
                            </a>
                        </li>
                    </ul>

                </div>
            </template>
            <template slot="body">
                <div class="tab-number-file">
                    <span><b>{{fileNumberStudent}}/1</b></span>
                </div>
                <div class="tab-container" v-if="!isFileLimitReached">
                    <keep-alive>
                        <component v-if="showDialog" :is="tabInstance" :items="attachmentsList" v-on="inputEventsBinding" />
                    </keep-alive>
                </div>
                <attacment-list :items="attachmentsList" v-on="listEventsBinding" />
            </template>
            <template slot="footer">
                <div slot="footer" class="actions">
                    <button class="grey" @@click="handleCancelDialog()" :disabled="shared.isRecording">Cancel</button>
                    <button @@click="handleSubmit" :disabled="shared.isRecording">{{shared.config.allowModification ? 'Save' : 'Submit'}}</button>
                </div>
            </template>
        </modal-component>
        <preview-item-dialog :show.sync="showPreview" :item="itemPreview"></preview-item-dialog>
        <confirm-modal class="confirm-modal" v-model="showConfirm" :message="confirmMessage" v-on="{ onYesClick: handleConfirm }"></confirm-modal>
    </div>
</template>

<style>
    .modal-component-container {
        width: 40% !important;
    }

    .modal-component-container .actions {
        display: flex;
        gap: 0.5rem;
    }

    .tabs .tab-view {
        color: var(--white);
        float: left;
        cursor: pointer;
    }

    .tabs .tab-view:last-child {
        border-right: none;
    }

        .tabs .tab-view a {
            padding: 10px 20px;
            display: block;
            font-size: 10pt;
            color: var(--navyColor);
        }

            .tabs .tab-view a:hover {
                color: var(--navyColor);
            }

        .tabs .tab-view a[disabled] {
            pointer-events: none;
        }

    .tabs ul::after {
        content: '';
        clear: both;
        float: none;
        display: block;
    }

    .tabs .tab-view.is-active {
        border-bottom: none;
        background: var(--navyColor);
    }

        .tabs .tab-view.is-active a {
            color: var(--white);
        }

    .modal-component-container .modal-component-header {
        padding: 0 !important;
    }

    .tab-head {
        display: flex;
        background-color: #f4faff;
        padding: 0 !important;
        margin: 0;
        list-style: none;
    }

    .tab-number-file {
        margin-bottom: 5px;
        width: 99%;
        text-align: right;
    }
    .record-audio-container .audio-recorder {
        padding: 4px 6px;
        background-color: #bfbfbf;
        border-radius: 4px;
        border: unset;
    }

    .audio-recorder__actions .btn-action {
        border: 0;
        cursor: pointer;
        border-radius: 15px !important;
        width: 30px !important;
        height: 30px !important;
        background-color: #e73a46 !important;
        min-width: unset !important;
    }

    .image-capture__actions button {
        width: 40px !important;
        height: 40px !important;
        border-radius: 25px !important;
        min-width: unset !important;
        background-color: #BFBFBF !important;
    }

    .video-capture__actions button {
        width: 40px !important;
        height: 40px !important;
        border-radius: 25px !important;
        min-width: unset !important;
        background-color: #e73a46 !important;
    }

    .modal-component-footer .actions {
        justify-content: space-around;
        width: 100%
    }

    .modal-component-close {
        display: none !important;
    }

    .modal-component-body {
        margin: 40px 0 !important;
    }

    .confirm-modal .modal-component-wrapper .modal-component-container {
        width: 24% !important;
    }

    .confirm-modal .modal-component-wrapper .modal-component-body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        padding: 0 !important;
        font-weight: 700;
        margin: 0 !important;
    }

    .confirm-modal .modal-component-wrapper .modal-component-footer {
        justify-content: space-around;
    }
</style>
