@model LinkIt.BubbleSheetPortal.Web.ViewModels.AuthorGroup.AddAuthorGroupUserSchoolDistrictViewModel
<div>
    <div class="title-heading mb-4">
        <p class="title-large mb-0" style="font-size: 22px">Schools</p>
        @if (Model.CanEditGroup)
        {
            <a id="btnAddSchool" href="javascript:void(0);" onclick="loadAddAuthorGroupSchool('@Model.AuthorGroupId');" class="btn btn-link pe-0">
                Add school
                <i class="fa-solid fa-plus ms-2"></i>
            </a>
        }
    </div>
    @Html.Partial("v2/_ListAuthorGroupSchoolList", @Model)
</div>


<script>
    function loadAddAuthorGroupSchool(authorGroupId) {
        var url = '@Url.Action("GetSchoolForAuthorGroup")/?authorGroupId=' + authorGroupId;
        $.ajax(
            {
                url: url,
                cache: false
            })
            .done(function (html) {
                $("#divOnTop").append('<div id="PopupAddAuthorGroup" class="dialog"></div>');
                $("#PopupAddAuthorGroup").append(html);
                $('#PopupAddAuthorGroup').dialog({
                    title: "",
                    open: function () {
                        //Create overlay for popup
                        $("body").append('<div class="my-overlay" style="z-index: ' + ($.ui.dialog.currentZ() - 1) + ';width:' + $(document).width() + 'px;height:' + $(document).height() + 'px;background-color: black;opacity: 0.3;position: absolute;top:0px;left: 0px;"></div>');
                    },
                    beforeclose: function () {
                        //TODO if you want do anything after close popup.
                        return true;
                    },
                    close: function () {
                        ui.dataTableAuthorGroupSchool.fnReloadAjax();
                        $('#PopupAddAuthorGroup').remove();
                        $("body .my-overlay").remove();
                    },
                    modal: false,
                    width: 750,
                    resizable: false,
                    position: ['top', 126]
                });

            });

        $(".close").unbind("click");
        $(".close").live("click", function (e) {
            e.preventDefault();
        });
    }

    function closeAddAuthorGroupSchool() {
        jQuery('#PopupAddAuthorGroup').dialog('close');
    }
</script>
