<style>
    #dataTableTopic1_wrapper, #dataTableSkill1_wrapper, #dataTableOther1_wrapper, #dataTableClusterScore1_wrapper {margin: 0;}
</style>

<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004'>
        <div class='block-content' style='z-index: 1004;'>
            <h1>Progress Monitoring Data Point</h1>
            <div class="form bubbleSheetSelector" name="dataPoint" dataPoint="1">
                <div>
                        <input type="hidden" name="sgoDataPointId" value="0" dataPoint="1" />
                        <ul style="display: none" name="error-messages" dataPoint="1" class="message error"></ul>
                        <ul style="display: none" name="insert-success-message" dataPoint="1" class="message success">
                            <li>Data Point successfully updated.</li>
                        </ul>
                    <fieldset class="grey-bg coolfieldset qtiItemSelector fieldset-datapoint" id="fsSelectVirtualTest">
                        <legend>Select Test Type</legend>
                        <div class="columns" id="divItemCriteria">
                            <div class="colx3-left">
                                <p>
                                    <label>Type</label>
                                    <select name="selectTestType" datapoint="1">
                                        <option value="select">Select Test Type</option>
                                    </select>
                                </p>
                            </div>
                        </div>
                    </fieldset>
                    <div name="divDataPointContent" dataPoint="1"></div>
                    <br/>
                </div>
                <div style="margin-top: 20px; text-align: right;">
                    <button id="btnShowScore" type="button" dataPoint="1">Show Score</button>
                    <button type="button" onclick="closePopup('popupMonitorProgress')" class="grey">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>

@* ReSharper disable once AssignedValueIsNeverUsed *@
<script>
    $(function() {
        populateTestType('1');
    });    
</script>


