<style type="text/css">
</style>
<div class="mb-3">
    <div class="filter-list mb-3">
        <div class="colx3-left" data-bind="foreach:LeftCategories">
            <div class="mb-3">
                <div class="d-flex align-items-center">
                    <input type="checkbox" data-bind="checked: Checked" class="me-2">
                    <span data-bind="text:DisplayText"></span>
                </div>
            </div>
        </div>
        <div class="colx3-center" data-bind="foreach:CenterCategories">
            <div class="mb-3">
                <div class="d-flex align-items-center">
                    <input type="checkbox" data-bind="checked: Checked" class="me-2">
                    <span data-bind="text:DisplayText"></span>
                </div>
            </div>
        </div>
        <div class="colx3-left" data-bind="foreach:RightCategories">
            <div class="mb-3">
                <div class="d-flex align-items-center">
                    <input type="checkbox" data-bind="checked: Checked" class="me-2">
                    <span data-bind="text:DisplayText"></span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <label>Search</label>
        <input type="text" class="w-100" data-bind="value:SearchText" />
    </div>
</div>
