<style>
    .help-resource-list div:not(:first-child) {
        margin-left: 38px;
    }
</style>
<div class="block-border" id="divHelpResource">
    <div class="block-content form">
        <h1>
            Help Resources
            <div class="clearfix"></div>
        </h1>
        <fieldset id="locationFieldset">
            <div class="columns">
                <div data-bind="foreach: HelpResourceTypes" class="help-resource-list">
                    <div class="u-inline-block">
                        <img data-bind="attr: {src: ImgPath}" class="u-inline-block u-v-align-middle icon-32-custom">
                        <strong data-bind="text: DisplayText" class="u-inline-block u-v-align-middle"></strong>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="no-margin last-child">
            <table id="helpResourceDataTable" width="100%" class="datatable table table-assignment no-margin" url="@Url.Action("GetHelpResources", "HelpResource")">
                <colgroup>
                    <col style="width: 80px">
                    <col style="width: 150px">
                    <col style="width: 150px">
                    <col style="width: 200px">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col" class="black-cell">Actions</th>
                        <th scope="col" class="black-cell"></th>
                        <th scope="col">
                            <span class="column-sort">
                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                            </span>
                            File Type
                        </th>
                        <th scope="col">
                            <span class="column-sort">
                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                            </span>
                            Category
                        </th>
                        <th scope="col">
                            <span class="column-sort">
                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                            </span>
                            Topic
                        </th>
                        <th scope="col">
                            <span class="column-sort">
                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                            </span>
                            Description
                        </th>
                        <th scope="col">
                            <span class="column-sort">
                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                            </span>
                            Updated
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="height: 60px;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
