@model LinkIt.BubbleSheetPortal.Web.ViewModels.TestSettingsMap
<div class="block-border" id="divContentTestSettingTestPropertyTop" style="position: static; z-index: 1002">
    <div id="divContentTestSettingTestProperty" class="block-content form bubbleSheetSelector" style="z-index: 1002;">
        <fieldset class="grey-bg" style="z-index: 1002">
            <legend>Student Setting</legend>
            <ul style="display: none; margin-bottom: 10px;" id="success-message" class="message success"></ul>
            <div class="accordion-scroll m-t-15">
                <div id="accordion-assignment-setting" class="accordion w-750">
                    <div class="accordion-title first active">
                        <h3>Display</h3>
                    </div>
                    <div class="accordion-content active">
                        <table class="table table-accordion">
                            <tbody>
                                <tr>
                                    <td class="w-370 table-accordion-title">Show Standards</td>
                                    <td class="w-380">
                                        <input type="radio" value="0" name="showStandards" /> OFF
                                        <input type="radio" value="1" name="showStandards" /> ON
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-370 table-accordion-title">Show Topics</td>
                                    <td class="w-380">
                                        <input type="radio" value="0" name="showTopics" /> OFF
                                        <input type="radio" value="1" name="showTopics" /> ON
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Show Skills</td>
                                    <td>
                                        <input type="radio" value="0" name="showSkills" /> OFF
                                        <input type="radio" value="1" name="showSkills" /> ON
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Show Other</td>
                                    <td>
                                        <input type="radio" value="0" name="showOther" /> OFF
                                        <input type="radio" value="1" name="showOther" /> ON

                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Show Correct Answers</td>
                                    <td>
                                        <input type="radio" value="0" name="showCorrectAnswers" /> OFF
                                        <input type="radio" value="1" name="showCorrectAnswers" /> ON
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Show Class Averages</td>
                                    <td>
                                        <input type="radio" value="0" name="showClassAverages" /> OFF
                                        <input type="radio" value="1" name="showClassAverages" /> ON
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Show Test</td>
                                    <td>
                                        <input type="radio" value="0" name="showTest" /> OFF
                                        <input type="radio" value="1" name="showTest" /> ON
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <button class="float-right" id="btnStudentSettingTestProperty" type="button">Save</button>
            <button class="float-right mgright10 w70" id="btnTestSettingCancel" type="button">Cancel</button>
        </fieldset>
    </div>
</div>

<script>

</script>
<script type="text/javascript">
    (function ($) {
        'use strict';

        $('#btnTestSettingCancel').unbind('click');
        $('#btnTestSettingCancel').live("click", function () {
            $(".dialog").dialog("close");
        });

        $('#accordion-assignment-setting .accordion-title').on('click', function () {
            var $self = $(this);
            var $accordionContent = $self.next();

            if ($self.hasClass('active')) {
                $self.removeClass('active');
                $accordionContent.slideUp();
            } else {
                $self.addClass('active');
                $accordionContent.slideDown();
            }
        });
    }(jQuery));
</script>

<script>
    testPreferenceModel = @Html.Raw(Json.Encode(Model.TestPreferenceModel));
    $(function () {
        FillDataStudentPreference();
    });
</script>
