<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinkIt.BubbleSheetPortal.Data.Properties.Settings.AdminReportingVNSConnectionString37" connectionString="Data Source=34.217.231.40;Initial Catalog=AdminReportingVNS;User ID=linkit_user;Password=uuiikkjj98$10" providerName="System.Data.SqlClient" />
        <add name="LinkIt.BubbleSheetPortal.Data.Properties.Settings.AdminReportingLogConnectionString" connectionString="Data Source=54.245.226.146;Initial Catalog=AdminReportingLog;Persist Security Info=True;User ID=linkit_user" providerName="System.Data.SqlClient" />
        <add name="LinkIt.BubbleSheetPortal.Data.Properties.Settings.AdminReportingVNSConnectionString30" connectionString="Data Source=34.217.231.40;Initial Catalog=AdminReportingVNS;User ID=linkit_user;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
        <add name="LinkIt.BubbleSheetPortal.Data.Properties.Settings.AdminReportingVNSConnectionString34" connectionString="Data Source=34.217.231.40;Initial Catalog=AdminReportingVNS;Persist Security Info=True;User ID=linkit_user" providerName="System.Data.SqlClient" />
        <add name="LinkIt.BubbleSheetPortal.Data.Properties.Settings.AdminReportingVNSConnectionString" connectionString="Data Source=34.217.231.40;Initial Catalog=AdminReportingVNS;User ID=linkit_user;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
        <add name="LinkIt.BubbleSheetPortal.Data.Properties.Settings.AdminReportingVNSConnectionString1" connectionString="Data Source=34.217.231.40;Initial Catalog=AdminReportingVNS;User ID=linkit_user;Password=uuiikkjj98$10;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
        <add name="LinkIt.BubbleSheetPortal.Data.Properties.Settings.AdminReportingTempConnectionString11" connectionString="Data Source=10.252.56.238;Initial Catalog=AdminReportingTemp;Persist Security Info=True;User ID=DevblockDev" providerName="System.Data.SqlClient" />
        <add name="LinkIt.BubbleSheetPortal.Data.Properties.Settings.AdminReportingVNSConnectionString2" connectionString="Data Source=34.217.231.40;Initial Catalog=AdminReportingVNS;Persist Security Info=True;User ID=linkit_user;Pooling=False" providerName="System.Data.SqlClient" />
        <add name="LinkIt.BubbleSheetPortal.Data.Properties.Settings.AdminReportingVNSConnectionString3" connectionString="Data Source=34.217.231.40;Initial Catalog=AdminReportingVNS;Persist Security Info=True;User ID=linkit_user;Password=uuiikkjj98$10;Pooling=False" providerName="System.Data.SqlClient" />
        <add name="LinkIt.BubbleSheetPortal.Data.Properties.Settings.AdminReportingVNSConnectionString21" connectionString="Data Source=34.217.231.40;Initial Catalog=AdminReportingVNS;Persist Security Info=True;User ID=linkit_user;Pooling=False" providerName="System.Data.SqlClient" />
        <add name="LinkIt.BubbleSheetPortal.Data.Properties.Settings.AdminReportingStageConnectionString" connectionString="Data Source=10.252.36.127;Initial Catalog=AdminReportingStage;Persist Security Info=True;User ID=DevblockDev" providerName="System.Data.SqlClient" />
        <add name="LinkIt.BubbleSheetPortal.Data.Properties.Settings.DataSourceConnectionString" connectionString="Data Source=10.252.36.127;Persist Security Info=True;User ID=DevblockDev" providerName="System.Data.SqlClient" />
        <add name="LinkIt.BubbleSheetPortal.Data.Properties.Settings.AdminReportingVNSConnectionString32" connectionString="Data Source=34.217.231.40;Initial Catalog=AdminReportingVNS;User ID=linkit_user;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
        <add name="LinkIt.BubbleSheetPortal.Data.Properties.Settings.AdminReportingStageConnectionString1" connectionString="Data Source=10.252.36.127;Initial Catalog=AdminReportingStage;User ID=DevblockDev;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
        <add name="LinkIt.BubbleSheetPortal.Data.Properties.Settings.AdminReportingVNSConnectionString4" connectionString="Data Source=34.217.231.40;Initial Catalog=AdminReportingVNS;User ID=linkit_user;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
        <add name="LinkIt.BubbleSheetPortal.Data.Properties.Settings.AdminReportingVNSConnectionString5" connectionString="Data Source=34.217.231.40;Initial Catalog=AdminReportingVNS;Persist Security Info=True;User ID=linkit_user" providerName="System.Data.SqlClient" />
        <add name="LinkIt.BubbleSheetPortal.Data.Properties.Settings.AdminReportingVNSConnectionString31" connectionString="Data Source=34.217.231.40;Initial Catalog=AdminReportingVNS;Persist Security Info=True;User ID=linkit_user;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to register an account using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.

		<add key="AWSProfileName" value="" />
-->
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK.Core" publicKeyToken="885c28607f98e604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
