@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Models
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.DataAdmin, "Settings");
    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }
    }
}

@section jQuery {
    @BundleHelper.jQueryUpgrade()
}

<h2>@ViewBag.Message</h2>

@if (ViewBag.IsUseQuestion)
{
    <div class="container_12 container-newUI">
        @{Html.RenderAction("ChangePassword", "Account");}
        @{Html.RenderAction("ChangeQuestionAnswer", "Account");}
        @{Html.RenderAction("ChangeName", "Account");}
    </div>
}
else
{
    <div class="container_12 container-newUI">
        @{Html.RenderAction("ChangePassword", "Account");}
        @{Html.RenderAction("ChangeName", "Account");}
    </div>
}
<style type="text/css">
    .container_12.container-newUI {
        padding: 1rem 1.5rem
    }

        .container_12.container-newUI h1 {
            padding: 0;
            margin: 0;
            margin-bottom: 1.5rem
        }

        .container_12.container-newUI form {
            padding: 1.5rem !important
        }

            .container_12.container-newUI form p:last-of-type {
                margin-bottom: 1.5rem !important
            }

            .container_12.container-newUI form .button-container {
                text-align: center
            }

            .container_12.container-newUI form .message.warning {
                background-color: var(--blue1) !important;
                box-shadow: none;
                border: 1px solid var(--blue1) !important;
                border-radius: 0;
                padding: 1rem;
            }

            .container_12.container-newUI form .message {
                margin-bottom: 1.5rem !important
            }

        .container_12.container-newUI .g-settings {
            margin: 0 1.5rem 1.5rem 0 !important
        }

        .container_12.container-newUI form .message.error {
            display: flex
        }

            .container_12.container-newUI form .message.error::before {
                content: "\f00d";
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                height: auto;
                width: auto;
                color: var(--red);
                display: inline-block;
                font-size: 1.25em;
                margin: 0 12px 0 10px;
            }
</style>
