@{
    Layout = "~/Views/Shared/_LogOnPartial_v2.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>LinkIt!</title>
    <meta charset="utf-8">
    <meta name="robots" content="none">
    <!-- Global stylesheets -->
    <link href="/Content/themes/Constellation/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/Content/themes/Constellation/css/common.css" rel="stylesheet" type="text/css">
    <link href="/Content/themes/Constellation/css/form.css" rel="stylesheet" type="text/css">
    <link href="/Content/themes/Constellation/css/standard.css" rel="stylesheet" type="text/css">
    <link href="/Content/themes/Constellation/css/special-pages.css" rel="stylesheet"
          type="text/css">
    <!-- Custom styles -->
    <link href="/Content/themes/Constellation/css/simple-lists.css" rel="stylesheet"
          type="text/css">
    <!-- Favicon -->
    @Html.Partial("_Favicons")
    <!-- Generic libs -->
    <script type="text/javascript" src="/Content/themes/Constellation/js/html5.js"></script>
    <!-- this has to be loaded before anything else -->
    @LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.jQueryUpgrade()
    <!-- Template core functions -->
    <script type="text/javascript" src="/Content/themes/Constellation/js/common.js"></script>
    <script type="text/javascript" src="/Content/themes/Constellation/js/standard.js"></script>
    <!--[if lte IE 8]><script type="text/javascript" src="/Content/themes/Constellation/js/standard.ie.js"></script><![endif]-->
    @*<script type="text/javascript" src="/Content/themes/Constellation/js/jquery.tip.js"></script>*@
    <!-- Template custom styles libs -->
    <script type="text/javascript" src="/Content/themes/Constellation/js/list.js"></script>

    <style>
        .hide {
            display: none;
        }

        h1, h2 {
            padding: 0 !important;
            margin: 0 !important;
        }
        .action-tabs {
            width: 2rem;
            padding-top: 0em;
        }
    </style>
</head>
<!-- the 'special-page' class is only an identifier for scripts -->
<body class="special-page error-bg red dark">
    <!-- The template uses conditional comments to add wrappers div for ie8 and ie7 - just add .ie or .ie7 prefix to your css selectors when needed -->
    <!--[if lt IE 9]><div class="ie"><![endif]-->
    <!--[if lt IE 8]><div class="ie7"><![endif]-->
    <section id="error-desc">

        <div class="action-tabs with-children-tip children-tip-left">
            <a id="btnLinkHomePage" href="/Account/LogOn" title="Go home">
                <i class="fa-solid fa-arrow-left icon-red"></i>
            </a>
        </div>
    
    

        <div class="block-border">
            <div class="block-header">An error has occurred</div>
            <div class="block-content">
                <h1 class="mb-4">Hmmm</h1>
                <h2>What happened?</h2>
                <p>@ViewBag.Message</p>
            </div>
        </div>
    </section>
    <section id="loading">
        @*<h1>Loading....</h1>*@
    </section>
    <!--[if lt IE 8]></div><![endif]-->
    <!--[if lt IE 9]></div><![endif]-->
</body>
</html>

<script>
    $(document).ready(function () {
    });

    //$("#btnLinkHomePage").hover(function () {
    //    $(this).animate({ left: "30px" });
    //}, function () {
    //    $(this).animate({ left: "0" });
    //});

</script>
