<script src="@Url.Content("~/Scripts/TagIt/js/tag-it.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Scripts/TagIt/css/jquery.tagit.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/TagIt/css/tagit.ui-zendesk.css")" rel="stylesheet" type="text/css" />

<style>
    .tagit-autocomplete {
        z-index: 9999 !important;
        width: 20%;
        margin-left: 800px !important;
    }
    .ui-menu .ui-menu-item a.ui-state-hover{
        margin: 0px;
    }
    #tableExpression .wraptag input.ui-autocomplete-input {
        border: none;
        height: 1px;
    }
    #tableExpression .wraptag ul li.tagit-choice {
        border: solid 1px var(--blue3);
        background-color: var(--blue1);
    }
    #tableExpression .wraptag ul li a.tagit-close {
        top: 10px;
        right: 4px;
    }
    div[slot="body"] > div:first-child {
        display: flex;
        justify-content: end;
        margin: 12px 0;
    }
    div[slot="body"] > div:first-child > button {
        border: none !important;
        padding: 8px;
        width: auto;
        margin: 0 0 0 18px;
    }
    #btn-addExpressions {
        color: red !important;
    }
    div[slot="body"] .scroll-bar-modal {
        margin: 12px 0 24px;
    }
    .footer-actions {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
</style>
<modal-component v-bind:show.sync="isShowPopupConditionalLogicMultipart" v-bind:width="800" style="display: none;">
    <div slot="close">
        <a href="#" v-on:click="closePopupMultiPartConfig" class="modal-component-close">Close</a>
    </div>
    <div slot="header"></div>
    <div slot="body">
        <div class="row u-text-right u-m-t-5">
            <button type="button" id="btn-removeAllExpressions" onclick="removeAllMultiPartExpression(TestMakerComponent)" >Remove Conditional Logic</button>
            <button type="button" id="btn-addExpressions" v-on:click="addMultiPartExpression()">
                Add New Expression
                <i class="fa-solid fa-plus ms-2"></i>    
            </button>
        </div>
        <div class="row u-m-t-10 scroll-bar-modal">
            <table id="tableExpression" class="datatable table no-margin" width="100%">
                <thead>
                    <tr>
                        <th scope="col" class="u-text-center u-w-30">#</th>
                        <th scope="col">Expression</th>
                        <th scope="col">Enabled Elements</th>
                        <th scope="col" class="u-text-center u-w-60">Edit</th>
                        <th scope="col" class="u-text-center u-w-60">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-dragable-for="item in listMultiPartExpression">
                        <td class="u-text-center">{{$index + 1}}</td>
                        <td id="expressionCol">{{item.expression}}</td>
                        <td class="u-text-center">
                            <div class="wraptag">
                                <ul id="enableElement{{$index + 1}}" class="enableElements tagit ui-widget ui-widget-content ui-corner-all"></ul>
                            </div>
                        </td>
                        <td class="u-text-center">
                            <a v-show="item.expression !== '*'" v-on:click="editMultiPartExpression($index)" href="#" title="Edit">
                                <i class="custom-icon fa-solid fa-pencil icon-grey"></i>
                            </a>
                        </td>
                        <td class="u-text-center">
                            <a v-show="item.expression !== '*'" v-on:click="deleteMultiPartExpression($index)" href="#" title="Delete">
                                <i class="custom-icon fa-solid fa-circle-xmark icon-red"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div slot="footer">
        <div class="w-100 footer-actions">
            <button v-on:click="closePopupMultiPartConfig">Cancel</button>
            <button v-on:click="okPopupMultiPartConfig">OK</button>
        </div>
    </div>
</modal-component>


<script>
    // region Page Load
    $(document).ready(function () {
        var multiPartResponses = TestMakerComponent.multiPartResponses.sort();
        $(".enableElements").tagit({
            availableTags: multiPartResponses,
            autocomplete: { delay: 0, minLength: 0 }
        });
        $('.enableElements').find('.ui-autocomplete-input').attr('readonly', true);
        $('ul.tagit input[type="text"]').css("min-width", "10px");
    });
    // #endregion Page Load
    $('body').click(function (evt) {
        if (evt.target.className !== "tagit-dropdown") {
            $('.tagit-autocomplete').css("display", "none");
        }
    });
</script>
