<modal-component class="modal-v2 modal-title-close" v-bind:show.sync="isShowExpression" v-bind:width="1000" style="display: none;">
  <div slot="close">
    <a href="#" v-on:click="closePopupExpression" class="modal-component-close">Close</a>
  </div>
  <div slot="header">
      <h3 class="h3">Algorithmic Configuration</h3>
  </div>
  <div slot="body">
    <div class="mb-4 d-block">
      <div id="expression-builder" style="max-height: 570px; overflow: auto"></div>
    </div>
  </div>
  <div slot="footer">
      <button v-on:click="closePopupExpression">Cancel</button>
      <button v-on:click="savePopupExpression">OK</button>
  </div>
</modal-component>
