<modal-component v-show="isShowMultiPartExpression" v-bind:width="700">
  <div slot="close">
    <a href="#" v-on:click="closeMultiPartExpression" class="modal-component-close">Close</a>
  </div>
  <div slot="header"></div>
  <div slot="body">
    <div class="row u-m-t-5">
      <div id="multi-part-expression-builder" style="max-height: 500px; overflow: auto"></div>
    </div>
  </div>
  <div slot="footer">
    <div class="footer-actions w-100">
      <button v-on:click="closeMultiPartExpression">Cancel</button>
      <button v-on:click="saveMultiPartExpression">OK</button>
    </div>
  </div>
</modal-component>
