<modal-component class="modal-v2 modal-title-close" v-bind:show.sync="isShowAlgorithmic" v-bind:width="800" style="display: none;">
    <div slot="close">
        <a href="#" v-on:click="closePopupAlgorithmic" class="modal-component-close">Close</a>
    </div>
    <div slot="header">
        <h3 class="h3">Algorithmic Configuration</h3>
    </div>
    <div slot="body">
        <div class="text-right">
            <a class="btn btn-link pe-0" id="btn-addExpressions" v-on:click="addExpression">Add New Expression <i class="fa-solid fa-plus ms-2"></i></a>
        </div>
        <div class="u-m-t-10 scroll-bar-modal mb-4">
            <table class="datatable table no-margin" width="100%">
                <thead>
                    <tr>
                        <th scope="col" class="u-text-center u-w-30">#</th>
                        <th scope="col">Expression</th>
                        <th scope="col" class="u-text-center u-w-60">Point</th>
                        <th scope="col" class="u-text-center u-w-60">Edit</th>
                        <th scope="col" class="u-text-center u-w-60">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-dragable-for="item in listExpression">
                        <td class="u-text-center">{{$index + 1}}</td>
                        <td>{{item.expression}}</td>
                        <td class="u-text-center">
                            <input type="number" maxlength="3" min="0" class="full-width" style="min-width: 70px; border-radius: 0; text-align:center;" v-model="item.point" oninput="javascript: if (this.value.length > this.maxLength) {this.value = this.value.slice(0, this.maxLength);}">
                        </td>
                        <td class="u-text-center">
                            <a v-on:click="editExpression($index)" href="#" class="with-tip" title="Edit">
                                <span class="custom-icon fa-solid fa-pencil icon-grey"></span>
                            </a>
                        </td>
                        <td class="u-text-center">
                            <a v-on:click="deleteExpression($index)" href="#" class="with-tip" title="Delete">
                                <span class="custom-icon fa-solid fa-circle-xmark icon-red"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div slot="footer">
        <button v-on:click="closePopupAlgorithmic">Cancel</button>
        <button v-on:click="closePopupAlgorithmic">OK</button>
    </div>

</modal-component>
