.lowercase {
  text-transform: none;
}

.bubbleSheetSelector select {
  min-width: 250px;
  max-width: 250px;
}

.bubbleSheetSelector .tagit {
  min-width: 250px;
  max-width: 250px;
}

.bubbleSheetSelector .tagit-dropdown {
  position: static !important
}

.schoolClassManagermentSelector select {
  width: 350px;
}

.parentConnectSelector select {
  width: 350px;
}

.parentConnectComposeSelector select {
  width: 250px;
}

.multiClassChkBox {
  margin-left: 15px !important;
}

.columnRight {
  text-align: right !important;
}

.deleteUser {
  padding-left: 3px;
}

.selectSchool {
  width: 246px;
}

#userSchoolsContainer {
  margin-top: 12px;
}

.blockMessageSuccess {
  text-transform: uppercase;
  font-size: 0.833em;
  line-height: 1.3em;
  padding: 0.2em 1em 0.8em 3em;
  background-repeat: no-repeat;
  background-position: 0.8em 0.1em;
}

.studentDetails p {
  margin-bottom: 0.75em;
}

.letterLabel {
  padding-right: 18px !important;
}

.statusFilterLabel {
  color: #fff !important;
  font-weight: bold !important;
  padding-right: 0.0em !important;
  margin-right: 15px;
}

.statusFilterLabelRosters {
  color: #fff !important;
  font-weight: bold !important;
  padding-right: 0.0em !important;
  margin-right: 9px;
}

.ui-autocomplete {
  background-color: #D5D8DB;
}

.ui-corner-all {
  color: #333 !important;
}

.ui-menu-item:hover {
  background-color: #A4ABB4;
}


.headerButton:hover {
  color: white;
  border-color: #1eafdc #1193d5 #035592;
  background: #057fdb url(../images/old-browsers-bg/title-link-hover-bg.png) repeat-x top;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background: -moz-linear-gradient( top, white, #2bcef3 4%, #057fdb );
  background: -webkit-gradient( linear, left top, left bottom, from(white), to(#057fdb), color-stop(0.03, #2bcef3) );
}

.utilDivContainer {
  margin-top: 10px;
}

.clear-25 {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 25px;
}

.class-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 22px;
  font-family: "Trebuchet MS, Lucida Sans Unicode, Lucida Sans, Arial, Helvetica, sans-serif";
  padding-left: 10px;
}

.assignTeacherBySchool, .moveTeacherBySchool, .editClass, .deleteClass, .delegateClass {
  padding-right: 5px;
}

.actionIcon {
  padding-left: 3px;
}

.rosterIcon {
  padding-left: 5px;
}

.reportIcon {
  padding-left: 5px;
}

.studentOperation {
  margin: 0px 15px 12px -7px;
}

.classProgramButton {
  margin: 5px;
}

.btnNewMapping img {
  margin-bottom: -13px;
  position: relative;
  top: -6px;
  right: -26px;
}

.btnAddMapping img {
  margin-bottom: -15px;
  position: relative;
  right: -24px;
  top: -5px;
}

.btnLinkMapping img {
  margin-bottom: -15px;
  position: relative;
  right: -29px;
  top: -9px;
}

.btnRemoveMapping img {
  margin-bottom: -15px;
  position: relative;
  right: -4px;
  top: -11px;
}

.form fieldset, .fieldset {
  background-color: #E6E6E6;
}

.headerButton {
  display: block;
  font-size: 0.778em;
  text-transform: uppercase;
  color: #cccccc;
  border: 1px solid;
  border-color: #7e9098 #61727b #2b373d;
  background: #40535c url(../images/old-browsers-bg/title-link-bg.png) repeat-x top;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background: -moz-linear-gradient( top, white, #9eb1ba 4%, #40535c );
  background: -webkit-gradient( linear, left top, left bottom, from(white), to(#40535c), color-stop(0.03, #9eb1ba) );
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 0.286em;
  -webkit-border-radius: 0.286em;
  -webkit-background-clip: padding-box;
  border-radius: 0.286em;
  line-height: 2em;
  white-space: nowrap;
  padding: 0.5em 0.771em;
  cursor: pointer;
}

  .headerButton:hover {
    color: white;
    border-color: #1eafdc #1193d5 #035592;
    background: #057fdb url(../images/old-browsers-bg/title-link-hover-bg.png) repeat-x top;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background: -moz-linear-gradient( top, white, #2bcef3 4%, #057fdb );
    background: -webkit-gradient( linear, left top, left bottom, from(white), to(#057fdb), color-stop(0.03, #2bcef3) );
  }

.print_left {
  padding-top: 10px;
}

#divconfigGenerateTest {
  position: static !important;
}

.icon,
.btn-review-assignment {
  display: inline-block;
  vertical-align: middle;
}

.icon-down,
.icon-up,
.icon-review-pencil,
.icon-review-action,
.icon-review-disabled,
.icon-review-deactivate,
.icon-review-preference,
.icon-notification-small,
.icon-review-hide,
.icon-review-show {
  width: 16px;
  height: 16px;
}

.icon-down {
  background: url(/Content/themes/Constellation/images/icons/fugue/arrow-270.png) no-repeat;
}

.icon-up {
  background: url(/Content/themes/Constellation/images/icons/fugue/arrow-090.png) no-repeat;
}

.icon-review-pencil {
  background: url(/Content/themes/AssignmentRegrader/images/icon-pencil.png) no-repeat;
}

.icon-review-action {
  background: url(/Content/themes/Constellation/images/icons/fugue/plus-circle.png) no-repeat;
}

.icon-edit-pencil {
  background: url(/Content/themes/Constellation/images/icons/fugue/pencil.png) no-repeat;
}

.icon-review-disabled {
  background: url(/Content/themes/Constellation/images/icons/fugue/plus-circle-gray.png) no-repeat;
}

.icon-review-deactivate {
  background: url(/Content/themes/Constellation/images/icons/fugue/cross-circle.png) no-repeat;
}

.icon-review-preference {
  background: url(/Content/themes/Constellation/images/icons/icon-preference.png) no-repeat;
}

.icon-notification-small {
  background: url(/Content/images/icon-notification-small.png) no-repeat;
}

.icon-notification-large {
  background: url(/Content/images/icon-notification-large.png) no-repeat;
  width: 32px;
  height: 32px;
}

.icon-review-hide {
  background: url(/Content/themes/Constellation/images/icons/fugue/icon-review-hide.png) no-repeat;
}

.icon-review-show {
  background: url(/Content/themes/Constellation/images/icons/fugue/icon-review-show.png) no-repeat;
}

.btn-review-assignment {
  margin: 2px;
}

.u-m-l-10 {
  margin-left: 10px;
}

.icon_search_custom {
  background-image: url(/Content/themes/Constellation/images/icons/fugue/magnifier.png);
  width: 16px;
  height: 16px;
}
.icon_folder_custom {
  background-image: url(/Content/themes/Constellation/images/icons/fugue/folder.png);
  width: 16px;
  height: 16px;
}

.icon_file_custom {
  background-image: url(/Content/themes/Constellation/images/icons/fugue/document.png);
  width: 16px;
  height: 16px;
}
.icon_pdf_custom {
  background-image: url(/Content/themes/Constellation/images/icons/fugue/document-pdf.png);
  width: 16px;
  height: 16px;
}
.icon_excel_custom {
  background-image: url(/Content/themes/Constellation/images/icons/fugue/icons8-microsoft-excel-2019.svg);
  background-size: cover;
  width: 16px;
  height: 16px;
}

.icon_powerpoint_custom {
  background-image: url(/Content/themes/Constellation/images/icons/fugue/icons8-microsoft-powerpoint-2019.svg);
  background-size: cover;
  width: 16px;
  height: 16px;
}

.icon_pdf_custom_large {
  background: url(/Content/themes/Constellation/images/icons/fugue/document-pdf.png);
  background-size: cover;
  width: 22px;
  height: 22px;
}
.icon_excel_custom_large {
  background: url(/Content/themes/Constellation/images/icons/fugue/icons8-microsoft-excel-2019.svg);
  background-size: cover;
  width: 22px;
  height: 22px;
}

.icon_powerpoint_custom_large {
  background: url(/Content/themes/Constellation/images/icons/fugue/icons8-microsoft-powerpoint-2019.svg);
  background-size: cover;
  width: 22px;
  height: 22px;
}
.icon_folder_custom_large {
  background: url(/Content/themes/Constellation/images/icons/fugue/folder.png);
  background-size: cover;
  width: 22px;
  height: 22px;
}
/**
 * Notification
 */
.notification-action {
  position: relative;
  padding-left: 0.65em;
  padding-right: 0.65em;
  line-height: 1.2em;
  vertical-align: middle;
}

.notification-unread {
  color: #fff;
  background: #790000 url(../images/old-browsers-bg/button-red-bg.png) repeat-x top;
  background: -moz-linear-gradient( top, #ca3535, #790000 );
  background: -webkit-gradient( linear, left top, left bottom, from(#ca3535), to(#790000) );
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  top: -8px;
  right: -6px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 1px 3px 1px 1px;
  text-indent: 0;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: none;
  min-width: 16px;
}

.notification-dropdown {
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  text-align: left;
  position: absolute;
  z-index: 90;
  top: 45px;
  right: 0;
  border-radius: 5px;
  min-width: 500px;
  display: none;
}

  .notification-dropdown:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: -8px;
    right: 8px;
  }

  .notification-dropdown.open,
  .notification-unread.open {
    display: block;
  }

.notification-title {
  padding: 10px;
}

  .notification-title h3 {
    font-size: 12px;
  }

.notification-item {
  background: #fff;
  border-bottom: 1px solid #cecaca;
  display: list-item;
  font-size: 12px;
  padding: 5px;
  line-height: 1.5;
  transition: background .5s ease;
}

  .notification-item:first-child {
    border-top: 1px solid #cecaca;
  }

  .notification-item.is-unread {
    background: #e7e7e7;
  }

  .notification-item:hover,
  .notification-item:focus {
    background: rgba(255, 255, 255, .97);
  }

.notification-item-icon,
.notification-item-content {
  display: table-cell;
  vertical-align: top;
}

.notification-item-icon {
  width: 32px;
}

.notification-item-content {
  padding: 0 0 0 8px;
}

.notification-content {
  max-height: 345px;
  overflow-x: hidden;
  overflow-y: auto;
}

  .notification-content::-webkit-scrollbar {
    appearance: none;
    -webkit-appearance: none;
    width: 7px;
  }

    .notification-content::-webkit-scrollbar:horizontal {
      height: 7px;
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .3);
    }

  .notification-content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 0 0 1px rgba(255, 255, 255, .3);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .3);
  }

.notification-loading {
  background: #e6e6e6;
  padding: 15px 0;
}

.notification-spinner {
  display: block;
  margin: auto;
  width: 2px;
  height: 2px;
  border-radius: 2px;
  box-shadow: -7px 0 0 3px #7b7b7b, 0 -7px 0 3px #7b7b7b, 7px 0 0 3px #7b7b7b, 0 7px 0 3px #7b7b7b;
  -webkit-animation: rotateSpinner 3s ease-in-out infinite;
  animation: rotateSpinner 3s ease-in-out infinite;
}

  .notification-spinner .notification-spinner {
    opacity: 0.4;
  }

@-webkit-keyframes rotateSpinner {
  50% {
    -webkit-transform: rotate(360deg) scale(1.15);
  }
}

@keyframes rotateSpinner {
  50% {
    -webkit-transform: rotate(360deg) scale(1.15);
    transform: rotate(360deg) scale(1.15);
  }
}
