body{
    font-family:'Segoe UI'
}

p {
    margin-bottom: 0 !important;
    font-size: 12pt;
}

.act {
    border: 1px solid;
    box-shadow: 1px 1px 5px #888888;
    width: 100%
}

    .act td, .act th {
        padding-left: 3px;
        font-size: 8pt;
        vertical-align: middle;
    }

.student-info td, student-info th {
    padding: 3px;
    line-height: 1.25em;
}

span {
    font-size: 8pt;
}

.text-center {
    text-align: center;
    vertical-align: middle;
}

.width70 {
    width: 70px;
}

.table-title {
    font-size: 12pt;
    margin-bottom: 4px;
    clear: both;
}

.act-section {
    margin-top: 16px;
}

.black-title {
    border-bottom: 4px solid black;
    margin-bottom: 24px !important;
    margin-top: 26px
}

    .black-title span {
        color: white;
        background: black;
        padding: 2px;
        font-size:12pt;
        padding-bottom:1px;
    }

.act-table {
    width: 100%;
    border: 1px solid;
    font-size: 8pt;
    box-shadow: 1px 1px 5px #888888;
}

.TABLE_TWO td {
    padding: 1px;
    padding-left: 3px;
    border: 1px solid #d1d2d4;
}

.TABLE_TWO th {
    padding: 1px;
    padding-left: 3px;
    border-bottom: 1px solid black;
}

.border-none-left {
    border-left: none !important;
}

.border-none-top {
    border-top: none !important;
}

.border-none-right {
    border-right: none !important;
}

.border-none-bottom {
    border-bottom: none !important;
}

.utility {
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

.table-answer th, .table-answer tr {
    border: none !important;
}

.TABLE_ONE, .TABLE_TWO {
    margin-bottom: 10px;
}

    .TABLE_ONE th, .TABLE_ONE td {
        padding: 3px;
        vertical-align: middle;
        vertical-align:middle;
    }

legend {
    margin-left: 6px;
    padding: 4px;
    font-weight: 600;
    font-size: 8pt;
}

.section-chart p {
    font-size: 8pt;
}

.border-bottom{
    border-bottom:1px solid;
}

.selected-item {
    background-color: #d5d6d8
}

.table-answer {
    border: 1px solid;
    font-size: 8pt;
    margin-top:-1px;
    /*width:100%;*/
}

    .table-answer .ans-row {
        font-weight: bold;
        background-color: #d1d2d4;
        padding-top: 1px;
        padding-bottom: 1px
    }

    .table-answer .mark-row {
        padding-top: 1px;
        padding-bottom: 1px
    }

.gray {
    background-color: #d1d2d4;
}

.table-answer .last-answer {
    padding-top: 1px;
    padding-bottom: 1px
}

.table-answer tr td:first-child{
    padding:3px;
}

.answer-header {
    font-size: 8pt;
    padding: 3px 12px;
    text-align: left;
    border-bottom: 1px solid;
}

.marginTop5{
    margin-top: 8px;
}

.box-grid {
    font-family:'Segoe UI';
    position: relative;
    height: 75px
}

.box-grid-table {
    position: absolute;
    border: 1px solid #d1d2d4;
    border-right: none;
    left: -1px;
    top: 24px;
    width: 201px;
    height: 28px;
    z-index: 1;
}

.box-grid-table-line {
    border-right: 1px solid #d1d2d4;
    width: 5px;
}

.tag-name {
    font-weight: 700;
    font-size: 8pt;
    margin-bottom: 2px
}

.box-chart-one {
    position: relative;
    z-index: 100;
    top: 1px
}

.box-chart-two {
    position: relative;
    z-index: 100;
    top: 15px
}

.box-chart-one div {
    height: 14px;
    position: absolute;
    text-align: right;
    font-weight: bold;
    font-size: 15pt;
}

.box-chart-two div {
    height: 14px;
    background-color: #c8e0d3;
    position: absolute;
    text-align: right;
    font-weight: bold;
    font-size: 15pt;
}

.box-chart-label {
    font-size: 8pt;
    margin-top: 35px
}

.bar-chart-content {
    width: 180mm;
    height: 235px;
    position: relative;
}

.bar-chart-box {
    width: 64%;
    position: absolute;
    top: 0;
    left: 0
}

    .bar-chart-box .max-score {
        position: absolute;
        top: -6px;
        font-size: 8pt
    }

.grid-line {
    border: 1px solid #d1d2d4;
    margin-left: 20px
}

    .grid-line .line {
        border-bottom: 1px solid #d1d2d4;
        margin-top: 4px;
        margin-bottom: 5px;
        padding: 0
    }

.zero {
    position: absolute;
    bottom: -5px;
    font-size: 8pt
}

.one-col {
    position: absolute;
    width: 110px;
    text-align: center
}

    .one-col .bar {
        width: 43px;
        position: absolute;
        bottom: 14px;
        left: 35px
    }

        .one-col .bar .span1 {
            color: white;
        }

.bubble {
    width: 22px;
    height: 13px;
    padding-top: 3px;
    color: white;
    font-weight: 600;
    font-size: 7pt;
    border-radius: 6px;
    top: -14px;
    right: -27px;
    position: absolute;
    z-index: 5;
}

.bubble1 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 5px solid transparent;
    right: -15px;
    position: absolute;
    top: -9px;
    transform: rotate(-20deg);
}

.span2 {
    font-size: 12pt;
    position: absolute;
    top: -20px;
    font-weight: 800;
    left: 2px
}

.two-col {
    width: 43px;
    background-color: #d1d2d4;
    position: absolute;
    bottom: 14px;
    left: 35px
}

    .two-col .bar1 {
        right: -28px;
        position: absolute;
        background: #d1d2d4;
        width: 22px;
        height: 13px;
        padding-top: 3px;
        font-size: 8pt;
        color: black;
        font-weight: 500;
        border-radius: 6px;
        top: -4px;
    }

.bubble2 {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid #d1d2d4;
    right: -15px;
    position: absolute;
    transform: rotate(40deg);
}

    .bubble2 .span3 {
        font-size: 12pt;
        position: absolute;
        top: -20px;
        font-weight: 800;
        left: 5px
    }

#score-improvement-chart{
    margin-top:10px;
}

.district-logo {
    max-width: 250px;
    margin-left: -30px
}

.break-line {
    border-top: 1px solid;
    margin-left: -10px;
    width: 109%;
    margin-bottom: 5px;
}