@page {
  size: Letter
}

@page {
  @bottom-right {
    content: string(datetime);
    font-size: 8pt;
    font-family: 'Segoe UI'
  }

  @bottom-left {
    content: string(doctitle) counter(page);
    font-size: 8pt;
    font-family: 'Segoe UI'
  }
}

h1 {
  string-set: datetime content()
}

h2 {
  string-set: doctitle content()
}

.break-before {
  page-break-before: always
}

.break-after {
  page-break-after: always
}

.non-break-inside {
  page-break-inside: avoid
}

body {
  font-size: 8px;
}
