#composite-chart {
    position: absolute;
    width: 50%;
    height: 100%;
    margin-top: 30px;
}

#ebraw-chart {
    position: absolute;
    width: 25%;
    height: 50%;
    left: 51%;
    margin-top: 18px
}

#math-chart {
    position: absolute;
    width: 25%;
    height: 50%;
    left: 51%;
    top: 50%
}

#reading-chart {
    position: absolute;
    width: 20%;
    height: 33%;
    left: 80%
}

#writing-chart {
    position: absolute;
    width: 20%;
    height: 33%;
    left: 80%;
    top: 33%
}

#sub-math-chart {
    position: absolute;
    width: 20%;
    height: 33%;
    left: 80%;
    top: 66%
}


.chart {
    margin-top: 24px;
    width: 400px;
    height: 100px;
}

.chart-content {
    position: relative;
    border: 1px solid #c2c2c2;
}

.bg-horizontal {
    position: absolute;
    width: 100%;
    height: 100%;
}

    .bg-horizontal td {
        border-left: 1px solid #c2c2c2
    }

.chart-content-item {
    height: 50%;
    position: relative;
    font-size:9pt;
    text-align:right;
}
    .chart-content-item > p {
        position: absolute;
        bottom: 16px;
        right: 0;
        font-size: 10pt;
    }
    .chart-content-item > span.value {
        font-weight: 700;
        position: absolute;
        top: 50%;
        right: 4px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.bg-green {
    background: #37592a;
}

.bg-orange {
    background: #eb6523;
}

.bg-blue {
    background: #0d6671;
}

.bg-purple {
    background: #60164d;
}

.bg-baseline {
    background: #d1d2d4;
}

.bg-red {
    background: #a42630;
}

.left-chart-panel{
    width:20%;
    float:left;
    height:100%;
}

.right-chart-panel {
    width: 76%;
    margin-left:20%;
}

.small-chart-title{
    font-size:9pt;
}

.mar-left-20 {
    margin-left: 20%;
}

.white{
    color:white;
}

.si-chart {
    height: 170px;
    margin-left:32px;
}

.si-section {
    width: 30%;
    float: left;
    position: relative;
    height:170px;
}

.chart-group {
    width: 64px;
    float: left;
    text-align: center;
    height: 170px;
    position: relative;
    margin-top:12%;
}

.chart-item {
    width: 45%;
    margin-left: 5px;
    position: absolute;
    bottom: 13%
}

.baseline {
    background: #d1d2d4;
}

.green {
    background: green;
}

.red {
    background: red;
}

.orange {
    background: orange;
}

.chart-group label {
    font-size: 9pt;
    width:100%;
    text-align:center;
    font-weight:700;
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    border: 1px solid #c2c2c2;

}

.chart-label {
    position: absolute;
    top: 150px;
    font-size: 9pt;
    width: 100%;
    left:-12px
}

.bg table {
    width: 100%;
    height: 100%;
}

.bg td {
    border-bottom: 1px solid #d1d2d4;
}

.bg-label {
    position: absolute;
    right: 102%;
    font-size: 9pt
}

.label-top {
    top: -8px;
}

.label-bottom {
    bottom: -2px;
}

.label-center {
    top: 46%
}

.chart-item-value {
    font-size: 7pt;
    position: absolute;
    right: -34px;
    background: green;
    padding: 2px 4px;
    color: white;
    border-radius: 4px;
    min-width: 16px;
    font-weight: 700;
}

    .chart-item-value.up {
        top: -16px;
    }

    .chart-item-value.down {
        top: -6px;
    }

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid green;
    position: absolute;
    top: 9px;
    left: -9px;
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: 3px;
    left: -9px;
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

.si-table {
    margin-left: 10px;
}

    .si-table table {
        font-size: 9pt;
        border: 1px solid black;
    }

        .si-table table tr:first-child th {
            border-bottom: 1px solid black;
        }

        .si-table table td {
            border-bottom: 1px solid #d1d2d4;
            border-left: 1px solid #d1d2d4;
        }

        .si-table table td,
        .si-table table th {
            text-align: center;
        }

        .si-table table tr td:first-child {
            text-align: left;
            border-left:1px solid black !important;
            padding-left:1px;
        }

        .si-table table tr td:last-child,
        .si-table table tr th:last-child {
            border-left: 1px solid black;
        }

        .si-table table tr:last-child td {
            border-bottom: 1px solid black;
        }

        .si-table table tr td {
            min-width: 50px;
        }

.small-note {
    width: 12px;
    height: 12px;
    float: left;
}

.small-note-baseline {
    width: 60px;
    height: 12px;
    float: left;
    background-color: #d1d2d4;
}

.small-note-title {
    margin-left: 20px;
    float: left;
    font-size: 9pt
}

.small-note-group {
    clear: both;
    padding-top: 14px;
    margin-left: 30px;
}

.improve-score {
    top: -16px;
    position: absolute;
    left: 0px;
    font-weight: 700;
}

.bg-orange {
    background: #eb6523;
}

.color-orange {
    color: #eb6523;
}

.bg-orange .arrow-up {
    border-bottom: 5px solid #eb6523;
}

.bg-blue {
    background: #0d6671;
}

.color-blue {
    color: #0d6671;
}

.bg-blue .arrow-up {
    border-bottom: 5px solid #0d6671;
}

.bg-purple {
    background: #60164d;
}

.color-purple {
    color: #60164d;
}


.bg-purple .arrow-up {
    border-bottom: 5px solid #60164d;
}

.bg-baseline {
    background: #d1d2d4;
    color: black
}

    .bg-baseline .arrow-down {
        border-bottom: 5px solid #d1d2d4;
    }

.bg-red {
    background: #a42630;
}

.color-red {
    color: #a42630;
}

.bg-red .arrow-up {
    border-bottom: 5px solid #a42630;
}

.bg-green {
    background: #37592a;
}

.color-green {
    color: #37592a;
}

.bg-green .arrow-up {
    border-bottom: 5px solid #37592a;
}

.si-chart-right {
    margin-left: 53px;
}

.section {
    margin-top: 5px;
}

.table-answer tr td:first-child{
    text-align:center;
}

.top-label {
    padding: 2px;
    position: absolute;
    font-size: 9pt;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    top: -20px !important;
    min-width: 20px;
    text-align: center;
    right: -12px;
}

.top-lable-arrow {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    top:-5px !important;
    right:-3px;
}

.passage-name {
    width: 75px;
    font-size: 9pt;
    font-weight: 700;
    float: left;
    transform: rotate(-90deg) translate(-66px, 0px);
    transform-origin: top left;
    text-align:center;
    
}

.mrg-top-15{
    margin-top:15px;
}

.move-left {
    transform: translate(-50px, 0px);
}

.u-clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.full-width{
    width:100%;
}