@model LinkIt.BubbleSheetPortal.Models.DTOs.TLDS.TLDSGroupDTO

<section style='z-index: 2005'>
    <div class='block-border' style='z-index: 2005'>
        <div id="divOnTopCreateGroup" class='block-content bubbleSheetSelector form' style='z-index: 1005'>
            <h1>Add New Group</h1>
            <ul style="display: none" id="error-messages-create-group" class="message error"></ul>
            <ul style="display: none" id="success-message-create-group" class="message success">
                <li>Group Successfully Created</li>
            </ul>

            @using (Html.BeginForm("CreateGroup", "TLDSManage", FormMethod.Post, new { id = "createGroup" }))
            {
                <fieldset>
                    <div class="columns">
                        <p>
                            <label>Name</label>
                            @Html.TextBoxFor(m => m.GroupName, new { @class = "full-width", @maxlength = "100" })
                        </p>
                        <p style="text-align: center;">
                            <button type="submit" id="btnCreate">Save</button>
                            <button type="button" id="btnCancel" onclick="cancelGroup()">Cancel</button>
                        </p>
                    </div>
                </fieldset>
            }
            </div>
    </div>
</section>

<script type="text/javascript">
    $('#createGroup').submit(function (event) {
        event.preventDefault();

        if (!validateControls()) {
            return;
        }
        $('#error-messages-create-group').hide();
        ShowBlock($('#divOnTopCreateGroup'), "Creating Group");
        var url = '@Url.Action("CreateGroup")';

        $.ajax({
            url: url,
            type: 'POST',
            data: $(this).serializeArray(),
            success: function (response) {
                if (response.Success) {
                    $('#success-message-create-group').html('<li>Group Successfully Created</li>');
                    $('#success-message-create-group').show();
                    setTimeout(function () {
                        $(".dialog").dialog("close");
                    },
                        3000);
                    setTimeout(function () {
                        $('#success-message-create-group').hide();
                    },
                        5000);
                }
                else {
                    $('#error-messages-create-group').html('<li> ' + response.ErrorMessage + ' </li>');
                    $('#error-messages-create-group').show();
                    setTimeout(function () {
                        $('#error-messages-create-group').hide();
                    }, 5000);
                    $('#success-message-create-group').hide();
                }
                $('#divOnTopCreateGroup').unblock();
            },
            failure: function (response) {
                alert(response);
            }
        });
    });

    function cancelGroup() {
        $(".dialog").dialog("close");
    }

    function validateControls() {
        let errors = "";
        if (!$("#GroupName").val())
            errors = "PLEASE INPUT THE GROUP NAME.";

        $("#error-messages-create-group").empty();
        $("#error-messages-create-group").append("<li>" + errors + "</li>");
        $("#error-messages-create-group").show();

        return errors === "";
    }
</script>
