<style>
    #uploadifive-filePdfSchoolAdmin input {
        cursor: pointer !important;
    }
</style>
<script src="@Url.Content("~/Scripts/ckUpDownNumber.js")" type="text/javascript"></script>
<script>
    $(function () {
        $("#selectEnrolmentYear").ckUpDownNumber({ width: 170, height: 29 });
    });
</script>
<modal-component v-bind:show.sync="isShowModalUploadStatement" v-bind:width="500" id="modal-upload-file-school-admin" class="modal-upload-file-school-admin" style="display: none;">
    <div slot="close">
        <a href="#" v-on:click="closeModalUploadPdf" class="modal-component-close">Close</a>
    </div>
    <div slot="header"></div>
    <div slot="body">
        <div class="form">
            <fieldset>
                <legend>Upload a PDF</legend>
                <div class="u-m-b-10">
                    <label>First Name</label>
                    <input type="text" class="full-width" v-model="uploadData.firstName">
                </div>
                <div class="u-m-b-10">
                    <label>Last Name</label>
                    <input type="text" class="full-width" v-model="uploadData.lastName">
                </div>
                <div class="u-m-b-10">
                    <label>Date Of Birth</label>
                    <input id="txtDOB" type="text" class="full-width" v-model="uploadData.dob" readonly="readonly">
                </div>
                <div class="u-m-b-10">
                    <label class="u-inline-block">Gender</label>
                    <div class="ui-radio-group ui-radio-group-two u-m-l-10">
                        <div class="ui-radio-group-item" v-for="gender in genders">
                            <input type="radio" name="gender" v-bind:value="gender.Id" v-bind:id="gender.Id" v-model="uploadData.gender">
                            <label v-bind:for="gender.Id">{{ gender.Name }}</label>
                        </div>
                    </div>
                </div>
                <div class="u-m-b-10">
                    <label>Name of ECEC Service</label>
                    <input type="text" class="full-width" v-model="uploadData.service">
                </div>
                <div class="u-m-b-10">
                    <label class="u-inline-block">Has section 1.2 been completed</label>
                    <div class="ui-radio-group ui-radio-group-two u-m-l-10">
                        <div class="ui-radio-group-item" v-for="sc in sectionCompleted">
                            <input type="radio" name="sectionCompleted" v-bind:value="sc.value" v-bind:id="sc.id" v-model="uploadData.isCompleted">
                            <label v-bind:for="sc.id">{{ sc.text }}</label>
                        </div>
                    </div>
                </div>
                <div class="u-m-b-10">
                    <label class="u-inline-block">Enrolment Year</label>
                    <input type="text" style="width:156px" v-model="uploadData.enrolmentYear" v-on:keydown.prevent id="selectEnrolmentYear"/>
                </div>
                <div class="u-clearfix">
                    <label>Upload a PDF</label>
                    <div class="relative u-clearfix u-m-b-15">
                        <input id="filePdfSchoolAdmin" name="filePdfSchoolAdmin" type="file" title="Upload a PDF" class="u-cursor-pointer">
                    </div>        
                    <div v-if="uploadData.fileName != ''" class="ui-upload-file u-m-b-15">
                        <a v-bind:href="uploadData.uploadFileUrl" target="_blank">
                            <span v-text="uploadData.fileName"></span>
                        </a>
                        <span class="icon icon-sgo-delete" v-on:click="removePdfFile()"></span>
                    </div>
                    <div v-if="errorFileUploadMsg != ''" class="alert alert-error" style="margin-top: 16px;">
                        <span>{{errorFileUploadMsg}}</span>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div slot="footer">
        <div class="u-text-right">
            <button v-bind:disabled="isDisable" v-on:click="saveProfileByUploadPdf()">Save</button>
        </div>
    </div>
</modal-component>
