<modal-component v-bind:show.sync="isShowModalBatchPrint" v-bind:width="300" class="modal-component-teacher-print">
    <div slot="close"><span></span></div>
    <div slot="header">
        <div class="block-heading">
            <h1 class="block-heading-item is-active">DOWNLOAD PDF</h1>
        </div>
    </div>
    <div slot="body" class="u-m-t-20">
        <div v-if="batchPrint.isNoSelected">
            <div v-text="batchPrint.content" class="u-m-b-15"></div>
            <div class="u-text-center">
                <button v-on:click="closeBatchPrint()">Ok</button>
            </div>
        </div>
        <div v-else>
            <div v-text="batchPrint.content" class="u-m-b-15"></div>
            <div v-if="batchPrint.downloadUrl != ''" class="u-m-b-15">
                <a v-bind:href="batchPrint.downloadUrl" target="_blank" class="u-c-black"><u v-text="batchPrint.downloadText"></u></a>
            </div>
            <div class="u-text-center">
                <button v-on:click="generatePdfBatchPrint()" v-bind:disabled="batchPrint.btnCreateStatus">Create PDF</button>
                <button v-on:click="closeBatchPrint()">Close</button>
            </div>
        </div>
    </div>
    <div slot="footer"></div>
</modal-component>