<div class="development-outcome">
    <div class="development-outcome-header">
        <h2 class="development-outcome-title">Outcome 2: Children are connected with and contribute to their world</h2>
        <div class="development-outcome-error" v-if="msgErrorDevelopmentOutcome != ''">
            <span v-text="msgErrorDevelopmentOutcome"></span>
        </div>
    </div>
    <div class="development-outcome-body">
        <h3 class="development-outcome-heading">Community - Belonging, reciprocal rights and relationships</h3>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rb-1" id="rb-1-1">
                <label for="rb-1-1">Is able to cooperate with others and negotiate roles and relationships in familiar and new play episodes and group experiences.</label>
            </li>
            <li>
                <input type="radio" name="rb-1" id="rb-1-2">
                <label for="rb-1-2">Can usually cooperate with others and negotiate roles and relationships in familiar play episodes and group experiences, but requires some adult support in new settings.</label>
            </li>
            <li>
                <input type="radio" name="rb-1" id="rb-1-3">
                <label for="rb-1-3">Sometimes requires support to cooperate with others and negotiate roles and relationships in play episodes and group experiences.</label>
            </li>
        </ul>
        <h3 class="development-outcome-heading">Community - Belonging, reciprocal rights and relationships</h3>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rb-2" id="rb-2-1">
                <label for="rb-2-1">Is usually able to think of and describe ways to include others to make them feel that they belong.</label>
            </li>
            <li>
                <input type="radio" name="rb-2" id="rb-2-2">
                <label for="rb-2-2">Is beginning to be able to think of and describe ways to include others to make them feel that they belong.</label>
            </li>
            <li>
                <input type="radio" name="rb-2" id="rb-2-3">
                <label for="rb-2-3">Requires adult prompts to think of and describe ways to include others to make them feel that they belong.</label>
            </li>
        </ul>
        <h3 class="development-outcome-heading">Community - Diversity and respect</h3>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rb-3" id="rb-3-1">
                <label for="rb-3-1">Usually listens to others' (peers and adults) ideas and respects different ways of being and doing.</label>
            </li>
            <li>
                <input type="radio" name="rb-3" id="rb-3-2">
                <label for="rb-3-2">Is beginning to listen to others' (peers and adults) ideas and respect different ways of being and doing.</label>
            </li>
            <li>
                <input type="radio" name="rb-3" id="rb-3-3">
                <label for="rb-3-3">Currently requires peer and adult prompts to listen to others' (peers and adults) ideas and respect different ways of being and doing.</label>
            </li>
        </ul>
        <h3 class="development-outcome-heading">Community - Fairness</h3>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rb-4" id="rb-4-1">
                <label for="rb-4-1">Displays the ability to recognise fairness and bias and to demonstrate acts of compassion and kindness.</label>
            </li>
            <li>
                <input type="radio" name="rb-4" id="rb-4-2">
                <label for="rb-4-2">Usually displays the ability to recognise fairness and bias and to demonstrate acts of compassion and kindness.</label>
            </li>
            <li>
                <input type="radio" name="rb-4" id="rb-4-3">
                <label for="rb-4-3">Is beginning to display the ability to recognise fairness and bias and sometimes demonstrates the acts of compassion and kindness.</label>
            </li>
            <li>
                <input type="radio" name="rb-4" id="rb-4-4">
                <label for="rb-4-4">Requires adult prompts and guidance to recognise fairness and bias and to demonstrate acts of compassion and kindness.</label>
            </li>
        </ul>
        <h3 class="development-outcome-heading">Community - Fairness</h3>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rb-5" id="rb-5-1">
                <label for="rb-5-1">Understands that texts and other media can construct identities and create stereotypes.</label>
            </li>
            <li>
                <input type="radio" name="rb-5" id="rb-5-2">
                <label for="rb-5-2">Is beginning to understand that texts and other media can construct identities and create stereotypes.</label>
            </li>
            <li>
                <input type="radio" name="rb-5" id="rb-5-3">
                <label for="rb-5-3">Currently requires adult prompts to consider how texts and other media can construct identities and create stereotypes.</label>
            </li>
        </ul>
        <h3 class="development-outcome-heading">Community - Socially responsible/ respect for environment</h3>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="rb-6" id="rb-6-1">
                <label for="rb-6-1">Often demonstrates an increasing knowledge of and respect for the natural world and constructed environments, including an increased understanding of the interdependence between, land, people, plants and animals.</label>
            </li>
            <li>
                <input type="radio" name="rb-6" id="rb-6-2">
                <label for="rb-6-2">Is beginning to have some knowledge of and respect for natural world and constructed environments including an increased understanding of the interdependence between, land, people, plants and animals.</label>
            </li>
            <li>
                <input type="radio" name="rb-6" id="rb-6-3">
                <label for="rb-6-3">Currently requires adult prompts to develop further knowledge of and respect for natural and constructed environments including an increased understanding of the interdependence between, land, people, plants and animals.</label>
            </li>
        </ul>
    </div>
    <div class="development-outcome-footer">
        <button type="button" name="button" v-on:click="saveDevelopmentOutcome">OK</button>
    </div>
</div>
