<modal-component v-bind:show.sync="isShowModalConfirmReopen" v-bind:width="300" class="modal-component-teacher-print">
    <div slot="header">        
    </div>
    <div slot="body" class="u-m-t-20">
        <div class="u-m-b-15">
            Do you want to reopen the statement for editing?
        </div>
        <div class="u-text-center">
            <button v-on:click="reopenProfile()">Yes</button>
            <button v-on:click="cancelReopen()">No</button>
        </div>
    </div>
    <div slot="footer"></div>
</modal-component>