<modal-component v-bind:show.sync="isShowModalConfirmSubmit" v-bind:width="300" class="modal-component-teacher-print">
    <div slot="header">
    </div>
    <div slot="body" class="u-m-t-20">
        <div class="u-m-b-15">
            You will not be able to make any changes after completing or submitting the TLDS until you recall or reopen it. Do you want to continue?
        </div>
        <div class="u-text-center">
            <button v-on:click="submitProfile()">Yes</button>
            <button v-on:click="cancelSubmit()">No</button>
        </div>
    </div>
    <div slot="footer"></div>
</modal-component>