<div class="development-outcome">
    <div class="development-outcome-header">
        <h2 class="development-outcome-title">Outcome 5: Children are effective communicators</h2>
        <div class="development-outcome-error" v-if="msgErrorDevelopmentOutcome != ''">
            <span v-text="msgErrorDevelopmentOutcome"></span>
        </div>
    </div>
    <div class="development-outcome-body">
        <h3 class="development-outcome-heading">Communication - Interact verbally and non-verbally</h3>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="re-1" id="re-1-1">
                <label for="re-1-1">Is able to engage in enjoyable reciprocal interactions using verbal and non-verbal language with familiar and new peers/adults.</label>
            </li>
            <li>
                <input type="radio" name="re-1" id="re-1-2">
                <label for="re-1-2">Usually engages in enjoyable reciprocal interactions using verbal and non-verbal language with familiar peers/adults.</label>
            </li>
            <li>
                <input type="radio" name="re-1" id="re-1-3">
                <label for="re-1-3">Requires adult support to engage and enjoy reciprocal interactions using verbal and/or non-verbal language, particularly with new peers/adults.</label>
            </li>
        </ul>
        <h3 class="development-outcome-heading">Communication - Interact verbally and non-verbally</h3>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="re-2" id="re-2-1">
                <label for="re-2-1">Successfully uses language and representations from play, music and art to share and project meaning.</label>
            </li>
            <li>
                <input type="radio" name="re-2" id="re-2-2">
                <label for="re-2-2">Usually uses language and representations from play, music and art to share and project meaning.</label>
            </li>
            <li>
                <input type="radio" name="re-2" id="re-2-3">
                <label for="re-2-3">Sometimes uses language and representations from play, music and art to share and project meaning.</label>
            </li>
            <li>
                <input type="radio" name="re-2" id="re-2-4">
                <label for="re-2-4">Requires adult support and encouragement to use language and representations from play, music and art to share and project meaning.</label>
            </li>
        </ul>
        <h3 class="development-outcome-heading">Communication - Interact verbally and non-verbally</h3>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="re-3" id="re-3-1">
                <label for="re-3-1">Successfully conveys and constructs messages with purpose and confidence, building on literacies of home and/or family.</label>
            </li>
            <li>
                <input type="radio" name="re-3" id="re-3-1x">
                <label for="re-3-1x">Usually conveys and constructs messages with purpose and confidence, building on literacies of home and/or family.</label>
            </li>
            <li>
                <input type="radio" name="re-3" id="re-3-2">
                <label for="re-3-2">With support is able to reasonably convey and construct messages with purpose and confidence, building on literacies of home and/or family.</label>
            </li>
            <li>
                <input type="radio" name="re-3" id="re-3-3">
                <label for="re-3-3">Requires support  to convey and construct messages, building on literacies of home and/or family.</label>
            </li>
        </ul>
        <h3 class="development-outcome-heading">Communication - Interact verbally and non-verbally</h3>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="re-4" id="re-4-1">
                <label for="re-4-1">Often engages in conversations and discussions (using active listening, showing interest, and contributing ideas, information and questions, taking turns and recognising the contributions of others).</label>
            </li>
            <li>
                <input type="radio" name="re-4" id="re-4-2">
                <label for="re-4-2">Usually engages in conversations and discussions (using active listening, showing interest, and contributing ideas, information and questions, taking turns and recognising the contributions of others).</label>
            </li>
            <li>
                <input type="radio" name="re-4" id="re-4-3">
                <label for="re-4-3">Requires adult prompts to engage in conversations and discussions (using active listening, showing interest, and contributing ideas, information and questions, taking turns and recognising the contributions of others).</label>
            </li>
        </ul>
        <h3 class="development-outcome-heading">Communication - Get meaning from range of texts</h3>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="re-5" id="re-5-1">
                <label for="re-5-1">Is able to listen for and respond to sounds and patterns in speech, stories and rhymes in context.</label>
            </li>
            <li>
                <input type="radio" name="re-5" id="re-5-2">
                <label for="re-5-2">Is beginning to be able to listen for and respond to sounds and patterns in speech, stories and rhymes in context.</label>
            </li>
            <li>
                <input type="radio" name="re-5" id="re-5-3">
                <label for="re-5-3">With adult support and guidance is able to listen for and respond to sounds and patterns in speech, stories and rhymes in context.</label>
            </li>
            <li>
                <input type="radio" name="re-5" id="re-5-4">
                <label for="re-5-4">Requires adult guidance to listen for and respond to sounds and simple patterns in speech, stories and rhymes in context.</label>
            </li>
        </ul>
        <h3 class="development-outcome-heading">Communication - Get meaning from range of texts</h3>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="re-6" id="re-6-1">
                <label for="re-6-1">Is able to share feelings and thoughts about the events and characters in texts.</label>
            </li>
            <li>
                <input type="radio" name="re-6" id="re-6-2">
                <label for="re-6-2">Is beginning to share some feelings and thoughts about the events and characters in texts.</label>
            </li>
            <li>
                <input type="radio" name="re-6" id="re-6-3">
                <label for="re-6-3">With adult prompts is able to share some familiar feelings and thoughts about the events and characters in familiar texts.</label>
            </li>
        </ul>
        <h3 class="development-outcome-heading">Communication - Express ideas and make meaning</h3>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="re-7" id="re-7-1">
                <label for="re-7-1">Uses language and engages in symbolic play to imagine and create roles, scripts and ideas.</label>
            </li>
            <li>
                <input type="radio" name="re-7" id="re-7-2">
                <label for="re-7-2">Beginning to use language and engages in symbolic play to imagine and create roles, scripts and ideas.</label>
            </li>
            <li>
                <input type="radio" name="re-7" id="re-7-3">
                <label for="re-7-3">Is beginning to use language and engages in symbolic play to imagine and create roles, scripts and ideas.</label>
            </li>
            <li>
                <input type="radio" name="re-7" id="re-7-4">
                <label for="re-7-4">With adult support is able to use language and engages in symbolic play to imagine and create roles, scripts and ideas.</label>
            </li>
        </ul>
        <h3 class="development-outcome-heading">Communication - Express ideas and make meaning</h3>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="re-8" id="re-8-1">
                <label for="re-8-1">Often uses the creative arts, such as: drawing, painting, sculpture, drama, dance, movement, music or/and story-telling, to express ideas and make meaning.</label>
            </li>
            <li>
                <input type="radio" name="re-8" id="re-8-2">
                <label for="re-8-2">Sometimes uses the creative arts, such as: drawing, painting, sculpture, drama, dance, movement, music or/and story-telling, to express ideas and make meaning.</label>
            </li>
            <li>
                <input type="radio" name="re-8" id="re-8-3">
                <label for="re-8-3">Requires adult encouragement and prompts to use the creative arts, such as: drawing, painting, sculpture, drama, dance, movement, music or/and story-telling, to express ideas and make meaning.</label>
            </li>
        </ul>
        <h3 class="development-outcome-heading">Communication - Express ideas and make meaning</h3>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="re-9" id="re-9-1">
                <label for="re-9-1">Is able to recognise that sentences are key units for expressing ideas.</label>
            </li>
            <li>
                <input type="radio" name="re-9" id="re-9-2">
                <label for="re-9-2">Is beginning to recognise that sentences are key units for expressing ideas.</label>
            </li>
            <li>
                <input type="radio" name="re-9" id="re-9-3">
                <label for="re-9-3">Currently with adult guidance is beginning to recognise that sentences are key units for expressing ideas.</label>
            </li>
            <li>
                <input type="radio" name="re-9" id="re-9-4">
                <label for="re-9-4">Currently is beginning to recognise that written language is used to express ideas.</label>
            </li>
        </ul>
        <h3 class="development-outcome-heading">Communication - Express ideas and make meaning</h3>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="re-10" id="re-10-1">
                <label for="re-10-1">Understands that capital letters are used for names, and that capital letters and full stops signal the beginning and end of sentences.</label>
            </li>
            <li>
                <input type="radio" name="re-10" id="re-10-2">
                <label for="re-10-2">Is beginning to understand that capital letters are used for names, and that capital letters and full stops signal the beginning and end of sentences.</label>
            </li>
            <li>
                <input type="radio" name="re-10" id="re-10-3">
                <label for="re-10-3">With adult prompts is beginning to understand that capital letters are used for names, and that capital letters and full stops signal the beginning and end of sentences.</label>
            </li>
            <li>
                <input type="radio" name="re-10" id="re-10-4">
                <label for="re-10-4">Is beginning to understand that written text has rules and words are made up of individual letters.</label>
            </li>
            <li>
                <input type="radio" name="re-10" id="re-10-5">
                <label for="re-10-5">Requires adults to point out how written text has rules and that words are made up of individual letters.</label>
            </li>
        </ul>
        <h3 class="development-outcome-heading">Communication - How symbols and patterns work</h3>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="re-11" id="re-11-1">
                <label for="re-11-1">Often uses drawing/images and approximations of letters and words to convey meaning.</label>
            </li>
            <li>
                <input type="radio" name="re-11" id="re-11-2">
                <label for="re-11-2">Is beginning to drawing/images and approximations of letters and words to convey meaning.</label>
            </li>
            <li>
                <input type="radio" name="re-11" id="re-11-3">
                <label for="re-11-3">Currently with support and prompts is beginning to drawing/images and approximations of letters and words to convey meaning.</label>
            </li>
            <li>
                <input type="radio" name="re-11" id="re-11-4">
                <label for="re-11-4">Sometimes associates drawing/images and to convey meaning.</label>
            </li>
        </ul>
        <h3 class="development-outcome-heading">Communication - How symbols and patterns work</h3>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="re-12" id="re-12-1">
                <label for="re-12-1">Has an understanding that symbols/texts are a powerful means of communication and that ideas, thoughts and concepts can be represented through them.</label>
            </li>
            <li>
                <input type="radio" name="re-12" id="re-12-2">
                <label for="re-12-2">Is beginning to develop an awareness that symbols/texts are a powerful means of communication and that ideas, thoughts and concepts can be represented through them.</label>
            </li>
            <li>
                <input type="radio" name="re-12" id="re-12-3">
                <label for="re-12-3">Currently with adult prompts is beginning to develop an understanding that symbols/texts are a powerful means of communication and that ideas, thoughts and concepts can be represented through them.</label>
            </li>
        </ul>
        <h3 class="development-outcome-heading">Communication - How symbols and patterns work</h3>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="re-13" id="re-13-1">
                <label for="re-13-1">Has developed an awareness of the relationships between oral, visual and written representations and beginning to recognise patterns and relationships and the connections between them.</label>
            </li>
            <li>
                <input type="radio" name="re-13" id="re-13-2">
                <label for="re-13-2">Is beginning to develop an awareness of the relationships between oral, visual and written representations and beginning to recognise patterns and relationships and the connections between them.</label>
            </li>
            <li>
                <input type="radio" name="re-13" id="re-13-3">
                <label for="re-13-3">With adult prompts and guidance is becoming aware of the relationships between oral, visual and written representations and beginning to recognise patterns and relationships and the connections between them.</label>
            </li>
            <li>
                <input type="radio" name="re-13" id="re-13-4">
                <label for="re-13-4">Requires adults to point out the relationship between oral, visual and written representations.</label>
            </li>
        </ul>
        <h3 class="development-outcome-heading">Communication - Use of information technology tools</h3>
        <ul class="development-outcome-list">
            <li>
                <input type="radio" name="re-14" id="re-14-1">
                <label for="re-14-1">Often uses information and communication technologies to access images and information, explore diverse perspectives and make sense of their world.</label>
            </li>
            <li>
                <input type="radio" name="re-14" id="re-14-2">
                <label for="re-14-2">Sometimes uses information and communication technologies to access images and information, explore diverse perspectives and make sense of their world.</label>
            </li>
            <li>
                <input type="radio" name="re-14" id="re-14-3">
                <label for="re-14-3">With adult assistance can use information and communication technologies to access images and information, explore diverse perspectives and make sense of their world.</label>
            </li>
            <li>
                <input type="radio" name="re-14" id="re-14-4">
                <label for="re-14-4">Has limited experience in using information and communication technologies to access images and information, explore diverse perspectives and make sense of their world.</label>
            </li>
        </ul>
    </div>
    <div class="development-outcome-footer">
        <button type="button" name="button" v-on:click="saveDevelopmentOutcome">OK</button>
    </div>
</div>
