<modal-component v-bind:show.sync="isShowTrainingMessageModal" v-bind:width="300" class="modal-component-teacher-print">
    <div slot="header">
    </div>
    <div slot="body" class="u-m-t-20">
        <div class="u-m-b-15">
            This TLDS has not been submitted as the TLDS manager is set to training mode.
        </div>
        <div class="u-text-center">
            <button v-on:click="closeMessage()">Close</button>
        </div>
    </div>
    <div slot="footer"></div>
</modal-component>