
<style>
     .ui-widget-header {
        border: 0px solid #aaa !important;
        background: transparent !important;
        position: relative;
        top: 34px;
    }

    .ui-dialog {
        background: transparent;
        border: 0;
    }

     .ui-dialog .ui-dialog-titlebar-close {
            position: absolute;
            right: 7px;
            top: -8px;
        }

    .ui-widget-header .ui-icon {
        background-image: url("/Content/themes/base/images/fancy_close.png");
    }

    .ui-icon {
        width: 40px;
        height: 40px;
    }

    .ui-icon-closethick {
        background-position: 2px 2px;
    }

    .ui-widget-header .ui-state-hover {
        border: 0;
        background: transparent !important;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        width: 30px;
        height: 42px;
    }

    .sticky {
        padding-left: 500px;
    }
     .left-col {
         width: 110px;
         float: left;
     }

    .right-col {
        width: 275px;
        float: left;
    }
</style>
<section>
    <div class="block-border" id="divRecallProfile">
        <div class="block-content form bubbleSheetSelector">
            <h1>Recall Statement</h1>
            <ul id="recall-profile-success-message" class="message success u-m-t-20" style="display: none">
                <li>Profile has been recalled</li>
            </ul>
            <ul id="recall-profile-error-message" class="message error u-m-t-20" style="display: none">
                <li> </li>
            </ul>
            <br/>
            <p class="u-m-b-10">By clicking recall you will get this TLDS back from the School and will be able to edit so the Statement can be amended and resubmitted.</p>
            <div style="text-align: left; line-height: 170%">
                <div class="left-col">Submitted Student:</div>
                <div class="right-col u-m-t-10">@ViewBag.SubmittedStudent</div>
                <br/>
                <div class="clear"></div>
                <div class="left-col">Enter reason:</div>
                <div class="right-col" style="margin-top: -4px;">
                    <textarea id="Reason" cols="35" rows="5" class="u-full-width"></textarea>
                </div>
                <br/>
            </div>
            <p style='text-align: center; margin-top: 20px;margin-left: -30px'>
                <button type="button" id="btnCallProfile" onclick="recallProfile(@ViewBag.ProfileId)">Recall</button>
                <button type="button" id="btnCancelRecallProfile" onclick="closeRecallDialog()">Cancel</button>
            </p>
        </div>
    </div>
</section>

<script>
    function recallProfile(profileId) {
        var reason = $('#Reason').val();
        if (reason.trim().length == 0) {
            CustomAlert('Please enter reason');
            return;
        }

        ShowBlock($('#divRecallProfile'), 'Recall');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("RecallTLDS", "TLDSManage")',
            data: { profileId: profileId, reason: encodeURIComponent(reason) },
            dataType: 'json',
            success: function (data) {
                if (data.Success) {
                    $('#btnCallProfile').prop('disabled', true);
                    $('#divRecallProfile').unblock();
                    $('#recall-profile-success-message').show();
                    setTimeout(function () {
                        closeRecallDialog();
                        refreshDataTable();
                    }, 3000);
                } else {
                    $('#recall-profile-error-message').show();
                    $('#recall-profile-error-message').html('<li>' + data.Error + '</li>');
                    $('#divRecallProfile').unblock();
                }
            }
        });
    }

    function closeRecallDialog() {
        $('#PopupTLDSRecall').dialog("close");
    }

    
</script>

