@model LinkIt.BubbleSheetPortal.Web.ViewModels.TDLS.TDLSProfileViewModel
<section >
    <div class='block-border'>
        <div class='block-content' id="divTLDSPrintConfirm">
            <h1>TLDS Draft form Print</h1>             
            <div>
                <p>
                    Click to create Draft PDF form?
                </p>
                <p >
                    <a id="idlinkSGOFilePrint" target="_blank" style="display: none;" href="#">
                        <u>
                            Click here to open PDF file
                        </u>
                    </a>
                </p>
                <p style="text-align: center;">
                    <button id="idbtnSGOSavePDFFile" type="button" onclick="printPDFBlankForm(@Model.ProfileId)">Create PDF</button>
                    <button id="idbtnCloseSGOPrintPopup" type="button" onclick="closeTLDSPrintPopup()">Close</button>
                    <input id="hdfGenericPDFLoaded" type="hidden" value="0"/>
                </p>
            </div>
        </div>
    </div>
</section>
 