@model LinkIt.BubbleSheetPortal.Web.ViewModels.TDLS.TDLSProfileViewModel
<section >
    <div class='block-border'>
        <div class='block-content' id="divTLDSPrintConfirm">
            <h1>DOWNLOAD PDF</h1>
            <div>
                <p>
                    Click to generate a PDF of this TLDS. You can then download and print.
                </p>
                <p >
                    <a id="idlinkSGOFilePrint" target="_blank" style="display: none;" href="#">
                        <u>
                            Click here to download file.
                        </u>
                    </a>
                </p>
                <p style="text-align: center;">
                    <button id="idbtnSGOSavePDFFile" type="button" onclick="printBatchReportTLDS('@ViewBag.ProfileIdList')">Create PDF</button>
                    <button id="idbtnCloseSGOPrintPopup" type="button" onclick="closeTLDSPrintPopup()">Close</button>
                    <input id="hdfGenericPDFLoaded" type="hidden" value="0"/>
                </p>
            </div>
        </div>
    </div>
</section>
