<div class="no-margin last-child" >
        <table id="dataTableAssignedMasterStandardList" class="datatable table no-margin" width="100%" >
                    <thead>
                        <tr>
                            <th scope="col" style="width: 15px"></th>
                            <th scope="col">
                                <span class="column-sort">
                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                </span>
                                State
                            </th>
                            <th scope="col">
                                <span class="column-sort">
                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                </span>
                                Subject
                            </th>
                            <th scope="col">
                                <span class="column-sort">
                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                </span>
                                Year
                            </th>
                            <th scope="col">
                                <span class="column-sort">
                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                </span>
                                @LabelHelper.GradeLabel
                            </th>
                            <th scope="col">
                                <span class="column-sort">
                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                </span>
                                Level
                            </th>
                            <th scope="col">
                                <span class="column-sort">
                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                </span>
                                Label
                            </th>
                            <th scope="col">
                                <span class="column-sort">
                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                </span>
                                Number
                            </th>
                            <th scope="col">
                                <span class="column-sort">
                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                </span>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
</div>
<script type="text/javascript">
    $(function () {
        
    var optionsAssignedStandard = {
            bServerSide: true,
            sAjaxSource: '@Url.Action("GetAssignedMasterStandards")?standardIdString=' + '@ViewBag.StandardIdString',
            fnServerParams: function (aoData) {
                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        //when passing parameter to searchbox then click on allpy filter, tabase does not recognize parameter, need to assign parameter to searchbox manually
                        if (item.value.length == 0 && $("input[aria-controls|='dataTableAssignedMasterStandardList']").val().length > 0) {
                            item.value = $("input[aria-controls|='dataTableAssignedMasterStandardList']").val();
                        }

                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''");
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }
                        break;//only process searchbox
                    }
                }
            },
            bAutoWidth: false,
            iDisplayLength: 25,
            aaSorting: [[1, "asc"], [7, "asc"]],
            aoColumns: [
                { sType: 'integer', sName: 'MasterStandardId', bSearchable: false, bSortable: false },
                { sType: 'string', sName: 'State', bSearchable: true, bSortable: true, sWidth: '60px' },
                { sType: 'string', sName: 'Subject', bSearchable: true, bSortable: true, sWidth: '120px' },
                { sType: 'integer', sName: 'Year', bSearchable: true, bSortable: true, sWidth: '60px' },
                { sType: 'string', sName: 'Grade', bSearchable: true, bSortable: true, sWidth: '70px' },
                { sType: 'integer', sName: 'Level', bSearchable: true, bSortable: true,bVisible:false },
                { sType: 'string', sName: 'Label', bSearchable: true, bSortable: true,bVisible: false },
                { sType: 'string', sName: 'Number', bSearchable: true, bSortable: true, sWidth: '80px' },
                { sType: 'string', sName: 'Description', bSearchable: true, bSortable: true, sWidth: '250px' }
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibilityNotMatch(aData[0]));
                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTableAssignedMasterStandardList'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#dataTableAssignedMasterStandardList').unblock();
                $('.with-tip').tip();
                $('#dataTableAssignedMasterStandardList_wrapper .block - controls').css('marginTop', '100px');

            }
        };

        $("#dataTableAssignedMasterStandardList").data("options", optionsAssignedStandard);
        initializeDataTable($("#dataTableAssignedMasterStandardList"));

        $('.control-next').css('margin-right', '0px');

        
        function setIconVisibilityNotMatch(id) {
            var deleteIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/cross-circle.png")';
            var deleteString = '<a href="javascript:void(0)" title="Remove" operation="1" masterStandardId="' + id + '" class="with-tip actionIcon removeAssignedMasterStandard"><img src="' + deleteIcon + '" width="16" height="16"></a>';
            return deleteString;
        }
        
        $('#dataTableAssignedMasterStandardList .removeAssignedMasterStandard').die("click");
        $('#dataTableAssignedMasterStandardList').on('click', '.removeAssignedMasterStandard', function () {
            if (confirm("Do you want to remove this master standard from this lesson?")) {
                var self = $(this);

                var masterStandardId = self.attr('masterStandardId');
                var data = self.closest('.dialog');

                self.hide();
                $("#iconAdd_" + masterStandardId).show();
                $("#iconDelete_" + masterStandardId).hide();
                LinkIt.success('#masterStandardNotInLessonNotifications', 'Master Standard Removed');
                

                var standardIdList = $("#AssignedStandardIdString").val();//AssignedGradeIdString is declared in AddResource.cshtml 
                if (standardIdList == null) {
                    standardIdList = '';
                }
                standardIdList = standardIdList.replace(',-' + masterStandardId + '-', '');
                $("#AssignedStandardIdString").val(standardIdList);//just update on screen, not save to database

                PopulateAssignedMasterStandards(standardIdList);//call this function to display assigned standard in the AddResource.cshtml
            }
        });
        
    });
</script>