
<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004'>
        <div id="CloneTestPopupConfirmId" class='block-content form p-4' style='z-index: 1004'>
            <h3 class="mb-3 p-0 h3 modal-heading">Enter New Form Bank Name</h3>
            <div style="margin-bottom: 24px;" class="mb-4">
                <input type="text" id="txtVirtualTestName" class="full-width" maxlength="150" />
            </div>
            <ul style="display: none" id="error-messages-confirm" class="message error"></ul>
            <ul style="display: none" id="success-message-confirm" class="message success"></ul>
            <div class="clear"></div>
            <div class="modal-component-footer mx-n4">
                <div slot="footer">
                    <button type="button" id="btnCloneBankCancel" onclick="cancelCloneBank()">Cancel</button>
                    <button type="button" id="btnCopyVirtualTest" onclick="cloneBank()">Copy</button>
                </div>
            </div>
        </div>

    </div>
</section>

<script type="text/javascript">
    $(function () {
        $('#txtVirtualTestName').val(htmlDecode('@ViewBag.VirtualTestName') + '_Clone');
    });

    function cloneBank() {
        console.log('1')
        var virtualTestId = '@ViewBag.VirtualTestId';
        var newVirtualTestName = $('#txtVirtualTestName').val();
        ShowBlock($('#CloneTestPopupConfirmId'), "Copying");
        $.ajax({
            url: '@Url.Action("CloneTestBank", "DataLockerEntryForm")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ virtualTestId: virtualTestId, virtualTestName: newVirtualTestName }),
            success: function (response) {
                if (response.Success == true) {
                    $('#success-message-confirm').html('<li>Form successfully copied.</li>');
                    $('#success-message-confirm').show();
                    //close dialog
                    setTimeout(function () { $(".dialog").dialog("close"); }, 2000);
                } else {
                    $('#divMoveVirtualTest > #error-messages').show();
                    $("#divMoveVirtualTest > #error-messages").html('<li>' + response.Error + '</li>');
                    $('#divPopupMoveVirtualTestConfirmDialog').remove();
                    $('#divMoveVirtualTestID').unblock();
                    $('.opacityPopup').css('display', 'none');
                }
                $('#CloneTestPopupConfirmId').unblock();
                $('#dataTableTestBank').dataTable().fnDraw(false);
            }
        });
    }

    function cancelCloneBank() {
        $("#PopupCloneBank").dialog("close");
        $('#dataTableTestBankTop').unblock();
    }
</script>
