<div class="block-content form" style="height:425px;">
    <div class="toggle" style="padding-top: 0px; height: 30px; margin-top: -55px">
        <h1 style="margin-top: -5px">
            @if(ViewBag.QtiItemIdString.Contains(","))
            {
                <text>
                    Mutual Associated Tags
                </text>
            }
            else
            {
                <text>
                    Associated Tags
                </text>
            }
            

        </h1>
    </div>
    <div class="no-margin last-child" style="height:425px;overflow: hidden;padding-top: 37px">
        <table id="dataTableAssignedLinkitDefaultTag" class="datatable table no-margin" width="100%">
            <thead>
                <tr>
                    <th scope="col" style="width: 100px">
                        
                    </th>
                    <th scope="col">
                        <span class="column-sort">
                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                        </span>
                        
                    </th>
                    <th scope="col">
                        <span class="column-sort">
                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                        </span>
                        Tag
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    var oTableLinkitDefaultTagAssigned;
    //get the mutal tag of selected qtiitems
    $(function () {
        LoadAssignedLinkitDefaultTagTable();
    });

    
    function LoadAssignedLinkitDefaultTagTable() {
        var options = {
            bServerSide: true,
            bDestroy: true,
            sAjaxSource: getAjaxSourceForAssignedLinkitDefaultTag(),
            fnServerParams: function (aoData) {
                //TuanVo:encode text in filter searchbox 
                var item = null;

                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''"); // when user type " or "", or """,...in searchbox, system will issue an error, this code fix that error
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }
                        break;
                    }

                }

            },
            bFilter: false,
            bStateSave: false,
            bAutoWidth: false,
            iDisplayLength: 10,
            aaSorting: [[1, "asc"]],
            aoColumns: [
                { sType: 'integer', sName: 'TagId', bSearchable: false, bSortable: false, sWidth: '20px' },
                { sType: 'string', sName: 'LinkitDefaultTagCategory', bSearchable: false, bSortable: true, sWidth: '50px' },
                { sType: 'string', sName: 'Tag', bSearchable: false, bSortable: true, sWidth: '400px' }
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibilityAssignedLinkitDefaultTag(aData[0],aData[1]));
                
                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTableAssignedLinkitDefaultTag'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#dataTableAssignedLinkitDefaultTag').unblock();
                $('.with-tip').tip();
                addScrollBarToTable('dataTableAssignedLinkitDefaultTag');
                $('#divdataTableAssignedLinkitDefaultTag').height(288);
                $('#divdataTableAssignedLinkitDefaultTag').css('margin-top', '-23px');
            }
        };

        $("#dataTableAssignedLinkitDefaultTag").data("options", options);
        initializeDataTable($("#dataTableAssignedLinkitDefaultTag"));
        oTableLinkitDefaultTagAssigned = $('#dataTableAssignedLinkitDefaultTag').dataTable();
    }
    
    function getAjaxSourceForAssignedLinkitDefaultTag() {
        var MutualTopicIdString = $('#MutualTopicIdString').val();//defined in _Tag.cshtml
        if (MutualTopicIdString == null) {
            MutualTopicIdString = '';
        }
        var MutualSkillIdString = $('#MutualSkillIdString').val();
        if (MutualSkillIdString == null) {
            MutualSkillIdString = '';
        }
        var MutualOtherIdString = $('#MutualOtherIdString').val();
        if (MutualOtherIdString == null) {
            MutualOtherIdString = '';
        }

        return '@Url.Action("GetMutualAssignedLinkitDefaultTags", "QTIItemTag")/?mutualTopicIdString=' + MutualTopicIdString + '&mutualSkillIdString=' + MutualSkillIdString + '&mutualOtherIdString=' + MutualOtherIdString;
    }
    
    function setIconVisibilityAssignedLinkitDefaultTag(tagId,linkitDefaultTagCategory) {
        //linkitDefaultTagCategory is one of topic,skill,other
        linkitDefaultTagCategory = linkitDefaultTagCategory.toLowerCase().trim();
        
        var deleteIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/icon-red.png")';
        var deleteString = '<a id="iconAssignedDelete_' + linkitDefaultTagCategory + '_' + tagId + '" href="javascript:void(0)" onclick="RemoveLinkitDefaultTag(this);" title="Remove Tag" operation="1"  class="with-tip actionIcon "><img src="' + deleteIcon + '" width="18" height="18"></a>';

        var result = '';
        result = deleteString; //allow only delete
        return result;
    }
    function ReloadLinkitDefaultTagAssigned() {
        $("#dataTableAssignedLinkitDefaultTag").dataTable().fnReloadAjax(getAjaxSourceForAssignedLinkitDefaultTag());
    }
    function RemoveLinkitDefaultTag(control) {
        $('#tips').empty();
        var self = $(control);
        var id = self.attr('id');
        var category = id.split('_')[1];
        var tagId = id.split('_')[2];

        ConfirmLinkitDefaultDeselect("Do you want to remove this tag?", category, tagId);
        
        
        
    }
</script>
<script type="text/javascript">
    function ConfirmLinkitDefaultDeselect(message, category, tagId) {
        var hbody = $("body").height() - 109;
        var strHtml = '<section class="grid_5" style="height:140px;">' +
            '<div class="block-border" style="width: 350px; min-height: 100px;">' +
            '<div class="block-content form" style="padding-bottom:0px">' +
            '<table cellpadding="0" cellspacing="0" style="margin-top:-15px;"><tr><td><p class="styleMessage" style="margin-bottom:10px;">' + message +
            '</p></td></tr><tr><td>' +
            '<p class="plButton"  style="margin-bottom:10px;text-align: center">' +
            '<button id="btnOk" type="button" name="ok" onclick="ConfirmLinkitDefaultDeselectOkClick(' + "'" + category + "'" + ',' + tagId + ')">OK</button>' +
            '<button id="btnCancel" type="button" name="cancel" onclick="ConfirmLinkitDefaultDeselectCancelClick()" style="margin-left:10px;">Cancel</button>' +
            '</p></td></tr></table></div></div></section>';
        $("<div></div>")
            .html(strHtml)
            .addClass("dialog")
            .attr("id", "ConfirmLinkitDefaultDeselectDialog")
            .appendTo("body")
            .dialog({
                open:function () {
                    $('#ConfirmLinkitDefaultDeselectDialog').prev().css('top', '30px');//adjust postion for title bar
                },
                close: function () { $(this).remove(); },
                modal: true,
                width: 420,
                maxheight: 100,
                resizable: false
            });

        $(".ui-dialog").css("height", hbody);

    }
    function ConfirmLinkitDefaultDeselectOkClick(category, tagId) {
        $.post('@Url.Action("RemoveLinkitDefaultTagForManyQtiItems", "QTIItemTag")', { qtiItemIdString: '@ViewBag.QtiItemIdString', linkitDefaultCategory: category, tagId: tagId }, function (response) {
            if (response.Success == 'Success') {

                LinkIt.success('#divLinkitDefaultTagNotifications', 'Tag Removed');//divLinkitDefaultTagNotifications is defined in _Tag.cshtml

                category = category.toLowerCase();
                var idString = '';

                if (category == 'topic') {
                    idString = $('#MutualTopicIdString').val();
                    if (idString == null) {
                        idString = '';
                    }
                    idString = idString.replace(',-' + tagId + '-', '');
                    $('#MutualTopicIdString').val(idString);
                    $("#iconAdd_topic_" + tagId).show();
                    $("#iconDelete_topic_" + tagId).hide();
                }
                if (category == 'skill') {
                    idString = $('#MutualSkillIdString').val();
                    if (idString == null) {
                        idString = '';
                    }
                    idString = idString.replace(',-' + tagId + '-', '');
                    $('#MutualSkillIdString').val(idString);
                    $("#iconAdd_skill_" + tagId).show();
                    $("#iconDelete_skill_" + tagId).hide();
                }
                if (category == 'other') {
                    idString = $('#MutualOtherIdString').val();
                    if (idString == null) {
                        idString = '';
                    }
                    idString = idString.replace(',-' + tagId + '-', '');
                    $('#MutualOtherIdString').val(idString);
                    $("#iconAdd_other_" + tagId).show();
                    $("#iconDelete_other_" + tagId).hide();
                }

                ReloadLinkitDefaultTagAvailable();//defined in _ListLinkitDefaultTagAvailable.cshtml
                //reload assigned list
                ReloadLinkitDefaultTagAssigned();
                $("#ConfirmLinkitDefaultDeselectDialog").dialog("close");
            } else {
                alert(response.errorMessage);
            }

        });
    }
    function ConfirmLinkitDefaultDeselectCancelClick() {
        $("#ConfirmLinkitDefaultDeselectDialog").dialog("close");
    }
</script>