/*TEST ITEM STYLES*/
.referenceObject {
	display: none;
}

.testTitle {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif, "dejavu_sansbook";
}

inlineChoiceInteraction {
	border: #888 solid 1px;
	background-color: #ddd;
	display: inline;
	width: 100px;
	padding-left: 28px;
	padding-right: 28px;
}

.inlineChoice {
	display: none;
}

.textEntryInteraction {
	border: #888 solid 1px;
	display: inline;
	width: 80px;
	padding-left: 28px;
	padding-right: 28px;
}

.answer {
	text-align: left;
	font-size: 14px;
    padding: 0 8px;
	vertical-align: top;
}

.passage {
	text-align: left;
	font-size: 14px;
    padding: 8px;
	line-height: 1.57143em;
}

.ItemContentSpan {
	line-height: 130%;
}

.ItemContentIGE {
	line-height: 100%;
}

.italic {
	font-style:	italic;
}

.underline {
	text-decoration: underline;
}

.variable {
	font-style: italic;
}

.word-callout {
	text-decoration: underline;
}

.content-emphasis {
	font-weight: bold;
	color: red;
}

.short-quote {
	font-weight: bold;
}

.book-title-k5 {
	text-decoration: underline;
}

.book-title {
	font-style: italic;
}

.proper-name {
	font-style: italic;
}

.text-block {
	text-indent: 60px;
	font-family: Georgia;
}

.block-quote {
	text-indent: 60px;
	font-family: Georgia;
}

.equation-block {
	text-align: center;
}

.blockQuote {
	text-indent: 60px;
	font-family: Georgia;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.sup,
sup {
    vertical-align: super;
    font-size: smaller;
    padding-left: 2px;
}

.sub,
sub {
    vertical-align: -15%;
    font-size: 70%;
    padding-left: 2px;
}

.nobreak {
	page-break-inside: avoid;
}

.class3 {
	text-align: center;
	line-height: 100%;
}

.imageBlock {
	text-align: center;
	line-height: 100%;
}

.answer .imageBlock {
	text-align: left;
	line-height: 100%;
}

.filterLabel {
	font-weight: bold;
}

img[isMathAlt="true"] {
    display: none;
}

.no-border-linkit-table {
    border: 1px solid transparent;
}

.no-border-linkit-table tr td {
    border: solid 0 #000;
}

.boxedText {
    padding: 0 5px;
    border: 1px solid #000;
    display: inline-block;
    margin-bottom: 5px;
}

partialsequence {
    width: 95%;
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
    background-color: #f7f7f7;
    display: block;
	margin: 5px 0px;
}

partialsequence sourceitem,
partialsequence .sourceItem{
    background-color: #eee;
    border: 1px solid #08c;
    box-sizing: border-box;
    color: #1c94c4;
    font-weight: 700;
    margin: 5px;
    overflow: hidden;
    padding: 2px;
    display: block;

}

partialsequence sourceitem div,
partialsequence .sourceItem div {
    display: inline-block;
}

.hotspot-checkbox,
.hotspot-circle {
    width: 19px;
    height: 19px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    z-index: 1;
    top: 3px;
}

.hotspot-checkbox {
    background: url("/Content/themes/TestMaker/plugins/tablehotspotselection/icons/unchecked.png") no-repeat;
}

.hotspot-checkbox.selected {
    background: url("/Content/themes/TestMaker/plugins/tablehotspotselection/icons/checked.png") no-repeat;
}

.hotspot-circle {
    background: url("/Content/themes/TestMaker/plugins/tablehotspotselection/icons/unchecked-circle.png") no-repeat;
}

.hotspot-circle.selected {
    background: url("/Content/themes/TestMaker/plugins/tablehotspotselection/icons/checked-circle.png") no-repeat;
}