:root {
  /*color*/
  --white: #fff;
  --blue1: #F4FAFF;
  --blue3: #C3E3F0;
  --navyColor: #1E1E54;
  --borderButton: #757E90;
  --green: #339441;
  --selectBorder: #BFBFBF;
  --green2: #339441;
  --borderColor: #dfdddd;
  --blueBorder: #0088cc;
  --greyBorder: #bebebe;
  --penn-blue: #1e1e54ff;
  --matching-line-margin-space: 20px;
  --anchor-pos: -16px
}

  @font-face {
    font-family: 'dejavu_sansbook';
    src: url('dejavusans-webfont.eot');
    src: url('dejavusans-webfont.eot?#iefix') format('embedded-opentype'), url('dejavusans-webfont.ttf') format('truetype'), url('dejavusans-webfont.woff'), url('dejavusans-webfont.svg#dejavusans-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/Content/font/roboto-400.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/Content/font/roboto-500.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/Content/font/roboto-700.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  .cke_editable{font-size: 16px;line-height: 1.57143em;font-family: 'Roboto', Verdana, Arial, Helvetica, sans-serif; min-height: 384px;}
blockquote{font-style: italic;font-family: 'Roboto', Verdana, Arial, Helvetica, sans-serif;padding: 2px 0;border-style: solid;border-color: var(--borderColor);border-width: 0;}
.cke_contents_ltr blockquote{padding-left: 20px;padding-right: 8px;border-left-width: 5px;}
.cke_contents_rtl blockquote{padding-left: 8px;padding-right: 20px;border-right-width: 5px;}
a{color: #0782C1;}
ol,ul,dl{/* IE7: reset rtl list margin. (#7334) */margin-right: 0px;/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/padding: 0 40px;}
h1,h2,h3,h4,h5,h6{font-weight: normal;line-height: 1.57143em;}
hr{border: 0px;border-top: 1px solid var(--borderColor);}
img.right{border: 1px solid var(--borderColor);float: right;margin-left: 15px;padding: 5px;}
img.left{border: 1px solid var(--borderColor);float: left;margin-right: 15px;padding: 5px;}
pre{white-space: pre-wrap; /* CSS 2.1 */word-wrap: break-word; /* IE7 */}
.marker{background-color: Yellow;}
span[lang]{font-style: italic;}
figure{text-align: center;border: solid 1px var(--borderColor);border-radius: 2px;background: rgba(0,0,0,0.05);padding: 10px;margin: 10px 20px;display: block; /* For IE8 */}
figure figcaption{text-align: center;display: block; /* For IE8 */}
.checkResult{float: left;width: 30px;height: 30px;}
.simpleChoice{padding-left: 30px;min-height: 30px;}
.correctAnswer{height: 30px;}
.responseDeclaration,
.inlineChoice {display: none !important;}
.textEntryInteraction {
  display: inline-block;
  max-width: 250px;
  width: 95%;
  height: 41px;
  border: solid 2px var(--navyColor);
  background-color: var(--white);
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  padding: 0.65rem 0.59rem;
}
.inlineChoiceInteraction {
  display: inline-block;
  max-width: 250px;
  width: 95%;
  height: 41px;
  border: solid 2px var(--navyColor);
  background-color: var(--white);
  cursor: pointer;
  background: url('plugins/inlinechoice/images/arrow-down.png') no-repeat right 8px center var(--white);
  position: relative;
  vertical-align: middle;
  padding: 0.65rem 1.5rem 0.65rem 0.59rem;
}
.itemtypeonimage .inlineChoiceInteraction {
    max-width: 90px;
    width: 95%;
    height: 26px;
    padding: 0px;
}
.smallText{font-size:10px;}
.normalText{font-size: 14px;}
.largeText{font-size:20px;}
.veryLargeText{font-size:25px;}
.smallText .inlineChoiceInteraction {max-width: 50px;height: 14px;background-position: right -1px;}
.normalText .inlineChoiceInteraction {max-width: 90px;height: 20px;background-position: right 2px;}
.largeText .inlineChoiceInteraction {max-width: 130px;height: 24px;background-position: right 6px;}
.veryLargeText .inlineChoiceInteraction {max-width: 170px;height: 28px;background-position: right 6px;}

.Small{font-size:10px;}
.Normal{font-size: 14px;}
.Large{font-size:20px;}
.X-Large{font-size:25px;}

.cke_editable {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 16px;
  font-family: "Roboto", "Lucida Sans Unicode" !important;
}
.cke_editable > * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
  .cke_editable .drawTool {
    display: inline-block;
    width: 200px;
    height: 90px;
    border: solid 1px #d8d8d8;
    background-color: #e7e7e7;
    cursor: pointer;
    margin: 2px;
    background: url('v2/draw_area.svg') no-repeat 8px 8px;
    position: relative;
  }
  .cke_editable .extendText {
    position: relative;
    display: block;
    max-width: 800px;
    width: 99%;
    height: 90px;
    border: solid 1px #d8d8d8;
    background-color: #e7e7e7;
    cursor: pointer;
    margin: 2px;
    background: url('plugins/extendtext/images/extendtext-v2.svg') no-repeat 3px 4px;
  }
/*.cke_editable .multipleChoice{display:  inline-block;width:  97%;border:  solid 0px #fff;border-radius: 6px;background-color: #fff;cursor: pointer;margin:  2px;padding: 10px;position: relative;}*/
  .cke_editable .multipleChoice {
    display: block;
    width: 100%;
    max-width: 800px;
    background-color: var(--bg-white);
    cursor: pointer;
    margin: 0px;
    margin-bottom: 5px;
    padding: 24px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
.multipleChoice .audioIcon{background:  white;width: 30px;height: 30px;display: inline-block;vertical-align: middle;float: left;position:relative;z-index:1000;background-size: contain;border-radius: 50%;padding: 2px;}
.multipleChoice .audioIcon > img {
    width: 24px;
    height: 24px;
    background: white;
    border-radius: 4px;
    margin: 2px;
}
.multipleChoice .nonAudioIcon{width: 30px;height: 30px;display: inline-block;vertical-align: middle;float: left;}
.multipleChoice .item {
    display: flex;
    padding: 11px 2%;
    width: 100%;
    margin: 10px 0px;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    align-items: center;
}
.multipleChoice .answer {font-size: 18px;vertical-align: middle;padding:0 10px;float: left;}
.multipleChoice .answerContent {
    width: 100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
            align-items: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-start;
    text-align: left;
    padding-left: 25px;
    float: right;
    flex-wrap: wrap;
    align-items: center;
}
.multipleChoice .answerContent ol, .multipleChoice .answerContent ul {
  width: 100%;
}
.cke_dialog_contents_body .cke_dialog_page_contents, .cke_dialog_contents_body .cke_dialog_page_contents table,
.cke_dialog_contents_body .cke_dialog_page_contents .divMultipleChoice,
.cke_dialog_contents_body .cke_dialog_page_contents .divMultipleChoiceVariable
{
  height: 100%;
}
.cke_dialog_contents_body .box-dialog-mutiple {
  min-height: calc((100%) - 132px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
#multipleChoice, #multipleChoiceVariable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#multipleChoice > li, #multipleChoiceVariable > li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#multipleChoice > li .content .cke ,#multipleChoice > li .content .cke_inner{
  height: 100%;
}
#multipleChoiceVariable > li .content .cke ,#multipleChoiceVariable > li .content .cke_inner{
  height: 100%;
}
#multipleChoiceVariable > li .content .cke_contents {
  min-height: 100%;
}
#multipleChoice > li .content .cke_contents {
  min-height: 100%;
}
.multipleChoice .answerContent > div {
    -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(100% - 80px);
                flex: 0 0 calc(100% - 80px);
}

.multipleChoice .answerContent > .alignRight,
.multipleChoice .answerContent > .center {
    -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;

    margin-left: -60px;
}
  .multipleChoice .answerContent > img {
    max-width: 100%;
    height: auto;
  }
.cke_editable table .multipleChoice {width: 93%;}
table .multipleChoice .nonAudioIcon {width: 10%;}
table .multipleChoice .answer {width: 10%;}
table .multipleChoice .answerContent {width: 60%;}
.multipleChoice .answerCorrect {
    background-color: var(--green);
    color: var(--white);
}
.multipleChoice .multipleChoiceMark,
.multipleChoice .multipleChoiceVariableMark,
.extentTextInteractionMark,
.sequenceMark {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    cursor: pointer;
    border: 3px solid var(--blue3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.cke_editable .drawTool .imageDrawTool, .numberLineInteraction {position: absolute;left: 0px;top: 0px; display: block;z-index: 1;cursor: pointer;}

.bold {font-weight: bold;}
.italic {font-style: italic;}
.underline {text-decoration: underline;}
.cke_editable p {margin: 0px}
.cke_editable .math-tex {font-size: 120%;position: relative;top: -1px;}
.textEntryInteractionMark,
.inlineChoiceInteractionMark {cursor: pointer;}
.audioIcon > .bntStop {display:none}
.audioIcon > .audioRef {display:none}
.nonAudioIcon > .bntPlay {display:none}
.nonAudioIcon > .bntStop {display:none}
.nonAudioIcon > .audioRef {display:none}
img[isMathAlt="true"] {display: none;}
.alignLeft {text-align: left;}
.center {text-align: center;}
.alignRight {text-align: right;}
.alignJustify {text-align: justify;}
.cke_editable img.imageupload[data-math-type="leaui_fomula"] {margin-right: 0px;vertical-align:middle}
.nobreak { white-space: nowrap;}
.cke_combo__dropdownsubpart .cke_combo_text {width: 103px; }
.cke_panel_listItem { padding-bottom: 0px;}

.partialCredit {
  display: inline-block;
  width: auto;
  height: auto;
  background-color: var(--bg-white);
  cursor: pointer;
  position: relative;
}
.divContent.resizeContent {
  height: 100px;
  border: 1px solid var(--grey0);
  width: 400px;
  display: block;
}
.partialCredit .close_item {
    display: none;
}

.partialCredit .imgPartialCredit {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    cursor: pointer;
}
.hotpot {
    border: 1px solid red;
}
.txtEnterInput {
    border: 1px solid;
    vertical-align: top;
    display: block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    z-index: 1001;
}
.partialAddSourceText,
.partialAddSourceNumerical {
  display: inline-block;
  width: auto;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  color: gray;
  background-color: var(--grey3);
  border: 1px solid var(--blueBorder);
  color: #1c94c4;
  font-weight: bold;
  margin: 2px 0;
  padding: 0 4px 2px;
  word-wrap: break-word;
  overflow: hidden; /* Hidden source text by height define in property draggable object source text */
  border-radius: 0;
  padding: 8px;
  padding-right: 30px;
  border-color: var(--blue3);
  background-color: var(--blue1);
  color: var(--navyColor);
  font-size: 0.9em;
  background: url('plugins/dragdropnumericalsource/images/drag_indicator.svg') no-repeat right 4px center var(--blue1);
}

.partialAddDestinationText,
.partialAddDestinationNumerical {
  display: inline-block;
  width: auto;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  margin: 2px 0;
  padding: 0 4px 2px;
  color: gray;
  font-style: italic;
  border: 1px solid var(--greyBorder);
  word-wrap: break-word;
  overflow: hidden;
  border-radius: 0;
  background-color: var(--white);
  color: var(--navyColor);
  border-color: var(--borderButton);
  padding: 8px;
}

.partialAddDestinationText:hover {
    border:  solid 1px #05b2c6;
}
.hotSpot {
    cursor: default;
    border: solid 1px #000000;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
}
.hotSpotError {
    border: solid 1px red;
}
.hotSpotOk {
    border: solid 1px #000000;
}
.cke_widget_mask {
    width: 100% !important;
}
.partialAddDestinationImageMark {
    z-index: 1;
}
.cke_editable .active-border {
    border: 1px solid red;
}
.cke_editable .single-click,
.cke_editable .single-click-variable {
  z-index: 99999;
  position: relative;
  cursor: pointer;
  margin-right: 5px;
  border: 1px solid var(--borderButton);
  font-size: 14px;
  font-weight: bold;
  min-height: 40px;
  padding: 11px 12px;
  color: var(--navyColor);
  background-color: transparent;
}
.cke_editable ol {
    position: relative;
}
.cke_editable ol li:before {
    content: ".";
    color: transparent;
    font-weight: bold;
    position: absolute;
    font-size: 20px;
    line-height: 18px;
    left: 27px;
}
.cke_editable ol li div[style*='level'] {
    display: inline-table !important;
}
.cke_editable ol li p[style*='level'] {
    display: inline-table !important;
}
sup {
    vertical-align: 8px;
    font-size:smaller;
    padding-left:2px
}
sub {
    vertical-align: sub;
    font-size:smaller;
    padding-left:2px
}
.cke_editable a {
    /*color: #333 !important;*/
    text-decoration: none;
}
.cke_editable table {
    table-layout: fixed;
    border-spacing: 0px;
    border-collapse: collapse;
    border: 0px solid black;
}
.cke_editable table tr td {
    word-wrap: break-word;
    vertical-align: top;
    border: 1px solid black !important;
}
.borderBox {
  padding: 0;
  background: transparent;
  border: 1px solid var(--black);
  display: table;
  margin: -1px;
  margin-bottom: 5px !important;
}
/*.boxedText:after {
    content: "\00a0";
}*/
.cke_editable .boxedText,
.boxedText {
  width: auto !important;
  height: auto !important;
  padding: 0px 5px 0px 5px;
  border: 1px solid var(--black);
  display: inline-block;
  margin-bottom: 5px;
}
.marker-linkit {background-color: #C7F1D5;}
.marker-correct {background-color: #6BC287;}
.cke_editable .linkit-table tr td {overflow: hidden;}
/**
* Image hotspot image selection
*/
.hotspot-selection {
    position: relative;
}

.hotspot-header,
.hotspot-header-action,
.hotspot-header:after,
.hotspot-header-action:after {
    clear: both;
}

.hotspot-header:before,
.hotspot-header:after,
.hotspot-header-action:before,
.hotspot-header-action:after {
    content: '';
    display: table;
}

.hotspot-header-action {
    margin-bottom: 10px;
}

.hotspot-header-left,
.hotspot-header-right {
    display: block;
    float: left;
}

.hotspot-header-left {
    width: 30%;
}

.hotspot-header-right {
    text-align: right;
    width: 70%;
}

.cke_dialog_hotspots {
    width: 370px;
}

.lists-item {
    padding: 7px 0;
    position: relative
}

.lists-item input[type="radio"] {
    position: relative;
    top: -1px;
    vertical-align: middle;
}

.lists-item label {
    cursor: pointer;
}

.lists-item-modified .widthLabel {
    display: inline-block;
    width: 80px;
}


.hotspot-header-item {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0 2px;
    vertical-align: middle;
}

.hotspot-list {
  background: var(--bg-white);
  padding: 20px 10px;
  overflow: hidden;
}

.hotspot-list-item {
    width: 20%;
    float: left;
}

.hotspot-upload-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.hotspot-content {
    margin: 15px 0 0;
}

.hotspot-preview {
    border: 1px solid var(--borderColor);
    width: 400px;
    height: 250px;
    margin: 0 auto;
    position: relative;
}

.hotspot-item-type {
  background: rgba(222, 222, 222, .5);
  color: #3c2f2f;
  border: 2px solid var(--borderColor);
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  z-index: 5;
  border-radius: 0;
  border-color: white;
  background-color: var(--selectBorder);
  color: var(--navyColor);
  font-weight: bold;
}

  .hotspot-item-type[data-correct="true"] {
    background-color: #339441;
    border: 1px solid var(--white);
    color: var(--white);
  }

.hotspot-item-type .ui-icon {
    width: 16px;
    height: 16px;
}

.hotspot-item-type .ui-resizable-se {
    background: url(../base/images/ui-icons_222222_256x240.png) no-repeat;
    background-position: -64px -224px;
    position: absolute;
    right: -4px;
    bottom: -4px;
    cursor: se-resize;
}

.hotspot-item-type:not([data-type="checkbox"]):before,
.hotspot-item-type[data-type="checkbox"]:after {
    content: "";
    border: 1px solid #3c2f2f;
    display: inline-block;
    width: 80%;
    height: 80%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-color: var(--navyColor);
}

.hotspot-item-type[data-type="border-style"] {
    border-radius: 0;
}

.hotspot-item-type[data-type="number"]:before,
.hotspot-item-type[data-type="letter"]:before,
.hotspot-item-type[data-type="border-style"]:before {
    visibility: hidden;
}

.hotspot-item-type[data-type="circle"]:before {
    border-radius: 100%;
}

.hotspot-item-close {
    color: #f00;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    right: 4px;
}

.hotspot-list-item-property {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    line-height: 32px;
}

.hotspot-list-item-property.last {
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hotspot-list-item-property:last-child {
    margin-bottom: 0;
}

.hotspot-list-item-property .widthLabel {
    display: inline-block;
    width: 80px;
    vertical-align: middle;
}

.hotspot-list-item-property .widthLabel.first {
    width: 110px;
}

.hotspot-list-item-property .widthLabel.last {
    width: 140px;
}

.hotspot-list-item-property input[type="checkbox"] {
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.popup-image-hotspot,
.popup-property-image-hotspot,
.popup-numberline-property {
    width: 300px;
    margin: 0 auto;
    z-index: 10030;
    position: absolute !important;
    top: 20%;
    left: 50%;
    margin-left: -150px;
}

.popup-image-hotspot {
    width: 425px;
}

.popup-property-image-hotspot {
    width: 370px;
}

.popup-image-hotspot input[type="radio"] {
    vertical-align: middle;
}

.popup-overlay {
    background: rgba(255, 255, 255, .5);
    position: fixed;
    z-index: 1020;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.is-visible {
    visibility: hidden;
}

.is-hidden {
    display: none;
}

.imageHotspotInteraction {
    border: 1px solid var(--borderColor);
    position: relative;
    display: inline-block;
    width: 400px;
    height: 300px;
}

.imageHotspotInteraction:hover,
.imageHotspotInteraction:focus {
    border: 1px solid var(--borderColor);
}

.imageHotspotInteraction .hotspot-item-type {
    cursor: default;
    pointer-events: none;
}

.imageHotspotTitle {
    display: inline;
    color: var(--navyColor);
    font-weight: 700;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: default;
    pointer-events: none;
    z-index: 1;
}

.imageHotspotMark,
.imageHotspotMarkObject {
    border: 0;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    z-index: 1;
    cursor: pointer;
}

.imageHotspotMarkObject {
    z-index: 2;
}

.hotspot-item-type[data-type="number"].checked,
.hotspot-item-type[data-type="number"][data-correct="true"] .hotspot-item-value,
.hotspot-item-type[data-type="number"][data-correct="false"]:not([data-point="0"]) .hotspot-item-value,
.hotspot-item-type[data-type="letter"].checked,
.hotspot-item-type[data-type="letter"][data-correct="true"] .hotspot-item-value,
.hotspot-item-type[data-type="letter"][data-correct="false"]:not([data-point="0"]) .hotspot-item-value {
  font-weight: 900;
  color: var(--white);
}

  .hotspot-item-type[data-type="number"].checked:before,
  .hotspot-item-type[data-type="number"][data-correct="true"]:before,
  .hotspot-item-type[data-type="number"][data-correct="false"]:not([data-point="0"]):before,
  .hotspot-item-type[data-type="letter"].checked:before,
  .hotspot-item-type[data-type="letter"][data-correct="true"]:before,
  .hotspot-item-type[data-type="letter"][data-correct="false"]:not([data-point="0"]):before {
    background: #3c2f2f;
    border-radius: 100%;
    visibility: visible;
    background: none;
    border-color: transparent;
  }

.hotspot-item-type[data-type="checkbox"].checked:after,
.hotspot-item-type[data-type="checkbox"][data-correct="true"]:after,
.hotspot-item-type[data-type="checkbox"][data-correct="false"]:not([data-point="0"]):after {
    visibility: visible;
    z-index: 10;
}

.hotspot-item-type[data-type="checkbox"].checked:before,
.hotspot-item-type[data-type="checkbox"][data-correct="true"]:before,
.hotspot-item-type[data-type="checkbox"][data-correct="false"]:not([data-point="0"]):before,
.hotspot-item-type[data-type="circle"].checked:before,
.hotspot-item-type[data-type="circle"][data-correct="true"]:before,
.hotspot-item-type[data-type="circle"][data-correct="false"]:not([data-point="0"]):before {
    background: #3c2f2f;
    visibility: visible;
    background: none;
    border-color: var(--white);
}

.hotspot-item-type[data-type="checkbox"]:after {
    content: '';
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.hotspot-item-type[data-type="checkbox"]:after {
    border: 5px solid #fcfff4;
    border-top: none;
    border-right: none;
    width: 50%;
    height: 30%;
    margin-top: -3px;
    visibility: hidden;
    -webkit-transform: rotate(-45deg) translate(-50%, -50%);
    -ms-transform: rotate(-45deg) translate(-50%, -50%);
    transform: rotate(-45deg) translate(-50%, -50%);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.hotspot-item-value {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: default;
    pointer-events: none;
}

.hotspot-item-type[data-type="circle"] .hotspot-item-value {
    width: 100%;
}

.hotspot-item-type[data-type="circle"] .hotspot-item-value:before,
.hotspot-item-type[data-type="circle"] .hotspot-item-value:after {
    content: '';
    background: #fcfff4;
    width: 50%;
    height: 5px;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.hotspot-item-type[data-type="circle"] .hotspot-item-value:before {
    -webkit-transform: rotate(-45deg) translate(-50%, -50%);
    -ms-transform: rotate(-45deg) translate(-50%, -50%);
    transform: rotate(-45deg) translate(-50%, -50%);
}

.hotspot-item-type[data-type="circle"] .hotspot-item-value:after {
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
    -ms-transform: rotate(45deg) translate(-50%, -50%);
    transform: rotate(45deg) translate(-50%, -50%);
}

.hotspot-item-type[data-type="circle"].checked .hotspot-item-value:before,
.hotspot-item-type[data-type="circle"].checked .hotspot-item-value:after,
.hotspot-item-type[data-type="circle"][data-correct="true"] .hotspot-item-value:before,
.hotspot-item-type[data-type="circle"][data-correct="true"] .hotspot-item-value:after,
.hotspot-item-type[data-type="circle"][data-correct="false"]:not([data-point="0"]) .hotspot-item-value:before,
.hotspot-item-type[data-type="circle"][data-correct="false"]:not([data-point="0"]) .hotspot-item-value:after {
    visibility: visible;
}

.hotspot-item-type[data-type="border-style"].checked,
.hotspot-item-type[data-type="border-style"][data-correct="true"],
.hotspot-item-type[data-type="border-style"][data-correct="false"]:not([data-point="0"]) {
  background: transparent;
  border: 2px solid var(--navy1); /* Navy blue color */
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-color: var(--green2);
}

.hotspot-item-type[data-type="border-style"].checked,
.hotspot-item-type[data-type="border-style"][data-correct="true"][data-show-border="false"],
.hotspot-item-type[data-type="border-style"][data-correct="false"][data-show-border="false"]:not([data-point="0"]) {
    background: #7b85d5;
}

.hotspot-item-type[data-type="border-style"].checked,
.hotspot-item-type[data-type="border-style"][data-correct="true"][data-show-border="true"],
.hotspot-item-type[data-type="border-style"][data-correct="false"][data-show-border="true"]:not([data-point="0"]) {
    background: transparent;
    border-width: 4px;
}

.hotspot-item-type[data-type="border-style"][data-correct="true"] .hotspot-item-value,
.hotspot-item-type[data-type="border-style"][data-correct="false"]:not([data-point="0"]) .hotspot-item-value {
    visibility: hidden;
}

.hotspot-item-type[data-type="border-style"][data-show-border="false"].checked,
.hotspot-item-type[data-type="border-style"][data-show-border="false"][data-correct="true"],
.hotspot-item-type[data-type="border-style"][data-show-border="false"][data-correct="false"]:not([data-point="0"]) {
    border-color: transparent;
}

.hotspot-item-type[data-type="border-style"][data-fill="true"].checked,
.hotspot-item-type[data-type="border-style"][data-fill="true"][data-correct="true"],
.hotspot-item-type[data-type="border-style"][data-fill="true"][data-correct="false"]:not([data-point="0"]) {
  background: #639; /* Purple color */
  background: var(--green2);
}

.hotspot-header-property {
    background: #f5f5f5;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin-top: 10px;
}

.hotspot-list-property {
    margin-bottom: 5px;
}

.hotspot-list-property:before,
.hotspot-list-property:after {
    content: '';
    display: table;
}

.hotspot-list-property:after {
    clear: both;
}

.hotspot-list-property:last-child {
    margin-bottom: 0;
}

.hotspot-list-property input[type="radio"] {
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.hotspot-list-property .widthLabel {
    display: inline-block;
    width: 140px;
}

.hotspot-label {
    width: 100%;
    margin: 10px 0;
}

.g-1-2,
.g-1-3,
.g-2-3 {
    float: left;
}

.g-1-2 {
    width: 50%;
}

.g-1-3 {
    width: 33.33333%;
}

.g-2-3 {
    width: 66.66667%;
}

.text-right {
    text-align: right;
}

.widthLabelSpecial {
    width: 242px !important;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-11 {
    margin-bottom: 11px;
}

.m-l-4 {
    margin-left: 4px;
}

.hotspot-title {
    font-size: 16px;
    line-height: 1.1;
    font-weight: 700px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.divDrawTool {
    position: relative;
    padding-top: 0;
}

.divDrawTool .divDesUpload {
    width: 345px;
}

.hotspot-selection .ideal-image {
    top: 5px;
    left: 120px;
}

.ideal-image {
    color: #666;
    position: absolute;
    top: 8px;
    left: 115px;
    display: inline-block;
}

.numberline-preview {
    display: block !important;
}

.numberline-preview,
.numberline-selection {
    position: relative;
    display: inline-block;
}

.numberline-selection {
    border: 1px solid var(--borderColor);
    cursor: pointer;
}

.numberline-selection path{
    stroke: var(--navyColor);
}

.numberline-selection text {
    fill: var(--navyColor);
    font-family: 'Roboto', Verdana, Arial, Helvetica, sans-serif !important;
}


.numberline-selection .numberline-hotspot,
.numberline-selection svg {
    cursor: default;
    pointer-events: none;
}

.numberline-selection-title {
    display: inline;
    color: #f00;
    font-weight: 700;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: default;
    pointer-events: none;
    z-index: 1;
    color: var(--navyColor);
}

.numberline-hotspot {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #c7f1d5;
    display: inline-block;
    border: 2px solid #88b088;
    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 100%;
    cursor: pointer;
}

.numberline-hotspot[data-correct="true"],
.numberline-hotspot[data-correct="false"]:not([data-point="0"]) {
    border: 2px solid darkgreen;
    background: #6bc287 !important;
}

.numberLineInteraction {
    cursor: pointer !important;
    z-index: 10;
}

.glossary {
  border-top: 1px dotted var(--black);
  border-bottom: 1px dotted var(--black);
  cursor: pointer;
}

.glossary-hover {
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: #add7d7;
}

button.button-delete-glossary {
    margin-top: 10px;
    text-shadow: none;
}

.hotspot-checkbox{
	width: 19px;
	height: 19px;
	display: inline-block;
	position: relative;
    cursor: pointer;
	z-index: 1;
	top: 3px;
    background: url("/Content/themes/TestMaker/plugins/tablehotspotselection/icons/uncheckedV2.svg") no-repeat;
}
.hotspot-checkbox.selected{
	background: url("/Content/themes/TestMaker/plugins/tablehotspotselection/icons/checkedV2.svg") no-repeat;
}
.hotspot-circle{
	width: 19px;
	height: 19px;
	display: inline-block;
	position: relative;
    cursor: pointer;
	z-index: 1;
	top: 3px;
    background: url("/Content/themes/TestMaker/plugins/tablehotspotselection/icons/unchecked-circle-v2.svg") no-repeat;
}
.hotspot-circle.selected{
	background: url("/Content/themes/TestMaker/plugins/tablehotspotselection/icons/checked-circle-v2.svg") no-repeat;
}
.hotspot-item-garding,.hotspot-item-check,.hotspot-item-position {
    padding-left: 10px;
    padding-bottom: 20px;
}
.hotspot-item-garding .widthLabel {
    padding-right: 20px;
}
.hotspot-item-check .widthLabel {
    padding-right: 20px;
}
.hotspot-item-check input[name="hotspot-correct"] {
    position: relative;
    top: 2px;
}
.hotspot-table {
    padding-top: 20px;
}
.hotspot-list.tablehotspot {
    text-align: center;
}
.hotspot-list.tablehotspot span{
    white-space: normal;
    font-size: 13px;
    line-height: 18px;
}
.typeFontSize.firefox-ie {
    border-color: #373737;
}
.hotspot-circle.bubble {
    margin-left: -10px;
    margin-right: -10px;
    width: 20px;
    height: 42px;
    display: inline-block;
    top: 6px;
    vertical-align: text-top;
    background-position: bottom;
    margin-bottom: 8px;
}
.hotspot-circle.bubble.top {
    top: 2px;
    background-position: top;
    vertical-align: text-bottom;
}
.hotspot-circle.bubble:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: 13px;
    margin-left: 4px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid black;
}
.hotspot-circle.bubble.top:after {
    margin-top: 19px;
    border-top: 10px solid black;
    border-bottom: 0px;
}
.hotspot-circle:before,
.hotspot-checkbox:before,
.imageHotspotInteraction .hotspot-item-type:not([data-type="checkbox"]):after,
.imageHotspotInteraction .hotspot-item-type[data-type="checkbox"]:before,
.numberline-hotspot:before {
    content: attr(identifier);
    font-size: 10px;
    position: absolute;
    top: -2px;
    left: 50%;
    font-weight: bold;
    background-color: red;
    color: white;
    padding: 0 1px;
    line-height: 10px;
    pointer-events: none;
}
.numberline-hotspot:before {
  top: -10px;
}
.imageHotspotInteraction .hotspot-item-type:not([data-type="checkbox"]):after,
.imageHotspotInteraction .hotspot-item-type[data-type="checkbox"]:before {
  right: 1px;
  left: unset;
  top: 1px;
}
/**
 * Drag and Drop Standard
 */
.assessmentItem .partialDestinationObject img {
    max-width: 100% !important;
}

sourceobject,
sourceObject {
  background-color: var(--grey3);
  border: 1px solid var(--grey0);
  cursor: pointer;
  display: inline-block;
  min-height: 20px;
  min-width: 30px;
  vertical-align: middle;
  overflow: hidden;
}

  sourceobject[type="text"],
  sourceObject[type="text"] {
    border-color: var(--lightBlue);
    color: #1c94c4;
    margin: 2px 0;
    padding: 0 4px 2px;
  }

.p-t-10 {
    padding-top: 10px;
}

#divQtiItemDetail .mainBody .inlineChoiceInteraction {
    padding-left: 0;
    padding-right: 0;
    border-color: #D3D0D0;
    cursor: default;
}
.multipleChoice .noGuidance {
    display: none;
}

.multipleChoice .hasGuidance {
    display: inline-block;
    float: right;
}
.multipleChoice .hasGuidance img {
    margin-left: 5px;
    margin-right: 0;
}
/*
 * CSS Sequence
 */

.cke_editable .sequenceBlock {
  background-color: var(--bg-white);
  cursor: pointer;
  display: inline-block;
  margin-bottom: 5px !important;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 10px 0px 0px 5px;
  position: relative;
  min-width: 97%;
}
.sequenceBlock .sequence .sequenceItem {
  background-color: var(--grey3);
  border: 1px solid var(--blueBorder);
  border-radius: 6px;
  color: #1c94c4;
  cursor: pointer;
  font-weight: bold;
  overflow: hidden;
  padding: 0 4px 2px;
  vertical-align: middle;
  box-sizing: border-box;
  word-wrap: break-word;
  border-radius: 0;
  min-height: 40px;
  min-width: 120px;
  padding: 8px;
  padding-right: 30px;
  background-color: var(--blue1);
  color: var(--navyColor);
  font-size: 0.9em;
  background: url(plugins/dragdropnumericalsource/images/drag_indicator.svg) no-repeat right 4px center var(--blue1);
}
.sequenceBlock[orientation=vertical] .sequence .sequenceItem {
    width: 100%;
    display: block;
    margin: 5px 0px;

}
.sequenceBlock[orientation=horizontal] .sequence {
    display: block;
    margin-top: 0px;
}
.sequenceBlock[orientation=horizontal] .sequence .sequenceItem {
    display: inline-block;
    margin: 0px 5px 5px 0px;
}

.content_source_sortable p {
    padding-bottom: 10px;
}
.content_source_sortable .errorMessage,
.contentSequenceOrder .errorMessage{
    display: none;
    color: #ff0000;
    font-style: italic;
    padding-top: 5px;
}
.warningMessage {
    display: none;
    font-style: italic;
    color: #9F6000;
    padding-top: 10px;
}

.content_source_sortable .txtItemSource{
    width: 96%;
    border: 1px solid #777;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.ck_vertical_horizontal {
    padding-top: 9px;
}
.contentSequenceOrder {
    position: relative;
}
.contentSequenceOrder .colLeft,.contentSequenceOrder .colRight {
    width: 50%;
    float: left;
}
.contentSequenceOrder .colRight p {
    padding-top: 11px;
}
.ck_vertical_horizontal label {
    padding-left: 5px;
    margin-right: 20px;
    vertical-align: top;
}
.ck_vertical_horizontal p {
    padding-bottom: 15px;
}
.ck_vertical_horizontal .ckUpDownNumber {
    margin-left: 7px;
}
.contentSequenceOrder .colRight .fleft,
.contentSequenceOrder .colRight .cke_dialog_ui_button {
    float: right;
}
.source_list_sortable,.source_correct_list_sortable {
    margin-left: 5px;
    margin-top: 5px;
}
.source_sortable, .correct_answer {
  border: 1px solid var(--grey7);
  margin-top: 10px;
}
.source_sortable h3,.correct_answer h3 {
   font-size: 13px;
    color: #333;
    background-color: rgb(236, 236, 236);
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.content_source_sortable p, .content_correct_answer p{
    text-align: center;
    padding-top: 10px;
    font-style: italic;
    color: rgb(165, 165, 165);
}
.hotspot-list .content_source_sortable p {
    text-align: left;
    font-style: normal;
    padding-top: 0;
    color: #333;
}
.content_correct_answer p {
    padding-bottom: 10px;
}
.contentSequenceOrder .source_item_type{
    -moz-box-shadow: inset 0 16px 20px -21px #d9d9d9;
    -webkit-box-shadow: inset 0 16px 20px -21px #d9d9d9;
     box-shadow: inset 0 16px 20px -21px #d9d9d9;
     border: 1px solid #d9d9d9;
     margin-bottom: 5px;
     padding-left: 7px;
     padding-bottom: 5px;
     position: relative;
     padding-top: 5px;
     margin-right: 5px;
     cursor: pointer;
     display: inline-block;
     padding-right: 12px;
     overflow: hidden;
     box-sizing: border-box;
     min-height: 30px;
}
.contentSequenceOrder .source_item_type span {
    cursor: pointer;
}
.contentSequenceOrder .source_list_sortable[orientation=horizontal],
.contentSequenceOrder .source_correct_list_sortable[orientation=horizontal] {
    width: 500px;
    overflow-x: hidden;
    white-space: normal;
}
.contentSequenceOrder .source_list_sortable[orientation=vertical],
.contentSequenceOrder .source_correct_list_sortable[orientation=vertical] {
    width: auto;
}

.contentSequenceOrder .source_item_type span.content {
    display: block;
    overflow: hidden;
    padding: 0;
    text-align: left;
    /*text-overflow: ellipsis;*/
    white-space: normal;
    width: 100%;
    font-size: 14px;
    word-break: break-all;
}

.contentSequenceOrder .source_item_type:hover {
    border: 1px solid #F36D00;
}
.contentSequenceOrder .remove {
    color: #ff0000;
    position: absolute;
    right: 0px;
    top: -4px;
    font-size: 13px;
    cursor: pointer;
}
.popup-image-hotspot.pop-source-item {
    width: 320px;
}
.source_correct_list_sortable .remove {
    display: none;
}
.cke_editable .sequenceBlock {
    position: relative;
    padding-left: 7px;
    padding-top: 7px;
    display: inline-block;
    width: 99%;
}
.cke_editable .sequence {
    padding-top: 6px;
    display: block;
}

.cke_editable table.linkit-table .extendText,
.cke_editable table.linkit-table .extentTextInteractionMark {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cke_editable table.linkit-table .extendText {
    width: 100%;
    margin: 0 0 2px;
}

.cke_editable table.linkit-table img.extentTextInteractionMark {
    margin-right: 0;
}

.cke_editable .extendText {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  .cke_editable .extendText .text-place-holder {
    position: relative;
    top: 6px;
    left: 30px;
    background: var(--bg-white);
    min-width: 187px;
    display: inline-block;
    color: var(--navyColor);
    font-weight: 600;
  }

.MathJax > nobr > .math > :empty {
    border-left-color: transparent !important;
}

.itemtypeonimage {
    border: 1px solid var(--borderColor);
}

.itemtypeonimage .itemtypeonimageMarkObject {
    pointer-events: none;
}

.itemtypeonimage-tooltip {
  position: absolute;
  top: 4px;
  left: 5px;
  font-size: 11px;
  line-height: 1;
  background: #ad2041;
  color: var(--white);
  padding: 0 1px;
}

.cke_editable .itemtypeonimage {
    margin-right: 25px;
}

.cke_editable .itemtypeonimage img {
    margin-right: 0;
}
.mc-widthLabel[for="cbThreshold"],
.mc-thresholds {
    display: none;
}


.cke_panel_grouptitle {
  border-radius: 0;
  border-color: var(--borderColor);
  box-shadow: none;
  text-shadow: none;
  color: var(--navyColor);
  background: var(--blue1);
}

.cke_panel_block{
    border: 2px solid var(--borderColor);
    outline: none;
}

.cke_panel_listItem a:hover, .cke_panel_listItem a:focus, .cke_panel_listItem a:active {
  border-color: var(--blue3);
  background-color: var(--blue1);
  color: var(--navyColor);
}

.partialAddSourceText, .partialAddSourceNumerical, .partialAddDestinationText, .partialAddDestinationNumerical {
    margin-left: 2px;
    transform: translateX(-1px);
    box-sizing: border-box;
}
.partialAddDestinationText,
.partialAddDestinationNumerical {
    background-color: var(--white);
}

.partialSourceImageWrapper,
.partialAddDestinationImage  {
  display: inline-block;
  position: relative;
  line-height: 0;
}
 .partialAddSourceImage {
   border:  solid 1px white;
 }
.partialAddSourceImage:hover,
.partialAddDestinationImageMark:hover {
  border:  solid 1px #05b2c6;
}

.line-matching .hotSpot,
.line-matching .partialSourceImageWrapper:after,
.line-matching .partialAddSourceText:after,
.line-matching .partialAddDestinationText:after {
  width: 10px !important;
  height: 10px !important;
  content: '';
  border-radius: 50%;
  background-color: var(--penn-blue);
  color: var(--penn-blue);
  position: absolute;
  border: none;
  cursor: pointer;
}

.line-matching .partialAddDestinationImage {
  width: unset !important;
  height: unset !important;
}
/* MATCHING LINE - BOX STYLE */
.line-matching .partialAddSourceText,
.line-matching .partialAddDestinationText {
  background: none;
  border: none;
  padding: 0px;
  overflow:initial
}
.line-matching .partialAddSourceText > span,
.line-matching .partialAddDestinationText > span {
  border: 1px solid var(--greyBorder);
  padding: 8px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.line-matching .partialAddSourceText > span {
  background: var(--blue1);
}
.line-matching .partialAddDestinationText > span {
  background-color: var(--white);
}

/* MATCHING LINE - BOX MARGIN */

.partialSourceImageWrapper,
.partialAddDestinationImage  {
  top:16px
}

.line-matching.object-top .partialSourceImageWrapper,
.line-matching.object-bottom .partialSourceImageWrapper {
  top: 26px !important;
}
.line-matching.destination-top .partialAddDestinationImage,
.line-matching.destination-bottom .partialAddDestinationImage   {
  top: 8px !important;
}


.line-matching.object-left .partialAddSourceText,
.line-matching.destination-left .partialAddDestinationText {
  margin-left: var(--matching-line-margin-space);
}
.line-matching.object-right .partialAddSourceText,
.line-matching.destination-right .partialAddDestinationText {
  margin-right:  var(--matching-line-margin-space);
}
.line-matching.object-top .partialAddSourceText,
.line-matching.destination-top .partialAddDestinationText {
  margin-top:  var(--matching-line-margin-space);
}
.line-matching.object-bottom .partialAddSourceText,
.line-matching.destination-bottom .partialAddDestinationText {
  margin-bottom:  var(--matching-line-margin-space);
}

.line-matching.object-right .partialSourceImageWrapper,
.line-matching.destination-right .partialAddDestinationImage {
  margin : 0 25px 0 1px;
}
.line-matching.object-left .partialSourceImageWrapper,
.line-matching.destination-left .partialAddDestinationImage  {
  margin : 0 1px 0 25px;
}

.line-matching.object-top .partialSourceImageWrapper,
.line-matching.destination-top .partialAddDestinationImage {
  margin : 25px 0 1px 0;
}
.line-matching.object-bottom .partialSourceImageWrapper,
.line-matching.destination-bottom .partialAddDestinationImage {
  margin : 1px 0 25px 0;
}
/* MATCHING LINE - ANCHOR STYLE */
.line-matching .partialSourceImageWrapper:after,
.line-matching .partialAddSourceText:after,
.line-matching .partialAddDestinationText:after {
  top: calc(50% - 5px) !important;
}
  /* LEF-RIGHT */
.line-matching.object-left .partialAddSourceText:after,
.line-matching.destination-left .partialAddDestinationText:after  {
  left: var(--anchor-pos);
}
.line-matching.object-right .partialAddSourceText:after,
.line-matching.destination-right .partialAddDestinationText:after  {
  right: var(--anchor-pos);
}

.line-matching.object-right .partialSourceImageWrapper:after {
  right: var(--anchor-pos);
}
.line-matching.object-left .partialSourceImageWrapper:after {
  left: var(--anchor-pos);
}

  /* TOP-BOTTOM */
.line-matching.object-top .partialAddSourceText:after,
.line-matching.destination-top .partialAddDestinationText:after{
  top: var(--anchor-pos) !important;
  left: 50%;
}
.line-matching.object-bottom .partialAddSourceText:after,
.line-matching.destination-bottom .partialAddDestinationText:after {
  bottom:var(--anchor-pos)!important;
  top: unset !important;
  left: 50%;
}

.line-matching.object-top .partialSourceImageWrapper:after {
  top: var(--anchor-pos) !important;
  left: 50%;
}
.line-matching.object-bottom .partialSourceImageWrapper:after {
  bottom: var(--anchor-pos) !important;
  top: unset !important;
  left: 50%;
}
/* HOT SPOT ANCHOR */
.line-matching.destination-left .hotSpot {
  left: var(--anchor-pos)!important;
}
.line-matching.destination-right .hotSpot {
  right: var(--anchor-pos)!important;
  left: unset !important;
}

.line-matching.destination-top .hotSpot {
  top: var(--anchor-pos) !important;
  left: 50% !important;
}
.line-matching.destination-bottom .hotSpot {
  bottom: var(--anchor-pos) !important;
  left: 50% !important;
  top: unset !important;
}

.audio-container {
  position: relative;
  display: inline-block;
}

.audio-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
}
.audio-mask.top {
  height: 35%;
}
.audio-mask.bottom {
  top: 55%;
  height: 35%;
}
.audio-mask.left {
  width: 3%;
}
.audio-mask.right {
  width: 3%;
  left: 95%;
}
