#linkGoBack {
  border: 2px solid #999;
  text-align: left;
  position: absolute;
  background: #3399cc;
  cursor: pointer;
  line-height: 11px;
  padding: 5px;
  min-width: 200px;
  max-width: 260px;
  word-wrap: break-word;
  color: #fff;
}

  #linkGoBack:hover span {
    color: #000;
  }

#divNetworkAdminSelectLayout {
  position: absolute;
  background: #ebeced;
}
