@{
    Layout = null;
}
<style type="text/css">
    #dataTable_wrapper {
        margin-bottom: -19px !important;
        margin-top: 2.5em;
    }

    #btnSubmitSelected {
        margin-left: 22%;
        /* border-color: gainsboro; */
        position: absolute;
        top: -8px;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        padding: 3px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .dialog {
        position: fixed !important;
    }

    .ui-widget-header {
        border: 0px solid #aaa !important;
        background: transparent !important;
        position: relative;
        top: 34px;
    }

    .plButton {
        text-align: center;
        position: relative;
        top: 47px;
    }

    #btnOk {
        width: 79px;
        margin-right: 10px;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        position: absolute;
        right: 7px;
        top: -8px;
    }

    .ui-icon-closethick {
        background-position: 2px 2px;
    }

    .ui-widget-header .ui-state-hover {
        border: 0;
        background: transparent !important;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        width: 30px;
        height: 42px;
    }

    .ui-widget-overlay {
        background: #2b2b2d !important;
    }

    .ui-dialog .ui-dialog-titlebar-close span {
        display: block;
        left: -360px;
        margin: 1px;
        position: absolute;
    }

    #btnShowTestResultExported {
        cursor: pointer;
    }

    #test-result-export .block-controls select {
        width: 65px;
    }

    .tableRow td {
        background: #c3c3c3 !important;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        z-index: 9999;
    }

    .popup-alert {
        width: 480px;
        position: fixed;
        top: 10%;
        left: 50%;
        margin-left: -240px;
    }
    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    .block-content .block-controls:first-child, .block-content h1:first-child + .block-controls, .block-content .h1:first-child + .block-controls {
        margin-top: 1.167em;
    }
</style>

<article class="container_12" style="margin-top: 2em">
    <section class="grid_12">
        <div class="block-border">
            <div class="block-content form">
                <h1 id="btnShowTestResultExported" class="off">
                    Show Exported:
                    <span id="spanShowExported">OFF</span>
                </h1>

                <button id="btnSubmitSelected" onclick="SubmitSelected(null);" disabled class="off">
                    Mark Selected Results for Export

                </button>
                <div class="no-margin last-child" id="test-result-export">
                    <table id="dataTableTemp" class="datatable table no-margin" width="100%">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 13px; text-align: center;">
                                    <span>Select</span>
                                    <input type="checkbox" id="chkAllTestResult" />
                                </th>
                                <th scope="col">
                                    <span class="column-sort"><a href="javascript:void(0)" title="Sort Up" class="sort-up"></a><a href="javascript:void(0)" title="Sort Down" class="sort-down"></a></span>
                                    Test
                                </th>
                                <th scope="col" style="min-width: 100px;">
                                    <span class="column-sort"><a href="javascript:void(0)" title="Sort Up" class="sort-up"></a><a href="javascript:void(0)" title="Sort Down" class="sort-down"></a></span>
                                    Result Test
                                </th>
                                <th scope="col">
                                    <span class="column-sort"><a href="javascript:void(0)" title="Sort Up" class="sort-up"></a><a href="javascript:void(0)" title="Sort Down" class="sort-down"></a></span>
                                    School
                                </th>
                                <th scope="col" style="min-width: 100px;">
                                    <span class="column-sort"><a href="javascript:void(0)" title="Sort Up" class="sort-up"></a><a href="javascript:void(0)" title="Sort Down" class="sort-down"></a></span>
                                    Teacher
                                </th>
                                <th scope="col">
                                    <span class="column-sort"><a href="javascript:void(0)" title="Sort Up" class="sort-up"></a><a href="javascript:void(0)" title="Sort Down" class="sort-down"></a></span>
                                    Class
                                </th>
                                <th scope="col">
                                    <span class="column-sort"><a href="javascript:void(0)" title="Sort Up" class="sort-up"></a><a href="javascript:void(0)" title="Sort Down" class="sort-down"></a></span>
                                    Student
                                </th>
                                <th scope="col" style="display: none"></th>
                            </tr>

                        </thead>
                        <tbody>
                    
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>
</article>

<script type="text/javascript">
    var showExportedTestResult = false;
    var isExported = 'False';
    $(function () {
            var options = {
            bDestroy: true,
            bServerSide: true,
            sAjaxSource: '@Url.Action("GetTestResultRetaggedToView")',
            fnServerParams: function (aoData) {
                aoData.push(
                    { name: "districtId", value: '0' },
                    { name: "virtualTestId", value: '0' },
                    { name: "classId", value: '0' },
                    { name: "studentName", value: '0' },
                    { name: "schoolId", value: '0' },
                    { name: "teacherName", value: '0' },
                    { name: "termId", value: '0' },
                    { name: "timePeriod", value: '0' },
                    { name: "isShowExported", value: 'False' }
                );
            },
            bAutoWidth: false,
            iDisplayLength: 50,
            aLengthMenu: [50, 100, 500, 1000],
            aaSorting: [[1, "asc"]],
            oLanguage: { "sEmptyTable": "Match Not Found" },
            aoColumns: [
                { sType: 'int', sName: 'ID', bSearchable: false, bSortable: false },
                { sType: 'string', sName: 'TestNameCustom', bSearchable: true, bSortable: true },
               { sType: 'datetime', sName: 'ResultDate', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'SchoolName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'TeacherCustom', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'ClassNameCustom', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'StudentCustom', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'IsExported', bSearchable: false, bSortable: false, bVisible: false }
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setCheckBox(aData[0], aData[7]));
                if (aData[7] === 'True') {
                    $('td:eq(0)', nRow).parent().addClass('tableRow');
                }
                return nRow;
            },
            fnPreDrawCallback: function () {
                //ShowBlock($('#dataTable'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
               
                $('#dataTable').unblock();
                $('.with-tip').tip();
            }
        };
        $("#dataTableTemp").data("options", options);

     
    })
</script>
