<?xml version="1.0" encoding="utf-8"?>
<config>
	
<!-- 	set environment - can be one of production, staging, development, developmentP -->
	<environment>staging</environment>
	<rooturls>
		<development serverroot="http://www.linkitdev.com/api/" 
						phproot="http://www.linkitdev.com/ardev/linkit_AR3_dev/proc/"
						serverrootsecure="https://www.linkitdev.com/api/"
						phprootsecure="https://www.linkitdev.com/ardev/linkit_AR3_dev/proc/"/>
			
		<developmentP serverroot="http://www.linkit.com/api/" 
						phproot="http://www.linkit.com/ardev/linkit_AR3_devP/proc/"
						serverrootsecure="https://www.linkit.com/api/"
						phprootsecure="https://www.linkit.com/ardev/linkit_AR3_devP/proc/"/>
						
						
		<staging serverroot="http://www.linkitdev.com/api/" 
						phproot="http://portal.linkitdev.com/Content/FlashModules/CustomAssessments/"
						serverrootsecure="https://www.linkitdev.com/api/"
						phprootsecure="https://portal.linkitdev.com/Content/FlashModules/CustomAssessments/"/>
						
		<production serverroot="http://www.linkit.com/api/" 
						phproot="http://portal.linkit.com/Content/FlashModules/Reporting/proc/"
						serverrootsecure="https://www.linkit.com/api/"
						phprootsecure="https://portal.linkit.com/Content/FlashModules/Reporting/proc/"/>
	
	
	</rooturls>

	<urls>
		<login>{$SERVER_ROOT}adminreporting.asmx/GetUserByUserNameAndDarkPassword</login>
		<loginWithToken>{$SERVER_ROOT}adminreporting.asmx/GetUserByTransferToken</loginWithToken>
		<logindistrictlevel>{$SERVER_ROOT}adminreporting.asmx/GetUserByUserNameAndPasswordAndDistrictID</logindistrictlevel>
		<loginstatelevel>{$SERVER_ROOT}adminreporting.asmx/GetUserByUserNameAndPasswordAndStateID</loginstatelevel>
		<echodata>proc/echodata.php</echodata>
		<exportusagedata>{$PHP_ROOT}exportUsageData.php</exportusagedata>
		<savereport>{$SERVER_ROOT}adminreporting.asmx/CreateReportSet</savereport>
		<!-- <updatereportset>{$PHP_ROOT}saveReportSet.php</updatereportset> -->
		<updatereportset>{$SERVER_ROOT}adminreporting.asmx/UpdateReportSet</updatereportset>
		<updatereportsetname>{$SERVER_ROOT}adminreporting.asmx/UpdateReportSetName</updatereportsetname>
		<createusersettings>{$SERVER_ROOT}adminreporting.asmx/CreateUserSetting</createusersettings>
		<getusersettings>{$SERVER_ROOT}adminreporting.asmx/GetUserSettingByUserID</getusersettings>
		<updateusersettings>{$SERVER_ROOT}adminreporting.asmx/UpdateUserSetting</updateusersettings>
		<reportlist>{$SERVER_ROOT}adminreporting.asmx/GetReportSetsByUserID</reportlist>
		<getreportset>{$SERVER_ROOT}adminreporting.asmx/GetReportSetByReportSetID</getreportset>
		<deletereportset>{$SERVER_ROOT}adminreporting.asmx/DeleteReportSet</deletereportset>
		<publishreportset>{$SERVER_ROOT}adminreporting.asmx/CreatePublishedReport</publishreportset>
		<authenticate>{$SERVER_ROOT}adminreporting.asmx/Authenticate</authenticate>
		<authenticateAR>{$SERVER_ROOT}adminreporting.asmx/AuthenticateAR</authenticateAR>
		<authenticatebytransfertoken>{$SERVER_ROOT}adminreporting.asmx/AuthenticateByTransferToken</authenticatebytransfertoken>
		<reauthenticate>{$SERVER_ROOT}adminreporting.asmx/ReAuthenticate</reauthenticate>
<!-- 		<getuserbytoken>{$SERVER_ROOT}adminreporting.asmx/GetUserFromToken</getuserbytoken> -->
		<getuserbytoken>{$PHP_ROOT}linkit.php/common/getUserFromToken</getuserbytoken>
		<statebystateid>{$SERVER_ROOT}adminreporting.asmx/GetStateByStateID</statebystateid>
		<districtbydistrictid>{$SERVER_ROOT}adminreporting.asmx/GetDistrictByDistrictID</districtbydistrictid>
		<schoolbyschoolid>{$SERVER_ROOT}adminreporting.asmx/GetSchoolBySchoolID</schoolbyschoolid>
		<teacherbyteacherid>{$SERVER_ROOT}adminreporting.asmx/GetTeacherByTeacherID</teacherbyteacherid>
		<districtsbystateid>{$SERVER_ROOT}adminreporting.asmx/GetDistrictsByStateID</districtsbystateid>
		<districtsbystateid2>{$PHP_ROOT}linkit.php/common/getDistrictsForState</districtsbystateid2>
		<districtsbyuserid>{$SERVER_ROOT}adminreporting.asmx/GetDistrictsRegionByUserID</districtsbyuserid>
		<regionsbyuserid>{$SERVER_ROOT}adminreporting.asmx/GetRegionsByUserID</regionsbyuserid>
		<districtsbyregionid>{$SERVER_ROOT}adminreporting.asmx/GetDistrictsByRegionID</districtsbyregionid>
		<schoolsbydistrictid>{$SERVER_ROOT}adminreporting.asmx/GetSchoolsByDistrictID</schoolsbydistrictid>
<!-- 		<teacherssbyschoolid>{$SERVER_ROOT}adminreporting.asmx/GetUsersByRoleAndSchoolID</teacherssbyschoolid> -->
		<teacherssbyschoolid>{$PHP_ROOT}linkit.php/common/getTeachersBySchool</teacherssbyschoolid>
		<gradesbydistrictid>{$SERVER_ROOT}adminreporting.asmx/GetGradesByDistrictID</gradesbydistrictid>
		<genders>{$SERVER_ROOT}adminreporting.asmx/GetGenders</genders>
		<studentsbyclassid>{$PHP_ROOT}linkit.php/getStudentsByClass</studentsbyclassid>
		
		<schoolsteachersclasses>{$PHP_ROOT}linkit.php/common/getSchoolsTeachersClasses</schoolsteachersclasses>
		<districtterms>{$PHP_ROOT}linkit.php/common/getDistrictTerms</districtterms>
		
		
		<racesbydistrictid>{$SERVER_ROOT}adminreporting.asmx/GetRacesByDistrictID</racesbydistrictid>
		<programsbydistrictid>{$SERVER_ROOT}adminreporting.asmx/GetProgramsByDistrictID</programsbydistrictid>
		<getstates>{$SERVER_ROOT}adminreporting.asmx/GetStates</getstates>
		<getstatesNT>{$SERVER_ROOT}adminreporting.asmx/GetStateNT</getstatesNT>
		<getdistrictsbystateid>{$SERVER_ROOT}adminreporting.asmx/GetDistrictsByStateID</getdistrictsbystateid>
		<getdistrictsbystateidNT>{$SERVER_ROOT}adminreporting.asmx/GetDistrictsByStateIDNT</getdistrictsbystateidNT>

		<studentbyid>{$SERVER_ROOT}adminreporting.asmx/GetStudentByStudentID</studentbyid>
		<studentsbyteacher>{$SERVER_ROOT}adminreporting.asmx/GetStudentsByUserID</studentsbyteacher>
		
		<updateuser>{$SERVER_ROOT}adminreporting.asmx/UpdateUser</updateuser>
		<getroles>{$SERVER_ROOT}adminreporting.asmx/GetRoles</getroles>
		<sendmail>{$SERVER_ROOT}adminreporting.asmx/SendEmail</sendmail>
		
		<!-- <viewer>http://localhost/linkit_4/linkit_AR_4.html</viewer> -->
		<viewer>http://www.linkit.com/ardev/linkit_AR3_dev/linkit_AR3.html</viewer>
		
		<getlessonsbygrade>{$PHP_ROOT}linkit.php/getLessonsByGrade</getlessonsbygrade>
		<getskillsbygrade>{$PHP_ROOT}linkit.php/getSkillsByGrade</getskillsbygrade>
		<getslpstrings>{$PHP_ROOT}linkit.php/getSlpStrings</getslpstrings>
		
		<DSTCfortest>{$PHP_ROOT}linkit.php/ianalGetD_S_T_CForTest</DSTCfortest>
		
		
		<statsitemonedata>{$PHP_ROOT}linkit.php/statsItemDataOne</statsitemonedata>
		<statsitemdata>{$PHP_ROOT}linkit.php/statsTestItemData</statsitemdata>
		<statsgettestsforsubject>{$PHP_ROOT}linkit.php/statsGetVirtualTestsBySubject</statsgettestsforsubject>
		
		
		<profiledistrict2>{$PHP_ROOT}linkit.php/dash/testProfileForDistrict</profiledistrict2>
		<profileschool2>{$PHP_ROOT}linkit.php/dash/testProfileForSchool</profileschool2>
		<profileteacher2>{$PHP_ROOT}linkit.php/dash/testProfileForTeacher</profileteacher2>
		<dashDistrictRecentTestData>{$PHP_ROOT}linkit.php/dash/testDetailsForDistrict2</dashDistrictRecentTestData>
		<dashSchoolRecentTestData>{$PHP_ROOT}linkit.php/dash/testDetailsForSchool2</dashSchoolRecentTestData>
		<dashTeacherRecentTestData>{$PHP_ROOT}linkit.php/dash/testDetailsForTeacher2</dashTeacherRecentTestData>
		
		<dashDistrictTestResultsByRace>{$PHP_ROOT}linkit.php/dash/testDetailsForDistrictByRace</dashDistrictTestResultsByRace>
		<dashDistrictTestResultsByProgram>{$PHP_ROOT}linkit.php/dash/testDetailsForDistrictByProgram</dashDistrictTestResultsByProgram>
		
		<dashClassResultsForLinkitTests>{$PHP_ROOT}linkit.php/dash/summaryResultsForLinkitClassTests</dashClassResultsForLinkitTests>
		
		<dashgettestsforclass>{$PHP_ROOT}linkit.php/dashGetTestsForClass</dashgettestsforclass>
		<dashgettestsforclass2>{$PHP_ROOT}linkit.php/dash/testProfileForClass_DEV</dashgettestsforclass2>
		<dashClassResultsForTests>{$PHP_ROOT}linkit.php/dash/testDetailsForClass2_DEV</dashClassResultsForTests>
		
		<dashSchoolResultsForClassCompare>{$PHP_ROOT}linkit.php/dash/testDetailsSchoolForClassCompare</dashSchoolResultsForClassCompare>
		<dashDistrictResultsForClassCompare>{$PHP_ROOT}linkit.php/dash/testDetailsDistrictForClassCompare</dashDistrictResultsForClassCompare>
		
<!-- 		<dashgetresultsbystudent>{$PHP_ROOT}linkit.php/dash/getResultsTableReportByStudent</dashgetresultsbystudent> -->
		<dashgetresultsbystudent>{$PHP_ROOT}linkit.php/dash/getClassResultsByStudent</dashgetresultsbystudent>
		<dashgetresultsbystudent2>{$PHP_ROOT}linkit.php/dash/getResultsTableReportByStudent</dashgetresultsbystudent2>
		
		
<!-- 		<dashgetclassesforteacher>{$PHP_ROOT}linkit.php/dashGetClassesForTeacher</dashgetclassesforteacher> -->
		<dashgetclassesforteacher>{$PHP_ROOT}linkit.php/common/getClassesForUser</dashgetclassesforteacher>
		
		<dashgettestsforotherclasses>{$PHP_ROOT}linkit.php/dashGetTestsForOtherClasses</dashgettestsforotherclasses>
		<dashgettestresultsforclassstudents>{$PHP_ROOT}linkit.php/dashGetTestResultsForClass</dashgettestresultsforclassstudents>
		<dashgetlinkittestresultsforclassstudents>{$PHP_ROOT}linkit.php/dashGetLinkitTestResultsForClass</dashgetlinkittestresultsforclassstudents>
		<dashgetlegacytestresultsforclassstudents>{$PHP_ROOT}linkit.php/dashGetLegacyTestResultsForClass</dashgetlegacytestresultsforclassstudents>
		<dashgetalltestresultsforstudent>{$PHP_ROOT}linkit.php/dashGetAllTestResultsForStudent</dashgetalltestresultsforstudent>
		<dashgetclassresultsforprofile>{$PHP_ROOT}linkit.php/dashGetClassResultsForProfile</dashgetclassresultsforprofile>
		<dashgetclassaveragesforprofile>{$PHP_ROOT}linkit.php/dashGetClassAveragesForProfile</dashgetclassaveragesforprofile>
		<dashprofiletopicsfortestresult>{$PHP_ROOT}linkit.php/dashProfileGetTopicsForTestResult</dashprofiletopicsfortestresult>
		<dashprofiletopicsfortestforclass>{$PHP_ROOT}linkit.php/dashProfileGetTopicsForTestForClass</dashprofiletopicsfortestforclass>
		<dashprofileskillsfortestresult>{$PHP_ROOT}linkit.php/dashProfileGetSkillsForTestResult</dashprofileskillsfortestresult>
		<dashprofileskillsfortestforclass>{$PHP_ROOT}linkit.php/dashProfileGetSkillsForTestForClass</dashprofileskillsfortestforclass>
		<dashprofilelessontwosfortestresult>{$PHP_ROOT}linkit.php/dashProfileGetLessonTwosForTestResult</dashprofilelessontwosfortestresult>
		<dashprofilelessontwosfortestforclass>{$PHP_ROOT}linkit.php/dashProfileGetLessonTwosForTestForClass</dashprofilelessontwosfortestforclass>
		<dashprofilestandardsfortestresult>{$PHP_ROOT}linkit.php/dashProfileGetStandardsForTestResult</dashprofilestandardsfortestresult>
		<dashprofilestandardsfortestforclass>{$PHP_ROOT}linkit.php/dashProfileGetStandardsForTestForClass</dashprofilestandardsfortestforclass>
		
<!-- 		<ianalgetclassesbyschool>{$PHP_ROOT}linkit.php/ianalGetClassesBySchool</ianalgetclassesbyschool> -->
<!-- 		<ianalgetclassesbyteacher>{$PHP_ROOT}linkit.php/ianalGetClassesByTeacher</ianalgetclassesbyteacher> -->
		<ianalgetclassesbyteacher>{$PHP_ROOT}linkit.php/common/getClassesForUser</ianalgetclassesbyteacher>
		<ianalitemsummary>{$PHP_ROOT}linkit.php/ianalGetTestItemSummary</ianalitemsummary>
		<ianalstudentitemsummary>{$PHP_ROOT}linkit.php/ianalGetStudentResultsByItem</ianalstudentitemsummary>
		<ianalstudentitemdataforschool>{$PHP_ROOT}linkit.php/ianalGetStudentResultsForSchoolByItem</ianalstudentitemdataforschool>
<!-- 		<ianalitemanalysisreport>{$PHP_ROOT}linkit.php/ianalGetItemAnalysisReport</ianalitemanalysisreport> -->
<!-- 		<ianalclassesfortest>{$PHP_ROOT}linkit.php/ianalGetClassesForTest</ianalclassesfortest> -->
		<!-- <ianalclassesfortestbyschool>{$PHP_ROOT}linkit.php/ianalGetClassesForTestBySchool</ianalclassesfortestbyschool> -->
		<!-- <ianalclassesfortestbyteacher>{$PHP_ROOT}linkit.php/ianalGetClassesForTestByTeacher</ianalclassesfortestbyteacher> -->
		<ianaldatesfortest>{$PHP_ROOT}linkit.php/ianalGetDatesForTest</ianaldatesfortest>
		<!-- <ianaldatesfortestbyschool>{$PHP_ROOT}linkit.php/ianalGetDatesForTestBySchool</ianaldatesfortestbyschool> -->
		<!-- <ianaldatesfortestbyteacher>{$PHP_ROOT}linkit.php/ianalGetDatesForTestByTeacher</ianaldatesfortestbyteacher> -->
		<ianaldatesfortestbyclasses>{$PHP_ROOT}linkit.php/ianalGetDatesForTestForClasses</ianaldatesfortestbyclasses>
		<ianalstandardsfortest>{$PHP_ROOT}linkit.php/ianalGetStandardsAndQuestionsForTest</ianalstandardsfortest>
		<ianaltopicsfortest>{$PHP_ROOT}linkit.php/ianalGetTopicsAndQuestionsForTest</ianaltopicsfortest>
		<ianalskillsfortest>{$PHP_ROOT}linkit.php/ianalGetSkillsAndQuestionsForTest</ianalskillsfortest>
		<ianallessontwosfortest>{$PHP_ROOT}linkit.php/ianalGetLessonTwosAndQuestionsForTest</ianallessontwosfortest>
		<ianalkeyfortest>{$PHP_ROOT}linkit.php/ianalGetKeyForTest</ianalkeyfortest>
		<ianalsummaryresults>{$PHP_ROOT}linkit.php/ianalGetSummaryResultsForTest</ianalsummaryresults>
		<ianaltestsforclass>{$PHP_ROOT}linkit.php/ianalGetTestsForClass</ianaltestsforclass>
		
		<valsubjectsforschool>{$PHP_ROOT}linkit.php/valGetSubjectsBySchool</valsubjectsforschool>
		<valtestsforsubject>{$PHP_ROOT}linkit.php/valGetTestsBySubject</valtestsforsubject>
		<valcomparabletests>{$PHP_ROOT}linkit.php/valGetComparableTests</valcomparabletests>
		<valcompresults>{$PHP_ROOT}linkit.php/valGetCompTestResults</valcompresults>
		<valcompresultslegacy>{$PHP_ROOT}linkit.php/valGetCompTestResultsLegacy</valcompresultslegacy>
		
		<usgtopleveldata>{$PHP_ROOT}linkit.php/usgGetTopLevelData</usgtopleveldata>
		<usgdeeperdata>{$PHP_ROOT}linkit.php/usgGetDeeperData</usgdeeperdata>
		<usgdistrictdata>{$PHP_ROOT}linkit.php/usgGetDistrictData</usgdistrictdata>
		<usgdistrictbyschooldata>{$PHP_ROOT}linkit.php/usgGetDistrictBySchoolData</usgdistrictbyschooldata>
		<usgdistrictbygradedata>{$PHP_ROOT}linkit.php/usgGetDistrictByGradeData</usgdistrictbygradedata>
		<usgdistrictbysubjectdata>{$PHP_ROOT}linkit.php/usgGetDistrictBySubjectData</usgdistrictbysubjectdata>
		<usgexportdata>{$PHP_ROOT}linkit.php/usgExportUsageData</usgexportdata>
		
		<dgnclassgettestinfo>{$PHP_ROOT}linkit.php/dgnClassGetTestInfo</dgnclassgettestinfo>
		<dgnclassgetdatabyitem>{$PHP_ROOT}linkit.php/dgnClassGetDataByItem</dgnclassgetdatabyitem>
		<dgnclassgetstudentnames>{$PHP_ROOT}linkit.php/dgnClassGetStudentNamesFromIDs</dgnclassgetstudentnames>
		<dgnclassgetlessononedatafortest>{$PHP_ROOT}linkit.php/dgnClassGetLessonOneDataForTest</dgnclassgetlessononedatafortest>
		<dgnclassgetlessontwodatafortest>{$PHP_ROOT}linkit.php/dgnClassGetLessonTwoDataForTest</dgnclassgetlessontwodatafortest>
		<dgnclassgetstandardsdatafortest>{$PHP_ROOT}linkit.php/dgnClassGetStandardsDataForTest</dgnclassgetstandardsdatafortest>
		<dgnclassgettopicsdatafortest>{$PHP_ROOT}linkit.php/dgnClassGetTopicsDataForTest</dgnclassgettopicsdatafortest>
		
		<shtestresultsbystudent>{$PHP_ROOT}linkit.php/shGetTestResultsForStudent</shtestresultsbystudent>
		<shnonstandardtestresults>{$PHP_ROOT}linkit.php/shGetNonStandardTestResults</shnonstandardtestresults>
		
		<shteacherssbyschool>{$PHP_ROOT}linkit.php/common/getTeachersBySchool</shteacherssbyschool>
		<shstudentsbyteacher>{$PHP_ROOT}linkit.php/common/getStudentsForUser</shstudentsbyteacher>
		<studentbycode>{$SERVER_ROOT}adminreporting.asmx/GetStudentByDistrictIDAndCode</studentbycode>
		
		<datedifference>{$PHP_ROOT}linkit.php/getDateDifference</datedifference>
		<races>{$PHP_ROOT}linkit.php/getRaces</races>
		<statestandarddescriptors>{$PHP_ROOT}linkit.php/getStateStandardDescriptors</statestandarddescriptors>
		<subjectsbydistrict>{$PHP_ROOT}linkit.php/getSubjectsByDistrict</subjectsbydistrict>
		<gradesubjectsbydistrict>{$PHP_ROOT}linkit.php/getGradeSubjectsByDistrict</gradesubjectsbydistrict>
		<subjectsbystatecodeandgrade>{$SERVER_ROOT}adminreporting.asmx/GetSubjectsByStateCodeAndGradeID</subjectsbystatecodeandgrade>
		<teachersbydistrict>{$PHP_ROOT}linkit.php/getTeachersByDistrict</teachersbydistrict>
		<getstandardreport>{$PHP_ROOT}linkit.php/getStandardReport</getstandardreport>
		<getmasteryreport>{$PHP_ROOT}linkit.php/getMasteryReport</getmasteryreport>
		<getmasteryreportTR>{$PHP_ROOT}linkit.php/getMasteryReportTR</getmasteryreportTR>
		<getlegacyreport>{$PHP_ROOT}linkit.php/getLegacyReport</getlegacyreport>
		<getlegacymasteryreport>{$PHP_ROOT}linkit.php/getLegacyMasteryReport</getlegacymasteryreport>
		<getlegacytestaggregatereport>{$PHP_ROOT}linkit.php/getLegacyTestAggregateReport</getlegacytestaggregatereport>
		<getmaterialdata>{$PHP_ROOT}linkit.php/getMaterialData</getmaterialdata>
		<getachievementlevelsettings>{$PHP_ROOT}linkit.php/getAchievementLevelSettings</getachievementlevelsettings>
		<getfilteredclasses>{$PHP_ROOT}linkit.php/getFilteredClassesList</getfilteredclasses>
		<getfilteredstudentlist>{$PHP_ROOT}linkit.php/getFilteredStudentList</getfilteredstudentlist>
		<getgradebytest>{$PHP_ROOT}linkit.php/getGradeByTest</getgradebytest>
		
		<resultdatabyvirtualtestandstudent>{$PHP_ROOT}linkit.php/dashTestResultsDataByVirtualTestAndStudent</resultdatabyvirtualtestandstudent>

		<getresultstablebystudent>{$PHP_ROOT}linkit.php/getResultsTableReportByStudentDev2</getresultstablebystudent>
		
		<cr2getresultstablebystudent>{$PHP_ROOT}linkit.php/customReports/getResultsTableReportByStudent</cr2getresultstablebystudent>
		
		<currentclassesforteacher>{$PHP_ROOT}linkit.php/getCurrentClassesForTeacher</currentclassesforteacher>
		
		<getvirtualtestsbysubject>{$PHP_ROOT}linkit.php/getVirtualTestsBySubject</getvirtualtestsbysubject>
		
		<gpgstandardreport>{$PHP_ROOT}linkit.php/gpgGetStandardReport</gpgstandardreport>
		
		<profiledistrict>{$PHP_ROOT}linkit.php/profileDistrict</profiledistrict>
		
		
		<profiletestresultsdistrict>{$PHP_ROOT}linkit.php/profileTestResultsDistrict</profiletestresultsdistrict>
		<profilelegacytestsubjectsdistrict>{$PHP_ROOT}linkit.php/profileLegacyTestSubjectsForDistrict</profilelegacytestsubjectsdistrict>
		<profileschool>{$PHP_ROOT}linkit.php/profileSchool</profileschool>
		<profiletestresultsschool>{$PHP_ROOT}linkit.php/profileTestResultsSchool</profiletestresultsschool>
		<profilelegacytestsubjectsschool>{$PHP_ROOT}linkit.php/profileLegacyTestSubjectsForSchool</profilelegacytestsubjectsschool>
		
		<xligetareas>{$PHP_ROOT}linkit.php/XLIGetAreas</xligetareas>
		<xligetmodulesforarea>{$PHP_ROOT}linkit.php/XLIGetModulesForArea</xligetmodulesforarea>
		<xligetareadistricts>{$SERVER_ROOT}adminreporting.asmx/XLIGetAreaDistrictsByAreaID</xligetareadistricts>
		
		<xlicreatearea>{$SERVER_ROOT}adminreporting.asmx/XLICreateArea</xlicreatearea>
		<xliupdatearea>{$SERVER_ROOT}adminreporting.asmx/XLIUpdateArea</xliupdatearea>
		<xlideletearea>{$SERVER_ROOT}adminreporting.asmx/XLIDeleteArea</xlideletearea>
		<xlicreatemodule>{$SERVER_ROOT}adminreporting.asmx/XLICreateModule</xlicreatemodule>
		<xliupdatemodule>{$SERVER_ROOT}adminreporting.asmx/XLIUpdateModule</xliupdatemodule>
		<xlideletemodule>{$SERVER_ROOT}adminreporting.asmx/XLIDeleteModule</xlideletemodule>
		<xlicreateareadistrict>{$SERVER_ROOT}adminreporting.asmx/XLICreateAreaDistrict</xlicreateareadistrict>
		<xlicreateareadistrictnodates>{$SERVER_ROOT}adminreporting.asmx/XLICreateAreaDistrictwithoutDates</xlicreateareadistrictnodates>
		<xliupdateareadistrict>{$SERVER_ROOT}adminreporting.asmx/XLIUpdateAreaDistrict</xliupdateareadistrict>
		<xliupdateareadistrictnodates>{$SERVER_ROOT}adminreporting.asmx/XLIUpdateAreaDistrictwithoutDates</xliupdateareadistrictnodates>
		<xlideleteareadistrict>{$SERVER_ROOT}adminreporting.asmx/XLIDeleteAreaDistrict</xlideleteareadistrict>
		
		<xlicreateareadistrictmodule>{$SERVER_ROOT}adminreporting.asmx/XLICreateAreaDistrictModule</xlicreateareadistrictmodule>
		<xliupdateareadistrictmodule>{$SERVER_ROOT}adminreporting.asmx/XLIUpdateAreaDistrictModule</xliupdateareadistrictmodule>
		<xlideleteareadistrictmodule>{$SERVER_ROOT}adminreporting.asmx/XLIDeleteAreaDistrictModule</xlideleteareadistrictmodule>
		
		<xligetrolesforadm>{$SERVER_ROOT}adminreporting.asmx/XLIGetRolesbyAreadistrictModule</xligetrolesforadm>
		<xlicreateadmrole>{$SERVER_ROOT}adminreporting.asmx/XLICreateAreaDMRole</xlicreateadmrole>
		<xlideleteadmrole>{$SERVER_ROOT}adminreporting.asmx/XLIDeleteAreaDMRole</xlideleteadmrole>
		
		<xligetaccessbydistrict>{$SERVER_ROOT}adminreporting.asmx/XLIGetAreaAccessByAreaIDandUserIDandDistrictID</xligetaccessbydistrict>
		
		<recreateassessment>{$PHP_ROOT}linkit.php/reCreateAssessment</recreateassessment>
		<regetassessmentsfordistrict>{$PHP_ROOT}linkit.php/reGetAssessmentsForDistrict</regetassessmentsfordistrict>
		<recreatelegacytestresult>{$PHP_ROOT}linkit.php/reCreateLegacyTestResult</recreatelegacytestresult>
		<regetstudentsforclassfortest>{$PHP_ROOT}linkit.php/reGetStudentsByClassForTest</regetstudentsforclassfortest>
		
		<cuascreateassessment>{$PHP_ROOT}linkit.php/customAssessments/reCreateAssessment</cuascreateassessment>
		<cuasgetassessmentsfordistrict>{$PHP_ROOT}linkit.php/customAssessments/reGetAssessmentsForDistrict</cuasgetassessmentsfordistrict>
		<cuascreatelegacytestresult>{$PHP_ROOT}linkit.php/customAssessments/reCreateLegacyTestResult</cuascreatelegacytestresult>
		<cuasgetstudentsforclassfortest>{$PHP_ROOT}linkit.php/customAssessments/reGetStudentsByClassForTest</cuasgetstudentsforclassfortest>
		
		<cuasgetsummaryresults>{$PHP_ROOT}linkit.php/customAssessments/getSummaryResultsForTest</cuasgetsummaryresults>
		<cuasgetstudentresults>{$PHP_ROOT}linkit.php/customAssessments/getStudentResultsForTest</cuasgetstudentresults>
		
		<cmngetracesfordistrict>{$PHP_ROOT}linkit.php/common/getRacesForDistrict</cmngetracesfordistrict>
		<cmngetprogramsfordistrict>{$PHP_ROOT}linkit.php/common/getProgramsForDistrict</cmngetprogramsfordistrict>
		<cmngetteststakenatdistrict>{$PHP_ROOT}linkit.php/common/getTestsTakenAtDistrict</cmngetteststakenatdistrict>
		
		<dibelscreateassessment>{$PHP_ROOT}linkit.php/dibelsCreateAssessment</dibelscreateassessment>
		<dibelsgetassessmentsfordistrict>{$PHP_ROOT}linkit.php/dibelsGetAssessmentsForDistrict</dibelsgetassessmentsfordistrict>
		<dibelsgetstudentsforclassfortest>{$PHP_ROOT}linkit.php/dibelsGetStudentsByClassForTest</dibelsgetstudentsforclassfortest>
		<dibelscreatetestresult>{$PHP_ROOT}linkit.php/dibelsCreateTestResult</dibelscreatetestresult>
		<dibelsgetresultsfortest>{$PHP_ROOT}linkit.php/dibelsGetResultsForTest</dibelsgetresultsfortest>
		<dibelsgetsummaryresultsfortest>{$PHP_ROOT}linkit.php/dibelsGetSummaryResultsForTest</dibelsgetsummaryresultsfortest>
		<dibelsbenchmarktable>{$PHP_ROOT}linkit.php/dibelsBenchmarkTable</dibelsbenchmarktable>
		
		
		<dra2getassessmentsfordistrict>{$PHP_ROOT}linkit.php/dra2/dra2GetAssessmentsForDistrict</dra2getassessmentsfordistrict>
		<dra2getstudentsforclassfortest>{$PHP_ROOT}linkit.php/dra2/dra2GetStudentsByClassForTest</dra2getstudentsforclassfortest>
		<dra2createtestresult>{$PHP_ROOT}linkit.php/dra2/dra2CreateTestResult</dra2createtestresult>
		<dra2getresultsfortest>{$PHP_ROOT}linkit.php/dra2/dra2GetResultsForTest</dra2getresultsfortest>
		<dra2getsummaryresultsfortest>{$PHP_ROOT}linkit.php/dra2/dra2GetSummaryResultsForTest</dra2getsummaryresultsfortest>
		<dra2benchmarktable>{$PHP_ROOT}linkit.php/dra2/dra2BenchmarkTable</dra2benchmarktable>
		<dra2settings>{$PHP_ROOT}linkit.php/dra2/dra2Settings</dra2settings>
		
		<caapiGradeScoresData>{$PHP_ROOT}linkit.php/careports/natGetGradeAPIData2</caapiGradeScoresData>
		<canatCSTDeeperData>{$PHP_ROOT}linkit.php/careports/natCSTGetDeeperData</canatCSTDeeperData>
		<canatCSTDeeperDataTeacherClassData>{$PHP_ROOT}linkit.php/careports/natCSTGetDeeperDataTeacherClassData</canatCSTDeeperDataTeacherClassData>
		<canatCSTDeeperDataTeacherClassToTestData>{$PHP_ROOT}linkit.php/careports/natCSTGetDeeperDataTeacherClassToTestData</canatCSTDeeperDataTeacherClassToTestData>
		<canatCSTTopLevelData>{$PHP_ROOT}linkit.php/careports/natCSTTopLevelData</canatCSTTopLevelData>
		<canatSYSReport>{$PHP_ROOT}linkit.php/careports/natCST_SYSReport</canatSYSReport>
		<canatSYSReportForTeacherClass>{$PHP_ROOT}linkit.php/careports/natCST_SYSReportForTeacherClass</canatSYSReportForTeacherClass>
		
		<clusterDtscFotTests>{$PHP_ROOT}linkit.php/clusterReports/getD_S_T_CForTests</clusterDtscFotTests>
		<clusterDtscFotTests2>{$PHP_ROOT}linkit.php/clusterReports/getD_S_T_CForTests2</clusterDtscFotTests2>
		<clusterStudentResults>{$PHP_ROOT}linkit.php/clusterReports/getStudentResultsDEV</clusterStudentResults>

		
		<viewergetreportsetfromcode>{$PHP_ROOT}linkit.php/viewerGetReportSetFromCode</viewergetreportsetfromcode>
		
		<learningtargetdata>http://www.linkit.com/ardev/linkit_AR3_devB/proc/ltdata/LTResultSet.xml</learningtargetdata>
		
		<createTransferToken>{$SERVER_ROOT}adminreporting.asmx/CreateTransferToken2</createTransferToken>
		
		<getqtiitems>{$PHP_ROOT}linkit.php/qti/getQTITestItems</getqtiitems>
		<qtiimageurl>http://portal.linkitdev.com/Content/FlashModules/TestMaker/proc/linkitTestMaker.php/getImage/</qtiimageurl>
		
	</urls>
	
	<accesscontrol>
		<xliareaid>5</xliareaid>
	</accesscontrol>
	<modules >
		<module name="Dashboard" url="dashboardModule.swf" />
		<module name="Standard and Mastery Reports" url="standardModule.swf" />
		<module name="Item Analysis" url="itemAnalysis2Module.swf" />
		<module name="Validation" url="validationModule.swf" />
		<module name="Stats" url="statsModule.swf" />
		<module name="Usage" url="usageModule.swf" />
		<module name="Student History" url="studentHistoryModule.swf" />
		<module name="Groups" url="groupingModule.swf" />
		<module name="Dash 2" url="dashboard2Module.swf" accessLevel="0"/>
		
	</modules>
	
	
	<supmodules >
		<module name="Access Control" url="accessControlModule.swf" accessLevel="0"/>
		
		<module name="API Tester" url="APITesterModule.swf" accessLevel="0"/>
		<module name="Learning Targets" url="learningTargetsModule.swf" accessLevel="0"/>
		<module name="Natomas Module" url="natomasModule.swf" accessLevel="0"/>
		<module name="Natomas API Module" url="natomasAPIModule.swf" accessLevel="0"/>
		<module name="CA Reports" url="CAReportsModule.swf" accessLevel="4" district="1228,1197"/>
		
<!-- 		<module name="Test Assignment" url="testAssignmentModule.swf" accessLevel="4" district="272,1253,1193,1273"/> -->
		
		<module name="Custom Reports" url="customReportsModule.swf"  accessLevel="4" district="272"/>
		<module name="Custom Reports 2" url="customReports2Module.swf"  accessLevel="4" district="272"/>
		
		<module name="Results Entry" url="resultsEntryModule.swf"  accessLevel="4" district="272,1198"/>
		<module name="Custom Assessments" url="customAssessmentsModule.swf"  accessLevel="4" district="272"/>
		
		<module name="DIBELS Benchmark" url="dibelsBenchmarkModule.swf"  accessLevel="4" district="272,754" />
		
		<module name="DRA2" url="dra2Module.swf"  accessLevel="4" district="272" />
		
		<module name="Cluster Reports" url="clusterReportsModule.swf"  accessLevel="4" district="272,1278,1197" />
		<module name="CBA" url="cbaModule.swf" accessLevel="0"/>
		<module name="Groups 2" url="groups2Module.swf" accessLevel="0"/>
		
		<module name="Dash 2" url="dashboard2Module.swf" accessLevel="4" district="272"/>
		
<!-- 		<module name="Groups 2" url="groups2Module.swf"  accessLevel="4" district="272" /> -->

		
	</supmodules>
	
	<externallinks>
		<link name="GradeCam Marking" url="http://www.linkit.com/ardev/gradeCamDemo/"  accessLevel="4" district="1228"/>
<!-- 		<link name="Item Editing" url="http://www.linkit.com/ardev/linkit_TestMaker/linkit_testmaker.html"  accessLevel="4" district="1193,272,1178,1253,1273,1190,1251,1078,1250,1252,1232,1270,1294,1265"/> -->
	</externallinks>
	
	<studentprofile>
		<district id="280" easyname="AUSL" />
		<district id="572" easyname="Chicago Turnaround" />
<!--		<district id="272" easyname="Demo District" />-->
		<district id="619" easyname="Roselle" />
		<district id="754" easyname="Mead" />
		<district id="919" easyname="Innovative Education Management" />
	</studentprofile>
	
	<ALGradedLevels>
		<NJPass>3;2;1</NJPass>
		<NJASK>1;2;3</NJASK>
		<Default>4;3;2;1</Default>
		<STAR>5;4;3;2;1</STAR>
		<INHS1>1;2;3</INHS1>
		<WASP>1;2;3;4</WASP>
		<CAHSEE>9;4;3;2;1</CAHSEE>
		<Dibels>3;2;1</Dibels>
		<TAKS>3;2;1;0</TAKS>
		<CAPHYFIT>6;5;4;3;2;1</CAPHYFIT>
		<CAPHYFIT09>6;5;4;3;2;1</CAPHYFIT09>
		<NYST>4;3;2;1</NYST>
	</ALGradedLevels>
	
	
	<xliroles>
		<role>
			<roleid>3</roleid>
			<name>District Administrator</name>
		</role>
		<role>
			<roleid>8</roleid>
			<name>School Administrator</name>
		</role>
		<role>
			<roleid>2</roleid>
			<name>Teacher</name>
		</role>
	</xliroles>
	
	<wikihelp>
		<module name="dashboardModule.swf">http://184.106.183.17:8090/display/LinkItApp/Part+VI-B.+Data+Dashboard</module>
		<module name="standardModule.swf">http://184.106.183.17:8090/pages/viewpage.action?pageId=524340</module>
		<module name="itemAnalysis2Module.swf">http://184.106.183.17:8090/display/LinkItApp/Part+VI-D.+Item+Analysis+Module</module>
		<module name="validationModule.swf">http://184.106.183.17:8090/display/LinkItApp/Part+VI-E.+Validation+Module</module>
		<module name="groupingModule.swf">http://184.106.183.17:8090/display/LinkItApp/Part+VI-F.+Grouping+Module</module>
		<module name="studentHistoryModule.swf">http://184.106.183.17:8090/display/LinkItApp/Part+VI-G.+Student+History</module>
		<module name="usageModule.swf">http://184.106.183.17:8090/display/LinkItApp/Part+VI-H.+Usage+Module</module>
		
		
	</wikihelp>
	
</config>