@model LinkIt.BubbleSheetPortal.Web.ViewModels.AddTeacherToClassViewModel
           
<section class="grid_5">
    <div class="block-border">
        <div class="block-content form">
            <h1>Assign Teacher</h1>
            <ul style="display: none" id="error-messages-teachers" class="message error"></ul>
            @using (Html.BeginForm("AddTeacherToClass", "ManageClasses", FormMethod.Post, new { id = "addTeacherToClassForm", @data_ajax_form = "true"}))
            {
                @Html.HiddenFor(x => x.ClassId)
                <p>
                    <label>Teacher</label>
                    <span class="relative">
                        @Html.DropDownListFor(x => x.SelectedTeacher, Model.Teachers, new { @class = "full-width" })
                    </span>
                </p>
                <p>
                    <label>Level Of Engagement</label>
                    <span class="relative">
                        @Html.DropDownListFor(x => x.SelectedLOE, Model.LOETypes, new { @class = "full-width" })
                    </span>
                </p>
                <button type="submit">Submit</button>
                <button id="btnCloseUserClick" type="button" class="grey" data-dialog="close">Close</button>
            }
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function() {
        //$('#btnCloseUserClick').click(function () {
        //    $('#divSideContent').empty();
        //});
        $(document).on('click', 'button[data-dialog="close"]', function (e) {
            var self = $(e.target);
            self.closest('.dialog').dialog('close');
        });
    });
</script>
