<style type="text/css">
    #dataTable_wrapper {
        margin-bottom: -65px !important;
    }
    .tooltip {
        position: relative;
    }
    .icon {
        vertical-align: text-bottom !important;
    }
    
    .disabled-action {
        pointer-events: none;
        cursor: default;
    }

</style>

<article class="container_12" id="classes-by-teacher-and-school">
    <section class="grid_12">
        <div class="class-title">@ViewBag.TeacherName</div>
        <div class="block-border">
            <div class="block-content form">
                <ul style="display: none" id="error-messages-classList" class="message error"></ul>
                <h1>
                    Classes
                    <a id="addNewClass" href="javascript:void(0)">
                        <img src="@Url.Content("~/Content/themes/Constellation/images/icons/fugue/plus-circle-blue.png")" />
                        Add new class
                    </a>
                </h1>
                <div id="manageClassNotificationContainer"></div>
                <p style="height: 5px"></p>
                <table id="dataTableTemp" width="100%" cellspacing="0" class="datatable table no-margin">
                    <thead>
                        <tr>
                            <th class="sorting_disabled" scope="col">
                                <input type="checkbox" id="chkAllClass" />
                            </th>
                            <th class="table-actions sorting_disabled" scope="col">Manage Class</th>
                            <th scope="col">
                                <span class="column-sort">
                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                </span>Class
                            </th>
                            <th scope="col">
                                <span class="column-sort">
                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                </span>@LabelHelper.Term
                            </th>
                            <th class="table-actions sorting_disabled" scope="col">Manage Students</th>
                            <th scope="col">
                                <span class="column-sort">
                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                </span>School
                            </th>
                            <th class="table-actions sorting_disabled" scope="col">Teachers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td style="height: 60px;"></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</article>
<script src="/Scripts/ManageClass/App.js"></script>
<script type="text/javascript">
    $(function () {
        var options = {
            bServerSide: true,
            bDestroy: true,
            oLanguage: { "sZeroRecords": "Make a selection and click on 'Apply Filters'"},
            sAjaxSource: '@Url.Action("GetClassesByUserId")?userID=-1&schoolID=-1&className=',
            bAutoWidth: false,
            iDisplayLength: 10,
            aaSorting: [[4, "asc"], [3, "asc"], [2, "asc"]]
        };
        $("#dataTableTemp").data("options", options);

        $('#addNewClass').click(function () {
            location.href = "/ManageClasses/AddClass?teacherID=-1&fromManageSchools=False";
        });
    })
</script>
