@model LinkIt.BubbleSheetPortal.Web.ViewModels.ReplacePrimaryTeacherViewModel
           
<section class="grid_5">
    <div class="block-border">
        <div class="block-content form">
            <h1>Assign Primary Teacher</h1>
            <ul style="display: none" id="error-messages-teachers" class="message error"></ul>
            @using (Html.BeginForm("ReplacePrimaryTeacher", "ManageClasses", FormMethod.Post, new { id = "replacePrimaryTeacherForm", @data_ajax_form = "true" }))
            {
                @Html.HiddenFor(x => x.ClassId)
                <p>
                    <label>Teacher</label>
                    <span class="relative">
                        @Html.DropDownListFor(x => x.SelectedTeacher, Model.Teachers, new { @class = "full-width" })
                    </span>
                </p>                 
                <button type="submit">Submit</button>
                <button id="btnCloseUserClick" type="button" class="grey" data-dialog="close">Close</button>
            }
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function() {
        $('#btnCloseUserClick').click(function () {
            $('#divSideContent').empty();
        });
    });
</script>
