@model LinkIt.BubbleSheetPortal.Web.Models.ResetPassword

@{
    Layout = null;
}

<section class="grid_4">
    <div class="block-border">
        <div class="block-content form">
            <h1>Reset Portal Password</h1>
            @using (Html.BeginForm("ResetPassword", "ManageClasses", FormMethod.Post, new { id = "resetPasswordForm", @class = "form" }))
            {
                <div id="resetPassword">
                    @Html.Partial("_ResetPasswordForm")
                </div>
            }
        </div>
    </div>
</section>

<script type="text/javascript">
    $('#resetPasswordForm').submit(function (event) {
        event.preventDefault();
        $.post('@Url.Action("ResetPassword")', $(this).serialize(), function (response) {
            if (response == true) {
                //$('#sideContainer').html('');
                $('#portalPasswordContainer').hide();

                $.get('@Url.Action("ResetPassword", new {userId = Model.UserId})', function (result) {
                    $('#portalPasswordContainer').html(result);
                });

                $('#success-message li').text('Password successfully changed.');
                $('#success-message').expand();
                setTimeout(function () {
                    $('#success-message').hide();
                }, 5000);
            }
            else {
                $('#resetPassword').html(response);
            }
        });
    });
</script>