@model LinkIt.BubbleSheetPortal.Web.ViewModels.AddEditTermViewModel
@{
    ViewBag.Title = "Edit Term";
}
<article class="container_12">
    <section id="block-content" class="grid_5">
        <div class="block-border">
            <div class="block-content form">
                <h1>
                    Edit @LabelHelper.Term                    
                </h1>
                @using (Html.BeginForm("EditTerm", "ManageClasses", FormMethod.Post, new { id = "editTermForm", @class = "form" }))
                {
                    <ul style="display: none" id="error-messages" class="message error no-margin">
                    </ul>
                    <ul style="display: none" id="success-message" class="message success">
                        <li>New term successfully updated.</li>
                    </ul>
                    @Html.Partial("_AddOrEditTermForm", Model)
                }
            </div>
        </div>
    </section>
</article>
<script type="text/javascript">
    sessionStorage.setItem('ManageSchoolAndClass', true);
    $(function () {
        $('.dataadmin').addClass('current');
        $('#dtaManageSchools').addClass('current');
    });
    $('#editTermForm').submit(function (event) {
        event.preventDefault();
        $('#btnSubmit').disableBt();
        $('#success-message').hide();

        $.ajax({
            url: '@Url.Action("EditTerm")',
            type: 'POST',
            data: $(this).serialize(),
            success: function (response) {
                if (response.Success == true) {
                    $('#error-messages').hide();
                    $('#success-message').show();
                    $('#btnSubmit').enableBt();
                }
                else {
                    addErrorMessages(response);
                }
                $('#btnSubmit').enableBt();
            },
            failure: function (response) {
                alert(response);
            }
        });
    });

    $('#btnCancel').click(function () {
        sessionStorage.setItem('ManageSchoolAndClass', true);
        location.href = '@Url.Action("ManageSchoolAndClass")';
    });
</script>
