@model LinkIt.BubbleSheetPortal.Web.ViewModels.SchoolAndClassViewModel

@{
    ViewBag.Title = "Manage Schools and Terms";
}
@section meta {
    <meta name="viewport" content="width=device-width">
}
<style >
    #manageClass {
        max-width: 940px;
        margin: 30px auto 0;
    }
    #manageClass .block-border {
        width: 918px;
     }
    .block-border .filter-group {
        background: #fff;
        padding: 2.833em 1.667em  1.667em;
    }
        .block-border .filter-group .fileter-item {
            width: 44%;
            float: left;
            margin-bottom: 1.667em;
            margin-left: 4%;
        }
    .block-border .background-filter::after, 
    .block-border .filter-group::after,
    #manageClass .block-border::after,
    #manageClass::after,
    .block-border .filter-group .btn-filter::after{
        display: table;
        clear: both;
        content: '';
    }
    .block-border .filter-group .select-state {
        width: 350px;
    }
    .block-border .filter-group .lable {
        margin: 0;
        text-transform: capitalize;
        color: #808080;
        font-weight: bold;
    }
    .block-border .filter-group .background-filter {
        background: #e6e6e6;
        padding: 20px 10px 0;
    }
    .block-border .filter-group .btn-filter, .block-border .filter-group .btn-clear-filter {
        float: right;
        margin-top: 20px;
    }
    #detailDiv .school-details {
        width: 940px;
        margin-top: 15px;
    }
    .block-border .filter-group .btn-clear-filter {
       margin-right: 10px;
    }
    

    .block-border .filter-group .btn-clear-filter:disabled:hover, .block-border .filter-group .btn-clear-filter:disabled {
        border-color: #e9f2f6 #c4c3c3 #a2a2a2 #e3e2e2;
        background: #c8c8c8 url(../images/old-browsers-bg/button-element-disabled-bg.png) repeat-x top;
        background: -moz-linear-gradient(top, #f0f2f2,#c8c8c8);
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
        background: -webkit-gradient(linear, left top, left bottom, from(#f0f2f2), to(#c8c8c8));
        color: #bfbfbf; 
    }

    #detailDiv .grid-full-with {
        width:  940px;
    }
</style>
<div id="manageClass">
    <div class="block-border form">
        <div class="filter-group  block-content">
            <h1>Filter Schools</h1>
            <fieldset class="background-filter">
                <div v-if="userRole === roles.PUBLISHER || userRole === roles.NETWORKADMIN"  class="fileter-item">
                    <label>State</label>
                    <select v-model="selectedState" v-on:change="selectStates" class="full-width">
                        <option v-for="item in states" :value="item.id">{{item.name}}</option> 
                    </select>
                </div>
                <div v-if="userRole !== roles.DISTRICTADMIN" class="fileter-item">
                    <label>@LabelHelper.DistrictLabel</label>
                    <select v-model="selectedDisrtricts" v-on:change="selectDisrtricts" class="full-width">
                        <option v-for="item in districts" :value="item.id">{{item.name}}</option> 
                    </select>
                </div>
                <div class="fileter-item">
                    <label>School Name</label>
                    <input type="text" v-model="schoolName" class="full-width" />
                </div>
            </fieldset>
            <button v-on:click="onFilterSchool" id="btnFilter" :disabled='disabled ? true : false' class="btn-filter" type="submit">Apply Filters</button>
            <button v-on:click="onClearFilter" :disabled='disabledFilter ? true : false' class="grey btn-clear-filter" type="submit">Clear Filter</button>
        </div>
    </div>
</div>
 <div id="detailDiv"></div>
 <script>
    function loadDistrictDetailData(districtId, schoolName) {
        ShowBlock($('#manageClass'), "Loading");
        $('#detailDiv').empty();
        $('#detailDiv').load('@Url.Action("LoadDistrictDetail")', { districtId: districtId, schoolName: schoolName }, function (response) {
            $('#manageClass').unblock();
            if (typeof (showFooter) === 'function') showFooter();
            if (response == false) {
                alert("Error happen. Please refresh page.");
            }
        });
    }
    function emptyDetailDiv(){
        $('#detailDiv').empty();
    }


    window.addEventListener("beforeunload", function (event) {
        var textSearch = $('#detailDiv #dataTable_filter input').val();
        sessionStorage.setItem('ManageSchool', false);
        if(textSearch) {
            sessionStorage.setItem('textSearch', textSearch);
        } else {
            sessionStorage.setItem('textSearch', '');
        }
        
    });
    $( document ).ready(function() {
        var ManageSchoolAndClass = JSON.parse(sessionStorage.getItem('ManageSchool'));
       if(performance.navigation.type === 2 || ManageSchoolAndClass) {
            var districtId = sessionStorage.getItem('selectedDisrtricts');
            var schoolName =  JSON.parse(sessionStorage.getItem('schoolName'));
            sessionStorage.setItem('ManageSchool', false);
            if(districtId > 0) {
                loadDistrictDetailData(districtId, schoolName);
            }
       }
    });
    function searchDelay(inputFilter, dataTable) {
       var delay = null;

       inputFilter.off('keyup.DT input.DT');

       inputFilter.on("keyup", function () {
           var search = inputFilter.val();
           clearTimeout(delay);
           delay = setTimeout(function () {
               if (search != null) {
                   dataTable.dataTable().fnFilter(search);
               }
           }, 1000);
       });
   }
    
 </script>
<script src="@Url.Content("~/Scripts/ManageClass/api.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ManageClass/ManageClass.js")"  type="text/javascript"></script>
@*
    http://demo.linkitlocal.com/CategoriesAPI/GetStates
    http://demo.linkitlocal.com/CategoriesAPI/GetDistrictByStateId?stateId=75
    http://demo.linkitlocal.com/CategoriesAPI/GetSchoolByDistrictId?districtId=272
*@