
    <fieldset id="fdChildrenFilter" style="margin-bottom: 15px">
        <div class="columns" id="divChildrenFilter">
            <div style="width: 45%; float: left;">
                <div class="mb-3" v-if="userRole === roles.PUBLISHER || userRole === roles.NETWORKADMIN">
                    <label>State</label>
                    <span class="relative">
                        <select v-model="selectedState" v-on:change="selectStates">
                            <option v-for="item in states" :value="item.Id">{{item.Name}}</option>
                        </select>
                    </span>
                </div>
                <div class="mb-3" id="pftSchoolSelect">
                    <label>
                        School
                    </label>
                    <div class="block-text-name relative">
                        <select id="ftSchoolSelect" v-model="selectedSchool" v-on:change="selectSchool">
                            <option v-for="item in schools" :value="item.Id">{{item.Name}}</option>
                        </select>
                        <div class="box-select">
                            <span class="overlay"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3" id="pftTestSelect">
                    <label>
                        Test
                    </label>

                    <div class="block-text-name relative">
                        <select id="ftTestSelect" v-model="selectedTest">
                            <option v-for="item in tests" :value="item.Id">{{item.Name}}</option>
                        </select>
                        <div class="box-select">
                            <span class="overlay"></span>
                        </div>
                    </div>
                </div>
                <p id="pftTeacherSelect">
                    <label>
                        Teacher
                    </label>
                    <span class="relative">
                        <input v-model="teacher" type="text" class="full-width">
                    </span>
                </p>
                <p id="pftTimeSelect">
                    <label>
                        Timeframe
                    </label>
                    <span class="relative">
                        <select id="dateTime" :disabled="!termActive" v-model="selectedTimePeriod" v-on:change="selectTimePeriod" class="full-width">
                            <option v-for="item in timePeriod" :value="item.Id">{{item.Name}}</option>
                        </select>
                    </span>
                </p>
            </div>
            <div style="width: 45%; margin-left: 68px; float: left" class="groupSelect">
                    <div class="mb-3"  v-if="userRole === roles.PUBLISHER || userRole === roles.NETWORKADMIN">
                        <label>
                            @LabelHelper.DistrictLabel
                        </label>
                        <div class="block-text-name relative">
                            <select id="districtSelect" v-model="selectedDisctricts" v-on:change="selectDisctricts">
                                <option v-for="item in districts" :value="item.Id">{{item.Name}}</option>
                            </select>
                            <div class="box-select">
                                <span class="overlay"></span>
                            </div>
                        </div>
                    </div>
                <div class="mb-3" id="pftTermSelect">
                    <label>
                        Term
                    </label>
                    <div class="block-text-name relative">
                        <select id="ftTermSelect" v-model="selectedTerm" v-on:change="selectTerm">
                            <option v-for="item in terms" :value="item.Id">{{item.Name}}</option>
                        </select>
                        <div class="box-select">
                            <span class="overlay"></span>
                        </div>
                    </div>

                </div>
                <div class="mb-3" id="pftClassSelect">
                    <label>
                        Class
                    </label>
                   <div class="block-text-name relative">
                        <select id="ftClassSelect" v-model="selectedClass">
                            <option v-for="item in classes" :value="item.Id">{{item.Name}}</option>
                        </select>
                         <div class="box-select">
                            <span class="overlay"></span>
                        </div>
                    </div>
                </div>
                <p id="pftStudentSelect">
                    <label>
                        Student
                    </label>
                    <span class="relative">
                        <input v-model="student" type="text" class="full-width">
                    </span>
                </p>
            </div>
        </div>
    </fieldset>

<style>
    .groupSelect select {
        width: 390px !important;
    }

    .form select {
        width: 390px;
    }
    #pftTestSelect .block-text-name{
        width: 390px;
    }
    #pftTestSelect .block-text-name .box-select  {
         width: 370px;
    }
    #ftTestSelect {
        border-color: transparent;
    }
    #pftTestSelect::after {
        content: '';
        float: none;
        clear: both;
        display: table;
    }
}
</style>
<script>
    $(function() {
        $('#ftSchoolSelect').marquee({widthSelected: 390});
        $('#ftTestSelect').marquee({widthSelected: 390});
        $('#districtSelect').marquee({widthSelected: 390});
        $('#ftTermSelect').marquee({widthSelected: 390});
        $('#ftClassSelect').marquee({widthSelected: 390});

    })
    function LoadTestReTagToView(districtId, virtualTestId, classId, studentName, schoolId, teacherName, termId, timePeriod) {
        $('#detailDiv').empty();
        ShowBlock($('#dataTable'), 'Loading');
        $('#divTestResultDisplay').load('@Url.Action("LoadTestResultByFilter")', { districtId: districtId, virtualTestId: virtualTestId, classId: classId, studentName: studentName, schoolId: schoolId, teacherName: teacherName, termId: termId, timePeriod: timePeriod }, function (response) {
            $('#dataTable').unblock();
            $('#adminContent').unblock();
            $('html,body').animate({ scrollTop: $('#divTestResultDisplay').offset().top }, 'slow');
            if (typeof (showFooter) === 'function') showFooter();
        });
    }

    function ClearAll() {

        $("#districtSelect").empty();
        $("#ftSchoolSelect").empty();
        $("#ftClassSelect").empty();
        $("#ftTermSelect").empty();
        $("#ftTestSelect").empty();
        $("#txtStudent").val("");
        $("#txtTeacher").val("");

        $("#filterSheets").attr("disabled", "disabled");

        $('#selectState').empty();
    }
</script>
<script src="@Url.Content("~/Scripts/ManageClass/api.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/RemoveTestResults/RemoveTestResults.js")" type="text/javascript"></script>

