@model LinkIt.BubbleSheetPortal.Models.Report

@{
    Layout = null;
}

<div class="block-border">
    <div class="block-content form">
        <h1>Edit Report
            <a id="actionsCancel" href="javascript:void(0)">
                <img src="@Url.Content("~/Content/themes/Constellation/images/icons/fugue/cross-circle.png")" />
                Cancel
            </a>
        </h1>
        @using (Html.BeginForm("EditReport", "Report", FormMethod.Post, new { id = "editReportForm", @class = "form" }))
        {
            <ul style="display: none" id="error-messages" class="message error no-margin"></ul>
            @Html.HiddenFor(x => x.Id)
            <div class="columns">
                <p>
                    <label>Name</label>
                    <span class="relative">
                        @Html.TextBoxFor(x => x.Name, new { @class = "full-width" })
                    </span>
                </p>
                <p>
                    <label>URL</label>
                    <span class="relative">
                        @Html.TextAreaFor(x => x.URL, new { @class = "full-width", @style = "height: 75px" })
                    </span>
                </p>
            </div>
            <p>
                <button type="submit" name="Save">Submit</button>
            </p>
        }
    </div>
</div>