@using LinkIt.BubbleSheetPortal.Models
<div>
    <div class="d-flex align-items-center justify-content-between mb-2">
        <h3 class="h3 mb-0">Items on the Test</h3>
    </div>
    <div style="max-height: 600px; overflow-y: scroll; overflow-x: hidden; ">        
        @foreach (var virtualSection in (List<ListItem>)ViewBag.VirtualSections)
        {
            Html.RenderPartial("v2/_SectionItem", virtualSection);            
        }
    </div>
</div>
<script>
    function refreshSectionQuestionOrder(virtualSectionId, selectedItemId) {
        if (virtualSectionId==null) {
            virtualSectionId = '';
        }
        if (selectedItemId == null) {
            selectedItemId = '';
        }
        if (virtualSectionId.length == 0) {
            return;
        }
        if (selectedItemId.length == 0) {
            return;
        }

        var numberOfAddedItems = selectedItemId.split(',').length;
        //$('.sectionTable').find('tr').each
        //Update sectionQuestionOrder for the next section
        var divId = 'virtualSection' + '-' + virtualSectionId;//id of div that contains the section which already added/imported question to
        //Find the all div which contain tableSection and in  the higher order 
        $.each($('#' + divId).parent().nextAll('div'), function (idx, sectionDiv) {
            //get the section table inside of each div
            var sectionTable = $(sectionDiv).find('.sectionTable');
            //go to each td that show order of the table
            $.each(sectionTable.find('.sectionRow'), function (idxTd, td) {
                var tdQuestion = $(td);
                //get the number section,question order inside (x)
                var orderText = tdQuestion.text();
                if (orderText != null) {
                    var openIdx = orderText.indexOf('(');
                    var closeIdx = orderText.indexOf(')');
                    var questionOrder = orderText.substring(openIdx+1, closeIdx);
                    questionOrder = parseInt(questionOrder);
                    questionOrder = questionOrder + numberOfAddedItems;
                    var newOrderText = orderText.substring(0, openIdx+1) + questionOrder + ')';
                    tdQuestion.text(newOrderText);
                }
                
            });
            
        });
    }

    
    
</script>
