@model LinkIt.BubbleSheetPortal.Web.ViewModels.ListItemsViewModel

<style>
    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupConfirmDeleteVirtualTest"] {
        width: 500px !important;
        padding: 0;
    }
</style>

<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004'>
        <div id="divConfirmDeleteBank" class='block-content bubbleSheetSelector p-4' style='z-index: 1004'>

            <div div class="mb-4">
                <b>@Model.Name</b>
            </div>
            @if (Model.Id == 0)
            {
                <div class="modal-component-footer mx-n4 px-4">
                    <div slot="footer">
                        <button id="btnCancelDeleteVirtualTest" onclick="cancelDeleteVirtualTest();" type="button" name="cancel">
                            Close
                        </button>
                    </div>
                </div>
            }
            else
            {
                <div class="modal-component-footer mx-n4 px-4">
                    <div slot="footer">
                        <button id="btnCancelDeleteVirtualTest" onclick="cancelDeleteVirtualTest();" type="button" name="cancel">
                            No
                        </button>
                        <button class="btn-red" id="btnconfirmDeleteVirtualTest" onclick="DeleteVirtualTestByID('@Model.Id');" type="button" name="ok">
                            Yes
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<script type="text/javascript">
    function cancelDeleteVirtualTest() {
        $(".dialog").dialog("close");
    }
</script>
