@model LinkIt.BubbleSheetPortal.Web.ViewModels.ListItemsViewModel

<style>
    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupConfirmDeleteBank"] {
        width: 500px !important;
        padding: 0;
    }
</style>

<section style='z-index: 2004;'>
    <div class='block-border' style='z-index: 2004'>
        <div id="divConfirmDeleteBank" class='block-content bubbleSheetSelector p-4' style='z-index: 1004'>

            @if (!ViewBag.CanDeleteBank)
            {
                <div class="mb-4">
                    <b>
                        This bank cannot be deleted. There are tests or forms associated to the bank.
                    </b>
                </div>
                <div class="modal-component-footer mx-n4 px-4">
                    <div slot="footer">
                        <button id="btnCancelDeleteVirtualTest" onclick="cancelDeleteVirtualBank();" type="button" name="cancel">
                            Close
                        </button>
                    </div>
                </div>
            }
            else
            {
                <div class="mb-4">
                    <b>
                        Are you sure you want to delete @Model.Name? This deletion is permanent and cannot be undone. Are you sure you want to continue?
                    </b>
                </div>

                <div class="modal-component-footer mx-n4 px-4">
                    <div slot="footer">
                        <button id="btnCancelDeleteVirtualTest" onclick="cancelDeleteVirtualBank();" type="button" name="cancel">
                            No
                        </button>
                        <button class="btn-red" id="btnconfirmDeleteBank" onclick="DeleteTestBankByID('@Model.Id');" type="button" name="ok">
                            Yes
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<script type="text/javascript">
    function cancelDeleteVirtualBank() {
        //$("#PopupConfirmDeleteVirtualTest").dialog("close");
        $(".dialog").dialog("close");
    }
</script>
