<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004'>
        <div id="divAlertPassage" class='block-content bubbleSheetSelector p-4' style='z-index: 1004'>
            @*<h1 class="p-0 mb-4" style="line-height: normal;">Warning</h1>*@
            <p style="text-align: center; font-weight: 700; color: var(--navyColor);">
                Passage names cannot be more than 50 characters long.
            </p>
        </div>
        <div style="background: var(--navyColor); height: 70px; display: flex; align-items: center; justify-content: center;">
            <button id="btnCancelAlertPassage" class="btn-accept" onclick="cancelAlertPassage();" type="button" name="Close">
                Close
            </button>
        </div>

    </div>
</section>
<script type="text/javascript">
    //function cancelAlertPassage() {
    //    $(".dialog").dialog("close");
    //    $("body .my-overlay").remove();
    //    $('#txtName').focus();
    //}
</script>

<style>
    .ui-widget-header {
        border: 0px solid var(--grey0) !important;
        background: transparent !important;
        position: relative;
        top: 34px;
    }

    .ui-dialog {
        background: transparent;
        border: 0;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        position: absolute;
        right: 7px;
        top: -8px;
    }

    .ui-widget-header .ui-icon {
        background-image: url("/Content/themes/base/images/fancy_close.png");
    }

    .ui-icon {
        width: 40px;
        height: 40px;
    }

    .ui-icon-closethick {
        background-position: 2px 2px;
    }

    .ui-widget-header .ui-state-hover {
        border: 0;
        background: transparent !important;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        width: 30px;
        height: 42px;
    }

</style>
