@model LinkIt.BubbleSheetPortal.Web.ViewModels.PassageDeleteViewModel

<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004'>
        <div id="divConfirmDeletepassage" class='block-content bubbleSheetSelector' style='z-index: 1004'>
            @if (Model.CanDelete)
            {<h1>Confirmmation</h1>

            }
            else
            {
                <h1>Warning</h1>
            }

            @if (Model.VirtualTestCount > 0)
            {
                <p style="text-align: left;">
                    <img src="Content/themes/Constellation/images/icons/fugue/exclamation-diamond.png" width="16" height="16" style="margin-right: 4px;margin-left:6px" source="">
                    Passage is used on test(s):
                    <br />
                    @foreach (var item in Model.VirtualTests)
                    {
                        <span>@item.Name</span><br />
                    }
                </p>
            }

            @if (Model.Id == 0)
            {
                <p>
                    @Model.Name
                </p>
            }
            else
            {
                if (Model.CanDelete)
                {
                    <p style="text-align: center;">
                        Are you sure you want to delete passage @Model.Name?
                    </p>
                }
            }
            @if (Model.Id > 0)
            {
                <p style="text-align: center;">
                    @if (Model.CanDelete)
                    {
                        <button id="btnconfirmDeletePassage" onclick="DeletePassageByID('@Model.Id');" type="button" name="ok">
                            YES
                        </button>
                        <button id="btnCancelDeletePassage" onclick="cancelDeletePassage();" type="button" name="cancel">
                            NO
                        </button>
                    }
                    else
                    {
                        <button id="btnCancelDeletePassage" onclick="cancelDeletePassage();" type="button" name="cancel">
                            CLOSE
                        </button>
                    }
                </p>
            }
        </div>
    </div>
</section>
<script type="text/javascript">
    function cancelDeletePassage() {
        $(".dialog").dialog("close");
    }
</script>

<style>
    .ui-widget-header {
        border: 0px solid #aaa !important;
        background: transparent !important;
        position: relative;
        top: 34px;
    }

    .ui-dialog {
        background: transparent;
        border: 0;
    }

        .ui-dialog .ui-dialog-titlebar-close {
            position: absolute;
            right: 7px;
            top: -8px;
        }

    .ui-widget-header .ui-icon {
        background-image: url("/Content/themes/base/images/fancy_close.png");
    }

    .ui-icon {
        width: 40px;
        height: 40px;
    }

    .ui-icon-closethick {
        background-position: 2px 2px;
    }

    .ui-widget-header .ui-state-hover {
        border: 0;
        background: transparent !important;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        width: 30px;
        height: 42px;
    }
</style>
