<template id="edit-access-right-template">
    <section style='z-index: 2004' class="dialog" id="popupEditAccess">
        <div class='block-border' style='z-index: 2004'>
            <div id="dvEditAccess" class='block-content bubbleSheetSelector form' style='z-index: 1004'>
                <h1>{{DisplayTitle}}</h1>
                <ul style="display: none" id="error-messages-create" class="message error"></ul>
                <ul style="display: none" id="success-message-create" class="message success">
                    <li>Restriction has been successfully updated.</li>
                </ul>
                @using (Html.BeginForm("SaveRestrictionCategoriesTests", "RestrictionAccessRights", FormMethod.Post, new { id = "editAccessForm", @class = "form" }))
                {
                    <fieldset>
                        <div class="columns">
                            <p>
                                <input type="checkbox" class="accessbox" data-role="2" data-restrictionModuleID="9" id="chkTeacherAccess" />
                                <label for="chkTeacherAccess">{{TeacherAccessLabel}}</label>
                            </p>
                            <p>
                                <input type="checkbox" class="accessbox" data-role="8" data-restrictionModuleID="9" id="chkSchoolAdminAccess"/>
                                <label for="chkSchoolAdminAccess">{{SchoolAdminAccessLabel}}</label>
                            </p>
                            <p style="text-align: center;">
                                <button type="submit" id="btnSave">Save</button>
                                <button type="button" id="btnCancel">Cancel</button>
                            </p>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </section>
</template>
