<fieldset class="assignment-fieldset">
    <legend>Categories</legend>
    <div class="assignment-content">
        <div id="categoriesPanel">
            <div class="category-tab" data-bind="
                foreach: SelectedQuestion().RubricQuestionCategories,
                attr: {
                    'data-cols': SelectedQuestion().RubricQuestionCategories().length
                }
            ">
                <div
                    class="category-tab-item"
                    data-bind="
                        text: CategoryName(),
                        click: $parent.SelectedQuestion().CategoryListClicked, 
                        css: {
                            'is-active': $parent.SelectedQuestion().SelectedCategoryID() === CategoryID(),
                            'is-marked': IsMarked
                        }
                "></div>
            </div>
            <div class="clear"></div>
            <div id="categoryPane" class="m-t-15" data-bind="template: { name: 'CategoryPaneTemplate', foreach: SelectedQuestion().RubricQuestionCategories }"></div>
        </div>
    </div>
</fieldset>

<script type="text/html" id="CategoryPaneTemplate">
    <div 
        data-bind="
            css: {
                'is-active': $parent.SelectedQuestion().SelectedCategoryID() === CategoryID()
            }
        "
    >
        
        <div class='scrollable'>
            <div class='scrollable-body'>
                <div
                    class="tier-list"
                    data-bind="
                        foreach: CategoryTierList,
                        css: {
                            'is-fill': IsFill
                        }
                    ">
                    <div class="tier-item"
                        data-bind="
                            tippy: TierDescription(),
                            css: {
                                'is-active': IsActive
                            },
                            click: $root.SelectedQuestion().SelectedCategory().TierClicked
                        "
                    >
                        <p data-bind="
                            text: TierLabel,
                            visible: IsVisibledTierLabel
                        "></p>
                        <h6 data-bind="
                            text: TierPoint
                        "></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
