@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Web
<div class="assignment-form form">
    <fieldset class="assignment-fieldset">
        <legend>@LabelHelper.CodingLabel and Feedback for @LabelHelper.QuestionLabel</legend>
        <div class="assignment-content">
            <div class="assignment-grading u-clearfix">
                <div class="mb-3">
                    <div class="assignment-point u-inline-block">
                        <span 
                            class="assignment-point-button assignment-point-up" 
                            data-bind="
                                click: Plus,
                                enable: GradeNumberInputCss,
                                css: {
                                    'd-none': !GradeNumberInputCss()
                                }
                            ">
                            Point Up
                        </span>
                        <span 
                            class="assignment-point-button assignment-point-down" 
                            data-bind="
                                click: Minus,
                                enable: GradeNumberInputCss,
                                css: {
                                    'd-none': !GradeNumberInputCss()
                                }
                            ">
                            Point Down
                        </span>
                        <input 
                            type="text" 
                            class="u-full onlyNumber PointsEarned" 
                            data-bind="
                                value: PointsEarned, 
                                enable: GradeNumberInputCss, 
                                valueUpdate: 'afterkeydown',
                                event: { 
                                    keyup: PointsEarned_Keyup 
                                },
                                attr: {
                                    signature: CanGradingForceUIRefreshSignature
                                }"
                        >

                    </div>
                    <div class="u-inline-block">
                        &nbsp;out of <span data-bind="text: PointsPossible">4</span>
                        <button class="btn-assignment"
                                data-bind="
                                click: UpdateAsnswerPointsEarned,
                                enable: GradeButtonCss,
                                attr: {
                                    signature: CanGradingForceUIRefreshSignature
                                }">
                            Apply @LabelHelper.CodeLabel
                        </button>
                    </div>
                </div>
                <div class="assignment-grading-feedback-question">
                    <textarea name="txtFeedbackQuestion"
                              id="txtFeedbackQuestion"
                              cols="30"
                              rows="10"
                              class="u-full"
                              data-bind="value: FeedbackQuestion, enable: FeedBackFormQuestionVisible">
                    </textarea>

                    <div class="feedback-audio-wrapper" data-bind="visible: !!TeacherFeedbackAttachmentSetting() && SelectedStudentID() > 0">
                        <div class="assignment-grading-feedback-audio">
                            <div id="audioPlayer" data-bind="visible: !!TeacherFeebackAttachment, audioPlayer: AudioPlayerOptions()"></div>
                        </div>
                        <button id="btnRecordFeedback" class="record__button" data-bind="
                                    enable: FeedBackFormQuestionVisible,
                                    disable: LockRecordFeedbackBtn,
                                    click: RecordFeedbackClick,
                                    css: (IsRecordingFeedback() ? 'record__button--recording' : '')">
                            <img data-bind="visible: !IsRecordingFeedback()" src="Content/images/icons/mic-white.svg" class="w-100" alt="Start recording">
                            <img data-bind="visible: IsRecordingFeedback()" src="Content/images/icons/stop-white.svg" class="w-100" alt="Stop recording">
                        </button>
                    </div>
                    <div data-bind="visible: ShowFeedbackQuestionHistory">
                        <div class="assignment-feedback-history" data-bind="text: FeedbackQuestionHistoryMessage"></div>
                    </div>
                </div>
                    <div class="u-text-right m-t-10">
                        <button id="btnSaveFeedbackQuestion"
                                class="btn-assignment"
                                data-bind="
                                click: SaveFeedbackQuestionClick,
                                enable: FeedBackFormQuestionVisible,
                                disable: LockSaveFeedbackQuestionBtn">
                            Save Feedback
                        </button>
                    </div>
                </div>
        </div>
    </fieldset>
</div>
