<div class="popup-fullpage-print">
    <div class="popup-fullpage-content">
        <div class="u-text-center">
            <p>All questions for all pending students have now been graded.</p>
            <p>Would you like to submit their results to generate an overall score in Reporting?</p>
            <div class="u-m-t-10">
                <button type="button" data-bind="click: YesConfirmAutoBulkSubmitTest">Yes</button>
                <button type="button" data-bind="click: NoConfirmAutoBulkSubmitTest">No</button>
            </div>
        </div>
    </div>
</div>
