<div class="assignment-note">
    <div class="assignment-note-cell" data-bind="foreach: QuestionFiltersList">
        <div class="assignment-note-cell-filter">
            <label data-bind="attr: { for: Id }">
                <input type="checkbox" data-bind="attr: { id: Id, value: Value }, checked: $root.QuestionFilters">
                <span data-bind="attr: { class: IconClasses }"></span>
                <span data-bind="text: Text"></span>
            </label>
        </div>
    </div>
</div>