@using LinkIt.BubbleSheetPortal.Web.Helpers

<fieldset class="assignment-fieldset">
    <legend>@LabelHelper.QuestionLabel List (<span data-bind="text: TotalVisibleQuestions"></span>)</legend>
    <div class="assignment-content u-no-padding">
        @Html.Partial("_QuestionFiltersList")
        <div class="assignment-desc assignment-desc-questions" id="divQuestionMenu">
            <ul class="assignment-list" data-bind="template: { name: 'GroupQuestionMenuItemsTemplate', foreach: GroupQuestionsDisplay }"></ul>
        </div>
        <div class="assignment-note">
            <div class="assignment-note-cell">
                <span><span class="icon icon-answered"></span> Answered</span>
                <span><span class="icon icon-unanswered"></span> Unanswered</span>
                <span><span class="icon icon-reviewable"></span> Reviewable</span>
            </div>
        </div>
    </div>
</fieldset>

<script type="text/html" id="QuestionMenuItemsTemplate">
    <li class="assignment-list-item" data-bind="visible: VisibleQuestion, click: $root.QuestionClick, css: {'is-selected' : QuestionSelectedCss}, attr: {'qtiSchemaID' : QTIItemSchemaID, 'QTIItemID' : QTIItemID}">
        <div data-bind="attr: {'class': AnsweredCSS}">
            <span data-bind="text: QuestionOrderDisplay"></span>
            <span class="assignment-list-icon">
                <span class="icon icon-reviewable" data-bind="visible: NotYetReviewCSS"></span>
                <span class="icon icon-reviewable-disabled" data-bind="visible: ReviewedCSS"></span>
            </span>
        </div>
        <div class="assignment-list-credit">
            <span class="icon-credit" data-bind="css: PointsClassCreditCSS"></span>
        </div>
        <div class="assignment-list-question" data-bind="html: QuestionMenuItems"></div>
    </li>
</script>

<script type="text/html" id="GroupQuestionMenuItemsTemplate">
    <li data-bind=" attr: {'groupid' : groupID}, css:{'groupQuestion': isHeader}">
        <ul class="assignment-list" data-bind="template: { name: 'QuestionMenuItemsTemplate',foreach: items, afterRender: $root.QuestionsRendered}"></ul>
    </li>
</script>
