<div class="block-reviewer block-reviewer-last">
    <div class="u-text-center">
        <p class="u-m-b-15">
            <span>Total Test Score: <strong data-bind="text: TotalPointsEarned"></strong> out of <strong data-bind="text: TotalPointsPossible">0</strong></span>
        </p>
        <div data-bind="with: Rubric" class="u-inline-block">
            <button 
                data-bind="click: $parent.DownloadRubricFile, visible: Success" 
                type="button" 
                class="btn-assignment btn-assignment-medium">
                @LabelHelper.ViewRubricLabel
            </button>
        </div>
        <div class="u-inline-block">&nbsp;</div>
        <button 
            class="btn-assignment btn-assignment-medium" 
            data-bind="
                click: SubmitTest, 
                enable: SubmitTestButtonCss, 
                attr: {
                    signature: SubmitTestForceUIRefreshSignature
            }">
            Submit Test
        </button>
    </div>
</div>