<div class="popup-fullpage-grading-shortcuts">
    <div class="popup-fullpage-content">
        <h1 class="popup-fullpage-title">View Drawing Detail</h1>
        <div id="graphContainer">
        </div>
    </div>
</div>