<div>
    <embed id="rubricPdfBox" src="" frameborder="0" style="width: 100%; height:600px">
    <span class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se ui-icon-grip-diagonal-se"></span>
</div>
