html,
body {
  background-color: white;
}

.VirtualQuestion {
  background: #fff;
  min-width: 620px;
  height: 100%;
  overflow: auto;
  position: relative;
  max-width: 100%;
}

.VirtualQuestion::-webkit-scrollbar,
.VirtualQuestion-passage-content::-webkit-scrollbar,
.VirtualQuestion-question-group-content::-webkit-scrollbar {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 7px;
}

.VirtualQuestion::-webkit-scrollbar:horizontal,
.VirtualQuestion-passage-content::-webkit-scrollbar:horizontal,
.VirtualQuestion-question-group-content::-webkit-scrollbar:horizontal {
  height: 7px;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.VirtualQuestion::-webkit-scrollbar-thumb,
.VirtualQuestion-passage-content::-webkit-scrollbar-thumb,
.VirtualQuestion-question-group-content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ccc;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.VirtualQuestion .assessmentItem {
  margin-bottom: 0;
}

.assessmentItem {
  border: 0 !important;
}

.img-action {
  margin-right: 4px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding-top: 10px;
}

.qtiItemSelector select {
  min-width: 300px;
  max-width: 300px;
}

#qtiItemDataTable_wrapper .answer {
  font-family: Verdana, Arial, Helvetica, sans-serif, 'dejavu_sansbook';
  font-size: 14px;
  color: #333333;
}

#qtiItemDataTable_wrapper .normalText {
  font-size: 14px;
}

.noPadding {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

#divQtiItemDetail .assessmentItem:before {
  content: '';
  border: 0 !important;
}

#divQtiItemDetail .simpleChoice {
  list-style: none outside none;
}

#editQtiItemDialog .block-content {
  padding-top: 10px;
}

.choiceInteraction {
  counter-reset: my-counter;
  display: inline-block;
}

.choiceInteraction .simpleChoice:before,
.choiceInteraction .simpleChoiceMainBody:before {
  content: counter(my-counter, upper-latin) '.';
  counter-increment: my-counter;
  padding: 0 10px 10px 0;
  color: #000;
  font-weight: normal;
  line-height: 24px;
}

.choiceInteraction .simpleChoiceMainBody:before {
  left: 0;
}

.choiceInteraction .answerText {
  display: block;
  margin: 5px 0;
}

.choiceInteraction .answerTextIndent.answerTextCorrect {
  padding-left: 20px !important;
}
.choiceInteraction .answerTextIndent.answerTextCorrect .icon-correct-variable,
.choiceInteraction
  .answerTextIndent.answerTextCorrect
  .icon-incorrect-variable {
  position: absolute;
  top: 2px;
  left: -1px;
}

.answerText:before {
  content: counter(my-counter, upper-latin) '.';
  counter-increment: my-counter;
  float: left;
  color: #000;
  font-weight: normal;
  line-height: 22px;
  left: 27px;
}

.answerTextIndent {
  text-indent: 10px;
}

.answerText2:before {
  content: counter(my-counter, decimal) '.';
  counter-increment: my-counter;
  float: left;
  text-indent: 10px;
  color: #000;
  font-weight: normal;
  line-height: 22px;
  left: 27px;
}

.choiceInteraction .simpleChoice2:before {
  content: counter(my-counter, decimal) '.';
  color: #000;
  font-weight: normal;
  line-height: 22px;
  left: 27px;
}

.choiceInteraction .simpleChoice2MainBody:before {
  content: counter(my-counter, decimal) '.';
  float: left;
  color: #000;
  font-weight: normal;
  line-height: 22px;
  left: 27px;
}

.answer {
  line-height: 20px;
  font-family: Arial, 'Arial Unicode MS', 'dejavu_sansbook' !important;
}

inlineChoiceInteraction,
.inlineChoiceInteraction {
  margin: 0 5px;
}

textEntryInteraction,
.textEntryInteraction {
  margin: 0 5px;
}

.partialDestinationObject {
  display: inline-block;
  position: relative;
}

.partialDestinationObject[type='text'] {
  border-radius: 6px;
  border: solid 1px #bebebe;
  padding: 2px;
  display: inline-block;
  font-style: italic;
  color: #ccc;
  margin: 2px 5px;
  line-height: 0 !important;
}

tr.even.row_selected td {
  background-color: #82cafa !important;
}

tr.odd.row_selected td {
  background-color: #82cafa !important;
}

#qtiItemDataTable tbody input[type='checkbox'] {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

#qtiItemDataTable p {
  line-height: 20px;
}

sourceObject {
  border: 1px solid #bebebe;
  background-color: #eeeeee;
  cursor: pointer;
  display: inline-block;
}

sourceObject[type='text'] {
  padding: 0 0 2px 1px;
  margin: 2px 0px;
  background-color: #eeeeee;
  border: 1px solid #0088cc;
  color: #1c94c4;
  font-weight: bold;
  overflow: hidden;
  max-width: 600px;
}

destinationObject {
  display: inline-block;
  position: relative;
}

destinationObject[type='text'] {
  border-radius: 6px;
  border: solid 1px #bebebe;
  padding: 2px;
  display: inline-block;
  font-style: italic;
  color: #ccc;
  margin: 2px 0px;
}

.mainBody,
.mainbody {
  line-height: 22px;
}

.simpleChoiceMainBody,
.simpleChoice2MainBody {
  clear: both;
  min-height: 30px;
}

.choiceInteraction img {
  margin-top: 0px;
}

input[type='checkbox'] {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

input[type='checkbox'] + label {
  cursor: pointer;
}

/*-----------------------*\
    #GUIDANCE/RATIONALE
\*-----------------------*/
.guidance_rationale {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 250px;
  max-height: 250px;
  overflow: auto;
}

.guidance {
  margin-bottom: 5px;
}

.guidance .guidance-label + .guidance-content {
  padding-left: 10px;
}

.guidance-audio {
  padding-left: 35px;
  min-height: 35px;
  position: relative;
}

.guidance-audio .Player-audio {
  position: absolute;
  top: 0;
  left: 0;
}

.Player-audio .Player-audio-play {
  background: url(/Content/themes/TestMaker/images/small_audio_play.png)
    no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.Player-audio .Player-audio-play.is-playing {
  background: url(/Content/themes/TestMaker/images/small_audio_stop.png)
    no-repeat;
}

.u-clearfix::after,
.VirtualQuestion-header::after {
  content: '';
  display: table;
  clear: both;
}

/*-----------------------*\
    #VIRTUAL QUESTION
\*-----------------------*/
.VirtualQuestion .linkit-table,
.VirtualQuestion table {
  table-layout: initial;
  width: auto;
}

.VirtualQuestion img {
  max-width: none;
}

.VirtualQuestion-header {
  background: #d8d8d8;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.VirtualQuestion-navbar {
  float: right;
}

.VirtualQuestion-menu {
  border-left: 1px solid rgba(34, 36, 38, 0.15);
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  background: 0 0;
  padding: 10px 20px;
  text-transform: none;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
}

.VirtualQuestion-menu:hover .VirtualQuestion-dropdown,
.VirtualQuestion-menu:focus .VirtualQuestion-dropdown {
  visibility: visible;
}

.VirtualQuestion-menu a {
  color: #444;
}

.VirtualQuestion-item {
  display: block;
  cursor: pointer;
}

.VirtualQuestion-dropdown {
  background: #d8d8d8;
  position: absolute;
  top: 100%;
  left: -1px;
  width: 217px;
  visibility: hidden;
}

.VirtualQuestion-menu:last-child .VirtualQuestion-dropdown {
  left: auto;
  right: -1px;
}

.VirtualQuestion-dropdown li:first-child .VirtualQuestion-dropdown-item {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}

.VirtualQuestion-dropdown li:last-child .VirtualQuestion-dropdown-item {
  border-bottom-style: solid;
}

.VirtualQuestion-dropdown-item {
  border-bottom: 1px dotted #ccc;
  border-left: 1px solid rgba(34, 36, 38, 0.15);
  border-right: 1px solid rgba(34, 36, 38, 0.15);
  display: block;
  padding: 7px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.VirtualQuestion-menu .js-get-question-group {
  border: none;
}

.VirtualQuestion-dropdown-item.is-active {
  cursor: default;
  pointer-events: none;
}

.VirtualQuestion-passages,
.VirtualQuestion-badge,
.VirtualQuestion-passage-loading,
.VirtualQuestion-question-group {
  margin: 20px;
}

.VirtualQuestion-passage,
.VirtualQuestion-badge {
  border: 1px solid #d8d8d8;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.VirtualQuestion-passage-header h4 {
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.VirtualQuestion-passage-header,
.VirtualQuestion-badge-header {
  background: #d8d8d8;
  padding: 5px 10px;
  font-weight: 700;
  position: relative;
}

.VirtualQuestion-passage-content,
.VirtualQuestion-badge-content,
.VirtualQuestion-passage-loading,
.VirtualQuestion-question-group-content {
  padding: 10px;
}

.VirtualQuestion-passage-content,
.VirtualQuestion-question-group-content,
.VirtualQuestion-badge-content {
  max-height: 400px;
  overflow: auto;
}

.VirtualQuestion-passage-content .passage {
  background: transparent;
  width: auto;
  padding: 0;
  margin: 0;
}

.VirtualQuestion-content.is-header {
  margin-top: 60px;
}

.VirtualQuestion-xml sourcetext,
.VirtualQuestion-xml .sourcetext {
  background: transparent;
}

.VirtualQuestion-xml .numberLineItem[correct='true'],
.VirtualQuestion-xml .numberLineItem[correct='false']:not([pointvalue='0']) {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #6bc287;
  display: inline-block;
  border: 2px solid darkgreen;
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 100%;
}

.VirtualQuestion-passage-close {
  position: absolute;
  top: 50%;
  right: 5px;
  width: 20px;
  font-weight: 700;
  line-height: 20px;
  height: 20px;
  background: white;
  text-align: center;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  border-radius: 100%;
  cursor: pointer;
}

.VirtualQuestion-passage-loading {
  border: 1px solid #d8d8d8;
  padding: 7px 10px;
}

.VirtualQuestion-passage-loading p {
  font-size: 14px;
}

.VirtualQuestion-passage-loading p:after {
  content: '\2026'; /* ascii code for the ellipsis character */
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  width: 0;
}

.textEntryInteraction ~ .VirtualQuestion-badge {
  margin: 20px 0;
}

.hide {
  display: none;
}

.icon-correct-variable {
  background: url('/Content/themes/Constellation/images/icons/fugue/square-check-16.png');
  display: inline-block;
  width: 15px;
  height: 15px;
}
.icon-incorrect-variable {
  background: url('/Content/themes/Constellation/images/icons/fugue/square-uncheck-16.png');
  display: inline-block;
  width: 15px;
  height: 15px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.hotspot-circle.bubble.top {
  margin-bottom: 32px;
  margin-top: 0;
  vertical-align: text-bottom !important;
}
.hotspot-circle.bubble:after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: -11px;
  left: 4px;
}
.hotspot-circle.bubble.top:after {
  border-top: 10px solid black;
  border-bottom: 0;
  bottom: -11px;
  top: unset;
}

.line-matching sourceobject[type="image"] {
  position: relative;
  margin: 1px;
}

.line-matching .text-wrapper {
  display: inline-block;
  position: relative;
}

.line-matching .mainBody {
  position: relative;
}
.line-matching .line {
  position: absolute;
  background-color: #1e1e54;
  height: 2px;
  transform-origin: 0 0;
  cursor: pointer;
}

.line-matching sourceobject:after,
.line-matching .destinationItem sourceobject {
  display: none !important;
}

.line-matching sourceobject {
  padding: 8px !important;
}

.line-matching sourceobject[type="image"] .anchor,
.line-matching div.destinationObject[type="image"] .destinationItem,
.line-matching .text-wrapper .anchor {
  width: 10px !important;
  height: 10px !important;
  content: "";
  border-radius: 50%;
  background-color: #1e1e54;
  color: #1e1e54;
  position: absolute;
  border: none;
  cursor: pointer;
}

.line-matching.object-right sourceobject[type="image"] .anchor {
  top: 50%;
  margin-top: -5px;
  right: 7px;
}

.line-matching.object-right sourceobject[type="image"] {
  padding-right: 25px !important;
}

.line-matching.destination-left div.destinationObject[type="image"] {
  margin-left: 25px !important;
}

.line-matching.destination-left div.destinationObject[type="image"] .destinationItem {
  left: -18px !important;
}

.line-matching.object-left sourceobject[type="image"] .anchor {
  top: 50%;
  margin-top: -5px;
  left: 7px;
}

.line-matching.object-left sourceobject[type="image"] {
  padding-left: 25px !important;
}

.line-matching.destination-right div.destinationObject[type="image"] {
  margin-right: 25px !important;
}

.line-matching.destination-right div.destinationObject[type="image"] .destinationItem {
  left: calc(100% + 8px) !important;
}

.line-matching.object-right .text-wrapper.object .anchor {
  top: 50%;
  margin-top: -5px;
  right: 7px;
}

.line-matching.object-right .text-wrapper.object {
  padding-right: 25px !important;
}

.line-matching.destination-left .text-wrapper.destination {
  padding-left: 25px !important;
}

.line-matching.destination-left .text-wrapper.destination .anchor {
  left: 7px !important;
  top: 50%;
  margin-top: -5px;
}

.line-matching.object-left .text-wrapper.object .anchor {
  top: 50%;
  margin-top: -5px;
  left: 7px;
}

.line-matching.object-left .text-wrapper.object {
  padding-left: 25px !important;
}

.line-matching.destination-right .text-wrapper.destination {
  padding-right: 25px !important;
}

.line-matching.destination-right .text-wrapper.destination .anchor {
  right: 7px !important;
  top: 50%;
  margin-top: -5px;
}

.line-matching.object-bottom .text-wrapper.object {
  padding-bottom: 25px !important;
}
.line-matching.object-bottom .text-wrapper.object .anchor {
  left: 50%;
  top: 100%;
  margin-top: -20px;
  margin-left: -5px;
}

.line-matching.destination-top .text-wrapper.destination {
  padding-top: 25px !important;
}
.line-matching.destination-top .text-wrapper.destination .anchor {
  left: 50%;
  top: 0%;
  margin-top: 10px;
  margin-left: -5px;
}

.line-matching.object-top .text-wrapper.object {
  padding-top: 25px !important;
}
.line-matching.object-top .text-wrapper.object .anchor {
  left: 50%;
  top: 0%;
  margin-top: 10px;
  margin-left: -5px;
}

.line-matching.destination-bottom .text-wrapper.destination {
  padding-bottom: 25px !important;
}
.line-matching.destination-bottom .text-wrapper.destination .anchor {
  left: 50%;
  top: 100%;
  margin-top: -20px;
  margin-left: -5px;
}
