<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="AspNetMvc" version="3.0.20105.1" targetFramework="net48" />
    <package id="AspNetRazor.Core" version="1.0.20105.408" targetFramework="net48" />
    <package id="AspNetWebPages.Core" version="1.0.20105.408" targetFramework="net48" />
    <package id="DotNetZip" version="1.9.2" targetFramework="net48" />
    <package id="EPPlus" version="4.5.3.3" targetFramework="net48" />
    <package id="iTextSharp" version="5.5.3" targetFramework="net48" />
    <package id="Microsoft.AspNet.Mvc" version="3.0.20105.1" targetFramework="net48" />
    <package id="Microsoft.AspNet.Razor" version="1.0.20105.408" targetFramework="net48" />
    <package id="Microsoft.AspNet.WebPages" version="1.0.20105.408" targetFramework="net48" />
    <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
    <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
</packages>
