/*--------------------------------*\
    #DRAG AND DROP STANDARD
\*--------------------------------*/
.dragdrop-source,
.dragdrop-destination {
  display: inline-block;
  vertical-align: top;
}

.dragdrop-source[type="text"] {
  background-color: #eee;
  border: 1px solid #08c;
  min-width: 30px;
  min-height: 24px;
  color: #1c94c4;
  padding: 2px 4px;
  margin: 2px 0;
  font-weight: bold;
  overflow: hidden;
}

.dragdrop-destination[type="text"] {
  border-radius: 6px;
  border: solid 1px #bebebe;
  padding: 2px;
  font-style: italic;
  min-width: 50px;
  min-height: 20px;
  margin: 2px 5px;
}

.dragdrop-destination[type="image"] {
  position: relative;
}

.dragdrop-destination[type="image"] .dragdrop-destination-item {
  border: 1px solid #000;
  position: absolute;
}

.dragdrop-destination-item {
  overflow: hidden;
}

.dragdrop-destination-item .dragdrop-source {
  -webkit-box-sizing: unset;
  -moz-box-sizing: unset;
  box-sizing: unset;
  margin-top: 0;
}

.destinationText {
  position: absolute;
}

.line-matching .dragdrop-source[type="image"] {
  position: relative;
}

.line-matching .text-wrapper {
  display: inline-block;
  position: relative;
}

.line-matching .mainBody {
  position: relative;
}
.line-matching .line {
  position: absolute;
  background-color: #1e1e54;
  height: 2px;
  transform-origin: 0 0;
  cursor: pointer;
}

.line-matching .dragdrop-source:after,
.line-matching .dragdrop-destination-item .dragdrop-source {
  display: none !important;
}

.line-matching .dragdrop-source[type="image"] .anchor,
.line-matching div.dragdrop-destination[type="image"] .dragdrop-destination-item,
.line-matching .text-wrapper .anchor {
  width: 10px !important;
  height: 10px !important;
  content: "";
  border-radius: 50%;
  background-color: #1e1e54;
  color: #1e1e54;
  position: absolute;
  border: none;
  cursor: pointer;
}

.line-matching.object-right .dragdrop-source[type="image"] .anchor {
  top: 50%;
  margin-top: -5px;
  right: 7px;
}

.line-matching.object-right .dragdrop-source[type="image"] {
  padding-right: 25px !important;
}

.line-matching.destination-left div.dragdrop-destination[type="image"] {
  margin-left: 25px !important;
}

.line-matching.destination-left
  div.dragdrop-destination[type="image"]
  .dragdrop-destination-item {
  left: -18px !important;
}

.line-matching.object-left .dragdrop-source[type="image"] .anchor {
  top: 50%;
  margin-top: -5px;
  left: 7px;
}

.line-matching.object-left .dragdrop-source[type="image"] {
  padding-left: 25px !important;
}

.line-matching.destination-right div.dragdrop-destination[type="image"] {
  margin-right: 25px !important;
}

.line-matching.destination-right
  div.dragdrop-destination[type="image"]
  .dragdrop-destination-item {
  left: calc(100% + 8px) !important;
}

.line-matching.object-right .text-wrapper.object .anchor {
  top: 50%;
  margin-top: -5px;
  right: 7px;
}

.line-matching.object-right .text-wrapper.object {
  padding-right: 25px !important;
}

.line-matching.destination-left .text-wrapper.destination {
  padding-left: 25px !important;
}

.line-matching.destination-left .text-wrapper.destination .anchor {
  left: 7px !important;
  top: 50%;
  margin-top: -5px;
}

.line-matching.object-left .text-wrapper.object .anchor {
  top: 50%;
  margin-top: -5px;
  left: 7px;
}

.line-matching.object-left .text-wrapper.object {
  padding-left: 25px !important;
}

.line-matching.destination-right .text-wrapper.destination {
  padding-right: 25px !important;
}

.line-matching.destination-right .text-wrapper.destination .anchor {
  right: 7px !important;
  top: 50%;
  margin-top: -5px;
}

.line-matching.object-bottom .text-wrapper.object {
  padding-bottom: 25px !important;
}
.line-matching.object-bottom .text-wrapper.object .anchor {
  left: 50%;
  top: 100%;
  margin-top: -20px;
  margin-left: -5px;
}

.line-matching.destination-top .text-wrapper.destination {
  padding-top: 25px !important;
}
.line-matching.destination-top .text-wrapper.destination .anchor {
  left: 50%;
  top: 0%;
  margin-top: 10px;
  margin-left: -5px;
}

.line-matching.object-top .text-wrapper.object {
  padding-top: 25px !important;
}
.line-matching.object-top .text-wrapper.object .anchor {
  left: 50%;
  top: 0%;
  margin-top: 10px;
  margin-left: -5px;
}

.line-matching.destination-bottom .text-wrapper.destination {
  padding-bottom: 25px !important;
}
.line-matching.destination-bottom .text-wrapper.destination .anchor {
  left: 50%;
  top: 100%;
  margin-top: -20px;
  margin-left: -5px;
}
