/*--------------------------------*\
    #DRAG AND DROP SEQUENCE/ORDER
\*--------------------------------*/
.dragdrop-sequence {
    background-color: #f7f7f7;
    border: 1px solid #d7d7d7;
    margin: 5px 0;
}

.dragdrop-sequence[orientation="horizontal"] .dragdrop-sequence-item {
    display: inline-block;
}

.dragdrop-sequence-item {
    background-color: #eee;
    border: 1px solid #08c;
    color: #1c94c4;
    font-weight: bold;
    margin: 5px;
    overflow: hidden;
    padding: 2px;
    display: block;
}
