/*--------------------------------*\
    #EXTENDED TEXT (OPEN ENDED)
\*--------------------------------*/
.extendedtext {
    border: 1px solid #888;
    min-height: 90px;
    padding: 5px;
    overflow-y: auto;
    resize: vertical;
}

.extendedtext-drawable {
    display: block;
    position: relative;
}

.extendedtext-drawable img + img {
    position: absolute;
    top: 0;
    left: 0;
}
.extendedtext-drawable img[src=""] {
    content: url(/Content/images/emptybg.png);
}
