/*--------------------------------*\
    #GLOSSARY
\*--------------------------------*/
.glossary {
    border-top: dotted 1px #000;
    border-bottom: dotted 1px #000;
    cursor: pointer;
}

.glossary-hover {
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: #add7d7;
}

.glossary-title {
    color: #444;
    font-size: 12px;
    font-weight: 700;
    margin: 0 0 15px;
}

.glossary-content {
    font-size: 12px;
    max-height: 100px;
    overflow: auto;
    padding: 5px;
}
