.icon-guidance,
.icon-rationale {
    width: 22px;
    height: 22px;
    display: none;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 2px;
}

.icon-guidance {
    background: url(/Content/themes/TestMaker/images/guidance_checked_medium.png);
}

.icon-rationale {
    background: url(/Content/themes/TestMaker/images/guidance_checked_medium_rationale.png);
}

.multiplechoice-item.is-guidance,
.multiplechoice-item.is-rationale,
.inlinechoice-item.is-guidance,
.inlinechoice-item.is-rationale {
    padding-right: 62px;
}

.multiplechoice-item.is-guidance.is-rationale,
.inlinechoice-item.is-guidance.is-rationale {
    padding-right: 84px;
}

.multiplechoice-item .icon-guidance,
.multiplechoice-item .icon-rationale,
.inlinechoice-item .icon-guidance,
.inlinechoice-item .icon-rationale {
    position: absolute;
    top: 7px;
    right: 7px;
}

.multiplechoice-item.is-guidance.is-rationale .icon-guidance,
.multiplechoice-item.is-answer.is-guidance .icon-guidance,
.multiplechoice-item.is-answer.is-correct.is-guidance .icon-guidance,
.multiplechoice-item.is-answer.is-rationale .icon-rationale,
.multiplechoice-item.is-answer.is-correct.is-rationale .icon-rationale,
.inlinechoice-item.is-guidance.is-rationale .icon-guidance,
.inlinechoice-item.is-answer.is-guidance .icon-guidance,
.inlinechoice-item.is-answer.is-correct.is-guidance .icon-guidance,
.inlinechoice-item.is-answer.is-rationale .icon-rationale,
.inlinechoice-item.is-answer.is-correct.is-rationale .icon-rationale {
    right: 33px;
}

.multiplechoice-item.is-answer.is-guidance.is-rationale .icon-guidance,
.multiplechoice-item.is-answer.is-correct.is-guidance.is-rationale .icon-guidance,
.inlinechoice-item.is-answer.is-guidance.is-rationale .icon-guidance,
.inlinechoice-item.is-answer.is-correct.is-guidance.is-rationale .icon-guidance {
    right: 57px;
}

.guidance-audio {
    padding-left: 35px;
    min-height: 35px;
    position: relative;
}

.guidance-audio .player-audio {
    position: absolute;
    top: 0;
    left: 0;
}

.player-audio .player-audio-play {
    background: url(/Content/themes/TestMaker/images/small_audio_play.png) no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.player-audio .player-audio-play.is-playing {
    background: url(/Content/themes/TestMaker/images/small_audio_stop.png) no-repeat;
}
