/*--------------------------------*\
    #MULTIPLE CHOICE
\*--------------------------------*/
.multiplechoice,
.multiplechoice-variable {
    counter-reset: multiplechoiceCounter;
}

.multiplechoice-item,
.multiplechoice-variable-item {
    padding: 7px 38px 7px 30px;
    position: relative;
    min-height: 30px;
    margin: 5px 0;
}

.multiplechoice-item:before,
.multiplechoice-variable-item:before {
    content: counter(multiplechoiceCounter, upper-latin)'.';
    counter-increment: multiplechoiceCounter;
    position: absolute;
    top: 7px;
    left: 10px;
}

.multiplechoice-item.is-correct,
.multiplechoice-item.is-answer.is-correct,
.multiplechoice-variable-item.is-correct,
.multiplechoice-variable-item.is-answer.is-correct {
    background-color: #73cf73;
}

.multiplechoice-item.is-answer,
.multiplechoice-variable-item.is-answer {
    background: #f88888;
}

.multiplechoice-item.is-answer.is-informational-only,
.multiplechoice-variable-item.is-answer.is-informational-only {
    background: transparent;
    border: 1px solid #808080;
}

.multiplechoice-item.is-answer:after,
.multiplechoice-variable-item.is-answer:after {
    content: "";
    background: url(/Content/themes/AnswerViewer/images/icon-wrong.svg) no-repeat;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 7px;
}

.multiplechoice-item.is-answer.is-informational-only:after,
.multiplechoice-variable-item.is-answer.is-informational-only:after {
    background: transparent;
}

.multiplechoice-item.is-answer.is-correct:after,
.multiplechoice-variable-item.is-answer.is-correct:after {
    background: url(/Content/themes/AnswerViewer/images/icon-correct.svg) no-repeat;
    background-size: 24px 24px;
}

.multiplechoice-item p,
.multiplechoice-variable-item p {
    margin: 0;
}
