/*--------------------------------*\
    #NUMBER LINE HOT SPOT
\*--------------------------------*/
.numberline {
    display: block;
    position: relative;
}

.numberline-item {
    background: #6bc287;
    display: none;
    border: 2px solid darkgreen;
    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 100%;
}

.numberline-item.is-selected {
    display: inline-block;
}
