/*--------------------------------*\
    #TABLE HOT SPOT
\*--------------------------------*/
.tablehotspot,span[typehotspot] {
    width: 19px;
    height: 19px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    z-index: 1;
    top: 3px;
}

[typehotspot="checkbox"] {
    background: url("/Content/themes/TestMaker/plugins/tablehotspotselection/icons/unchecked.png") no-repeat;
}

[typehotspot="circle"] {
    background: url("/Content/themes/TestMaker/plugins/tablehotspotselection/icons/unchecked-circle.png") no-repeat;
}

[typehotspot="checkbox"].is-selected {
    background: url("/Content/themes/TestMaker/plugins/tablehotspotselection/icons/checked.png") no-repeat;
}

[typehotspot="circle"].is-selected {
    background: url("/Content/themes/TestMaker/plugins/tablehotspotselection/icons/checked-circle.png") no-repeat;
}
.hotspot-circle.bubble {
    margin-top: 26px;
    margin-bottom: 6px;
    margin-left: -9px;
    margin-right: -9px;
    vertical-align: text-top !important;
}
.hotspot-circle.bubble.top {
    margin-bottom: 32px;
    margin-top: 0;
    vertical-align: text-bottom !important;
}
.hotspot-circle.bubble:after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -11px;
    left: 4px;
}
.hotspot-circle.bubble.top:after {
    border-top: 10px solid black;
    border-bottom: 0;
    bottom: -11px;
    top: unset;
}
