/*--------------------------------*\
    #TEXT ENTRY
\*--------------------------------*/
.textentry {
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #89bad3;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    padding: 2px 3px;
    margin: 0 3px;
    min-width: 40px;
    min-height: 26px;
    word-break: normal;
}
