@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Models

@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.Help, "Help");

    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }
    }
}
@section jQuery {
    @BundleHelper.jQueryUpgrade()
}

@model String

<article class="container_12">
    <div class="block-border form">
        <div class="block-section-custom">
            <h1 class="page-title mb-4">What's New</h1>
            <div id="htmlContentContainer">
                @Html.Raw(ViewBag.WhatNewHtmlContent)
            </div>
        </div>
    </div>
</article>
