@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Models

@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.Help, "Video Tutorials");

    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }
    }
}
@section jQuery {
    @BundleHelper.jQueryUpgrade()
}

<link href="@BundleHelper.Version("~/Content/css/v2/video-v2.css")" rel="stylesheet" />

<article class="container_12">
    <div class="row">
        <div class="col-4 col-xxl-3 mb-4">
            <div class="block-section-custom block-list-video">
                <h3 class="h3 mb-3">Create & Score Bubblesheets</h3>
                <a class="effect-zoom" href="http://vimeo.com/59252604&width=700" rel="prettyPhoto" title="Create & Score Bubblesheets">
                    <div class="background-blur">
                        <i class="fa-solid fa-magnifying-glass-plus"></i>
                    </div>
                    <img class="img-fluid" src="https://secure-b.vimeocdn.com/ts/411/703/411703833_295.jpg" width="400" height="240" alt="Create & Score Bubblesheets" />
                </a>
            </div>
        </div>

        <div class="col-4 col-xxl-3 mb-4">
            <div class="block-section-custom block-list-video">
                <h3 class="h3 mb-3">Online Testing</h3>
                <a class="effect-zoom" href="http://vimeo.com/58403534&width=700" rel="prettyPhoto" title="Online Testing">
                    <div class="background-blur">
                        <i class="fa-solid fa-magnifying-glass-plus"></i>
                    </div>
                    <img class="img-fluid" src="https://secure-b.vimeocdn.com/ts/405/272/405272385_295.jpg" width="400" height="240" alt="Online Testing" />
                </a>
            </div>
        </div>

        <div class="col-4 col-xxl-3 mb-4">
            <div class="block-section-custom block-list-video">
                <h3 class="h3 mb-3">Test Design</h3>
                <a class="effect-zoom" href="http://vimeo.com/58059128&width=700" rel="prettyPhoto" title="Test Design">
                    <div class="background-blur">
                        <i class="fa-solid fa-magnifying-glass-plus"></i>
                    </div>
                    <img class="img-fluid" src="https://secure-b.vimeocdn.com/ts/410/749/410749979_295.jpg" width="400" height="240" alt="Test Design" />
                </a>
            </div>
        </div>

        <div class="col-4 col-xxl-3 mb-4">
            <div class="block-section-custom block-list-video">
                <h3 class="h3 mb-3">User Management</h3>
                <a class="effect-zoom" href="http://vimeo.com/59588993&width=700" rel="prettyPhoto" title="User Management">
                    <div class="background-blur">
                        <i class="fa-solid fa-magnifying-glass-plus"></i>
                    </div>
                    <img class="img-fluid" src="https://secure-b.vimeocdn.com/ts/414/192/414192417_295.jpg" width="400" height="240" alt="User Management" />
                </a>
            </div>
        </div>

        <div class="col-4 col-xxl-3 mb-4">
            <div class="block-section-custom block-list-video">
                <h3 class="h3 mb-3">Standard & Mastery Reports</h3>
                <a class="effect-zoom" href="http://vimeo.com/58911250&width=700" rel="prettyPhoto" title="Standard & Mastery Reports">
                    <div class="background-blur">
                        <i class="fa-solid fa-magnifying-glass-plus"></i>
                    </div>
                    <img class="img-fluid" src="https://secure-b.vimeocdn.com/ts/185/346/185346941_640.jpg" width="400" height="240" alt="Standard & Mastery Reports" />
                </a>
            </div>
        </div>

        <div class="col-4 col-xxl-3 mb-4">
            <div class="block-section-custom block-list-video">
                <h3 class="h3 mb-3">Complete Reporting Demo</h3>
                <a class="effect-zoom" href="http://vimeo.com/59490893&width=700" rel="prettyPhoto" title="Complete Reporting Demo">
                    <div class="background-blur">
                        <i class="fa-solid fa-magnifying-glass-plus"></i>
                    </div>
                    <img class="img-fluid" src="https://secure-b.vimeocdn.com/ts/413/474/413474025_295.jpg" width="400" height="240" alt="Complete Reporting Demo" />
                </a>
            </div>
        </div>

        <div class="col-4 col-xxl-3 mb-4">
            <div class="block-section-custom block-list-video">
                <h3 class="h3 mb-3">Teacher Dashboard</h3>
                <a class="effect-zoom" href="http://vimeo.com/58655181&width=700" rel="prettyPhoto" title="Teacher Dashboard">
                    <div class="background-blur">
                        <i class="fa-solid fa-magnifying-glass-plus"></i>
                    </div>
                    <img class="img-fluid" src="https://secure-b.vimeocdn.com/ts/184/162/184162968_640.jpg" width="400" height="240" alt="Teacher Dashboard" />
                </a>
            </div>
        </div>

        <div class="col-4 col-xxl-3 mb-4">
            <div class="block-section-custom block-list-video">
                <h3 class="h3 mb-3">Class Diagnostic Report (Tech)</h3>
                <a class="effect-zoom" href="http://vimeo.com/27737941&width=700" rel="prettyPhoto" title="Class Diagnostic Report (Tech)">
                    <div class="background-blur">
                        <i class="fa-solid fa-magnifying-glass-plus"></i>
                    </div>
                    <img class="img-fluid" src="https://secure-b.vimeocdn.com/ts/184/444/184444382_640.jpg" width="400" height="240" alt="Class Diagnostic Report (Tech)" />
                </a>
            </div>
        </div>

        <div class="col-4 col-xxl-3 mb-4">
            <div class="block-section-custom block-list-video">
                <h3 class="h3 mb-3">Item Analysis Reporting Module</h3>
                <a class="effect-zoom" href="http://vimeo.com/58724495&width=700" rel="prettyPhoto" title="Item Analysis Reporting Module">
                    <div class="background-blur">
                        <i class="fa-solid fa-magnifying-glass-plus"></i>
                    </div>
                    <img class="img-fluid" src="https://secure-b.vimeocdn.com/ts/184/190/184190538_640.jpg" width="400" height="240" alt="Item Analysis Reporting Module" />
                </a>
            </div>
        </div>

        <div class="col-4 col-xxl-3 mb-4">
            <div class="block-section-custom block-list-video">
                <h3 class="h3 mb-3">Groups Module</h3>
                <a class="effect-zoom" href="http://vimeo.com/58796447&width=700" rel="prettyPhoto" title="Groups Module">
                    <div class="background-blur">
                        <i class="fa-solid fa-magnifying-glass-plus"></i>
                    </div>
                    <img class="img-fluid" src="https://secure-b.vimeocdn.com/ts/184/319/184319956_640.jpg" width="400" height="240" alt="Groups Module" />
                </a>
            </div>
        </div>

        <div class="col-4 col-xxl-3 mb-4">
            <div class="block-section-custom block-list-video">
                <h3 class="h3 mb-3">Validation Module</h3>
                <a class="effect-zoom" href="http://vimeo.com/58739698&width=700" rel="prettyPhoto" title="Validation Module">
                    <div class="background-blur">
                        <i class="fa-solid fa-magnifying-glass-plus"></i>
                    </div>
                    <img class="img-fluid" src="https://secure-b.vimeocdn.com/ts/184/363/184363586_640.jpg" width="400" height="240" alt="Validation Module" />
                </a>
            </div>
        </div>

        <div class="col-4 col-xxl-3 mb-4">
            <div class="block-section-custom block-list-video">
                <h3 class="h3 mb-3">Stats Module (Validity & Reliability)</h3>
                <a class="effect-zoom" href="http://vimeo.com/58718326&width=700" rel="prettyPhoto" title="Stats Module (Validity & Reliability)">
                    <div class="background-blur">
                        <i class="fa-solid fa-magnifying-glass-plus"></i>
                    </div>
                    <img class="img-fluid" src="https://secure-b.vimeocdn.com/ts/184/392/184392184_640.jpg" width="400" height="240" alt="Stats Module (Validity & Reliability)" />
                </a>
            </div>
        </div>

        <div class="col-4 col-xxl-3 mb-4">
            <div class="block-section-custom block-list-video">
                <h3 class="h3 mb-3">Usage Module</h3>
                <a class="effect-zoom" href="http://vimeo.com/27705925&width=700" rel="prettyPhoto" title="Usage Module">
                    <div class="background-blur">
                        <i class="fa-solid fa-magnifying-glass-plus"></i>
                    </div>
                    <img class="img-fluid" src="https://secure-b.vimeocdn.com/ts/184/203/184203025_640.jpg" width="400" height="240" alt="Usage Module" />
                </a>
            </div>
        </div>

        <div class="col-4 col-xxl-3 mb-4">
            <div class="block-section-custom block-list-video">
                <h3 class="h3 mb-3">Student History Module</h3>
                <a class="effect-zoom" href="http://vimeo.com/58718056&width=700" rel="prettyPhoto" title="Student History Module">
                    <div class="background-blur">
                        <i class="fa-solid fa-magnifying-glass-plus"></i>
                    </div>
                    <img class="img-fluid" src="https://secure-b.vimeocdn.com/ts/184/195/184195267_640.jpg" width="400" height="240" alt="Student History Module" />
                </a>
            </div>
        </div>

        <div class="col-4 col-xxl-3 mb-4">
            <div class="block-section-custom block-list-video">
                <h3 class="h3 mb-3">PassageBank.com</h3>
                <a class="effect-zoom" href="http://vimeo.com/59411330&width=700" rel="prettyPhoto" title="PassageBank.com">
                    <div class="background-blur">
                        <i class="fa-solid fa-magnifying-glass-plus"></i>
                    </div>
                    <img class="img-fluid" src="https://secure-b.vimeocdn.com/ts/413/517/413517997_295.jpg" width="400" height="240" alt="PassageBank.com" />
                </a>
            </div>
        </div>
    </div>
</article>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $("a[rel^='prettyPhoto']").prettyPhoto();

        var toSSL = function () {
            var prefix = parent.location.protocol;
            if (prefix == 'https') {
                var host = location.host;
                $('a[*=' + host + ']', 'body').each(function () {
                    var $a = $(this);
                    var href = $a.attr('href');
                    if (href.indexOf('https') == -1) {
                        var ssl = href.replace('http', 'https');
                        $a.attr('href', ssl);
                    }
                });
            }
        };
    });
</script>
