
@model LinkIt.BubbleSheetPortal.Web.ViewModels.ListItemsViewModel

<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004'>
        <div id="divConfirmDeleteItemBank" class='block-content bubbleSheetSelector' style='z-index: 1004'>
            <h1>Confirmation</h1>
            @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
            {
                <ul class="message error">
                        <li>
                            @Html.Raw(ViewBag.ErrorMessage)
                        </li>
                    </ul>
                 <p style="text-align: center;">
                         <button id="btnCancelDeleteItemBank" onclick=" cancelDeleteItemBank(); " type="button" name="cancel">
                             Close
                         </button>
                     </p>
            }
            else
            {
                if (Model.Id == 0)
                 {
                     <p>
                         @Model.Name
                     </p>
                 }
                 else
                 {
                     <p>
                         Are you sure you want to delete @Model.Name.<br />
                         This deletion is permanent and cannot be undone. 
                         Are you sure you want to continue?
                     </p>
                 }
                if (Model.Id > 0)
                 {
                     <p style="text-align: center;">
                         <button id="btnconfirmDeleteItemBank" onclick=" DeleteItemBankByID('@Model.Id'); " type="button" name="ok">
                             YES
                         </button>
                         <button id="btnCancelDeleteItemBank" onclick=" cancelDeleteItemBank(); " type="button" name="cancel">
                             NO
                         </button>
                     </p>
                 }

            }
            
        </div>
    </div>
</section>
<script type="text/javascript">
    function cancelDeleteItemBank() {
        $(".dialog").dialog("close");
    }
</script>