
@model LinkIt.BubbleSheetPortal.Web.ViewModels.ListItemsViewModel

<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004'>
        <div id="divConfirmDeleteItemSet" class='block-content bubbleSheetSelector' style='z-index: 1004'>
            <h1>Confirmation</h1>
            @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
            {
                <ul class="message error">
                    <li>
                        @Html.Raw(ViewBag.ErrorMessage)
                    </li>
                </ul>
                <button id="btnCancelDeleteItemSet" onclick=" cancelDeleteItemSet(); " type="button" name="cancel">
                    Close
                </button>
            }
            else
            {
                if (Model.Id == 0)
                 {
                     <p>
                         @Model.Name
                     </p>
                 }
                 else
                 {
                     <p>
                         Are you sure you want to delete @Model.Name.<br /> 
                         This action will permanently delete the item set and all items contained in it. 
                         Are you sure you want to continue?
                     </p>
                 }
                if (Model.Id > 0)
                {
                    <text>
                        <p style="text-align: center;">
                            <button id="btnconfirmDeleteItemSet" onclick=" DeleteItemSetByID('@Model.Id'); " type="button" name="ok">
                                YES
                            </button>
                            <button id="btnCancelDeleteItemSet" onclick=" cancelDeleteItemSet(); " type="button" name="cancel">
                                NO
                            </button>
                        </p>
                    </text>
                }
            }
        </div>
    </div>
</section>
<script type="text/javascript">
    function cancelDeleteItemSet() {
        $(".dialog").dialog("close");
    }
</script>