<section>
    <div class="block-border">
        <div class="block-content">
            <h1>Create an Item Bank</h1>
            <ul style="display: none" id="error-messages" class="message error"></ul>
            <ul style="display: none" id="success-message" class="message success">
                <li>ITEM BANK CREATED.</li>
            </ul>
            <p class="u-text-center form u-m-t-15">
                Item Bank Name:
                <input type="text" id="inputItemBankName" style="width: 250px;" />
            </p>
            <div class="u-text-center">
                <button type="button" id="btnCreateItemBank" onclick="createItemBank()">Create</button>
                <button type="button" id="btnCancelChangeBank" onclick="cancelItemBank()">Cancel</button>
            </div>
        </div>
    </div>
</section>
