<section>
    <div class="block-border">
        <div class="block-content">
            <h1>Create an Item Set</h1>
            <ul style="display: none" id="error-messages" class="message error"></ul>
            <ul style="display: none" id="success-message" class="message success">
                <li>ITEM SET CREATED.</li>
            </ul>
            <p class="u-text-center form u-m-t-15">
                Item Set Name:
                <input type="text" id="inputItemSetName" style="width: 250px;" />
            </p>
            <div class="u-text-center">
                <button type="button" id="btnCreateItemSet" onclick="createItemSet()">Save</button>
                <button type="button" id="btnCancelCreateSet" onclick="cancelChange()">Cancel</button>
            </div>
        </div>
    </div>
</section>
