<div class="block-content form"  style="height:425px;">
    <div class="toggle" style="padding-top: 0px; height: 30px; margin-top: -55px">
        <h1 style="margin-top: -5px">Filtered Tag(s)</h1>
        <button id="btnAddTagsToQtiItem" type="button" style="margin-left: 170px;margin-right: 2px;height: 35px;margin-top: 5px" disabled="disabled">Add Tag(s)</button>
    </div>
    <div class="no-margin last-child" style="height:415px;overflow: auto;padding-top: 37px">
        <table id="dataTableDistrictTagAvailable" class="datatable table no-margin" width="100%">
            <thead>
                <tr>
                    <th scope="col">
                        <input type="checkbox" id="chkAllItemDistrictTagAvailable"  />
                    </th>
                    <th scope="col">
                        <span class="column-sort">
                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                        </span>
                        Tag
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    var oTableDistrictTagAvailable;
    $(function () {
        LoadDistrictTagAvailableToTable();
        
    });

    function LoadDistrictTagAvailableToTable() {
        var options = {
            bServerSide: true,
            bDestroy: true,
            sAjaxSource: getAjaxSourceForDistrictTagAvailable(),
            fnServerParams: function (aoData) {
                //TuanVo:encode text in filter searchbox 
                var item = null;
                
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''"); // when user type " or "", or """,...in searchbox, system will issue an error, this code fix that error
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }
                        break;
                    }
                    
                }

            },
            bFilter: false,
            bStateSave: false,
            bAutoWidth: false,
            iDisplayLength: 10,
            aaSorting: [[1, "asc"]],
            aoColumns: [
                { sType: 'integer', sName: 'ItemTagID', bSearchable: false, bSortable: false, sWidth: '20px' },
                { sType: 'string', sName: 'Name', bSearchable: false, bSortable: true }
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setCheckBoxDistrictTagAvailable(aData[0]));
                
                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTableDistrictTagAvailable'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#dataTableDistrictTagAvailable').unblock();
                $('.with-tip').tip();
            }
        };

        $("#dataTableDistrictTagAvailable").data("options", options);
        initializeDataTable($("#dataTableDistrictTagAvailable"));
        oTableDistrictTagAvailable = $('#dataTableDistrictTagAvailable').dataTable();
    }

    function getAjaxSourceForDistrictTagAvailable() {
        var itemTagCategoryId = $("#ddlCategory").val();//ddlCategory is defined in _TagFilter
        if (itemTagCategoryId == null) {
            itemTagCategoryId = 0;
        }
        if (itemTagCategoryId == 'select') {
            itemTagCategoryId = 0;
        }
        var tag = $('#txtTextToSearch').val();
        tag = tag.trim();
        tag = encodeURIComponent(htmlEncode(tag));
        
        return '@Url.Action("SearchItemTag","ItemTag")?itemTagCategoryId=' + itemTagCategoryId + '&textToSearch=' + tag;
        
    }

    function ReloadDistrictTagAvailable() {
        $("#dataTableDistrictTagAvailable").dataTable().fnReloadAjax(getAjaxSourceForDistrictTagAvailable());
    }

    function setCheckBoxDistrictTagAvailable(itemTagId) {
        var checkboxString = '<input type="checkbox" name="chkDistrictTagItem" value="' + itemTagId + '"  />';

        return checkboxString;
    }
    
  
   //Multiple select
    $('#btnAddTagsToQtiItem').die('click');
    $('#btnAddTagsToQtiItem').live("click", function (e) {
        var hdSelectedDistrictTags = $('#hdSelectedDistrictTags').val();
        
        var selectedItemId = getSelectedLinkitDefaultTagId();
        var ids = selectedItemId.split(',');
        var i = 0;
        while (i < ids.length) {
            var id = ids[i];
            if (hdSelectedDistrictTags.indexOf(',-' + id + '-') < 0) {
                hdSelectedDistrictTags = hdSelectedDistrictTags + ',-' + id + '-';
            }
            
            i++;
        }
        $('#hdSelectedDistrictTags').val(hdSelectedDistrictTags);
        
        ShowBlock($("#dataTableDistrictTagAvailable"), "Adding");
        ReloadDistrictTagSelected();//defined in _ListDistrictTagSelectedFilter

        setTimeout(function () { $("#dataTableDistrictTagAvailable").unblock(); }, 1000);

    });
    
    
    $('#chkAllItemDistrictTagAvailable').die('click');
    $('#chkAllItemDistrictTagAvailable').live("click", function (e) {
        if (this.checked) {
            $('INPUT[name="chkDistrictTagItem"][type=checkbox]').attr('checked', 'checked');
            $('#btnAddTagsToQtiItem').removeAttr('disabled');
        }
        else {
            $('INPUT[name="chkDistrictTagItem"][type=checkbox]').removeAttr('checked');
            $('#btnAddTagsToQtiItem').attr('disabled', 'disabled');
        }
    });

    $('INPUT[name="chkDistrictTagItem"][type=checkbox]').live("click", function (e) {
        if (this.checked) {
            $('#btnAddTagsToQtiItem').removeAttr('disabled');
            var checkboxes = $('INPUT[name="chkDistrictTagItem"][type=checkbox]');
            var checkall = true;
            for (var i = 0; i < checkboxes.length; i++) {
                if (!(checkboxes[i]).checked) {
                    $('#chkAllItemDistrictTagAvailable').removeAttr('checked');
                    checkall = false;
                    break;
                }
            }
            if (checkall) {
                $('#chkAllItemDistrictTagAvailable').attr('checked', 'checked');
            }
        }
        else {
            $('#chkAllItemDistrictTagAvailable').removeAttr('checked');
            var checkedboxes = $('INPUT[name="chkDistrictTagItem"][type=checkbox]:checked');
            if (checkedboxes.length > 0) {
            }
            else {
                $('#btnAddTagsToQtiItem').attr('disabled', 'disabled');
            }
        }
    });
    function getSelectedLinkitDefaultTagId() {
        var Ids = '';
        $('INPUT[name="chkDistrictTagItem"][type=checkbox]:checked').each(function (i, e) {
            Ids += $(e).val() + ',';
        });
        return Ids.substr(0, Ids.length - 1);
    }
    
</script>
