<link rel="stylesheet" href="/Content/themes/TestDesign/TreeView.css" />

<div class="container_12">
    <div class="grid_12">
        <div class="block-border">
            <div class="block-content">
                <div class="treeview m-t-15" id="treeview">
                    <h1>Tree View</h1>
                    <button id="treeview-expanded" class="btn-treeview">Expanded All TreeView</button>
                    <button id="treeview-collapse" class="btn-treeview">Collapse All TreeView</button>
                    <button id="treeview-checked-all" class="btn-treeview">Checked All TreeView</button>
                    <button id="treeview-unchecked-all" class="btn-treeview">Unchecked All TreeView</button>
                    <ul class="treeview-list">
                        <li class="treeview-list-item is-child">
                            <span class="treeview-list-item-icon"></span>
                            <input type="checkbox" id="ck1" name="ck1">
                            <label for="ck1">
                                <span>File and Storage Services</span>
                            </label>
                            <ul class="treeview-list">
                                <li class="treeview-list-item is-child">
                                    <span class="treeview-list-item-icon"></span>
                                    <input type="checkbox" id="ck1-1" name="ck1-1">
                                    <label for="ck1-1">
                                        <span>File and iSCSI Services</span>
                                    </label>
                                    <ul class="treeview-list">
                                        <li class="treeview-list-item">
                                            <input type="checkbox" id="ck1-1-1" name="ck1-1-1">
                                            <label for="ck1-1-1">
                                                <span>File Server</span>
                                            </label>
                                        </li>
                                        <li class="treeview-list-item">
                                            <input type="checkbox" id="ck1-1-2" name="ck1-1-2">
                                            <label for="ck1-1-2">
                                                <span>BranchCache for Networks Files</span>
                                            </label>
                                        </li>
                                        <li class="treeview-list-item">
                                            <input type="checkbox" id="ck1-1-3" name="ck1-1-3">
                                            <label for="ck1-1-3">
                                                <span>Data Duplicate</span>
                                            </label>
                                        </li>
                                        <li class="treeview-list-item">
                                            <input type="checkbox" id="ck1-1-4" name="ck1-1-4">
                                            <label for="ck1-1-4">
                                                <span>DFS Namespaces</span>
                                            </label>
                                        </li>
                                        <li class="treeview-list-item">
                                            <input type="checkbox" id="ck1-1-5" name="ck1-1-5">
                                            <label for="ck1-1-5">
                                                <span>DFS Replication</span>
                                            </label>
                                        </li>
                                        <li class="treeview-list-item">
                                            <input type="checkbox" id="ck1-1-6" name="ck1-1-6">
                                            <label for="ck1-1-6">
                                                <span>File Server Resource Manager</span>
                                            </label>
                                        </li>
                                        <li class="treeview-list-item">
                                            <input type="checkbox" id="ck1-1-7" name="ck1-1-7">
                                            <label for="ck1-1-7">
                                                <span>File Server VSS Agent Service</span>
                                            </label>
                                        </li>
                                        <li class="treeview-list-item">
                                            <input type="checkbox" id="ck1-1-8" name="ck1-1-8">
                                            <label for="ck1-1-8">
                                                <span>iSCI Target Server</span>
                                            </label>
                                        </li>
                                        <li class="treeview-list-item">
                                            <input type="checkbox" id="ck1-1-9" name="ck1-1-9">
                                            <label for="ck1-1-9">
                                                <span>iSCI Target Storage Provider</span>
                                            </label>
                                        </li>
                                        <li class="treeview-list-item">
                                            <input type="checkbox" id="ck1-1-10" name="ck1-1-10">
                                            <label for="ck1-1-10">
                                                <span>Server for NFS</span>
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                                <li class="treeview-list-item is-child">
                                    <span class="treeview-list-item-icon"></span>
                                    <input type="checkbox" id="ck1-2" name="ck1-2">
                                    <label for="ck1-2">
                                        <span>File and iSCSI Services</span>
                                    </label>
                                    <ul class="treeview-list">
                                        <li class="treeview-list-item">
                                            <input type="checkbox" id="ck1-2-1" name="ck1-2-1">
                                            <label for="ck1-2-1">
                                                <span>File Server</span>
                                            </label>
                                        </li>
                                        <li class="treeview-list-item">
                                            <input type="checkbox" id="ck1-2-2" name="ck1-2-2">
                                            <label for="ck1-2-2">
                                                <span>BranchCache for Networks Files</span>
                                            </label>
                                        </li>
                                        <li class="treeview-list-item">
                                            <input type="checkbox" id="ck1-2-3" name="ck1-2-3">
                                            <label for="ck1-2-3">
                                                <span>Data Duplicate</span>
                                            </label>
                                        </li>
                                        <li class="treeview-list-item">
                                            <input type="checkbox" id="ck1-2-4" name="ck1-2-4">
                                            <label for="ck1-2-4">
                                                <span>DFS Namespaces</span>
                                            </label>
                                        </li>
                                        <li class="treeview-list-item">
                                            <input type="checkbox" id="ck1-2-5" name="ck1-2-5">
                                            <label for="ck1-2-5">
                                                <span>DFS Replication</span>
                                            </label>
                                        </li>
                                        <li class="treeview-list-item">
                                            <input type="checkbox" id="ck1-2-6" name="ck1-2-6">
                                            <label for="ck1-2-6">
                                                <span>File Server Resource Manager</span>
                                            </label>
                                        </li>
                                        <li class="treeview-list-item">
                                            <input type="checkbox" id="ck1-2-7" name="ck1-2-7">
                                            <label for="ck1-2-7">
                                                <span>File Server VSS Agent Service</span>
                                            </label>
                                        </li>
                                        <li class="treeview-list-item">
                                            <input type="checkbox" id="ck1-2-8" name="ck1-2-8">
                                            <label for="ck1-2-8">
                                                <span>iSCI Target Server</span>
                                            </label>
                                        </li>
                                        <li class="treeview-list-item">
                                            <input type="checkbox" id="ck1-2-9" name="ck1-2-9">
                                            <label for="ck1-2-9">
                                                <span>iSCI Target Storage Provider</span>
                                            </label>
                                        </li>
                                        <li class="treeview-list-item">
                                            <input type="checkbox" id="ck1-2-10" name="ck1-2-10">
                                            <label for="ck1-2-10">
                                                <span>Server for NFS</span>
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                                <li class="treeview-list-item">
                                    <input type="checkbox" id="ck1-3" name="ck1-3">
                                    <label for="ck1-3">
                                        <span>Storage Services</span>
                                    </label>
                                </li>
                            </ul>
                        </li>
                        <li class="treeview-list-item">
                            <input type="checkbox" id="ck2" name="ck2">
                            <label for="ck2">
                                <span>Hyper V</span>
                            </label>
                        </li>
                    </ul>
                    <h2 class="m-t-15">List to search</h2>
                    <div id="search-html"></div>
                    <script type="text/html" id="search-template">
                        <ul class="tree-view-template">
                            <% _.each(dataSearch, function(data) { %>
                            <li>
                                <%= data.text %>
                            </li>
                            <% }); %>
                        </ul>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function ($) {
        'use strict';

        var dataSearch = [];

        $('#treeview .treeview-list-item-icon').on('click', function () {
            var $self = $(this);
            var $treeviewListItem = $self.parent();

            if ($treeviewListItem.hasClass('is-child')) {
                $treeviewListItem.toggleClass('is-expanded');
            }
        });

        $('#treeview .treeview-list-item input[type="checkbox"]').on('change', function () {
            var $self = $(this);
            var checkboxId = $self.attr('id');
            var checkboxText = $self.next('label').find('span').text();
            var $parentList = $self.parents('.treeview-list').eq(0);
            var $parentListHasChild = $self.parents('.treeview-list-item.is-child');

            if (checkboxText !== '') {
                checkboxText = checkboxText.trim();
            }

            if ($self.is(':checked')) {
                dataSearch.push({
                    'id': checkboxId,
                    'text': checkboxText
                });
            } else {
                _.each(dataSearch, function (item, ind) {
                    if (item.id === checkboxId) {
                        dataSearch.splice(ind, 1);
                    }
                });
            }

            var templateString = document.getElementById('search-template').innerHTML;

            document.getElementById('search-html').innerHTML = _.template(templateString, { dataSearch: dataSearch });
        });

        $('#treeview-expanded').on('click', function (e) {
            e.preventDefault();
            var $treeviewListItem = $('#treeview .treeview-list-item.is-child');
            $treeviewListItem.removeClass('is-expanded');
        });

        $('#treeview-collapse').on('click', function (e) {
            e.preventDefault();
            var $treeviewListItem = $('#treeview .treeview-list-item.is-child');
            $treeviewListItem.addClass('is-expanded');
        });

        $('#treeview-checked-all').on('click', function (e) {
            e.preventDefault();
            $('#treeview').find('input[type="checkbox"]').prop('checked', true);
            $('#treeview .treeview-list-item input[type="checkbox"]').trigger('change');
        });

        $('#treeview-unchecked-all').on('click', function (e) {
            e.preventDefault();
            $('#treeview').find('input[type="checkbox"]').prop('checked', false);
            $('#treeview .treeview-list-item input[type="checkbox"]').trigger('change');
        });
    })(jQuery);
</script>