@{
    ViewBag.Title = "Bubble Sheets";
}

<article class="container_12">
    <section class="grid_12">
        <div class="block-border">
            <div class="block-content no-margin">
                <h1>Bubble Sheets</h1>
                <iframe src="http://player.vimeo.com/video/40873758?autoplay=1" width="875" height="600" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        </div>
    </section>
</article>