@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Models
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.Onlinetesting, "View Artifact");

    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }
    }
}
@section jQuery {
    @BundleHelper.jQueryUpgrade()
}
<link href="/Content/css/custom.css" rel="stylesheet" />
<link href="@BundleHelper.Version("~/Content/css/v2/artifact-v2.css")" rel="stylesheet" />

<div id="divArtifact" class="artifact-container">
    <iframe src="@ViewBag.ArtifactViewSrc" class="artifact-iframe"></iframe>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        breadcrumbDetailPage('.testing', '#test-assignment-review');
        collapseNavigation();
    })

    function collapseNavigation() {
        var iframe = $('.artifact-iframe')[0].contentWindow;
        iframe.name = 'iframe';
        $(iframe).bind('click', function (event) {
            var expandedNavigation = $('.vertical-navigation-expanded');
            if (expandedNavigation.length > 0) {
                $(".dropdown-menu").hide();
                $(".dropdown-menu").removeClass('clickExpanded');
                $("body").removeClass("vertical-navigation-expanded");
            }
        });
    }
</script>
