body {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.57143;
}

h1, h2, h3, h4, h5, h6 {
    color: #af272f;
    line-height: 1.1;
}

img {
    vertical-align: middle;
}

.tlds-print {
    margin: 0 80px;
}

.tlds-header,
.tlds-footer {
    font-size: 14px;
}

.tlds-footer::after {
    content: "";
    display: table;
    clear: both;
}

.tlds-footer-left {
    float: left;
}

.tlds-footer-right {
    float: right;
}

.tlds-section {
    page-break-inside: avoid;
    page-break-before: always;
}

/*-----------------------*\
    #TABLE
\*-----------------------*/
table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
    border-collapse: collapse;
    background-color: transparent;
}

table thead,
table tfoot {
    display: table-row-group; /* No repeat when print */
}

table tfoot {
    background: #d9d9d9;
    border-bottom: 2px solid #b3282d;
}

table th {
    text-align: left;
}

table th,
table td {
    padding: 15px 10px;
    vertical-align: top;
}

table tbody tr:first-child {
    border-top: 2px solid #b3282d;
}

table tbody tr:last-child {
    border-bottom: 2px solid #b3282d;
}

table tbody tr td {
    border-bottom: 1px solid #d9d9d9;
}

table tbody tr:last-child td {
    border-bottom: 0;
}

table tbody tr td:first-child {
    background-color: #f2f2f2;
}

table.tlds-table-nobackground tbody tr td:first-child {
    background: transparent;
}

table.tlds-table-special-1,
table.tlds-table-special-2 {
    margin-bottom: 0;
}

table.tlds-table-special-1 tbody tr:last-child,
table.tlds-table-special-2 tbody tr:last-child,
table.tlds-table-special-3 tbody tr:last-child {
    border-bottom: 0;
}

table.tlds-table-special-2 tbody tr:first-child,
table.tlds-table-special-3 tbody tr:first-child {
    border-top: 0;
}

table.tlds-table-special-2 tbody tr td,
table.tlds-table-special-3 tbody tr td {
    border-top: 1px solid #d9d9d9;
}

table.tlds-table-header-background thead {
    background: #b3282d;
}

table.tlds-table-header-background thead th {
    color: #fff;
}

table.tlds-table-no-margin {
    margin-bottom: 0;
}

/*-----------------------*\
    #HEADING
\*-----------------------*/
.tlds-print-title,
.tlds-print-heading,
.tlds-print-leading {
    text-transform: uppercase;
}

.tlds-print-heading,
.tlds-print-heading-section,
.tlds-print-leading {
    margin-bottom: 7px;
}

.tlds-print-title {
    font-size: 26px;
}

.tlds-print-heading {
    font-size: 26px;
}

.tlds-print-heading-section {
    font-size: 21px;
}

.tlds-print-leading {
    font-size: 16px;
}

.tlds-print-line {
    border-bottom: 1px solid #af272f;
    padding-bottom: 10px;
}

/*-----------------------*\
    #DRAWING
\*-----------------------*/
.tlds-drawing {
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #af272f #ddd;
    height: 1000px;
    padding: 15px;
}

/*-----------------------*\
    #BOX
\*-----------------------*/
.tlds-box {
    margin-top:10px;
    width:400px;
    height:400px;
}

.tlds-box-background {
    background: #f2f2f2;
}

.tlds-box-50 {
    height: 50px;
}

.tlds-box-160 {
    height: 160px;
}

.tlds-box-220 {
    height: 220px;
}

.tlds-box-300 {
    height: 300px;
}

.tlds-box-img {
    max-width: 400px;
    max-height: 400px;
}

/*-----------------------*\
    #ALERT
\*-----------------------*/
.tlds-alert {
    background-color: #b3282d;
    color: #fff;
    padding: 7px 20px;
}

/*-----------------------*\
    #CHECKBOX
\*-----------------------*/
.tlds-checkbox,
.tlds-checkbox span,
.tlds-checkbox span::before {
    display: inline-block;
    vertical-align: middle;
}

.tlds-checkbox  {
    margin-right: 15px;
}

.tlds-checkbox input[type="checkbox"] {
    opacity: 0;
}

.tlds-checkbox span {
    position: relative;
}

.tlds-checkbox span::before {
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid #b3282d;
    margin: -8px 8px 0 0;
}

.tlds-checkbox.tlds-checkbox-single span::before {
    margin-right: 0;
}

.tlds-checkbox input[type="checkbox"]:checked ~ span::after {
    content: "";
    width: 7px;
    height: 4px;
    position: absolute;
    top: 7px;
    left: 4px;
    border: 3px solid #b3282d;
    border-top: none;
    border-right: none;
    background: transparent;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*-----------------------*\
    #WIDTH SIZE
\*-----------------------*/
.u-w-500 {
    width: 500px;
}

.u-w-380 {
    width: 380px;
}

.u-w-320 {
    width: 320px;
}

.u-w-250 {
    width: 250px;
}

.u-w-210 {
    width: 210px;
}

.u-w-200 {
    width: 200px;
}

.u-w-190 {
    width: 190px;
}

.u-w-180 {
    width: 180px;
}

.u-w-160 {
    width: 160px;
}

.u-w-110 {
    width: 110px;
}

/*-----------------------*\
    #COLOR
\*-----------------------*/
.u-c-red {
    color: #b3282d;
}

.u-c-black {
    color: #000;
}

.u-c-white {
    color: #fff;
}

/*-----------------------*\
    #ALIGN
\*-----------------------*/
.u-text-center {
    text-align: center;
}

.u-text-no-underline {
    text-decoration: none;
}

.u-text-italic {
    font-style: italic;
}

.u-text-normal {
    font-style: normal;
}

.u-text-transform-normal {
    text-transform: none;
}

.u-font-weight-normal {
    font-weight: 400;
}

.u-font-size-18 {
    font-size: 18px;
}

.u-font-size-23 {
    font-size: 23px;
}

/*-----------------------*\
    #MARGIN
\*-----------------------*/
.u-m-b-20 {
    margin-bottom: 20px;
}

.tlds-section-document img {
    width: 100%;
}
