<div id="studentContent" v-if="isShowStudent" class="block-content mt-4">
    <div>
        <b>Only students selected below will be included in the generated report</b>
    </div>
    <div id="btnControlSelectStudent" class="d-flex justify-content-end mb-3">
        <button id="btnSelectAll" type="button" name="select-all" v-on:click="selectAllStudents()" class="btn-select d-block me-3">Select All</button>
        <button id="btnSelectNone" type="button" name="select-none" v-on:click="selectNoStudents()" class="btn-select d-block me-3">Select None</button>
        <button id="btnInvertSelect" type="button" name="invert-select" v-on:click="invertSelectedStudents()" class="btn-select d-block">Invert Selection</button>
    </div>
    <div class="tabs-content custom-tabs-content">
        <div class="columns" id="studentsList">
            <ul id="students" class="generate-student-list generate-student-list-custom with-icon icon-user student-col">
                <li v-for="student in students" class="student-item" studentId="{{student.StudentId}}" isselected="yes" style="background-color:#82CAFA" v-on:click="selectStudent(student.StudentId)">
                    <a href="javascript:void(0)">{{student.FullName}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="overStudentContent"></div>
</div>
<style>
    .tabs-content.custom-tabs-content {
        border: 0;
        box-shadow: none;
        padding: 0;
    }

    .tabs-content.custom-tabs-content .generate-student-list {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.625rem;
        margin-right: -0.625rem;
    }

    .tabs-content.custom-tabs-content .generate-student-list li {
        display: block;
        width: calc(25% - 1.25rem);
        margin-left: 0.625rem;
        margin-right: 0.625rem;
    }
</style>
