/*------------------------------------*\
    #BLOCK REVIEWER
\*------------------------------------*/
.block-reviewer {
  padding: 1.667em;
}

.block-reviewer-first {
  padding-top: 2.833em;
}

.block-reviewer-last {
  background: #f4f4f4;
  font-size: 14px;
}

.block-reviewer-cancel {
  position: absolute;
  top: -8px;
  right: 0;
}

/*------------------------------------*\
    #ASSIGNMENT
\*------------------------------------*/
.assignment-first {
  margin-top: 10px;
}

.assignment-content {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  padding: 10px;
}

.assignment-content .btn-show-correct-answer {
  margin-left: 8px;
}

.assignment-content .resultSequence {
  margin-left: 6px;
}

.assignment-form .assignment-fieldset {
  padding: 5px;
}

.assignment-form textarea,
input[type='text'].assignment-textfield {
  background: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 0;
  height: 95px;
  resize: vertical;
}

input[type='text'].assignment-textfield {
  height: auto;
  padding: 4px 7px;
  resize: none;
  line-height: 1.5;
  margin-top: 4px;
}

.assignment-form textarea[disabled] {
  background: #e8e8e8;
}

.assignment-form button {
  margin-left: 0;
}

.assignment-fieldset legend {
  margin-left: 0;
}

.assignment-desc {
  overflow-y: auto;
  overflow-x: hidden;
  height: 505px;
}

.assignment-desc-question {
  overflow-x: auto;
  width: 535px;
  height: 505px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.assignment-desc-question .mainbody:after,
.assignment-desc-question .mainBody:after,
.popup-fullpage-content .mainbody::after,
.popup-fullpage-content .mainBody::after {
  content: '';
  display: table;
  clear: both;
}

.assignment-desc-section,
.assignment-desc-answers {
  padding: 10px;
}

.assignment-desc-section {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

.assignment-list-question .mainBody,
.assignment-list-question .mainbody {
  font-size: 12px;
}

.assignment-list-question .mainBody,
.assignment-list-question .mainbody,
.assignment-desc-answers .mainBody,
.assignment-desc-answers .mainbody {
  padding-left: 0;
}

.assignment-desc-answers .drawTool {
  position: relative;
}

.assignment-desc-answers .drawTool img {
  position: absolute;
  left: 0;
  top: 0;
}

.assignment-note,
.assignment-note-cell {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.assignment-note {
  display: table;
  width: 100%;
  height: 40px;
}

.assignment-note-row {
  display: table-row;
}

.assignment-note-cell {
  background-color: #ddd;
  padding: 8px;
  display: table-cell;
  vertical-align: middle;
}

.assignment-note-cell-filter {
  width: 33.33333%;
  float: left;
}

.assignment-group {
  padding: 8px 0;
}

.assignment-group label,
.assignment-note-cell-filter label,
.assignment-note-cell-filter input[type='checkbox'] {
  display: inline-block;
  font-weight: 400;
  margin-bottom: 0;
  cursor: pointer;
}

.assignment-group input[type='radio'],
.assignment-group input[type='checkbox'] {
  position: relative;
  top: 1px;
}

.assignment-list-item {
  background-color: #fff;
  border-bottom: 1px solid #d0d2d1;
  width: 100%;
  height: 75px;
  padding: 10px 3px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.assignment-list-item::after {
  content: '';
  background-color: #f1f4f7;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
}

.assignment-list-item:hover::after,
.assignment-list-item:focus::after,
.assignment-list-item.is-selected::after {
  width: 100%;
}

.assignment-list-item.is-selected {
  cursor: default;
  pointer-events: none;
}

.assignment-list-number,
.assignment-list-question {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.assignment-list-number {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  color: #2e2e2e;
  font-size: 18px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 100%;
  text-align: center;
  margin-right: 7px;
}

.assignment-list-number.is-answered {
  background-color: #777;
  border-color: #777;
  color: #fff;
}

.assignment-list-question {
  color: #919191;
  width: 200px;
  height: 52px;
  overflow: hidden;
  line-height: 1.5;
}

.assignment-list-question object {
  display: none;
}

.assignment-list-icon {
  position: absolute;
  top: -5px;
  right: -2px;
  line-height: 1;
}

.assignment-point {
  position: relative;
  width: 60px;
  height: 35px;
}

.assignment-point input[type='text'] {
  background: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 0;
  padding: 0 25px 0 6px;
  height: 100%;
}

.assignment-point input[type='text'][disabled] {
  background: #e8e8e8;
}

.assignment-point-button {
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  right: 6px;
  cursor: pointer;
}

.assignment-point-up {
  border-bottom: 10px solid #999;
  top: 6px;
}

.assignment-point-down {
  border-top: 10px solid #999;
  bottom: 6px;
}

.assignment-label {
  display: inline-block;
  margin: 0 7px;
}

.assignment-label input[type='radio'],
.assignment-label input[type='checkbox'] {
  margin-right: 7px;
  cursor: pointer;
}

.assignment-lead,
.assignment-note-cell-filter input[type='checkbox'] {
  display: inline-block;
  vertical-align: middle;
}

.assignment-title {
  color: #2980b9;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.assignment-title-name {
  max-width: 320px;
}

.assignment-title-teacher {
  max-width: 120px;
}

.assignment-title-class {
  max-width: 170px;
}

.assignment-list-student {
  line-height: 25px;
}

.assignment-list-student-icon,
.assignment-list-student-name {
  display: inline-block;
  vertical-align: middle;
}

.assignment-list-student-icon {
  width: 20px;
  margin-right: 10px;
  text-align: center;
}

.assignment-list-student-name {
  max-width: 235px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.assignment-desc .assignment-list-student.is-placeholder {
  display: none;
}

.assignment-update-history,
.assignment-feedback-history {
  color: gray;
  font-size: 11px;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 5px;
  font-style: italic;
}

.time-log-history {
  background-color: #ddd;
}

.time-log-history:after {
  content: '';
  display: block;
  clear: both;
}

.extendTimelog {
  background-color: #ddd;
  padding: 10px;
}

.extendTimelog:after {
  content: '';
  display: table;
  clear: both;
}

.extendTimelog .timelogList {
  float: left;
  padding-right: 10px;
}

.extendTimelog .timelogAction {
  float: left;
}

.assignment-enter-number {
  text-indent: 79px;
  margin-bottom: 5px;
}

.assignment-list-credit {
  position: absolute;
  top: 0;
  right: 0;
}

.time-log-history .assignment-update-history {
  width: 33.33333%;
  float: left;
  color: #808080;
  padding: 4px 10px;
  margin-top: 0;
  font-weight: normal;
  font-style: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.time-log-history .assignment-update-history span {
  color: #383333;
  font-weight: bold;
  display: block;
}

.assignment-enter-number {
  text-indent: 79px;
  margin-bottom: 5px;
}

.assignment-list-credit {
  position: absolute;
  top: 0;
  right: 0;
}

.assignment-enter-number {
  text-indent: 79px;
  margin-bottom: 5px;
}

.assignment-list-credit {
  position: absolute;
  top: 0;
  right: 0;
}

.select2-container--default .assignment-select,
.select2-container--default.select2-container--open.select2-container--below
  .assignment-select,
.select2-container--default.select2-container--open.select2-container--below
  .assignment-select {
  border-color: #aaa;
  border-radius: 3px;
}

.select2-container--default .assignment-select-dropdown {
  border: 1px solid #aaa;
  border-radius: 3px;
  margin-top: 2px;
}

.select2-container--default
  .assignment-select-dropdown.select2-dropdown--above {
  top: -2px;
  margin-top: 0;
}

.select2-container--default
  .assignment-select-dropdown
  .select2-results__option--highlighted[aria-selected] {
  background: #eff9ff;
  color: #333;
}

/*------------------------------------*\
    #REFERENCE
\*------------------------------------*/
.reference,
.reference-title {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 0;
}

.reference::after {
  content: ',';
}

.reference:last-child::after {
  content: '';
}

.reference > span {
  color: #2980b9;
  cursor: pointer;
  text-decoration: underline;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.reference > span:hover,
.reference > span:focus {
  color: #71baea;
}

.reference-passage--notfound {
  font-size: 16px;
  padding: 25px 0;
}

/*------------------------------------*\
    #BUTTON
\*------------------------------------*/
.btn-assignment {
  padding: 0.286em 0.775em 0.357em;
}

.btn-assignment-medium {
  font-size: 16px;
  padding: 6px 20px;
}

.btn-assignment-icon {
  background: transparent;
}

.btn-assignment-tipsy {
  position: relative;
  display: inline-block;
}

button.btn-assignment-tipsy.disabled,
button.btn-assignment-tipsy.disabled:hover,
button.btn-assignment-tipsy.disabled:focus,
button.btn-assignment-tipsy:disabled,
button.btn-assignment-tipsy:disabled:hover,
button.btn-assignment-tipsy:disabled:focus {
  text-shadow: none;
}

.btn-assignment-tipsy:hover:before,
.btn-assignment-tipsy:hover:after,
.btn-assignment-tipsy:focus:before,
.btn-assignment-tipsy:focus:after {
  visibility: visible;
  opacity: 1;
}

.btn-assignment-tipsy:before,
.btn-assignment-tipsy:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 1000000;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transition: 250ms ease-in-out;
  -webkit-transition: 250ms ease-in-out;
}

.btn-assignment-tipsy:before {
  content: '';
  border: 5px solid transparent;
  bottom: 0;
  z-index: 100;
}

.btn-assignment-tipsy:after {
  content: attr(data-tipsy);
  background-color: #2980b9;
  border-radius: 3px;
  color: white;
  padding: 5px 10px;
  white-space: nowrap;
  text-rendering: optimizeLegibility;
}

.btn-assignment-tipsy:hover:before,
.btn-assignment-tipsy:focus:before {
  top: -30%;
}

.btn-assignment-tipsy:hover:after,
.btn-assignment-tipsy:focus:after {
  bottom: 130%;
}

.btn-assignment-tipsy:before,
.btn-assignment-tipsy:after {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.btn-assignment-tipsy:before {
  border-top-color: #2980b9;
  top: -35%;
}

.btn-assignment-tipsy:after {
  bottom: 135%;
}

/*------------------------------------*\
    #ICONS
\*------------------------------------*/
.icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.icon-in-progress,
.icon-paused,
.icon-completed,
.icon-not-started {
  top: -2px;
}

.icon-answered,
.icon-unanswered,
.icon-in-progress,
.icon-reviewable,
.icon-reviewable-disabled,
.icon-ready-submit,
.icon-print-student,
.icon-view-batch,
.icon-grading-shortcuts,
.icon-coding-guide,
.icon-fullscreen,
.icon-exit-fullscreen {
  width: 16px;
  height: 16px;
}

.icon-in-progress,
.icon-paused,
.icon-completed {
  width: 20px;
  height: 20px;
}

.icon-answered,
.icon-unanswered {
  border: 1px solid transparent;
  border-radius: 100%;
  overflow: hidden;
}

.icon-answered {
  background-color: #777;
  border-color: #777;
}

.icon-unanswered {
  background-color: #fff;
  border-color: #d1d1d1;
}

.icon-reviewable {
  background: url(/Content/themes/AssignmentRegrader/images/icon-reviewable.png)
    no-repeat;
}

.icon-reviewable-disabled {
  background: url(/Content/themes/AssignmentRegrader/images/icon-reviewed.png)
    no-repeat;
}

.icon-not-started {
  background: url(/Content/themes/AssignmentRegrader/images/icon-paper.png)
    no-repeat;
  width: 19px;
  height: 20px;
}

.icon-in-progress {
  background: url(/Content/themes/AssignmentRegrader/images/icon-in-progress.png)
    no-repeat;
}

.icon-paused {
  background: url(/Content/themes/AssignmentRegrader/images/icon-paused.png)
    no-repeat;
}

.icon-completed {
  background: url(/Content/themes/AssignmentRegrader/images/icon-completed.png)
    no-repeat;
}

.icon-pending {
  background: url(/Content/themes/AssignmentRegrader/images/icon-pencil.png)
    no-repeat;
  width: 18px;
  height: 19px;
}

.icon-ready-submit {
  background: url(/Content/themes/AssignmentRegrader/images/icon-bulk-grading.png)
    no-repeat;
}

.icon-fullscreen {
  background: url(/Content/themes/AssignmentRegrader/images/icon-fullscreen.png)
    no-repeat;
}

.icon-exit-fullscreen {
  background: url(/Content/themes/AssignmentRegrader/images/icon-exit-fullscreen.png)
    no-repeat;
}

.icon-credit {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  top: -10px;
  right: -10px;
  position: absolute;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.icon-credit-filter {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  overflow-y: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.icon-credit-full {
  background: #22b14c;
}

.icon-credit-partial {
  background: #f1c40f;
}

.icon-credit-no-credit {
  background: #e74c3c;
}

.icon-credit-filter-full {
  background-image: -webkit-linear-gradient(#22b14c 0%, #067b29 100%);
  background-image: -o-linear-gradient(#22b14c 0%, #067b29 100%);
  background-image: linear-gradient(#22b14c 0%, #067b29 100%);
}

.icon-credit-filter-partial {
  background-image: -webkit-linear-gradient(#f1c40f 0%, #9e8006 100%);
  background-image: -o-linear-gradient(#f1c40f 0%, #9e8006 100%);
  background-image: linear-gradient(#f1c40f 0%, #9e8006 100%);
}

.icon-credit-filter-no-credit {
  background-image: -webkit-linear-gradient(#e74c3c 0%, #9c190b 100%);
  background-image: -o-linear-gradient(#e74c3c 0%, #9c190b 100%);
  background-image: linear-gradient(#e74c3c 0%, #9c190b 100%);
}

.icon-print-student {
  background: url(/Content/themes/AssignmentRegrader/images/icon-print-sgo-test.png)
    no-repeat;
  background-size: 16px 16px;
}

.icon-view-batch {
  background: url(/Content/themes/AssignmentRegrader/images/icon-sgo-audittrail.png)
    no-repeat;
  background-size: 16px 16px;
}

.icon-grading-shortcuts {
  background: url(/Content/themes/AssignmentRegrader/images/icon-grading-shortcuts.png)
    no-repeat;
  background-size: 16px 16px;
}

.icon-coding-guide {
  background: url(/Content/themes/AssignmentRegrader/images/pdf-create.png)
    no-repeat;
  background-size: 16px 16px;
}
/*------------------------------------*\
    #ULTILIES
\*------------------------------------*/
.u-clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.u-no-padding {
  padding: 0;
}

.u-no-margin {
  margin: 0;
}

.u-full {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

.u-pull-left {
  float: left;
}

.u-pull-right {
  float: right;
}

.u-inline-block {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}

.u-w-60 {
  width: 60px;
}

.u-w-120 {
  width: 120px;
}

.u-w-145 {
  width: 145px;
}

.u-w-180 {
  width: 180px;
}

.u-w-315 {
  width: 315px;
}

.u-w-330 {
  width: 330px;
}

.u-w-375 {
  width: 375px;
}

.u-w-390 {
  width: 390px;
}

.u-w-400 {
  width: 400px;
}

.u-w-420 {
  width: 420px;
}

.u-w-440 {
  width: 440px;
}

.u-w-525 {
  width: 525px;
}

.u-w-525 {
  width: 525px;
}

.u-w-550 {
  width: 550px;
}

.u-m-l-10 {
  margin-left: 10px;
}

.u-m-l-30 {
  margin-left: 30px;
}

.u-m-r-10 {
  margin-right: 10px;
}

.u-m-b-10 {
  margin-bottom: 10px;
}

.u-m-b-15 {
  margin-bottom: 15px;
}

.u-m-t-15 {
  margin-top: 15px;
}

.u-m-t-20 {
  margin-top: 20px;
}

.w-100 {
  width: 100%;
}

.text-muted {
  color: #999999;
}

/*------------------------------------*\
    #MAINBODY
\*------------------------------------*/
.mainbody,
.mainBody {
  font-size: 14px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif,
    dejavu_sansbook;
  line-height: 1.57143;
}

.mainbody ol,
.mainBody ol {
  padding: 0;
  margin: 8px;
  margin-left: 25px;
  margin-right: 0;
  width: 100%;
  list-style-position: outside;
  list-style-type: decimal;
}

img[isMathAlt='true'] {
  display: none;
}

div[responseidentifier] {
  margin-top: 10px;
}

div[responseidentifier]::after {
  content: '';
  display: table;
  clear: both;
}

select[responseidentifier] {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif,
    dejavu_sansbook;
}

.alignRight {
  text-align: right;
}

.math-tex {
  display: inline-block;
  vertical-align: middle;
}

.correctAnswers {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  display: inline-block;
}

.red-border {
  border-color: red;
  box-shadow: 0 0 2px 2px rgba(255, 0, 0, 1);
  border-width: 0;
}

/*------------------------------------*\
    #PASSAGE
\*------------------------------------*/
.passage {
  font-size: 14px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif,
    dejavu_sansbook;
  line-height: 1.57143em;
}

.passage ol[liststyletype='decimal'] {
  list-style-type: decimal;
}

/*------------------------------------*\
    #INLINE CHOICE AND TEXT ENTRY
\*------------------------------------*/
.assignment .cke {
  visibility: hidden;
}

.assignment-desc-question .sbHolder,
.assignment-desc-question .input {
  vertical-align: middle;
}

.assignment-desc-question .input {
  margin: 5px 0;
  min-width: 10px;
  max-width: 100%;
}

.assignment-desc-question .itemtypeonimage .input {
  min-width: 90px;
  display: inline-block;
}
.assignment-desc-question .itemtypeonimage .inputHasAnswered {
  display: inline;
  min-width: 10px;
}

.assignment-desc-question .cke {
  display: none;
}

/*------------------------------------*\
    #OPENENDED TEXT
\*------------------------------------*/
.openEndedText {
  font-size: 14px;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;
  overflow: auto;
  position: relative;
  min-height: 30px;
}

.openEndedText br {
  line-height: 24px;
}

.openEndedText ul {
  padding: 0;
  margin: 8px 0 8px 25px;
  width: 100%;
  list-style-position: outside;
  list-style-type: disc;
}

/*------------------------------------*\
    #DRAW INTERACTIVE
\*------------------------------------*/
.divdraw {
  position: relative;
}

.divdraw canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/*------------------------------------*\
    #HOT SPOT ITEM TYPE
\*------------------------------------*/
.textHotSpot,
sourceObject,
.sourceObjectText,
destinationObject,
.partialDestinationObject {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.textHotSpot,
sourceObject {
  border: 1px solid #bebebe;
  background-color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}

.textHotSpot,
sourceObject[type='text'] {
  padding: 2px 4px 2px 4px;
  color: #000000;
  margin: 2px 0px;
  background-color: #eeeeee;
  border: 1px solid #0088cc;
  color: #1c94c4;
  font-weight: bold;
  line-height: 20px;
}

.sourceObjectText {
  padding: 2px 4px 2px 4px;
  color: #000000;
  margin: 2px 0px;
  background-color: #eeeeee;
  border: 1px solid #0088cc;
  color: #1c94c4;
  font-weight: bold;
  line-height: 20px;
  overflow: hidden;
}

destinationObject {
  display: inline-block;
  position: relative;
}

destinationObject[type='text'] {
  border-radius: 6px;
  border: solid 1px #bebebe;
  padding: 2px;
  display: inline-block;
  font-style: italic;
  color: #ccc;
  margin: 2px 0px;
  vertical-align: middle;
}

.partialDestinationObject {
  display: inline-block;
  position: relative;
}

.partialDestinationObject[type='text'] {
  border-radius: 6px;
  border: solid 1px #bebebe;
  padding: 2px;
  display: inline-block;
  font-style: italic;
  margin: 2px 5px;
  vertical-align: middle;
  line-height: 0 !important;
}

.partialDestinationObject .sourceObjectText,
.partialDestinationObject .textHotSpot {
  margin: 0;
  height: 100%;
  width: 100%;
}

/*------------------------------------*\
    #NUMBER LINE
\*------------------------------------*/
.numberLineItem {
  display: none;
}

.numberLineItem.selected {
  display: block;
}

/*------------------------------------*\
    #CORRECT ANSWER
\*------------------------------------*/
.correct-answer-teacher-review,
#popup_content #divQuestionDetails p.correct-answer-teacher-review {
  margin: 10px 0;
}

#divQuestionDetails itembody > object {
  display: none;
}

.smallText .correct-answer-teacher-review,
.normalText .correct-answer-teacher-review,
.largeText .correct-answer-teacher-review,
.veryLargeText .correct-answer-teacher-review,
.correct_label,
.assignment-desc-question .dragdropnumerical-correct {
  font-size: 14px;
}

.assignment-desc-question .dragdropnumerical-correct {
  margin-left: 15px;
}

/*------------------------------------*\
    #POPUP SHOW CODING GUIDE
\*------------------------------------*/
.ui-popup-coding-guide {
  background: url(../images/old-browsers-bg/white20.png);
  background: rgba(255, 255, 255, 0.2);
  padding: 0 0.833em 0.833em;
  border: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.8em;
  box-shadow: 0 0 4px rgba(50, 50, 50, 0.5);
  overflow: visible;
}

.ui-popup-coding-guide ~ .ui-widget-overlay {
  background: #000;
}

.ui-popup-coding-guide .ui-dialog-titlebar {
  top: -1px;
}

.ui-popup-coding-guide .ui-dialog-title,
.ui-popup-coding-guide .ui-dialog-titlebar-close > span {
  display: none;
}

.ui-popup-coding-guide .ui-dialog-titlebar-close,
.ui-popup-coding-guide .ui-dialog-titlebar-close.ui-state-hover {
  background: url('/Content/themes/base/images/fancy_close.png') no-repeat;
  border: 0;
  display: block;
  width: 33px;
  height: 34px;
  top: -10px;
  right: -30px;
}

.ui-popup-coding-guide .ui-dialog-content {
  background: #fff;
}

/*------------------------------------*\
    #POPUP SHOW CORRECT
\*------------------------------------*/
.ui-popup-fullpage {
  background: url(../images/old-browsers-bg/white20.png);
  background: rgba(255, 255, 255, 0.2);
  padding: 0 0.833em 0.833em;
  border: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.8em;
  box-shadow: 0 0 4px rgba(50, 50, 50, 0.5);
  overflow: visible;
}

.ui-popup-fullpage ~ .ui-widget-overlay {
  background: #000;
}

.ui-popup-fullpage .ui-dialog-titlebar {
  top: -1px;
}

.ui-popup-fullpage .ui-dialog-title,
.ui-popup-fullpage .ui-dialog-titlebar-close > span {
  display: none;
}

.ui-popup-fullpage .ui-dialog-titlebar-close,
.ui-popup-fullpage .ui-dialog-titlebar-close.ui-state-hover {
  background: url('/Content/themes/base/images/fancy_close.png') no-repeat;
  border: 0;
  display: block;
  width: 33px;
  height: 34px;
  top: -10px;
  right: -30px;
}

.ui-popup-fullpage .ui-dialog-content {
  background: #fff;
}

.popup-fullpage-content {
  margin: 1em 0;
  overflow: auto;
  max-height: 400px;
  min-height: 80px;
}

.popup-fullpage-content.is-algorithmic {
  border: 1px solid #ddd;
}

.popup-fullpage-content .mainbody,
.popup-fullpage-content .mainBody {
  padding-left: 0;
}

.popup-fullpage-content p,
.popup-fullpage-content ul,
.popup-fullpage-content ol,
.popup-fullpage-content dl {
  margin: 0 0 15px;
}

.popup-fullpage-print .columns {
  margin-bottom: 0;
  padding: 10px 15px 0;
}

.popup-fullpage-print .form input[type='radio'],
.popup-fullpage-print .form input[type='checkbox'],
.popup-fullpage-print .form label,
.popup-fullpage-grading-shortcuts .form input[type='radio'],
.popup-fullpage-grading-shortcuts .form input[type='checkbox'],
.popup-fullpage-grading-shortcuts .form label {
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  cursor: pointer;
}

.popup-fullpage-print .form input[type='radio'],
.popup-fullpage-print .form input[type='checkbox'] {
  position: relative;
  top: -2px;
}

.popup-fullpage-print .form input[type='radio'] {
  top: 0;
}

.popup-fullpage-print .form fieldset {
  margin: 5px 0;
}

.popup-fullpage-print .form p {
  margin-bottom: 10px;
}

.popup-fullpage-controls {
  padding-bottom: 10px;
  text-align: center;
}

.ui-popup-fullpage-nostudent .popup-fullpage-content {
  height: auto;
  min-height: 15px;
}

.ui-popup-fullpage-students .popup-fullpage-content {
  min-height: 150px;
}

.ui-popup-fullpage-nostudent .ui-dialog-content {
  min-height: 75px !important;
}

p.popup-fullpage-text {
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.6;
}

.popup-fullpage-title {
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(white),
    color-stop(0.03, rgb(114, 198, 228)),
    to(rgb(12, 95, 165))
  );
  color: white;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial,
    Helvetica, sans-serif;
  text-shadow: rgba(0, 0, 0, 0.2) -1px -1px 0;
  border: 1px solid;
  border-color: rgb(80, 163, 200) rgb(41, 124, 180) rgb(8, 63, 111);
  padding: 0.4em 0.6em;
  position: absolute;
  left: 24px;
  top: -10px;
  margin: 0;
  z-index: 100;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 0.278em;
}

.popup-fullpage-grading-shortcuts .popup-fullpage-content {
  padding: 1em 0 0;
}

.popup-fullpage-grading-shortcuts .columns {
  padding: 0 20px;
}

.popup-fullpage-grading-shortcuts .columns.columns-special {
  padding: 0 5px;
}

.popup-fullpage-grading-shortcuts .colx3-left {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

/*------------------------------------*\
    #OTHER
\*------------------------------------*/
.bntGuidance {
  vertical-align: middle;
}

.btn-bulk,
.btn-submit-test {
  width: 65px;
  margin-right: 5px;
  margin-left: 5px !important;
}

/*------------------------------------*\
    #SCROLLBAR SAFARI
\*------------------------------------*/
.scrollbar-safari::-webkit-scrollbar {
  appearance: none;
  -webkit-appearance: none;
  width: 7px;
}

.scrollbar-safari::-webkit-scrollbar:horizontal {
  height: 7px;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.scrollbar-safari::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

/*------------------------------------*\
    #PRINT POPUP OPTIONS
\*------------------------------------*/
.print-option:after {
  content: '';
  display: table;
  clear: both;
}

.print-option {
  padding: 10px 15px 0;
}

.print-option-item {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-right: -0.25em;
  margin-bottom: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.popup-fullpage-batchprinting {
  margin-top: 20px;
}

.popup-fullpage-batchprinting .popup-fullpage-content {
  max-height: none;
  height: auto;
}

.popup-fullpage-batchprinting .popup-fullpage-content .block-border {
  box-shadow: none;
  padding: 0;
}

.popup-fullpage-batchprinting .block-content .block-controls:first-child {
  margin-bottom: 0;
}

.datatable.datatable-batchprinting {
  width: 100%;
  max-width: 719px;
}

.datatable.datatable-batchprinting a {
  color: #39c;
  transition: color 0.3s ease;
}

.datatable.datatable-batchprinting a:hover,
.datatable.datatable-batchprinting a:focus {
  color: #0f90d0;
}

.datatable.datatable-batchprinting thead tr th:nth-child(3) {
  border-right-color: transparent;
}

#diBatchPrinting .dataTables_scrollHead {
  background: #a4a4a4;
  background: #a4a4a4 url(../images/old-browsers-bg/planning-header-bg.png)
    repeat-x top;
  background-size: 100% 100%;
  background: -moz-linear-gradient(top, #cccccc, #a4a4a4);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#cccccc),
    to(#a4a4a4)
  );
  border-bottom: 1px solid #828282 !important;
}

#diBatchPrinting
  .dataTables_scrollHead
  .datatable.datatable-batchprinting
  thead
  tr
  th {
  border-top: 0;
  border-bottom: 0;
}

#diBatchPrinting .dataTables_scrollHeadInner {
  border-top: 1px solid #fff;
}

.ui-popup-fullpage .box-tab {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding-bottom: 10px;
}

.ui-popup-fullpage .box-title,
.ui-popup-fullpage .box-title.is-active.is-alone {
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(white),
    color-stop(0.03, rgb(114, 198, 228)),
    to(rgb(12, 95, 165))
  );
  color: #fff;
  display: table-cell;
  overflow: hidden;
  cursor: pointer;
  padding: 10px;
  border-right: 1px solid #85b2da;
}

.ui-popup-fullpage .box-title:last-child {
  border-right: 0;
}

.ui-popup-fullpage .box-title.is-active {
  background: #fff;
  color: #444;
  font-weight: 700;
}

.ui-popup-fullpage .box-title.is-active,
.ui-popup-fullpage .box-title.is-alone,
.ui-popup-fullpage .mainBody .sbSelector,
.ui-popup-fullpage .mainBody .sbToggle,
.assignment-list .assignment-list-student.is-selected {
  cursor: default;
  pointer-events: none;
}

.mxActionsMode button {
  background: transparent;
  border: none;
  color: rgb(0, 0, 255);
  text-decoration: underline;
  cursor: pointer;
  padding: 0 4px 0 0;
  margin: 0;
  font-size: 12px;
  box-shadow: none;
  text-shadow: none;
  font-weight: 500;
}

.assignment-question-student {
  width: 315px;
}

.assignment-list-item-student {
  padding: 10px 15px;
  border-bottom: 1px solid #d0d2d1;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.assignment-list .assignment-list-student {
  padding: 10px 15px;
  border-bottom: 1px solid #d0d2d1;
  overflow: hidden;
  cursor: pointer;
}

.assignment-list .assignment-list-student:hover,
.assignment-list .assignment-list-student:focus,
.assignment-list .assignment-list-student.is-selected {
  background-color: #f1f4f7;
}

.assignment-desc-questions {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.assignment-desc-students {
  height: 585px;
}

.assignment-filter-question .assignment-note-cell {
  background: transparent;
}

.assignment-filter-question
  .assignment-note-cell-filter
  input[type='checkbox'] {
  margin-top: -2px;
}

.assignment-select-dropdown-question
  .select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  color: #333;
}

.assignment-select-dropdown-not-found .select2-results__options {
  overflow: hidden;
  padding: 6px;
}

.assignment-select-dropdown-not-found .select2-results__options::before {
  content: 'No Item Found';
  margin: 0 3px;
  display: block;
}

.assignment-select-dropdown-not-found
  .select2-results__options
  .select2-results__option {
  display: none !important;
}

.assignment-question-detail {
  font-size: 18px;
  font-weight: 700;
}

.assignment-grading-type-bulk .assignment-note-cell::after {
  content: '';
  display: table;
  clear: both;
}

.assignment-grading-type-bulk .assignment-note {
  height: auto;
}

.assignment-grading-type-bulk .assignment-note-cell {
  display: block;
  padding-top: 0;
}

.teacherReviewerFullscreen .teacherReviewerFullPage {
  border-color: rgb(80, 163, 200) rgb(41, 124, 180) rgb(8, 63, 111);
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(rgb(53, 117, 146)),
    color-stop(0.03, rgb(114, 198, 228)),
    to(rgb(12, 95, 165))
  );
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 101;
  padding: 0.067em 1.667em 0.067em 0.067em;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.teacherReviewerFullscreen article.container_12 {
  margin-top: 0.667em;
  width: 100%;
  min-width: 1024px;
}

.teacherReviewerFullscreen article.container_12 .grid_12 {
  width: 100%;
}

.teacherReviewerFullscreen .assignment-right-fullscreen {
  width: calc((100%) - 335px);
}

.teacherReviewerFullscreen .select2-container {
  z-index: 102;
}

.teacherReviewerFullscreen
  .assignment-grading
  .assignment-grading-feedback-question {
  clear: both;
  margin-top: 15px;
  width: 100%;
}

.teacherReviewerFullscreen .assignment-group {
  padding: 5px 0;
}

.teacherReviewerFullscreen .assignment-question-student {
  width: 25%;
}

.teacherReviewerFullscreen .assignment-grading-type-bulk .assignment-note-cell {
  padding-bottom: 5px;
}

.teacherReviewerFullscreen .assignment-detail-and-answers {
  width: 50%;
}

.teacherReviewerFullscreen .assignment-coding-and-feedback {
  width: calc((100%) - (75%) - 20px);
}

.teacherReviewerFullscreen .block-reviewer.block-reviewer-first {
  min-height: calc((100vh) - 100px);
}

.teacherReviewerFullscreen .btn-assignment-medium {
  font-size: 14px;
  padding: 4px 8px;
}
.imageupload {
  vertical-align: middle;
}

/*------------------------------------*\
    #SCROLLABLE
\*------------------------------------*/
.scrollable {
  width: 843px;
  overflow-x: auto;
  overflow-y: hidden;
}

.teacherReviewerFullscreen .scrollable {
  width: calc(100vw - 136px);
}

/*------------------------------------*\
    #CATEGORY
\*------------------------------------*/
.category-tab {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) 0 minmax(0, 1fr) 0 minmax(0, 1fr) 0
    minmax(0, 1fr) 0 minmax(0, 1fr);
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-column-gap: 0;
  grid-row-gap: 0;
}
.category-tab-item {
  position: relative;
  text-align: center;
  padding: 8.5px 15px;
  border: 1px solid #ddd;
  cursor: pointer;
  color: #000;
}
.category-tab-item.is-active {
  border: 4px solid #3399cc;
  color: #000;
}
.category-tab-item.is-marked {
  background-color: #067b29;
  color: #fff !important;
}

#categoryPane > div {
  display: none;
}

#categoryPane > div.is-active {
  display: block;
}

.category-tab[data-cols='1'] {
  -ms-grid-columns: (minmax(0, 1fr));
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.category-tab[data-cols='2'] {
  -ms-grid-columns: (minmax(0, 1fr));
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.category-tab[data-cols='3'] {
  -ms-grid-columns: (minmax(0, 1fr));
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.category-tab[data-cols='4'] {
  -ms-grid-columns: (minmax(0, 1fr));
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.category-tab[data-cols='5'] {
  -ms-grid-columns: (minmax(0, 1fr));
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.category-tab[data-cols='6'] {
  -ms-grid-columns: (minmax(0, 1fr));
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.category-tab[data-cols='7'] {
  -ms-grid-columns: (minmax(0, 1fr));
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.category-tab[data-cols='8'] {
  -ms-grid-columns: (minmax(0, 1fr));
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.category-tab[data-cols='9'] {
  -ms-grid-columns: (minmax(0, 1fr));
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.category-tab[data-cols='10'] {
  -ms-grid-columns: (minmax(0, 1fr));
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

/*------------------------------------*\
    #TIER
\*------------------------------------*/
.tier-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: auto;
  padding: 0.5rem 0;
}

.tier-item {
  width: calc((843px / 5) - 4px);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;

  cursor: pointer;

  min-height: 50px;
  border: 1px solid #999999;
  background-color: #ffffff;
  padding: 0.5rem;
  margin-left: 5px;
  text-align: center;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tier-item:first-child {
  margin-left: 0px;
}

.teacherReviewerFullscreen .tier-item {
  width: calc(((100vw - 136px) / 5) - 4px);
}

.is-fill .tier-item {
  width: 100%;
  -webkit-box-flex: unset;
  -ms-flex: unset;
  flex: unset;
}

.tier-item:hover,
.tier-item.is-active {
  background-color: #3399cc;
  color: #fff;
}

.tier-item p {
  margin-bottom: 0;
}

.tier-item h6 {
  margin-top: 0.5rem;
}

/*------------------------------------*\
    #BLOCK UTILS
\*------------------------------------*/
.d-none {
  display: none !important;
}

.teacherReviewerFullPage {
  padding-top: 3em;
}
.teacherReviewerFullPage #StudentPreferenceArticle {
  margin-top: 0;
}

.block-content .anonymized-label {
  display: none;
  padding: 5px 10px;
  background: #e6e678;
  position: relative;
  top: 1px;
  margin-right: 8px;
}

.assignment-grading-feedback-audio {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  margin-right: 4px;
}
  .assignment-grading-feedback-audio .audio-player-container {
      padding: 0;
      border: none;
  }
  .assignment-grading-feedback-audio .audio-player-container button {
    float: right;
    margin-left: 8px !important;
  }

.assignment-grading-feedback-audio #audioPlayer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.recordingAction {
  pointer-events: none;
}

.recordingAction .record__button {
  pointer-events: all;
}

#btnRecordFeedback.record__button {
  background-image: linear-gradient(#e74c3c 0%, #9c190b 100%);
  height: 24px;
  width: 24px;
  border-radius: 12px;
  border: none;
  padding: 4px;
  margin-top: 8px;
  margin-right: 4px;
}

#btnRecordFeedback.record__button:disabled {
  background-image: linear-gradient(#f0f2f2, #c8c8c8);
  cursor: not-allowed;
}

#btnRecordFeedback.record__button--recording {
  background-color: #5F6368;
  background-image: none;
}

.feedback-audio-wrapper {
  display: flex;
  align-items: center;
}

.feedback-audio-wrapper>.assignment-grading-feedback-audio {
  flex: 1;
}

.extended-text-wrap > .word-count {
  display: none;
}

.itemtypeonimage > div > span.input {
  vertical-align: top;
  margin: 0px;
}

.itemtypeonimage > .wrapTempTextEntry > .input + i {
  top: 0px;
}

.itemtypeonimage > div > .input + i {
  top: -2px;
}

.itemtypeonimage > div > .input + i + .tag_number {
  top: -15px;
  left: -15px;
}

.itemtypeonimage > .wrapTempInlineChoice > .sbHolder {
  vertical-align: top;
}

.itemtypeonimage > .wrapTempInlineChoice > .sbHolder + i {
  top: 2px;
}

[responseidentifier] input,
.drawable-graph div[style*="position: absolute"],
.drawable-graph svg image {
  display: none;
}

.drawable-graph, .sbHolder {
  pointer-events: none;
}

.line-matching sourceobject[type="image"] {
  position: relative;
  margin: 1px;
}

.line-matching .text-wrapper {
  display: inline-block;
  position: relative;
}

.line-matching .mainBody {
  position: relative;
}
.line-matching .line {
  position: absolute;
  background-color: #1e1e54;
  height: 2px;
  transform-origin: 0 0;
  cursor: pointer;
}

.line-matching sourceobject:after,
.line-matching .drag-drop-single sourceobject,
.line-matching .drag-drop-multiple sourceobject {
  display: none !important;
}

.line-matching sourceobject {
  padding: 8px !important;
}

.line-matching sourceobject[type="image"] .anchor,
.line-matching div.partialDestinationObject[type="image"] .drag-drop-single,
.line-matching div.partialDestinationObject[type="image"] .drag-drop-multiple,
.line-matching .text-wrapper .anchor {
  width: 10px !important;
  height: 10px !important;
  min-width: 10px !important;
  min-height: 10px !important;
  content: "";
  border-radius: 50%;
  background-color: var(--navyColor);
  color: var(--navyColor);
  position: absolute;
  border: none;
  cursor: pointer;
}

.line-matching div.partialDestinationObject[type="text"],
.line-matching div.partialDestinationObject[type="text"] .drag-drop-single,
.line-matching div.partialDestinationObject[type="text"] .drag-drop-multiple {
  min-height: unset !important;
}

.line-matching.object-right sourceobject[type="image"] .anchor {
  top: 50%;
  margin-top: -5px;
  right: 7px;
}

.line-matching.object-right sourceobject[type="image"] {
  padding-right: 25px !important;
}

.line-matching.destination-left div.partialDestinationObject[type="image"] {
  margin-left: 25px !important;
}

.line-matching.destination-left div.partialDestinationObject[type="image"] .drag-drop-single,
.line-matching.destination-left div.partialDestinationObject[type="image"] .drag-drop-multiple {
  left: -18px !important;
}

.line-matching.object-left sourceobject[type="image"] .anchor {
  top: 50%;
  margin-top: -5px;
  left: 7px;
}

.line-matching.object-left sourceobject[type="image"] {
  padding-left: 25px !important;
}

.line-matching.destination-right div.partialDestinationObject[type="image"] {
  margin-right: 25px !important;
}

.line-matching.destination-right div.partialDestinationObject[type="image"] .drag-drop-single,
.line-matching.destination-right div.partialDestinationObject[type="image"] .drag-drop-multiple {
  left: calc(100% + 8px) !important;
}

.line-matching.object-right .text-wrapper.object .anchor {
  top: 50%;
  margin-top: -5px;
  right: 7px;
}

.line-matching.object-right .text-wrapper.object {
  padding-right: 25px !important;
}

.line-matching.destination-left .text-wrapper.destination {
  padding-left: 25px !important;
}

.line-matching.destination-left .text-wrapper.destination .anchor {
  left: 7px !important;
  top: 50%;
  margin-top: -5px;
}

.line-matching.object-left .text-wrapper.object .anchor {
  top: 50%;
  margin-top: -5px;
  left: 7px;
}

.line-matching.object-left .text-wrapper.object {
  padding-left: 25px !important;
}

.line-matching.destination-right .text-wrapper.destination {
  padding-right: 25px !important;
}

.line-matching.destination-right .text-wrapper.destination .anchor {
  right: 7px !important;
  top: 50%;
  margin-top: -5px;
}

.line-matching.object-bottom sourceobject[type="image"] .anchor {
  bottom: 7px;
  margin-left: -7px;
  left: 50%;
}

.line-matching.object-bottom sourceobject[type="image"] {
  padding-bottom: 25px !important;
}

.line-matching.object-top sourceobject[type="image"] .anchor {
  top: 7px;
  margin-left: -7px;
  left: 50%;
}

.line-matching.object-top sourceobject[type="image"] {
  padding-top: 25px !important;
}

.line-matching.destination-top div.partialDestinationObject[type="image"] {
  margin-top: 25px !important;
}

.line-matching.destination-top div.partialDestinationObject[type="image"] .drag-drop-single,
.line-matching.destination-top div.partialDestinationObject[type="image"] .drag-drop-multiple {
  top: -15px !important;
}

.line-matching.destination-bottom div.partialDestinationObject[type="image"] {
  margin-bottom: 25px !important;
}

.line-matching.destination-bottom div.partialDestinationObject[type="image"] .drag-drop-single,
.line-matching.destination-bottom div.partialDestinationObject[type="image"] .drag-drop-multiple {
  top: 100% !important;
  margin-top: 7px;
}

.line-matching.object-bottom .text-wrapper.object .anchor {
  top: 100%;
  margin-top: -25px;
  left: 50%;
  margin-left: -7px;
}

.line-matching.object-bottom .text-wrapper.object {
  padding-bottom: 25px!important
}

.line-matching.destination-bottom .text-wrapper.destination {
  padding-bottom: 25px!important
}

.line-matching.destination-bottom .text-wrapper.destination .anchor {
  top: 100%;
  margin-top: -20px;
  left: 50%;
  margin-left: -7px;
}

.line-matching.object-top .text-wrapper.object .anchor {
  top: 10px;
  left: 50%;
  margin-left: -7px;
}

.line-matching.object-top .text-wrapper.object {
  padding-top: 25px!important
}

.line-matching.destination-top .text-wrapper.destination {
  padding-top: 25px!important
}

.line-matching.destination-top .text-wrapper.destination .anchor {
  top: 10px;
  left: 50%;
  margin-left: -7px;
}
