.generate-student-list li {
  background: #f2f2f2;
  -moz-border-radius: 0.417em;
  -webkit-border-radius: 0.417em;
  -webkit-background-clip: padding-box;
  border-radius: 0.417em;
  padding: 0.75em;
  color: #333333;
  margin-bottom: 0.25em;
}

  .generate-student-list li:last-child,
  .generate-student-list li.last-child {
    margin-bottom: 0;
  }

  .generate-student-list li a,
  .generate-student-list li span {
    display: block;
    margin: -0.75em;
    padding: 0.75em;
    color: #333333;
    background-repeat: no-repeat;
    background-position: 0.667em center;
    -moz-border-radius: 0.417em;
    -webkit-border-radius: 0.417em;
    -webkit-background-clip: padding-box;
    border-radius: 0.417em;
  }

  .generate-student-list.with-icon li a,
  .generate-student-list.with-icon li span,
  .generate-student-list .with-icon li a,
  .generate-student-list .with-icon li span,
  .generate-student-list li.with-icon a,
  .generate-student-list li.with-icon span {
    background-image: url(../themes/Constellation/images/icons/fugue/control-000-small.png);
    padding-left: 2.5em;
  }

.validation-summary-errors ul li {
  font-size: 100% !important;
  text-transform: none !important;
}

#dataTable a.school-item {
  display: block;
  word-wrap: break-word;
  width: 498px;
  cursor: pointer;
}

#manualEntryInput {
  color: #000066;
  font: normal 1pt Verdana, Helvetica, Arial;
  background: none;
  border: none;
}

.lastVisibleSection {
  margin-bottom: 10px;
}
#idLACOption {
  margin-bottom: 1.667em
}
.fleft {
  float: left;
}

.assignmentItem {
  position: absolute;
  padding-left: 234px;
  top: -8px;
}

.block-content .h2Assignment {
  font-family: "Trebuchet MS","Lucida Sans Unicode","Lucida Sans",Arial,Helvetica,sans-serif;
  font-size: 1.5em;
  padding: 4px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
  position: static;
}

#overStudentContent {
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background-color: white;
  opacity: 0;
  top: 0px;
  left: 0px;
}

.addGroupButton {
  display: block;
  font-size: 0.778em;
  text-transform: uppercase;
  color: #cccccc;
  border: 1px solid;
  border-color: #7e9098 #61727b #2b373d;
  background: #40535c url(../themes/Constellation/images/old-browsers-bg/title-link-bg.png) repeat-x top;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background: -moz-linear-gradient(top,white,#9eb1ba 4%,#40535c);
  background: -webkit-gradient(linear,left top, left bottom,from(white),to(#40535c),color-stop(0.03, #9eb1ba));
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 0.286em;
  -webkit-border-radius: 0.286em;
  -webkit-background-clip: padding-box;
  border-radius: 0.286em;
  line-height: 2em;
  white-space: nowrap;
  padding: 0.5em 2.77em;
  width: 70px;
  cursor: pointer;
  font-weight: bold;
}

  .addGroupButton:hover {
    color: white;
    border-color: #1eafdc #1193d5 #035592;
    background: #057fdb url(../themes/Constellation/images/old-browsers-bg/title-link-hover-bg.png) repeat-x top;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background: -moz-linear-gradient(top,white,#2bcef3 4%,#057fdb);
    background: -webkit-gradient(linear,left top, left bottom,from(white),to(#057fdb),color-stop(0.03, #2bcef3));
  }

.LinkitStypeButton {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  font-size: 1.167em;
  padding: 0.286em 1em 0.357em;
  line-height: 1.429em;
  cursor: pointer;
  font-weight: bold;
  background: #40535c url(../themes/Constellation/images/old-browsers-bg/button-element-bg.png) repeat-x top;
  background: -webkit-gradient( linear, left top, left bottom, from(white), to(#0c5fa5), color-stop(0.03, #72c6e4) );
  color: white !important;
  text-transform: none !important;
}

.active_tab {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: -moz-linear-gradient(center top, white, #72C6E4 4%, #0C5FA5) repeat scroll 0 0 transparent !important;
  background: -webkit-gradient(linear,left top, left bottom,from(white),to(#0c5fa5),color-stop(0.03, #72c6e4)) !important;
  border-color: #50A3C8 #297CB4 #083F6F !important;
  border-image: none;
  border-radius: 0.333em 0.333em 0.333em 0.333em;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  color: white !important;
  cursor: pointer;
  display: inline-block;
  font-size: 1.167em;
  font-weight: bold;
  line-height: 1.429em;
  padding: 0.286em 1em 0.357em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.deactive_tab {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: -moz-linear-gradient(center top, white, #F8F8F8 4%, #f9f9f9) repeat scroll 0 0 transparent !important;
  background: -webkit-gradient(linear,left top, left bottom,from(white),to(#F8F8F8),color-stop(0.03, #f9f9f9)) !important;
  border-color: #50A3C8 #297CB4 #083F6F !important;
  border-image: none;
  border-radius: 0.333em 0.333em 0.333em 0.333em;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 1.429em;
  padding: 0.286em 1em 0.357em;
  text-shadow: 0 0px 0px rgba(0, 0, 0, 0.4);
  background-image: none;
  background-color: white;
}

.mgright10 {
  margin-right: 10px;
}

#divLoadBanks {
  padding-bottom: 10px;
}

#datatable_wrapper .no-margin {
  margin-left: 0px !important;
}

.testPreference .block-controls,
.testPreference #datatable_info {
  margin-bottom: 0px;
}

.w70 {
  width: 70px;
}

.Gray-Out {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
}

.w235 {
  width: 235px;
}

.block-message-display {
  line-height: 160%;
}

  .block-message-display p:first-child {
    margin-bottom: 6px;
  }

.message-subject {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  padding: 10px;
  font-size: large;
  font-weight: bold;
}

.inbox {
  padding: 7px;
}

  .inbox > p {
    padding-bottom: 0px;
  }

.compose {
  margin-right: 15px;
}

.search_inbox {
  margin-bottom: -30px;
  z-index: 999999;
  background-color: #029CDC;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 0 5px 4px !important;
  position: relative;
  top: 6px;
}

.inbox .group_compose_search {
  margin-bottom: 0;
  padding-bottom: 8px;
}

  .inbox .group_compose_search label {
    display: inline-table;
    float: right;
  }

.search_inbox span {
  padding: 3px;
  color: #FFFFFF;
}

.search_inbox .checkbox_delete {
  display: inline-table;
  position: relative;
  text-align: left;
  width: 500px;
}

  .search_inbox .checkbox_delete a {
    color: #FFFFFF;
    font-weight: bold;
    padding-left: 7px;
  }
/*css for test Assignment page*/
.tab_default {
  /*background: #a4a4a4 url(../images/old-browsers-bg/planning-header-bg.png) repeat-x top;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
    background: -moz-linear-gradient(center top , #CCCCCC, #A4A4A4) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear,left top, left bottom,from(#cccccc),to(#a4a4a4));*/
  border-color: white #999999 #828282 #DDDDDD;
  border-style: solid;
  color: #000;
  padding: 10px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  border: 1px solid white;
  -moz-border-radius: 0.417em;
  -webkit-border-radius: 0.417em;
  -webkit-background-clip: padding-box;
  border-radius: 0.417em;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-weight: normal;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
  outline: 0;
  cursor: pointer;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

  .tab_default:hover {
    color: #fff;
    background: #e7e7e7 url(../themes/Constellation/images/old-browsers-bg/button-element-bg.png) repeat-x top;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top, white, #72C6E4 4%, #0C5FA5) repeat scroll 0 0 transparent !important;
    background: -webkit-gradient(linear,left top, left bottom,from(white),to(#0c5fa5),color-stop(0.03, #72c6e4)) !important;
    border: 1px solid white;
    -moz-border-radius: 0.417em;
    -webkit-border-radius: 0.417em;
    -webkit-background-clip: padding-box;
    border-radius: 0.417em;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-weight: normal;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    text-shadow: none;
    outline: 0;
    cursor: default;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

.tab_assign_active {
  color: #fff;
  background: #e7e7e7 url(../themes/Constellation/images/old-browsers-bg/button-element-bg.png) repeat-x top;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: -moz-linear-gradient(center top, white, #72C6E4 4%, #0C5FA5) repeat scroll 0 0 transparent !important;
  background: -webkit-gradient(linear,left top, left bottom,from(white),to(#0c5fa5),color-stop(0.03, #72c6e4)) !important;
  border: 1px solid white;
  -moz-border-radius: 0.417em;
  -webkit-border-radius: 0.417em;
  -webkit-background-clip: padding-box;
  border-radius: 0.417em;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-weight: normal;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
  outline: 0;
  cursor: default;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

/*Begin Filter Test Result: Remover, Purge, TestResultTransfer*/

.btnTestResult {
  float: right;
  display: inline-block;
  border: 1px solid;
  border-color: #50a3c8 #297cb4 #083f6f;
  background: #0c5fa5 url(../../Content/themes/Constellation/images/old-browsers-bg/button-element-bg.png) repeat-x left top;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background: -moz-linear-gradient(top, white, #72c6e4 4%, #0c5fa5);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#0c5fa5), color-stop(0.03, #72c6e4));
  -moz-border-radius: 0.333em;
  -webkit-border-radius: 0.333em;
  -webkit-background-clip: padding-box;
  border-radius: 0.333em;
  color: white;
  -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  font-size: 1.167em;
  padding: 0.286em 1em 0.357em;
  line-height: 1.429em;
  cursor: pointer;
  font-weight: bold;
}

  .btnTestResult:hover {
    border-color: #1eafdc #1193d5 #035592;
    background: #057fdb url(../../Content/themes/Constellation/images/old-browsers-bg/button-element-hover-bg.png) repeat-x left top;
    background: -moz-linear-gradient(top, white, #2bcef3 4%, #057fdb);
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#057fdb), color-stop(0.03, #2bcef3));
  }

  .btnTestResult:active {
    border-color: #5b848b #b2def1 #b2def1 #68a6ba;
    background: #3dbfed url(../../Content/themes/Constellation/images/old-browsers-bg/button-element-active-bg.png) repeat-x top;
    background: -moz-linear-gradient(top, #89e7f9, #3dbfed);
    background: -webkit-gradient(linear, left top, left bottom, from(#89e7f9), to(#3dbfed));
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

a.PopupHelp {
  background: url(../../Content/themes/Constellation/images/icons/help-icon_1.png) no-repeat top left;
  display: block;
  width: 25px;
  height: 25px;
  text-indent: -99999px; /* hides the link text */
}

/*End Filter Test Result: Remover, Purge, TestResultTransfer*/

.customCssDataPickerPreference .ui-widget-header {
  top: 0px;
}

.ui-datepicker.customCssDataPickerPreference .ui-datepicker-prev span, .ui-datepicker.customCssDataPickerPreference .ui-datepicker-next span {
  background-image: url("/Content/themes/base/images/ui-icons_222222_256x240.png");
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}

.ui-datepicker.customCssDataPickerPreference .ui-icon {
  width: 16px;
  height: 16px;
}

.customCssDataPickerPreference .ui-widget-header {
  right: 0px;
}

/**
 * Common Popup
 */
.popup-alert {
  height: auto;
}

.popup-alert-border {
  background: url(../themes/Constellation/images/old-browsers-bg/white20.png);
  background: rgba(255, 255, 255, .2);
  border: 1px solid #fff;
  border-color: rgba(255, 255, 255, .75);
  padding: .833em;
  border-radius: .8em;
  box-shadow: 0 0 4px rgba(50, 50, 50, .5);
  -webkit-background-clip: padding-box;
}

.popup-alert-content {
  background: #fff;
  border: 1px solid #999;
  border-radius: .25em;
  padding: 1.667em;
  box-shadow: 0 0 .8em rgba(255, 255, 255, .5);
  position: relative;
  -webkit-background-clip: padding-box;
}

  .popup-alert-content p {
    margin: 0 0 15px;
  }

.popup-alert-controls {
  text-align: center;
}

  .popup-alert-controls button {
    margin: 0 10px;
    min-width: 80px;
  }

/**
 * Custom Common Popup
 */
.ui-widget-header {
  border: 0 solid #aaa !important;
  background: transparent !important;
  position: relative;
  top: 34px;
}

.ui-datepicker-header.ui-widget-header {
  top: 0;
}


  .ui-dialog .ui-widget-header {
    z-index: initial;
  }

/**
 * SGO Button
 */
.btn-sgo-small {
  font-size: 1em;
  padding: .3em .25em;
  line-height: 1.3em;
}

.dragdropnumerical-correct {
  color: #f00;
  margin: 10px 0 0 50px;
}

  .dragdropnumerical-correct h3 {
    font-size: 12px;
  }

/**
 * Common Popup
 */
.popup-alert {
  height: auto;
}

.popup-alert-border {
  background: url(../themes/Constellation/images/old-browsers-bg/white20.png);
  background: rgba(255, 255, 255, .2);
  border: 1px solid #fff;
  border-color: rgba(255, 255, 255, .75);
  padding: .833em;
  border-radius: .8em;
  box-shadow: 0 0 4px rgba(50, 50, 50, .5);
  -webkit-background-clip: padding-box;
}

/**
 * Linkit Monitoring Test Talking
 */
.g {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

  .g:before,
  .g:after,
  .note-container:before,
  .note-container:after {
    content: "";
    display: table;
  }

  .g:after,
  .note-container:after {
    clear: both;
  }

[class*="g-1of"] {
  position: relative;
  min-height: 1px;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.g-1of10 {
  width: 10%;
}

.g-1of20 {
  width: 5%;
}

.g-1of4 {
  width: 25%;
}

.g-1of3 {
  width: 33%;
}

.block-footer-monitor {
  position: relative;
}

  .block-footer-monitor p {
    margin-bottom: 0;
  }

  .block-footer-monitor .controls-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
  }

.block-footer-sugguest {
  position: relative;
  z-index: 1;
}

.proctorCell.new,
.table tbody tr td.new,
.table tbody tr.even td.new,
.table tbody tr.odd td.new {
  background-color: rgb(230, 126, 34);
  transition: 3s linear;
  -webkit-transition: 3s linear;
  animation: fadeColor 3s infinite;
  -webkit-animation: fadeColor 3s infinite;
  -moz-animation: fadeColor 3s infinite;
  -ms-animation: fadeColor 3s infinite;
}

@-webkit-keyframes fadeColor {
  0% {
    background: rgb(230, 126, 34);
  }

  25% {
    background: rgba(230, 126, 34, 0.8);
  }

  75% {
    background: rgba(230, 126, 34, 0.6);
  }

  100% {
    background: rgba(230, 126, 34, 0.2);
  }
}

@keyframes fadeColor {
  0% {
    background: rgb(230, 126, 34);
  }

  25% {
    background: rgba(230, 126, 34, 0.8);
  }

  75% {
    background: rgba(230, 126, 34, 0.6);
  }

  100% {
    background: rgba(230, 126, 34, 0.2);
  }
}

/**
 * Common Popup
 */
.popup-alert-custom {
  background: transparent;
  border: 0;
  padding: 0;
}

  .popup-alert-custom .ui-dialog-titlebar {
    display: none;
  }

.popup-alert img {
  vertical-align: middle;
}

.popup-alert .mainBody {
  padding-left: 0;
  max-width: 615px;
  max-height: 400px;
  overflow: auto;
  text-align: left;
}

.popup-alert {
  height: auto;
}

.popup-alert-border {
  background: url(../themes/Constellation/images/old-browsers-bg/white20.png);
  background: rgba(255, 255, 255, .2);
  border: 1px solid #fff;
  border-color: rgba(255, 255, 255, .75);
  padding: .833em;
  border-radius: .8em;
  box-shadow: 0 0 4px rgba(50, 50, 50, .5);
  -webkit-background-clip: padding-box;
}

.popup-alert-content {
  background: #fff;
  border: 1px solid #999;
  border-radius: .25em;
  padding: 1.667em;
  box-shadow: 0 0 .8em rgba(255, 255, 255, .5);
  position: relative;
  -webkit-background-clip: padding-box;
  text-align: center;
}

  .popup-alert-content p {
    margin: 0 0 15px;
  }

.popup-alert-controls {
  text-align: center;
}

  .popup-alert-controls button {
    margin: 0 10px;
    min-width: 80px;
  }

.popup-alert-table {
  width: 100%;
}

.ui-widget-header {
  border: 0px solid #aaa !important;
  background: transparent !important;
  position: relative;
  top: 34px;
}

.ui-dialog {
  background: transparent;
  border: 0;
}

.hide {
  display: none !important;
}

.popup-alert-controls button {
  margin: 0 10px;
  min-width: 80px;
}

.popup-alert-table {
  width: 100%;
}

.partialDestinationObject sourceObject[type="text"] {
  margin: 0 0 2px;
}

sourceObject[type="image"] {
  background: transparent;
  border: 0;
}

.btn-show-correct-answer {
  display: block !important;
  margin: 25px 0 15px 45px;
  max-width: 150px;
  text-align: center;
}

.popup-alert-content {
  background: #fff;
  border: 1px solid #999;
  border-radius: .25em;
  padding: 1.667em;
  box-shadow: 0 0 .8em rgba(255, 255, 255, .5);
  position: relative;
  -webkit-background-clip: padding-box;
}

  .popup-alert-content p {
    margin: 0 0 15px;
  }

.popup-alert-controls {
  text-align: center;
}

  .popup-alert-controls button {
    margin: 0 10px;
    min-width: 80px;
  }
}

.popup-alert-content p {
  margin: 0 0 15px;
}

.popup-alert-controls {
  text-align: center;
  margin-top: 15px;
}

  .popup-alert-controls button {
    margin: 0 10px;
    min-width: 80px;
  }

.popup-alert-table {
  width: 100%;
}

.partialDestinationObject sourceObject[type="text"] {
  margin: 0 0 2px;
}

sourceObject[type="image"] {
  background: transparent;
  border: 0;
}

.btn-show-correct-answer {
  display: block !important;
  margin: 25px 0 15px 45px;
  max-width: 150px;
  text-align: center;
}

.partialDestinationObject sourceObject[type="text"] {
  margin: 0 0 2px;
}

sourceObject[type="image"] {
  background: transparent;
  border: 0;
}

.btn-show-correct-answer {
  display: block !important;
  margin: 25px 0 15px 45px;
  max-width: 150px;
  text-align: center;
}

.table-assignment .sorting_2,
.table-assignment .sorting_3 {
  word-wrap: break-word;
  word-break: break-word;
}

.table-assignment .sorting_2 {
  max-width: 145px;
}

.table-assignment .sorting_3 {
  max-width: 95px;
}

.table-assignment .btn-review {
  margin: 0;
  padding: 0 4px;
  font-size: 11px;
  font-weight: 700;
  font-family: Arial;
  height: 17px;
}

.table-assignment .big-button.btn-review {
  height: 17px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#divEditItem .choiceInteraction li > div,
#divQtiItemDetail .choiceInteraction li > div,
#divQtiItem3pDetail .choiceInteraction li > div {
  position: relative;
  overflow: visible;
  width: 75%;
  padding: 0 0 0 25px;
  line-height: 22px;
  display: inline-block;
}

  #divEditItem .choiceInteraction li > div:after,
  #divQtiItemDetail .choiceInteraction li > div:after,
  #divQtiItem3pDetail .choiceInteraction li > div:after {
    content: "";
    display: table;
    clear: both;
  }

  #divEditItem .choiceInteraction li > div > img:first-child,
  #divQtiItemDetail .choiceInteraction li > div > img:first-child,
  #divQtiItem3pDetail .choiceInteraction li > div > img:first-child {
    position: absolute;
    top: 3px;
    left: 0;
    margin-right: 0 !important;
  }

  #divQtiItemDetail .choiceInteraction li > div > img:first-child {
    top: 4px;
  }

#divEditItem .choiceInteraction .answerTextIndent,
#divQtiItemDetail .choiceInteraction .answerTextIndent,
#divQtiItem3pDetail .choiceInteraction .answerTextIndent {
  text-indent: 0;
}

#divEditItem .assessmentItem .mainBody .choiceInteraction,
#divQtiItemDetail .assessmentItem .mainBody .choiceInteraction,
#divQtiItem3pDetail .assessmentItem .mainBody .choiceInteraction {
  width: auto;
}

#divEditItem .choiceInteraction[variablepoints] li > div,
#divQtiItemDetail .choiceInteraction[variablepoints] li > div,
#divQtiItem3pDetail .choiceInteraction[variablepoints] li > div {
  padding: 0;
}

.QtiItemDetail textentryinteraction {
  border-color: #d8d8d8;
}

/*-----------------------*\
    #VIRTUAL QUESTION
\*-----------------------*/
.VirtualQuestion .mainBody,
.VirtualQuestion .mainbody {
  padding-left: 0;
}

  .VirtualQuestion .mainBody .inlineChoiceInteraction,
  .VirtualQuestion .mainbody .inlineChoiceInteraction {
    background: transparent;
    border: 0;
    width: 100%;
    overflow: hidden;
    height: auto;
  }

#divQtiItemDetail.VirtualQuestion .mainBody ~ .choiceInteraction,
#divQtiItemDetail.VirtualQuestion .mainbody ~ .choiceInteraction {
  margin-left: 0 !important;
}

.VirtualQuestion .choiceInteraction li:before {
  color: #00805d;
  width: 25px;
  top: auto;
  font-weight: 700;
}

.VirtualQuestion .choiceInteraction .answerText,
.VirtualQuestion .choiceInteraction .simpleChoiceMainBody,
.VirtualQuestion .choiceInteraction .simpleChoice2MainBody {
  margin-left: 20px;
  min-height: 30px;
}

  .VirtualQuestion .choiceInteraction .answerText:before,
  .VirtualQuestion .choiceInteraction .simpleChoiceMainBody:before,
  .VirtualQuestion .choiceInteraction .simpleChoice2MainBody:before {
    left: 0;
  }

.VirtualQuestion .choiceInteraction .simpleChoice.simpleChoiceMainBody:before,
.VirtualQuestion .choiceInteraction .simpleChoice.simpleChoice2MainBody:before {
  left: -22px;
}

.VirtualQuestion .choiceInteraction .simpleChoiceMainBody:before,
.VirtualQuestion .choiceInteraction .simpleChoice2MainBody:before {
  counter-increment: my-counter;
}

.VirtualQuestion .choiceInteraction li > div > img:first-child {
  top: 3px !important;
}

.VirtualQuestion .hotspot-circle {
  background: url("/Content/themes/TestMaker/plugins/tablehotspotselection/icons/unchecked-circle.png") no-repeat;
}

  .VirtualQuestion .hotspot-circle.selected {
    background: url("/Content/themes/TestMaker/plugins/tablehotspotselection/icons/checked-circle.png") no-repeat;
  }

.VirtualQuestion .hotspot-checkbox {
  background: url("/Content/themes/TestMaker/plugins/tablehotspotselection/icons/unchecked.png") no-repeat;
}

  .VirtualQuestion .hotspot-checkbox.selected {
    background: url("/Content/themes/TestMaker/plugins/tablehotspotselection/icons/checked.png") no-repeat;
  }

.VirtualQuestion .inlineChoiceAnswer {
  padding-left: 25px;
  line-height: 24px;
}

  .VirtualQuestion .inlineChoiceAnswer > img {
    position: absolute;
    top: 3px;
    left: 3px;
  }

.VirtualQuestion .smallText .inlineChoiceInteraction {
  line-height: 14px;
}

.VirtualQuestion .largeText .inlineChoiceInteraction {
  line-height: 24px;
}

.VirtualQuestion .veryLargeText .inlineChoiceInteraction {
  line-height: 32px;
}

  .VirtualQuestion .largeText .inlineChoiceInteraction .inlineChoiceAnswer > img,
  .VirtualQuestion .veryLargeText .inlineChoiceInteraction .inlineChoiceAnswer > img {
    top: 4px;
  }

.VirtualQuestion .marker-correct {
  background: #6bc287;
}

.VirtualQuestion .sup,
.VirtualQuestion sup,
.VirtualQuestion .sub,
.VirtualQuestion sub {
  position: relative;
  vertical-align: middle;
  font-size: smaller;
  padding-left: 2px;
}

.VirtualQuestion .sup,
.VirtualQuestion sup {
  top: -4px;
}

.VirtualQuestion .sub,
.VirtualQuestion sub {
  bottom: -4px;
}

.VirtualQuestion p,
.VirtualQuestion th,
.VirtualQuestion td {
  line-height: 1.4em;
}

.VirtualQuestion .inlineChoiceAnswer {
  width: 75%;
}

.VirtualQuestion video {
  display: block;
}

.GlossaryPopup.ui-dialog,
.GlossaryPopup .ui-widget-header .ui-state-hover {
  background: transparent;
  border: 0;
}

.GlossaryPopup .ui-widget-header .ui-icon {
  background: url("/Content/themes/base/images/fancy_close.png") no-repeat;
  width: 33px;
  height: 34px;
}

.GlossaryPopup .ui-widget-header .ui-dialog-titlebar-close,
.GlossaryPopup .ui-widget-header .ui-dialog-titlebar-close:hover,
.GlossaryPopup .ui-widget-header .ui-dialog-titlebar-close:focus {
  right: 11px;
  top: 0;
  padding: 1px;
}

.GlossaryPopup .block-content {
  padding-top: 1.667em;
}

.GlossaryPopup + .ui-widget-overlay {
  background: #2b2b2d;
}

.GlossaryMessage__title {
  color: #444;
  font-size: 12px;
  font-weight: 700;
  margin: 0 0 15px;
}

.GlossaryMessage__content {
  font-size: 12px;
  max-height: 100px;
  overflow: auto;
  padding: 5px;
}

.Icon,
.icon {
  display: inline-block;
  vertical-align: middle;
}

.Icon-guidance,
.Icon-rationale {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
}

.icon-16 {
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
}

.icon-24 {
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon-32 {
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.icon-48 {
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.Icon-guidance {
  background: url(/Content/themes/TestMaker/images/guidance_checked_medium.png);
}

.Icon-rationale {
  background: url(/Content/themes/TestMaker/images/guidance_checked_medium_rationale.png);
}

.icon-info {
  background-image: url(/Content/themes/Constellation/images/icons/web-app/48/Info.png);
  display: none;
}

.icon-activity,
.icon-video,
.icon-shortcut,
.icon-research-article {
  width: 32px;
  height: 32px;
}

.icon-info-core {
  background: url(/Content/themes/Constellation/images/icons/fugue/information-ocre.png) no-repeat;
  width: 16px;
  height: 16px;
}

.icon-activity {
  background: url(/Content/images/icons/icon-activity.png) no-repeat;
}

.icon-video {
  background: url(/Content/images/icons/icon-video.png) no-repeat;
}

.icon-shortcut {
  background: url(/Content/images/icons/icon-shortcut.png) no-repeat;
}

.icon-research-article {
  background: url(/Content/images/icons/icon-research-article.png) no-repeat;
}

.icon-arrangeable {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.icon-student {
  background: url(/Content/themes/Constellation/images/icons/fugue/user.png) no-repeat;
}

.icon-students {
  background: url(/Content/images/student-icon.png) no-repeat;
}

.icon-student-review {
  background: url(/Content/themes/Constellation/images/icons/fugue/student-review.png) no-repeat;
}

.icon-class-review {
  background: url(/Content/themes/Constellation/images/icons/fugue/class-review.png) no-repeat;
}

.icon-folder-open {
  background: url(/Content/themes/Constellation/images/icons/fugue/folder-open.png) no-repeat;
}

.icon-folder-bookmark {
  background: url(/Content/themes/Constellation/images/icons/fugue/folder-bookmark.png) no-repeat;
}

.icon-downloadable {
  background: url(/Content/themes/Constellation/images/icons/fugue/navigation-270.png) no-repeat;
}

.icon-document-bookmark {
  background: url(/Content/themes/Constellation/images/icons/fugue/document-bookmark.png) no-repeat;
}

.icon-student-offset {
  margin-top: -2px;
}

.Icon-tooltip,
.inlineChoice > span.Icon-tooltip {
  cursor: pointer;
  margin: 0 3px;
  display: none;
  position: relative;
  z-index: 1;
}

.is-no-background {
  background: transparent !important;
  position: relative;
  top: 3px;
}

.tableRow td {
  word-break: break-all;
}

.process-controls {
  margin: 10px 0 20px;
}

.datatable-process-error .keywords li {
  display: block;
}

.MathJax > nobr > .math > :empty {
  border-left-color: transparent !important;
}

/**
 * Extended text
 */
.divExtendText-options {
  overflow: hidden;
  margin-bottom: 10px !important;
}
.divExtendText-options .expertLength {
  width: 64px;
}

  .divExtendText-options > div {
    margin-left: 10px;
  }

    .divExtendText-options > div:first-child {
      margin-left: 0;
    }

.u-w-30 {
  width: 30px;
}

.u-w-60 {
  width: 60px;
}

.u-w-90 {
  width: 90px !important;
}
.divExtendText-options .u-w-90 {
  width: 64px !important;
}

.u-w-100 {
  width: 100px;
}

.u-w-105 {
  width: 105px;
}

.u-w-120 {
  width: 120px;
}

.u-w-160 {
  width: 160px;
}

.u-w-200 {
  width: 200px;
}

.u-w-320 {
  width: 320px;
}

.u-w-380 {
  width: 380px;
}

.u-w-400 {
  width: 400px;
}

.u-m-l-5 {
  margin-left: 5px;
}

.u-tsn {
  text-shadow: none !important;
}

.u-m-t-5 {
  margin-top: 5px;
}

.u-m-r-5 {
  margin-right: 5px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-content-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/*------------------------------------*\
    #POPUP INFO
\*------------------------------------*/
.ui-dialog.ui-popup-info {
  background: url(../images/old-browsers-bg/white20.png);
  background: rgba(255, 255, 255, 0.2);
  padding: 0 0.833em 0.833em;
  border: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.8em;
  box-shadow: 0 0 4px rgba(50, 50, 50, 0.5);
  overflow: visible !important;
}

  .ui-dialog.ui-popup-info ~ .ui-widget-overlay {
    background: #000;
  }

  .ui-dialog.ui-popup-info .ui-dialog-titlebar {
    top: -1px;
    display: block;
  }

  .ui-dialog.ui-popup-info .ui-dialog-title {
    display: none;
  }

  .ui-dialog.ui-popup-info .ui-dialog-titlebar-close {
    padding: 0;
  }

    .ui-dialog.ui-popup-info .ui-dialog-titlebar-close,
    .ui-dialog.ui-popup-info .ui-dialog-titlebar-close.ui-state-hover {
      background: url("/Content/themes/base/images/fancy_close.png") no-repeat !important;
      border: 0;
      display: block;
      width: 33px;
      height: 34px;
      top: -5px;
      right: -20px;
    }

      .ui-dialog.ui-popup-info .ui-dialog-titlebar-close > span {
        display: none;
      }

  .ui-dialog.ui-popup-info .ui-dialog-content {
    background: #fff;
  }

  .ui-dialog.ui-popup-info .popup-info-content {
    height: 200px;
    overflow: hidden;
  }

.popup-info-content {
  margin: 1em 0;
  overflow: auto;
  min-height: 100px;
  max-height: 500px;
}

/*------------------------------------*\
    #SCROLLBAR SAFARI
\*------------------------------------*/
.scrollbar-safari::-webkit-scrollbar {
  appearance: none;
  -webkit-appearance: none;
  width: 7px;
}

  .scrollbar-safari::-webkit-scrollbar:horizontal {
    height: 7px;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

.scrollbar-safari::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.special-page-login .ui-dialog {
  background: transparent;
  border: 0;
}

.manage-alc-select {
  width: 400px;
}

.u-full-width {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}

/*------------------------------------*\
    #SCROLLBAR SAFARI
\*------------------------------------*/
.generate-student-list-custom:after {
  content: "";
  display: table;
  clear: both;
}

.generate-student-list-custom li {
  width: 31%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

  .generate-student-list-custom li:nth-child(3n+2) {
    margin-left: 3.5%;
  }

  .generate-student-list-custom li:nth-child(3n) {
    float: right;
  }

  .generate-student-list-custom li:last-child,
  .generate-student-list-custom li.last-child {
    margin-bottom: 0.25em;
  }

  .generate-student-list-custom li a,
  .generate-student-list-custom li span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

fieldset.last {
  padding-bottom: 0;
}

.fieldset-column {
  margin-bottom: 1.667em;
}

.tooltip.tooltip-top[data-tipsy] {
  position: relative;
  display: inline-block;
}

  .tooltip.tooltip-top[data-tipsy]:hover:before,
  .tooltip.tooltip-top[data-tipsy]:hover:after,
  .tooltip.tooltip-top[data-tipsy]:focus:before,
  .tooltip.tooltip-top[data-tipsy]:focus:after {
    visibility: visible;
    opacity: 1;
  }

  .tooltip.tooltip-top[data-tipsy]:before,
  .tooltip.tooltip-top[data-tipsy]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transition: 250ms ease-in-out;
    -webkit-transition: 250ms ease-in-out;
  }

  .tooltip.tooltip-top[data-tipsy]:before {
    content: '';
    border: 5px solid transparent;
    bottom: 0;
    z-index: 100;
  }

  .tooltip.tooltip-top[data-tipsy]:after {
    content: attr(data-tipsy);
    background: #44475a;
    border-radius: 3px;
    color: white;
    padding: 5px 10px;
    width: 300px;
    text-rendering: optimizeLegibility;
  }

  .tooltip.tooltip-top[data-tipsy]:hover:before,
  .tooltip.tooltip-top[data-tipsy]:focus:before {
    top: -30%;
  }

  .tooltip.tooltip-top[data-tipsy]:hover:after,
  .tooltip.tooltip-top[data-tipsy]:focus:after {
    bottom: 130%;
  }

  .tooltip.tooltip-top[data-tipsy]:before,
  .tooltip.tooltip-top[data-tipsy]:after {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .tooltip.tooltip-top[data-tipsy]:before {
    border-top-color: #44475a;
    top: -35%;
  }

  .tooltip.tooltip-top[data-tipsy]:after {
    bottom: 135%;
  }

.form-first-registration:after {
  content: "";
  display: table;
  clear: both;
}

.form-first-registration {
  padding-right: 1.667em;
}

  .form-first-registration .inline-small-label {
    position: relative;
  }

    .form-first-registration .inline-small-label.last label {
      padding-top: 0;
      line-height: 1.2;
      margin-top: -6px;
    }

  .form-first-registration .tooltip.tooltip-top[data-tipsy] {
    position: absolute;
    top: 5px;
    right: -25px;
  }

.ui-checkbox {
  position: relative;
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: 0;
  vertical-align: baseline;
}

.columns-ables-report .colx2-left {
  margin-bottom: 1.667em;
}

.columns-ables-report select {
  max-width: none;
  width: 75%;
}

.columns-ables-report .colx2-left:nth-of-type(even) {
  float: right;
}

fieldset.fieldset-ables-report {
  padding-bottom: 0;
}

.u-text-left {
  text-align: left;
}

.ables-report {
  background: #fff;
  border: 3px double #d9d9d9;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(34, 36, 38, .15);
  position: relative;
}

  .ables-report:before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    border-top: 1px solid rgba(34, 36, 38, .15);
    background: rgba(0, 0, 0, .03);
    width: 100%;
    height: 4px;
    visibility: visible;
  }

  .ables-report:after {
    content: "";
    display: table;
    clear: both;
  }

.ables-report-item {
  width: 25%;
  float: left;
  border-left: 3px double #d9d9d9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

  .ables-report-item:first-child {
    border-left-color: transparent;
  }

  .ables-report-item figure {
    padding: 20px 20px 5px;
  }

    .ables-report-item figure img {
      max-width: 100%;
      height: auto;
    }

  .ables-report-item label,
  .ables-report-item input[type="radio"] {
    cursor: pointer;
  }

  .ables-report-item label {
    color: #000;
    margin-top: 10px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
  }

  .ables-report-item input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
  }

.ui-checkbox input[type="checkbox"],
.ui-checkbox label {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  ;
}

.ui-checkbox input[type="checkbox"] {
  margin-top: -1px;
}

.ui-radio-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

  .ui-radio-group:after {
    content: "";
    display: table;
    clear: both;
  }

.ui-radio-group-item {
  float: left;
  position: relative;
}

.ui-checkbox-item {
  position: relative;
}

  .ui-radio-group-item input[type="radio"],
  .ui-checkbox-item input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

    .ui-radio-group-item input[type="radio"]:checked + label,
    .ui-radio-group-item input[type="radio"]:checked + label:last-child,
    .ui-checkbox-item input[type="checkbox"]:checked + label {
      background: #ccc;
    }

    .ui-radio-group-item input[type="radio"] + label,
    .ui-radio-group-item input[type="radio"] + label:last-child,
    .ui-checkbox-item input[type="checkbox"] + label {
      background: #fff;
      border: 1px solid #ccc;
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      cursor: pointer;
      padding: 7px 15px;
      font-size: 12px;
      width: auto;
      margin: 0;
    }

.ui-radio-group-item:first-child input[type="radio"] + label {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: 0;
}

.ui-radio-group-item:last-child input[type="radio"] + label {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: 0;
}

.ui-radio-group-two .ui-radio-group-item:last-child input[type="radio"] + label {
  border-left: 1px solid #ccc;
}

.form .ui-checkbox-item input[type=checkbox] + label:last-child {
  padding-right: 15px;
}

/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/
.u-m-t-10 {
  margin-top: 10px;
}

.u-m-t-15 {
  margin-top: 15px;
}

.u-m-t-20 {
  margin-top: 20px;
}

.u-m-t-30 {
  margin-top: 30px;
}

.u-m-t-35 {
  margin-top: 35px;
}

.u-m-l-0 {
  margin-left: 0;
}

.u-m-t-40 {
  margin-top: 40px;
}

.u-m-l-10 {
  margin-left: 10px;
}

.u-m-b-0 {
  margin-bottom: 0;
}

.u-m-l-25 {
  margin-left: 25px;
}

.u-m-b-10 {
  margin-bottom: 10px;
}

.u-m-b-15 {
  margin-bottom: 15px;
}

.u-m-w-250 {
  min-width: 250px;
}

.u-w-50 {
  width: 50%;
}

.u-w-p-25 {
  width: 25%;
}

.u-w-p-35 {
  width: 35%;
}

.u-w-p-50 {
  width: 50%;
}

.u-w-p-65 {
  width: 65%;
}

.u-w-p-75 {
  width: 75%;
}

.u-w-p-100 {
  width: 100%;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center !important;
}

.u-clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.u-cursor-pointer {
  cursor: pointer;
}

.u-v-align-middle {
  vertical-align: middle !important;
}

.u-inline-block {
  display: inline-block !important;
}

.u-fz-11 {
  font-size: 11px !important;
}

.u-fz-14 {
  font-size: 14px !important;
}

.u-p-r-10 {
  padding-right: 10px;
}

.u-c-mineshaft {
  color: #333 !important;
}

.tlds-instruction {
  color: #808080;
  display: block;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10px;
}

.tlds-notes-item {
  margin-top: 10px;
}

.es-list {
  display: block;
  top: 50px;
  width: 100%;
}

  .es-list li {
    display: block !important;
  }

.alert-warning {
  color: #8a6d3b;
  display: inline-block;
  vertical-align: middle;
}

.block-content-sgo {
  padding-left: .75em;
  padding-right: .75em;
}

.u-c-red {
  color: red;
}

.u-c-light-red {
  color: #ff4c42;
}

.u-fw-400 {
  font-weight: 400 !important;
}

.u-fw-700 {
  font-weight: 700;
}

.student-entry-result {
  min-height: 150px;
}

  .student-entry-result .handsontable td.htInvalid {
    background-color: #f78b83 !important;
  }

  .student-entry-result .handsontable .htCheckboxRendererInput.noValue {
    opacity: 1;
  }

.datalocker-define-template strong {
  color: inherit;
}

.btn-entry-result-score {
  background: transparent;
  border-color: #666;
  text-shadow: none;
  box-shadow: none;
  margin: 2px;
  color: #666;
  padding: 4px 8px;
}

  .btn-entry-result-score:hover,
  .btn-entry-result-score:focus {
    background: transparent;
    border-color: #666;
  }

  .btn-entry-result-score.is-selected,
  .btn-entry-result-score.is-selected:hover,
  .btn-entry-result-score.is-selected:focus {
    background: #50a3c8;
    border-color: #50a3c8;
    color: #fff;
  }

  .btn-entry-result-score.is-small {
    padding: 2px 5px;
  }

/**
 * Calendar handsontable
 */
button.pika-button,
button.pika-prev,
button.pika-next {
  text-shadow: none;
  box-shadow: none;
}

button.pika-button {
  border: 0;
  font-weight: 400;
}

button.pika-prev,
button.pika-next {
  background-color: transparent;
  border-radius: 0;
  font-size: 14px;
  line-height: 20px;
}

  button.pika-prev:hover,
  button.pika-prev:focus,
  button.pika-next:hover,
  button.pika-next:focus {
    border-color: transparent;
  }

  button.pika-prev:hover,
  button.pika-prev:focus,
  .datepicker-handsontable .ui-datepicker-prev {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==) center center;
    background-size: 75% 75%;
  }

  button.pika-next:hover,
  button.pika-next:focus,
  .datepicker-handsontable .ui-datepicker-next {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=) center center;
    background-size: 75% 75%;
  }

.datepicker-handsontable {
  border-radius: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

  .datepicker-handsontable .ui-datepicker-prev,
  .datepicker-handsontable .ui-datepicker-next {
    display: block;
    cursor: pointer;
    outline: 0;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
  }

  .datepicker-handsontable .ui-datepicker-prev-hover,
  .datepicker-handsontable .ui-datepicker-next-hover {
    opacity: 1;
  }

  .datepicker-handsontable .ui-datepicker-prev .ui-icon,
  .datepicker-handsontable .ui-datepicker-next .ui-icon {
    display: none;
  }

  .datepicker-handsontable .ui-datepicker-prev,
  .datepicker-handsontable .ui-datepicker-prev-hover,
  .datepicker-handsontable .ui-datepicker-next,
  .datepicker-handsontable .ui-datepicker-next-hover {
    top: -2px;
  }

  .datepicker-handsontable .ui-datepicker-prev-hover {
    left: 2px;
  }

  .datepicker-handsontable .ui-datepicker-next-hover {
    right: 2px;
  }

  .datepicker-handsontable .ui-datepicker-calendar thead {
    color: #999;
    font-size: 12px;
  }

  .datepicker-handsontable td {
    padding: 0;
  }

  .datepicker-handsontable .ui-state-default {
    border: 0;
    color: #666;
    font-weight: 400;
    background: #f5f5f5;
    box-shadow: none;
    border-radius: 3px;
    padding: .4em .6em;
  }

    .datepicker-handsontable .ui-state-default.ui-state-active {
      color: #fff;
      background: #3af;
    }

    .datepicker-handsontable .ui-state-default.ui-state-hover {
      color: #fff;
      background: #ff8000;
    }

    .datepicker-handsontable .ui-state-default.ui-state-highlight {
      color: #3af;
      font-weight: 700;
    }

      .datepicker-handsontable .ui-state-default.ui-state-highlight.ui-state-active,
      .datepicker-handsontable .ui-state-default.ui-state-highlight.ui-state-hover {
        color: #fff;
      }

.button-simple-grey {
  background: #fff;
  border: 1px solid darkgrey;
  border-radius: 0;
  color: #444;
  box-shadow: none;
  text-shadow: none;
}

  .button-simple-grey:hover,
  .button-simple-grey:focus {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(220,220,220,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dcdcdc', GradientType=0 );
    border: 1px solid darkgrey;
  }

.button-simple-fs-grey {
  padding-top: .3em;
  padding-bottom: .2em;
  vertical-align: top;
}

/*------------------------------------*\
    #POPUP EXPORT INFO
\*------------------------------------*/
.ui-dialog.ui-popup-exportInfo {
  background: url(../images/old-browsers-bg/white20.png);
  background: rgba(255, 255, 255, 0.2);
  padding: 0 0.833em 0.833em;
  border: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.8em;
  box-shadow: 0 0 4px rgba(50, 50, 50, 0.5);
  overflow: visible !important;
}

  .ui-dialog.ui-popup-exportInfo ~ .ui-widget-overlay {
    background: #000;
  }

  .ui-dialog.ui-popup-exportInfo .ui-dialog-titlebar {
    top: -1px;
    display: block;
  }

  .ui-dialog.ui-popup-exportInfo .ui-dialog-title {
    display: none;
  }

  .ui-dialog.ui-popup-exportInfo .ui-dialog-titlebar-close {
    padding: 0;
  }

    .ui-dialog.ui-popup-exportInfo .ui-dialog-titlebar-close,
    .ui-dialog.ui-popup-exportInfo .ui-dialog-titlebar-close.ui-state-hover {
      background: url("/Content/themes/base/images/fancy_close.png") no-repeat !important;
      border: 0;
      display: block;
      width: 33px;
      height: 34px;
      top: -5px;
      right: -20px;
    }

      .ui-dialog.ui-popup-exportInfo .ui-dialog-titlebar-close > span {
        display: none;
      }

  .ui-dialog.ui-popup-exportInfo .ui-dialog-content {
    background: #fff;
  }

  .ui-dialog.ui-popup-exportInfo .popup-exportInfo-content {
    height: 200px;
    overflow: hidden;
  }

.popup-exportInfo-content {
  margin: 1em 0;
  overflow: auto;
  min-height: 100px;
  max-height: 500px;
}

.manage-columns {
  width: 1035px;
  min-height: 690px;
  margin: auto;
}

.manage-columns-left,
.manage-columns-center,
.manage-columns-right {
  float: left;
}

.manage-columns-left {
  width: 400px;
}

.manage-columns-center,
.manage-columns-right {
  width: 300px;
  padding-left: 15px;
}

.gradeLevelClasses .form-properties {
}

.noGradeLevelClasses .dataTableVirtualTestStyle tbody {
  height: 376px;
}

.noGradeLevelClasses .form-properties {
  height: 555px;
}

.alert {
  padding: 5px 10px;
  border: 1px solid transparent;
}

.alert-success {
  background: #c8e5bc;
  border-color: #b2dba1;
  color: #3c763d;
}

.message.message-datalocker,
.message.message-datalocker li {
  text-transform: none;
  font-size: 12px;
  padding-bottom: .3em;
}

.dnd-arrangeable {
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
}

.draggable-element span.js-arrangeable {
  cursor: move;
}

.drag-list {
  width: 400px;
  margin: 0 auto;
}

  .drag-list > li {
    list-style: none;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(196, 196, 196);
    margin: 5px 0;
    font-size: 24px;
  }

  .drag-list .title {
    display: inline-block;
    width: 130px;
    padding: 6px 6px 6px 12px;
    vertical-align: top;
  }

  .drag-list .drag-area {
    display: inline-block;
    background: rgb(158, 211, 179);
    width: 60px;
    height: 40px;
    vertical-align: top;
    float: right;
    cursor: move;
  }

.button-student-action:hover,
.button-student-action:focus {
  color: #fff;
}

.button-remove-all.disabled {
  color: #bfbfbf;
  border-color: #e9f2f6 #c4c3c3 #a2a2a2 #e3e2e2;
  background: #c8c8c8 url(../images/old-browsers-bg/button-element-disabled-bg.png) repeat-x top;
  background: -moz-linear-gradient(top, #f0f2f2, #c8c8c8);
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f2f2), to(#c8c8c8));
  -moz-text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
  -webkit-text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: default;
  pointer-events: none;
}

.datatable.datatable-filter-manage-class tr.is-selected td {
  background: #d1e5ef;
}

.modal-component-loading:after {
  content: "";
  border: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  cursor: wait;
}

.modal-component-loading-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  padding: 15px;
  width: 30%;
  text-align: center;
  border: none;
  background-color: #000;
  cursor: wait;
  border-radius: 10px;
  opacity: 1;
}

  .modal-component-loading-content > h2 {
    margin: 0;
    color: #fff;
  }

input[type="checkbox"].field-checkbox {
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
}

  input[type="checkbox"].field-checkbox:disabled + label {
    color: #bfbfbf;
  }

.block-content h1 > a.is-header-small {
  font-size: 0.7em;
  height: 32px;
  line-height: 19px;
  font-weight: 700;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

  .block-content h1 > a.is-header-small.is-modified {
    left: 293px;
  }

.uploadStatementDatePicker {
  z-index: 9999 !important;
}

.datatable-schoolAdminHome .is-disabled {
  cursor: default;
  pointer-events: none;
}

.form .fieldset-same {
  padding-bottom: 1em;
}

.form input[type="text"].is-disabled,
.form select.is-disabled,
.form textarea.is-disabled {
  background: #eee;
  cursor: default;
  pointer-events: none;
}

.form input[type="text"].is-disabled,
.form select.is-disabled,
.form textarea.is-disabled {
  background: #eee;
  cursor: default;
  pointer-events: none;
}

.form input[type="text"].is-disabled,
.form select.is-disabled,
.form textarea.is-disabled {
  background: #eee;
  cursor: default;
  pointer-events: none;
}

.btn-add-question-group {
  position: absolute;
  top: 4px;
  right: 0px;
  padding: 1px 3px;
  background: #777474;
  border: 1px solid #fff;
  box-shadow: none;
}

  .btn-add-question-group:hover,
  .btn-add-question-group:focus {
    background: #777474;
    border: 1px solid #fff;
    box-shadow: none;
  }

.table-assignment-waiting-review {
  font-weight: 700;
  color: blue;
}

.is-zero .table-assignment-waiting-review {
  font-weight: 400;
  color: #333;
}

.is-zero ~ div {
  display: none;
  cursor: default;
  pointer-events: none;
}

.drawTool {
  position: relative;
}

.is-hidden {
  display: none;
}

.divBotButton button.js-btn-actions:first-child {
  margin-left: 0;
}

.divBotButton button.js-btn-actions {
  margin-left: 7px;
}

.QtiItemDetail object {
  display: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.fileNameUploaded > a {
  display: block;
  text-indent: 5px;
}

.file-type-item {
  display: inline-block;
  vertical-align: middle;
  width: 25%;
  margin-right: -4px;
  margin-bottom: 10px;
}

.ckUpDownNumber-custom {
  position: relative;
}

  .ckUpDownNumber-custom .ckUDNumber {
    border: none;
    line-height: 1;
    width: 18px;
    height: 14px;
    position: absolute;
    top: 0;
    right: 0;
    color: #656464;
    padding: 0;
    cursor: pointer;
    border: 1px solid #569dcb;
    border-radius: 0 4px 0 0px;
    /*background: #569dcb;
    color: white;*/
    font-size: 7pt;
  }

  .ckUpDownNumber-custom .ckUpNum {
    top: 0px;
  }

  .ckUpDownNumber-custom .ckDownNum {
    top: auto;
    bottom: 0px;
    border-radius: 0 0 4px 0;
  }

  .ckUpDownNumber-custom > input[type="text"]::-ms-clear {
    display: none;
  }

#divContentTestSettingTestPropertyTop {
  width: 864px !important;
}

#divTestBranchingPanel #divContentTestSettingTestPropertyTop {
  width: auto !important;
}

.c-audio {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
}

.c-audio-play,
.c-audio-stop {
  display: block;
  width: 30px;
  height: 30px;
}

.c-audio-play {
  background-image: url(/Content/themes/TestMaker/images/small_audio_play.png);
}

.c-audio-stop {
  background-image: url(/Content/themes/TestMaker/images/small_audio_stop.png);
}

.css-align-center {
  text-align: center !important;
}

.width-280 {
  min-width: 280px;
  word-break: break-all;
}

.width-164 {
  min-width: 164px;
  word-break: break-all;
}

.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 25px;
  height: 25px;
  position: absolute;
  left: calc(50% - 13px);
  top: 35%;
  z-index: 1111;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.dvloading {
  position: relative;
}

  .dvloading:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    z-index: 111;
  }

.txt-loading {
  position: absolute;
  z-index: 111111;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
  top: calc(35% + 45px);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.datatable.datatable-add-user-group tr.is-selected td {
  background: #d1e5ef;
}

.message_not_support_ie {
  margin-top: 20px !important;
}

  .message_not_support_ie a {
    color: blue !important;
  }

.required-field {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

.message.customwarning {
  border-color: #c00000;
  background-color: peachpuff;
}

  .message.customwarning li {
    background: url(/Content/themes/Constellation/images/icons/fugue/warning-red-white.svg) no-repeat;
    background-size: 16px 16px;
    color: #563f3e;
    background-position-x: 10px;
  }

.comboTreeInputWrapper.disabled {
  pointer-events: none;
  background: #eee;
  opacity: 0.75;
}
.comboTreeInputWrapper.disabled * {
  color: #4c4c4c !important;
}
  .block-text-name {
    position: relative;
    height: 29px;
    overflow: hidden;
    border-radius: 0.417em;
    border: 1px solid #89bad3;
    display: block;
    width: 250px;
    box-sizing: border-box;
}
.animation-text {
    -moz-animation:  bouncing-text 5s linear infinite alternate;
    -webkit-animation:  bouncing-text 5s linear infinite alternate;
    animation:  bouncing-text 5s linear infinite alternate;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.block-text-name .box-select {
    overflow: hidden;
    background: white;
    position: absolute;
    top: 2px;
    bottom: 0;
    z-index: 1111111;
    height: 100%;
}

.block-text-name select:hover + .box-select .animation-text {
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
}

.block-text-name .overlay {
    left: 0;
    top: 0;
    height: 20px;
    display: block;
    padding-top: 5px;
    white-space: nowrap;
    pointer-events: none;
    background: white;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
}
.box-select {
    pointer-events: none;
}
.box-select.short-text{
    opacity: 0;
}
.block-text-name .overlay:not(.animation-text) {
    opacity: 0;
}
.block-text-name select:hover + .box-select .animation-text {
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
}
.block-content-dropdown-marquee {
  display: table;
  float: none;
}
.block-text-name > select {
  height: 100% !important;
}

.artifact-container {
  width: 100%;
  height: 735px;
}

.artifact-iframe {
  width: 100%;
  height: 100%;
}
