.daterangepicker {
    border-radius: 0 !important;
}

.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
  font-size: 12px !important;
  line-height: 24px !important;
  white-space: nowrap !important;
  border: 1px solid transparent !important;
  padding: 0px !important;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: #eee !important;
  border-color: transparent !important;
  color: inherit !important;
}

.daterangepicker td.week, .daterangepicker th.week {
  font-size: 80% !important;
  color: #ccc !important;
}

.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
  background-color: #fff !important;
  border-color: transparent !important;
  color: #999 !important;
}

.daterangepicker td.in-range {
  background-color: #ebf4f8 !important;
  border-color: transparent !important;
  color: #000 !important;
  border-radius: 0 !important;
}

.daterangepicker td.start-date {
  border-radius: 4px 0 0 4px !important;
}

.daterangepicker td.end-date {
  border-radius: 0 4px 4px 0 !important;
}

.daterangepicker td.start-date.end-date {
  border-radius: 4px !important;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #357ebd !important;
  border-color: transparent !important;
  color: #fff !important;
}

.daterangepicker td.disabled, .daterangepicker option.disabled {
  color: #999 !important;
  cursor: not-allowed !important;
  text-decoration: line-through !important;
}

.daterangepicker .drp-buttons .btn {
    font-size: 12px !important;
}

.daterangepicker .btn {
  background-color: transparent !important;
  border: 1px solid transparent !important;
  padding: .375rem .75rem !important;
  border-radius: 0 !important;
}

.daterangepicker .cancelBtn {
  background-color: buttonface !important;
}

.daterangepicker .applyBtn {
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
}

.daterangepicker .drp-selected {
    font-size: 12px !important;
}

.daterangepicker th {
  background-color: transparent !important;
}

.daterangepicker select.monthselect > option,
.daterangepicker select.monthselect,
.daterangepicker select.yearselect,
.daterangepicker select.yearselect > option {
  font-size: 12px !important;
  background-color: #fff;
  padding: 1px 4px !important;
  border: 1px solid !important;
}
