.ui-widget-header
{
    border: 0px solid #aaa !important;
    background: transparent !important;
    position: relative;
    top: 34px;
}
    
.ui-dialog
{
    background: transparent;
    border: 0;
    /*top: 100px !important;*/
    overflow: hidden !important;
}
.ui-dialog .ui-dialog-titlebar-close
{
    position: absolute;
    right: 7px;
    top: -8px;
}
.ui-widget-header .ui-icon
{
    background-image: url("/Content/themes/base/images/fancy_close.png");
}
.ui-icon
{
    width: 40px;
    height: 40px;
}
.ui-icon-closethick
{
    background-position: 2px 2px;
}
.ui-widget-header .ui-state-hover
{
    border: 0;
    background: transparent !important;
}
    
.ui-dialog .ui-dialog-titlebar-close
{
    width: 30px;
    height: 42px;
}
    
.ui-widget-overlay
{
    background: #2b2b2d !important;
}