.ui-widget-header {
  top: 70px;
}

tr.even.row_selected td {
  background-color: #82CAFA !important;
}

tr.odd.row_selected td {
  background-color: #82CAFA !important;
}

.lblKeySearchCriteria {
  display: inline !important;
  font-size: 11px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  /*padding-left: 10px;*/
}

.lblValueSearchCriteria {
  display: inline !important;
  font-size: 11px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  color: black !important;
  font-style: italic !important;
}

#fsNonNWEACriteria p {
  margin-top: 0px !important;
  margin-bottom: 2px !important;
  padding-left: 10px;
}

#fsNWEACriteria p {
  margin-top: 0px !important;
  margin-bottom: 2px !important;
  padding-left: 10px;
}

.lblSessionCriteria {
  margin-bottom: 5px;
  margin-top: 5px;
}

.ui-widget-header {
  right: 0px !important;
}

.passage-found-item-link {
  text-decoration: underline;
}

.coolfieldset, .coolfieldset.expanded {
  border: 1px solid #aaa;
}

  .coolfieldset.collapsed {
    border: 0;
    border-top: 1px solid #aaa;
  }

  .coolfieldset legend {
    padding-left: 13px;
    font-weight: bold;
    cursor: pointer;
  }

  .coolfieldset legend, .coolfieldset.expanded legend {
    background: transparent url(/Content/themes/base/images/expanded.gif) no-repeat center left;
    background-size: 10px 10px;
  }

  .coolfieldset.collapsed legend {
    background: transparent url(/Content/themes/base/images/collapsed.gif) no-repeat center left;
    background-size: 10px 10px;
  }
