.popupProctorTestView {
  margin: 0 0 20px;
  height: calc((100%) - 170px);
  overflow-y: auto;
}
#popupProctorTestView {
  height: 100%;
}
.popupProctorTestView .table {
  border-bottom: none;
  border-right: none;
  border-left: none;
}
.popupProctorTestView .table thead {
  position: sticky;
  z-index: 222;
  border-right: 1px solid #999;
  top: 0;
}
#popupProctorTestView .block-text-time {
  text-align: right;
  margin-bottom: 10px;
}

.popupProctorTestView .table thead th {
  border: none;
  border-left: 1px dotted #333333;
}
.popupProctorTestView .table thead th:first-child {
  border-left: none;
}
.popupProctorTestView tbody tr {
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
}
.popupProctorTestView tbody tr:last-child {
  border-bottom: 1px solid #999999;
}
.table {
  width: 100%;
}
.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table th {
  font-weight: bold;
}
.table thead th {
  vertical-align: bottom;
}
.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #ffffff;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}
.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}
.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
}
.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
}
.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #f5f5f5;
}

button,
.big-button {
  display: inline-block;
  border: 1px solid;
  border-color: #50a3c8 #297cb4 #083f6f;
  background: #0c5fa5 url(../images/old-browsers-bg/button-element-bg.png)
    repeat-x left top;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background: -moz-linear-gradient(top, white, #72c6e4 4%, #0c5fa5);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(white),
    to(#0c5fa5),
    color-stop(0.03, #72c6e4)
  );
  -moz-border-radius: 0.333em;
  -webkit-border-radius: 0.333em;
  -webkit-background-clip: padding-box;
  border-radius: 0.333em;
  color: white;
  -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  font-size: 1.167em;
  padding: 0.286em 0.6em 0.357em;
  line-height: 1.429em;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
}
.popupTitle {
  left: 1.2em;
  top: 4px;
  position: absolute;
  margin: 0;
  z-index: 100;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 0.278em;
  -webkit-border-radius: 0.278em;
  -webkit-background-clip: padding-box;
  border-radius: 0.278em;
  left: 1.2em;
  margin: 0;
  position: absolute;
  top: 4px;
  z-index: 100;
  color: white;
  font-size: 1.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial,
    Helvetica, sans-serif;
  border: 1px solid;
  border-color: #50a3c8 #297cb4 #083f6f;
  background: #0c5fa5 url(../images/old-browsers-bg/title-bg.png) repeat-x top;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background: -moz-linear-gradient(top, white, #72c6e4 4%, #0c5fa5);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(white),
    to(#0c5fa5),
    color-stop(0.03, #72c6e4)
  );
  -moz-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
  padding: 0.278em 0.444em 0.389em;
}
#popupContainer {
  background: none repeat scroll 0 0 #ffffff;
  border-radius: 4px;
  margin-bottom: -26px;
  padding-bottom: 21px;
  padding-top: 24px;
  position: relative;
  top: -26px;
  overflow: hidden;
  min-height: 700px !important;
}
.proctorCell {
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, 0.2);
}
.questionAnswered {
  background-color: #5cb85c;
}
.questionUnAnswered {
  background-color: #ffff99;
}
.table-proctor-testview tbody th,
.table-proctor-testview tbody td,
.table-proctor-testview tfoot th,
.table-proctor-testview tfoot td {
  vertical-align: middle;
}

.table-proctor-testview tbody th.questions,
.table-proctor-testview tbody td.questions,
.table-proctor-testview tfoot th.questions,
.table-proctor-testview tfoot td.questions {
  vertical-align: top;
  padding: 0;
}

.table-proctor-testview tbody td.testStatusNotStarted,
.table-proctor-testview tbody tr:nth-child(2n) td.testStatusNotStarted {
  background-color: #d9534f;
}

.table-proctor-testview tbody td.testStatusNotStarted:hover,
.table-proctor-testview tbody td.testStatusNotStarted:focus,
.table-proctor-testview tbody tr:hover > td.testStatusNotStarted,
.table-proctor-testview tbody tr:focus > td.testStatusNotStarted {
  background-color: #d9534f;
}

.table-proctor-testview tbody td.testStatusPaused,
.table-proctor-testview tbody tr:nth-child(2n) td.testStatusPaused {
  background-color: #d9534f;
}

.table-proctor-testview tbody td.testStatusPaused:hover,
.table-proctor-testview tbody td.testStatusPaused:focus,
.table-proctor-testview tbody tr:hover > td.testStatusPaused,
.table-proctor-testview tbody tr:focus > td.testStatusPaused {
  background-color: #d9534f;
}

.table-proctor-testview tbody td.testStatusManualReview,
.table-proctor-testview tbody tr:nth-child(2n) td.testStatusManualReview {
  background-color: #f0ad4e;
}

.table-proctor-testview tbody td.testStatusManualReview:hover,
.table-proctor-testview tbody td.testStatusManualReview:focus,
.table-proctor-testview tbody tr:hover > td.testStatusManualReview,
.table-proctor-testview tbody tr:focus > td.testStatusManualReview {
  background-color: #f0ad4e;
}

.table-proctor-testview tbody td.testStatusCompleted,
.table-proctor-testview tbody tr:nth-child(2n) td.testStatusCompleted {
  background-color: #337ab7;
}

.table-proctor-testview tbody td.testStatusCompleted:hover,
.table-proctor-testview tbody td.testStatusCompleted:focus,
.table-proctor-testview tbody tr:hover > td.testStatusCompleted,
.table-proctor-testview tbody tr:focus > td.testStatusCompleted {
  background-color: #337ab7;
}

.table-proctor-testview tbody td.testStatusNotActive,
.table-proctor-testview tbody tr:nth-child(2n) td.testStatusNotActive {
  background-color: #d9534f;
}

.table-proctor-testview tbody td.testStatusNotActive:hover,
.table-proctor-testview tbody td.testStatusNotActive:focus,
.table-proctor-testview tbody tr:hover > td.testStatusNotActive,
.table-proctor-testview tbody tr:focus > td.testStatusNotActive {
  background-color: #d9534f;
}

.table-proctor-testview tbody td.testStatusAutograding,
.table-proctor-testview tbody tr:nth-child(2n) td.testStatusAutograding {
  background-color: #ffffff;
  color: var(--black) !important;
}

.table-proctor-testview tbody td.testStatusAutograding:hover,
.table-proctor-testview tbody td.testStatusAutograding:focus,
.table-proctor-testview tbody tr:hover > td.testStatusAutograding,
.table-proctor-testview tbody tr:focus > td.testStatusAutograding {
  background-color: #ffffff;
  color: var(--black) !important;
}

.note {
  border: 1px solid rgba(86, 61, 124, 0.2);
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
  max-width: 12px;
}

.note-container {
  margin-top: 25px;
}

.note-item {
  padding: 5px;
}

.note-yellow {
  background: #ff9;
}

.note-green {
  background: #5cb85c;
}

.note-star {
  width: 12px;
  border: 0;
  padding: 0;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-right {
  text-align: right;
}

.block-tooltip p:first-child {
  margin-bottom: 5px;
}
