/* CSS file */


/*TEST ITEM STYLES*/
#divQuestionDetails .mainBody, .mainbody {
	text-align: left;
	font-size: 14px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 0; /*8px;*/
	padding-bottom: 0; /*8px;*/
	paragraphSpaceAfter: 12px;
    line-height: 1.57143em;
}

/* .referenceObject {
	display: none;
} */

.answer {
	text-align: left;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif, dejavu_sansbook;
	font-size: 14px;
	padding-left: 0; /*8px;*/
	padding-right: 0; /*8px;*/
	padding-top: 0; /*8px;*/
	padding-bottom: 8px;
	paragraphSpaceAfter: 12px;
}

.passage {
	text-align: left;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif, dejavu_sansbook;
	font-size: 14px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	paragraphSpaceAfter: 12px;
}
.passage ol {
    padding: 0 40px;
}
.passage ol li:before {
    content: ".";
    color: #fff;
    font-weight: bold;
    position: absolute;
    font-size: 24px;
    line-height: 13px;
    left: 27px;
}
.passage ol li > ol li:before {
    left: 27px;
}
.webkit .passage ol li:before {
    left: 27px;
}
.webkit .passage ol li > ol li:before {
    left: 27px;
}
.passage ol li p[style*='level'] {
    display: inline-table !important;
}
.ItemContentSpan {
	line-height: 130%;
}

.ItemContentIGE {
	line-height: 100%;
}

.italic
{
	font-style:	italic;

}

.underline
{
	text-decoration: underline;

}

.variable
{
	font-style: italic;
}

.word-callout
{
	text-decoration: underline;
}

.content-emphasis {
	font-weight: bold;
	color: red;
}

.short-quote {
	font-weight: bold;
}

.book-title-k5 {
	text-decoration: underline;
}

.book-title {
	font-style: italic;
}


.proper-name {
	font-style: italic;
}

.text-block
{
	/*paragraphStartIndent: 60;*/
	text-indent: 60px;
	paragraphEndIndent: 60px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif, dejavu_sansbook;
}

.block-quote
{
	/*paragraphStartIndent: 60;*/
	text-indent: 60px;
	paragraphEndIndent: 60px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif, dejavu_sansbook;
}



.equation-block
{
	text-align: "center";
}

.blockQuote
{
	/*paragraphStartIndent: 60;*/
	text-indent: 60px;
	paragraphEndIndent: 60px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif, dejavu_sansbook;
}

.center
{
	text-align:center;
}

.bold
{
	font-weight:bold;
}

#divQuestionMenu .sup,
#divQuestionMenu .sub,
#divQuestionDetails .sup,
#divQuestionDetails .sub {
    vertical-align: baseline;
    position: relative;
    font-size: smaller;
}

#divQuestionMenu .sub,
#divQuestionDetails .sub {
    top: 4px;
}

#divQuestionMenu .sup,
#divQuestionDetails .sup {
    top: -8px;
    padding-left: 2px;
}

.nobreak {
	/*breakOpportunity: "none";*/
	page-break-inside:avoid;
}

.class3 {
	text-align: center;
	line-height: 100%;
}

.imageBlock {
	text-align: center;
	line-height: 100%;
}

.answer .imageBlock {
	text-align: left;
	line-height: 100%;
}

.mainBody .smallText {
	/*font-size: 12px;*/
	font-size: 10px;
}

.mainBody .largeText {
	/*font-size: 18;*/
	font-size: 20px;
}

.mainBody .veryLargeText {
	/*font-size: 24;*/
	font-size: 28px;
}

.filterLabel {
	font-weight: bold;
}
.mainBody select[responseidentifier] {
    padding: 0px;
}
.mainBody .smallText select[responseidentifier] {
    height: auto;
    padding-right: 0px;
    background: #DDDDDD;
    font-size: 10px !important;
    /*font-size: small !important;
    max-width: 52px !important;*/
    border-color: #D3D0D0 !important;
}
.mainBody .normalText  select[responseidentifier] {
    padding-right: 0px;
    height: auto;
    background: #DDDDDD;
    font-size: 14px !important;
    border-color: #D3D0D0 !important;
}
.mainBody .largeText select[responseidentifier] {
    padding-right: 14px;
    height: auto;
    background: #DDDDDD;
    font-size: 20px !important;
    border-color: #D3D0D0 !important;
}
.mainBody .veryLargeText select[responseidentifier] {
    padding-right: 32px;
    background: #DDDDDD;
    font-size: 25px!important;
    border-color: #D3D0D0 !important;
    height: auto;
}
.smallText .teacher-review-inline-choice {
    max-width: 73px !important;
    height: 19px !important;
    background: #DDDDDD;
    border-color: #D3D0D0 !important;
    line-height: 14px;
}
.normalText .teacher-review-inline-choice {
    max-width: 92px !important;
    height: 24px !important;
    width: 100% !important;
    background: #DDDDDD;
    border-color: #D3D0D0 !important;
    line-height: 18px;
}
.largeText .teacher-review-inline-choice {
    max-width: 132px !important;
    height: 32px !important;
    width: 100% !important;
    background: #DDDDDD;
    border-color: #D3D0D0 !important;
    line-height: 24px;
}
.veryLargeText .teacher-review-inline-choice {
    max-width: 172px !important;
    height: 38px !important;
    width: 100% !important;
    background: #DDDDDD;
    border-color: #D3D0D0 !important;
    line-height: 30px;
}
#divQuestionMenu select.teacher-review-inline-choice {
    border-radius: 6px;
}
/*apply style new inline choice*/
.inlineChoiceInteraction .bold {
    font-weight: bold;
}

.inlineChoiceInteraction .italic {
    font-style: italic;
}

.inlineChoiceInteraction .underline {
    text-decoration: underline;
}
.sbHolder{
	border: solid 1px #B0B0B0;
	font-size: 14px;
	font-weight: normal;
	height: 30px;
	position: relative;
    width: 200px;
	display: inline-block;
    z-index: auto;
    vertical-align: middle;
}
.sbSelector{
	display: block;
	left: 0;
	line-height: 30px;
	outline: none;
	overflow: hidden;
	text-indent: 10px;
	padding-right: 22px;
	height: 30px;
    word-spacing: -1px;
	/*top: 0;
	position: absolute;
	width: 170px;*/
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #333;
	outline: none;
	text-decoration: none;
}
.sbToggle{
	background: url(/Content/images/select-icons.png) 0 -116px no-repeat;
	display: block;
	height: 30px;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
    z-index: inherit;
	width: 30px;
}
.sbToggle:hover{
	background: url(/Content/images/select-icons.png) 0 -167px no-repeat;
}
.sbToggleOpen{
	background: url(/Content/images/select-icons.png) 0 -16px no-repeat;
}
.sbToggleOpen:hover{
	background: url(/Content/images/select-icons.png) 0 -66px no-repeat;
}
.sbHolderDisabled{
	background-color: #3C3C3C;
	border: solid 1px #515151;
}
.sbOptions{
	border: solid 1px #B0B0B0;
	list-style: none;
	left: -1px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	z-index: 5;
	word-wrap: break-word;
	width: 100%;
	background: #fff;
}
.sbOptions li{
	padding: 0 7px;
}
.sbOptions  li > div{
	display: block;
	outline: none;
	padding: 2px 0 2px 3px;
	cursor: pointer;
}
.sbOptions li:last-child  > div,.sbOptions li:first-child > div{
	border-bottom: 0px;
}
.sbOptions li:first-child > div{
	display: none;
}
.sbOptions a:link, .sbOptions a:visited{
	color: #333;
	text-decoration: none;
}
.sbOptions li:hover,
.sbOptions li:focus,
.sbOptions li.sbFocus,
.sbOptions li.selected{
	color: #fff;
	background: #1E90FF;
}
.sbOptions .sbDisabled{
	border-bottom: dotted 1px #515151;
	color: #999;
	display: block;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup{
	border-bottom: dotted 1px #515151;
	color: #EBB52D;
	display: block;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbSub{
	padding-left: 17px;
}
.inlineChoiceFormat{
	display: table;
}
.sbDisable{
	pointer-events: none;
	background: #F5F5F5;
}
.mainBody a.sbSelector {
    pointer-events: all;
}
.inlineChoiceAnswer {
    color: red;
}
#divQuestionDetails .mainBody a.sbSelector,
#divQuestionDetails .mainBody a.sbSelector .inlineChoiceAnswer{
    color: inherit !important;
    line-height: 28px !important;
    word-wrap: break-word;
}
.mainBody .smallText .sbHolder {
    height: 20px;
    width: 71px;
    border-radius: 6px;
}
#divQuestionDetails .mainBody .smallText .sbHolder .sbSelector {
    height: 20px;
    line-height: 20px !important;
}
.mainBody .smallText .sbHolder .sbToggle {
    background: url(/Content/images/select-icons.png) 0 -121px no-repeat;
    height: 20px;
}
.mainBody .smallText .sbHolder .sbToggleOpen {
    background: url(/Content/images/select-icons.png) 0 -22px no-repeat;
}
#answersBox .smallText .sbHolder .sbOptions li > div[rel="inlineChoice"], .mainBody .smallText a.sbSelector {
    font-size: 10px !important;
}
.mainBody .normalText .sbHolder {
    height: 24px;
    width: 92px;
    border-radius: 6px;
}
.mainBody .normalText .sbHolder .sbSelector {
    height: 24px;
    line-height: 24px;
}
.mainBody .normalText .sbHolder .sbToggle {
    background: url(/Content/images/select-icons.png) 0 -119px no-repeat;
    height: 20px;
}
.mainBody .normalText .sbHolder .sbToggleOpen {
    background: url(/Content/images/select-icons.png) 0 -20px no-repeat;
}
#answersBox .normalText .sbHolder .sbOptions li > div[rel="inlineChoice"],.mainBody .normalText a.sbSelector {
    font-size: 14px !important;
}
.mainBody .largeText .sbHolder {
    height: 30px;
    width: 132px;
    border-radius: 6px;
}
#answersBox .largeText .sbHolder .sbOptions li > div[rel="inlineChoice"],
#answersBox .largeText .sbHolder .sbOptions li > div[rel="inlineChoice"] .inlineChoiceAnswer{
    font-size: 20px !important;
    line-height: 22px !important;
}
.mainBody .largeText a.sbSelector,#answersBox .largeText a.sbSelector .inlineChoiceAnswer{
    font-size: 20px !important;
    line-height: 32px !important;
}
.mainBody .veryLargeText .sbHolder {
    height: 36px;
    width: 170px;
    border-radius: 6px;
}
.mainBody .veryLargeText .sbHolder .sbToggle {
    background: url(/Content/images/select-icons.png) 0 -113px no-repeat;
}
.mainBody .veryLargeText .sbHolder .sbToggleOpen {
    background: url(/Content/images/select-icons.png) 0 -13px no-repeat;
}
#answersBox .veryLargeText .sbHolder .sbOptions li > div[rel="inlineChoice"],
#answersBox .veryLargeText .sbHolder .sbOptions li > div[rel="inlineChoice"] .inlineChoiceAnswer{
    font-size: 28px !important;
    line-height: 30px !important;
}
#divQuestionDetails .mainBody .veryLargeText a.sbSelector,
#answersBox .veryLargeText a.sbSelector .inlineChoiceAnswer{
    font-size: 28px !important;
    line-height: 36px!important;
    height: 36px;
}
#answersBox .veryLargeText .sbHolder .sbOptions {
    top: 36px !important;
}
#divQuestionDetails .sbHolder {
    border-radius: 6px;
    background-color: white;
}
.smallText .sbHolder,.normalText .sbHolder,
.largeText .sbHolder,.veryLargeText .sbHolder {
    background: #dddddd;
}
.inlineChoice > p {
    margin: 0;
}
#divQuestionDetails .mainBody .smallText a.sbSelector .inlineChoiceAnswer {
  line-height: 20px!important;
  font-size: 10px !important;
}
#answersBox .smallText .sbHolder .sbOptions li > div[rel="inlineChoice"] .inlineChoiceAnswer{
  font-size: 10px!important;
}
#answersBox .smallText .inlineChoiceFormat .inlineChoiceAnswer {
    font-size: 10px !important;
}
#answersBox .normalText .inlineChoiceFormat .inlineChoiceAnswer {
    font-size: 14px !important;
}
#answersBox .largeText .inlineChoiceFormat .inlineChoiceAnswer {
    font-size: 20px !important;
}
#answersBox .veryLargeText .inlineChoiceFormat .inlineChoiceAnswer {
    font-size: 28px !important;
}
.wrapTempInlineChoice {
    width: 100%;
}

#StudentPreferenceArticle .itemtypeonimage {
    height: auto !important;
}
.itemtypeonimage .tag_number {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 100%;
    top: -10px;
    left: -10px;
    color: white;
    text-align: center;
}

.itemtypeonimage .tag_number_item {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 100%;
    color: white;
    text-align: center;
    display: block;
}
