
.select2-container .select2-results .select2-results__option:hover:before,
.select2-container .select2-results .select2-results__option:focus:before {
  border-color: var(--white)
}

.select2-container .select2-results .select2-results__option[aria-selected=true]:hover:after,
.select2-container .select2-results .select2-results__option[aria-selected=true]:focus:after {
  border-color: var(--white);
}

.select2-container .select2-results__options .select2-results__option[aria-selected=true]:not(.select2-results__option--highlighted):hover,
.select2-container .select2-results__options .select2-results__option[aria-selected=true]:not(.select2-results__option--highlighted):focus {
  background-color: var(--navyColor);
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: var(--white);
}

.select2-container .select2-results__options .select2-results__option:before {
  width: 18px;
  height: 18px;
  display: inline-block;
  font-family: inherit;
  border: 2px solid var(--navyColor);
  margin-right: 8px;
  font-size: inherit;
  content: "" !important;
  position: absolute;
  top: 12px;
  padding: 0;
  left: 16px;
}

.select2-container .select2-results__options .select2-results__option[aria-selected=true]:after {
  content: '';
  transform: translateX(-50%) rotate(45deg);
  height: 13px;
  width: 7px;
  border-bottom: 2px solid var(--navyColor);
  border-right: 2px solid var(--navyColor);
  position: absolute;
  top: 13px;
  left: 25px;
  z-index: 2;
}
