.table-sgo thead tr th,
.table-sgo thead tr td,
.table-sgo tbody tr th,
.table-sgo tbody tr td {
    color: #000;
    text-shadow: none;
}

.table-sgo thead tr[choose="1"] th,
.table-sgo thead tr[choose="1"] td,
.table-sgo tbody tr[choose="1"] th,
.table-sgo tbody tr[choose="1"] td {
    background: #5fb3d8;
    color: #fff;
}

.table-sgo-student {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    table-layout: fixed;
}

.table-sgo-student th,
.table-sgo-student td {
    padding: 5px !important;
    word-break: break-word;
}

.table-sgo-student thead tr th:first-child,
.table-sgo-student thead tr td:first-child,
.table-sgo-student tbody tr th:first-child,
.table-sgo-student tbody tr td:first-child {
    border-left: 1px solid #999;
}

.table-sgo-student thead tr th:last-child,
.table-sgo-student thead tr td:last-child,
.table-sgo-student tbody tr th:last-child,
.table-sgo-student tbody tr td:last-child {
    border-right: 1px solid #999;
}

.table-sgo-student thead tr th label {
    margin-bottom: 0;
}

.table-sgo-student thead tr th {
    border-top: 1px solid #999;
}

.table-sgo-student .table-sgo-head td {
    background: transparent;
    border: 0 !important;
    vertical-align: top;
}

.table-sgo-student-modified thead tr:not(:first-child) th:last-child,
.table-sgo-student-modified thead tr:not(:first-child) td:last-child,
.table-sgo-student-modified tbody tr:not(:first-child) th:last-child,
.table-sgo-student-modified tbody tr:not(:first-child) td:last-child {
    border-right: 0;
}

.coolfieldset,
.coolfieldset.expanded {
    border: 1px solid #aaa;
}

.coolfieldset.collapsed {
    border: 0;
    border-top: 1px solid #aaa;
}

.coolfieldset legend {
    padding-left: 13px;
    cursor: pointer;
}

.coolfieldset legend,
.coolfieldset.expanded legend {
    background: transparent url(/Content/themes/base/images/expanded.gif) no-repeat center left;
    background-size: 10px 10px;
}

.coolfieldset.collapsed legend {
    background: transparent url(/Content/themes/base/images/collapsed.gif) no-repeat center left;
    background-size: 10px 10px;
}

.m-r-5 {
    margin-right: 5px !important;
}

.sgo-nav {
    background: #0c5fa3 url(/Content/themes/Constellation/images/old-browsers-bg/block-header-bg.png) repeat-x top;
    background: -moz-linear-gradient(top,#6dc3e6,#0c5fa3);
    background: -webkit-gradient(linear,left top, left bottom,from(#6dc3e6),to(#0c5fa3));
    background-size: 100% 100%;
    border: 1px solid #b5b3b4;
    border-top: 1px solid #9bd2ee;
    height: 55px;
    border-width: 1px 0;
    text-align: center;
}

.sgo-nav-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/Content/themes/Constellation/images/wizard-head-effect.png) no-repeat right center;
    display: block;
    float: left;
    height: 100%;
    color: white;
    padding: 0 10px;
    position: relative;
    z-index: 89;
    width: 12.5%;
}

.sgo-nav-item.small {
    padding: 0 5px;
}

.sgo-nav-item:last-child {
    background: none;
}

.sgo-nav-link {
    color: #fff;
    cursor: pointer;
    display: table;
    font-size: 12px;
    line-height: 1.3;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
    height: 55px;
    width: 100%;
}

.sgo-nav-link.active {
    color: #9bd2ee;
    cursor: default;
    pointer-events: none;
}

.sgo-nav-link.active .sgo-nav-number {
    border-color: #9bd2ee;
}

.sgo-nav-link:hover .sgo-nav-number,
.sgo-nav-link:focus .sgo-nav-number {
    bottom: -12px;
}

.sgo-nav-link.disabled {
    color: rgba(255, 255, 255, .5);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .25);
    cursor: default;
    pointer-events: none;
}

.sgo-nav-link.disabled .sgo-nav-number {
    background: #dfdfdf url(/Content/themes/Constellation/images/old-browsers-bg/button-bg.png) repeat-x top;
    background: -moz-linear-gradient(top,#f6f6f6,#dfdfdf);
    background: -webkit-gradient(linear,left top, left bottom,from(#f6f6f6),to(#dfdfdf));
    background-size: 100% 100%;
    color: #333;
}

.sgo-nav-link-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.sgo-nav-number {
    background: #0c5fa5 url(/Content/themes/Constellation/images/old-browsers-bg/number-bg.png) repeat-x top;
    background: -moz-linear-gradient(top,#72c6e4,#0c5fa5);
    background: -webkit-gradient(linear,left top, left bottom,from(#72c6e4),to(#0c5fa5));
    background-size: 100% 100%;
    border-radius: 3px;
    font-size: 12px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #fff;
    position: absolute;
    float: none;
    z-index: 89;
    left: 50%;
    margin-left: -11px;
    bottom: -14px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    text-shadow: none;
    -moz-transition: all 100ms;
    -webkit-transition: all 100ms;
    -o-transition: all 100ms;
    transition: all 100ms;
}

.sgo-nav-status {
    position: absolute;
    z-index: 89;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    right: -8px;
    top: -8px;
}

.sgo-nav-status-ok {
    background: url(/Content/themes/Constellation/images/icons/fugue/tick-circle.png);
}

.sgo-nav-status-warning {
    background: url(/Content/themes/Constellation/images/icons/fugue/exclamation-diamond.png);
}

.sgo-nav-status-error {
    background: url(/Content/themes/Constellation/images/icons/fugue/cross-circle.png);
}

.sgo-feature {
    margin: 15px 0;
}

.sgo-feature-item,
.icon {
    display: inline-block;
    vertical-align: middle;
}

.sgo-feature-item {
    margin-right: 7px;
}

.sgo-feature-item.disabled {
    cursor: default;
    pointer-events: none;
}

.icon {
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
}

.icon-sgo-print {
    background: url(/Content/themes/AssignmentRegrader/images/icon-print-sgo-test.png) no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}

.disabled .icon-sgo-print {
    background: url(/Content/themes/AssignmentRegrader/images/icon-print-sgo-test-disabled.png) no-repeat;
    background-size: 50px 50px;
}

.icon-sgo-AddEdit {
    background: url(/Content/themes/Constellation/images/icons/fugue/pencil.png) no-repeat;
}

.disabled .icon-sgo-AddEdit {
    background: url(/Content/themes/Constellation/images/icons/fugue/pencil-disabled.png) no-repeat;
}

.icon-sgo-edit {
    background: url(/Content/themes/AssignmentRegrader/images/icon-pencil.png) no-repeat;
}
.disabled .icon-sgo-edit {
    background: url(/Content/themes/AssignmentRegrader/images/icon-pencil-disabled.png) no-repeat;
}

.icon-sgo-changereviewer {
    background: url(/Content/themes/Constellation/images/icons/fugue/assign-icon.png) no-repeat;
}

.disabled .icon-sgo-changereviewer {
    background: url(/Content/themes/Constellation/images/icons/fugue/assign-icon-disabled.png) no-repeat;
}

.icon-sgo-archive {
    background: url(/Content/themes/AssignmentRegrader/images/icon-sgo-archive.png) no-repeat;
}

.disabled .icon-sgo-archive {
    background: url(/Content/themes/AssignmentRegrader/images/icon-sgo-archive-disabled.png) no-repeat;
}

.icon-sgo-unarchive {
    background: url(/Content/themes/AssignmentRegrader/images/icon-sgo-unarchive.png) no-repeat;
}

.disabled .icon-sgo-unarchive {
    background: url(/Content/themes/AssignmentRegrader/images/icon-sgo-unarchive-disabled.png) no-repeat;
}

.icon-sgo-delete {
    background: url(/Content/themes/Constellation/images/icons/fugue/cross-circle.png) no-repeat;
}

.disabled .icon-sgo-delete {
    background: url(/Content/themes/Constellation/images/icons/fugue/cross-circle-disable.png) no-repeat;
}

.icon-sgo-audittrail {
    background: url(/Content/themes/AssignmentRegrader/images/icon-sgo-audittrail.png) no-repeat;
    background-size: 16px 16px;
}

.disabled .icon-sgo-audittrail {
    background: url(/Content/themes/AssignmentRegrader/images/icon-sgo-audittrail-disabled.png) no-repeat;
    background-size: 16px 16px;
}

.icon-sgo-print.small,
.icon-sgo-edit.small,
.icon-sgo-archive.small,
.icon-sgo-unarchive.small,
.icon-sgo-delete,
.icon-sgo-changereviewer,
.icon-sgo-audittrail,
.icon-sgo-AddEdit {
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}

.sgo-icon-action {
    display: block;
    margin: 3px 0;
    text-align: center;
}

.sgo-icon-action.disabled {
    cursor: default;
    pointer-events: none;
}

.text-center {
    text-align: center;
}

.table-sgo-new {
    width: 100%;
}

.table-sgo-new td {
    padding: 5px 0;
}

.table-sgo-new input[type="text"] {
    padding: 3px 5px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sgo-datetime {
    position: relative;
    display: block;
}

.sgo-datetime .icon-sgo-calendar {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: default;
    pointer-events: none;
}

.icon-sgo-calendar {
    background: url(/Content/images/icon-sgo-calendar.png) no-repeat;
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}

.datepicker-sgo {
    z-index: 1500 !important;
}

.datepicker-sgo .ui-datepicker-header {
    top: 0;
}

.student-item.small {
    padding: 3px 5px;
}

.m-t-10 {
    margin-bottom: 10px;
}

.block-filter {
    overflow: hidden;
    border-radius: 3px;
}

.btn-sgo-group {
    clear: both;
    overflow: hidden;
}

.btn-sgo-item {
    margin-bottom: 5px;
    margin-right: 5px;
    display: inline-block;
}

.btn-sgo-small.small {
    font-size: 11px;
}

.btn-sgo-full {
    display: block;
    margin: 0;
    width: 100%;
}

.btn-sgo-number {
    width: 24px;
}

.fieldset-datapoint legend {
    background: #e7e7e7 url(/Content/themes/Constellation/images/old-browsers-bg/legend-bg.png) repeat-x top !important;
    background-size: 100% 100% !important;
    background: -moz-linear-gradient(top, #f8f8f8, #e7e7e7) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#e7e7e7)) !important;
}

/*------------------------------------*\
    #TABLE SGO FILTER
\*------------------------------------*/
.table-sgo-filter {
    width: 100%;
    padding-top: 8px;
}

.table-sgo-filter input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
}

.table-sgo-filter tbody td:first-child {
    text-align: center;
}

.table-sgo-filter .dataTables_empty {
    text-align: left;
}

/*------------------------------------*\
    #TABLE SGO MANAGER
\*------------------------------------*/
.table-sgo-manager thead th {
    text-align: center;
}

/*------------------------------------*\
    #BUTTON UPLOADIFY
\*------------------------------------*/
.btn-sgo-upload {
    display: inline-block;
    border: 1px solid;
    border-color: #50a3c8 #297cb4 #083f6f;
    background: #0c5fa5 url(/Content/themes/Constellation/images/old-browsers-bg/button-element-bg.png) repeat-x left top;
    background-size: 100% 100%;
    background: -moz-linear-gradient(top, white, #72c6e4 4%, #0c5fa5);
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#0c5fa5), color-stop(0.03, #72c6e4));
    border-radius: 0.333em;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
    text-transform: none;
}

.uploadify:hover .btn-sgo-upload,
.uploadify:focus .btn-sgo-upload,
.btn-sgo-upload:hover,
.btn-sgo-upload:focus {
    border-color: #1eafdc #1193d5 #035592;
    background: #057fdb url(/Content/themes/Constellation/images/old-browsers-bg/button-element-hover-bg.png) repeat-x left top;
    background: -moz-linear-gradient(top, white, #2bcef3 4%, #057fdb);
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#057fdb), color-stop(0.03, #2bcef3));
}

.table-sgo-fixed {
    width: 235px;
    overflow: hidden;
    position: relative;
}

.clsDeleteGroup {
    cursor: pointer;
}

select.sgo-select-score {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    padding: 0.385em;
    width: 100%;
    height: 26px;
    margin-top: 3px;
}

.text-left {
    text-align: left;
}

.sgo-finalsignof {
    background: #fff;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.sgo-finalsignof-title {
    margin: 0 0 7px;
}

.sgo-finalsignof-content {
    margin-bottom: 15px;
}

.sgo-finalsignof-content:last-child {
    margin-bottom: 0;
}

.u-full-width {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
}

.btn-sgo-upload-inline {
    vertical-align: middle;
    margin-right: 5px;
}
.btn-sgo-upload input {
    cursor: pointer;
}
.btn-sgo-upload-inline ~ .uploadifive-queue {
    display: none !important;
}

.btn-sgo-upload-inline ~ .uploadifive-queue + div {
    display: inline-block;
    vertical-align: middle;
}

.btn-sgo-upload-inline ~ .uploadifive-queue + div > span {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sgo-instruction {
    line-height: 1.5;
}

.table-sgo-manager-home {
    table-layout: fixed;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.table-sgo-manager-home thead {
    font-size: 11px;
}

.table-sgo-manager-home tbody td {
    word-break: break-all;
    word-wrap: break-word
}

.m-b-7 {
    margin-bottom: 7px;
}

.sgo-columns {
    line-height: 1.5;
}

.sgo-columns p,
.sgo-columns ul,
.sgo-columns ol,
.sgo-columns dl {
    margin-bottom: 0;
}

.sgo-columns ul,
.sgo-columns ol {
    list-style: decimal;
    padding-left: 20px;
}

.sgo-fieldset {
    padding: 1em 1.667em !important;
}

.btn-sgo-item-bottom {
    position: absolute;
    bottom: 5px;
    left: 0;
}

.btn-sgo-item-last {
    display: block;
}

label.sgo-filter-checkbox {
    display: inline-block;
    cursor: pointer;
}

label.sgo-filter-checkbox:first-child {
    margin-left:0;
}

label.sgo-filter-checkbox {
    margin-left: 10px
}

label.sgo-filter-checkbox input[type="checkbox"] {
    vertical-align: middle;
    margin-top: -1px;
}

.sgo-filter-title {
    font-weight: 700;
    margin: 0 0 10px;
    display: block;
}

.handsontable tr td.is-error {
    border: 1px solid #c23934;
    border-top-width: 1px;
}

.sgo-selector select.sgo-select-none {
    min-width: initial;
    max-width: none;
}