input[type='date'], input[type='time'] {
    font-size: 1em;
    line-height: 1em;
    color: #333333;
    padding: 0.5em;
    border: 1px solid #89bad3;
    border-radius: 5px;
    width: 140px;
}

.test-schedule-form {
    padding: 0 34px;
}


    .test-schedule-form h5 {
        margin: 24px 0 6px 0;
    }

.test-schedule-label {
    margin-left: 24px;
}

.day-of-week {
    width: 400px;
    margin-left: 50px;
    margin-top: -10px;
}

    .day-of-week td {
        text-align: center !important;

    }
.non-padding{
    padding-bottom: 0 !important;
    padding-top:0 !important;
}

.active-hours {
    width: 415px;
    margin-left: 54px;
}

.hidden {
    display: none;
}

.test-schedule {
    width: 98%;
}

    .test-schedule td {
        padding: 0 !important
    }

.test-schedule-container {
    /*background: white;
    border: 1px solid #c1c1c1;*/
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
}

/*.error{
    border-color: red !important;
}*/

.test-schedule label{
    padding-right:0 !important
}

.test-schedule-container .datepicker {
    width:140px !important;
}

.test-schedule-value{
    color: gray;
    font-weight: 600;
}

.w270{
    width:270px;
}

.test-schedule-form>table{
    width:100%
}

#ui-datepicker-div {z-index:9999 !important}

.btn-non-margin{
    margin: 0 !important;
    display:none;
}

.allow-edit.action{
    cursor:pointer;
}

.allow-edit{
    display:none;
}
.align-right-lock{
    text-align:right!important
}

.x3-col td:nth-of-type(1) {
    width: 178px !important
}

.x3-col td:nth-of-type(2) {
    width: 320px !important;
}

.test-schedule .table-accordion-title{
    width:412px;
}
.setting-scope .table-accordion-title {
    width: 263px!important;
}

.test-schedule-container-view h4 {
    margin-left: 10px;
    color: grey;
}

.non-padding .table-accordion-title{
    padding-left:0 !important;
}

section{
    margin-bottom: 0 !important;
}

.hidden{
    display: none !important;
}

.form input[type=text]:disabled, .form input[type=password]:disabled, .form .input-type-text:disabled {
    background: transparent !important;
}

.test-schedule-container-view h5 {
    color: grey
}

#alway-open{
    margin-left:20px;
}