.table-tlds thead tr th,
.table-tlds thead tr td,
.table-tlds tbody tr th,
.table-tlds tbody tr td {
    color: #000;
    text-shadow: none;
}

.table-tlds thead tr[choose="1"] th,
.table-tlds thead tr[choose="1"] td,
.table-tlds tbody tr[choose="1"] th,
.table-tlds tbody tr[choose="1"] td {
    background: #5fb3d8;
    color: #fff;
}

.table-tlds-student {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    table-layout: fixed;
}

.table-tlds-student th,
.table-tlds-student td {
    padding: 5px !important;
    word-break: break-word;
}

.table-tlds-student thead tr th:first-child,
.table-tlds-student thead tr td:first-child,
.table-tlds-student tbody tr th:first-child,
.table-tlds-student tbody tr td:first-child {
    border-left: 1px solid #999;
}

.table-tlds-student thead tr th:last-child,
.table-tlds-student thead tr td:last-child,
.table-tlds-student tbody tr th:last-child,
.table-tlds-student tbody tr td:last-child {
    border-right: 1px solid #999;
}

.table-tlds-student thead tr th label {
    margin-bottom: 0;
}

.table-tlds-student thead tr th {
    border-top: 1px solid #999;
}

.table-tlds-student .table-tlds-head td {
    background: transparent;
    border: 0 !important;
    vertical-align: top;
}

.table-tlds-student-modified thead tr:not(:first-child) th:last-child,
.table-tlds-student-modified thead tr:not(:first-child) td:last-child,
.table-tlds-student-modified tbody tr:not(:first-child) th:last-child,
.table-tlds-student-modified tbody tr:not(:first-child) td:last-child {
    border-right: 0;
}

.coolfieldset,
.coolfieldset.expanded {
    border: 1px solid #aaa;
}

.coolfieldset.collapsed {
    border: 0;
    border-top: 1px solid #aaa;
}

.coolfieldset legend {
    padding-left: 13px;
    cursor: pointer;
}

.coolfieldset legend,
.coolfieldset.expanded legend {
    background: transparent url(/Content/themes/base/images/expanded.gif) no-repeat center left;
    background-size: 10px 10px;
}

.coolfieldset.collapsed legend {
    background: transparent url(/Content/themes/base/images/collapsed.gif) no-repeat center left;
    background-size: 10px 10px;
}

.m-r-5 {
    margin-right: 5px !important;
}

.tlds-nav {
    background: #0c5fa3 url(/Content/themes/Constellation/images/old-browsers-bg/block-header-bg.png) repeat-x top;
    background: -moz-linear-gradient(top,#6dc3e6,#0c5fa3);
    background: -webkit-gradient(linear,left top, left bottom,from(#6dc3e6),to(#0c5fa3));
    background-size: 100% 100%;
    border: 1px solid #b5b3b4;
    border-top: 1px solid #9bd2ee;
    height: 55px;
    border-width: 1px 0;
    text-align: center;
}

.tlds-nav-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/Content/themes/Constellation/images/wizard-head-effect.png) no-repeat right center;
    display: block;
    float: left;
    height: 100%;
    color: white;
    padding: 0 10px;
    position: relative;
    z-index: 89;
    width: 12.5%;
}

.tlds-nav-item.small {
    padding: 0 5px;
}

.tlds-nav-item:last-child {
    background: none;
}

.tlds-nav-link {
    color: #fff;
    cursor: pointer;
    display: table;
    font-size: 12px;
    line-height: 1.3;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
    height: 55px;
    width: 100%;
}

.tlds-nav-link.active {
    color: #9bd2ee;
    cursor: default;
    pointer-events: none;
}

.tlds-nav-link.active .tlds-nav-number {
    border-color: #9bd2ee;
}

.tlds-nav-link:hover .tlds-nav-number,
.tlds-nav-link:focus .tlds-nav-number {
    bottom: -12px;
}

.tlds-nav-link.disabled {
    color: rgba(255, 255, 255, .5);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .25);
    cursor: default;
    pointer-events: none;
}

.tlds-nav-link.disabled .tlds-nav-number {
    background: #dfdfdf url(/Content/themes/Constellation/images/old-browsers-bg/button-bg.png) repeat-x top;
    background: -moz-linear-gradient(top,#f6f6f6,#dfdfdf);
    background: -webkit-gradient(linear,left top, left bottom,from(#f6f6f6),to(#dfdfdf));
    background-size: 100% 100%;
    color: #333;
}

.tlds-nav-link-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.tlds-nav-number {
    background: #0c5fa5 url(/Content/themes/Constellation/images/old-browsers-bg/number-bg.png) repeat-x top;
    background: -moz-linear-gradient(top,#72c6e4,#0c5fa5);
    background: -webkit-gradient(linear,left top, left bottom,from(#72c6e4),to(#0c5fa5));
    background-size: 100% 100%;
    border-radius: 3px;
    font-size: 12px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #fff;
    position: absolute;
    float: none;
    z-index: 89;
    left: 50%;
    margin-left: -11px;
    bottom: -14px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    text-shadow: none;
    -moz-transition: all 100ms;
    -webkit-transition: all 100ms;
    -o-transition: all 100ms;
    transition: all 100ms;
}

.tlds-nav-status {
    position: absolute;
    z-index: 89;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    right: -8px;
    top: -8px;
}

.tlds-nav-status-ok {
    background: url(/Content/themes/Constellation/images/icons/fugue/tick-circle.png);
}

.tlds-nav-status-warning {
    background: url(/Content/themes/Constellation/images/icons/fugue/exclamation-diamond.png);
}

.tlds-nav-status-error {
    background: url(/Content/themes/Constellation/images/icons/fugue/cross-circle.png);
}

.tlds-feature {
    margin: 15px 0;
}

.tlds-feature-item,
.icon {
    display: inline-block;
    vertical-align: middle;
}

.tlds-feature-item {
    margin-right: 7px;
}

.tlds-feature-item.disabled {
    cursor: default;
    pointer-events: none;
}

.tlds-feature-item input[type="checkbox"].is-modify {
  vertical-align: middle;
}

.tlds-feature-item.last {
    margin-right: 0;
}

.tlds-feature-enrollment-year {
    position: absolute;
    top: 57px;
    left: 173px;
}

.tlds-feature-enrollment-year.is-school-admin {
    top: 52px;
}


.tlds-feature-enrollment-year label {
    display: inline-block;
}

.icon {
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
}

.icon-tlds-print {
    background: url(/Content/themes/AssignmentRegrader/images/icon-print-tlds-test.png) no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}

.disabled .icon-tlds-print {
    background: url(/Content/themes/AssignmentRegrader/images/icon-print-tlds-test-disabled.png) no-repeat;
    background-size: 50px 50px;
}

.icon-tlds-View {
    background: url(/Content/themes/Constellation/images/icons/fugue/folder-open.png) no-repeat;
}
.icon-tlds-AddEdit {
    background: url(/Content/themes/Constellation/images/icons/fugue/pencil.png) no-repeat;
}

.disabled .icon-tlds-AddEdit {
    background: url(/Content/themes/Constellation/images/icons/fugue/pencil-disabled.png) no-repeat;
}

.icon-tlds-edit {
    background: url(/Content/themes/AssignmentRegrader/images/icon-pencil.png) no-repeat;
}
.disabled .icon-tlds-edit {
    background: url(/Content/themes/AssignmentRegrader/images/icon-pencil-disabled.png) no-repeat;
}

.icon-tlds-changereviewer {
    background: url(/Content/themes/Constellation/images/icons/fugue/assign-icon.png) no-repeat;
}

.disabled .icon-tlds-changereviewer {
    background: url(/Content/themes/Constellation/images/icons/fugue/assign-icon-disabled.png) no-repeat;
}

.icon-tlds-archive {
    background: url(/Content/themes/AssignmentRegrader/images/icon-tlds-archive.png) no-repeat;
}

.disabled .icon-tlds-archive {
    background: url(/Content/themes/AssignmentRegrader/images/icon-tlds-archive-disabled.png) no-repeat;
}

.icon-tlds-unarchive {
    background: url(/Content/themes/AssignmentRegrader/images/icon-tlds-unarchive.png) no-repeat;
}

.disabled .icon-tlds-unarchive {
    background: url(/Content/themes/AssignmentRegrader/images/icon-tlds-unarchive-disabled.png) no-repeat;
}

.icon-tlds-delete {
    background: url(/Content/themes/Constellation/images/icons/fugue/cross-circle.png) no-repeat;
}

.disabled .icon-tlds-delete {
    background: url(/Content/themes/Constellation/images/icons/fugue/cross-circle-disable.png) no-repeat;
}

.icon-tlds-audittrail {
    background: url(/Content/themes/AssignmentRegrader/images/icon-tlds-audittrail.png) no-repeat;
    background-size: 16px 16px;
}

.disabled .icon-tlds-audittrail {
    background: url(/Content/themes/AssignmentRegrader/images/icon-tlds-audittrail-disabled.png) no-repeat;
    background-size: 16px 16px;
}

.icon-tlds-link {
  background: url(/Content/themes/Constellation/images/icons/icon-link.svg) no-repeat;
  background-size: 16px 16px;
}

.icon-tlds-link.is-grey {
  background: url(/Content/themes/Constellation/images/icons/icon-link-grey.svg) no-repeat;
  background-size: 16px 16px;
}

.icon-tlds-return {
  background: url(/Content/themes/Constellation/images/icons/icon-return.svg) no-repeat;
  background-size: 16px 16px;
}

.icon-tlds-return.is-grey {
  background: url(/Content/themes/Constellation/images/icons/icon-return-grey.svg) no-repeat;
  background-size: 16px 16px;
}

.icon-tlds-trash {
  background: url(/Content/themes/Constellation/images/icons/icon-trash.svg) no-repeat;
  background-size: 16px 16px;
}

.icon-tlds-trash.is-grey {
  background: url(/Content/themes/Constellation/images/icons/icon-trash-grey.svg) no-repeat;
  background-size: 16px 16px;
}

.icon-tlds-print.small,
.icon-tlds-edit.small,
.icon-tlds-archive.small,
.icon-tlds-unarchive.small,
.icon-tlds-delete,
.icon-tlds-changereviewer,
.icon-tlds-audittrail,
.icon-tlds-AddEdit,
.icon-tlds-link,
.icon-tlds-return,
.icon-tlds-trash {
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}

.tlds-icon-action {
    display: block;
    margin: 3px 0;
    text-align: center;
}

.tlds-icon-action.disabled {
    cursor: default;
    pointer-events: none;
}

.text-center {
    text-align: center;
}

.text-center-important {
    text-align: center !important;
}

.table-tlds-new {
    width: 100%;
}

.table-tlds-new td {
    padding: 5px 0;
}

.table-tlds-new input[type="text"] {
    padding: 3px 5px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tlds-datetime {
    position: relative;
    display: block;
}

.tlds-datetime .icon-tlds-calendar {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: default;
    pointer-events: none;
}

.icon-tlds-calendar {
    background: url(/Content/images/icon-tlds-calendar.png) no-repeat;
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}

.datepicker-tlds {
    z-index: 1500 !important;
}

.datepicker-tlds .ui-datepicker-header {
    top: 0;
}

.student-item.small {
    padding: 3px 5px;
}

.m-t-10 {
    margin-bottom: 10px;
}

.block-filter {
    overflow: hidden;
    border-radius: 3px;
}

.btn-tlds-group {
    clear: both;
    overflow: hidden;
}

.btn-tlds-item {
    margin-bottom: 5px;
    margin-right: 5px;
    display: inline-block;
}

.btn-tlds-small.small {
    font-size: 11px;
}

.btn-tlds-full {
    display: block;
    margin: 0;
    width: 100%;
}

.btn-tlds-number {
    width: 24px;
}

.fieldset-datapoint legend {
    background: #e7e7e7 url(/Content/themes/Constellation/images/old-browsers-bg/legend-bg.png) repeat-x top !important;
    background-size: 100% 100% !important;
    background: -moz-linear-gradient(top, #f8f8f8, #e7e7e7) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#e7e7e7)) !important;
}

/*------------------------------------*\
    #TABLE SGO FILTER
\*------------------------------------*/
.table-tlds-filter {
    width: 100%;
    padding-top: 8px;
}

.table-tlds-filter input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
}

.table-tlds-filter tbody td:first-child {
    text-align: center;
}

.table-tlds-filter .dataTables_empty {
    text-align: left;
}

/*------------------------------------*\
    #TABLE SGO MANAGER
\*------------------------------------*/
.table-tlds-manager thead th {
    text-align: center;
}

/*------------------------------------*\
    #BUTTON UPLOADIFY
\*------------------------------------*/
.btn-tlds-upload {
    display: inline-block;
    border: 1px solid;
    border-color: #50a3c8 #297cb4 #083f6f;
    background: #0c5fa5 url(/Content/themes/Constellation/images/old-browsers-bg/button-element-bg.png) repeat-x left top;
    background-size: 100% 100%;
    background: -moz-linear-gradient(top, white, #72c6e4 4%, #0c5fa5);
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#0c5fa5), color-stop(0.03, #72c6e4));
    border-radius: 0.333em;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
    text-transform: none;
}

.uploadify:hover .btn-tlds-upload,
.uploadify:focus .btn-tlds-upload,
.btn-tlds-upload:hover,
.btn-tlds-upload:focus {
    border-color: #1eafdc #1193d5 #035592;
    background: #057fdb url(/Content/themes/Constellation/images/old-browsers-bg/button-element-hover-bg.png) repeat-x left top;
    background: -moz-linear-gradient(top, white, #2bcef3 4%, #057fdb);
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#057fdb), color-stop(0.03, #2bcef3));
}

.table-tlds-fixed {
    width: 235px;
    overflow: hidden;
    position: relative;
}

.clsDeleteGroup {
    cursor: pointer;
}

select.tlds-select-score {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    padding: 0.385em;
    width: 100%;
    height: 26px;
    margin-top: 3px;
}

.text-left {
    text-align: left;
}

.tlds-finalsignof {
    background: #fff;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.tlds-finalsignof-title {
    margin: 0 0 7px;
}

.tlds-finalsignof-content {
    margin-bottom: 15px;
}

.tlds-finalsignof-content:last-child {
    margin-bottom: 0;
}

.u-full-width {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
}

.btn-tlds-upload-inline {
    vertical-align: middle;
    margin-right: 5px;
}
.btn-tlds-upload input {
    cursor: pointer;
}
.btn-tlds-upload-inline ~ .uploadifive-queue {
    display: none !important;
}

.btn-tlds-upload-inline ~ .uploadifive-queue + div {
    display: inline-block;
    vertical-align: middle;
}

.btn-tlds-upload-inline ~ .uploadifive-queue + div > span {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tlds-instruction {
    line-height: 1.5;
}

.table-tlds-manager-home {
    table-layout: fixed;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.table-tlds-manager-home thead {
    font-size: 11px;
}

.table-tlds-manager-home tbody td {
    word-break: break-all;
    word-wrap: break-word
}

.m-b-7 {
    margin-bottom: 7px;
}

.tlds-columns {
    line-height: 1.5;
}

.tlds-columns p,
.tlds-columns ul,
.tlds-columns ol,
.tlds-columns dl {
    margin-bottom: 0;
}

.tlds-columns ul,
.tlds-columns ol {
    list-style: decimal;
    padding-left: 20px;
}

.tlds-fieldset {
    padding: 1em 1.667em !important;
}

.btn-tlds-item-bottom {
    position: absolute;
    bottom: 5px;
    left: 0;
}

.btn-tlds-item-last {
    display: block;
}

label.tlds-filter-checkbox {
    display: inline-block;
    cursor: pointer;
}

label.tlds-filter-checkbox:first-child {
    margin-left:0;
}

label.tlds-filter-checkbox {
    margin-left: 10px
}

label.tlds-filter-checkbox input[type="checkbox"] {
    vertical-align: middle;
    margin-top: -1px;
}

.tlds-filter-title {
    font-weight: 700;
    margin: 0 0 10px;
    display: block;
}

.c-checkbox {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: default;
    pointer-events: none;
}

.c-checkbox:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
}

.c-checkbox.checked:before {
    background: url(/Content/themes/Constellation/images/icons/fugue/tick-circle.png) no-repeat;
}

.c-checkbox.unchecked:before {
    background: url(/Content/themes/Constellation/images/icons/fugue/cross-circle.png) no-repeat;
}

.u-c-black {
    color: #222;
}
.alert {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.ui-upload-file {
    position: relative;
}

.ui-upload-file > a {
    display: inline-block;
    max-width: calc(100% - 20px);
}

.ui-upload-file > a:hover,
.ui-upload-file > a:focus {
    text-decoration: underline;
}

.ui-upload-file .icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;
    margin-top: -1px;
}