.searchWidget_div_allWidget
{
    position: relative;
    z-index: 1000000;
    text-align: right;
    width: 10%;
    padding-right: 5px;
}
.searchWidget_input_Prefix
{
    vertical-align: middle;
    text-align: left;    
    background: none transparent !important;
    float: left;
    width: 440px;
    height: 30px;
    margin: 6px;
    border-radius: 4px;
    font-size: 24px;
    border: 0px;
    background-color:white;
}
.searchWidget_input_searchButton
{
    margin: 0px;
    vertical-align: middle;
    cursor: pointer;
    margin-left: -29px;
}
.searchWidget_dataDiv
{
    padding: 5px;
}
.searchWidget_dataDiv_hidden
{
    visibility: hidden;
    height: 0px;
    display: none;
}
.searchWidget_img_Loading_hidden
{
    visibility: hidden;
    height: 1px;
    display: none;
}
.searchWidget_img_Loading_visible
{
    margin-bottom: 5px;
    top: 35%;
    left: 45%;
    visibility: visible;
    position: absolute; /*vertical-align:middle;*/
    z-index: 10000002;
}
#dataDiv li
{
    border: 0 none !important;
    list-style-type: none !important;
    height: auto !important;   
    float: none !important;
}

#dataDiv li.searchWidget_li_store
{
    margin: 0;
    padding: 0;
    padding: 8px 6px;    
    cursor: pointer;
    border-bottom: 1px solid #fff;
    line-height: 18px;
}
#dataDiv li.searchWidget_li_store_Last
{
    margin: 0;
    cursor: pointer;   
    padding: 8px 6px;
}
#dataDiv li.searchWidget_li_store:hover
{
    background-color: #d4e4f0;
}
#dataDiv li.searchWidget_li_store_Last:hover
{
    background-color: #d4e4f0;
}
#dataDiv li.searchWidget_li_error
{
    top: 110px;
    left: 20px;
    list-style-type: none;
    font-style: italic;
    margin-bottom: 2px;
    font-size: larger;
}
.searchWidget_span_store_Name
{
    text-decoration: none;
    font-weight: bold;
    color: #2c4d69;
    width: 268px;
    display: block;
    word-wrap: break-word;
}
.searchWidget_span_store_City
{
    font-size: 15px;
    color: #888888;
}
.searchWidget_span_store_State
{
    font-size: 15px;
    color: #888888;
}
.searchWidget_span_store_Zip
{
    font-size: 14px;
    color: #888888;
}
.searchWidget_div_pagesLinks
{
    text-align: center;
    display: inline-block;
}
.searchWidget_label_pageLinkItem
{
    text-decoration: none;
    padding: 5px !important;
    cursor: pointer;
    color: #404040 !important;
    font-weight: bold;
    font-size: 14px !important;
}
.searchWidget_label_pageLinkItem:hover
{
    background-color: #3366cc;
    color: #fff;
    text-decoration: underline;
}
.searchWidget_label_pageLinkItem_3dots
{
    padding: 5px !important;
    font-size: 16px;
    width: inherit !important;
    color: #404040 !important;
    font-size: 14px !important;
}
.searchWidget_label_pageLinkItem_Current
{
    text-decoration: none;
    padding: 4px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    background-color: #888888;
    color: #404040 !important;
    font-size: 14px !important;
}
.div_dataWithPages
{
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px; /*behavior: url(border-radius.htc);*/
    width: 280px;
    height: auto;
    background-color: #f0f0f0;
    position: absolute;
    border: 2px solid #89BAD3;
    border-collapse: separate;
    z-index: 1000001;
    min-height: 40px;
    margin-left: 5px;
    margin-top: -5px;
}
.div_dataWithPages_hidden
{
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px; /*behavior: url(border-radius.htc);*/
    width: 400px;
    height: auto;
    background-color: inherit;
    position: absolute;
    z-index: 1000001; /*visibility: hidden;*/ /*height: 45px;*/
    display: none;
    top: 30px;
}
.searchWidget_table_buttons_And_PagesLinks
{
    width: 100%;
    padding: 0px;
    text-align: justify;
    background-color: #ffffff;
}
.searchWidget_table_buttonsLR_And_PagesLinks_hidden
{
    display: none;
}
.searchWidget_row_buttons_And_PagesLinks
{
    width: 95%;
    text-align: justify;
}
.searchWidget_td_buttonPrev
{
    padding-left: 5px;
    text-align: left;
    width: 10%;
    height: 35px;
}
.searchWidget_input_buttonPrev_visible
{
    cursor: pointer;
    visibility: visible;
    color: #3366cc;
    font-weight: bold;
    font-size: 18px;
}
.searchWidget_input_buttonPrev_invisible
{
    cursor: pointer;
    visibility: hidden;
    margin: 5px;
}
.searchWidget_td_pagesLinks
{
    width: 85%;
    text-align: center;
}
.searchWidget_td_buttonNext
{
}
.searchWidget_input_buttonNext_visible
{
    cursor: pointer;
    visibility: visible;
    color: #3366cc;
    font-weight: bold;
    font-size: 18px;
}
.searchWidget_input_buttonNext_invisible
{
    cursor: pointer;
    visibility: hidden;
    margin: 5px;
}

#sgInstanceTop1
{
    width: auto !important;
}
#sgInstanceTop1 .searchWidget_div_allWidget
{
    padding-right: 5px;
}
#sgInstanceTop1 .txtSearch
{
    width: 0px;
    font-size: 11px;
    height: 0px;
    display: none;
}
#sgInstanceTop1 .searchWidget_input_searchButton
{
}
#sgInstanceTop1 .div_dataWithPages
{
    width: 240px;
    left: 700px;
}
#sgInstanceTop1 .div_dataWithPages_hidden
{
    width: 222px;
    top: 26px;
}

#sgInstanceTop1 .searchWidget_li_store
{
    padding: 2px;
    line-height: 12px;
    text-align: left;
}
#sgInstanceTop1 .searchWidget_li_store_Last
{
    padding: 2px;
    text-align: left;
}
#sgInstanceTop1 .searchWidget_span_store_Name
{
    font-size: 14px;
    display: block;
    width: 225px;
    word-wrap: break-word;
}
#sgInstanceTop1 .searchWidget_span_store_City
{
    font-size: 14px;
}
#sgInstanceTop1 .searchWidget_span_store_State
{
    font-size: 14px;
}
#sgInstanceTop1 .searchWidget_span_store_Zip
{
    font-size: 14px;
}
#sgInstanceTop1 a
{
    color: blue;
}
#sgInstanceTop1 a
{
    color: blue;
}

#sgInstanceTop1 .searchWidget_td_pagesLinks
{
    width: 40%;
}

#sgInstanceTop1 .searchWidget_dataDiv
{
    padding: 1px;
}
/*
#sgInstanceTop1 .searchWidget_table_buttons_And_PagesLinks *
{
    padding: 1px;

}*/
#header .searchWidget_label_pageLinkItem_Current
{
    width: inherit !important;
    background-color: #888888 !important;
}
#header .searchWidget_label_pageLinkItem
{
    width: inherit !important;
}

.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=50);
    opacity: 0.50;
}
.updateProgress
{
    position: absolute;    
}
.updateProgress .imgLoading
{
    padding: 10px;
    background: url(Images/bgLoading.png) no-repeat;
}
.bgSearch #txtSearch
{
    display: none;
}
.bgSearch #table1Div
{
    margin-top: 10px !important;
}
#backgroundPopup
{
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6*/
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: url(Images/backgroundPopup.png);
    z-index: 100001;
}
.boxtitle
{
    padding-top:10px;
    font-weight:bold;
    font-size:18px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
}
.header-bg
{
    background:url('../images/header_bg.jpg') repeat-x;
    height:30px;    
}

.search-panel
{
    border-radius: 5px;
    height: 50px;
    background-color: #E9EAEC;
    width: 550px;
    margin: auto;    
}
.search-box
{
    width: 700px;
    margin: 6px;
    border-radius: 3px;
    font-size: 24px;
    border: solid 1px #7B8996;
    margin-right: 25px;
}
.grid-header
{
    background-color:#F0F0F0;
    font-family:arial;
}
.grid-header th
{
    padding-left:10px;
    height:25px;
}
.grid-row td
{
    font-family:arial;
    padding-left:10px;
    font-size:14px;
    height:20px;
}
.grid
{
    border:solid 1px #D0CCC9;
}
.clear-10
{
    height:10px;
}

.txtSearch
{
  width:300px;  
}
.td-gridview
{
    padding-left:30px;
}