<modal-component show.sync="isShowModalGlossary" width="420">
    <div slot="header"></div>
    <div slot="body">
        <h4 class="glossary-title" v-text="glossary.text"></h4>
        <div class="glossary-content" v-html="glossary.content"></div>
    </div>
    <div slot="footer"></div>
</modal-component>