@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/css/custom.css" rel="stylesheet" />

<div id="divArtifact" class="artifact-container">
    <iframe src="@ViewBag.ArtifactViewSrc" class="artifact-iframe"></iframe>
</div>
