<style>
    #artLinkitDefault .no-margin.last-child {
        margin: 0 !important
    }

    #artLinkitDefault .block-pagination {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    #artLinkitDefault table.datatable {
        width: 100% !important;
    }
</style>

<article class="container_12" id="artLinkitDefault">
    <section class="grid_12">
        <div class="block-border" >
            <div class="block-content form bubbleSheetSelector">
                <h2 class="header">Filter Tags</h2>
                <div class="row g-3">
                    <div class="col-3">
                        <label>Linkit default category:</label>
                        <select id="linkitDefaultCategorySelect">
                            <option value="Topic" selected="selected"> Topic</option>
                            <option value="Skill"> Skill</option>
                            <option value="Other"> Other</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-border mt-4" id="divLinkitDefaultTagResult">
            <div class="block-content form">
                <div>
                    <table id="LinkitDefaultTagDataTable" class="datatable table" width="100%">
                        <thead>
                            <tr>
                                @*<th scope="col"> </th>*@
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Tag
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="height: 60px;"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </section>
</article>

<script type="text/javascript">
    var encryptedByteStringSearchText = '';
    var dataTableTags = null;
    $(function () {
        LoadLinkitDefaultTagToTable();

    });

    function LoadLinkitDefaultTagToTable(subjectIdParameter) {
        var options = {
            bServerSide: true,
            bDestroy: true,
            cache: false,
            sServerMethod: "POST",
            sAjaxSource: getAjaxSourceLinkitDefaultTag(),
            fnServerParams: function (aoData) {
                //TuanVo:encode text in filter searchbox 
                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''"); // when user type " or "", or """,...in searchbox, system will issue an error, this code fix that error
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }
                        break;
                    }
                }

            },
            bFilter: true,
            bStateSave: false,
            bAutoWidth: false,
            iDisplayLength: 10,
            aaSorting: [[0, "asc"]],
            aoColumns: [
                //{ sType: 'integer', sName: 'TagId', bSearchable: false, bSortable: false,bVisible:false, sWidth: '0px'},
                { sType: 'string', sName: 'TagName', bSearchable: true, bSortable: true, sWidth: '1000px' }
            ],
            fnRowCallback: function (nRow, aData) {
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#LinkitDefaultTagDataTable'), 'Load');
                return true;
            },
            fnDrawCallback: function () {
                $('#LinkitDefaultTagDataTable').unblock();
            },
            fnInitComplete: function () {
                tranformSearchInputDataTable('LinkitDefaultTagDataTable_filter')
            }
        };

        $("#LinkitDefaultTagDataTable").data("options", options);
        //initializeDataTable($("#LinkitDefaultTagDataTable"));
        dataTableTags = $("#LinkitDefaultTagDataTable").dataTable()
    }
    
    function getAjaxSourceLinkitDefaultTag() {
        var category = $("#linkitDefaultCategorySelect").val();
        return '@Url.Action("GetLinkitDefaultTags")?category=' + encodeURIComponent(category) + '&filterEmpty=true';
    }

    $('#linkitDefaultCategorySelect').die('change');
    $('#linkitDefaultCategorySelect').change(function () {
        /*$("#LinkitDefaultTagDataTable").dataTable().fnReloadAjax(getAjaxSourceLinkitDefaultTag());*/
        dataTableTags.fnSettings().sAjaxSource = getAjaxSourceLinkitDefaultTag();
        dataTableTags.fnDraw();
    });
</script>
