
hr {
  width: 100%;
  background-color: #999;
  margin: 5px 0px;
}

/*nav*/
.top {
  background-color: #b3282d
}

#myNav ul {
  margin: 0px;
  padding: 0px;
}

  #myNav ul li {
    display: inline;
  }

    #myNav ul li a {
      text-align: center;
      text-decoration: none;
      list-style: none;
      color: #FFF;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      line-height: 3;
    }

      #myNav ul li a:hover {
        background-color: #000;
      }

/*nav*/

.title {
  color: #b3282d;
}

.slide h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  text-align: left;
  padding: 15px;
  font-weight: 400;
  background-color: #FFF;
  margin-bottom: 20px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  text-align: left;
  font-weight: 400;
}

.slide h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
  margin: 0px;
  text-align: left;
  padding: 20px;
  margin: 0px 0 20px 0;
  background-color: #b3282d;
  font-style: italic;
  font-size: larger;
}

.slide button {
  border: none;
  border-radius: 0px;
  padding: 10px 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  float: right;
}


/*slider*/
.slider {
  background-color: #0f8bd1
}

  .slider h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    margin: 0px;
    text-align: left;
    padding: 30px 0px 0px 30px;
    font-size: 20px;
  }

  .slider p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFF;
    text-align: left;
    padding: 30px 0px 30px 30px;
    font-weight: 400;
  }

  .slider button {
    border: none;
    border-radius: 0px;
    padding: 20px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 40px 0 30px 30px;
  }
/*slider*/

.footer {
  background-color: #000;
}

  .footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #FFF;
    text-align: center;
    padding: 30px 0px 10px 0px;
  }

.tlds-input {
  resize: none;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.tlds-input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button-group {
  display: inline-block;
  float: right;
  padding: 10px 25px;
}

.tlds-button {
  border: none;
  border-radius: 0px;
  padding: 15px 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 50px;
}

label {
  font-weight: normal;
}

.tlds-checkbox span::before {
  margin: 1px;
  width: 18px;
  height: 18px;
}

*:before, *:after {
  -webkit-box-sizing: unset;
}

.tlds-checkbox input[type="checkbox"]:checked ~ span::after {
  top: 9px;
  left: 4px;
  width:12px;
}

  #imageUpload {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  background-color: transparent;
  color: transparent;
}

.tlds-upload-file {
  position: relative;
  overflow: hidden;
}

.tlds-icon {
  color: #c5310e;
}

.img-loading {
  position: absolute;
  left: 50%;
  width: 35px;
  z-index: 999;
}

.overflow-body {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  background-color: #000;
  z-index: 99;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 400px;
  padding: 15px 35px 15px;
  margin: 0 auto;
  background-color: #fff;
  border-right: 5px solid rgba(0,0,0,0.1);
  border-bottom: 5px solid rgba(0,0,0,0.1);
  border-radius: 12px;
  overflow: hidden;
}

#alert-dob {
  font-size: 15px;
  float: left;
  margin-top: 10px;
  padding: 4px 10px 0px 0;
  background-color: initial;
  border-width: 0;
}

.notice-alert {
  border: 1px solid #a94442;
  color: #a94442;
}

.form-signin-heading {
  width: 150%;
  background-color: #ab334e;
  /*padding: 20px 0px 0px auto;*/
  margin-top: -15px;
  color: #FFF;
  border-radius: 12px 12px 0px 0px;
  margin-left: -23%;
  border-right: 5px solid rgba(0,0,0,0.1);
  text-align: center;
}

.container-fluid {
  padding-right: 10%;
  padding-left: 10%;
  margin-right: auto;
  margin-left: auto;
}

.page-a4 {
  margin-left: 20.666667%;
}

@media (min-width: 768px) {
  .custom-offset {
    margin-left: 21% !important;
  }
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 5px; 
  padding-left: 5px; 
}

.tlds-alert a {
  color: #0c0c0c;
}

.tlds-alert a:hover {
  color: #337ab7;
}

.popup-alert-table {
  width: 100%;
}

.rotate-right {
  transform: rotateY(-180deg);
}

.pointer {
  cursor: pointer;
}
