<div class="form">
    <ul style="display: none" id="error-messages" class="message error"></ul>
    <ul style="display: none" id="success-message" class="message success">
        <li>Clone Template Success.</li>
    </ul>


    <div class="mb-4">
        <label>Please enter the new Data Locker template name in the space below.</label>
        <input type="text" id="inputCopyTemplateName" class="full-width" />
    </div>
</div>
