@model LinkIt.BubbleSheetPortal.Models.DataLocker.LabelValueModel

<div class="columns labelValueText mb-4 custom-labelValueText">
    <div class="mb-3 text-end">
        <button type="button" class="btn-entry-result-score is-small btn btn-link border-0" v-on:click="addLabelValue($index)" v-show="hasAssociated">
            Add Rows
            <i class="fa-solid fa-plus ms-2"></i>
        </button>
    </div>
    <div class="mb-4">
        <table class="datatable table tableLabelValue" width="100%">
            <thead>
                <tr>
                    <th scope="col">Label</th>
                    <th scope="col">Value</th>
                    <th v-show="hasAssociated" scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in listLabelValue">
                    <td class="align-middle"><input type="text" class="w-100" maxlength="50" v-model="item.Label"></td>
                    <td class="align-middle">
                        <input type="number" class="w-100" maxlength="10" min="0" v-model="item.Option" v-on:change="inputValueChange()" oninput="javascript: if (this.value.length > this.maxLength) {this.value = this.value.slice(0, this.maxLength);}">
                    </td>
                    <td class="text-center align-middle" v-show="hasAssociated">
                        <a v-on:click.prevent="deleteLabelValue($index)" href="#" title="Delete">
                            <span class="fa-solid fa-circle-xmark icon-red"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="">
        <div class="mb-4 d-flex align-items-center">
            <input id="displayLabel" type="radio" name="displayOption" value="label" checked="checked" @(Model.Disabled ? "readonly" : "") />
            <label class="ms-1 title-small" for="displayLabel">Display Labels Only</label>
        </div>
        <div class="mb-4 d-flex align-items-center">
            <input id="displayValue" type="radio" name="displayOption" value="value" @(Model.Disabled ? "readonly" : "") />
            <label class="ms-1 title-small" for="displayValue">Display Value Only</label>
        </div>
        <div class="mb-4 d-flex align-items-center">
            <input id="displayBoth" type="radio" name="displayOption" value="both" @(Model.Disabled ? "readonly" : "") />
            <label class="ms-1 title-small" for="displayBoth">Display Both Label and Value</label>
        </div>
    </div>
</div>
