@using LinkIt.BubbleSheetPortal.Web.Helpers
@model LinkIt.BubbleSheetPortal.Models.VirtualTestCustomSubScore
<div class="columns sgo-columns mt-3" id="divEditSubscore_@(Model.VirtualTestCustomSubScoreId)">
    <div class="coolfieldset fieldset-datapoint " id="editsubscorefs_@(Model.VirtualTestCustomSubScoreId)">
        <legend class="js-arrangeable custom-js-arrangeable" id="c@(Model.VirtualTestCustomSubScoreId)">
            <legend class="border-0 p-0 d-flex">
                <span class="js-arrangeable dnd-arrangeable custom-dnd-arrangeable">
                    <span class="icon-arrangeable">
                        <i class="fa-solid fa-grip-vertical icon-grey"></i>
                    </span>
                </span>
                <span class="subscore-name">@Model.Name</span>
            </legend>
            <i class="fa-solid fa-chevron-down icon-arrow"></i>
        </legend>
        <div>
            @Html.Partial("v2/_SubscoreScoreTypeListReadOnly")
        </div>
    </div>
</div>

<link href="@BundleHelper.Version("~/Content/css/v2/data-docker.css")" rel="stylesheet" />

<script type="text/javascript">
    $(function() {
        $('#editsubscorefs_@(Model.VirtualTestCustomSubScoreId)').coolfieldset({ collapsed: true });
    });
</script>
