html {
  overflow-x: auto;
}

body {
  min-width: 1035px;
}

.ui-widget-header {
  border: 0px solid #aaa !important;
  background: transparent !important;
  position: relative;
  top: 34px;
}

.ui-dialog {
  background: transparent;
  border: 0;
}

  .ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 7px;
    top: -8px;
  }

.ui-widget-header .ui-icon {
  background-image: url("/Content/themes/base/images/fancy_close.png");
}

.ui-icon {
  width: 40px;
  height: 40px;
}

.ui-icon-closethick {
  background-position: 2px 2px;
}

.ui-widget-header .ui-state-hover {
  border: 0;
  background: transparent !important;
}

.ui-dialog .ui-dialog-titlebar-close {
  width: 30px;
  height: 42px;
}

.sticky {
  padding-left: 500px;
}

#dataTableTestBank_filter {
  float: left !important;
}

#dataTableVirtualTest_filter {
  float: left !important;
}

/*Retrict table css*/

table#retricttable {
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

#retricttable td, #retricttable th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

#retricttable tr:nth-child(even) {
  background-color: #f2f2f2
}

#retricttable th {
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #B7B7B7;
  color: white;
}

.icon-sgo-delete-disbale {
  background: url(/Content/themes/Constellation/images/icons/fugue/cross-circle-disable.png) no-repeat;
}

tr.even.row_selected td {
  background-color: #82CAFA !important;
}

tr.odd.row_selected td {
  background-color: #82CAFA !important;
}

#dataTableTestBank td {
  word-wrap: break-word;
  /*word-break: break-all;*/ /* Not apply for whole table, just apply for long word in each td*/
}

/* No data available in table */
.dataTableTestBankStyle .dataTables_empty div {
  width: 364px !important;
}

.dataTableTestBankStyle tr td {
  padding-left: 0px;
  padding-right: 0px;
}

.dataTableTestBankStyle {
  width: 370px !important;
  height: 392px !important;
}

  .dataTableTestBankStyle td img {
    padding-left: 3px;
    padding-right: 3px;
  }

  .dataTableTestBankStyle thead,
  .dataTableTestBankStyle tbody {
    display: block;
  }

  .dataTableTestBankStyle tbody {
    height: 362px;
    overflow: auto;
    overflow-x: hidden;
  }

    .dataTableTestBankStyle tbody td {
      /*word-break: break-all;*/
      word-wrap: break-word;
    }
    /* Padding content inside div */
    .dataTableTestBankStyle tbody tr td div {
      padding-left: 3px !important;
      padding-right: 3px !important;
    }

    .dataTableTestBankStyle tbody td:nth-of-type(1) div {
      width: 156px;
    }

    .dataTableTestBankStyle tbody td:nth-of-type(2) div {
      width: 117px;
    }

    .dataTableTestBankStyle tbody td:nth-of-type(3) div {
      width: 62px;
    }

  .dataTableTestBankStyle thead th:nth-of-type(1) {
    width: 171px !important;
  }

  .dataTableTestBankStyle thead th:nth-of-type(2) {
    width: 117px !important;
  }

  .dataTableTestBankStyle thead th:nth-of-type(3) {
    width: 72px !important;
  }
/*********** Has scroll bar ***********/
.scrolldataTableTestBankStyle tbody td:nth-of-type(3) div {
  width: 72px !important;
}

.scrolldataTableTestBankStyle thead th:nth-of-type(3) {
  width: 62px !important;
}
/*********** No scroll bar ***********/
.noscrolldataTableTestBankStyle tbody td:nth-of-type(1) div {
  width: 161px;
}

.noscrolldataTableTestBankStyle tbody td:nth-of-type(3) div {
  width: 72px !important;
}

.noscrolldataTableTestBankStyle thead th:nth-of-type(3) {
  width: 63px !important;
}

/*IE9*/
#dataTableTestBank tbody tr {
  height: 100% !important; /* Fix for IE9 */
}

.scrolldataTableTestBankStyleIE9, .noscrolldataTableTestBankStyleIE9 {
  height: auto !important;
}

  .scrolldataTableTestBankStyleIE9 tbody td:nth-of-type(1) div {
    width: 157px !important;
  }

  .scrolldataTableTestBankStyleIE9 tbody td:nth-of-type(2) div {
    width: 116px !important;
  }

  .scrolldataTableTestBankStyleIE9 tbody td:nth-of-type(3) div {
    width: 90px !important;
  }

#divdataTableTestBank {
  height: 367px !important;
  margin-top: -20px !important;
}

#divShowArchived {
  margin-left: 230px;
  width: 120px;
}

  #divShowArchived p {
    display: inline;
    color: #808080;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  #divShowArchived input {
    display: inline;
  }

#divVirtualTestProperties button {
  width: 125px;
  padding-left: 0;
  padding-right: 0;
  display: inline;
}

.ui-widget-header {
  border: 0px solid #aaa !important;
  background: transparent !important;
  position: relative;
  top: 34px;
}

.ui-dialog {
  background: transparent;
  border: 0;
  /*top: 100px !important;*/
  height: auto !important;
}

  .ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 7px;
    top: -8px;
  }

.ui-widget-header .ui-icon {
  background-image: url("/Content/themes/base/images/fancy_close.png");
}

.ui-icon {
  width: 40px;
  height: 40px;
}

.ui-icon-closethick {
  background-position: 2px 2px;
}

.ui-widget-header .ui-state-hover {
  border: 0;
  background: transparent !important;
}

.ui-dialog .ui-dialog-titlebar-close {
  width: 30px;
  height: 42px;
}

.ui-widget-overlay {
  background: #2b2b2d !important;
}

.group1 {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

  .group1 button, .group2 button {
    display: block;
    margin-bottom: 6px;
  }

.group2 {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

#dataTableSurveyBank_filter {
  float: left;
}
