<div id="notificationTimeout">
    <modal-component v-show="isShowModalTimeOutWarning" class="modal-timeout" v-bind:width="420" style="display: none; z-index: 2147483633">
        <div slot="close"></div>
        <div slot="header"></div>
        <div slot="body" class="u-text-center u-m-b-20 body-modal" style="font-weight: 700;">
            <div class="modal--content" v-if="isSessionExpire">
                <p v-text="sessiongMsg"></p>
            </div>
            <div class="modal--content" v-else>
                <p style="text-align: left;">
                    Your session will automatically expire in <span v-text="minutesForExpireFormat"></span>. To keep working, please click "Continue".
                </p>
            </div>
        </div>
        <div slot="footer">
            <template v-if="isSessionExpire">
                <button type="button" name="btnClose" v-on:click="sessionKeepAlive()">Return to login</button>
            </template>
            <template v-else>
                <button type="button" style="margin: 0" name="button" v-on:click="sessionKeepAlive()">Continue</button>
            </template>
        </div>
    </modal-component>
</div>
<style>
    #notificationTimeout .modal-component-container {
        width: 420px !important; 
    }

    .modal-component-footer {
        justify-content: center;
    }
</style>
