@using LinkIt.BubbleSheetPortal.Web.Helpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>LinkIt - Page Not Found</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="none">
    @BundleHelper.StyleNotFoundBundle()
    @Html.Partial("_Favicons")
</head>
<body class="special-page error-bg dark">
    <main role="main">
        <article class="not-found">
            <div class="block-border">
                <div class="block-content">
                    <h1>LinkIt!</h1>
                    <div class="not-found-heading">The requested page does not  exist.</div>
                    <div class="not-found-body">
                        <div class="not-found-leading">Follow these steps:</div>
                        <div class="not-found-list">
                            <div class="not-found-list-item">
                                <h3 class="not-found-list-header">Step 1</h3>
                                <div class="not-found-list-content">
                                    <span>Check the URL provided and try again.</span>
                                </div>
                            </div>
                            <div class="not-found-list-item">
                                <h3 class="not-found-list-header">Step 2</h3>
                                <div class="not-found-list-content">
                                    @if (ViewBag.IsStudent != null && ViewBag.IsStudent)
                                    {
                                        <span>Contact your teacher.</span>
                                    }
                                    else
                                    {
                                        <span>Contact the support staff within your organization for login instructions.</span>
                                    }
                                </div>
                            </div>
                            <div class="not-found-list-item">
                                <h3 class="not-found-list-header">Step 3</h3>
                                <div class="not-found-list-content">
                                    <span>
                                        Send an email to
                                        <a href="support@linkit.com" class="not-found-list-link">
                                            support@linkit.com
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>
    <footer role="contentinfo">
        <span class="linkit-logo-small"></span>
        <span class="u-fz-11">Copyright &copy; 2017 | Powered by LinkIt!</span>
    </footer>
</body>
</html>
