
@model LinkIt.BubbleSheetPortal.Web.ViewModels.ListItemsViewModel

<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004'>
        <div class='block-content bubbleSheetSelector' style='z-index: 1004'>
            <h1>@ViewBag.DeleteTestTitle</h1>
            <p style="text-align: center;">
                @Model.Name
            </p>
            @if (Model.Id == 0)
            {
                <p style="text-align: center;">
                    <button onclick="cancelDeleteSurvey();" type="button" name="cancel">
                        Close
                    </button>
                </p>
            }
            else
            {
                <p style="text-align: center;">
                    <button onclick="DeleteSurveyById('@Model.Id');" type="button" name="ok">
                        YES
                    </button>
                    <button onclick="cancelDeleteSurvey();" type="button" name="cancel">
                        NO
                    </button>
                </p>
            }
        </div>
    </div>
</section>
<script type="text/javascript">
    function cancelDeleteSurvey() {
        $(".dialog").dialog("close");
    }
</script>
