@model LinkIt.BubbleSheetPortal.Web.ViewModels.ManageTestViewModel

<section>
    <div class="block-border">
        <div id="dvCreateSurveyBank" class="block-content form">
            <h1>Create Survey Bank</h1>
            <ul style="display: none" id="error-messages" class="message error"></ul>
            <ul style="display: none" id="success-message" class="message success">
                <li>SURVEY BANK CREATED.</li>
            </ul>
            <fieldset>
                <div class="columns">
                    <p>
                        <label>Bank Name</label>
                        <input type="text" id="inputTestBankName" class="full-width" />
                    </p>
                    <div class="u-text-center">
                        <button type="button" id="btnCreateTestBank" onclick="createSurveyBank()">Create</button>
                        <button type="button" id="btnCancelCreateTestBank" onclick="cancelCreateSurveyBank()">Cancel</button>
                        <input id="hdfStateId" type="hidden" value="@Model.StateId" />
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</section>
