@using LinkIt.BubbleSheetPortal.Models
@using LinkIt.BubbleSheetPortal.Web.Helpers
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.SurveyModule, "Manage Surveys");
}
<div id="manage-test" class="manage-columns">
    <div id="divTestBanks" class="manage-columns-left">
        @Html.Partial("_SurveyBanks")
    </div>
    <div id="divVirtualTests" class="manage-columns-center" v-bind:class="gradeLevelClasses">
        @Html.Partial("_SurveyTests")
    </div>
    <div id="divPropertiy" class="manage-columns-right">
        <div id="divSurveyBankProperties" v-bind:class="gradeLevelClasses"></div>
        <div id="divVirtualTestProperties" v-bind:class="gradeLevelClasses"></div>
    </div>
    <div style="clear: both"></div>
    <input type="hidden" id="SelectedTestBankId" value="0" />
</div>
<script type="text/javascript" src="/Content/themes/TestMaker/ckeditor_mk.js"></script>
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
<link href="/Content/libs/select2/comboTreePlugin.css" rel="stylesheet" />
<script src="/Content/libs/select2/comboTreePlugin.js"></script>
<link href="/Content/themes/Survey/surveyBank.css" rel="stylesheet" />
<script src="/Scripts/custom.js"></script>

<!-- Custom alert message box -->
<script type="text/javascript">
    function CustomAlert(message, isLongMessage) {
        var yesButton = '<button style="width:63px;margin-left:0px;" onclick="CustomAlertYesClick(this);">OK</button>';
        var messageTextAlign = 'center';
        var messageBoxWidth = 240;
        var diaglogWidth = 300;

        if (typeof isLongMessage != "undefined" && isLongMessage == true) {
            messageTextAlign = 'left';
            messageBoxWidth = 540;
            diaglogWidth = 600;
        }
        var strHtml = '<section class="grid_5">' +
            '<div class="block-border" style="width: ' + messageBoxWidth + 'px;">' +
            '<div class="block-content form" style="padding-bottom: 1em;text-align:center;"><div style="text-align:' + messageTextAlign + ';line-height: 18px;">' + message +
            '</div><div style="text-align: center;padding-top:20px;padding-bottom:10px;">' + yesButton + '</div></div></div></section>';
        $("<div></div>")
            .html(strHtml)
            .addClass("dialog")
            .attr("id", "CustomAlertDialog")
            .appendTo("body")

            .dialog({
                close: function () { $(this).remove(); },
                modal: true,
                width: diaglogWidth,
                maxheight: 400,
                resizable: false,
                open: function () { $(".ui-dialog-titlebar-close").hide(); }
            });
    }

    function CustomAlertYesClick(item) {
        $("#CustomAlertDialog").dialog("close");
        var url = $(item).attr('url');
        if (url != undefined && $.trim(url) != '') window.open(url);
    }
</script>
<script type="text/javascript" src="/Content/themes/TestMaker/ckeditor.js"></script>
<script type="text/javascript">
    function showModalDialogBG() {
        var win = $('body');
        $('body').prepend('<div class="ui-widget-overlay" style="width: ' + win.width() + 'px; height: ' + win.height() + 'px; z-index: 1001;"></div>');
    }
</script>
@section scripts {
    <script type="text/javascript">
    var ManageTestModel = new Vue({
        el: '#manage-test',
        data: {
            gradeLevelClasses: ''
        },
        ready: function () {
            var gradeLabel = '@LabelHelper.GradeLabel';

            if (gradeLabel == null || gradeLabel.length <= 6) {
                this.gradeLevelClasses = 'gradeLevelClasses';
            } else {
                this.gradeLevelClasses = 'noGradeLevelClasses';
            }
        }
    });
    </script>
}
