*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #333;
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.57143;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}

.SGO-header {
    height: 80px;
}

.SGO-header,
.SGO-footer {
    font-size: 14px;
}

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

    .table td {
        border: 2px solid #002060;
        padding: 5px;
        /*word-break: break-all;
        hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;*/
    }

.table-general tbody {
    background: #ffe699;
}

.table-guidance tbody {
    background: #ffe699;
}

.table-sgo-info {
    background: #bdd7ee;
}

.table-sgo-info-white {
    background: transparent;
}


.table-sgo-info-white thead {
    background: #bdd7ee;
}

    .table-sgo-info tbody {
        background: #fff;
    }

.table-datapoint {
    background: #bdd7ee;
}

    .table-datapoint tbody {
        background: #fff;
    }

.table-scoring-plan {
    background: #bdd7ee;
}

    .table-scoring-plan tbody {
        background: #fff;
    }

.table-scoring-result {
    background: #bdd7ee;
}

    .table-scoring-result tbody {
        background: #fff;
    }

.table-scoring-detail {
    background: #bdd7ee;
}

    .table-scoring-detail tbody {
        background: #fff;
    }

.panel {
    background: #fff;
    border: 2px solid #002060;
    margin-bottom: 20px;
}

.panel-heading {
    background: #bdd7ee;
    padding: 20px 15px;
    border-bottom: 2px solid #002060;
}

    .panel-heading h3 {
        margin: 0;
        font-size: 14px;
    }

.panel-body {
    padding: 15px;
    min-height: 120px;
}

.u-size-185 {
    width: 185px;
}

.u-size-40 {
    width: 40px;
}

.u-size-70 {
    width: 70px;
}

.u-size-150 {
    width: 150px;
}

.u-size-250 {
    width: 250px;
}

.u-size-500 {
    width: 500px;
}

.u-text-center {
    text-align: center;
}

.u-text-right {
    text-align: right;
}

.u-pull-left {
    float: left;
}

.u-pull-right {
    float: right;
}

.u-underline {
    text-decoration: underline;
}

.sgoPrintBreakNewPage {
    page-break-after: always;
    page-break-before: always;
}
