@using LinkIt.BubbleSheetPortal.Web.Helpers
<style type="text/css">
     tr.even.row_selected td {
         background-color: #82CAFA !important;
     }

     tr.odd.row_selected td {
         background-color: #82CAFA !important;
     }
     #dataTableTestBank_wrapper {
         margin-top: 34px;
     }
 </style>
<!-- Style for scrollbar-->
<style>
    /*********** Default css ***********/
    /* No data available in table */
     .dataTableTestBankStyle .dataTables_empty div {
         width: 455px !important;
     }
    .dataTableTestBankStyle tr td {
        padding-left: 0px;
        padding-right: 0px;
    }
    .dataTableTestBankStyle{
        width: 463px !important;
        height: 392px !important;
    }
    .dataTableTestBankStyle td img {
        padding-left: 3px;
        padding-right: 3px;
    }
    .dataTableTestBankStyle thead,
    .dataTableTestBankStyle tbody{display: block;}
    .dataTableTestBankStyle tbody {
        height: 367px;
        overflow: auto;
        overflow-x: hidden;
    }
    .dataTableTestBankStyle tbody td {
        /*word-break: break-all;*/
        word-wrap: break-word;
    }
    /* Padding content inside div */
    .dataTableTestBankStyle tbody tr td div {
        padding-left: 3px !important;
        padding-right: 3px !important;
    }
    .dataTableTestBankStyle tbody td:nth-of-type(1) div {
        width: 235px;
    }
    .dataTableTestBankStyle tbody td:nth-of-type(2) div
    {
        width: 117px;
    }
    .dataTableTestBankStyle tbody td:nth-of-type(3) div
    {
        width: 76px;
    }

    .dataTableTestBankStyle thead th:nth-of-type(1) {
        width: 238px !important;
    }
    .dataTableTestBankStyle thead th:nth-of-type(2) {
        width: 109px !important;
    }
    .dataTableTestBankStyle thead th:nth-of-type(3) {
        width: 81px !important;
    }
    /*********** Has scroll bar ***********/
    .scrolldataTableTestBankStyle tbody td:nth-of-type(3) div
    {
        width: 81px !important;
    }
    /*********** No scroll bar ***********/
    .noscrolldataTableTestBankStyle tbody td:nth-of-type(3) div
    {
        width: 90px !important; 
    }
    
</style>
<style>
    /*IE9*/
      #dataTableTestBank tbody tr {
         height: 100% !important;/* Fix for IE9 */
     }
    .scrolldataTableTestBankStyleIE9,.noscrolldataTableTestBankStyleIE9 {
        height: auto !important;
    }
    .scrolldataTableTestBankStyleIE9 tbody td:nth-of-type(1) div
    {
        width: 232px !important;
    }
    .scrolldataTableTestBankStyleIE9 tbody td:nth-of-type(2) div
    {
        width: 116px !important;
    }
     .scrolldataTableTestBankStyleIE9 tbody td:nth-of-type(3) div
    {
        width: 90px !important;
    }
    #divdataTableTestBank {
        height: 367px !important;
    }

</style>
<article class="container_12" style="width: 100%">
    <section class="grid_12" style="width: 93%">
        <div class="block-border" style="width: 100%">
            <div class="block-content form" id="divOnTop" style="background-color: #fcfcfc">
                <h1>
                    Test Banks
                </h1>
                <p style="height: 5px"></p>
                <input type="radio" name="inputTestType" id="selectTestBank" value="selectTestBank" checked="checked" style="margin-right: 5px">Select a Test Bank &nbsp;&nbsp; or &nbsp;&nbsp;
                <input type="radio" name="inputTestType" id="createNewTestBank" value="createNewTestBank" style="margin-right: 5px">Create a Test Bank
                <p style="height: 5px"></p>

                <div id="divContainer" class="no-margin last-child" style="height:526px;overflow: hidden;">
                    <table id="dataTableTestBank" class="datatable table no-margin dataTableTestBankStyle">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Name
                                </th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    @LabelHelper.Subject
                                </th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    @LabelHelper.TestGrade
                                </th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody style="cursor: pointer"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</article>

<script type="text/javascript">
    var oTableTestBank;
    $(function ()
    {
        $('#dataTableTestBank tbody').click(function (event) {
            $(oTableTestBank.fnSettings().aoData).each(function () {
                $(this.nTr).removeClass('row_selected');
            });
            if (event.target.tagName.toUpperCase() == 'TD' && event.target.id != null && event.target.id.length > 0) {
                $(event.target.parentNode).addClass('row_selected');
                //showVirtualTest
                $("#SelectedTestBankId").val(event.target.id);
                if ($("input[name='inputTestType']:checked").val() == 'selectTestBank') {
                    $('#btnCreateTest').enableBt();
                }
            }
            //click on div inside td
            if (event.target.parentNode.tagName.toUpperCase() == 'TD' && event.target.parentNode.id != null && event.target.parentNode.id.length > 0) {
                $(event.target.parentNode.parentNode).addClass('row_selected');
                //showVirtualTest
                $("#SelectedTestBankId").val(event.target.parentNode.id);
                if ($("input[name='inputTestType']:checked").val() == 'selectTestBank') {
                    $('#btnCreateTest').enableBt();
                }
            }
        });

        var options = {
            bServerSide: true,
            bDestroy: true,
            bStateSave: false,
            sAjaxSource: getAjaxSource(),
            fnServerParams: function (aoData) {
                //TuanVo:encode text in filter searchbox
                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''"); // when user type " or "", or """,...in searchbox, system will issue an error, this code fix that error
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }
                        break;
                    }
                }
            },
            //bLengthChange: false,
            bAutoWidth: false,
            iDisplayLength: 100,
            aaSorting: [[0, "asc"], [1, "asc"], [2, "asc"]],
            aoColumns: [
                { sType: 'string', sName: 'BankName', bSearchable: true, bSortable: true},
                { sType: 'string', sName: 'Subject', bSearchable: true, bSortable: true},
                { sType: 'integer', sName: 'GradeOrder', bSearchable: true, bSortable: true},
                { sType: 'integer', sName: 'BankID', bSearchable: false, bSortable: false, sWidth: "0px", bVisible: false },
                { sType: 'string', sName: 'Grade', bSearchable: true, bSortable: true, sWidth: "0px", bVisible: false }
                
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).attr('id', aData[3]);
                $('td:eq(1)', nRow).attr('id', aData[3]);
                $('td:eq(2)', nRow).attr('id', aData[3]);
                $('td:eq(2)', nRow).html(aData[4]);
                //Add word-break: break-all; to td which has long BankName ,such as NewBankDemo_123_456_789_1011
                addWordBreakToTableCell($('td:eq(0)', nRow), 25, aData[0]);
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTableTestBank'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#dataTableTestBank').unblock();
                $('.with-tip').tip();
                
                formatTableForAddingVertialScrollBar('dataTableTestBank', 'scrolldataTableTestBankStyle', 'noscrolldataTableTestBankStyle',
                    'scrolldataTableTestBankStyleIE9', 'noscrolldataTableTestBankStyleIE9');
                
                if ($("input[name='inputTestType']:checked").val() == 'selectTestBank') {
                    $('#btnCreateTest').disableBt();
                }
            }
        };

        $("#dataTableTestBank").data("options", options);
        oTableTestBank = $('#dataTableTestBank').dataTable();

        function getAjaxSource() {
            return '@Url.Action("LoadTestBanks","ManageTest")';
        }
    });

    $("input[name=inputTestType]:radio").change(function () {
        if($("input[name='inputTestType']:checked").val() == 'createNewTestBank') {
            $('#createTestBankDiv').show();
            $('#error-messages').hide();
            $('#success-message').hide();
            $('#create-bank-success-message').hide();
            $('#btnCreateTest').attr('disabled', 'disabled');
            if($('#selectState').length > 0) {
                $('#selectState').val(0);
            }
            //$('#selectGrade').empty();
            if ($('#selectState').length > 0) {
                $('#selectGrade').empty(); //publisher
            } else {
                $('#selectGrade').val(0);
            }
            
            $('#selectSubject').empty();
            $('#testBankName').val('');
            $('#testName').val('');
            
        }else {
            $('#createTestBankDiv').hide();
            $('#error-messages').hide();
            $('#success-message').hide();
            $('#create-bank-success-message').hide();
            $('#testName').val('');
            
        }
    });
    function showError(error) {
        $('#error-messages').show();
        $('#success-message').hide();
        $('#create-bank-success-message').hide();
        $('#error-messages').html('<li>' + error + '</li>');
    }
    function AddSelectListItems(selectList, results, defaultValue) {
        if (results.length == 0) {
            return;
        }
        selectList.append($("<option></option>").attr("value", "-1").text(defaultValue));
        $.each(results, function (i, value) {
            selectList
                .append($("<option></option>")
                    .attr("value", value.Id)
                    .text(value.Name));
        });

    }
</script>