@{
    ViewBag.Title = "Create Test";
}
<div id="divMainCreateTest" style="width: 1035px; min-height: 690px; margin: auto">
    <div id="divTestBanks" style="float: left; width: 500px">
        @Html.Partial("_TestBanks")
    </div>
    <div id="divVirtualTests" style="float: left; width: 400px; padding-left: 15px">
        @Html.Partial("_CreateNewTest")
    </div>
    <div style="clear: both"></div>
    <input type="hidden" id="SelectedTestBankId" value="0" />
    <input type="hidden" id="CreatedTestBankId" value="0" />
</div>