<modal-component v-bind:show.sync="isShowPopupCloneTemplate" v-bind:width="400" style="display: none;">
    <div slot="close"></div>
    <div slot="header">
        <div class="block-heading">
            <h3 class="p-0 h3 modal-heading mb-4">New Template Name</h3>
        </div>
    </div>

    <div slot="body">
        <div v-html="content"></div>
    </div>

    <div slot="footer">
        <button type="button" id="btnCancelCopyTemplate" onclick="cancelCopyTemplate()">Cancel</button>
        <button type="button" id="btnCopyTemplate" onclick="copyTemplate()">Create</button>
    </div>
</modal-component>
