@using LinkIt.BubbleSheetPortal.Web.Helpers

<script src="@BundleHelper.Version("~/Scripts/Lib/jquery.tag-editor.js")"></script>
<script src="@BundleHelper.Version("~/Scripts/Lib/math.min.js")"></script>
<link href="@BundleHelper.Version("~/Content/themes/DataLocker/jquery.tag-editor.css")" rel="stylesheet" type="text/css" />

<style type="text/css">

    #divScoreCalculator.tag-editor-score-calculator .tag-editor {
        background: none;
        padding: 0.4rem 0.65rem;
        border: 2px solid var(--selectBorder);
        border-radius: 0;
    }

        #divScoreCalculator.tag-editor-score-calculator .tag-editor .tag-editor-tag {
            background-color: var(--blue3);
            font-size: 0.875rem;
            border-radius: 2px 0 0 2px;
            color: var(--navyColor);
        }

        #divScoreCalculator.tag-editor-score-calculator .tag-editor div {
            padding: 0.25rem;
        }

        #divScoreCalculator.tag-editor-score-calculator .tag-editor .tag-editor-delete {
            background-color: var(--blue3);
            line-height: 1 !important;
        }

    #divScoreCalculator.tag-editor-score-calculator .tag-editor-tag input {
        padding: 0 !important;
        border: 0 !important;
    }

    #divScoreCalculator.tag-editor-score-calculator .tag-editor li {
        display: flex;
        margin: 0;
        margin-bottom: 0.125rem
    }

    #divScoreCalculator.tag-editor-score-calculator .tag-editor .tag-editor-delete i:before {
        font-size: 0.875rem;
        color: var(--navyColor);
        content: "\f00d";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }

    .overall-score-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .wrap-symbols {
        width: 194px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .symbols-row {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
    }

    .symbol-btn {
        width: 140px;
    }

    .symbol {
        padding: 2px;
        font-weight: 400;
        min-width: 24px !important;
        cursor: pointer;
        background-color: var(--blue3) !important;
        border-width: 0 !important;
    }

        .symbol.disabled {
            background-color: var(--selectBorder) !important;
            color: var(--selectColor) !important;
        }

    .score-column-btn {
        margin: 4px;
        padding: 0px !important;
        text-align: left !important;
        cursor: pointer;
        display: inline-block;
        border-width: 0 !important;
        min-width: 80px !important;
        font-weight: 400 !important;
    }

    #divOverallScore .fa-plus {
        color: var(--red);
    }

    #divOveralScore {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 10px;
    }

    #scoreCalculation {
        min-height: 100px;
    }

    #divScoreCalculator .arithmetic-tag,
    #divScoreCalculator .math-symbol-tag {
        background-color: transparent !important;
    }

    #divScoreCalculator .tag-editor-delete {
        display: none !important;
    }

    /* Set default background for tag */
    #divScoreCalculator .tag-editor-tag {
        background-color: var(--blue3);
    }

    #divScoreCalculator .tag-editor {
        min-height: 68px;
    }

        /* Override for spacer - always transparent regardless of hover state */
        #divScoreCalculator .tag-editor .tag-editor-spacer,
        #divScoreCalculator .tag-editor li:hover .tag-editor-spacer {
            background-color: transparent !important;
        }

        /* Apply hover background to child elements except spacer */
        #divScoreCalculator .tag-editor li:hover > div:not(.tag-editor-spacer) {
            background-color: #C3E3F0 !important;
        }

    #scoreCalculationReadonly .sub-score-tag,
    #scoreCalculationReadonly .overall-score-tag {
        padding: 0.25rem;
        background-color: var(--selectBorder);
        color: var(--selectColor)
    }

    /* Show delete button on li hover */
    #divScoreCalculator .tag-editor li:hover .tag-editor-delete {
        display: block !important;
    }

    #divScoreCalculator .overall-score-tag,
    #divScoreCalculator .sub-score-tag {
        font-weight: bold;
        font-size: 1rem !important;
    }

    .score-calculation-read-only {
        display: flex;
        gap: 10px;
        padding: 10px;
        border: 1px solid var(--selectBorder);
        flex-wrap: wrap;
        align-items: center;
    }

    #btnClearCalculation {
        margin-bottom: 10px;
        border: 0 !important;
        font-weight: 400 !important;
        color: rgba(79, 192, 240) !important;
        cursor: pointer;
        padding-left: 0px !important;
    }
</style>
<div id="divOverallScore" class="mb-2">
    <div class="overall-score-wrapper">
        <div class="overall-score-wrapper-inner">
            <div id="divOveralScore"></div>
            <div id="divSubScore"></div>
        </div>
        <div class="wrap-symbols">
            <div class="symbols-row">
                <button class="symbol math-symbol">+</button>
                <button class="symbol math-symbol">-</button>
                <button class="symbol math-symbol">&divide;</button>
                <button class="symbol math-symbol">x</button>
                <button class="symbol math-symbol">(</button>
                <button class="symbol math-symbol">)</button>
            </div>
            <div class="symbols-row">
                <button class="symbol arithmetic">1</button>
                <button class="symbol arithmetic">2</button>
                <button class="symbol arithmetic">3</button>
                <button class="symbol arithmetic">4</button>
                <button class="symbol arithmetic">5</button>
                <button class="symbol arithmetic">6</button>
            </div>
            <div class="symbols-row">
                <button class="symbol arithmetic">7</button>
                <button class="symbol arithmetic">8</button>
                <button class="symbol arithmetic">9</button>
                <button class="symbol arithmetic">0</button>
                <button class="symbol arithmetic">.</button>
            </div>
            <div class="symbols-row">
                <button class="symbol symbol-btn">Highest</button>
                <button class="symbol symbol-btn">Lowest</button>
            </div>
        </div>
    </div>

    <!-- Score Calculator Tag Editor -->
    <div class="tag-editor-score-calculator mt-3" id="divScoreCalculator">
        <button id="btnClearCalculation">Clear Calculation</button>
        <textarea id="scoreCalculation"></textarea>
        <div id="scoreCalculationReadonly" class="score-calculation-read-only"></div>
    </div>
</div>

<script src="@BundleHelper.Version("~/Scripts/DataLocker/ScoreCalculator.js")"></script>
<script>
    $(document).ready(function () {
        $('#scoreCalculation').on('input', function () {
            $(this).val($(this).val().replace(/\D/g, ''));
        });

        $('#btnClearCalculation').on('click', function (e) {
            e.preventDefault();
            ScoreCalculator.clearAllCalculation();
        });
    });
</script>
