<modal-component
    :width="460"
    :show.sync="isShowUploadConversionWarning"
>
    <div slot="header"></div>
    <div slot="body">
        <div class="studententry-modal">
            <p style="font-weight:700">There are several columns that already exist in this template. Do you want to replace the existing columns with the new data?</p>
        </div>
    </div>
    <div slot="footer">
        <button onclick="hideUploadConversionWarning()">Cancel</button>
        <button onclick="uploadFile(false)">Skip</button>
        <button onclick="uploadFile(true)">Replace</button>
    </div>
</modal-component>

