<modal-component v-bind:show.sync="isShowModalPrint"
                 v-bind:width="600"
                 class="modal-component-studententry is-dark"
                 style="display: none;">
    <div slot="header"></div>
    <div slot="body" v-loading-directive="isLoading">
        <div v-if="msgInvalid != ''" class="studententry-modal">
            <p v-html="msgInvalid" class="u-c-light-red u-fw-700"></p>
        </div>
        <div v-else class="studententry-modal">
            <div v-if="isWrappedPages">
                <div v-if="isPrintSucess">
                    <p class="fz16">Generate PDF successfully. You can download and print.</p>
                    <div class="fz16" v-if="printResult.pdfUrl != ''">
                        <a href="{{ printResult.pdfUrl }}" target="_blank" class="studententry-modal-link">
                            Click here to download file.
                        </a>
                    </div>
                    <div class="u-text-right">
                        <button v-on:click="backGeneratePdf">Back</button>
                    </div>
                </div>
                <div v-else>
                    <p class="fz16">
                        Based on your selection, the columns will be wrapped to multiple pages for each student.<br /><br />
                        Would you like to continue?
                    </p>
                    <div class="u-text-right">
                        <button v-on:click="generatePdf">Yes</button>
                        <button v-on:click="backGeneratePdf">No</button>
                    </div>
                </div>
            </div>
            <div v-else>
                <div class="studententry-modal-body">
                    <h4 class="studententry-modal-title">Select Columns</h4>
                    <div class="studententry-modal-column">
                        <label for="selectAllColumns">
                            <input type="checkbox" id="selectAllColumns" v-on:click="selectAllColumns" v-model="allColumnsSelected">
                            Select All Columns
                        </label>
                    </div>
                    <div class="studententry-modal-column" v-if="printResult.isExistCustomScore">
                        <div class="studententry-modal-score">
                            <h5>@LocalizeHelper.Localized("EnterResult.OverallScore")</h5>
                            <label class="studententry-modal-grid" v-for="scoreInfo in printResult.customScore.ScoreInfos">
                                <input type="checkbox" v-bind:value="scoreInfo.ScoreName" v-model="printResult.scoreSelected">
                                {{ scoreInfo.ScoreLable }}
                            </label>
                        </div>
                    </div>
                    <div class="studententry-modal-column">
                        <div v-for="subScore in printResult.customSubScores" class="studententry-modal-score">
                            <h5>{{ subScore.Name }}</h5>
                            <label class="studententry-modal-grid" v-for="subScoreInfo in subScore.ScoreInfos">
                                <input type="checkbox" v-bind:value="subScoreInfo.Id" v-model="printResult.subScoresSelected">
                                {{ subScoreInfo.ScoreLable }}
                            </label>
                        </div>
                    </div>
                    <h4 class="studententry-modal-title">Select Layouts</h4>
                    <div class="studententry-modal-column">
                        <label v-for="layout in printResult.layouts" class="studententry-modal-grid" title="{{layout.title}}">
                            <input type="radio" v-bind:disabled="layout.isDisable" v-bind:value="layout.value" v-model="printResult.layoutSelected">
                            {{ layout.text }}
                        </label>
                    </div>
                    <h4 class="studententry-modal-title">Include Score Description</h4>
                    <div class="studententry-modal-column">
                        <label v-for="scoreDescription in printResult.scoreDescriptions" class="studententry-modal-grid">
                            <input type="radio" v-bind:value="scoreDescription.value" v-model="printResult.scoreDescriptionSelected">
                            {{ scoreDescription.text }}
                        </label>
                    </div>
                    <h4 class="studententry-modal-title">Rubric Description</h4>
                    <div class="studententry-modal-column">
                        <label v-for="rubricDescription in printResult.rubricDescriptions" class="studententry-modal-grid">
                            <input type="radio" v-bind:value="rubricDescription.value" v-model="printResult.rubricDescriptionSelected">
                            {{ rubricDescription.text }}
                        </label>
                    </div>
                </div>
                <div v-if="msgInvalid == ''" class="u-text-right u-m-t-15">
                    <button v-on:click="beforeGeneratePdf" v-bind:disabled="isShowBtnPrint">GENERATE PDF</button>
                </div>
            </div>
        </div>
    </div>
    <div slot="footer"></div>
</modal-component>
