<modal-component v-bind:show.sync="isShowModalClearAllScore"
                 v-bind:width="520"
                 class="modal-component-studententry is-dark"
                 style="display: none;">
    <div slot="header"></div>
    <div slot="body">
        <div class="studententry-modal">
            <p>Are you sure you want to delete all scores on this test for the students displayed?</p>
            <div class="u-text-right">
                <button v-on:click="confirmClearAllScore">Delete All Scores</button>
                <button v-on:click="toggleClearAllScore">Cancel</button>
            </div>
        </div>
    </div>
    <div slot="footer"></div>
</modal-component>
