<style type="text/css">
    .rubric ol {
        list-style-position: inside;
        list-style-type: decimal;
    }

    .rubric strong {
        color: black;
    }
</style>
<draggable-resizable-component class="is-center"
                               v-bind:show.sync="isShowModalRubricDescription"
                               v-bind:width="550"
                               style="display: none;">
    <div slot="close">
        <a href="#" v-on:click.prevent="toggleRubricDescriptionModal" class="modal-component-close">Close</a>
    </div>
    <div slot="body" class="rubric">
        <div v-html="rubricDescriptionContent"></div>
    </div>
</draggable-resizable-component>
