<?xml version="1.0" encoding="utf-8"?>
<config>
	

	<urls serverroot="http://www.linkit.com/apidev/" phproot="http://www.linkit.com/ardev/linkitModuleLaunch/proc/" 
			serverrootsecure="https://www.linkit.com/apidev/" phprootsecure="https://www.linkit.com/ardev/linkitModuleLaunch/proc/">
			
<!-- 
	<urls serverroot="http://www.linkit.com/apidev/" phproot="http://www.linkit.com/ardev/linkit_AR3_devDevAPI/proc/"
			serverrootsecure="https://www.linkit.com/apidev" phprootsecure="https://www.linkit.com/ardev/linkit_AR3_devDevAPI/proc/">
 -->
	
		
		<login>{$SERVER_ROOT}adminreporting.asmx/GetUserByUserNameAndDarkPassword</login>
		<loginWithToken>{$SERVER_ROOT}adminreporting.asmx/GetUserByTransferToken</loginWithToken>
		<logindistrictlevel>{$SERVER_ROOT}adminreporting.asmx/GetUserByUserNameAndPasswordAndDistrictID</logindistrictlevel>
		<loginstatelevel>{$SERVER_ROOT}adminreporting.asmx/GetUserByUserNameAndPasswordAndStateID</loginstatelevel>
		<echodata>proc/echodata.php</echodata>
		<exportusagedata>{$PHP_ROOT}exportUsageData.php</exportusagedata>
		<savereport>{$SERVER_ROOT}adminreporting.asmx/CreateReportSet</savereport>
		<!-- <updatereportset>{$PHP_ROOT}saveReportSet.php</updatereportset> -->
		<updatereportset>{$SERVER_ROOT}adminreporting.asmx/UpdateReportSet</updatereportset>
		<updatereportsetname>{$SERVER_ROOT}adminreporting.asmx/UpdateReportSetName</updatereportsetname>
		<createusersettings>{$SERVER_ROOT}adminreporting.asmx/CreateUserSetting</createusersettings>
		<getusersettings>{$SERVER_ROOT}adminreporting.asmx/GetUserSettingByUserID</getusersettings>
		<updateusersettings>{$SERVER_ROOT}adminreporting.asmx/UpdateUserSetting</updateusersettings>
		<reportlist>{$SERVER_ROOT}adminreporting.asmx/GetReportSetsByUserID</reportlist>
		<getreportset>{$SERVER_ROOT}adminreporting.asmx/GetReportSetByReportSetID</getreportset>
		<deletereportset>{$SERVER_ROOT}adminreporting.asmx/DeleteReportSet</deletereportset>
		<publishreportset>{$SERVER_ROOT}adminreporting.asmx/CreatePublishedReport</publishreportset>
		<authenticate>{$SERVER_ROOT}adminreporting.asmx/Authenticate</authenticate>
		<authenticateAR>{$SERVER_ROOT}adminreporting.asmx/AuthenticateAR</authenticateAR>
		<authenticatebytransfertoken>{$SERVER_ROOT}adminreporting.asmx/AuthenticateByTransferToken</authenticatebytransfertoken>
		<reauthenticate>{$SERVER_ROOT}adminreporting.asmx/ReAuthenticate</reauthenticate>
		<getuserbytoken>{$SERVER_ROOT}adminreporting.asmx/GetUserFromToken</getuserbytoken>
		<statebystateid>{$SERVER_ROOT}adminreporting.asmx/GetStateByStateID</statebystateid>
		<districtbydistrictid>{$SERVER_ROOT}adminreporting.asmx/GetDistrictByDistrictID</districtbydistrictid>
		<schoolbyschoolid>{$SERVER_ROOT}adminreporting.asmx/GetSchoolBySchoolID</schoolbyschoolid>
		<teacherbyteacherid>{$SERVER_ROOT}adminreporting.asmx/GetTeacherByTeacherID</teacherbyteacherid>
		<districtsbystateid>{$SERVER_ROOT}adminreporting.asmx/GetDistrictsByStateID</districtsbystateid>
		<districtsbyuserid>{$SERVER_ROOT}adminreporting.asmx/GetDistrictsRegionByUserID</districtsbyuserid>
		<regionsbyuserid>{$SERVER_ROOT}adminreporting.asmx/GetRegionsByUserID</regionsbyuserid>
		<districtsbyregionid>{$SERVER_ROOT}adminreporting.asmx/GetDistrictsByRegionID</districtsbyregionid>
		<schoolsbydistrictid>{$SERVER_ROOT}adminreporting.asmx/GetSchoolsByDistrictID</schoolsbydistrictid>
		<teacherssbyschoolid>{$SERVER_ROOT}adminreporting.asmx/GetUsersByRoleAndSchoolID</teacherssbyschoolid>
		<gradesbydistrictid>{$SERVER_ROOT}adminreporting.asmx/GetGradesByDistrictID</gradesbydistrictid>
		<genders>{$SERVER_ROOT}adminreporting.asmx/GetGenders</genders>
		<studentsbyclassid>{$PHP_ROOT}linkit.php/getStudentsByClass</studentsbyclassid>
		
		
		<racesbydistrictid>{$SERVER_ROOT}adminreporting.asmx/GetRacesByDistrictID</racesbydistrictid>
		<programsbydistrictid>{$SERVER_ROOT}adminreporting.asmx/GetProgramsByDistrictID</programsbydistrictid>
		<!-- <subjectsbyquery>{$SERVER_ROOT}adminreporting.asmx/GetSubjectsByQuery</subjectsbyquery> -->
		<getstates>{$SERVER_ROOT}adminreporting.asmx/GetStates</getstates>
		<getstatesNT>{$SERVER_ROOT}adminreporting.asmx/GetStateNT</getstatesNT>
		<getdistrictsbystateid>{$SERVER_ROOT}adminreporting.asmx/GetDistrictsByStateID</getdistrictsbystateid>
		<getdistrictsbystateidNT>{$SERVER_ROOT}adminreporting.asmx/GetDistrictsByStateIDNT</getdistrictsbystateidNT>

		<studentbyid>{$SERVER_ROOT}adminreporting.asmx/GetStudentByStudentID</studentbyid>
		<studentsbyteacher>{$SERVER_ROOT}adminreporting.asmx/GetStudentsByUserID</studentsbyteacher>
		
<!--		<schoolsbyteacher>{$SERVER_ROOT}adminreporting.asmx/GetSchoolsByQuery</schoolsbyteacher>-->
		<updateuser>{$SERVER_ROOT}adminreporting.asmx/UpdateUser</updateuser>
		<getroles>{$SERVER_ROOT}adminreporting.asmx/GetRoles</getroles>
<!--		<query>{$SERVER_ROOT}adminreporting.asmx/Query</query>-->
		<sendmail>{$SERVER_ROOT}adminreporting.asmx/SendEmail</sendmail>
		
		<!-- <viewer>http://localhost/linkit_4/linkit_AR_4.html</viewer> -->
		<viewer>http://www.linkit.com/ardev/linkit_AR3_dev/linkit_AR3.html</viewer>
		
		<getlessonsbygrade>{$PHP_ROOT}linkit.php/getLessonsByGrade</getlessonsbygrade>
		<getskillsbygrade>{$PHP_ROOT}linkit.php/getSkillsByGrade</getskillsbygrade>
		<getslpstrings>{$PHP_ROOT}linkit.php/getSlpStrings</getslpstrings>
		
		<DSTCfortest>{$PHP_ROOT}linkit.php/ianalGetD_S_T_CForTest</DSTCfortest>
		
		
		<usgtopleveldata>{$PHP_ROOT}linkit.php/usgGetTopLevelData</usgtopleveldata>
		<usgdeeperdata>{$PHP_ROOT}linkit.php/usgGetDeeperData</usgdeeperdata>
		<usgdistrictdata>{$PHP_ROOT}linkit.php/usgGetDistrictData</usgdistrictdata>
		<usgdistrictbyschooldata>{$PHP_ROOT}linkit.php/usgGetDistrictBySchoolData</usgdistrictbyschooldata>
		<usgdistrictbygradedata>{$PHP_ROOT}linkit.php/usgGetDistrictByGradeData</usgdistrictbygradedata>
		<usgdistrictbysubjectdata>{$PHP_ROOT}linkit.php/usgGetDistrictBySubjectData</usgdistrictbysubjectdata>
		<usgexportdata>{$PHP_ROOT}linkit.php/usgExportUsageData</usgexportdata>
		
		
		<shtestresultsbystudent>{$PHP_ROOT}linkit.php/shGetTestResultsForStudent</shtestresultsbystudent>
		<shteacherssbyschool>{$PHP_ROOT}linkit.php/getTeachersBySchool</shteacherssbyschool>
		<shstudentsbyteacher>{$PHP_ROOT}linkit.php/getCurrentStudentsByTeacherUser</shstudentsbyteacher>
		<studentbycode>{$SERVER_ROOT}adminreporting.asmx/GetStudentByDistrictIDAndCode</studentbycode>
		
		<datedifference>{$PHP_ROOT}linkit.php/getDateDifference</datedifference>
		<races>{$PHP_ROOT}linkit.php/getRaces</races>
		<statestandarddescriptors>{$PHP_ROOT}linkit.php/getStateStandardDescriptors</statestandarddescriptors>
		<subjectsbydistrict>{$PHP_ROOT}linkit.php/getSubjectsByDistrict</subjectsbydistrict>
		<gradesubjectsbydistrict>{$PHP_ROOT}linkit.php/getGradeSubjectsByDistrict</gradesubjectsbydistrict>
		<subjectsbystatecodeandgrade>{$SERVER_ROOT}adminreporting.asmx/GetSubjectsByStateCodeAndGradeID</subjectsbystatecodeandgrade>
		<teachersbydistrict>{$PHP_ROOT}linkit.php/getTeachersByDistrict</teachersbydistrict>
		<getstandardreport>{$PHP_ROOT}linkit.php/getStandardReport</getstandardreport>
		<getmasteryreport>{$PHP_ROOT}linkit.php/getMasteryReport</getmasteryreport>
		<getmasteryreportTR>{$PHP_ROOT}linkit.php/getMasteryReportTR</getmasteryreportTR>
		<getlegacyreport>{$PHP_ROOT}linkit.php/getLegacyReport</getlegacyreport>
		<getlegacymasteryreport>{$PHP_ROOT}linkit.php/getLegacyMasteryReport</getlegacymasteryreport>
		<getlegacytestaggregatereport>{$PHP_ROOT}linkit.php/getLegacyTestAggregateReport</getlegacytestaggregatereport>
		<getmaterialdata>{$PHP_ROOT}linkit.php/getMaterialData</getmaterialdata>
		<getachievementlevelsettings>{$PHP_ROOT}linkit.php/getAchievementLevelSettings</getachievementlevelsettings>
		<getfilteredclasses>{$PHP_ROOT}linkit.php/getFilteredClassesList</getfilteredclasses>
		<getfilteredstudentlist>{$PHP_ROOT}linkit.php/getFilteredStudentList</getfilteredstudentlist>
		<getgradebytest>{$PHP_ROOT}linkit.php/getGradeByTest</getgradebytest>
		
		<getresultstablebystudent>{$PHP_ROOT}linkit.php/getResultsTableReportByStudentDev</getresultstablebystudent>
		
		<currentclassesforteacher>{$PHP_ROOT}linkit.php/getCurrentClassesForTeacher</currentclassesforteacher>
		
		<getvirtualtestsbysubject>{$PHP_ROOT}linkit.php/getVirtualTestsBySubject</getvirtualtestsbysubject>
		
		<gpgstandardreport>{$PHP_ROOT}linkit.php/gpgGetStandardReport</gpgstandardreport>
		
		
		
		
		<recreateassessment>{$PHP_ROOT}linkit.php/reCreateAssessment</recreateassessment>
		<regetassessmentsfordistrict>{$PHP_ROOT}linkit.php/reGetAssessmentsForDistrict</regetassessmentsfordistrict>
		<recreatelegacytestresult>{$PHP_ROOT}linkit.php/reCreateLegacyTestResult</recreatelegacytestresult>
		<regetstudentsforclassfortest>{$PHP_ROOT}linkit.php/reGetStudentsByClassForTest</regetstudentsforclassfortest>
		
		<viewergetreportsetfromcode>{$PHP_ROOT}linkit.php/viewerGetReportSetFromCode</viewergetreportsetfromcode>
		
		<learningtargetdata>http://www.linkit.com/ardev/linkit_AR3_devB/proc/ltdata/LTResultSet.xml</learningtargetdata>
		
		<createTransferToken>{$SERVER_ROOT}adminreporting.asmx/CreateTransferToken2</createTransferToken>
	</urls>
	
	<accesscontrol>
		<xliareaid>5</xliareaid>
	</accesscontrol>
	<modules >
		<module moduleRef="testAssignment" name="Test Assignment" url="testAssignmentModule.swf" accessLevel="4" district="272,1253,1193,1273"/>
	
		<module moduleRef="resultsEntry" name="Results Entry" url="resultsEntryModule.swf"  accessLevel="4" district="272"/>
	</modules>
	
	
	<supmodules >
		<module name="Access Control" url="accessControlModule.swf" accessLevel="0"/>
		<module name="Item Analysis (old)" url="itemAnalysisModule.swf" accessLevel="4"/>
		<module name="API Tester" url="APITesterModule.swf" accessLevel="0"/>
		<module name="Learning Targets" url="learningTargetsModule.swf" accessLevel="0"/>
		<module name="Natomas Module" url="natomasModule.swf" accessLevel="0"/>
		<module name="Natomas API Module" url="natomasAPIModule.swf" accessLevel="0"/>
		<module name="CA Reports" url="CAReportsModule.swf" accessLevel="4" district="1228,1197"/>
		
		<module name="Test Assignment" url="testAssignmentModule.swf" accessLevel="4" district="272,1253,1193,1273"/>
		
		<module name="Custom Reports" url="customReportsModule.swf"  accessLevel="4" district="272"/>
		
		<module name="Results Entry" url="resultsEntryModule.swf"  accessLevel="4" district="272"/>
		
	</supmodules>
	

	
	<xliroles>
		<role>
			<roleid>3</roleid>
			<name>District Administrator</name>
		</role>
		<role>
			<roleid>8</roleid>
			<name>School Administrator</name>
		</role>
		<role>
			<roleid>2</roleid>
			<name>Teacher</name>
		</role>
	</xliroles>
	
	<wikihelp>
		<module name="dashboardModule.swf">http://184.106.183.17:8090/display/LinkItApp/Part+VI-B.+Data+Dashboard</module>
		<module name="standardModule.swf">http://184.106.183.17:8090/pages/viewpage.action?pageId=524340</module>
		<module name="itemAnalysis2Module.swf">http://184.106.183.17:8090/display/LinkItApp/Part+VI-D.+Item+Analysis+Module</module>
		<module name="validationModule.swf">http://184.106.183.17:8090/display/LinkItApp/Part+VI-E.+Validation+Module</module>
		<module name="groupingModule.swf">http://184.106.183.17:8090/display/LinkItApp/Part+VI-F.+Grouping+Module</module>
		<module name="studentHistoryModule.swf">http://184.106.183.17:8090/display/LinkItApp/Part+VI-G.+Student+History</module>
		<module name="usageModule.swf">http://184.106.183.17:8090/display/LinkItApp/Part+VI-H.+Usage+Module</module>
		
		
	</wikihelp>
	
</config>