/*--------------------------------*\
    #GENERIC
\*--------------------------------*/
.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.veryLargeText {
    font-size: 28px;
    line-height: 32px;
}

.largeText {
    font-size: 20px;
    line-height: 24px;
}

.smallText {
    font-size: 10px;
    line-height: 14px
}

.center {
    text-align: center;
}

.sup,
sup,
.sub,
sub {
    position: relative;
    vertical-align: middle;
    font-size: smaller;
    padding-left: 2px;
}

.sup,
sup {
    top: -4px;
}

.sub,
sub {
    bottom: -4px;
}

.boxedText {
    border: 1px solid #000;
    padding: 0 5px;
    display: inline-block;
}

.MathJax > nobr > .math > :empty {
    border-left-color: transparent !important;
}
