/*--------------------------------*\
    #TABLE
\*--------------------------------*/
table {
    border: solid 1px #000;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
}

table th,
table td {
    border: solid 1px #000;
    vertical-align: top;
    padding: 5px;
}
