<modal-component v-bind:show.sync="isShowModalArtifactFolder"
                 class="is-dark artifactFolderModal modalUploadFile custom-preview-form-popup"
                 style="display: none;" id="idArtifactFolderModal">
    <div slot="close">
        <a href="#" class="modal-component-close" v-on:click="closeArtifactModal">Close</a>
    </div>
    <div slot="header">
        <div class="block-heading">
            <h1 v-if="artifactFolderModalVM.isMassUpload" class="title-large is-active"> Upload Artifacts</h1>
            <h1 v-else class="block-heading-item is-active"> {{ studentName }} - {{ artifactFolderModalVM.currentScore }} - Artifacts</h1>
        </div>
    </div>
    <div slot="body">
        <div class="upload-artifact-area mb-2">
            <div style="width: 100%; display: inline-flex">
                <label class="mb-2" for="rdUploadFile">
                    Upload File ({{artifactFolderModalVM.allowFileTypes}})
                    <span class="icon icon-info with-tip align-left d-inline-block" title="{{warningFileSize}}">
                    </span>
                </label>
            </div>
            <div class="">
                <input id="file_upload_artifact" name="file_upload_artifact" type="file" class="js-upload-artifact btn-choose-file">
                <input style="display: none" id="file_folder_artifact" name="file_folder_artifact" type="file" class="js-folder-artifact" webkitdirectory mozdirectory>
                <div class="d-inline-block mx-2">
                    Or
                </div>
                <div class="link-artifact-input d-inline-block">
                    <div class="form d-inline-block">
                        <input placeholder="Insert Link..." type="text" v-model="artifactFolderModalVM.inputLink" class="u-w-320">
                    </div>
                    <a style="cursor:pointer" class="d-inline-block align-middle" v-on:click="addLinkArtifact()">
                        <i class="fa-solid fa-plus ms-2 icon-red"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="u-clear" v-if="artifactFolderModalVM.msgError != ''">
            <span class="u-m-t-10 u-m-l-25 u-c-light-red u-fw-700 u-inline-block" v-text="artifactFolderModalVM.msgError"></span>
        </div>

        <div class="list-artifacts mt-2">
            <div v-if="artifactFolderModalVM.isShowPopUpModalErrorFileUploadMass" v-html="artifactFolderModalVM.objectPopUpModalErrorFileUploadMass" style="padding-left: 15px; color: var(--red); margin-bottom: 13px "></div>
            <table id="tableArtifactFolder" style="width: 100%; table-layout: fixed" class="table no-margin">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%">Actions</th>
                        <th scope="col">Artifact name</th>
                        <th scope="col" v-if="tagList.length > 1">Tag</th>
                        <th scope="col" v-if="artifactFolderModalVM.isMassUpload">Student</th>
                        <th scope="col" style="width: 20%">Uploaded Date</th>
                    </tr>
                </thead>
                <tbody v-if="artifactFolderModalVM.artifacts.length > 0">
                    <tr v-for="(index, artifact) in artifactFolderModalVM.artifacts" :key="index">
                        <td class="text-center">
                            <a style="cursor:pointer" v-on:click="removeArtifact(artifact.Name)" title="Delete Artifact">
                                <i class="fa-solid fa-circle-minus icon-red"></i>
                            </a>
                        </td>
                        <td>
                            <div>
                                <a class="text-decoration-none" href="#" v-on:click="handleDownloadFile(artifact)">
                                    <span>
                                        <img class="icon" style="height:16px;" v-if="artifact.IsLink" src="@Url.Content("~/Content/themes/Constellation/images/icons/icon-link.svg")" />
                                        <i v-else class="fa-regular fa-file"></i>
                                    </span>
                                    <span class="file-name">{{ artifact.DisplayName }}</span>
                                </a>
                                <a v-if="artifact.FileType !== 'document' && !artifact.IsLink" class="btn-icon btn-icon--preview" :disabled="shared.isRecording" title="Preview" href="#" v-on:click="handlePreviewItem(artifact)"></a>
                            </div>
                        </td>
                        <td v-if="tagList.length > 1" class="tag">
                            <lazy-component>
                                <select id="selectTag" class="w-100" v-model="artifact.TagValue">
                                    <option v-for="item in tagList" v-bind:value="item">{{ item }}</option>
                                </select>
                            </lazy-component>
                        </td>
                        <td v-if="artifactFolderModalVM.isMassUpload">
                            <lazy-component>
                                <select2 :options="selectStudentsList"
                                         class="u-full-width select2-student"
                                         :value="artifact.StudentID"
                                         @@change="setStudentForArtifact(artifact.DocumentGuid, $arguments[0])"
                                >
                                </select2>
                            </lazy-component>
                        </td>
                        <td>
                            {{ artifact.UploadDate | formatDate }}
                        </td>
                    </tr>
                </tbody>
                <tbody v-else>
                    <tr v-if="tagList.length > 1 && artifactFolderModalVM.isMassUpload">
                        <td colspan="5" class="no-upload">No Artifacts uploaded.</td>
                    </tr>
                    <tr v-else>
                        <td colspan="4" v-if="tagList.length > 1 || artifactFolderModalVM.isMassUpload" class="no-upload">No Artifacts uploaded.</td>
                        <td colspan="3" v-else class="no-upload">No Artifacts uploaded.</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div slot="footer">
        <button v-on:click="closeArtifactModal">Cancel</button>
        <button v-on:click="okFolderModal">Save</button>
    </div>
</modal-component>

<script type="text/javascript">

</script>

<style>
    .btn-icon {
        display: inline-block;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 0.5rem;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1rem;
        float: right;
    }

    .btn-icon:disabled {
        pointer-events: none;
    }

    .btn-icon:hover {
        background-color: rgb(0, 0, 0, 0.2);
    }

    .btn-icon--preview {
        background-image: url(/Content/images/icons/preview-eye.png);
    }

    #idArtifactFolderModal .container-content {
        display: flex;
        flex-direction: column;
        max-height: 90vh;
    }

    #idArtifactFolderModal .block-content {
        flex-grow: 1;
        overflow-y: auto;
    }

    #idArtifactFolderModal .foot-content {
        flex-shrink: 0;
    }
    #idArtifactFolderModal .modal-component-container,
    #idArtifactFolderModal .modal-component-content,
    #idArtifactFolderModal .modal-component-body,
    #idArtifactFolderModal .modal-component-body > div {
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    #idArtifactFolderModal .modal-component-body {
        padding: 1.25rem 2rem
    }
    #idArtifactFolderModal .modal-component-container {
        max-height: 100vh;
    }
    #idArtifactFolderModal .list-artifacts {
        max-height: unset !important;
    }
    #portal-v2-containter #idArtifactFolderModal #tableArtifactFolder tr td {
        padding: 10px 18px;
    }
</style>
