<modal-component 
    v-bind:show.sync="isShowModalWarningChooseStudent" 
    v-bind:width="460" 
    class="modal-component-studententry is-dark" 
    style="display: none;">
    <div slot="header"></div>
    <div slot="body">
        <div class="studententry-modal">
            <p  style="font-weight:700">Warning! Not all artifacts are associated with students and will be removed unless first associated with a student. Do you want to continue?</p>
        </div>
    </div>
    <div slot="footer">
        <button v-on:click="toggleWarningChooseStudent">Cancel</button>
        <button v-on:click="confirmYesWarningChooseStudent">OK</button>
    </div>
</modal-component>
