<modal-component v-bind:show.sync="isShowModalWarning"
                 v-bind:width="460"
                 class="modal-component-studententry is-dark"
                 style="display: none;">
    <div slot="close"></div>
    <div slot="header"></div>
    <div slot="body">
        <div class="studententry-modal">
            <p style="font-weight:700">There is a draft version that saved automatically from your last update.Do you want to continue working on it?</p>
        </div>
    </div>
    <div slot="footer">
        <button v-on:click="loadDataFromAutoSave(false)">Cancel</button>
        <button v-on:click="loadDataFromAutoSave(true)">OK</button>
    </div>
</modal-component>
