<modal-component 
    v-bind:show.sync="isShowModalClearAllScore" 
    v-bind:width="520" 
    class="modal-component-studententry is-dark" 
    style="display: none;">
    <div slot="header"></div>
    <div slot="body">
        <div class="studententry-modal">
            <p style="font-weight:700">Are you sure you want to delete all scores on this test for the students displayed?</p>
        </div>
    </div>
    <div slot="footer">
        <button v-on:click="toggleClearAllScore">Cancel</button>
        <button v-on:click="confirmClearAllScore">Delete All Scores</button>
    </div>
</modal-component>
