<modal-component v-bind:show.sync="isShowModalWarningPublishToPortal"
                 v-bind:width="460"
                 class="modal-component-studententry is-dark"
                 style="display: none;">
    <div slot="header"></div>
    <div slot="body">
        <div class="studententry-modal">
            <p style="font-weight:700">You must save before publishing. Would you like to save your changes?</p>
        </div>
    </div>
    <div slot="footer">
        <button v-on:click="toggleWarningPublishToStudentPortal">Cancel</button>
        <button v-on:click="confirmSavePublishStudentPortal">Save Results</button>
    </div>
</modal-component>
