<modal-component :show.sync="isShowPreview" :width="600" @@update:show="onClosePreview">
    <template slot="header">
        <h3>Preview: {{ itemPreview.Name }}</h3>
    </template>
    <template slot="body">
        <img v-if="itemPreview.FileType === 'image'" :src="itemPreview.Url" style="max-width: 100%" />
        <audio v-if="itemPreview.FileType === 'audio'" style="width: 100%" controls autoplay>
            <source :src="itemPreview.Url" type="audio/wav" />
        </audio>
        <video v-if="itemPreview.FileType === 'video'" :src="itemPreview.Url" style="width: 100%" controls autoplay>
            <source :src="itemPreview.Url" type="video/webm" />
        </video>
    </template>
    <template slot="footer">
        <div slot="footer">
            <button v-on:click="onClosePreview()">Close</button>
        </div>
    </template>
</modal-component>

<script>
</script>

<style>
</style>
