@using LinkIt.BubbleSheetPortal.Common
@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.SGOReportMasterViewModel
<div class="panel divbreakpage">
    <div class="panel-heading"><h3>Final Review Feedback</h3></div>
    <div class="panel-body">
        @if (!string.IsNullOrEmpty(Model.SgoCustomInformation.TeacherComment))
        {
            <strong>Teacher comment:</strong><br />
            @Html.Raw(Html.Encode(Model.SgoCustomInformation.TeacherComment))
        }

        @if (!string.IsNullOrEmpty(Model.SgoCustomInformation.AdminComment))
        {
            <br /><br />
            <strong>Admin comment:</strong><br />
            @Html.Raw(Html.Encode(Model.SgoCustomInformation.AdminComment))
        }
    </div>
</div>