@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.SGOReportMasterViewModel
<div class="panel divbreakpage">
    <div class="panel-heading"><h3>Preparation Review Feedback</h3></div>
    <div class="panel-body">@Html.Raw(Html.Encode(Model.SgoCustomInformation.Feedback))</div>
</div>