@using LinkIt.BubbleSheetPortal.Models.SGO
@using StringExtensions = LinkIt.BubbleSheetPortal.Common.StringExtensions
@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.SGOReportMasterViewModel
<div class="sgoPrintBreakNewPage"></div>

<table class="table table-guidance">
    <tr>
        <td class="u-size-185">
            <strong>Scoring Plan:</strong>
        </td>
    </tr>
</table>

<table class="table table-scoring-plan u-text-center">
    <thead>
        <tr>
            <td><strong>Goal</strong></td>

            @foreach (var item in Model.SgoAttainmentGoals)
            {
                <td><strong>@item.Name (@item.Order)</strong></td>

            }
        </tr>
    </thead>
    <tbody>
        @foreach (var sgoGroup in Model.SgoGroups)
        {
            <tr>
                <td>
                    <b>@sgoGroup.TargetScoreCustom</b>
                </td>
                @foreach (var sgoAttainmentGoal in Model.SgoAttainmentGoals)
                {
                    <td>
                        @{
                            var sgoAttainmentGroup = Model.SgoAttainmentGroups.FirstOrDefault(x => x.SGOGroupId == sgoGroup.SGOGroupID && x.SGOAttainmentGoalId == sgoAttainmentGoal.SGOAttainmentGoalId);
                        }

                        @if (sgoAttainmentGroup != null)
                        {
                            <span>@sgoAttainmentGroup.GoalValueCustom</span>
                        }
                    </td>
                }
            </tr>
        }
        @if (!Model.SgoGroups.Any())
        {
            <tr>
                <td></td>
                <td></td>
                @foreach (var item in Model.SgoAttainmentGoals)
                {
                    <td></td>
                }
            </tr>
        }
        <tr>
        </tr>
    </tbody>
</table>
