.bubbleSheetClassReviewPage {
    display: inline-block;
    background: #fff;
    border: 1px solid darkgrey;
    color: #444;
    padding: 0.665em;
    line-height: 1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.bubbleSheetClassReviewPage.is-checked {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(53, 117, 146)), color-stop(0.03, rgb(114, 198, 228)), to(rgb(12, 95, 165)));
    color: #fff;
    cursor: default;
    pointer-events: none;
    border-color: rgb(80, 163, 200) rgb(41, 124, 180) rgb(8, 63, 111);
}

.bubbleSheetClassReviewPage.is-first {
    border-radius: 6px 0 0 6px;
}

.bubbleSheetClassReviewPage.is-second {
    border-left: 0;
    border-radius: 0 6px 6px 0;
}

.bubbleSheetClassReviewFullscreen [vue="bubbleSheetClassReview"] {
    border-color: rgb(80, 163, 200) rgb(41, 124, 180) rgb(8, 63, 111);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(53, 117, 146)), color-stop(0.03, rgb(114, 198, 228)), to(rgb(12, 95, 165)));
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 101;
    padding: 0.667em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.bubbleSheetClassReviewFullscreen .bubbleSheetClassReviewWrapper {
    background: #fff;
    height: 100%;
    padding: 0.167em 1.667em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.bubbleSheetClassReviewFullscreen .bubbleSheetClassReviewContainer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    min-width: 960px;
}

.bubbleSheetClassReviewFullscreen .bubbleSheetClassReviewTable {
    height: calc(100vh - 265px);
}

.bubbleSheetClassReviewFullscreen .bubbleSheetClassReviewBorder {
    border-color: transparent;
    box-shadow: none;
}

.bubbleSheetClassReviewFullscreen .bubbleSheetClassReviewBorder .block-content {
    padding-bottom: 0.667em;
}

.bubbleSheetClassReviewStatus {
    margin-left: 7px;
}

.bubbleSheetClassReviewStatus:first-child {
    margin-left: 0;
}

.bubbleSheetClassReviewStatus input[type="checkbox"] {
    margin: 0 0 -2px 0;
}

.bubbleSheetClassReviewStatusColor {
    border: 1px solid transparent;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.bubbleSheetClassReviewImage img {
    max-width: 100%;
    height: auto;
}


.bubbleSheetClassReviewImage img.broken {
    width:  150px;
    height: 100px;
    display: block;
    position: relative;
}

.bubbleSheetClassReviewImage img.broken:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% + 10px);
    width: 100%;
    background-color: rgb(235, 235, 235);
    border: 2px dotted rgb(200, 200, 200);
    border-radius: 5px;
}

.bubbleSheetClassReviewImage img.broken:after { 
    content: "Broken Image";
    display: block;
    font-size: 16px;
    font-style: normal;
    color: rgb(100, 100, 100);
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
}

.bubbleSheetClassReviewImage {
    white-space: nowrap;
}

.bubbleSheetClassReviewTable .handsontable table thead th {
    word-wrap:break-word;
    white-space: pre-line;
}

.bubbleSheetClassReviewTable td.is-missing,
.bubbleSheetClassReviewTable td.is-missing.currentRow {
    background-color: #ff0000;
}

.bubbleSheetClassReviewTable td.is-multi-mark,
.bubbleSheetClassReviewTable td.is-multi-mark.currentRow {
    background-color: #ed7d31;
}

.bubbleSheetClassReviewTable td.is-incomplete,
.bubbleSheetClassReviewTable td.is-incomplete.currentRow {
    background-color: #ffff00;
}

.bubbleSheetClassReviewTable td.is-open-ended,
.bubbleSheetClassReviewTable td.is-open-ended.currentRow {
    background-color: #9dc3e6;
}

.bubbleSheetClassReviewTable td.is-finished,
.bubbleSheetClassReviewTable td.is-review,
.bubbleSheetClassReviewTable td.is-not-grading {
    position: relative;
}

.bubbleSheetClassReviewTable td.is-finished::before,
.bubbleSheetClassReviewTable td.is-review::before,
.bubbleSheetClassReviewTable td.is-not-grading::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.bubbleSheetClassReviewTable td.is-finished::before {
    border-top-color: #00b050;
}

.bubbleSheetClassReviewTable td.is-review::before {
    border-top-color: #dcdcdc;
}

.bubbleSheetClassReviewTable td.is-not-grading::before {
    border-top-color: #ff0000;
}

.bubbleSheetClassReviewTable td.currentRow {
    background: -moz-linear-gradient(top,rgba(181,209,255,0.34) 0,rgba(181,209,255,0.34) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(181,209,255,0.34)),color-stop(100%,rgba(181,209,255,0.34)));
    background: -webkit-linear-gradient(top,rgba(181,209,255,0.34) 0,rgba(181,209,255,0.34) 100%);
    background: -o-linear-gradient(top,rgba(181,209,255,0.34) 0,rgba(181,209,255,0.34) 100%);
    background: -ms-linear-gradient(top,rgba(181,209,255,0.34) 0,rgba(181,209,255,0.34) 100%);
    background: linear-gradient(to bottom,rgba(181,209,255,0.34) 0,rgba(181,209,255,0.34) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57b5d1ff',endColorstr='#57b5d1ff',GradientType=0);
}

.bubbleSheetClassReviewTable tr td.currentRow:nth-child(1),
.bubbleSheetClassReviewTable tr td.currentRow:nth-child(2),
.bubbleSheetClassReviewTable tr td.currentRow:nth-child(3),
.bubbleSheetClassReviewTable tr td.currentRow:nth-child(4) {
    background-color: #fff;
}

.bubbleSheetClassReviewTable td[data-invalid] {
    background-color: #f78b83;
}

.bubbleSheetClassReviewTable td.is-readonly {
    background: #c3c3c3 !important;
}

.bubbleSheetClassReviewTable .handsontable th {
    overflow: unset;
}

.bubbleSheetClassReviewTable thead span[data-title] {
    position: relative;
    display: inline-block;
}

.bubbleSheetClassReviewTable thead span[data-title]:hover::before,
.bubbleSheetClassReviewTable thead span[data-title]:hover::after,
.bubbleSheetClassReviewTable thead span[data-title]:focus::before,
.bubbleSheetClassReviewTable thead span[data-title]:focus::after {
    visibility: visible;
    opacity: 1;
    transition: 0.2s 0.3s;
    -webkit-transition: 0.2s 0.3s;
    -ms-transition: 0.2s 0.3s;
}

.bubbleSheetClassReviewTable thead span[data-title]::before,
.bubbleSheetClassReviewTable thead span[data-title]::after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -ms-transition: 0.2s;
}

.bubbleSheetClassReviewTable thead span[data-title]::before {
    content: "";
    border: 5px solid transparent;
    bottom: 0;
    z-index: 1000001;
}

.bubbleSheetClassReviewTable thead span[data-title]::after {
    content: attr(data-title);
    background-color: #ffffa3;
    border-radius: 3px;
    color: #666;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    padding: 2px 7px;
    white-space: nowrap;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.bubbleSheetClassReviewTable thead span[data-title]:hover::before,
.bubbleSheetClassReviewTable thead span[data-title]:focus::before {
    top: -15%;
}

.bubbleSheetClassReviewTable thead span[data-title]:hover::after,
.bubbleSheetClassReviewTable thead span[data-title]:focus::after {
    bottom: 115%;
}

.bubbleSheetClassReviewTable thead span[data-title]::before,
.bubbleSheetClassReviewTable thead span[data-title]::after {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.bubbleSheetClassReviewTable thead span[data-title]::before {
    border-top-color: #ffffa3;
    top: -35%;
}
.bubbleSheetClassReviewTable thead span[data-title]::after {
    bottom: 135%;
}

.bubbleSheetClassReviewCheckbox input[type="checkbox"] {
    margin-left: 0;
}

