@model LinkIt.BubbleSheetPortal.Web.ViewModels.BubbleSheetFileSubListViewModel

<div class="bubbleSheetClassReviewImage">
    @if (Model.ListFileSubViewModels != null && Model.ListFileSubViewModels.Count > 0)
    {

        for (var i = 0; i < Model.ListFileSubViewModels.Count; i++) 
        {
            <div class="bubbleSheetClassReviewImage__item u-inline-block">
                <img src="@Model.ListFileSubViewModels[i].ImageUrl" alt="" />
            </div>
        }
    }
</div>