<draggable-resizable-component 
    class="is-center"
    v-bind:show.sync="isShowBubbleSheetImage" 
    v-bind:width="550" 
    v-bind:restriction="[vue="bubbleSheetReviewDetails"]"
    v-el:bubble-sheet-image
    style="display: none;">
    <div slot="close">
        <a href="#" v-on:click.prevent="toggleBubbleSheetImageModal" class="modal-component-close">Close</a>
    </div>
    <div slot="body" class="u-text-center">
        <div v-html="bubbleSheetImageHtml"></div> 
    </div>
</draggable-resizable-component>
