<template id="attachment-dialog">
    <div>
        <modal-component ref="dialog" :show.sync="showDialog" @@update:show="handleCancelDialog" :width="width">
            <template slot="close"><span style="display: none"></span></template>
            <template slot="header">
                <div class="tabs">
                    <ul>
                        <li v-for="(tab, index) in allowTabs" :class="{ 'tab-view': true, 'is-active': activeTab === index }">
                            <a :disabled="shared.isRecording"
                               @@click.prevent="activeTab = index">
                                {{ tabsLabel[tab] }}
                            </a>
                        </li>
                    </ul>

                </div>
            </template>
            <template slot="body">
                <div class="tab-number-file">
                    <span><b>{{fileNumberStudent}}/1</b></span>
                </div>
                <div class="tab-container" v-if="!isFileLimitReached">
                    <keep-alive>
                        <component v-if="showDialog" :is="tabInstance" :items="attachmentsList" v-on="inputEventsBinding" />
                    </keep-alive>
                </div>
                <attacment-list :items="attachmentsList" v-on="listEventsBinding" />
            </template>
            <template slot="footer">
                <div class="actions">
                    <div class="flex-grow-1"></div>
                    <button class="grey" @@click="handleCancelDialog()" :disabled="shared.isRecording">Cancel</button>
                    <button @@click="handleSubmit" :disabled="shared.isRecording">{{shared.config.allowModification ? 'Save' : 'Submit'}}</button>
                </div>
            </template>
        </modal-component>
        <preview-item-dialog :show.sync="showPreview" :item="itemPreview"></preview-item-dialog>
        <confirm-modal v-model="showConfirm" :message="confirmMessage" v-on="{ onYesClick: handleConfirm }"></confirm-modal>
    </div>
</template>

<style>
    .flex-grow-1 {
        flex-grow: 1;
    }

    .modal-component-container .actions {
        display: flex;
        gap: 0.5rem;
    }

    .tabs .tab-view {
        float: left;
        background: #eee;
        cursor: pointer;
        border-radius: 6px 6px 0px 0px;
        border-right: 1px solid #3399cc;
    }

        .tabs .tab-view:last-child {
            border-right: none;
        }

        .tabs .tab-view a {
            padding: 10px 20px;
            display: block;
            font-size: 10pt;
        }

            .tabs .tab-view a[disabled] {
                pointer-events: none;
            }

    .tabs ul {
        border-bottom: 2px solid #d5d8db;
    }

        .tabs ul::after {
            content: '';
            clear: both;
            float: none;
            display: block;
        }

    .tabs .tab-view.is-active {
        border-bottom: none;
        background: -webkit-gradient( linear, left top, left bottom, from(white), to(#0c5fa5), color-stop(0.03, #72c6e4) );
    }

    .tabs .tab-view.is-active a {
        color: #fff;
    }
    .tab-number-file {
        margin-bottom: 5px;
        width: 99%;
        text-align: right;
    }
</style>
