@using LinkIt.BubbleSheetPortal.Web.Helpers
<style>
    #dataTable tbody td {
        word-break: break-all;
        word-wrap: break-word;
    }

    #portal-v2-containter * .no-margin.last-child {
        margin: 0;
    }

    #portal-v2-containter .last-child .block-pagination {
        margin-left: 0;
        margin-right: 0;
    }

    #portal-v2-containter table tbody td:first-child:not(:empty) a {
        display: inline-block;
    }

    #portal-v2-containter .modal-component-body {
        padding: 0px 24px 24px 24px;
    }

    #portal-v2-containter .modal-component-header {
        padding: 24px 0 0 24px;
    }

    #portal-v2-containter .ui-dialog .block-content {
        padding: 1.5rem !important;
        min-width: 240px;
    }

    #portal-v2-containter .ui-widget-content {
        background: none;
    }

    .mr-auto {
        margin-right: auto !important;
    }
    .cls-show-copydata {
        display: none;
        margin: 0px 3px 0px 10px;
    }
    .cls-copy {
        min-width: 0px;
        margin: -1px !important;
    }
</style>
<div class="block-border" id="divStudentSession">   
    <div class="form">
        <div class="block-heading cls-show-copydata">
            <button class="btn-blue cls-copy" type="button"
                    onclick="copyData()">
                Copy Data
            </button>
        </div>
        <table id="dataTableStudentSession" class="datatable table no-margin" width="100%">
            <thead>
                <tr>
                    <th scope="col">
                        <span class="column-sort">
                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                        </span>
                        Date
                    </th>

                    <th scope="col">
                        <span class="column-sort">
                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                        </span>
                        Entry Point
                    </th>
                    <th scope="col">
                        <span class="column-sort">
                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                        </span>
                        Browser
                    </th>
                    <th scope="col">
                        <span class="column-sort">
                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                        </span>
                        IP Address
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
    });

    function displayDataStudentSession() {
        var $datatableFilterManageClass = $('#dataTableStudentSession');
        var datatableSettings = {
            bServerSide: true,
            sServerMethod: "GET",
            bDestroy: true,
            bProcessing: false,
            sAjaxSource: '@Url.Action("GetStudentSession")',
            iDisplayLength: 10,
            aaSorting: [[0, "desc"]],
            aoColumns: [
                { sType: 'date', sName: 'TimeStamp', mData: 'TimeStamp', bSearchable: true, bSortable: true, bVisible: true },
                { sType: 'string', sName: 'PointOfEntryDisplay', mData: 'PointOfEntryDisplay', bSearchable: true, bSortable: true, bVisible: true },
                { sType: 'string', sName: 'BrowserNameDisplay', mData: 'BrowserNameDisplay', bSearchable: true, bSortable: true, bVisible: true },
                { sType: 'string',sName: 'StudentWANIP', mData: 'StudentWANIP', bSearchable: true, bSortable: true, bVisible: true, sWidth: '17%' }
            ],
            fnServerParams: function (aoData) {
                aoData.push(
                    { name: "studentId", value: StudentLookupApp.studentId }
                );
            },
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(aData['TimeStamp']);
                $('td:eq(1)', nRow).html(aData['PointOfEntryDisplay']);
                $('td:eq(2)', nRow).html(aData['BrowserNameDisplay']);
                $('td:eq(3)', nRow).html(aData['StudentWANIP']);
                return nRow;
            },
            fnPreDrawCallback: function () {
                $datatableFilterManageClass.css('width', 'auto').css('width', '100%');
                ShowBlock($datatableFilterManageClass, 'Loading');
                return true;
            },
            fnDrawCallback: function () {
                $datatableFilterManageClass.unblock();
                $datatableFilterManageClass.css('width', 'auto').css('width', '100%');
            },
            fnInitComplete: function () {
                tranformSearchInputDataTable('dataTableStudentSession_filter')
                var copyData = $('.cls-show-copydata'); 
                $('#divStudentSession .block-custom-header .data-table-action').append(copyData);
                $(".cls-show-copydata").show();
                $(".data-table-action").addClass("d-flex");
            }
        }        
        $datatableFilterManageClass.data('options', datatableSettings);
    }
</script>

