@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <title>Student Login Slip</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel='stylesheet' type='text/css'>
    <style>
        @@page {
            size: A4 portrait;
            margin: 52px 25px;
        }

        @@media print {
            .im-table {
                page-break-after: always !important;
            }

            body {
                -webkit-print-color-adjust: exact;
            }

            tr {
                page-break-inside: avoid;
            }

            .page-break {
                page-break-before: always; /* For older browsers */
                break-before: page; /* Modern spec */
            }
        }

        * {
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
        }

        table {
            font-family: 'Roboto', sans-serif;
            border-collapse: collapse;
            width: 100%;
            padding: 5px;
        }

        td {
            border: 1px solid #000000;
            text-align: left;
        }

        th {
            background-color: #dddddd;
            border: 1px solid #000000;
            text-align: center;
            padding: 4px;
        }

        p {
            margin: 2px;
        }

        .page-break {
            page-break-before: always; /* Or 'after' depending on your needs */
            break-before: page; /* Modern syntax */
        }

        .page .row > div:first-child {
            float: left !important;
        }

        .page .row > div:last-child {
            float: right;
        }
    </style>
</head>
<body>
    <div class="page">
        {content}
    </div>
</body>
</html >
