/*--------------------------------*\
    #MODAL COMPONENENT
\*--------------------------------*/
.modal-component {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-component-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-component-container {
    background: url(../images/old-browsers-bg/white20.png);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    border-color: rgba(255, 255, 255, 0.75);
    border-radius: 0.8em;
    box-shadow: 0 0 4px rgba(50, 50, 50, 0.5);
    width: 300px;
    margin: 0 auto;
    padding: 0.833em;
    transition: all .3s ease;
    position: relative;
}

.modal-component-close {
    background: url("/Content/themes/base/images/fancy_close.png") no-repeat;
    width: 33px;
    height: 34px;
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    right: -15px;
    top: -16px;
}

.modal-component-content {
    background-color: #fff;
    padding: 15px;
}

.modal-component-body {
    margin: 10px 0;
    line-height: 1.5;
}
#portal-v2-containter .modal-component-body {
  margin: 0 !important;
}

.modal-component-body .cke {
    border-bottom: 1px solid #b6b6b6;
}

.modal-component-enter,
.modal-component-leave {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.modal-component-enter .modal-component-container,
.modal-component-leave .modal-component-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.development-outcome-body {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 15px 0;
    padding: 10px;
}

.development-outcome-list li {
    margin: 7px 0;
}

.development-outcome-list li:after {
    content: "";
    display: table;
    clear: both;
}

.development-outcome-list li input[type="radio"],
.development-outcome-list li input[type="checkbox"],
.development-outcome-list li label {
    cursor: pointer;
    float: left;
    vertical-align: middle;
}

.development-outcome-list li input[type="radio"] {
    margin: 3px 0 0;
}

.development-outcome-list li input[type="checkbox"],
.development-outcome-list.is-child li input[type="radio"] {
    margin: 0;
}

.development-outcome-list li label {
    width: 95%;
    margin-left: 5px;
}

.development-outcome-footer {
    text-align: right;
}

.development-outcome-error {
    color: #fff;
    background-color: #c23934;
    padding: 7px 15px;
    border-radius: 4px;
    background-clip: padding-box;
    border: 1px solid #d8dde6;
    margin-bottom: 10px;
}

.development-outcome-title {
    display: inline-block;
	border: 1px solid;
	border-color: #50a3c8 #297cb4 #083f6f;
	background: #0c5fa5 url(../images/old-browsers-bg/button-element-bg.png) repeat-x left top;
	background-size: 100% 100%;
	background: -moz-linear-gradient( top, white, #72c6e4 4%, #0c5fa5 );
	background: -webkit-gradient( linear, left top, left bottom, from(white), to(#0c5fa5), color-stop(0.03, #72c6e4) );
	border-radius: 0.333em;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	font-size: 1.167em;
	padding: 0.286em 0.6em 0.357em;
	line-height: 1.429em;
	cursor: pointer;
	font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: -12px;
    left: 26px;
}

.development-outcome-heading {
    background: #dfdfdf url(/Content/themes/Constellation/images/old-browsers-bg/button-bg.png) repeat-x top;
    background: -moz-linear-gradient(top, #f6f6f6, #dfdfdf);
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#dfdfdf));
    background-size: 100% 100%;
    border: 1px solid #ccc;
    color: #333;
    font-size: 12px;
    margin: 10px 0 15px;
    padding: 7px 15px;
    border-radius: 3px;
}

.development-outcome-heading:first-child {
    margin-top: 0;
}

.btn-action-development-outcome,
.btn-action-development-outcome:hover,
.btn-action-development-outcome:focus {
    background: #dfdfdf url(/Content/themes/Constellation/images/old-browsers-bg/button-bg.png) repeat-x top;
    background: -moz-linear-gradient(top, #f6f6f6, #dfdfdf);
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#dfdfdf));
    background-size: 100% 100%;
    border: 1px solid #fcfcfc;
    color: #333;
    font-size: 12px;
    width: 100%;
    margin: 5px 0;
}

.btn-action-development-outcome.is-disabled {
    cursor: default;
    pointer-events: none;
}

.overflow-body {
    overflow: hidden;
}
.modal-component-draggable-resizable {
    position: fixed;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 9998;
}

.modal-component-draggable-resizable.is-center {
    left: 50%;
}

.modal-component-resize-handle {
    background: #dfdfdf url(/Content/themes/Constellation/images/old-browsers-bg/button-bg.png) repeat-x top;
    background: -moz-linear-gradient(top, #f6f6f6, #dfdfdf);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), color-stop(0.03, rgb(114, 198, 228)), to(rgb(12, 95, 165)));
    position: absolute;
    width: 20px;
    height: 20px;
    right: -3px;
    bottom: -3px;
    border: 3px solid #fff;
    border-radius: 100%;
}

.modal-component-body-resize {
    overflow: auto;
    max-height: 640px;
}

[vue="bubbleSheetClassReview"],
[vue="bubbleSheetReviewDetails"] {
    z-index: 101;
}
.modal-component-body .scroll-bar-modal {
  max-height: 400px;
  overflow-y: auto;
}

#dataTableRevertItem {
  max-height: 60vh;
  overflow: auto;

}

#dataTableRevertItem table {
  border-collapse: separate !important;
  border: none  !important
}

#dataTableRevertItem table th {
  position: sticky;
  z-index: 2;
  top: 0;
}

#dataTableRevertItem table tbody td {
  border-top: none !important;
}

#dataTableRevertItem table tbody td:not(:last-child),
#dataTableRevertItem table th:not(:last-child) {
  border-right: none !important;
}

