
.columns-filters {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    -ms-column-count: 2; /* IE10+ */
    column-count: 2;
    -webkit-column-gap: 15px; /* Chrome, Safari, Opera */
    -moz-column-gap: 15px; /* Firefox */
    -ms-column-gap: 15px; /* IE10+ */
    column-gap: 15px;
}

.columns-filters .columns-filter {
    width: 100%;
}

.columns-filter {
    display: inline-block;
    vertical-align: top;
    padding-right: 5px;
    width: 50%;
    margin-right: -.025em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.block-no-border {
    padding: 0;
    margin-top: 20px;
    box-shadow: none;
}

.block-no-border:first-child {
    margin-top: 3px;
}

.modal-component-manage-class {
    max-height: 600px;
    overflow: auto;
}

.modal-component-manage-class .block-no-border:first-child {
    border: 0;
}

.modal-component-manage-class .block-no-border:first-child .block-content {
    border: 0;
    padding: 0;
    box-shadow: none;
}

.modal-component-manage-class .block-controls {
    margin-top: 10px !important;
}
.modal-component-manage-class .block-footer {
    margin: 0 -0.025em;
}

.modal-component-manage-class .block-content .message.no-margin {
    margin-bottom: 0;
}

.manage-class-toggle {
    background-color: transparent !important;
    border-color: transparent !important;
}

.manage-class-toggle.is-toggle {
    background-color: #e6e6e6 !important;
    border-color: #d9d9d9 !important;
}

legend.manage-class-legend {
    background: transparent url(/Content/themes/base/images/collapsed.gif) no-repeat center left;
    background-size: 10px 10px;
    padding-left: 1em;
    font-weight: 700;
}

.manage-class-toggle.is-toggle legend.manage-class-legend {
    background: transparent url(/Content/themes/base/images/expanded.gif) no-repeat center left;
    background-size: 10px 10px;
}
