@charset "utf-8";

.positionAdd {
  position: relative;
  right: -6px;
  top: 26px;
}

.itemLibraryTab-content button {
  margin-left: 15px;
}

.ui-widget-header {
  border: 0px solid var(--grey0) !important;
  background: transparent !important;
  position: relative;
  /*top: 34px;*/
  right: 0;
  top: 37px;
}

.ui-dialog {
  background: transparent;
  border: 0;
  /*top: 100px !important;*/
  height: auto !important;
}

  .ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    top: -13px;
    right: 0;
    width: 30px;
    height: 42px;
  }

.ui-widget-header .ui-icon {
  background-image: url("/Content/themes/base/images/fancy_close.png");
}

.ui-icon {
  width: 40px;
  height: 40px;
}

.ui-icon-closethick {
  background-position: 2px 2px;
}

.ui-widget-header .ui-state-hover {
  border: 0;
  background: transparent !important;
}

.ui-widget-overlay {
  background: #2b2b2d !important;
}

#PopupCreateVirtualTest select {
  -moz-min-width: 250px;
  -ms-min-width: 250px;
  -o-min-width: 250px;
  -webkit-min-width: 250px;
  min-width: 350px;
}
.dialog-create-test .ui-dialog-titlebar-close {
  top: -1rem;
  right: 1.2rem;
  padding: 0;
}
.dialog-alert .ui-dialog-titlebar-close {
  top: -0.1rem;
  right: 1.2rem;
  padding: 0;
}




@charset "utf-8";

.positionAdd {
  position: relative;
  right: -6px;
  top: 26px;
}

#PopupCreateVirtualTest select {
  -moz-min-width: 250px;
  -ms-min-width: 250px;
  -o-min-width: 250px;
  -webkit-min-width: 250px;
  min-width: 350px;
}

.dialog-create-test .ui-dialog-titlebar-close {
  top: -1rem;
  right: 1.2rem;
  padding: 0;
}

.dialog-alert .ui-dialog-titlebar-close {
  top: -0.1rem;
  right: 1.2rem;
  padding: 0;
}

.ui-dialog {
  background: transparent;
  border: 0;
  height: auto !important;
}

  .ui-dialog .ui-dialog-titlebar-close {
    margin-top: -16px;
    margin-right: 4px;
  }

.ui-widget-header .ui-state-hover {
  border: 0;
}
