<modal-component 
    v-bind:show.sync="isShowModalWarning" 
    v-bind:width="460" 
    class="modal-component-studententry is-dark" 
    style="display: none;">
    <div slot="header"></div>
    <div slot="body">
        <div class="studententry-modal">
            <p>You must save before printing. Would you like to save your changes?</p>
            <div class="u-text-right">
                <button v-on:click="confirmSaveResults">Save Results</button>
                <button v-on:click="toggleWarningPrint">Cancel</button>
            </div>
        </div>
    </div>
    <div slot="footer"></div>
</modal-component>