<modal-component v-bind:show.sync="isShowModalWarningPublishToPortal"
                 v-bind:width="460"
                 class="modal-component-studententry is-dark"
                 style="display: none;">
    <div slot="header"></div>
    <div slot="body">
        <div class="studententry-modal">
            <p>You must save before publishing. Would you like to save your changes?</p>
            <div class="u-text-right">
                <button v-on:click="confirmSavePublishStudentPortal">Save Results</button>
                <button v-on:click="toggleWarningPublishToStudentPortal">Cancel</button>
            </div>
        </div>
    </div>
    <div slot="footer"></div>
</modal-component>
