<modal-component 
    v-bind:show.sync="isShowModalWarningChooseStudent" 
    v-bind:width="460" 
    class="modal-component-studententry is-dark" 
    style="display: none;">
    <div slot="header"></div>
    <div slot="body">
        <div class="studententry-modal">
            <p>Warning! Not all artifacts are associated with students and will be removed unless first associated with a student. Do you want to continue?</p>
            <div class="u-text-right">
                <button v-on:click="confirmYesWarningChooseStudent">Yes</button>
                <button v-on:click="toggleWarningChooseStudent">No</button>
            </div>
        </div>
    </div>
    <div slot="footer"></div>
</modal-component>
