<modal-component v-bind:show.sync="isShowNote" v-bind:width="800" style="display: none;">
    <div slot="close">
        <a href="#" v-on:click="closePopupNote" class="modal-component-close">Close</a>
    </div>
    <div slot="header">
        <div class="block-heading">
            <h1 class="block-heading-item is-active">{{ studentName }} - {{ noteColumnName }}</h1>
        </div>
    </div>
    <div slot="body">
        <div class="row u-m-t-10">
            <textarea id="editor1"></textarea>
        </div>
        <div class="row u-text-right u-m-t-10">
            <button v-on:click="okPopupNote">OK</button>
            <button v-on:click="closePopupNote">Cancel</button>
        </div>
    </div>
    <div slot="footer"></div>
</modal-component>