@model LinkIt.BubbleSheetPortal.Models.VirtualTestCustomSubScore

<div class="columns" id="divSaveNewSubscoreName" style="margin-top: 10px;">
    <fieldset class="grey-bg coolfieldset fieldset-datapoint">
        <ul style="display: none" id="addSubScore-error-message" class="message error"></ul>
        <ul style="display: none" id="addSubScore-success-message" class="message success">
            <li>Subscore has been created.</li>
        </ul>
        <div class="colx2-left">
            <p>
                <label>
                    Name
                </label>
                <span class="relative">
                    @Html.TextBoxFor(m => m.Name, new { @maxlength = "200", @class = "full-width first-focus", id = "SubscoreName" })
                </span>
            </p>
            <p></p>
        </div>
        <div class="colx2-right">
            <p>
                <label>
                    &nbsp;
                </label>
                <span class="relative">
                    <button id="btnSaveSubscore" class="float-right" type="button">Create Subscore</button>
                </span>
            </p>
            <p></p>
        </div>
    </fieldset>
</div>

          

<script type="text/javascript">
    $('#btnSaveSubscore').click(function () {
        var subscorename = $('#SubscoreName').val();
        subscorename = subscorename.trim();
        if (subscorename.length == 0) {
            customAlertMessage({message: 'Please input the name of new subscore.'});
            return;
        }

        var url = '@Url.Action("AddNewSubscore")';
        var data = {
            VirtualTestCustomScoreId: @Model.VirtualTestCustomScoreId,
            name: encodeURIComponent(subscorename)
        };
        ShowBlock($('#divSaveNewSubscoreName'), 'Creating');
        $('#addSubScore-error-message').hide();
        $('#addSubScore-success-message').hide();

        $.ajax({
                type: "POST",
                url: url,
                data: data
            })
            .done(function(response) {
                $('#divSaveNewSubscoreName').unblock();
                if (response.success) {
                    $('#addSubScore-success-message').show();
                    $('#btnSaveSubscore').prop('disabled', true);
                    setTimeout(function () {
                        var evt = new CustomEvent('DataLocker_EditTemplate_AddSubscoreSucess', { detail: response.SubscoreId });
                        window.dispatchEvent(evt);
                    }, 3000);

                } else {
                    $('#addSubScore-error-message').show();
                    $('#addSubScore-error-message').html('<li>' + response.error + '</li>');
                }

        });

    });

</script>
