<div class="form">
    <ul style="display: none" id="error-messages" class="message error"></ul>
    <ul style="display: none" id="success-message" class="message success">
        <li>Clone Template Success.</li>
    </ul>
    <fieldset>
        <div class="columns">
            <p>
                <label>Please enter the new Data Locker template name in the space below.</label>
                <input type="text" id="inputCopyTemplateName" class="full-width" />
            </p>
            <div class="u-text-center">
                <button type="button" id="btnCopyTemplate" onclick="copyTemplate()">Create</button>
                <button type="button" id="btnCancelCopyTemplate" onclick="cancelCopyTemplate()">Cancel</button>
            </div>
        </div>
    </fieldset>
</div>