@model LinkIt.BubbleSheetPortal.Models.DataLocker.LabelValueModel

<div class="columns labelValueText">
    <div class="row u-m-t-10">
        <button type="button" class="btn-entry-result-score is-small" v-on:click="addLabelValue($index)" v-show="hasAssociated">Add Rows</button>
    </div>
    <div class="row u-m-t-10">
        <table class="datatable table tableLabelValue" width="100%">
            <thead>
                <tr>
                    <th scope="col">Label</th>
                    <th scope="col">Value</th>
                    <th v-show="hasAssociated" scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in listLabelValue">
                    <td><input type="text" class="u-full-width" maxlength="50" v-model="item.Label"></td>
                    <td>
                        <input type="number" class="u-full-width" maxlength="10" min="0" v-model="item.Option" v-on:change="inputValueChange()" oninput="javascript: if (this.value.length > this.maxLength) {this.value = this.value.slice(0, this.maxLength);}">
                    </td>
                    <td class="u-text-center" v-show="hasAssociated">
                        <a v-on:click.prevent="deleteLabelValue($index)" href="#" title="Delete">
                            <span class="icon icon-review-deactivate"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row u-m-t-10">
        <div class="u-m-t-10">
            <input id="displayLabel" type="radio" name="displayOption" value="label" checked="checked" @(Model.Disabled ? "readonly" : "") />
            <label for="displayLabel">Display Labels Only</label>
        </div>
        <div class="u-m-t-10">
            <input id="displayValue" type="radio" name="displayOption" value="value" @(Model.Disabled ? "readonly" : "") />
            <label for="displayValue">Display Value Only</label>
        </div>
        <div class="u-m-t-10">
            <input id="displayBoth" type="radio" name="displayOption" value="both" @(Model.Disabled ? "readonly" : "") />
            <label for="displayBoth">Display Both Label and Value</label>
        </div>
    </div>
</div>
