@model LinkIt.BubbleSheetPortal.Models.VirtualTestCustomSubScore
<div class="columns sgo-columns" id="divEditSubscore_@(Model.VirtualTestCustomSubScoreId)" style="margin-top: 10px;">
    <fieldset class="grey-bg coolfieldset fieldset-datapoint " id="editsubscorefs_@(Model.VirtualTestCustomSubScoreId)">
        <legend class="js-arrangeable" id="c@(Model.VirtualTestCustomSubScoreId)">@Model.Name</legend>
        <div>
            @Html.Partial("_SubscoreScoreTypeListReadOnly")
        </div>
    </fieldset>
</div>



<script type="text/javascript">
    $(function() {
        $('#editsubscorefs_@(Model.VirtualTestCustomSubScoreId)').coolfieldset({ collapsed: true });
    });
</script>
