@model LinkIt.BubbleSheetPortal.Web.ViewModels.BubbleSheetFileSubListViewModel

<div class="block-border" style="position: static; z-index: 1002">
    <div class="block-content form bubbleSheetSelector" style="z-index: 1002;">
        <table>
            <tbody>

                @if (Model.ListFileSubViewModels.Count > 0)
                {
                    var tmp = (Model.ListFileSubViewModels.Count / 3) + 1;
                    for (int i = 0; i < tmp; i++)
                    {
                        <tr>
                            @for (int j = 0; j < 3; j++)
                            {
                                int index = (i * 3) + j;
                                if (Model.ListFileSubViewModels.Count > index && Model.ListFileSubViewModels[index] != null)
                                {
                                    <td>
                                        <a href="@Model.ListFileSubViewModels[index].ImageUrl" target="_new">
                                            <img src="@Model.ListFileSubViewModels[index].ImageUrl" width="128px" height="170px" />
                                        </a>
                                    </td>
                                }
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>

<style>
    .ui-widget-header {
        border: 0px solid var(--grey0) !important;
        background: transparent !important;
        position: relative;
        top: 34px;
    }

    .ui-dialog {
        background: transparent;
        border: 0;
    }

        .ui-dialog .ui-dialog-titlebar-close {
            position: absolute;
            right: 7px;
            top: -8px;
        }

    .ui-widget-header .ui-icon {
        background-image: url("/Content/themes/base/images/fancy_close.png");
    }

    .ui-icon {
        width: 40px;
        height: 40px;
    }

    .ui-icon-closethick {
        background-position: 2px 2px;
    }

    .ui-widget-header .ui-state-hover {
        border: 0;
        background: transparent !important;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        width: 30px;
        height: 42px;
    }

    .ui-widget-overlay {
        background: var(--dark) !important;
    }
</style>
