@model LinkIt.BubbleSheetPortal.Web.ViewModels.ACTReport.FooterData
<!DOCTYPE html>
<html>
<head>
    <link href="/Content/themes/Print/SGOPrint/SGOPrint.css" rel="stylesheet" />
    <script>
        function subst() {
            var vars = {};
            var x = window.location.search.substring(1).split('&');
            for (var i in x) {
                var z = x[i].split('=', 2);
                vars[z[0]] = unescape(z[1]);
            }
            var x = ['frompage', 'topage', 'page', 'webpage', 'section', 'subsection', 'subsubsection'];
            for (var i in x) {
                var y = document.getElementsByClassName(x[i]);
                for (var j = 0; j < y.length; ++j) y[j].textContent = vars[x[i]];
            }
        }
    </script>
</head>
<body onload=" subst() ">
    <div class="SGO-footer u-text-center">
        Page <span class="page"></span> of <span class="topage"></span>
    </div>
</body>
</html>
