@{
    Layout = null;
}

@model List<string>
<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Print Parent Detail</title>
    <link href="/Content/themes/Print/SGOPrint/SGOPrint.css" rel="stylesheet" />
    <style>
        table tr * {
            word-break: break-word;
        }
        .page-spliter {
            font-style: italic;
        }
        .page-spliter:not(:last-child) {
            page-break-after: always;
        }
    </style>
</head>
<body>
    @foreach (var item in Model)
    {
        <div class="page-spliter">
            @Html.Raw(item)
        </div>
    }
</body>
</html>
