<modal-component v-bind:show.sync="isShowModalWarning"
                 v-bind:width="550"
                 style="display: none;">
    <div slot="header"></div>
    <div slot="body">
        Your reviews have not been submit. Do you want to continue?
    </div>
    <div slot="footer">
        <button v-on:click="closeConfirmWarning">Cancel</button>
        <button v-on:click="gotoStudentReviewPage">OK</button>
    </div>
</modal-component>
