<modal-component
    v-bind:show.sync="isShowConfirmSubmit"
    v-bind:width="550"
    style="display: none;">
    <div slot="close" class="custom-close">
        <a href="#" v-on:click.prevent="closeConfirmSubmit" class="modal-component-close">Close</a>
    </div>
    <div slot="header"></div>
    <div slot="body">
        <b>
            <span  v-if="notReviewedStudentCount > 0">
                There are <b v-text="notReviewedStudentCount"></b> number of students that have not been reviewed.
            </span>
            Select OK to submit your modified bubble sheets.
            They will be locked until processing has been completed. Otherwise, select Cancel to keep reviewing for remaining students.
        </b>
    </div>
    <div slot="footer">
        <button v-on:click="closeConfirmSubmit">Cancel</button>
        <button v-on:click="submitClassView">OK</button>
    </div>
</modal-component>
