<modal-component
    class="modal-grading-shortcuts"
    v-bind:show.sync="isShowGradingShortcuts" 
    v-bind:width="850"
    style="display: none;">
    <div slot="close">
        <a href="#" v-on:click.prevent="toggleGradingShortcutsModal" class="modal-component-close">Close</a>
    </div>
    <div slot="header"></div>
    <div slot="body">
        <div class="form">
            <div>
                <p class="title-large">Grading Shortcuts</p>
                <div class="d-flex mb-3 justify-content-between">
                    <div class="w-50">
                        Apply points for all ungraded open-ended questions:
                    </div>
                    <div class="w-50">
                        <ul class="d-flex p-0 justify-content-end gap-3">
                            <li class="" v-for="gs in gradingShortcutsStatus">
                                <label class="fw-bold u-cursor-pointer d-flex align-items-center m-0">
                                    <input 
                                        class="me-1" 
                                        type="radio" 
                                        name="apply-points" 
                                        v-bind:value="gs.value"
                                        v-model="applyPointsSelected"> 
                                    <span v-text="gs.text"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-end">
                    <div class="w-50" style="line-height: 162%">
                        Apply correct answers for all unanswered multiple choice questions
                    </div>
                    <div class="w-50 text-end">
                        <label for="apply-correct-answers" class="u-cursor-pointer m-0">
                            <span class="form-switch">
                                <input class="form-check-input" type="checkbox" id="apply-correct-answers" v-model="applyCorrectAnswersSelected">
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div slot="footer">
        <button v-on:click.prevent="toggleGradingShortcutsModal">Close</button>
        <button v-on:click="applyGradingShortcuts">Apply</button>
    </div>
</modal-component>
