<modal-component v-bind:show.sync="isShowModalArtifactFolder"
                 class="is-dark artifactFolderModal modalUploadFile"
                 style="display: none;">
    <div slot="close">
        <a href="#" class="modal-component-close" v-on:click="closeArtifactModal">Close</a>
    </div>
    <div slot="header">
        <div class="block-heading">
            <h1 class="block-heading-item is-active"> {{ studentName }} - {{ artifactFolderModalVM.currentScore }} - Artifacts</h1>
        </div>
    </div>
    <div slot="body">
        <div class="upload-artifact-area u-m-b-15">
            <span for="rdUploadFile">
                Upload File ({{artifactFolderModalVM.allowFileTypes}})
                <span class="icon icon-info icon-16 with-tip" title="{{warningFileSize}}">
                </span>
            </span>
            <div class="u-inline-block u-m-l-5 u-m-t-5">
                <input id="file_upload_artifact" name="file_upload_artifact" type="file" class="js-upload-artifact">
            </div>
        </div>
        <div class="link-artifact-input u-m-b-15">
            <label for="rdInputLink">Input Link</label>
            <div class="form u-inline-block">
                <input type="text" v-model="artifactFolderModalVM.inputLink" class="u-w-320">
            </div>
            <a style="cursor:pointer" class="u-inline-block u-v-align-middle" v-on:click="addLinkArtifact()"><img src="@Url.Content("~/Content/themes/Constellation/images/icons/fugue/icon-plus.png")" /></a>
        </div>
        <div class="u-clear" v-if="artifactFolderModalVM.msgError != ''">
            <span class="u-m-t-10 u-m-l-25 u-c-light-red u-fw-700 u-inline-block" v-text="artifactFolderModalVM.msgError"></span>
        </div>
        <hr />
        <div class="list-artifacts">
            <h2>List Artifacts: </h2>
            <table id="tableArtifactFolder" style="width:100%" class="table no-margin">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Artifact name</th>
                        <th scope="col" v-if="tagList.length > 1">Tag</th>
                        <th scope="col">Uploaded Date</th>
                    </tr>
                </thead>
                <tbody v-if="artifactFolderModalVM.artifacts.length > 0">
                    <tr v-for="artifact in artifactFolderModalVM.artifacts">
                        <td>
                            <a style="cursor:pointer" v-on:click="removeArtifact(artifact.Name)" title="Delete Artifact"><img src="@Url.Content("~/Content/themes/Constellation/images/icons/fugue/details_close.png")" /></a>
                        </td>
                        <td>
                            <div>
                                <a href="#" v-on:click="downloadFile(artifact.Url, artifact.Name, artifact.IsLink)">
                                    <span>
                                        <img class="icon" style="height:16px;" v-if="artifact.IsLink" src="@Url.Content("~/Content/themes/Constellation/images/icons/icon-link.svg")" />
                                        <img class="icon" v-else src="@Url.Content("~/Content/themes/Constellation/images/icons/fugue/document.png")" />
                                    </span>
                                    {{ artifact.DisplayName }}
                                </a>
                                <a v-if="artifact.FileType !== 'document' && !artifact.IsLink" class="btn-icon btn-icon--preview" :disabled="shared.isRecording" title="Preview" href="#" v-on:click="handlePreviewItem(artifact)"></a>
                            </div>
                        </td>
                        <td v-if="tagList.length > 1">
                            <select id="selectTag" class="u-full-width" v-model="artifact.TagValue">
                                <option v-for="item in tagList" v-bind:value="item">{{ item }}</option>
                            </select>
                        </td>
                        <td>
                            {{ artifact.UploadDate | formatDate }}
                        </td>
                    </tr>
                </tbody>
                <tbody v-else>
                    <tr><td colspan="4">No Artifacts uploaded.</td></tr>
                </tbody>
            </table>
        </div>
        <div class="u-text-right">
            <button v-on:click="closeArtifactModal">Cancel</button>
            <button v-on:click="okFolderModal">Save</button>
        </div>
    </div>
    <div slot="footer"></div>
</modal-component>

<script type="text/javascript">

</script>

<style>
    .btn-icon {
        display: inline-block;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 0.5rem;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1rem;
        float: right;
    }

        .btn-icon:disabled {
            pointer-events: none;
        }

        .btn-icon:hover {
            background-color: rgb(0, 0, 0, 0.2);
        }

    .btn-icon--preview {
        background-image: url(/Content/images/icons/preview-eye.png);
    }
</style>
