<modal-component
    v-bind:show.sync="isShowModalCancel"
    v-bind:width="500"
    class="modal-component-studententry is-dark"
    style="display: none;">
    <div slot="header"></div>
    <div slot="body">
        <div class="studententry-modal">
            <p>There are unsaved changes. They will be deleted. Are you sure you want to cancel changes?</p>
            <div class="u-text-right">
                <button v-on:click="confirmCancelEntryResult">Yes</button>
                <button v-on:click="closeCancelEntryResult">No</button>
            </div>
        </div>
    </div>
    <div slot="footer"></div>
</modal-component>
