<modal-component
    v-bind:show.sync="isShowModalFilterWarning"
    v-bind:width="460"
    class="modal-component-studententry is-dark"
    style="display: none;">
    <div slot="header"></div>
    <div slot="body">
        <div class="studententry-modal">
            <p>Would you like to save your changes?</p>
            <div class="u-text-right">
                <button v-on:click="confirmSaveResults(true)">Save Results</button>
                <button onclick="loadStudentEntryResult();">Cancel</button>
            </div>
        </div>
    </div>
    <div slot="footer"></div>
</modal-component>
