<modal-component v-bind:show.sync="isShowNoteDate" v-bind:width="800" style="display: none;">
    <div slot="close">
        <a href="#" v-on:click="closePopupNoteDate" class="modal-component-close">Close</a>
    </div>
    <div slot="header">
        <div class="block-heading">
            <h1 class="block-heading-item is-active">{{ studentName }} - {{ noteColumnName }}</h1>
        </div>
    </div>
    <div slot="body">
        <div class="row u-m-t-10 note-calendar">
            <div id="noteDate"></div>
        </div>
        <div class="row u-m-t-10">            
            <h3>Note - {{noteDate}}: </h3>
        </div>
        <div class="row u-m-t-10">
            <textarea id="editorNoteDate"></textarea>
        </div>
        <div class="row u-text-right u-m-t-10">
            <button v-on:click="addNoteDate">Save</button>
            <button v-on:click="okPopupNoteDate">OK</button>
            <button v-on:click="closePopupNoteDate">Cancel</button>
        </div>
    </div>
    <div slot="footer"></div>
</modal-component>