*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  background-color: #fff;
  color: #333;
  font-size: 14px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif,
    'dejavu_sansbook';
  line-height: 1.57143;
}

/*-----------------------*\
    #CUSTOM SCROLLER
\*-----------------------*/
::-webkit-scrollbar,
::-webkit-scrollbar {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 7px;
}

::-webkit-scrollbar:horizontal,
::-webkit-scrollbar:horizontal {
  height: 7px;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ccc;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

/*-----------------------*\
    #APP
\*-----------------------*/
.app {
  background: #fff;
  min-width: 620px;
  height: 100vh;
  overflow: auto;
  position: relative;
  max-width: 100%;
}

.app.is-overflow {
  overflow: hidden;
}

.app-loading {
  text-align: center;
}

.app-loading:before {
  content: '';
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.app-loading-title,
.app-loading-circle {
  position: relative;
  z-index: 25;
}

.app-loading-title {
  color: #fff;
  font-size: 16px;
  margin: 60px 0 10px;
  text-transform: uppercase;
}

.app-loading-circle {
  background-color: #fff;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  animation: bounce 1.4s infinite ease-in-out;
  -webkit-animation: bounce 1.4s infinite ease-in-out;
}

.app-loading-circle:nth-last-child(3) {
  animation-delay: -0.32s;
  -webkit-animation-delay: -0.32s;
}

.app-loading-circle:nth-last-child(2) {
  animation-delay: -0.16s;
  -webkit-animation-delay: -0.16s;
}

.app-header {
  background: #d8d8d8;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  width: 620px;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.app-navbar {
  float: right;
  position: relative;
}

.app-menu {
  border-left: 1px solid rgba(34, 36, 38, 0.15);
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  background: 0 0;
  padding: 10px 21px;
  text-transform: none;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
}

.app-menu:hover .app-dropdown,
.app-menu:focus .app-dropdown {
  visibility: visible;
}

.app-menu a {
  color: #444;
}
.app-menu a.question-group,
.app-menu a.question-group:hover,
.app-menu a.question-group:active,
.app-menu a.question-group:focus {
  text-decoration: none;
}

.app-item {
  display: block;
  cursor: pointer;
}

.app-dropdown {
  background: #d8d8d8;
  position: absolute;
  top: 100%;
  right: -1px;
  width: 217px;
  visibility: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

.app-menu:last-child .app-dropdown {
  left: auto;
  right: -1px;
}

.app-dropdown li:first-child .app-dropdown-item {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}

.app-dropdown li:last-child .app-dropdown-item {
  border-bottom-style: solid;
}

.app-dropdown-item {
  border-bottom: 1px dotted #ccc;
  border-left: 1px solid rgba(34, 36, 38, 0.15);
  border-right: 1px solid rgba(34, 36, 38, 0.15);
  display: block;
  padding: 7px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.app-dropdown-item.is-active {
  cursor: default;
  pointer-events: none;
}

.app-dropdown-item input[type='checkbox'] {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: -1px;
}

.app-dropdown-item label {
  cursor: pointer;
}

.app-content {
  margin: 20px;
}

.app-xml {
  overflow-y: hidden;
  overflow-x: auto;
}

.app-passage,
.app-badge {
  border: 1px solid #d8d8d8;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.app-passage-header h4 {
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.app-passage-header,
.app-badge-header {
  background: #d8d8d8;
  padding: 5px 10px;
  font-weight: 700;
  position: relative;
}

.app-passage-content,
.app-badge-content,
.app-passage-loading {
  padding: 10px;
}

.app-passage-content,
.app-badge-content {
  max-height: 400px;
  overflow: auto;
}

.app-passage-content .passage {
  background: transparent;
  width: auto;
  padding: 0;
  margin: 0;
}

.app-content.is-header {
  margin-top: 60px;
}

.app-passage-close {
  position: absolute;
  top: 50%;
  right: 5px;
  width: 20px;
  font-weight: 700;
  line-height: 20px;
  height: 20px;
  background: white;
  text-align: center;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  border-radius: 100%;
  cursor: pointer;
}

.app-passage-loading {
  border: 1px solid #d8d8d8;
  padding: 7px 10px;
  margin-bottom: 20px;
}

.app-passage-loading p {
  font-size: 14px;
  margin: 0;
}

.app-passage-loading p:after {
  content: '\2026'; /* ascii code for the ellipsis character */
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  width: 0;
}

.app-badge {
  margin-top: 20px;
}

.app-badge-icon,
.app-badge-title {
  display: inline-block;
  vertical-align: middle;
}

.app-badge-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.app-badge-icon-full {
  background: url(/Content/themes/AnswerViewer/images/icon-correct.svg)
    no-repeat;
  background-size: 24px 24px;
}

.app-badge-icon-partial {
  background: url(/Content/themes/AnswerViewer/images/icon-partial.svg)
    no-repeat;
  background-size: 24px 24px;
}

.app-badge-icon-zero {
  background: url(/Content/themes/AnswerViewer/images/icon-wrong.svg) no-repeat;
  background-size: 24px 24px;
}

.app-badge-icon-hide {
  display: none;
}

.app-badge-title {
  font-size: 14px;
  margin: 0;
  line-height: 1.1;
}

.app-badge-full {
  border-color: #73cf73;
}

.app-badge-full .app-badge-header {
  background: #73cf73;
}

responsedeclaration,
.referenceObject {
  display: none;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@-webkit-keyframes bounce {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
