<!-- Style for scrollbar-->
<style>
    /*********** Default css ***********/
    /*No data*/
    .dataTableAssignedDistrictTagStyle .dataTables_empty div {
        width: 427px !important;
    }

    .dataTableAssignedDistrictTagStyle tr td {
        padding-left: 0px;
        padding-right: 0px;
    }

    .dataTableAssignedDistrictTagStyle {
        width: 415px !important;
        height: 226px;
    }

        .dataTableAssignedDistrictTagStyle tbody img {
            margin-left: 5px !important;
            margin-right: 5px !important;
        }

        .dataTableAssignedDistrictTagStyle thead,
        .dataTableAssignedDistrictTagStyle tbody {
            display: block;
        }

        .dataTableAssignedDistrictTagStyle tbody {
            height: 195px;
            overflow: auto;
            overflow-x: hidden;
        }

            .dataTableAssignedDistrictTagStyle tbody td {
                /*word-break: break-all;*/
                word-wrap: break-word;
            }
            /* Padding content inside div */
            .dataTableAssignedDistrictTagStyle tbody tr td div {
                padding-left: 3px !important;
                padding-right: 3px !important;
            }

            .dataTableAssignedDistrictTagStyle tbody td:nth-of-type(1) div {
                width: 35px;
            }

            .dataTableAssignedDistrictTagStyle tbody td:nth-of-type(2) div {
                width: 150px;
            }

            .dataTableAssignedDistrictTagStyle tbody td:nth-of-type(3) div {
                width: 272px;
            }

        .dataTableAssignedDistrictTagStyle thead th:nth-of-type(1) {
            width: 20px !important;
        }

        .dataTableAssignedDistrictTagStyle thead th:nth-of-type(2) {
            width: 120px !important;
        }

        .dataTableAssignedDistrictTagStyle thead th:nth-of-type(3) {
            width: 258px !important;
        }
    /*********** Has scroll bar ***********/
    .scrolldataTableAssignedDistrictTagStyle tbody td:nth-of-type(3) div {
        width: 272px;
    }
    /*********** No scroll bar ***********/
    .noscrolldataTableAssignedDistrictTagStyle tbody td:nth-of-type(3) div {
        width: 288px;
    }
</style>
<style>
    /*Fix IE9*/
    .dataTableAssignedDistrictTagStyleIE9 {
        height: auto !important;
        width: 433px !important;
    }

        .dataTableAssignedDistrictTagStyleIE9 tbody {
            height: auto !important;
        }

            .dataTableAssignedDistrictTagStyleIE9 tbody td:nth-of-type(3) div {
                width: 260px !important;
            }

    .scrolldataTableAssignedDistrictTagStyleIE9 tbody td:nth-of-type(3) div {
        width: 258px;
    }

    .dataTableAssignedDistrictTagStyleIE9 thead th:nth-of-type(1) {
        width: 22px !important;
    }

    .dataTableAssignedDistrictTagStyleIE9 thead th:nth-of-type(2) {
        width: 96px !important;
    }

    .dataTableAssignedDistrictTagStyleIE9 thead th:nth-of-type(3) {
        width: 260px !important;
    }

    #divdataTableAssignedDistrictTag {
        height: 195px !important; /* divdataTableAssignedDistrictTagStyleIE9 was generated in IE9 by formatTableForAddingVertialScrollBar for scrollbar*/
    }
</style>
<div class="block-content form" style="height:345px;">
    <div class="toggle" style="padding-top: 0px; height: 30px; margin-top: -30px">
        <h1 style="margin-top: -5px">
            @if (ViewBag.VirtualQuestionIdString.Contains(","))
            {
                <text>
                    Shared Tags
                </text>
            }
            else
            {
                <text>
                    Associated Tags
                </text>
            }
        </h1>
    </div>
    <div class="no-margin last-child" style="height:345px;overflow: hidden;padding-top: 37px">
        <table id="dataTableAssignedDistrictTag" class="datatable table no-margin dataTableAssignedDistrictTagStyle" width="100%">
            <thead>
                <tr>
                    <th scope="col" style="width: 100px">
                    </th>
                    <th scope="col">
                        <span class="column-sort">
                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                        </span>
                        Tag Category
                    </th>
                    <th scope="col">
                        <span class="column-sort">
                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                        </span>
                        Tag
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    var oTableDistrictTagAssigned;
    $(function () {
        LoadAssignedDistrictTagTable();
    });

    function LoadAssignedDistrictTagTable() {
        var options = {
            bServerSide: true,
            bDestroy: true,
            sAjaxSource: getAjaxSourceForAssignedDistrictTag(),
            fnServerParams: function (aoData) {
                //TuanVo:encode text in filter searchbox
                var item = null;

                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''"); // when user type " or "", or """,...in searchbox, system will issue an error, this code fix that error
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }
                        break;
                    }

                }

            },
            bFilter: false,
            bStateSave: false,
            bAutoWidth: false,
            iDisplayLength: 100,
            aaSorting: [[1, "asc"]],
            aoColumns: [
                { sType: 'integer', sName: 'ItemTagId', bSearchable: false, bSortable: false, bVisible: true, sWidth: '20px' },
                { sType: 'string', sName: 'CategoryName', bSearchable: false, bSortable: true, sWidth: '120px' },
                { sType: 'string', sName: 'TagName', bSearchable: false, bSortable: true, sWidth: '280px' },
                { sType: 'integer', sName: 'RubricQuestionCategoryID', bSearchable: false, bSortable: false, bVisible: false}

            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibilityAssignedDistrictTag(aData[0], aData[3]));

                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTableAssignedDistrictTag'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#dataTableAssignedDistrictTag').unblock();
                $('.with-tip').tip();
                formatTableForAddingVertialScrollBar('dataTableAssignedDistrictTag', 'scrolldataTableAssignedDistrictTagStyle', 'noscrolldataTableAssignedDistrictTagStyle', 'scrolldataTableAssignedDistrictTagStyleIE9', 'noscrolldataTableAssignedDistrictTagStyleIE9');
                if (jQuery.browser.msie && jQuery.browser.version == '9.0') {
                    $('#dataTableAssignedDistrictTag').addClass('dataTableAssignedDistrictTagStyleIE9');
                    $('#dataTableAssignedDistrictTagHeader').addClass('dataTableAssignedDistrictTagStyleIE9');

                }

                updateAssignDistrictButtonStatus();
            }
        };

        $("#dataTableAssignedDistrictTag").data("options", options);
        initializeDataTable($("#dataTableAssignedDistrictTag"));
        oTableDistrictTagAssigned = $('#dataTableAssignedDistrictTag').dataTable();
    }

    function getAjaxSourceForAssignedDistrictTag() {
        var MutualItemTagIdString = $('#MutualItemTagIdString').val();//defined in _Tag.cshtml
        if (MutualItemTagIdString == null) {
            MutualItemTagIdString = '';
        }
        var rubricCategoryId = Number.isInteger(vm.selectedCategoryId())
            ? vm.selectedCategoryId()
            : 0;
        var queryString = 'mutualItemTagIdString=' + MutualItemTagIdString + '&virtualQuestionIds=@ViewBag.VirtualQuestionIdString'  + '&rubricCategoryId=' + rubricCategoryId;

        return '@Url.Action("GetMutualAssignedDistrictTags")/?' + queryString;
    }

    function setIconVisibilityAssignedDistrictTag(itemTagId, rubricQuestionCategoryId) {
        var deleteIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/icon-red.png")';
        var deleteString = '<a id="iconAssignedDelete_' + itemTagId +  '" rubricQuestionCategoryId="' + rubricQuestionCategoryId +  '" href="javascript:void(0)" onclick="RemoveDistrictTag(this);" title="Remove Tag" operation="1"  class="with-tip actionIcon "><img src="' + deleteIcon + '" width="18" height="18"></a>';

        var result = '';
        result = deleteString; //allow only delete
        return result;
    }
    function ReloadDistrictTagAssigned() {
        $("#dataTableAssignedDistrictTag").dataTable().fnReloadAjax(getAjaxSourceForAssignedDistrictTag());
    }

    function RemoveDistrictTag(control) {
        $('#tips').empty();
        var self = $(control);
        var id = self.attr('id');
        var itemTagId = id.split('_')[1];
        var rubricQuestionCategoryId = self.attr('rubricQuestionCategoryId');

        ConfirmDistrictTagDeselect("Do you want to remove this tag?", itemTagId, rubricQuestionCategoryId);

    }
</script>
<script type="text/javascript">
    function ConfirmDistrictTagDeselect(message, itemTagId, rubricQuestionCategoryId) {
        var hbody = $("body").height() - 109;
        var strHtml = '<section class="grid_5" style="height:140px;">' +
            '<div class="block-border" style="width: 350px; min-height: 100px;">' +
            '<div class="block-content form" style="padding-bottom:0px">' +
            '<table cellpadding="0" cellspacing="0" style="margin-top:-15px;"><tr><td><p class="styleMessage" style="margin-bottom:10px;">' + message +
            '</p></td></tr><tr><td>' +
            '<p class="plButton"  style="margin-bottom:10px;text-align: center">' +
            '<button id="btnOk" type="button" name="ok" onclick="ConfirmDistrictTagDeselectOkClick(' + itemTagId + ',' + rubricQuestionCategoryId + ')">OK</button>' +
            '<button id="btnCancel" type="button" name="cancel" onclick="ConfirmDistrictTagDeselectCancelClick()" style="margin-left:10px;">Cancel</button>' +
            '</p></td></tr></table></div></div></section>';
        $("<div></div>")
            .html(strHtml)
            .addClass("dialog")
            .attr("id", "ConfirmDistrictTagDeselectCancelClickDialog")
            .appendTo("body")
            .dialog({
                open: function () {
                    $('#ConfirmDistrictTagDeselectCancelClickDialog').prev().css('top', '30px');//adjust postion for title bar
                },
                close: function () { $(this).remove(); },
                modal: true,
                width: 420,
                maxheight: 100,
                resizable: false
            });

        $(".ui-dialog").css("height", hbody);

    }
    function ConfirmDistrictTagDeselectOkClick(itemTagId, rubricQuestionCategoryId) {
        $.post('@Url.Action("RemoveDistrictTagForVirtualQuestions")', {
            virtualQuestionIdString: '@ViewBag.VirtualQuestionIdString',
            itemTagId: itemTagId,
            rubricQuestionCategoryId: vm.selectedCategoryId()
        }, function (response) {
            if (response.Success == 'Success') {

                LinkIt.success('#divLinkitDefaultTagNotifications', 'Tag Removed');//divLinkitDefaultTagNotifications is defined in _Tag.cshtml

                var idString = '';
                idString = $('#MutualItemTagIdString').val();
                if (idString == null) {
                    idString = '';
                }
                idString = idString.replace(',-' + itemTagId + '-', '');
                $('#MutualItemTagIdString').val(idString);
                $("#iconAdd_" + itemTagId).show();
                $("#iconDelete_" + itemTagId).hide();

                ReloadDistrictTagAvailable();//defined in _ListDistrictTagAvailable.cshtml
                //reload assigned list
                ReloadDistrictTagAssigned();
                $("#ConfirmDistrictTagDeselectCancelClickDialog").dialog("close");
            } else {
                alert(response.errorMessage);
            }

        });
    }
    function ConfirmDistrictTagDeselectCancelClick() {
        $("#ConfirmDistrictTagDeselectCancelClickDialog").dialog("close");
    }
</script>
