<modal-component v-bind:show.sync="isShowModalDeleteGroup" v-bind:width="600">
    <div slot="close"></div>
    <div slot="header"></div>
    <div slot="body" class="u-text-center u-m-b-20">
        <div class="u-text-left u-fz-14">
            <ul>
                <li>To delete the Question Group in its entirety (including common content & all questions), click <b>Delete All</b>.</li>
                <li>To eliminate the Question Group (including common content) but retain the individual questions,  click <b>Remove Grouping</b>.</li>
            </ul>
        </div>
        <div class="u-text-center u-m-t-15">
            <button v-on:click="deleteQuestionGroup(false)">Delete All</button>
            <button v-on:click="deleteQuestionGroup(true)">Remove Grouping</button>
            <button v-on:click="closeModalDeleteGroup()">Cancel</button>
        </div>
    </div>
    <div slot="footer"></div>
</modal-component>