/*-----------------------*\
    #GENERIC
\*-----------------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  color: #333;
  font-size: 14px;
  font-family: "Mariad Pro";
  line-height: 1.57143;
}

p {
  margin: 0 0 10px;
}

video {
  display: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: #0782c1;
}

/*-----------------------*\
    #UTILS
\*-----------------------*/
.dn,
div:empty {
  display: none;
}

.ttu {
  text-transform: uppercase;
}

.bb {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.b--gray {
  border-color: #888;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.veryLargeText {
  font-size: 28px;
  line-height: 32px;
}

.largeText {
  font-size: 20px;
  line-height: 24px;
}

.smallText {
  font-size: 10px;
  line-height: 14px;
}

.normalText {
  font-size: 14px;
}

.nobreak {
  page-break-inside: avoid;
  white-space: normal;
  word-break: keep-all;
  word-wrap: break-word;
}

sup,
sub {
  position: relative;
  vertical-align: middle;
  font-size: smaller;
  padding-left: 2px;
}

sup {
  top: -4px;
}

sub {
  bottom: -4px;
}

/*-----------------------*\
    #PRINT ENTRY RESULT
\*-----------------------*/
.printEntryResult__title {
  string-set: printEntryResult__title content();
}

.printEntryResult__datetime {
  string-set: printEntryResult__datetime content();
}

.printEntryResult__description {
  background: #f2f2f2;
  border: 1px solid #999;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.printEntryResult__heading {
  font-size: 14px;
  margin: 0 0 5px;
}

.printEntryResult__leading {
  font-size: 14px;
  border-top: 1px solid #888;
  padding-top: 5px;
  margin: 0 0 5px;
}

.printEntryResult__list {
  margin-bottom: 5px;
}

.printEntryResult__list p:last-child {
  margin-bottom: 0;
}

.printEntryResult__list--item {
  color: #777;
  padding-left: 25px;
  position: relative;
}

.printEntryResult__list--item strong {
  color: #444;
}

.printEntryResult__list--item::before {
  content: "";
  display: block;
  background: #444;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  position: absolute;
  top: 6px;
  left: 10px;
}

.printEntryResult__list--description {
  display: inline-block;
  vertical-align: top;
}

.printEntryResult__body {
  font-size: 14px;
}

.printEntryResult__body table {
  margin: 0;
}

.printEntryResult__body table th,
.printEntryResult__body table td {
  border: 1px solid #000;
  line-height: 20px;
  vertical-align: top;
  padding: 5px;
}

/*-----------------------*\
    #TABLE
\*-----------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  word-wrap: break-word;
  margin-bottom: 50px;
  page-break-after: always;
}

table thead {
  background: #eee;
  text-align: center;
}

table th,
table td {
  border: 1px solid #888;
  padding: 3px 5px;
  vertical-align: top;
}

table thead tr:nth-child(2) td:first-child {
  width: 120px;
}

table thead tr:nth-child(2) td:nth-child(2) {
  width: 100px;
}

/*-----------------------*\
    #COLSPAN IN TABLE
\*-----------------------*/
.table-colspan-2 {
  table-column-span: 2;
}

.table-colspan-3 {
  table-column-span: 3;
}

.table-colspan-4 {
  table-column-span: 4;
}

.table-colspan-5 {
  table-column-span: 5;
}

.table-colspan-6 {
  table-column-span: 6;
}

.table-colspan-7 {
  table-column-span: 7;
}

.table-colspan-8 {
  table-column-span: 8;
}

.word-break {
  word-break: break-word;
}

#printEntryResult-labels {
  margin-left: -12px;
  margin-right: -12px;
}

.table-labels {
  border-spacing: 24px 0px;
  border-collapse: separate;
  border: 0px solid;
  margin-top: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.td-labels {
  border-radius: 10px;
  width: 384px;
  text-align: left;
  vertical-align: middle;
  padding: 0;
  border: none;
}

.max-height-table-row {
  height: 194px;
  overflow: hidden;
  line-height: 1.2;
  padding: 18px;
  border: 1px solid transparent;
  border-radius: 15px;
}

.table-labels tr:nth-child(1) .max-height-table-row {
	padding-top: 30px;
}

.h2-bold {
  font-size: 21px;
  font-weight: bold;
}

.h2 {
  font-size: 21px;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media print {
  .table-labels {
    page-break-after:auto
  }
  .table-labels tr {
    page-break-inside: avoid;
    page-break-after: auto
  }
  .table-labels td {
    page-break-inside: avoid;
    page-break-after: auto
  }
  .table-labels tr:nth-child(1) .max-height-table-row {
    padding-top: 30px !important;
    height: 194px !important;
  }
  .table-labels tr:nth-child(5n + 1) .max-height-table-row {
    padding-top: 60px;
    height: 224px;
  }
}
