@model LinkIt.BubbleSheetPortal.Web.Models.UserGroup.CreateUserGroupDto

<section class="grid-12">
    <div class="block-border">
        <div class="block-content form">
            <h1>Create User Group</h1>
            <ul style="display: none" id="error-messages-create-group" class="no-margin message error"></ul>
            @using (Html.BeginForm("CreateXLIGroup", "UserGroupManagement", FormMethod.Post, new { id = "addUserGroupFrom", @class = "form" }))
            {
                <fieldset>
                    <p>
                        <label>Name</label>
                        <span class="relative">
                            @Html.TextBoxFor(m => m.Name, new { @class = "full-width", maxlength = "50" })
                        </span>
                    </p>
                    <div style="float:left">
                        @Html.CheckBoxFor(x => x.InheritRoleFunctionality)
                        <label style="display: contents"> Keep Default Access</label>
                        <div style="float:right; margin-left:5px">
                            <a href="javascript:void(0)" title="When checked, users in this group will maintain their standard module access plus the access they are given in the group.&#10When unchecked, users in this group will only have access to the modules they are given in the group.">
                                <img src="/Content/themes/Constellation/images/icons/fugue/information-blue.png" width="16" height="16">
                            </a>
                        </div>
                        
                    </div>
                </fieldset>

                <button id="btnAddUserGroupSubmit" type="submit" name="Save">Submit</button>
                <button id="btnAddUserGroupCancel" type="button" class="grey">Cancel</button>
            }
        </div>
    </div>
</section>

<script type="text/javascript">
    $("#btnAddUserGroupCancel").click(function () {
        $('.ui-widget-overlay').remove();
        $('#createUserGroup').remove();
    });

    $(function () {
        var formCreate = $('#addUserGroupFrom');

        $('#addUserGroupFrom').submit(function (event) {
            event.preventDefault();
            $('#btnAddUserGroupSubmit').disableBt();

            var data = {
                Name: $("#Name").val(),
                InheritRoleFunctionality : $("#InheritRoleFunctionality").is(':checked'),          
                DistrictID: selectedDistrictID,
            };

            $.ajax({
                url: '@Url.Action("CreateXLIGroup", "UserGroupManagement")',
                type: 'POST',
                data: data,
                success: function (response) {
                    if (response) {
                        if(response.success){
                            $('.ui-widget-overlay').remove();
                            $('#createUserGroup').remove();
                            $('#tblUserGroup').dataTable().fnDraw();
                        }
                        else {
                            $('#error-messages-create-group').empty();
                            $('#btnAddUserGroupSubmit').enableBt();

                            if (response.message) {
                                $('#error-messages-create-group').append('<li>' + response.message + '</li>');
                                $('#error-messages-create-group').show();
                            } else {
                                $('#error-messages-create-group').hide();
                            }
                        }
                    }
                },
                failure: function (response) {
                    addErrorMessages(response);
                }
            });
        });
    });
</script>
