<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinkIt.BubbleSheetPortal.InteractiveRubric.Properties.Settings.AdminReportingVNSConnectionString30"
            connectionString="Data Source=34.217.231.40;Initial Catalog=AdminReportingVNS;Persist Security Info=True;User ID=linkit_user"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>