<div id="studentContent" v-if="isShowStudent">
    <div>
        <label>Only students selected below will be included in the generated report</label>
    </div>
    <div class="tabs-content" style="margin-bottom: 10px;">
        <div class="columns" id="studentsList">
            <ul id="students" class="generate-student-list generate-student-list-custom with-icon icon-user student-col">
                <li v-for="student in students" class="student-item" studentId="{{student.StudentId}}" isselected="yes" style="background-color:#82CAFA" v-on:click="selectStudent(student.StudentId)">
                    <a href="javascript:void(0)">{{student.FullName}}</a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div id="btnControlSelectStudent">
        <button id="btnSelectAll" type="button" name="select-all" v-on:click="selectAllStudents()">Select All</button>
        <button id="btnSelectNone" type="button" name="select-none" v-on:click="selectNoStudents()">Select None</button>
        <button id="btnInvertSelect" type="button" name="invert-select"  v-on:click="invertSelectedStudents()">Invert Selection</button>
    </div>
    <div id="overStudentContent"></div>
</div>