@using LinkIt.BubbleSheetPortal.Common.Enum
@using LinkIt.BubbleSheetPortal.Web.Helpers

@model LinkIt.BubbleSheetPortal.Web.ViewModels.ACTReport.SectionTagViewModel
@{
    var sectionTag = Model;    
}

<div class="boxtitle">
    <span>@sectionTag.SectionName</span>
</div>

<table class="datatable table utility-table">
    <thead>
        <tr>
            <th class="utility" width="254px">
                &nbsp;
            </th>
            <th class="utility" width="60px">Score</th>
            <th class="utility" width="60px">Historical Avg %</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tagCategory in sectionTag.TagCategoryReportViewModels)
        {
            <!-- Just print domain tag category in writing secion of New ACT test -->
            if (tagCategory.TagCategoryId == Model.DomainTagCategoryId)
            {
                foreach (var singleTag in tagCategory.SingleTagReportViewModels)
                {
                    <tr>
                        <td class="utility">
                            @singleTag.TagName
                        </td>
                        <td class="utility" style="text-align: right;">
                            @singleTag.CorrectAnswer
                        </td>
                        <td class="utility" style="text-align: right;">
                            @singleTag.HistoricalAverage%
                        </td>                
                    </tr>
                }
            }
        }
    </tbody>
</table>

