@{
    ViewBag.Title = "District Usage";
}

<article class="container_12">
    <section class="grid_12">
        <div id="generateContent" class="block-border">
            <div class="block-content form bubbleSheetSelector">
                <h1>@LabelHelper.DistrictLabel Usage</h1>
            
                <iframe width="100%;" height="600px" src="/WebForm/ReportViewer.aspx?Report=/Linkit.Reports/DistrictUsage" id="reportViewer" style="border: none;" >
    
                </iframe>
            </div>
        </div>
    </section>
</article>