<section class="grid_5">
    <div class="block-border edituiIE8" style="width: 350px; height: 165px;">
        <div class="block-content form">
            <table>
                <tr>
                    <td>
                        <p class="styleMessage">
                            Are you sure you want to purge the test?
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="plButton">
                            <button id="btnOk" type="button" name="ok">
                                OK</button>
                            <button id="btnCancel" type="button" name="cancel">
                                Cancel</button>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
<!--[if IE 8]>
    <style tyle="text/css">
        .edituiIE8 {
            height: auto !important;
        }

    </style>
<![endif]-->
<script type="text/javascript">
    $('#btnOk').click(function () {
        PurgeTestSelected();
    });
    $('#btnCancel').click(function () {
        closeConfirmRegrade();
    });
</script>
<style type="text/css">
    .ui-widget-content
    {
        background: transparent;
        border: none;
    }
    .styleMessage
    {
        padding-bottom: 45px;
        padding-top: 10px;
        padding-left: 15px;
    }
    #btnOk
    {
        width: 80px;
    }
    .plButton
    {
        padding-left: 65px;
    }
</style>
