@model LinkIt.BubbleSheetPortal.Web.Models.ResetPassword

@{
    Layout = null;
}

<section class="grid_4">
    <div class="block-border">
        <div class="block-content form">
            <h1>Reset Password</h1>
            @using (Html.BeginForm("ResetPassword", "Admin", FormMethod.Post, new { id = "resetPasswordForm", @class = "form" }))
            {
                <div id="resetPassword">
                    @Html.Partial("_ResetPasswordForm")
                </div>
            }
        </div>
    </div>
</section>

<script type="text/javascript">
    $('#resetPasswordForm').submit(function (event) {
        event.preventDefault();
        $.post('@Url.Action("ResetPassword")', $(this).serialize(), function (response) {
            if (response == true) {
                $('#sideContainer').html('');
                $('#block-content').removeBlockMessages().blockMessage('Password successfully changed.', { type: 'success' });
            }
            else {
                $('#resetPassword').html(response);
            }
        });
    });
</script>