<section class="grid_5 contentResult">
    <div class="btnClosePopup" onclick="ClosePopup();">
    </div>
    <div class="block-border">
        <div class="block-content form">
            <h1>
                Instructions
            </h1>
            <table >
                <tr>
                    <td>
                        1. Select primary filter (Test, Teacher, Class, or Student).
                    </td>
                </tr>
                <tr>
                    <td>
                        2. Optionally, select secondary filters.
                    </td>
                </tr>
                <tr>
                    <td>
                        3. Click 'Preview' to view and select test results to be removed.
                    </td>
                </tr>
                <tr>
                    <td>
                        4. Click 'Submit' to remove test results
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>

<style type="text/css">
    
    @*.contentResult .block-content table tr td {
        padding: 5px 0;
    }
    .contentResult .block-content {
        padding-bottom: 25px;
    }*@
    button
    {
        margin-left: 30px;
    }
    .ui-widget-header
    {
        border: 0px solid #aaa !important;
        background: transparent !important;
        position: relative;
        top: 34px;
    }
    .ui-dialog .ui-dialog-content {
        overflow: visible;   
    }
    .ui-dialog
    {
        background: transparent;
        border: 0;
        top: 100px !important;
    }
    .ui-dialog .ui-dialog-titlebar-close
    {
        position: absolute;
        right: 7px;
        top: -8px;
    }
    .btnClosePopup {
        
        background: url("/Content/themes/base/images/fancy_close.png") no-repeat scroll 0 0 transparent;
        height: 35px;
        margin-left: -18px;
        margin-top: -14px;
        position: absolute;
        width: 35px;
        z-index: 9999;
    }
    @*.ui-widget-header .ui-icon
    {
        background-image: url("/Content/themes/base/images/fancy_close.png");
    }*@
    @*.ui-icon
    {
        width: 40px;
        height: 40px;
    }*@
    @*.ui-icon-closethick
    {
        background-position: 2px 2px;
    }*@
    @*.ui-widget-header .ui-state-hover
    {
        border: 0;
        background: transparent !important;
    }*@
    
    .ui-dialog .ui-dialog-titlebar-close
    {
        width: 30px;
        height: 42px;
        display: none;
    }
    
    .ui-widget-overlay
    {
        background: #2b2b2d !important;
    }
    .ui-dialog .ui-dialog-titlebar-close span
    {
        display: block;
        left: -360px;
        margin: 1px;
        position: absolute;
    }
    
</style>
<script>
    function ClosePopup() {
         $(".dialog").dialog("close");
    }
</script>
