@{
    ViewBag.Title = "Add Staff";
}

<article class="container_12">
    <section class="grid_8">
        <div class="block-border">
            <div class="block-content form">
                <h1>Add Staff</h1>
                @using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post, new { id = "createUserForm", @class = "form" }))
                {
                     @Html.AntiForgeryToken()
                    @Html.Partial("_CreateUserForm")
                }
            </div>
        </div>
    </section>
</article>

<script type="text/javascript">
    _CURRENT_PAGE_NAME = "AddUser";
    $(function () {
        $('.dataadmin').addClass('current');
        $('#dtaManageuser').addClass('current');
    });

    $('#createUserForm').submit(function (event) {
        event.preventDefault();
        $('#btnSubmit').disableBt();
        $('#success-message').hide();

        $.ajax({
            url: $(this).target,
            type: 'POST',
            data: $(this).serialize(),
            success: function (response) {
                if (response.Success != false) {
                    $('#error-messages').hide();
                    $('#success-message').show();
                    clearInputFields();
                }
                else {
                    addErrorMessages(response);
                    $('#error-messages').addClass('no-margin');
                    $("html, body").animate({ scrollTop: 0 }, 200);
                }
                $('#btnSubmit').enableBt();
            },
            failure: function (response) {
                alert(response);
            }
        });
    });

    function clearInputFields() {
        $('#locationFieldset').hide();
        $('.full-width').val('');
    }
    
    $('#btnCancel').click(function () {
        location.href = '@Url.Action("ManageUsers")';
    });
</script>
