@{
    ViewBag.Title = "UserManagement";
}

<article class="container_12">
    <section class="grid_12">
        <div class="block-border">
            <div class="block-content form">
                <h1>User Management</h1>
                <ul class="keywords" style="font-size: 67pt!important">
                    <li class="blue">
                        Coming Soon!
                    </li>
                </ul>
            </div>
        </div>
    </section>
</article>
