@model LinkIt.BubbleSheetPortal.Web.ViewModels.UserImpersonationViewModel

@{
    ViewBag.Title = "User Impersonation";
}

<article class="container_12">
    <section class="grid_8">
        <div class="block-border" id="divImpersonate">
            <div class="block-content form">
                <h1>User Impersonation</h1>
                <ul style="display: none" id="error-messages" class="message error"></ul>
                @using (Html.BeginForm("ImpersonateUser", "Admin", FormMethod.Post, new { id = "userImpersonationForm", @class = "form" }))
                {
                    @Html.Partial("_UserImpersonation")
                }
            </div>
        </div>
    </section>
</article>

<script type="text/javascript">
    $(function() {
        $('#userImpersonationForm').submit(function (e) {
            e.preventDefault();
            $.post($(this).attr('action'), $(this).serialize(), function (response) {
                if (response.Success == false) {
                    if (response.IsReload == true) {
                        location.reload();
                    }
                    addErrorMessages(response);
                    $('#error-messages').show();
                } else {
                    $('#error-messages').hide();
                    location.href = response.RedirectUrl;
                }
            });
        });
    });
</script>
