
@model LinkIt.BubbleSheetPortal.Web.ViewModels.ListItemsViewModel

<section class="custom-modal" style='z-index: 2004; width: 460px;'>
    <div id="divConfirmDeleteItemBank" class='block-section-custom form bubbleSheetSelector' style='z-index: 1004'>
        @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
        {
            <ul class="message error">
                <li>@Html.Raw(ViewBag.ErrorMessage)</li>
            </ul>
            <div class="custom-modal-footer">
                <button class="btn-red" id="btnCancelDeleteItemBank" onclick=" cancelDeleteItemBank(); " type="button" name="cancel">
                    Close
                </button>
            </div>
        }
        else
        {
            if (Model.Id == 0)
                {
                    <p>
                        @Model.Name
                    </p>
                }
                else
                {
                    <div class="custom-modal-body">
                        <div class="fw-bold">
                            Are you sure you want to delete @Model.Name?
                            This deletion is permanent and cannot be undone.
                            Are you sure you want to continue?
                        </div>
                    </div>
                }
            if (Model.Id > 0)
                {
                    <div class="modal-component-footer">
                        <div slot="footer">
                            <button id="btnCancelDeleteItemBank" onclick=" cancelDeleteItemBank(); " type="button" name="cancel">
                                No
                            </button>
                            <button id="btnconfirmDeleteItemBank" onclick=" DeleteItemBankByID('@Model.Id'); " type="button" name="ok">
                                Yes
                            </button>
                        </div>
                    </div>
                }
        }
    </div>
</section>
<script type="text/javascript">
    function cancelDeleteItemBank() {
        $(".dialog").dialog("close");
    }
</script>
