<section class="custom-modal" style="width: 460px;">
    <div class="block-section-custom form">
        <p class="title-large mb-4">Create an Item Bank</p>
        <ul style="display: none" id="error-messages-create-item-bank" class="message error"></ul>
        <ul style="display: none" id="success-message-create-item-bank" class="message success">
            <li>Item Bank created.</li>
        </ul>
        <div class="custom-modal-body">
            <label>Item Bank name</label>
            <input type="text" id="inputItemBankName" class="w-100" />
        </div>
        <div class="modal-component-footer">
            <div slot="footer">
                <button type="button" id="btnCancelChangeBank" onclick="cancelItemBank()">Cancel</button>
                <button type="button" id="btnCreateItemBank" onclick="createItemBank()">Create</button>
            </div>
        </div>
    </div>
</section>
<style type="text/css">
    .block-content{
        padding:24px !important
    }
    .custom-modal .modal-component-footer {
        margin: 0 -1.5rem -1.5rem;
    }
    .custom-modal .custom-modal-body {
        margin-bottom: 1.5rem;
    }
    .modal-component-footer {
        background-color: var(--navyColor);
        min-height: 67px;
    }
    #ui-dialog-title-PopupCreateItemBank + .ui-dialog-titlebar-close {
        margin-right: 1rem !important;
    }

</style>
