<section class="custom-modal" style="width: 460px;">
    <div class="block-section-custom form">
        <p class="title-large mb-4">Create an Item Set</p>
        <ul style="display: none" id="error-messages" class="message error"></ul>
        <ul style="display: none" id="success-message" class="message success">
            <li>Item Set created.</li>
        </ul>
        <div class="custom-modal-body">
            <label>Item Set name</label>
            <input type="text" id="inputItemSetName" style="width: 100%;" />
        </div>
        <div class="modal-component-footer">
            <div slot="footer">
                <button type="button" id="btnCancelCreateSet" onclick="cancelChange()">Cancel</button>
                <button type="button" id="btnCreateItemSet" onclick="createItemSet()">Save</button>
            </div>
        </div>
    </div>
</section>
