@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Web
<div class="assignment-form form">
    <fieldset class="assignment-fieldset">
        <div class="header coding-and-feedback-title">Feedback for @LabelHelper.QuestionLabel</div>
        <div class="assignment-content">
            <div class="assignment-grading u-clearfix">
                <div class="assignment-grading-feedback-question">
                    <textarea name="txtFeedbackQuestion"
                              id="txtFeedbackQuestion"
                              cols="30"
                              rows="10"
                              class="u-full"
                              data-bind="value: FeedbackQuestion, enable: FeedBackFormQuestionVisible">
                    </textarea>

                    <div class="feedback-audio-wrapper" data-bind="visible: !!TeacherFeedbackAttachmentSetting() && SelectedStudentID() > 0">
                        <div class="assignment-grading-feedback-audio">
                            <div id="audioPlayer" data-bind="visible: !!TeacherFeebackAttachment, audioPlayer: AudioPlayerOptions()"></div>
                        </div>
                        <button id="btnRecordFeedback" class="record__button" data-bind="
                                    enable: FeedBackFormQuestionVisible,
                                    disable: LockRecordFeedbackBtn,
                                    click: RecordFeedbackClick,
                                    css: (IsRecordingFeedback() ? 'record__button--recording' : '')">
                            <img data-bind="visible: !IsRecordingFeedback()" src="Content/images/icons/mic-white.svg" class="img-start-record w-100" alt="Start recording">
                            <img data-bind="visible: IsRecordingFeedback()" src="Content/images/icons/stop-white.svg" class="img-stop-record w-100" alt="Stop recording">
                        </button>
                    </div>
                    <div data-bind="visible: ShowFeedbackQuestionHistory">
                        <div class="assignment-feedback-history" data-bind="text: FeedbackQuestionHistoryMessage"></div>
                    </div>
                </div>
                <div class="u-text-right m-t-10">
                    <button id="btnSaveFeedbackQuestion"
                            class="btn-assignment"
                            data-bind="
                                click: SaveFeedbackQuestionClick,
                                enable: FeedBackFormQuestionVisible,
                                disable: LockSaveFeedbackQuestionBtn">
                        Save Feedback
                    </button>
                </div>
            </div>
        </div>
    </fieldset>
</div>
