<div class="popup-fullpage-print">
    <div class="popup-fullpage-content">
        <div class="u-text-left" style="font-weight:700">
            <p>All questions for all pending students have now been graded.</p>
            <p>Would you like to submit their results to generate an overall score in Reporting?</p>
        </div>
    </div>
</div>
<div class="confirm-auto-bulk">
    <div class="row" style="height:100%;">
        <div class="col">
            <button class="btn-cancel" type="button" data-bind="click: NoConfirmAutoBulkSubmitTest">No</button>
        </div>
        <div class="col">
            <button class="btn-accept" type="button" data-bind="click: YesConfirmAutoBulkSubmitTest">Yes</button>
        </div>
    </div>
</div>
