<div class="assignment-form form">
    <fieldset class="assignment-fieldset overall-feedback-box">
        <div class="header overall-feedback-title">Overall Test Feedback</div>
        <div class="assignment-content">
            <textarea name="txtFeedbackOverall"
                      id="txtFeedbackOverall"
                      cols="30"
                      rows="10"
                      class="u-full"
                      data-bind="value: FeedbackOverall, enable: FeedBackFormVisible">
            </textarea>
            <div class="assignment-feedback-history" data-bind="text: FeedbackOverallHistory, visible: ShowFeedbackOverallHistory"></div>
            <div class="u-text-right m-t-10">
                <button id="btnSaveFeedbackOverall"
                        class="btn-assignment"
                        data-bind="click: SaveFeedbackOverallClick, enable: FeedBackFormVisible, disable: LockSaveFeedbackOverallBtn">
                    Save Feedback
                </button>
            </div>
        </div>
    </fieldset>
</div>
