<fieldset class="assignment-fieldset">
    <div class="header assignment-student-list-title">Student List (<span data-bind="text: TotalVisibleStudents"></span>)</div>
    <div class="assignment-content assignment-student-list u-no-padding">
        <div class="assignment-desc assignment-desc-students assignment-student-list" id="divQuestionMenu">
            <ul class="assignment-list" data-bind="template: { name: 'StudentItemsTemplate', foreach: Students }"></ul>
        </div>
    </div>
</fieldset>

<script type="text/html" id="StudentItemsTemplate">
    <li 
        class="assignment-list-student" 
        data-bind="
            visible: StudentVisible, 
            click: $parent.StudentClickList, 
            css: { 
                'is-selected': $parent.SelectedStudentID() === StudentID(), 
                'is-placeholder': StudentID() === -1 
            }, 
            attr: { 
                QTIOnlineTestSessionID: QTIOnlineTestSessionID, 
                StudentID: StudentID 
            }"
        >
        <span class="assignment-list-student-icon">
            <span class="icon" data-bind="css: 'icon-' + StatusClass()"></span>
        </span>
        <span class="assignment-list-student-name" data-bind="text: StudentName"></span>
    </li>
</script>
