<div class="block-reviewer block-reviewer-last">
    <div class="u-text-center" data-bind="css: { 'u-text-right': IsFullScreen() }">
        <span>
            <span data-bind="css: { 'u-pull-right mb-2': IsFullScreen() }">Total Test Score: <span data-bind="text: TotalPointsEarned"></span>/<span data-bind="text: TotalPointsPossible">0</span></span>
        </span>
        <div data-bind="css: { 'u-inline-block': IsFullScreen() == false, 'mt-2': IsFullScreen() }">
            <div data-bind="with: Rubric" class="u-inline-block ms-2">
                <button data-bind="click: $parent.DownloadRubricFile, visible: Success"
                        type="button"
                        class="btn-assignment btn-assignment-medium">
                    @LabelHelper.ViewRubricLabel
                </button>
            </div>
            <button class="btn-assignment btn-assignment-medium u-inline-block m-0 ms-2"
                    data-bind="
                click: SubmitTest,
                enable: SubmitTestButtonCss,
                attr: {
                    signature: SubmitTestForceUIRefreshSignature
            }">
                Submit Test
            </button>
        </div>
    </div>
</div>
