@model LinkIt.BubbleSheetPortal.Web.ViewModels.SATReport.SATReportMasterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="background: white !important;">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="@Url.Content("~/Content/wkhtmltopdf/wkhtmltopdf.css")" />
    <script src="@Url.Content("~/Content/wkhtmltopdf/jquery-1.6.2.min.js")"></script>
    <script src="@Url.Content("~/Content/wkhtmltopdf/wkhtmltopdf.js")"></script>
    <script>
        // Data loading
        success = function (data, textStatus, jqXHR) {
            $('#data').html(JSON.stringify(data));
        };
        error = function (jqXHR, textStatus, errorThrown) {
            $('#data').html('I could not load the data... textStatus: ' + textStatus + ', errorThrown:' + errorThrown);
        };
        $(document).ready(function (e) {
            wk.loaddatafile(success, error);
        });
    </script>
    <style>
        a, abbr, acronym, address, applet, article, aside, audio,
        b, big, blockquote, body,
        canvas, caption, center, cite, code, command,
        datalist, dd, del, details, dfn, div, dl, dt,
        em, embed,
        fieldset, figcaption, figure, font, footer, form,
        h1, h2, h3, h4, h5, h6, header, hgroup, html,
        i, iframe, img, ins,
        kbd, keygen,
        label, legend, li,
        meter,
        nav,
        object, ol, output,
        p, pre, progress,
        q,
        s, samp, section, small, source, span, strike, strong, sub, sup,
        table, tbody, td, tfoot, th, thead, tr, tt,
        u, ul,
        var, video {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            font-size: 100%;
            vertical-align: baseline;
            background: transparent;
            z-index: 1;
        }

        /*
                  * Default HTML5 behaviour for older browsers
                  */
        article, aside, audio, canvas, command, datalist,
        details, embed, figcaption, figure, footer, header,
        hgroup, keygen, meter, nav, output, progress,
        section, source, video {
            display: block;
        }

        mark, rp, rt, ruby, summary, time {
            display: inline;
        }

        body {
            line-height: 1;
        }

        ol, ul {
            list-style: none;
        }

        blockquote, q {
            quotes: none;
        }

        :focus {
            outline: 0;
        }

        ins {
            text-decoration: none;
        }

        del {
            text-decoration: line-through;
        }

        a {
            text-decoration: none;
        }
        /**
               * Styles for the standard template
               */

        html {
            min-height: 100%;
            overflow-x: hidden;
        }

        body {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            background: url(../images/bg.png) no-repeat center top;
            min-height: 100%;
        }

        textarea, input {
            font-family: Verdana, Arial, Helvetica, sans-serif;
        }

        header {
            color: #666666;
            text-transform: uppercase;
            position: absolute;
            z-index: 88;
            top: 0;
            left: 0;
            width: 100%;
            white-space: nowrap;
            text-align: right;
        }

        nav {
            height: 69px;
            padding-top: 1.25em;
            background: #3399cc url(../images/old-browsers-bg/main-nav-bg.png) repeat-x bottom;
            -webkit-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            background-size: 100% 100%;
            background: -moz-linear-gradient(top, #014a7d, #3399cc);
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#014a7d), to(#3399cc));
            -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
        }

        article {
            margin-top: 3em;
        }

        /* IE class */
        /* IE class */

        .block-content {
            padding-top: 2.833em;
        }

        footer {
            text-align: center;
            position: fixed;
            z-index: 100;
            left: 0;
            right: 0;
            bottom: 0px;
            height: 25px;
            /*background-color: #b6c3cb;
                  background: url(../images/bg.png) no-repeat center top;*/
        }

        article:after {
            clear: both;
            content: ' ';
            display: block;
            font-size: 0;
            line-height: 0;
            visibility: hidden;
            width: 0;
            height: 0;
        }

        article {
            display: inline-block;
        }

        html article {
            height: 1%;
        }

        article {
            display: block;
        }

        sup {
            padding-left: 2px;
            vertical-align: super;
            font-size: smaller;
        }

        sub {
            padding-left: 2px;
            vertical-align: sub;
            font-size: smaller;
        }
        /* tables still need 'cellspacing="0"' in the markup */
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        .boxtitle {
            display: block;
            font-weight: bold;
            font-size: 18px;
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
        }

        .boxtitleQuestion {
            font-weight: bold;
            font-size: 16px;
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
            background: gainsboro !important;
            display: inline-block;
            padding: 5px 15px;
            color: black;
            border: solid 1px #999999;
        }
        .boxtitleSection {
            font-weight: bold;
            font-size: 14px;
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
            background: gainsboro !important;
            display: inline-block;
            padding: 5px 15px;
            color: black;
            border: solid 1px #999999;
        }
        .clear-25 {
            clear: both;
            display: block;
            overflow: hidden;
            visibility: hidden;
            width: 0;
            height: 25px;
        }

        .section-summary {
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
            background: gainsboro !important;
            display: inline-block;
            padding: 10px 15px 5px 15px;
            color: black;
            border: solid 1px #999999;
        }

        html {
            background: #d5d8db;
        }

        body {
            color: #333333;
            font-size: 75%;
        }

        p, th, td {
            line-height: 1.25em;
        }

        p, ul, ol, dl {
            margin-bottom: 1.667em;
        }

        a {
            color: #3399cc;
            text-decoration: none;
        }

        strong {
            color: #3399cc;
        }

        small {
            color: #808080;
            font-size: 0.833em;
            text-transform: uppercase;
            font-weight: normal;
        }

        h2 {
            color: #3399cc;
            font-size: 1.25em;
            line-height: 1.267em;
            margin-bottom: 1.267em;
        }

        h3 {
            color: #3399cc;
            font-size: 1.25em;
            line-height: 1.267em;
        }

        h5 {
            font-weigth: bold;
            color: #333;
        }

        hr {
            height: 0;
            line-height: 0;
            border: 0;
            border-top: 1px dotted #cccccc;
            margin-bottom: 1.667em;
        }

        textarea {
            resize: none;
        }
        /**************** Standard block ****************/
        section {
            margin-bottom: 3em;
        }

        .block-content {
            border: 1px solid #999999;
            -moz-border-radius: 0.25em;
            -webkit-border-radius: 0.25em;
            -webkit-background-clip: padding-box;
            border-radius: 0.25em;
            padding: 1.667em;
            background: white;
            -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
            position: relative;
        }
        /**
        * Styles for tables and grid view
        */

        .table {
            margin-bottom: 1.667em;
            border: 1px solid #999999;
        }

        .table {
            border-collapse: separate;
        }

            .table:last-child {
                margin-bottom: 0;
            }
            /* IE class */
            /* IE class */
            .table thead th {
                background: #a4a4a4 url(../images/old-browsers-bg/planning-header-bg.png) repeat-x top;
                -webkit-background-size: 100% 100%;
                -moz-background-size: 100% 100%;
                -o-background-size: 100% 100%;
                background-size: 100% 100%;
                background: -moz-linear-gradient( top, #cccccc, #a4a4a4 );
                background: -webkit-gradient( linear, left top, left bottom, from(#cccccc), to(#a4a4a4) );
                color: white;
                -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
                -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
                text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
                border-top: 1px solid white;
                /*border-left: 1px solid #dddddd;*/
                border-right: 1px solid #999999;
                border-bottom: 1px solid #828282;
            }
        .tableQuestion thead th {
            padding: 0.5em 4px !important;
        }
            .table thead th {
                vertical-align: middle;
                text-align: left;
                padding: 0.5em 0.75em;
            }
            /* IE class */
            /* IE class */

            /* IE class */
        .tableQuestion tbody td {
            padding: 0.75em 5px !important;
        }
            .table tbody td {
                vertical-align: top;
                text-align: left;
                padding: 0.75em;
                /*border-left: 1px dotted #333333;*/
            }

            .table tbody td {
                background: #f2f2f2;
            }
            /* IE class */
            /* IE class */
            .table tbody tr.even th .table tbody tr.even .th {
                background: #d9d9d9;
            }

            .table tbody tr:nth-child(even) td {
                background: #e6e6e6;
            }
            /* IE class */
            .table tbody tr:hover td {
                background: #d1e5ef;
            }

        @@media print {
            td.utility, th.utility {
                border: 1px solid #999 !important;
            }

            th.utility {
                color: Black !important;
                font-weight: normal !important;
            }

            .utility-table {
                border-collapse: collapse !important;
            }
        }
    </style>
    <style>
        .student-info {
            display: inline-block;
            float: right;
            max-width: 250px;
        }

        .col_StudentHistory {
            /*float: left;*/
        }

            .col_StudentHistory table {
                width: 400px !important;
                margin-bottom: 1.667em;
            }

        .col_StudentHistory_Selected {
            background-color: #cccccc;
        }

        .boxtitle {
            background-color: #071E45;
            display: inline-block;
            padding: 5px 15px;
            color: white;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        /*.table {page-break-inside: avoid;}*/
        .table tbody td,
        .table tbody tr:nth-child(even) td,
        .table thead th, .table thead td, .head {
            background-color: white;
            background-image: none;
        }

        .table thead th, .table thead td, .head {
            color: black;
            text-shadow: none;
        }

        .question-detail-answer td {
            background: gainsboro !important;
        }

        .table thead th, .table tbody td {
            /*border-left: 1px solid #999999 !important;*/
            border-right: 1px solid #999999 !important;
            /*line-height: 4px;*/
            padding-top: 0px !important;
            padding-bottom: 0px !important;
            margin: 0px;
        }

        .big_line tbody td {
            line-height: 15px;
        }

        .block-content {
            border: 0px solid #999999;
            background: white;
            /*padding: 1.667em;*/
            padding: 0 !important;
            box-shadow: none;
            position: relative;
        }

        .qa thead th, .qa tbody td {
            vertical-align: middle;
            text-align: center;
            padding: 0.5em 0 0.5em 0;
        }

        .missingAnswer {
            width: auto !important;
        }

        .utility-table {
            width: 100% !important;
        }

        .table {
            margin-bottom: 15px !important;
        }

        .detail-summary {
            width: 950px;
            font-size: 20px;
            color: white;
            font-weight: bold;
            padding-bottom: 5px;
            padding-top: 5px;
            padding-right: 10px;
            background: CornflowerBlue;
            text-align: right;
        }
        .table thead th {
            background-color: #BEBEBE;
            border-top: solid 1px #BEBEBE !important;
        }

        .table thead th:last-child, .table tbody td:last-child {
            border-right: solid 0px white !important;
        }

        .tableQuestion thead th:last-child,
        .tableQuestion tbody td:last-child {
            min-width: 180px;
        }

         .table tbody tr:nth-child(odd) td {
            background: white;
        }

        .table tbody tr:nth-child(even) td {
            background: #E3E3E3;
        }
    </style>
    <style type="text/css" media="screen,print">
        .page-breaker {
            display: block;
            page-break-after: always;
            border: 0px solid red;
            clear: both;
        }
    </style>
</head>

<body>
    @Html.Partial("_SingleStudentReport", Model)
</body>
</html>
