 
<h2>Demo Session State</h2>

<input id="idDemoSessionState" name="DemoSessionState" value="Demo Session State" onclick="scripDemoSesstionState();"/>
<script type="text/javascript">
    //$(function() {
    //    alter('Script call action !');
    //});

    function scripDemoSesstionState() {
        for (var i = 0; i < 10; i++) {
            $.get('@Url.Action("TestSecssionState")');
        }  
    }
</script>
