<modal-component 
    v-bind:show.sync="isShowGradingShortcuts" 
    v-bind:width="550"
    style="display: none;">
    <div slot="close">
        <a href="#" v-on:click.prevent="toggleGradingShortcutsModal" class="modal-component-close">Close</a>
    </div>
    <div slot="header"></div>
    <div slot="body">
        <div class="form u-m-b-10">
            <fieldset>
                <legend>Grading Shortcuts</legend>
                <div class="u-clearfix u-m-b-10">
                    <div class="u-w-p-35 fleft">
                        Apply points for all ungraded open-ended questions:
                    </div>
                    <div class="u-w-p-65 fleft">
                        <ul class="u-m-b-0 u-clearfix">
                            <li class="u-w-p-50 fleft" v-for="gs in gradingShortcutsStatus">
                                <label class="u-fw-700 u-cursor-pointer">
                                    <input 
                                        class="u-v-align-middle" 
                                        type="radio" 
                                        name="apply-points" 
                                        v-bind:value="gs.value"
                                        v-model="applyPointsSelected"> 
                                    <span v-text="gs.text"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="u-clearfix u-m-b-10">
                    <div class="u-w-p-35 fleft">
                        Apply correct answers for all unanswered multiple choice questions: 
                    </div>
                    <div class="u-w-p-65 fleft">
                        <label for="apply-correct-answers" class="u-fw-700 u-cursor-pointer">
                            <input 
                                class="u-v-align-middle" 
                                type="checkbox" 
                                id="apply-correct-answers" 
                                v-model="applyCorrectAnswersSelected"> 
                            Yes
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="u-text-right">
            <button v-on:click="applyGradingShortcuts">Apply</button>
            <button v-on:click.prevent="toggleGradingShortcutsModal">Close</button>
        </div>
    </div>
    <div slot="footer"></div>
</modal-component>
