<draggable-resizable-component 
    v-bind:show.sync="isShowBubbleSheetImage" 
    v-bind:width="550" 
    v-bind:restriction="[vue="bubbleSheetClassReview"]"
    v-el:bubble-sheet-image
    style="display: none;">
    <div slot="close">
        <a href="#" v-on:click.prevent="toggleBubbleSheetImageModal" class="modal-component-close">Close</a>
    </div>
    <div slot="body" class="u-text-center">
        <div v-if="bubbleSheetImageSelected != null && bubbleSheetImageSelected.length" class="bubbleSheetClassReviewImage">
            <div v-for="bubbleSheetImage in bubbleSheetImageSelected" class="bubbleSheetClassReviewImage__item u-inline-block">
                <img v-bind:class="{ broken: bubbleSheetImage == 'broken.png' }" v-bind:src="bubbleSheetImage" alt="">
            </div>
        </div>
        <div v-else class="bubbleSheetClassReviewImage">
            <img src="/Content/images/noimage.png" alt="" class="u-inline-block">
        </div>
    </div>
</draggable-resizable-component>
