@{
    ViewBag.Title = "Settings";
}

<h2>@ViewBag.Message</h2>

@if (ViewBag.IsUseQuestion)
{
    <div class="container_12">
        @{Html.RenderAction("ChangePassword", "Account");}
        @{Html.RenderAction("ChangeQuestionAnswer", "Account");}

    </div>
    <div class="container_12 m-t-10 m-b-30">
        @{Html.RenderAction("ChangeName", "Account");}
    </div>
}
else
{
    <div class="container_12">
        @{Html.RenderAction("ChangePassword", "Account");}
        @{Html.RenderAction("ChangeName", "Account");}
    </div>
}