@model LinkIt.BubbleSheetPortal.Models.SGO.ViewSGOAuditTrailsDTO
<div class="block-border" id="divClassTestAssignments">
    <div class="block-content form">
        <h1>
            Audit Trail Report
        </h1>
        <p style="height: 11px"></p>
        <div class="no-margin last-child">
            <table id="classDataTable" class="datatable table no-margin" width="100%">
                <thead>
                    <tr>
                        <th scope="col" class="black-cell"><span class="loading"></span></th>
                        <th scope="col" style="text-align: center;">
                            <span class="column-sort">
                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                            </span>
                            Source of Data
                        </th>
                        <th scope="col" style="text-align: center;">
                            <span class="column-sort">
                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                            </span>
                            Date
                        </th>
                        <th scope="col" style="text-align: center;">
                            <span class="column-sort">
                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                            </span>
                            Action By
                        </th>
                        <th scope="col" style="text-align: center;">
                            <span class="column-sort">
                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                            </span>
                            First Name
                        </th>
                        <th scope="col" style="text-align: center;">
                            <span class="column-sort">
                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                            </span>
                            Last Name
                        </th>
                        <th scope="col" style="text-align: center;">
                            <span class="column-sort">
                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                            </span>
                            @Model.SGOName
                        </th>
                        <th scope="col" style="text-align: center;">
                            <span class="column-sort">
                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                            </span>
                            ActionType
                        </th>
                        <th scope="col" style="text-align: center;">
                            <span class="column-sort">
                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                            </span>
                            ReferenceData
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="height: 60px;"></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.stats').addClass('current');
        $('#rpSGOManager').addClass('current');

        LoadTesClassAssignmentToTable();
    });

    function LoadTesClassAssignmentToTable() {
        var options = {
            bServerSide: true,
            sServerMethod: "POST",
            bDestroy: true,
            bProcessing: false,
            sAjaxSource: '@Url.Action("GetAuditTrails", "SGOAuditTrail")',
            fnServerParams: function (aoData) {
                aoData.push(
                    { name: "ID", value: '@Model.SGOID' }
                );
            },
            iDisplayLength: 25,
            aoColumns: [
                { sType: 'string', sName: 'ID', bSearchable: true, bSortable: true, bVisible: true, sWidth: '37px', sClass: 'css-align-right' },
                { sType: 'string', sName: 'SourceOfData', bSearchable: true, bSortable: true, bVisible: true, sWidth: '90px' },
                { sType: 'string', sName: 'CreatedDate', bSearchable: true, bSortable: true, bVisible: true, sWidth: '120px' },
                { sType: 'string', sName: 'UserID', bSearchable: true, bSortable: false, bVisible: true, sWidth: '150px' },
                { sType: 'string', sName: 'FirstName', bSearchable: true, bSortable: true, bVisible: false },
                { sType: 'string', sName: 'LastName', bSearchable: true, bSortable: true, bVisible: false },
                { sType: 'string', sName: 'Details', bSearchable: true, bSortable: false, bVisible: true },
                { sType: 'string', sName: 'ActionType', bSearchable: true, bSortable: true, bVisible: false },
                { sType: 'string', sName: 'ReferenceData', bSearchable: true, bSortable: true, bVisible: false },
                { sType: 'string', sName: 'CreatedDateStr', bSearchable: true, bSortable: true, bVisible: false },
            ],

            aaSorting: [[2, "asc"]],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).parent().addClass('tableRow');
                $('td:eq(0)', nRow).html('');
                //$('td:eq(2)', nRow).html(aData[9]);
                $('td:eq(2)', nRow).html(displayDateWithFormat(aData[2],true));
                $('td:eq(3)', nRow).html('<b>' + aData[4] + ' ' + aData[5] + '</b>');

                var infoElement = $(aData[6]);
                var preferenceDataElement = $(aData[8]);

                var description = '';
                if (aData[1] == 'SGOAuditTrail' && (aData[7] == 1)) {
                    var studentNamesInGroup = '';
                    infoElement.find('studentid').each(function() {
                        var studentElement = $(this);

                        var studentId = studentElement.text();
                        if (studentElement.text().indexOf(';') > 0) {
                            studentId = studentElement.text().split(';')[0];
                        }

                        preferenceDataElement.find('student[id="' + studentId + '"]').each(function () {
                            var studentName = $(this).attr('firstname') + ' ' + $(this).attr('lastname');
                            if (studentNamesInGroup.indexOf(studentName) == -1) {
                                if (studentNamesInGroup != '') studentNamesInGroup += ', ';
                                studentNamesInGroup += '<b>' + studentName + '</b>';
                            }
                        });
                    });

                    if (studentNamesInGroup != '') {
                        description += '<div>Add students ' + studentNamesInGroup + '.</div>';
                    }
                }
                else if (aData[1] == 'SGOAuditTrail' && (aData[7] == 2)) {
                    infoElement.find('group').each(function() {
                        var groupElement = $(this);

                        var groupName = '';
                        preferenceDataElement.find('group[id="' + groupElement.attr('id') + '"]').each(function () {
                            groupName = $(this).attr('name');
                        });

                        var studentNamesInGroup = '';
                        groupElement.find('studentid').each(function () {
                            var studentElement = $(this);
                            preferenceDataElement.find('student[id="' + studentElement.text() + '"]').each(function () {
                                var studentName = $(this).attr('firstname') + ' ' + $(this).attr('lastname');
                                if (studentNamesInGroup.indexOf(studentName) == -1) {
                                    if (studentNamesInGroup != '') studentNamesInGroup += ', ';
                                    studentNamesInGroup += '<b>' + studentName + '</b>';
                                }
                            });
                        });
                        if (studentNamesInGroup != '') {
                            if (aData[7] == 2) {
                                description += '<div>Moved student ' + studentNamesInGroup + ' from <b>' + groupName + '</b> to <b>Excluded</b>.</div>';
                            } else if (aData[7] == 1) {
                                description += '<div>Added student ' + studentNamesInGroup + ' to <b>' + groupName + '</b>.</div>';
                            }
                        }
                    });

                } else if (aData[1] == 'SGOAuditTrail' && aData[7] == 3) {
                    infoElement.find('datapointid').each(function () {
                        preferenceDataElement.find('datapoint[id="' + $(this).text() + '"]').each(function () {
                            var name = $(this).attr('name');
                            if (description.indexOf(name) == -1) {
                                if (description != '') description += ',';
                                description += '<b>' + name + '</b>';
                            }
                        });
                    });
                    if (description != '') description = aData[4] + ' ' + aData[5] + ' added an attachment to ' + description + ' data point.';
                }

                else if (aData[1] == 'SGOMilestones') {
                    description = aData[6] + '.';
                }

                $('td:eq(4)', nRow).html(description);

                return nRow;
            },
            fnPreDrawCallback: function () {

                //$('#filterSheets').attr("disabled", "disabled");

                return true;
            },
            fnDrawCallback: function () {
                //$('#divClassTestAssignments').unblock();
                //$('#filterSheets').removeAttr("disabled");

                return true;
            },
            fnInitComplete: function () {
                $('.block-footer').append('<button onclick="BackToSGOHome()">Back to SGO Home</button>');
            }
        };
        $("#classDataTable").data("options", options);
    }

    function BackToSGOHome() {
        window.location = '@Url.Action("Index", "SGOManage")';
    }

</script>
