@model int
<link href="@Url.Content("~/Content/themes/base/jquery.ui.dialog.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/dialog-draggable.css")" rel="stylesheet" type="text/css" />

<div id ="listSchoolDiv"></div>
<div id ="shareSchoolDiv"></div>

<script type="text/javascript">
    $(function () {
        init();
    });

    function init() {
        displayPublishedSchool(@Model);
    }

    function displayPublishedSchool(qtiBankId) {
        var jqListSchoolDiv = $('#listSchoolDiv');
        jqListSchoolDiv.empty();

        var param = { qTIBankId: qtiBankId };

        jqListSchoolDiv.load('@Url.Action("LoadListSchoolByQtiBank")', param, function (response) {
                if (response == false) {
                    alert("Error happen. Please refresh page.");
                }
            });
        }
</script>