@{
    ViewBag.Title = "User Guide";
}
<article class="container_12">
    <section class="grid_12">
        <div class="block-border">
            <div class="block-content form">
                <ul class="message error" style=""><li>You must have an email address to access LinkIt! Help.</li></ul>
                <div class="clear"> </div>
            </div>
        </div>
    </section>
</article>