@{
    var colspan = 2;
    var lockClass = string.Empty;
    var settingClass = string.Empty;
    var styleLock = "display:none;";

    if (ViewBag.EnableLock != null && ViewBag.EnableLock)
    {
        colspan = 3;
        lockClass = "x3-col";
        styleLock = "width:30%;";
    }

    if (ViewBag.IsSettingScope != null && ViewBag.IsSettingScope)
    {
        settingClass = "setting-scope";
    }
}
@using LinkIt.BubbleSheetPortal.Models;

<tr>
    <td colspan="@colspan" style="padding: 0;">
        <table class="wrapper__testSchedule" style="width: 100%;">
            <tr>
                <td class="w-35 table-accordion-title first_title">
                    Test Schedule
                </td>
                <td class="">
                    <input type="radio" value="0" name="testSchedule" id="testSchedule0" class="test-schedule-action" /> <label for="testSchedule0">OFF</label>
                    <input type="radio" value="1" name="testSchedule" id="testSchedule1" class="test-schedule-action" /> <label for="testSchedule1">ON</label>
                </td>
                @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                {
                    <td class="" style="@styleLock">
                        <input type="checkbox" id="chklockTestSchedule">
                        <label for="chklockTestSchedule">Lock</label>
                    </td>
                }
            </tr>
        </table>
        <section class="test-schedule-container testScheduleDetail">
            <h4>Activate test assignments based on date and time</h4>
            <section class="test-schedule-form">
                <section>
                    <h5>Active Period</h5>
                    <span class="test-schedule-label">From: </span><input type="text" class="datepicker" name="testScheduleFromDate" readonly="readonly" />
                    <span class="test-schedule-label">To: </span><input type="text" class="datepicker" name="testScheduleToDate" readonly="readonly" />
                    <h5>Days of Week</h5>
                    <table class="day-of-week">
                        <tr>
                            <td class="non-hover">Mon</td>
                            <td class="non-hover">Tue</td>
                            <td class="non-hover">Wed</td>
                            <td class="non-hover">Thu</td>
                            <td class="non-hover">Fri</td>
                            <td class="non-hover">Sat</td>
                            <td class="non-hover">Sun</td>
                        </tr>
                        <tr class="non-padding">
                            <td><input type="checkbox" name="testScheduleDayOfWeek" value="Mon" /></td>
                            <td><input type="checkbox" name="testScheduleDayOfWeek" value="Tue" /></td>
                            <td><input type="checkbox" name="testScheduleDayOfWeek" value="Wed" /></td>
                            <td><input type="checkbox" name="testScheduleDayOfWeek" value="Thu" /></td>
                            <td><input type="checkbox" name="testScheduleDayOfWeek" value="Fri" /></td>
                            <td><input type="checkbox" name="testScheduleDayOfWeek" value="Sat" /></td>
                            <td><input type="checkbox" name="testScheduleDayOfWeek" value="Sun" /></td>
                        </tr>
                    </table>
                    <h5>Active Hours</h5>
                    <input type="checkbox" id="alway-open" name="alway-open" />&nbsp;<label for="alway-open">Always open</label>
                    <table class="active-hours">
                        <tr>
                            <td class="non-hover">Test Taking Hours - Start</td>
                            <td class="non-hover">Test Taking Hours - End</td>
                        </tr>
                        <tr>
                            <td><input type="time" name="testScheduleStartTime" /></td>
                            <td><input type="time" name="testScheduleEndTime" /></td>
                        </tr>
                    </table>
                </section>
            </section>
        </section>
    </td>
</tr>

<script>
    $(function () {
      $('input[name=testScheduleDayOfWeekBtn]').each(function () {
        $(this).click(function () {
          var value = $(this).attr('value');
          var strInput = 'input[name=testScheduleDayOfWeek][value=' + value + ']';
          if ($(this).hasClass('btnActive')) {
              $(this).removeClass('btnActive').prop('checked', false);
              $(strInput).prop('checked', false);
          } else {
              $(this).addClass('btnActive').prop('checked', true);
              $(strInput).prop('checked', true);
          }
        })
      });

        $('input[name="testScheduleFromDate"]').datepicker({
            onSelect: function (selectedDate) {
                $("#btnSubmitUpdatePreference").attr('disabled', false);
                $("#btnTestSettingSubmit").attr('disabled', false);
            }
        });

        $('input[name="testScheduleToDate"]').datepicker({
            onSelect: function (selectedDate) {
                $("#btnSubmitUpdatePreference").attr('disabled', false);
                $("#btnTestSettingSubmit").attr('disabled', false);
            }
        });

    })
</script>
