@{
    ViewBag.Title = "Help";
}

@model String

<article class="container_12">
    <section class="grid_12">
        <div class="block-border">
            <div class="block-content form">
                <div style="margin:10px 0;">
                    <h1>What's New</h1>
                    <div id="htmlContentContainer">
                       @Html.Raw(ViewBag.WhatNewHtmlContent)
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>