@{
    ViewBag.Title = "Help";
}
<article class="container_12">
    <section class="grid_12">
        <div class="block-border">
            <div class="block-content form">
                @if (string.IsNullOrEmpty(ViewBag.URLReturn))
                {
                    <ul class="message error" style=""><li>You must have an email address to access LinkIt! Help.</li></ul>
                    <div class="clear"> </div>
                }
                <input id="idSSO" type="hidden" value="@ViewBag.URLReturn" />
            </div>
        </div>
    </section>
</article>

<script type="text/javascript">
    $(function() {
        var str = $('#idSSO').val();
        if (str != '') {
            window.location.assign("@ViewBag.URLReturn");
        }
    })
</script>
