<style type="text/css">
</style>
<fieldset>
    <legend>Search within the following areas:</legend>
    <div class="columns">
        <div class="colx3-left" data-bind="foreach:LeftCategories">
            <p>
                <label>
                    <input type="checkbox" data-bind="checked: Checked" class="u-inline-block u-v-align-middle">
                    <span data-bind="text:DisplayText" class="u-inline-block u-m-l-5 u-v-align-middle"></span>
                </label>
            </p>
        </div>
        <div class="colx3-center" data-bind="foreach:CenterCategories">
            <p>
                <label>
                    <input type="checkbox" data-bind="checked: Checked" class="u-inline-block u-v-align-middle">
                    <span data-bind="text:DisplayText" class="u-inline-block u-m-l-5 u-v-align-middle"></span>
                </label>
            </p>
        </div>
        <div class="colx3-left" data-bind="foreach:RightCategories">
            <p>
                <label>
                    <input type="checkbox" data-bind="checked: Checked" class="u-inline-block u-v-align-middle">
                    <span data-bind="text:DisplayText" class="u-inline-block u-m-l-5 u-v-align-middle"></span>
                </label>
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="colx3-left-double">
            <p>
                <label>Search</label>
                <input type="text" class="full-width" data-bind="value:SearchText" />
            </p>
        </div>
    </div>
</fieldset>
