@model LinkIt.BubbleSheetPortal.Web.ViewModels.TDLS.TLDSSummaryReportFooterViewModel
<!DOCTYPE html>
<html>
<head>
    <link href="/Content/themes/Print/TLDSPrint/TLDSPrint.css" rel="stylesheet" />
    <script>
        function subst() {
            var vars = {};
            var x = window.location.search.substring(1).split('&');
            for (var i in x) {
                var z = x[i].split('=', 2);
                vars[z[0]] = unescape(z[1]);
            }
            var x = ['frompage', 'topage', 'page', 'webpage', 'section', 'subsection', 'subsubsection'];
            for (var i in x) {
                var y = document.getElementsByClassName(x[i]);
                for (var j = 0; j < y.length; ++j) y[j].textContent = vars[x[i]];
            }
        }
    </script>
</head>
<body onload=" subst() ">
    <div class="tlds-footer">
        <div class="tlds-footer-left">
            <span class="u-c-red">Summary Report</span><br>
            <span class="u-c-red">Page &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="page"></span> of <span class="topage"></span></span>
        </div>
        <div class="tlds-footer-right">
            <img src="/Content/images/victoria-logo.png" alt="Victoria" />
        </div>
    </div>
</body>
</html>
