@model LinkIt.BubbleSheetPortal.Web.ViewModels.TDLS.TDLSProfileViewModel

@foreach (var image in Model.FileImages)
{
    <text>
        <div class="tlds-section tlds-section-document">
            <img src="@image"/>
        </div>
    </text>
}
