@{
    Layout = null;
}

@model LinkIt.BubbleSheetPortal.Web.ViewModels.TDLS.TDLSProfileViewModel
<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Print TLDS</title>
    <link href="/Content/themes/Print/TLDSPrint/TLDSPrint.css" rel="stylesheet"/>
</head>
<body>
    <div class="tlds-print">
        <h1 class="tlds-print-title u-text-uppercase">Transition learning and development statement</h1>
        @Html.Partial("_SectionPrint0", Model)
        @Html.Partial("_SectionPrint1", Model)
        @Html.Partial("_SectionPrint2", Model)
        @Html.Partial("_SectionPrint3", Model)
    </div>
</body>
</html>
