@{
    Layout = null;
}
@model LinkIt.BubbleSheetPortal.Web.ViewModels.TDLS.SummaryReportUnAssignedModel
@using LinkIt.BubbleSheetPortal.Common

<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Summary Report</title>
    @LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleTLDSReportBundle()
    @LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.ScriptTLDSReportBundle()
    <link href="/Content/themes/Print/TLDSPrint/TLDSPrint.css" rel="stylesheet"/>
</head>
<body>
<div class="tlds-print">
    <h1 class="tlds-print-title u-text-uppercase">Summary Report <br/> Unlinked students
    </h1>
</div>
    @Html.Partial("_SummaryReportData", Model)
</body>
</html>
