<style>
    .ui-widget-header {
        /*margin-bottom: -35px;*/
    }
    .ui-widget-header {
        top: 62px;
    }
</style>
<article  style="width: 100%">
    <section>
        <div class="block-border">
            <div class="block-content form">
                <div>
                    <div>
                        <div class="block-content form student-filter1" id="selectFilters1">
                            <h1>Filter Students</h1>

                            <fieldset>
                                <div>
                                    <div id="AssignStudentNotifications1"></div>
                                </div>
                                <div class="columns">
                                    <div class="colx2-left">
                                        <p>
                                            <label>Last Name</label>
                                            <input type="text" id="LastName1" class="full-width" />
                                            
                                        </p>
                                        <p>
                                            <label>First Name</label>
                                            <input type="text" id="FirstName1" class="full-width" />
                                        </p>
                                    </div>
                                    <div class="colx2-right">
                                        <p>
                                            <label>Student local code</label>
                                            <input type="text" id="StudentCode1" class="full-width" />
                                        </p>
                                        <p>
                                        </p>
                                    </div>
                                </div>
                            </fieldset>

                            <button id="filterSheets1" class="float-right" type="button" onclick="search1()">Apply Filters</button>
                            <button id="clearFilter" class="float-right grey" type="button" style="margin-right: 5px;" onclick="clearFilter1()">Clear Filter</button>
                            <div class="clear"></div>

                        </div>
                        <div style="clear: both; height: 20px"></div>
                        <div class="block-content form" id="divStudentProgram1">
                            <h1>
                                Filtered Students
                                
                                <div class="clearfix"></div>
                            </h1>
                            <button id="btnAssignStudents" class="float-right" type="button" style="margin-top: -47px;margin-right: 316px;height: 36px;" disabled="disabled">ASSIGN STUDENTS</button>
                            <p style="height: 11px"></p>
                            <div class="no-margin last-child">
                                <table id="studentProgramDataTable1" class="datatable table no-margin" width="100%">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="black-cell"><span class="loading"></span></th>
                                            <th scope="col">
                                                <span class="column-sort">
                                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                                </span>
                                                Last Name
                                            </th>
                                            <th scope="col">
                                                <span class="column-sort">
                                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                                </span>
                                                First Name
                                            </th>
                                            <th scope="col">
                                                <span class="column-sort">
                                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                                </span>
                                                Code
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="height: 60px;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div style="clear: both"></div>
                        <div class="no-margin last-child" style="padding-left: 17px">
                            <button id="btnCloseUserClick" type="button" class="grey classProgramButton" data-dialog="close" onclick="closeDialog()">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
</article>
<script type="text/javascript">
    var firstLoad = true;
    $(function () {
        LoadStudentToTable1();
        initializeDataTable($("#studentProgramDataTable1"));
        $.ajaxSetup({ cache: false });
    });

    function LoadStudentToTable1() {
        var options = {
            bServerSide: true,
            bDestroy: true,
            bProcessing: false,
            sAjaxSource: getAjaxSearch1(),
            cache: false,
            sServerMethod: "POST",
            fnServerParams: function (aoData) {
                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        if (item.value == null) {
                            item.value = '';
                        }


                        //encode search box, when user input text like <a>abc </a> will issue error
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''");
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }

                        break; //only searchbox
                    }
                }
            },
            iDisplayLength: 25,
            aaSorting: [[1, "asc"]],
            oLanguage: { "sEmptyTable": "No results found" },
            aoColumns: [
                { sType: 'int', sName: 'StudentID', bSearchable: true, bSortable: false, bVisible: true, sWidth: '75px' },
                { sType: 'string', sName: 'LastName', bSearchable: true, bSortable: true, bVisible: true, sWidth: '400px' },
                { sType: 'string', sName: 'FirstName', bSearchable: true, bSortable: true, bVisible: true, sWidth: '300px' },
                { sType: 'string', sName: 'Code', bSearchable: true, bSortable: true, bVisible: true, sWidth: '120px' }
                

            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibility1(aData[0]));
                $('td:eq(1)', nRow).html($('<div/>').text(aData[1]).html());//encode html
                $('td:eq(2)', nRow).html($('<div/>').text(aData[2]).html());//encode html
                $('td:eq(3)', nRow).html($('<div/>').text(aData[3]).html());//encode html
                return nRow;
            },
            fnPreDrawCallback: function () {
                $('#filterSheets1').attr("disabled", "disabled");
                ShowBlock($('#studentProgramDataTable1'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#divStudentProgram1').unblock();
                $('#filterSheets1').removeAttr("disabled");
                $('#studentProgramDataTable1').unblock();
                $('#studentProgramDataTable1').dataTable().fnSetFilteringDelay(500);
                firstLoad = false;

                var checkedboxes = $('INPUT[name="chkStudent1"][type=checkbox]:checked');
                if (checkedboxes.length > 0) {
                    $('#btnAssignStudents').prop("disabled", false);
                }
                else {
                    $('#btnAssignStudents').prop("disabled", true);
                }
                return true;

            },
            fnInitComplete: function () {

            }
        };
        $("#studentProgramDataTable1").data("options", options);

    }
    function getAjaxSearch1() {
        var studentCode = $('#StudentCode1').val();
        studentCode = encodeURIComponent(htmlEncode(studentCode));
        var firstName = $('#FirstName1').val();
        firstName = encodeURIComponent(htmlEncode(firstName));
        var lastName = $('#LastName1').val();
        lastName = encodeURIComponent(htmlEncode(lastName));

        var url = '@Url.Action("GetUnassignedStudentsOfProgram")?programId=@ViewBag.ProgramId' + '&studentCode=' + studentCode + '&firstName=' + firstName+ '&lastName=' + lastName + '&firstLoad=' + firstLoad;
        return url;
    }
    function setIconVisibility1(studentId) {
        var checkboxString = '<input type="checkbox" name="chkStudent1" value="' + studentId + '"  />';
        return checkboxString;
    }
    function search1() {
        ui.studentProgramDataTable1.fnReloadAjax(getAjaxSearch1());
    }

    function clearFilter1() {
        $('.student-filter1 input').val('');
    }
    function closeDialog() {
        $('#AssignStudentDialog').dialog("close");
    }

    $('#btnAssignStudents').die('click');
    $('#btnAssignStudents').live("click", function (e) {
        var selectedStudentIds = getSelectedStudentIds1();
        ShowBlock($('#studentProgramDataTable1'), 'Assigning');
        $.ajax({
            url: '@Url.Action("AssignStudents", "ManageProgram")',
            data: {
                programId:@ViewBag.ProgramId,
                 selectedStudentIds: selectedStudentIds
            },
            type: 'post',
            cache: false
        }).done(function (response) {
            $('#studentProgramDataTable1').unblock();
            if (response.success == 'true') {
                LinkIt.success('#AssignStudentNotifications1', 'Student Successfully Assigned.');
                $('#studentProgramDataTable').dataTable().fnDraw();
                $('#studentProgramDataTable1').dataTable().fnDraw();
                $('#btnAssignStudents').prop("disabled", true);

            } else {
                LinkIt.error('#AssignStudentNotifications1', response.errorMessage);
            }

        }).error(function (request) {
            $('#studentProgramDataTable1').unblock();
        });


    });

    function getSelectedStudentIds1() {
        var studentIds = '';
        $('INPUT[name="chkStudent1"][type=checkbox]:checked').each(function (i, e) {
            studentIds += $(e).val() + ',';
        });
        return studentIds.substr(0, studentIds.length - 1);
    }

    $('INPUT[name="chkStudent1"][type=checkbox]').live("click", function (e) {
        if (this.checked) {
            $('#btnAssignStudents').prop("disabled", false);
        }
        else {
            var checkedboxes = $('INPUT[name="chkStudent1"][type=checkbox]:checked');
            if (checkedboxes.length > 0) {
                $('#btnAssignStudents').prop("disabled", false);
            }
            else {
                $('#btnAssignStudents').prop("disabled", true);
            }
        }
    });
</script>