<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004'>
        <div id="dvCreateProgram" class='block-content bubbleSheetSelector form' style='z-index: 1004'>
            <h1>Create Program</h1>
            <ul style="display: none" id="error-messages-create" class="message error"></ul>
            <ul style="display: none" id="success-message-create" class="message success">
                <li>Program Successfully Created</li>
            </ul>
            <fieldset>
                <div class="columns">                    
                    <p>
                        <label>Name</label>
                        <input type="text" id="inputProgramName" class="full-width" />
                    </p>
                    <p>
                        <label>Visible To</label>
                        
                        <select id="selectAccessLevelId" class="full-width">
                            <option value="-1">Select Access Level</option>
                            @if (ViewBag.IsPublisher)
                            {
                                <option value="0">LinkIt Only</option>
                                <option value="1">State Users</option>
                            }
                            @if (!ViewBag.IsSchoolAdmin)
                            {
                                 <option value="2">@LabelHelper.DistrictLabel Admins Only</option>
                            }
                            <option value="3">@LabelHelper.DistrictLabel and School Admins</option>

                            <option value="4">All Users</option>
                        </select>
                    </p>
                   <p>
                       <div class="tag-editor-datalocker">
                           <label for="inputCode">Code</label>
                           <textarea id="inputCode"></textarea>
                       </div>
                   </p>
                    <p style="text-align: center;">
                        <button type="button" id="btnCreateProgram" onclick="createProgram()">Create</button>
                        <button type="button" id="btnCancelCreateProgram" onclick="cancelCreateProgram()">Cancel</button>
                    </p>
                    <input type="hidden" id="hdDistrictId" value="@ViewBag.DistrictId" />
                </div>
            </fieldset>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function() {        
        @*$.get('@Url.Action("GetAccessLevelId", "ManageProgram")', function (items) {
            addDefaultOption($('#selectAccessLevelId'), "Access Level");
            addSelectListItems($('#selectAccessLevelId'), items);
        });*@            
    });

    $('#inputCode').tagEditor({
        animateDelete: 0,
        maxLength: 50,
        forceLowercase: false,
        placeholder: 'Enter code...'
    });
</script>