<style>
    .ui-dialog-titlebar-close {
        display: none;
    }
    #AssignStudentDialog {
        width: 450px;
    }
</style>
<section class="grid_5">
    
    <div class="block-border" style="width: 390px;">
        
        <div class="block-content form" style="padding-bottom: 1em;text-align:center;">
            <div style="text-align:left;line-height: 18px;">
                @ViewBag.Message
            </div><div style="text-align: center;padding-top:20px;padding-bottom:10px;"><button style="width:63px;margin-left:0px;" onclick="CustomAlertYesClickAssignStudent(this);">OK</button></div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $("#AssignStudentDialog").parent().find('.ui-dialog-titlebar-close').hide();
    });
    
    function CustomAlertYesClickAssignStudent(item) {
        $("#AssignStudentDialog").dialog("close");
    }
</script>