<modal-component v-bind:show.sync="isShowModalKeepAlive" v-bind:width="420" style="display: none;">
    <div slot="close"></div>
    <div slot="header"></div>
    <div slot="body" class="u-text-center u-m-b-20">
        <div v-if="isSessionExpire">
            <p v-text="sessiongMsg"></p>
        </div>
        <div v-else>
            <p>
                Your session will expire in another <span v-text="minutesForExpireFormat"></span> due to inactivity. Do you want to extend the session?
            </p>
            <button type="button" name="button" v-on:click="sessionKeepAlive()" v-bind:disabled="sessionButtonStatus">Yes</button>
        </div>
    </div>
    <div slot="footer"></div>
</modal-component>