<modal-component v-bind:show.sync="isShowAlgorithmic" v-bind:width="800" style="display: none;">
  <div slot="close">
    <a href="#" v-on:click="closePopupAlgorithmic" class="modal-component-close">Close</a>
  </div>
  <div slot="header"></div>
  <div slot="body">
    <div class="row u-text-right u-m-t-5">
      <button type="button" id="btn-addExpressions" v-on:click="addExpression">Add New Expression</button>
    </div>
    <div class="row u-m-t-10 scroll-bar-modal">
      <table class="datatable table no-margin" width="100%">
        <thead>
          <tr>
            <th scope="col" class="u-text-center u-w-30">#</th>
            <th scope="col">Expression</th>
            <th scope="col" class="u-text-center u-w-60">Point</th>
            <th scope="col" class="u-text-center u-w-60">Edit</th>
            <th scope="col" class="u-text-center u-w-60">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr v-dragable-for="item in listExpression">
            <td class="u-text-center">{{$index + 1}}</td>
            <td>{{item.expression}}</td>
            <td class="u-text-center">
              <input type="number" maxlength = "3" min="0" class="full-width" style="font-size: 1em; border-radius: 5px; border: 1px solid #89bad3; text-align:center;" v-model="item.point" oninput="javascript: if (this.value.length > this.maxLength) {this.value = this.value.slice(0, this.maxLength);}">
            </td>
            <td class="u-text-center">
              <a v-on:click="editExpression($index)" href="#" title="Edit">
                <span class="icon icon-review-pencil"></span>
              </a>
            </td>
            <td class="u-text-center">
              <a v-on:click="deleteExpression($index)" href="#" title="Delete">
                <span class="icon icon-review-deactivate"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row u-text-right u-m-t-10">
      <button v-on:click="closePopupAlgorithmic">OK</button>
      <button v-on:click="closePopupAlgorithmic">Cancel</button>
    </div>
  </div>
  <div slot="footer"></div>
</modal-component>
