<modal-component v-bind:show.sync="isShowExpression" v-bind:width="700" style="display: none;">
  <div slot="close">
    <a href="#" v-on:click="closePopupExpression" class="modal-component-close">Close</a>
  </div>
  <div slot="header"></div>
  <div slot="body">
    <div class="row u-m-t-5">
      <div id="expression-builder" style="max-height: 500px; overflow: scroll"></div>
    </div>
    <div class="row u-text-right u-m-t-10">
      <button v-on:click="savePopupExpression">OK</button>
      <button v-on:click="closePopupExpression">Cancel</button>
    </div>
  </div>
  <div slot="footer"></div>
</modal-component>