<style>
    .left-col {
        width: 110px;
        float: left;
    }

    .right-col {
        width: 275px;
        float: left;
    }
</style>

<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004'>
        <div class='block-content' style='z-index: 1004'>
            <h1>Select Item Type</h1>
            <style type="text/css">
                .questionType {
                    text-align: center;
                    width: 680px;
                    margin: 0px auto;
                }

                .questionType input[type="button"] {
                    margin: 10px;
                    width: 200px;
                }
            </style>
            <div class="questionType">
                <input type="button" value="Multiple Choice" id="sChoice" class="big-button" onclick="chooseQuestionType('1')" />
                <input type="button" value="Multi-Select" id="mChoice" class="big-button" onclick="chooseQuestionType('3')"/>
                <input type="button" value="Inline Choice" id="inlineChoice" class="big-button" onclick="chooseQuestionType('8')"/>
                <input type="button" value="Text Entry" id="textEntry" class="big-button" onclick="chooseQuestionType('9')"/>
                <input type="button" value="Constructed Response" id="openEnded" class="big-button" onclick="chooseQuestionType('10')"/>
                <input type="button" value="Drawing Interaction" id="drawTool" class="big-button" onclick="chooseQuestionType('10d')"/>
                <input type="button" value="Drag and Drop" id="drag" class="big-button" onclick="chooseQuestionType('30')"/>
                <input type="button" value="Complex" id="complex" class="big-button" onclick="chooseQuestionType('21')"/>
            </div>
            <p style='margin-left: 15px'>
                <button type="button" id="close" class="grey" onclick="closeDialog()" style="margin-left: 0px;">Cancel</button>
            </p>
        </div>
    </div>
</section>

<script>
    function closeDialog() {
        $(".dialog").dialog("close");
    }

    function chooseQuestionType(qtiSchemeId) {
        window.location = '@Url.Action("Index", "TestMaker")/?qtiItemGroupId=@ViewBag.qtiItemGroupId' + '&qtiSchemaId=' + qtiSchemeId + '&virtualTestId=@ViewBag.VirtualTestId' + generateDistrictIdParamsFromURL();
    }
</script>
